{{ template "master_layout.html" . }}

{{ define "pagelevelstyles"}}
        <!-- BEGIN PAGE LEVEL STYLES -->
        <link href="/static/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.css" rel="stylesheet" type="text/css" />
		<link href="/static/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
		<link href="/static/assets/global/plugins/typeahead/typeahead.css" rel="stylesheet" type="text/css" />
		<link href="/static/assets/global/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" type="text/css" />
		 
		<link href="/static/assets/global/plugins/ion.rangeslider/css/ion.rangeSlider.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/ion.rangeslider/css/ion.rangeSlider.skinFlat.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/bootstrap-markdown/css/bootstrap-markdown.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/bootstrap-summernote/summernote.css" rel="stylesheet" type="text/css" />
        
        <!-- END PAGE LEVEL STYLES -->
{{end}}

{{ define "content" }}    
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                    <!-- BEGIN PAGE BASE CONTENT -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="icon-equalizer font-green"></i>
                                        <span class="caption-subject bold font-green uppercase">Purchases / PO Statistics</span>
                                    </div>
                                    <div class="actions">
                                        <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" style="width:20px; height:20px; line-height: 0.999; padding-left:4px; "> </a>
                                    </div>
                                </div>
                                <div class="portlet-body form">
									<!-- BEGIN FORM-->
									<form method="post" class="horizontal-form">
									{{ .xsrfdata }}
										<div class="form-body">
											
											<div class="row">
												<div class="col-md-4">
													<div class="form-group">
														<label class="control-label">Items</label>
													   <select class="bs-select form-control">
															<option>Option 1</option>
															<option>Option 2</option>
															<option>Option 3</option>
															<option>Option 4</option>
															<option>Option 5</option>
														</select>
													</div>
												</div>
												<!--/span-->
												<div class="col-md-4">
													<div class="form-group">
														<label class="control-label">Supplier</label>
														<input type="text" id="typeahead_example_1" name="supplier" class="form-control" value="{{.FormItems.Supplier}}" placeholder="E.g: metronic, keenthemes"/>
														 {{if .Errors.Supplier}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Supplier}}</span>{{end}}
													</div>
												</div>
												<!--/span-->
												<div class="col-md-4">
													<div class="form-group">
														<label class="control-label">Purchase Order</label>
														<input type="text" id="typeahead_example_2" name="purchase_order" class="form-control" value="{{.FormItems.PurchaseOrder}}" placeholder="E.g: metronic, keenthemes"/>
														 {{if .Errors.PurchaseOrder}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.PurchaseOrder}}</span>{{end}}
													</div>
												</div>
												<!--/span-->
											</div>
											<!--/row-->
											<div class="row">
												
												<div class="col-md-4">
													<div class="form-group">
														<div class="mt-radio-inline">
															<label class="mt-radio"> Date Range
																<input type="radio" value="1" name="range"  />
																<span></span>
															</label>
															<label class="mt-radio"> 
																OR
															</label>
															<label class="mt-radio"> Last 30 Days
																<input type="radio" value="2" name="last_30" />
																<span></span>
															</label>
														</div>
														<div class="input-group input-large date-picker input-daterange" data-date="10/11/2012" data-date-format="mm/dd/yyyy">
														<input type="text" class="form-control" name="from">
														<span class="input-group-addon"> to </span>
														<input type="text" class="form-control" name="to"> 
														</div>		
													</div>
												</div>
												<!--/span-->
												<div class="col-md-4">
													<div class="form-group">
														<label class="control-label">Cost Range</label>
														<input id="range_10" type="text" value="{{.FormItems.Cost}}" name="cost"  />
														 {{if .Errors.Cost}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Cost}}</span>{{end}}
													</div>
												</div>
												<!--/span-->

											</div>
                                                <div class="form-group" style="text-align: center;">
                                                    <label class="control-label">&nbsp;</label><br>
                                                    <button  type="submit" class="btn blue btn-search"><i class="fa fa-check"></i> Report</button>
                                                </div>
                                            <!--/span-->
											<!--/row-->
										</div>
									</form>
									<!-- END FORM-->
								</div>
							</div>
                        </div>
                    
					</div>
                    
					<div class="row">
                        <div class="col-md-12">
                            <!-- BEGIN EXAMPLE TABLE PORTLET-->
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                    <div class="caption font-dark">
                                        <i class="icon-settings font-dark"></i>
                                        <span class="caption-subject bold uppercase"> Report</span>
                                    </div>
                                    <div class="actions">
                                        <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" style="width:20px; height:20px; line-height: 0.999; padding-left:4px; "> </a>
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <table class="table table-bordered table-hover table-checkable order-column" id="stock_inventory_table">
                                        <thead>
                                            <tr>
                                                <th style="text-align: left;"> Item Name </th>
                                                <th style="text-align: left;"> Supplier </th>
                                                <th style="text-align: left;"> Date </th>
                                                <th style="text-align: left;"> Purchase Order </th>
                                                <th style="text-align: left;"> Cost </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="odd gradeX">
                                                <td style="text-align: left;"> Item 1 </td>
                                                <td style="text-align: left;"> Supplier 1 </td>
                                                <td style="text-align: right;" class="text-center"> 00/00/0000 </td>
                                                <td style="text-align: right;" class="text-center">Order 1</td>
                                                <td style="text-align: right;" class="text-center">100</td>
                                            </tr>
                                            <tr class="odd gradeX">
                                                <td style="text-align: left;"> Item 2 </td>
                                                <td style="text-align: left;"> Supplier 2 </td>
                                                <td style="text-align: right;" class="text-center"> 00/00/0000 </td>
                                                <td style="text-align: right;" class="text-center">Order 2</td>
                                                <td style="text-align: right;" class="text-center">100</td>
                                            </tr>
                                            <tr class="odd gradeX">
                                                <td style="text-align: left;"> Item 3 </td>
                                                <td style="text-align: left;"> Supplier 3 </td>
                                                <td style="text-align: right;" class="text-center"> 00/00/0000 </td>
                                                <td style="text-align: right;" class="text-center">Order 3</td>
                                                <td style="text-align: right;" class="text-center">100</td>
                                            </tr>
                                            <tr class="odd gradeX">
                                                <td style="text-align: left;"> Item 4 </td>
                                                <td style="text-align: left;"> Supplier 4 </td>
                                                <td style="text-align: right;" class="text-center"> 00/00/0000 </td>
                                                <td style="text-align: right;" class="text-center">Order 4</td>
                                                <td style="text-align: right;" class="text-center">100</td>
                                            </tr>
                                            <tr class="odd gradeX">
                                                <td style="text-align: left;"> Item 5 </td>
                                                <td style="text-align: left;"> Supplier 5 </td>
                                                <td style="text-align: right;" class="text-center"> 00/00/0000 </td>
                                                <td style="text-align: right;" class="text-center">Order 5</td>
                                                <td style="text-align: right;" class="text-center">100</td>
                                            </tr>
										</tbody>
                                    </table>
                                    <div class="actions text-right">
                                    	<ul class="pagination">
                                          <li class="active"><a href="#">1</a></li>
                                          <li ><a href="#">2</a></li>
                                          <li><a href="#">3</a></li>
                                          <li><a href="#">4</a></li>
                                          <li><a href="#">5</a></li>
                                        </ul>
                                        <div class="dropup ">
                                            <button class="btn btn-default dropdown-toggle " type="button"  data-toggle="dropdown">Export
                                                <span class="caret"></span></button>
                                            <ul class="dropdown-menu pull-right">
                                                <li role="presentation"><a tabindex="-1" href="#">Print</a></li>
                                                <li role="presentation"><a tabindex="-1" href="#">PDF</a></li>
                                                <li role="presentation"><a tabindex="-1" href="#">Excel</a></li>
                                                <li role="presentation"><a tabindex="-1" href="#">CSV</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END EXAMPLE TABLE PORTLET-->
                        </div>
                    </div>
					
					<!-- END PAGE BASE CONTENT -->
                </div>
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->
       
        {{end}}

        {{ define "pagelevelplugins" }}
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <script src="/static/assets/global/plugins/fuelux/js/spinner.min.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.js" type="text/javascript"></script>
		<script src="/static/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
        <!-- END PAGE LEVEL PLUGINS -->  
        {{ end }}

        {{define "pagelevelscripts"}} 
        <!-- BEGIN PAGE LEVEL SCRIPTS -->
		<script src="/static/assets/pages/scripts/components-bootstrap-select.min.js" type="text/javascript"></script>
        <script src="/static/assets/pages/scripts/components-bootstrap-touchspin.js" type="text/javascript"></script>
		<script src="/static/assets/pages/scripts/components-date-time-pickers.js" type="text/javascript"></script>
		<script src="/static/assets/global/plugins/ion.rangeslider/js/ion.rangeSlider.min.js" type="text/javascript"></script>
		<script type="text/javascript">
			var ComponentsTypeahead = function () {

			var handleTwitterTypeahead = function() {

				// Example #1
				// instantiate the bloodhound suggestion engine
				var numbers = new Bloodhound({
				  datumTokenizer: function(d) { return Bloodhound.tokenizers.whitespace(d.num); },
				  queryTokenizer: Bloodhound.tokenizers.whitespace,
				  local: [
					{ num: 'metronic' },
					{ num: 'keenthemes' },
					{ num: 'metronic theme' },
					{ num: 'metronic template' },
					{ num: 'keenthemes team' }
				  ]
				});
				 
				// initialize the bloodhound suggestion engine
				numbers.initialize();
				 
				// instantiate the typeahead UI
				if (App.isRTL()) {
				  $('#typeahead_example_1').attr("dir", "rtl");  
				}
				$('#typeahead_example_1').typeahead(null, {
				  displayKey: 'num',
				  hint: (App.isRTL() ? false : true),
				  source: numbers.ttAdapter()
				});

			}
			var handleTwitterTypeahead2 = function() {

				// Example #1
				// instantiate the bloodhound suggestion engine
				var numbers = new Bloodhound({
				  datumTokenizer: function(d) { return Bloodhound.tokenizers.whitespace(d.num); },
				  queryTokenizer: Bloodhound.tokenizers.whitespace,
				  local: [
					{ num: 'metronic' },
					{ num: 'keenthemes' },
					{ num: 'metronic theme' },
					{ num: 'metronic template' },
					{ num: 'keenthemes team' }
				  ]
				});
				 
				// initialize the bloodhound suggestion engine
				numbers.initialize();
				 
				// instantiate the typeahead UI
				if (App.isRTL()) {
				  $('#typeahead_example_2').attr("dir", "rtl");  
				}
				$('#typeahead_example_2').typeahead(null, {
				  displayKey: 'num',
				  hint: (App.isRTL() ? false : true),
				  source: numbers.ttAdapter()
				});

			}
			
			return {
				//main function to initiate the module
				init: function () {
					handleTwitterTypeahead();
					handleTwitterTypeahead2();
				}
			};

		}();

		jQuery(document).ready(function() {    
		   ComponentsTypeahead.init(); 
		});
		</script>
		
		<script type="text/javascript">
			var ComponentsIonSliders = function() {

				var handleAdvancedDemo = function() {
					$("#range_10").ionRangeSlider({
						type: "double",
						min: 0,
						max: 100,
						from: 30,
						to: 70,
						from_fixed: true
					});
				}

				return {
					//main function to initiate the module
					init: function() {
						handleAdvancedDemo();
					}

				};

			}();

			jQuery(document).ready(function() {
				ComponentsIonSliders.init();
			});

		</script>
        <!-- END PAGE LEVEL SCRIPTS -->
        {{end}}