{{ template "master_layout.html" . }}

{{ define "pagelevelstyles"}} 
 
    <!-- BEGIN PAGE LEVEL STYLES -->
        <link href="/static/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.css" rel="stylesheet" type="text/css" />
		<link href="/static/assets/global/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" type="text/css" />
		
		<link href="/static/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/bootstrap-markdown/css/bootstrap-markdown.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/bootstrap-summernote/summernote.css" rel="stylesheet" type="text/css" />
        
        <!-- END PAGE LEVEL STYLES -->
	
{{end}}

{{ define "content" }}  
         <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                    <!-- BEGIN PAGE BASE CONTENT -->

                    <div class="row">
                        <div class="col-md-12">
                            <div class="portlet light bordered">
                                
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="icon-equalizer font-green"></i>
                                        <span class="caption-subject bold font-green uppercase">Organization Settings</span>

                                    </div>
                                    <div class="actions">
                                        <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" style="width:20px; height:20px; line-height: 0.999; padding-left:4px; "> </a>
                                    </div>
                                    <div class="tools nts-tools faq-links" style="margin-top:0;">
                                    {{if .ErrorsPresent}} 
                                        <a href=""  class="collapse btn blue" style="background-image:none; width: 70px; height: 20px; padding:0; margin-top: -4px;">
                                            <i class="fa fa-minus" style=" margin-left: -1px;"></i><span>Close</span> <span style="display : none;">Add</span>
                                        </a> 
                                     {{else}} 
                                        <a href="" class="expand btn blue" style="background-image:none; width: 70px; height: 20px; padding:0; margin-top: -4px;" >
                                            <i class="fa fa-plus" style=" margin-left: -1px;"></i> <span>Add</span> <span style="display : none;">Close</span> 
                                        </a> 
                                     {{end}}
                                    </div>
                                </div>
                                

                     {{if .ErrorsPresent}} 
                      <div class="portlet-body form" style="display:block" >
                      {{else}}  
                      <div class="portlet-body form"  style="display:none" >
                      {{end}}
                        <div class="form-wizard">
                        <div class="form-body" style="">
                            <form id="bootstrapTagsInputForm" class="registration-form" method="POST">
                                <input type="hidden" name="hidden_method" value="config" />
                                  {{ .xsrfdata }}
	                                        <div class="form-group" style="margin-bottom: 27px;">
	                                            <label class="control-label" style="text-align:right;"><span class="required" aria-required="true">*</span>Legal Entity Name<font color="#D3D3D3">(invoice header)</font></label>
	                                            <input name="name" style="" type="text" class="form-control"  value="{{.RetrievedEntityName}}" placeholder="">
	                                            {{if .Errors.EntityName}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.EntityName}}</span>{{end}}
	                                        </div>
	                                        <div class="form-group" style="margin-bottom: 27px;">
	                                            <label class="control-label " style="text-align:right;"><span class="required" aria-required="true">*</span>Brand Name </label>
	                                            <input name="bname" type="text" class="form-control" style="" value="{{.RetrievedBrand}}" placeholder="">
	                                            {{if .Errors.BrandName}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.BrandName}}</span>{{end}}
	                                        </div>
	                                        <div class="form-group" style="margin-bottom: 27px;">
	                                            <label class="control-label " style="text-align:right;">Admin Email <span class="required" aria-required="true">*</span></label>
	                                                <input name="email" type="email" class="form-control" style="" value="{{.RetrievedEmail}}" >
	                                                {{if .Errors.Email}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Email}}</span>{{end}}
	                                            
	                                        </div>
	                                        <div class="form-group" style="margin-bottom: 27px;">
	                                            <label class="control-label " style=""><span class="required" aria-required="true">*</span>Admin Mobile<font color="#D3D3D3">(for sms notifications)</font></label>
	                                                <input name="mobile" type="text" class="form-control" style="" value="{{.RetrievedMobile}}" placeholder="">
	                                                {{if .Errors.Mobile}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Mobile}}</span>{{end}}
	                                            
	                                        </div>
	                                        <div class="form-group" style="margin-bottom: 27px;">
	                                            <label class="control-label" style=""><span class="required" aria-required="true">*</span>Industry Type<font color="#D3D3D3">(determines processes)</font></label>
	                                            <div  style="text-align:left;">
	                                            <input type="text" name="industry_type" value="{{.RetrievedIndustryType}}" data-role="tagsinput" placeholder=""/>
                                                {{if .Errors.IndType}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.IndType}}</span>{{end}}
	                                            </div>
	                                        </div>
	                                        <div class="form-group" style="margin-bottom: 27px;">
	                                            <label class="control-label" style="text-align:right;"><span class="required" aria-required="true">*</span>HQ Location </label>
	                                            <input name="hq_location" type="text" class="form-control" style="" value="{{.RetrievedHQlocation}}" placeholder="">
	                                            {{if .Errors.HQLoc}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.HQLoc}}</span>{{end}}
	                                            
	                                        </div>
	                                     
                                               <div class="form-group" style="margin-bottom: 27px;">
                                                <label class="control-label" style="">Location of additional factories if any</label>
                                                <div  style="text-align:left;">
                                                <input type="text" name="location_fac" value="{{.RetrievedFactoryLocation}}" data-role="tagsinput" placeholder=""/>
                                                {{if .Errors.LocationFac}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.LocationFac}}</span>{{end}}
                                                </div>
                                            </div>
                                             {{if .NoConfigEdit}}
	                                        <div class="form-actions" style="background:none; text-align:center; display:none;">
	                                            <button name="config-btn" type="submit" class="btn green">Update</button>
	                                        </div>
                                            {{else}}
                                            <div class="form-actions" style="background:none; text-align:center">
	                                            <button name="config-btn" type="submit" class="btn green">Update</button>
	                                        </div>
                                            {{end}}
                                    </form>
                        </div>
                    </div>
                    
                    </div>
                  </div> <!-- Form Row -->
                  <div class="row">
                        <div class="col-md-12">
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="icon-equalizer font-green"></i>
                                        <span class="caption-subject bold font-green uppercase">Prefix Codes</span>

                                    </div>
                                    <div class="actions">
                                        <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" style="width:20px; height:20px; line-height: 0.999; padding-left:4px; "> </a>
                                    </div>
                                    <div class="tools nts-tools faq-links" style="margin-top:0;">
                                    {{if .ErrorsPresent}} 
                                        <a href=""  class="collapse btn blue" style="background-image:none; width: 70px; height: 20px; padding:0; margin-top: -4px;">
                                            <i class="fa fa-minus" style=" margin-left: -1px;"></i><span>Close</span> <span style="display : none;">Add</span>
                                        </a>  
                                     {{else}} 
                                        <a href="" class="expand btn blue" style="background-image:none; width: 70px; height: 20px; padding:0; margin-top: -4px;" >
                                            <i class="fa fa-plus" style=" margin-left: -1px;"></i> <span>Add</span> <span style="display : none;">Close</span> 
                                        </a> 
                                     {{end}}
                                    </div>
                                </div>
                                  {{if .ErrorsPresent}} 
                                  <div class="portlet-body form" style="display:block" >
                                  {{else}}  
                                  <div class="portlet-body form"  style="display:none" >
                                  {{end}}
                                    <!-- BEGIN FORM-->
                                    <form method="POST" class="form-horizontal">
                                        <input type="hidden" name="hidden_method" value="prefix" />
                                         {{ .xsrfdata }}
                                        <div class="form-body">
                                            
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Item Code </label>
                                                        <div class="col-md-8">
                                                            <input name="item_code" type="text" class="form-control" value="{{.RetrievedPrefixCodes.item_code}}">
                                                            {{if .Errors.ItemCode}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.ItemCode}}</span>{{end}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Product Code </label>
                                                        <div class="col-md-8">
                                                            <input name="product_code" type="text" class="form-control" value="{{.RetrievedPrefixCodes.product_code}}">
                                                            {{if .Errors.ProductCode}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.ProductCode}}</span>{{end}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Supplier Code </label>
                                                        <div class="col-md-8">
                                                            <input name="supplier_code" type="text" class="form-control" value="{{.RetrievedPrefixCodes.supplier_code}}">
                                                            {{if .Errors.SupplierCode}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.SupplierCode}}</span>{{end}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Customer Code </label>
                                                        <div class="col-md-8">
                                                            <input name="customer_code" type="text" class="form-control" value="{{.RetrievedPrefixCodes.customer_code}}">
                                                            {{if .Errors.CustomerCode}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.CustomerCode}}</span>{{end}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Purchase Order </label>
                                                        <div class="col-md-8">
                                                            <input name="purchase_order" type="text" class="form-control" value="{{.RetrievedPrefixCodes.purchase_order_code}}">
                                                            {{if .Errors.PurchaseOrder}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.PurchaseOrder}}</span>{{end}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Sales Order Code </label>
                                                        <div class="col-md-8">
                                                            <input name="sales_code" type="text" class="form-control" value="{{.RetrievedPrefixCodes.sales_order_code}}">
                                                            {{if .Errors.SalesCode}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.SalesCode}}</span>{{end}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Employee ID </label>
                                                        <div class="col-md-8">
                                                            <input name="employee_id" type="text" class="form-control" value="{{.RetrievedPrefixCodes.employee_id_code}}">
                                                            {{if .Errors.EmployeeId}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.EmployeeId}}</span>{{end}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                            </div>
                                        </div>
                                        {{if .NoConfigEdit}}
                                        <div class="form-actions" style="display:none">
                                            <div class="row">
                                                <div class="col-md-12" style="text-align: center;">
                                                    <button name="prefix-btn" type="submit" class="btn green" style="height: 40px;width: 80px">Submit</button>
                                                    <button type="button" class="btn default" style="height: 40px;width: 80px">Reset</button>
                                                </div>
                                            </div>
                                        </div>
                                        {{else}}
                                        <div class="form-actions" >
                                            <div class="row">
                                                <div class="col-md-12" style="text-align: center;">
                                                    <button name="prefix-btn" type="submit" class="btn green" style="height: 40px;width: 80px">Submit</button>
                                                    <button type="button" class="btn default" style="height: 40px;width: 80px">Reset</button>
                                                </div>
                                            </div>
                                        </div>
                                        {{end}}
                                        
                                    </form>
                                    <!-- END FORM-->
                                </div>
                            </div>
                        </div>
                    
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="icon-equalizer font-green"></i>
                                        <span class="caption-subject bold font-green uppercase">Terms and Conditions</span>

                                    </div>
                                    <div class="actions">
                                        <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" style="width:20px; height:20px; line-height: 0.999; padding-left:4px; "> </a>
                                    </div>
                                    <div class="tools nts-tools faq-links" style="margin-top:0;">
                                    {{if .ErrorsPresent}} 
                                        <a href=""  class="collapse btn blue" style="background-image:none; width: 70px; height: 20px; padding:0; margin-top: -4px;">
                                            <i class="fa fa-minus" style=" margin-left: -1px;"></i><span>Close</span> <span style="display : none;">Add</span>
                                        </a> 
                                     {{else}} 
                                        <a href="" class="expand btn blue" style="background-image:none; width: 70px; height: 20px; padding:0; margin-top: -4px;" >
                                            <i class="fa fa-plus" style=" margin-left: -1px;"></i> <span>Add</span> <span style="display : none;">Close</span> 
                                        </a>
                                     {{end}}
                                    </div>
                                </div>
                                  {{if .ErrorsPresent}} 
                                  <div class="portlet-body form" style="display:block" >
                                  {{else}}  
                                  <div class="portlet-body form"  style="display:none" >
                                  {{end}}
                                  <div class="portlet light form-fit bordered">
                                    <!-- BEGIN FORM-->
                                    <form method="POST" action="/settings/po-tc" class="form-horizontal">
                                        <input type="hidden" name="hidden_method" value="PO_TC" />
                                         {{ .xsrfdata }}
                                        <div class="form-body" style="padding-bottom: 0px;">
                                            <div class="form-group">
                                                <label class="control-label col-md-2 caption-subject bold uppercase">Purchase Order</label>
                                                <div class="col-md-10" style="width: 81.444%;">
                                                    <textarea name="po_content" data-provide="markdown" rows="10" value="{{.FormItems.PoContent}}">{{.RetrievedPoTcContent.users_0.content}}</textarea>
                                                </div>
                                            </div>
                                        </div>
                                        {{if .NoConfigEdit}}
                                        <div class="form-actions" style="padding-top: 0px; display:none;">
                                            <div class="row">
                                                <div class="col-md-offset-2 col-md-10">
                                                    <button type="submit" class="btn green"><i class="fa fa-check"></i> Update</button>
                                                </div>
                                            </div>
                                        </div>
                                        {{else }}
                                        <div class="form-actions" style="padding-top: 0px; ">
                                            <div class="row">
                                                <div class="col-md-offset-2 col-md-10">
                                                    <button type="submit" class="btn green"><i class="fa fa-check"></i> Update</button>
                                                </div>
                                            </div>
                                        </div>
                                        {{end}}
                                        
                                    </form>
                                    <!-- END FORM-->
                                    <hr>
                                    <!-- BEGIN FORM-->
                                    <form method="POST" class="form-horizontal " action="/settings/so-tc">
                                        <input type="hidden" name="hidden_method" value="SO_TC" />
                                         {{ .xsrfdata }}
                                        <div class="form-body" style="padding-bottom: 0px;">
                                            <div class="form-group">
                                                <label class="control-label col-md-2 caption-subject bold uppercase">Sales Order</label>
                                                <div class="col-md-10" style="width: 81.444%;">
                                                    <textarea name="so_content" data-provide="markdown" rows="10" value="{{.FormItems.PoContent}}">{{.RetrievedSoTcContent.users_0.content}}</textarea>
                                                </div>
                                            </div>
                                        </div>
                                        {{if .NoConfigEdit}}
                                        <div class="form-actions" style="padding-top: 0px; display:none;">
                                            <div class="row">
                                                <div class="col-md-offset-2 col-md-10">
                                                    <button type="submit" class="btn green"><i class="fa fa-check"></i> Update</button>
                                                </div>
                                            </div>
                                        </div>
                                        {{else}}
                                        <div class="form-actions" style="padding-top: 0px; ">
                                            <div class="row">
                                                <div class="col-md-offset-2 col-md-10">
                                                    <button type="submit" class="btn green"><i class="fa fa-check"></i> Update</button>
                                                </div>
                                            </div>
                                        </div>
                                        {{end}}
                                        
                                    </form>
                                    <!-- END FORM-->
                                  </div>
                                </div>
                            </div>
                        </div>
                    
                    </div>
                    <!-- END ROW -->
                <!-- END PAGE BASE CONTENT -->
                </div>
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->
            {{end}}

 {{define "pagelevelplugins"}}
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <script src="/static/assets/global/scripts/datatable.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
		<!--<script src="https://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>-->
        <script src="/static/assets/global/plugins/fuelux/js/spinner.min.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.js" type="text/javascript"></script>
		<script src="/static/assets/global/plugins/bootstrap-select/js/bootstrap-select.min.js" type="text/javascript"></script>

        <script src="/static/assets/global/plugins/bootstrap-markdown/lib/markdown.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/bootstrap-markdown/js/bootstrap-markdown.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/bootstrap-summernote/summernote.min.js" type="text/javascript"></script>
        <!-- END PAGE LEVEL PLUGINS -->
        {{end}}
        
        {{define "pagelevelscripts"}}
        <!-- BEGIN PAGE LEVEL SCRIPTS -->
		<script src="/static/assets/pages/scripts/components-bootstrap-select.min.js" type="text/javascript"></script>
        <script src="/static/assets/pages/scripts/components-bootstrap-touchspin.js" type="text/javascript"></script>
		<script src="/static/assets/pages/scripts/table-datatables-managed.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.js"></script>
        <script src="/static/assets/pages/scripts/components-editors.min.js" type="text/javascript"></script>
        <!--<script src="../static/assets/pages/scripts/ui-modals.js" type="text/javascript"></script>
        <script src="../static/assets/pages/scripts/ui-modals.min.js" type="text/javascript"></script>-->
        <!--{{if .FlashNotices}}
        <script type="text/javascript">
                $(function() {                  
                    $.bootstrapGrowl("{{.FlashNotices}}", {offset: {from: 'top', amount: 20}, delay: 5000, type: 'success',align: 'center', stackup_spacing: 30,width: 400 });});
         </script>
         {{end}}-->
        <!-- END PAGE LEVEL SCRIPTS -->
        {{end}}