{{ template "master_layout.html" . }} {{ define "pagelevelstyles"}}
<!-- BEGIN PAGE LEVEL STYLES -->
<link href="/static/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/global/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" type="text/css"
/>
<link href="/static/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css"
/>
<link href="/static/assets/global/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/global/plugins/bootstrap-markdown/css/bootstrap-markdown.min.css" rel="stylesheet" type="text/css"
/>
<link href="/static/assets/global/plugins/bootstrap-summernote/summernote.css" rel="stylesheet" type="text/css" />
<!-- END PAGE LEVEL STYLES -->

{{end}} {{ define "content" }}
<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE BASE CONTENT -->

        <div class="row">
            <div class="col-md-12">
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-equalizer font-green"></i>
                            <span class="caption-subject bold font-green uppercase">Prefix Codes</span>

                        </div>
                        <div class="actions">
                            <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" style="width:20px; height:20px; line-height: 0.999; padding-left:4px; "> </a>
                        </div>
                    </div>


                    <div class="portlet-body form">
                        <div class="form-body">
                            <div class="row" >
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label " style="padding-left:0"><span class="required" aria-required="true"></span>Item Code : </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="padding-bottom: 10px;">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <form method="POST" class="form-horizontal">
                                            <input type="hidden" name="prefix_master" value="1" /> {{ .xsrfdata }}
                                            <div class="col-md-2" style="padding-left: 0px; ">
                                                <select id="item_code_3l" name="item_code_3l" class="form-control select2-multiple ite" data-placeholder="Choose..">
                                                                        <option disabled selected value>Choose..</option>
                                                                        {{ range $prefixOptions := .PrefixDropdownMaster }}
                                                                        <option value="{{ $prefixOptions.pkid }}" {{if compare $prefixOptions.pkid $.ItemValue3l }} selected {{end}}>{{ $prefixOptions.display_text }}</option>
                                                                        {{end}}
                                                                        </select>
                                            </div>
                                            <div class="col-md-2" style="padding-left: 0px; ">
                                                <select id="item_code_2l" name="item_code_2l" class="form-control select2-multiple ite" data-placeholder="Choose..">
                                                                        <option disabled selected value>Choose..</option>
                                                                        {{ range $prefixOptions := .PrefixDropdownMaster }}
                                                                        <option value="{{ $prefixOptions.pkid }}"{{if compare $prefixOptions.pkid $.ItemValue2l }} selected {{end}}>{{ $prefixOptions.display_text }}</option>
                                                                        {{end}}
                                                                        </select>
                                            </div>
                                            <div class="col-md-1" style="padding-left: 0px;">
                                                <input name="item_code_1l" type="text" class="form-control" value="{{.ItemValue1l}}">
                                            </div>
                                            <div class="col-md-1" style="padding-left: 0px;">
                                                <input name="item_code_0" type="text" class="form-control" value="" placeholder="Number Series" readonly>
                                            </div>
                                            <div class="col-md-1" style="padding-left: 0px; ">
                                                <input name="item_code_1r" type="text" class="form-control" value="{{.ItemValue1r}}">
                                            </div>
                                            <div class="col-md-2" style="padding-left: 0px; ">
                                                <select id="item_code_2r" name="item_code_2r" class="form-control select2-multiple ite" data-placeholder="Choose..">
                                                                        <option disabled selected value>Choose..</option>
                                                                        {{ range $prefixOptions := .PrefixDropdownMaster }}
                                                                        <option value="{{ $prefixOptions.pkid }}" {{if compare $prefixOptions.pkid $.ItemValue2r }} selected {{end}}>{{ $prefixOptions.display_text }}</option>
                                                                        {{end}}
                                                                        </select>
                                            </div>
                                            <div class="col-md-2" style="padding-left: 0px; ">
                                                <select id="item_code_3r" name="item_code_3r" class="form-control select2-multiple ite" data-placeholder="Choose..">
                                                                        <option disabled selected value>Choose..</option>
                                                                        {{ range $prefixOptions := .PrefixDropdownMaster }}
                                                                        <option value="{{ $prefixOptions.pkid }}" {{if compare $prefixOptions.pkid $.ItemValue3r }} selected {{end}}>{{ $prefixOptions.display_text }}</option>
                                                                        {{end}}
                                                                        </select>
                                            </div>
                                            <div class="col-md-1" style="padding-left: 0px; ">
                                                <button name="prefix-btn" type="submit" class="btn green" style="height: 34px;width: 80px">Save</button>
                                            </div>

                                        </form>
                                    </div>
                                </div>
                            </div>

                            <hr/>

                            <div class="row" >
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label " style="padding-left:0"><span class="required" aria-required="true"></span>Supplier Code : </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="padding-bottom: 10px;">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <form method="POST" class="form-horizontal">
                                            <input type="hidden" name="prefix_master" value="3" /> {{ .xsrfdata }}

                                            <div class="col-md-2" style="padding-left: 0px; ">
                                                <select id="supplier_code_3l" name="supplier_code_3l" class="form-control select2-multiple ite" data-placeholder="Choose..">
                                                                                <option disabled selected value>Choose..</option>
                                                                                {{ range $prefixOptions := .PrefixDropdownMaster }}
                                                                                <option value="{{ $prefixOptions.pkid }}" {{if compare $prefixOptions.pkid $.SupplierValue3l }} selected {{end}}>{{ $prefixOptions.display_text }}</option>
                                                                                {{end}}
                                                                                </select>
                                            </div>
                                            <div class="col-md-2" style="padding-left: 0px; ">
                                                <select id="supplier_code_2l" name="supplier_code_2l" class="form-control select2-multiple ite" data-placeholder="Choose..">
                                                                                <option disabled selected value>Choose..</option>
                                                                                {{ range $prefixOptions := .PrefixDropdownMaster }}
                                                                                <option value="{{ $prefixOptions.pkid }}" {{if compare $prefixOptions.pkid $.SupplierValue2r }} selected {{end}}>{{ $prefixOptions.display_text }}</option>
                                                                                {{end}}
                                                                                </select>
                                            </div>
                                            <div class="col-md-1" style="padding-left: 0px; ">
                                                <input name="supplier_code_1l" type="text" class="form-control" value="{{.SupplierValue1l}}">
                                            </div>
                                            <div class="col-md-1" style="padding-left: 0px; ">
                                                <input name="supplier_code_0" type="text" class="form-control" value="" placeholder="Number Series" readonly>
                                            </div>
                                            <div class="col-md-1" style="padding-left: 0px; ">
                                                <input name="supplier_code_1r" type="text" class="form-control" value="{{.SupplierValue1r}}">
                                            </div>
                                            <div class="col-md-2" style="padding-left: 0px; ">
                                                <select id="supplier_code_2r" name="supplier_code_2r" class="form-control select2-multiple ite" data-placeholder="Choose..">
                                                                                <option disabled selected value>Choose..</option>
                                                                                {{ range $prefixOptions := .PrefixDropdownMaster }}
                                                                                <option value="{{ $prefixOptions.pkid }}" {{if compare $prefixOptions.pkid $.SupplierValue2r }} selected {{end}}>{{ $prefixOptions.display_text }}</option>
                                                                                {{end}}
                                                                                </select>
                                            </div>
                                            <div class="col-md-2" style="padding-left: 0px; ">
                                                <select id="supplier_code_3r" name="supplier_code_3r" class="form-control select2-multiple ite" data-placeholder="Choose..">
                                                                                <option disabled selected value>Choose..</option>
                                                                                {{ range $prefixOptions := .PrefixDropdownMaster }}
                                                                                <option value="{{ $prefixOptions.pkid }}" {{if compare $prefixOptions.pkid $.SupplierValue3r }} selected {{end}}>{{ $prefixOptions.display_text }}</option>
                                                                                {{end}}
                                                                                </select>
                                            </div>
                                            <div class="col-md-1" style="padding-left: 0px; ">
                                                <button name="prefix-btn" type="submit" class="btn green" style="height: 34px;width: 80px">Save</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            
                            <hr/>

                           
                            <div class="row" >
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label " style="padding-left:0"><span class="required" aria-required="true"></span>Customer Code : </label>

                                    </div>
                                </div>
                                <!--/span-->
                            </div>
                            <div class="row" style="padding-bottom: 10px;">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <form method="POST" class="form-horizontal">
                                            <input type="hidden" name="prefix_master" value="4" /> {{ .xsrfdata }}
                                            <div class="col-md-2" style="padding-left: 0px; ">
                                                <select id="customer_code_3l" name="customer_code_3l" class="form-control select2-multiple ite" data-placeholder="Choose..">
                                                                    <option disabled selected value>Choose..</option>
                                                                    {{ range $prefixOptions := .PrefixDropdownMaster }}
                                                                    <option value="{{ $prefixOptions.pkid }}" {{if compare $prefixOptions.pkid $.CustomerValue3l }} selected {{end}}>{{ $prefixOptions.display_text }}</option>
                                                                    {{end}}
                                                                    </select>
                                            </div>
                                            <div class="col-md-2" style="padding-left: 0px; ">
                                                <select id="customer_code_2l" name="customer_code_2l" class="form-control select2-multiple ite" data-placeholder="Choose..">
                                                                    <option disabled selected value>Choose..</option>
                                                                    {{ range $prefixOptions := .PrefixDropdownMaster }}
                                                                    <option value="{{ $prefixOptions.pkid }}" {{if compare $prefixOptions.pkid $.CustomerValue2l }} selected {{end}}>{{ $prefixOptions.display_text }}</option>
                                                                    {{end}}
                                                                    </select>
                                            </div>
                                            <div class="col-md-1" style="padding-left: 0px; ">
                                                <input name="customer_code_1l" type="text" class="form-control" value="{{.CustomerValue1l}}">
                                            </div>
                                            <div class="col-md-1" style="padding-left: 0px; ">
                                                <input name="customer_code_0" type="text" class="form-control" value="" placeholder="Number Series" readonly>
                                            </div>
                                            <div class="col-md-1" style="padding-left: 0px; ">
                                                <input name="customer_code_1r" type="text" class="form-control" value="{{.CustomerValue1r}}">
                                            </div>
                                            <div class="col-md-2" style="padding-left: 0px; ">
                                                <select id="customer_code_2r" name="customer_code_2r" class="form-control select2-multiple ite" data-placeholder="Choose..">
                                                                    <option disabled selected value>Choose..</option>
                                                                    {{ range $prefixOptions := .PrefixDropdownMaster }}
                                                                    <option value="{{ $prefixOptions.pkid }}" {{if compare $prefixOptions.pkid $.CustomerValue2r }} selected {{end}}>{{ $prefixOptions.display_text }}</option>
                                                                    {{end}}
                                                                    </select>
                                            </div>
                                            <div class="col-md-2" style="padding-left: 0px; ">
                                                <select id="customer_code_3r" name="customer_code_3r" class="form-control select2-multiple ite" data-placeholder="Choose..">
                                                                    <option disabled selected value>Choose..</option>
                                                                    {{ range $prefixOptions := .PrefixDropdownMaster }}
                                                                    <option value="{{ $prefixOptions.pkid }}" {{if compare $prefixOptions.pkid $.CustomerValue3r }} selected {{end}}>{{ $prefixOptions.display_text }}</option>
                                                                    {{end}}
                                                                    </select>
                                            </div>
                                            <div class="col-md-1" style="padding-left: 0px; ">
                                                <button name="prefix-btn" type="submit" class="btn green" style="height: 34px;width: 80px">Save</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <hr/>

                            <div class="row" >
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label " style="padding-left:0"><span class="required" aria-required="true"></span>Purchase Order Code : </label>

                                    </div>
                                </div>
                            </div>

                            <div class="row" style="padding-bottom: 10px;">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <form method="POST" class="form-horizontal">
                                            <input type="hidden" name="prefix_master" value="5" /> {{ .xsrfdata }}
                                            <div class="col-md-2" style="padding-left: 0px; ">
                                                <select id="po_code_3l" name="po_code_3l" class="form-control select2-multiple ite" data-placeholder="Choose..">
                                                                        <option disabled selected value>Choose..</option>
                                                                        {{ range $prefixOptions := .PrefixDropdownMaster }}
                                                                        <option value="{{ $prefixOptions.pkid }}" {{if compare $prefixOptions.pkid $.POValue3l }} selected {{end}}>{{ $prefixOptions.display_text }}</option>
                                                                        {{end}}
                                                                        </select>
                                            </div>
                                            <div class="col-md-2" style="padding-left: 0px; ">
                                                <select id="po_code_2l" name="po_code_2l" class="form-control select2-multiple ite" data-placeholder="Choose..">
                                                                        <option disabled selected value>Choose..</option>
                                                                        {{ range $prefixOptions := .PrefixDropdownMaster }}
                                                                        <option value="{{ $prefixOptions.pkid }}" {{if compare $prefixOptions.pkid $.POValue2l }} selected {{end}}>{{ $prefixOptions.display_text }}</option>
                                                                        {{end}}
                                                                        </select>
                                            </div>
                                            <div class="col-md-1" style="padding-left: 0px; ">
                                                <input name="po_code_1l" type="text" class="form-control" value="{{.POValue1l}}">
                                            </div>
                                            <div class="col-md-1" style="padding-left: 0px; ">
                                                <input name="po_code_0" type="text" class="form-control" value="" placeholder="Number Series" readonly>
                                            </div>
                                            <div class="col-md-1" style="padding-left: 0px; ">
                                                <input name="po_code_1r" type="text" class="form-control" value="{{.POValue1r}}">
                                            </div>
                                            <div class="col-md-2" style="padding-left: 0px; ">
                                                <select id="po_code_2r" name="po_code_2r" class="form-control select2-multiple ite" data-placeholder="Choose..">
                                                                        <option disabled selected value>Choose..</option>
                                                                        {{ range $prefixOptions := .PrefixDropdownMaster }}
                                                                        <option value="{{ $prefixOptions.pkid }}" {{if compare $prefixOptions.pkid $.POValue2r }} selected {{end}}>{{ $prefixOptions.display_text }}</option>
                                                                        {{end}}
                                                                        </select>
                                            </div>
                                            <div class="col-md-2" style="padding-left: 0px; ">
                                                <select id="po_code_3r" name="po_code_3r" class="form-control select2-multiple ite" data-placeholder="Choose..">
                                                                        <option disabled selected value>Choose..</option>
                                                                        {{ range $prefixOptions := .PrefixDropdownMaster }}
                                                                        <option value="{{ $prefixOptions.pkid }}" {{if compare $prefixOptions.pkid $.POValue3r }} selected {{end}}>{{ $prefixOptions.display_text }}</option>
                                                                        {{end}}
                                                                        </select>
                                            </div>
                                            <div class="col-md-1" style="padding-left: 0px; ">
                                                <button name="prefix-btn" type="submit" class="btn green" style="height: 34px;width: 80px">Save</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <hr/>

                            <div class="row" >
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label " style="padding-left:0"><span class="required" aria-required="true"></span>GRN Number Code : </label>
    
                                        </div>
                                    </div>
                                </div>
    
                                <div class="row" style="padding-bottom: 10px;">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <form method="POST" class="form-horizontal">
                                                <input type="hidden" name="prefix_master" value="11" /> {{ .xsrfdata }}
                                                <div class="col-md-2" style="padding-left: 0px; ">
                                                    <select id="grn_code_3l" name="grn_code_3l" class="form-control select2-multiple ite" data-placeholder="Choose..">
                                                                            <option disabled selected value>Choose..</option>
                                                                            {{ range $prefixOptions := .PrefixDropdownMaster }}
                                                                            <option value="{{ $prefixOptions.pkid }}" {{if compare $prefixOptions.pkid $.GRNValue3l }} selected {{end}}>{{ $prefixOptions.display_text }}</option>
                                                                            {{end}}
                                                                            </select>
                                                </div>
                                                <div class="col-md-2" style="padding-left: 0px; ">
                                                    <select id="grn_code_2l" name="grn_code_2l" class="form-control select2-multiple ite" data-placeholder="Choose..">
                                                                            <option disabled selected value>Choose..</option>
                                                                            {{ range $prefixOptions := .PrefixDropdownMaster }}
                                                                            <option value="{{ $prefixOptions.pkid }}" {{if compare $prefixOptions.pkid $.GRNValue2l }} selected {{end}}>{{ $prefixOptions.display_text }}</option>
                                                                            {{end}}
                                                                            </select>
                                                </div>
                                                <div class="col-md-1" style="padding-left: 0px; ">
                                                    <input name="grn_code_1l" type="text" class="form-control" value="{{.GRNValue1l}}">
                                                </div>
                                                <div class="col-md-1" style="padding-left: 0px; ">
                                                    <input name="grn_code_0" type="text" class="form-control" value="" placeholder="Number Series" readonly>
                                                </div>
                                                <div class="col-md-1" style="padding-left: 0px; ">
                                                    <input name="grn_code_1r" type="text" class="form-control" value="{{.GRNValue1r}}">
                                                </div>
                                                <div class="col-md-2" style="padding-left: 0px; ">
                                                    <select id="grn_code_2r" name="grn_code_2r" class="form-control select2-multiple ite" data-placeholder="Choose..">
                                                                            <option disabled selected value>Choose..</option>
                                                                            {{ range $prefixOptions := .PrefixDropdownMaster }}
                                                                            <option value="{{ $prefixOptions.pkid }}" {{if compare $prefixOptions.pkid $.GRNValue2r }} selected {{end}}>{{ $prefixOptions.display_text }}</option>
                                                                            {{end}}
                                                                            </select>
                                                </div>
                                                <div class="col-md-2" style="padding-left: 0px; ">
                                                    <select id="grn_code_3r" name="grn_code_3r" class="form-control select2-multiple ite" data-placeholder="Choose..">
                                                                            <option disabled selected value>Choose..</option>
                                                                            {{ range $prefixOptions := .PrefixDropdownMaster }}
                                                                            <option value="{{ $prefixOptions.pkid }}" {{if compare $prefixOptions.pkid $.GRNValue3r }} selected {{end}}>{{ $prefixOptions.display_text }}</option>
                                                                            {{end}}
                                                                            </select>
                                                </div>
                                                <div class="col-md-1" style="padding-left: 0px; ">
                                                    <button name="prefix-btn" type="submit" class="btn green" style="height: 34px;width: 80px">Save</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
    
                                <hr/>

                            <div class="row" >
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label " style="padding-left:0"><span class="required" aria-required="true"></span>Sales Order :  </label>

                                    </div>
                                </div>
                                <!--/span-->
                            </div>

                            <div class="row" style="padding-bottom: 10px;">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <form method="POST" class="form-horizontal">
                                            <input type="hidden" name="prefix_master" value="6" /> {{ .xsrfdata }}
                                            <div class="col-md-2" style="padding-left: 0px; ">
                                                <select id="so_code_3l" name="so_code_3l" class="form-control select2-multiple ite" data-placeholder="Choose..">
                                                                    <option disabled selected value>Choose..</option>
                                                                    {{ range $prefixOptions := .PrefixDropdownMaster }}
                                                                    <option value="{{ $prefixOptions.pkid }}" {{if compare $prefixOptions.pkid $.SOValue3l }} selected {{end}}>{{ $prefixOptions.display_text }}</option>
                                                                    {{end}}
                                                                    </select>
                                            </div>
                                            <div class="col-md-2" style="padding-left: 0px; ">
                                                <select id="so_code_2l" name="so_code_2l" class="form-control select2-multiple ite" data-placeholder="Choose..">
                                                                    <option disabled selected value>Choose..</option>
                                                                    {{ range $prefixOptions := .PrefixDropdownMaster }}
                                                                    <option value="{{ $prefixOptions.pkid }}" {{if compare $prefixOptions.pkid $.SOValue2l }} selected {{end}}>{{ $prefixOptions.display_text }}</option>
                                                                    {{end}}
                                                                    </select>
                                            </div>
                                            <div class="col-md-1" style="padding-left: 0px; ">
                                                <input name="so_code_1l" type="text" class="form-control" value="{{.POValue1l}}">
                                            </div>
                                            <div class="col-md-1" style="padding-left: 0px; ">
                                                <input name="so_code_0" type="text" class="form-control" value="" placeholder="Number Series" readonly>
                                            </div>
                                            <div class="col-md-1" style="padding-left: 0px; ">
                                                <input name="so_code_1r" type="text" class="form-control" value="{{.SOValue1r}}">
                                            </div>
                                            <div class="col-md-2" style="padding-left: 0px; ">
                                                <select id="so_code_2r" name="so_code_2r" class="form-control select2-multiple ite" data-placeholder="Choose..">
                                                                    <option disabled selected value>Choose..</option>
                                                                    {{ range $prefixOptions := .PrefixDropdownMaster }}
                                                                    <option value="{{ $prefixOptions.pkid }}" {{if compare $prefixOptions.pkid $.SOValue2r }} selected {{end}}>{{ $prefixOptions.display_text }}</option>
                                                                    {{end}}
                                                                    </select>
                                            </div>
                                            <div class="col-md-2" style="padding-left: 0px; ">
                                                <select id="so_code_3r" name="so_code_3r" class="form-control select2-multiple ite" data-placeholder="Choose..">
                                                                    <option disabled selected value>Choose..</option>
                                                                    {{ range $prefixOptions := .PrefixDropdownMaster }}
                                                                    <option value="{{ $prefixOptions.pkid }}" {{if compare $prefixOptions.pkid $.SOValue3r }} selected {{end}}>{{ $prefixOptions.display_text }}</option>
                                                                    {{end}}
                                                                    </select>
                                            </div>
                                            <div class="col-md-1" style="padding-left: 0px; ">
                                                <button name="prefix-btn" type="submit" class="btn green" style="height: 34px;width: 80px">Save</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <hr/>

                            <div class="row" >
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label " style="padding-left:0"><span class="required" aria-required="true"></span>Dispatch Number :  </label>

                                    </div>
                                </div>
                                <!--/span-->
                            </div>

                            <div class="row" style="padding-bottom: 10px;">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <form method="POST" class="form-horizontal">
                                            <input type="hidden" name="prefix_master" value="12" /> {{ .xsrfdata }}
                                            <div class="col-md-2" style="padding-left: 0px; ">
                                                <select id="dispatch_code_3l" name="dispatch_code_3l" class="form-control select2-multiple ite" data-placeholder="Choose..">
                                                                    <option disabled selected value>Choose..</option>
                                                                    {{ range $prefixOptions := .PrefixDropdownMaster }}
                                                                    <option value="{{ $prefixOptions.pkid }}" {{if compare $prefixOptions.pkid $.DispatchValue3l }} selected {{end}}>{{ $prefixOptions.display_text }}</option>
                                                                    {{end}}
                                                                    </select>
                                            </div>
                                            <div class="col-md-2" style="padding-left: 0px; ">
                                                <select id="dispatch_code_2l" name="dispatch_code_2l" class="form-control select2-multiple ite" data-placeholder="Choose..">
                                                                    <option disabled selected value>Choose..</option>
                                                                    {{ range $prefixOptions := .PrefixDropdownMaster }}
                                                                    <option value="{{ $prefixOptions.pkid }}" {{if compare $prefixOptions.pkid $.DispatchValue2l }} selected {{end}}>{{ $prefixOptions.display_text }}</option>
                                                                    {{end}}
                                                                    </select>
                                            </div>
                                            <div class="col-md-1" style="padding-left: 0px; ">
                                                <input name="dispatch_code_1l" type="text" class="form-control" value="{{.DispatchValue1l}}">
                                            </div>
                                            <div class="col-md-1" style="padding-left: 0px; ">
                                                <input name="dispatch_code_0" type="text" class="form-control" value="" placeholder="Number Series" readonly>
                                            </div>
                                            <div class="col-md-1" style="padding-left: 0px; ">
                                                <input name="dispatch_code_1r" type="text" class="form-control" value="{{.DispatchValue1r}}">
                                            </div>
                                            <div class="col-md-2" style="padding-left: 0px; ">
                                                <select id="dispatch_code_2r" name="dispatch_code_2r" class="form-control select2-multiple ite" data-placeholder="Choose..">
                                                                    <option disabled selected value>Choose..</option>
                                                                    {{ range $prefixOptions := .PrefixDropdownMaster }}
                                                                    <option value="{{ $prefixOptions.pkid }}" {{if compare $prefixOptions.pkid $.DispatchValue2r }} selected {{end}}>{{ $prefixOptions.display_text }}</option>
                                                                    {{end}}
                                                                    </select>
                                            </div>
                                            <div class="col-md-2" style="padding-left: 0px; ">
                                                <select id="dispatch_code_3r" name="dispatch_code_3r" class="form-control select2-multiple ite" data-placeholder="Choose..">
                                                                    <option disabled selected value>Choose..</option>
                                                                    {{ range $prefixOptions := .PrefixDropdownMaster }}
                                                                    <option value="{{ $prefixOptions.pkid }}" {{if compare $prefixOptions.pkid $.DispatchValue3r }} selected {{end}}>{{ $prefixOptions.display_text }}</option>
                                                                    {{end}}
                                                                    </select>
                                            </div>
                                            <div class="col-md-1" style="padding-left: 0px; ">
                                                <button name="prefix-btn" type="submit" class="btn green" style="height: 34px;width: 80px">Save</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <hr/>

                            <div class="row" >
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label " style="padding-left:0"><span class="required" aria-required="true"></span>Machine Code : </label>

                                    </div>
                                </div>
                            </div>

                            <div class="row" style="padding-bottom: 10px;">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <form method="POST" class="form-horizontal">
                                            <input type="hidden" name="prefix_master" value="8" /> {{ .xsrfdata }}
                                            <div class="col-md-2" style="padding-left: 0px; ">
                                                <select id="machine_code_3l" name="machine_code_3l" class="form-control select2-multiple ite" data-placeholder="Choose..">
                                                                    <option disabled selected value>Choose..</option>
                                                                    {{ range $prefixOptions := .PrefixDropdownMaster }}
                                                                    <option value="{{ $prefixOptions.pkid }}" {{if compare $prefixOptions.pkid $.MachineCodeValue3l }} selected {{end}}>{{ $prefixOptions.display_text }}>{{ $prefixOptions.display_text }}</option>
                                                                    {{end}}
                                                                    </select>
                                            </div>
                                            <div class="col-md-2" style="padding-left: 0px; ">
                                                <select id="machine_code_2l" name="machine_code_2l" class="form-control select2-multiple ite" data-placeholder="Choose..">
                                                                    <option disabled selected value>Choose..</option>
                                                                    {{ range $prefixOptions := .PrefixDropdownMaster }}
                                                                    <option value="{{ $prefixOptions.pkid }}" {{if compare $prefixOptions.pkid $.MachineCodeValue2l }} selected {{end}}>{{ $prefixOptions.display_text }}>{{ $prefixOptions.display_text }}</option>
                                                                    {{end}}
                                                                    </select>
                                            </div>
                                            <div class="col-md-1" style="padding-left: 0px; ">
                                                <input name="machine_code_1l" type="text" class="form-control" value="{{.MachineCodeValue1l}}">
                                            </div>
                                            <div class="col-md-1" style="padding-left: 0px; ">
                                                <input name="machine_code_0" type="text" class="form-control" value="" placeholder="Number Series" readonly>
                                            </div>
                                            <div class="col-md-1" style="padding-left: 0px; ">
                                                <input name="machine_code_1r" type="text" class="form-control" value="{{.MachineCodeValue1r}}">
                                            </div>
                                            <div class="col-md-2" style="padding-left: 0px; ">
                                                <select id="machine_code_2r" name="machine_code_2r" class="form-control select2-multiple ite" data-placeholder="Choose..">
                                                                    <option disabled selected value>Choose..</option>
                                                                    {{ range $prefixOptions := .PrefixDropdownMaster }}
                                                                    <option value="{{ $prefixOptions.pkid }}" {{if compare $prefixOptions.pkid $.MachineCodeValue2r }} selected {{end}}>{{ $prefixOptions.display_text }}>{{ $prefixOptions.display_text }}</option>
                                                                    {{end}}
                                                                    </select>
                                            </div>
                                            <div class="col-md-2" style="padding-left: 0px; ">
                                                <select id="machine_code_3r" name="machine_code_3r" class="form-control select2-multiple ite" data-placeholder="Choose..">
                                                                    <option disabled selected value>Choose..</option>
                                                                    {{ range $prefixOptions := .PrefixDropdownMaster }}
                                                                    <option value="{{ $prefixOptions.pkid }}" {{if compare $prefixOptions.pkid $.MachineCodeValue3r }} selected {{end}}>{{ $prefixOptions.display_text }}>{{ $prefixOptions.display_text }}</option>
                                                                    {{end}}
                                                                    </select>
                                            </div>
                                            <div class="col-md-1" style="padding-left: 0px; ">
                                                <button name="prefix-btn" type="submit" class="btn green" style="height: 34px;width: 80px">Save</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <hr/>
                            
                            <div class="row" >
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label " style="padding-left:0"><span class="required" aria-required="true"></span>Production Order Code : </label>

                                    </div>
                                </div>
                                <!--/row-->
                            </div>

                            <div class="row" style="padding-bottom: 10px;">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <form method="POST" class="form-horizontal">
                                            <input type="hidden" name="prefix_master" value="9" /> {{ .xsrfdata }}
                                            <div class="col-md-2" style="padding-left: 0px; ">
                                                <select id="prod_order_code_3l" name="prod_order_code_3l" class="form-control select2-multiple ite" data-placeholder="Choose..">
                                                                    <option disabled selected value>Choose..</option>
                                                                    {{ range $prefixOptions := .PrefixDropdownMaster }}
                                                                    <option value="{{ $prefixOptions.pkid }}"  {{if compare $prefixOptions.pkid $.ProdOrderValue3l }} selected {{end}}>{{ $prefixOptions.display_text }}>{{ $prefixOptions.display_text }}</option>
                                                                    {{end}}
                                                                    </select>
                                            </div>
                                            <div class="col-md-2" style="padding-left: 0px; ">
                                                <select id="prod_order_code_2l" name="prod_order_code_2l" class="form-control select2-multiple ite" data-placeholder="Choose..">
                                                                    <option disabled selected value>Choose..</option>
                                                                    {{ range $prefixOptions := .PrefixDropdownMaster }}
                                                                    <option value="{{ $prefixOptions.pkid }}"  {{if compare $prefixOptions.pkid $.ProdOrderValue2l }} selected {{end}}>{{ $prefixOptions.display_text }}>{{ $prefixOptions.display_text }}</option>
                                                                    {{end}}
                                                                    </select>
                                            </div>
                                            <div class="col-md-1" style="padding-left: 0px; ">
                                                <input name="prod_order_code_1l" type="text" class="form-control" value="{{.ProdOrderValue1l}}">
                                            </div>
                                            <div class="col-md-1" style="padding-left: 0px; ">
                                                <input name="prod_order_code_0" type="text" class="form-control" value="" placeholder="Number Series" readonly>
                                            </div>
                                            <div class="col-md-1" style="padding-left: 0px; ">
                                                <input name="prod_order_code_1r" type="text" class="form-control" value="{{.ProdOrderValue1r}}">
                                            </div>
                                            <div class="col-md-2" style="padding-left: 0px; ">
                                                <select id="prod_order_code_2r" name="prod_order_code_2r" class="form-control select2-multiple ite" data-placeholder="Choose..">
                                                                    <option disabled selected value>Choose..</option>
                                                                    {{ range $prefixOptions := .PrefixDropdownMaster }}
                                                                    <option value="{{ $prefixOptions.pkid }}"  {{if compare $prefixOptions.pkid $.ProdOrderValue2r }} selected {{end}}>{{ $prefixOptions.display_text }}>{{ $prefixOptions.display_text }}</option>
                                                                    {{end}}
                                                                    </select>
                                            </div>
                                            <div class="col-md-2" style="padding-left: 0px; ">
                                                <select id="prod_order_code_3r" name="prod_order_code_3r" class="form-control select2-multiple ite" data-placeholder="Choose..">
                                                                    <option disabled selected value>Choose..</option>
                                                                    {{ range $prefixOptions := .PrefixDropdownMaster }}
                                                                    <option value="{{ $prefixOptions.pkid }}"  {{if compare $prefixOptions.pkid $.ProdOrderValue3r }} selected {{end}}>{{ $prefixOptions.display_text }}>{{ $prefixOptions.display_text }}</option>
                                                                    {{end}}
                                                                    </select>
                                            </div>
                                            <div class="col-md-1" style="padding-left: 0px; ">
                                                <button name="prefix-btn" type="submit" class="btn green" style="height: 34px;width: 80px">Save</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <hr/>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label " style="padding-left:0"><span class="required" aria-required="true"></span>Support Ticket Code: </label>

                                    </div>
                                </div>
                            </div>

                            <div class="row" style="padding-bottom: 10px;">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <form method="POST" class="form-horizontal">
                                            <input type="hidden" name="prefix_master" value="10" /> {{ .xsrfdata }}
                                            <div class="col-md-2" style="padding-left: 0px; ">
                                                <select id="support_ticket_code_3l" name="support_ticket_code_3l" class="form-control select2-multiple ite" data-placeholder="Choose..">
                                                                    <option disabled selected value>Choose..</option>
                                                                    {{ range $prefixOptions := .PrefixDropdownMaster }}
                                                                    <option value="{{ $prefixOptions.pkid }}" {{if compare $prefixOptions.pkid $.CustomerTicketValue3l }} selected {{end}}>{{ $prefixOptions.display_text }}</option>
                                                                    {{end}}
                                                                    </select>
                                            </div>
                                            <div class="col-md-2" style="padding-left: 0px; ">
                                                <select id="support_ticket_code_2l" name="support_ticket_code_2l" class="form-control select2-multiple ite" data-placeholder="Choose..">
                                                                    <option disabled selected value>Choose..</option>
                                                                    {{ range $prefixOptions := .PrefixDropdownMaster }}
                                                                    <option value="{{ $prefixOptions.pkid }}" {{if compare $prefixOptions.pkid $.CustomerTicketValue2l }} selected {{end}}>{{ $prefixOptions.display_text }}</option>
                                                                    {{end}}
                                                                    </select>
                                            </div>
                                            <div class="col-md-1" style="padding-left: 0px; ">
                                                <input name="support_ticket_code_1l" type="text" class="form-control" value="{{.CustomerTicketValue1l}}">
                                            </div>
                                            <div class="col-md-1" style="padding-left: 0px; ">
                                                <input name="support_ticket_code_0" type="text" class="form-control" value="" placeholder="Number Series" readonly>
                                            </div>
                                            <div class="col-md-1" style="padding-left: 0px; ">
                                                <input name="support_ticket_code_1r" type="text" class="form-control" value="{{.CustomerTicketValue1r}}">
                                            </div>
                                            <div class="col-md-2" style="padding-left: 0px; ">
                                                <select id="support_ticket_code_2r" name="support_ticket_code_2r" class="form-control select2-multiple ite" data-placeholder="Choose..">
                                                                    <option disabled selected value>Choose..</option>
                                                                    {{ range $prefixOptions := .PrefixDropdownMaster }}
                                                                    <option value="{{ $prefixOptions.pkid }}" {{if compare $prefixOptions.pkid $.CustomerTicketValue2r }} selected {{end}}>{{ $prefixOptions.display_text }}</option>
                                                                    {{end}}
                                                                    </select>
                                            </div>
                                            <div class="col-md-2" style="padding-left: 0px; ">
                                                <select id="support_ticket_code_3r" name="support_ticket_code_3r" class="form-control select2-multiple ite" data-placeholder="Choose..">
                                                                    <option disabled selected value>Choose..</option>
                                                                    {{ range $prefixOptions := .PrefixDropdownMaster }}
                                                                    <option value="{{ $prefixOptions.pkid }}" {{if compare $prefixOptions.pkid $.CustomerTicketValue3r }} selected {{end}}>{{ $prefixOptions.display_text }}</option>
                                                                    {{end}}
                                                                    </select>
                                            </div>
                                            <div class="col-md-1" style="padding-left: 0px; ">
                                                <button name="prefix-btn" type="submit" class="btn green" style="height: 34px;width: 80px">Save</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <hr/>

                            <div class="row" >
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label " style="padding-left:0"><span class="required" aria-required="true"></span>Employee ID Code : </label>

                                    </div>
                                </div>
                            </div>
                           
                            <div class="row" style="padding-bottom: 10px;">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <form method="POST" class="form-horizontal">
                                            <input type="hidden" name="prefix_master" value="7" /> {{ .xsrfdata }}
                                            <div class="col-md-2" style="padding-left: 0px; ">
                                                <select id="employee_code_3l" name="employee_code_3l" class="form-control select2-multiple ite" data-placeholder="Choose..">
                                                                    <option disabled selected value>Choose..</option>
                                                                    {{ range $prefixOptions := .PrefixDropdownMaster }}
                                                                    <option value="{{ $prefixOptions.pkid }}"  {{if compare $prefixOptions.pkid $.EmployeeValue3l }} selected {{end}}>{{ $prefixOptions.display_text }}</option>
                                                                    {{end}}
                                                                    </select>
                                            </div>
                                            <div class="col-md-2" style="padding-left: 0px; ">
                                                <select id="employee_code_2l" name="employee_code_2l" class="form-control select2-multiple ite" data-placeholder="Choose..">
                                                                    <option disabled selected value>Choose..</option>
                                                                    {{ range $prefixOptions := .PrefixDropdownMaster }}
                                                                    <option value="{{ $prefixOptions.pkid }}"  {{if compare $prefixOptions.pkid $.EmployeeValue2l }} selected {{end}}>{{ $prefixOptions.display_text }}</option>
                                                                    {{end}}
                                                                    </select>
                                            </div>
                                            <div class="col-md-1" style="padding-left: 0px; ">
                                                <input name="employee_code_1l" type="text" class="form-control" value="{{.EmployeeValue1l}}">
                                            </div>
                                            <div class="col-md-1" style="padding-left: 0px; ">
                                                <input name="employee_code_0" type="text" class="form-control" value="" placeholder="Number Series" readonly>
                                            </div>
                                            <div class="col-md-1" style="padding-left: 0px; ">
                                                <input name="employee_code_1r" type="text" class="form-control" value="{{.EmployeeValue1r}}">
                                            </div>
                                            <div class="col-md-2" style="padding-left: 0px; ">
                                                <select id="employee_code_2r" name="employee_code_2r" class="form-control select2-multiple ite" data-placeholder="Choose..">
                                                                    <option disabled selected value>Choose..</option>
                                                                    {{ range $prefixOptions := .PrefixDropdownMaster }}
                                                                    <option value="{{ $prefixOptions.pkid }}"  {{if compare $prefixOptions.pkid $.EmployeeValue2r }} selected {{end}}>{{ $prefixOptions.display_text }}</option>
                                                                    {{end}}
                                                                    </select>
                                            </div>
                                            <div class="col-md-2" style="padding-left: 0px; ">
                                                <select id="employee_code_3r" name="employee_code_3r" class="form-control select2-multiple ite" data-placeholder="Choose..">
                                                                    <option disabled selected value>Choose..</option>
                                                                    {{ range $prefixOptions := .PrefixDropdownMaster }}
                                                                    <option value="{{ $prefixOptions.pkid }}"  {{if compare $prefixOptions.pkid $.EmployeeValue3r }} selected {{end}}>{{ $prefixOptions.display_text }}</option>
                                                                    {{end}}
                                                                    </select>
                                            </div>
                                            <div class="col-md-1" style="padding-left: 0px; ">
                                                <button name="prefix-btn" type="submit" class="btn green" style="height: 34px;width: 80px">Save</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

</div>
<!-- END PAGE CONTENT -->
</div>
<!-- END BODY CONTENT -->
{{end}} {{define "pagelevelplugins"}}
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="/static/assets/global/scripts/datatable.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
<!--<script src="https://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>-->
<script src="/static/assets/global/plugins/fuelux/js/spinner.min.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/bootstrap-select/js/bootstrap-select.min.js" type="text/javascript"></script>

<script src="/static/assets/global/plugins/bootstrap-markdown/lib/markdown.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/bootstrap-markdown/js/bootstrap-markdown.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/bootstrap-summernote/summernote.min.js" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->
{{end}} {{define "pagelevelscripts"}}
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="/static/assets/pages/scripts/components-bootstrap-select.min.js" type="text/javascript"></script>
<script src="/static/assets/pages/scripts/components-bootstrap-touchspin.js" type="text/javascript"></script>
<script src="/static/assets/pages/scripts/table-datatables-managed.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.js"></script>
<script src="/static/assets/pages/scripts/components-editors.min.js" type="text/javascript"></script>
{{end}}