{{ template "master_layout.html" . }}

{{ define "pagelevelstyles"}} 
 
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link href="/static/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.css" rel="stylesheet" type="text/css" />
	<link href="/static/assets/global/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link href="/static/assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />

	<link href="/static/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL STYLES -->
{{end}}

{{ define "content" }}  
         <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                    <!-- BEGIN PAGE BASE CONTENT -->

                    <!-- Manage Roles -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="portlet light bordered">
                                
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="icon-equalizer font-green"></i>
                                        <span class="caption-subject bold font-green uppercase">Manage Roles </span>

                                    </div>
                                    <div class="actions">
                                        <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" style="width:20px; height:20px; line-height: 0.999; padding-left:4px; "> </a>
                                    </div>
                                    <div class="tools nts-tools faq-links" style="margin-top:0;">
                                    </div>                       
                                </div>
                                  <div class="portlet-body form" style="display:block" >
                                    <div class="form-wizard">
                                    <div class="form-body" >
                                    {{if .inserted}}
                                    <div id="myModal" class="alert alert-block alert-success fade in">
                                     <h4 class="alert-heading">The user roles have been inserted.</h4>
                                     <a class="btn green" href="{{urlfor "SettingsController.ManageUserRoles"}}">OK</a>
                                    </div>   
                                    {{end}}

                                        <form  class="add-user-form" method="POST">
                                            <input type="hidden" name="hidden_method" value="manageroles" />
                                          {{ .xsrfdata }}
                                          <div class="row">
                                          <!-- <div class="col-md-6" style=" border-right:1px solid #c2cad8;"> -->
                                          
                                            <div class="row" style="padding-top: 25px;">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-2" ><span class="required" aria-required="true">*</span>User: </label>
                                                        <div class="col-md-10">
                                                        <select id="user" name="user_name" onchange="this.form.submit()" class="form-control select2-multiple " data-placeholder="Choose a User">
                                                            <option disabled selected value> -- Select a user -- </option>
                                                            <optgroup value="{{.FormItems.OrgUserName}}">

                                                            {{ range $users := .Retrieved }}
                                                            <option value="{{ $users.username }}" {{if compare $.Retrieveduser $users.username }} selected {{end}}>{{ $users.username }} </option>
                                                            {{end}}
                                                            </optgroup>
                                                        </select>
                                                        {{if .Errors.OrgUserName}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.OrgUserName}}</span>{{end}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                                <!--<div class="col-md-6">
                                                    <button name="roles-button" value="showroles" type="submit" class="btn green" style=" text-align: center;">Show User Roles</button>
                                                </div>-->
                                                <!--/span-->
                                            </div>
                                            <!-- <div class="form-group" style="margin-bottom:27px;">
                                                <label class="control-label " style="text-align:right;"><span class="required" aria-required="true">*</span>Password </label>
                                                
                                            </div> -->
                                          <!-- </div> -->
                                          <!-- <div class="col-md-6"> -->
                                          <hr>
                                            <div class="row" style="margin-top: -20px; margin-bottom: -20px;">
                                                <div class="col-md-2" style="    margin-top: 17px;">
                                                <!-- <h2 style="margin-left: 15px;">Roles</h2> -->
                                                <span class="caption-subject bold font-green uppercase" style="font-size: 16px;margin-left: 15px;">Roles</span>
                                                </div>
                                                <div class="col-md-9" >
                                                <div class="mt-checkbox-inline">
                                                <label class="mt-checkbox">
                                                    <input type="checkbox" name="select-all" id="select-all" {{if .FormItems.SelectAll}} checked {{end}}>Toggle all
                                                    <span></span>
                                                </label>
                                                <label class="mt-checkbox">
                                                    <input type="checkbox" name="select-add" id="select-add" {{if .FormItems.SelectAdd}} checked {{end}}>Toggle all Add
                                                    <span></span>
                                                </label>
                                                <label class="mt-checkbox">
                                                    <input type="checkbox" name="select-view" id="select-view" {{if .FormItems.SelectView}} checked {{end}}>Toggle all View
                                                    <span></span>
                                                </label>
                                                </div>
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="row" style="width: 102%;">
                                              <div class="col-md-12" style="height: 300px;overflow-y: scroll;">
                                                <!-- Left Side -->
                                                <div class="col-md-6" style=" border-right:1px solid #c2cad8;">
                                                    <h4 style="color:#5b9bd1; font-size: 18px;">Settings</h4>
                                                    <hr>
                                            <div class="row">
                                                <div class="col-md-6" >
                                                    <h4 style="font-size: 16px;">Users</h4>
                                                    <div class="mt-checkbox-inline" style=" margin-top: -15px; margin-bottom: -15px;">
                                                        <label class="mt-checkbox">
                                                            <input name="uadd" type="checkbox" class="add" {{if .FormItems.Usersadd}} checked {{end}}
                                                            {{if compare .RetrievedRoles.Usersadd "on"}} checked 
                                                            {{end}}
                                                            >Add
                                                            <span></span>
                                                        </label>
                                                            <label class="mt-checkbox">
                                                            <input name="uview" type="checkbox" class="view" {{if .FormItems.Usersview}} checked {{end}}
                                                            {{if compare .RetrievedRoles.Usersview "on"}} checked 
                                                            {{end}}
                                                            >View
                                                            <span></span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6" >
                                                    <h4 style="font-size: 16px;">Configure</h4>
                                                    <div class="mt-checkbox-inline" style=" margin-top: -15px; margin-bottom: -15px;">
                                                        <label class="mt-checkbox">
                                                            <input name="cmodify" type="checkbox" class="add" {{if .FormItems.ConfigModify}} checked {{end}}
                                                            {{if compare .RetrievedRoles.ConfigModify "on"}} checked 
                                                            {{end}}
                                                            >Modify
                                                            <span></span>
                                                        </label>
                                                            <label class="mt-checkbox">
                                                            <input name="cview" type="checkbox" class="view" {{if .FormItems.ConfigView}} checked {{end}}
                                                            {{if compare .RetrievedRoles.ConfigView "on"}} checked 
                                                            {{end}}
                                                            >View
                                                            <span></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6" >
                                                    <h4 style="font-size: 16px;">Roles</h4>
                                                    <div class="mt-checkbox-inline" style=" margin-top: -15px; margin-bottom: -15px;">
                                                        <label class="mt-checkbox">
                                                            <input name="roles_add" type="checkbox" class="add" {{if .FormItems.Rolesadd}} checked {{end}}
                                                            {{if compare .RetrievedRoles.Rolesadd "on"}} checked 
                                                            {{end}}
                                                            >Manage
                                                            <span></span>
                                                        </label>
                                                            <label class="mt-checkbox">
                                                            <input name="roles_view" type="checkbox" class="view" {{if .FormItems.Rolesview}} checked {{end}}
                                                            {{if compare .RetrievedRoles.Rolesview "on"}} checked 
                                                            {{end}}
                                                            >View
                                                            <span></span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6" >
                                                    
                                                </div>
                                            </div>
                                                    <hr>
                                                    <h4 style="color:#5b9bd1; font-size: 18px;">Suppliers</h4>
                                                    <hr>
                                            <div class="row">
                                                <div class="col-md-6" >
                                                    <h4 style="font-size: 16px;">Company</h4>
                                                    <div class="mt-checkbox-inline" style=" margin-top: -15px; margin-bottom: -15px;">
                                                        <label class="mt-checkbox">
                                                            <input name="company_add" type="checkbox" class="add" {{if .FormItems.CompanyAdd}} checked {{end}}
                                                            {{if compare .RetrievedRoles.CompanyAdd "on"}} checked 
                                                            {{end}}
                                                            >Add 
                                                            <span></span>
                                                        </label>
                                                            <label class="mt-checkbox">
                                                            <input name="company_view" type="checkbox" class="view" {{if .FormItems.CompanyView}} checked {{end}}
                                                            {{if compare .RetrievedRoles.CompanyView "on"}} checked 
                                                            {{end}}
                                                            >View 
                                                            <span></span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6" >
                                                    <h4 style="font-size: 16px;">Items Association</h4>
                                                    <div class="mt-checkbox-inline" style=" margin-top: -15px; margin-bottom: -15px;">
                                                        <label class="mt-checkbox">
                                                            <input name="ass_manage" type="checkbox" class="add" {{if .FormItems.AssManage}} checked {{end}}
                                                            {{if compare .RetrievedRoles.AssManage "on"}} checked 
                                                            {{end}}
                                                            >Manage
                                                            <span></span>
                                                        </label>
                                                            <label class="mt-checkbox">
                                                            <input name="ass_view" type="checkbox" class="view" {{if .FormItems.AssView}} checked {{end}}
                                                            {{if compare .RetrievedRoles.AssView "on"}} checked 
                                                            {{end}}
                                                            >View
                                                            <span></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                                    <hr>
                                                    <h4 style="color:#5b9bd1; font-size: 18px;">Customers</h4>
                                                    <hr>
                                            <div class="row">
                                                <div class="col-md-6" >
                                                    <h4 style="font-size: 16px;">Company</h4>
                                                    <div class="mt-checkbox-inline" style=" margin-top: -15px; margin-bottom: -15px;">
                                                        <label class="mt-checkbox">
                                                            <input name="customers_add" type="checkbox" class="add" {{if .FormItems.CustomersAdd}} checked {{end}}
                                                            {{if compare .RetrievedRoles.CustomersAdd "on"}} checked 
                                                            {{end}}
                                                            >Add 
                                                            <span></span>
                                                        </label>
                                                            <label class="mt-checkbox">
                                                            <input name="customers_view" type="checkbox" class="view" {{if .FormItems.CustomersView}} checked {{end}}
                                                            {{if compare .RetrievedRoles.CustomersView "on"}} checked 
                                                            {{end}}
                                                            >View 
                                                            <span></span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6" >
                                                    <h4 style="font-size: 16px;">Products Association</h4>
                                                    <div class="mt-checkbox-inline" style=" margin-top: -15px; margin-bottom: -15px;">
                                                        <label class="mt-checkbox">
                                                            <input name="ass_products" type="checkbox" class="add" {{if .FormItems.ProductAss}} checked {{end}}
                                                            {{if compare .RetrievedRoles.ProductAss "on"}} checked 
                                                            {{end}}
                                                            >Associate
                                                            <span></span>
                                                        </label>
                                                            <label class="mt-checkbox">
                                                            <input name="ass_products_view" type="checkbox" class="view" {{if .FormItems.AssProductView}} checked {{end}}
                                                            {{if compare .RetrievedRoles.AssProductView "on"}} checked 
                                                            {{end}}
                                                            >View
                                                            <span></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                                    <hr>
                                                    <h4 style="color:#5b9bd1; font-size: 18px;">Statistics</h4>
                                                    <hr>
                                            <div class="row">
                                                <div class="col-md-6" >
                                                    <div class="mt-checkbox-inline" style=" margin-top: -15px; margin-bottom: -15px;">
                                                        <label class="mt-checkbox">
                                                            <input name="statistics_create" type="checkbox" class="add" {{if .FormItems.StatisticsCreate}} checked {{end}}
                                                            {{if compare .RetrievedRoles.StatisticsCreate "on"}} checked 
                                                            {{end}}
                                                            >Create
                                                            <span></span>
                                                        </label>
                                                            <label class="mt-checkbox">
                                                            <input name="statistics_view" type="checkbox" class="view" {{if .FormItems.StatisticsView}} checked {{end}}
                                                            {{if compare .RetrievedRoles.StatisticsView "on"}} checked 
                                                            {{end}}
                                                            >View
                                                            <span></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                                    <!-- <h4>PO</h4>
                                                    <div class="mt-checkbox-inline" style=" margin-top: -15px; margin-bottom: -15px;">
                                                        <label class="mt-checkbox">
                                                            <input name="po_stats" type="checkbox" class="view" >View
                                                            <span></span>
                                                        </label>
                                                    </div>
                                                    <h4>GRN</h4>
                                                    <div class="mt-checkbox-inline" style=" margin-top: -15px; margin-bottom: -15px;">
                                                        <label class="mt-checkbox">
                                                            <input name="grn_stats" type="checkbox" class="view" >View
                                                            <span></span>
                                                        </label>
                                                    </div>
                                                    <h4>Service Contracts</h4>
                                                    <div class="mt-checkbox-inline" style=" margin-top: -15px; margin-bottom: -15px;">
                                                        <label class="mt-checkbox">
                                                            <input name="servicecontract_stats" type="checkbox" class="view" >View
                                                            <span></span>
                                                        </label>
                                                    </div>
                                                    <h4>QA</h4>
                                                    <div class="mt-checkbox-inline" style=" margin-top: -15px; margin-bottom: -15px;">
                                                        <label class="mt-checkbox">
                                                            <input name="qa_stats" type="checkbox" class="view" >View
                                                            <span></span>
                                                        </label>
                                                    </div>
                                                    <h4>Customer Orders</h4>
                                                    <div class="mt-checkbox-inline" style=" margin-top: -15px; margin-bottom: -15px;">
                                                        <label class="mt-checkbox">
                                                            <input name="orders_stats" type="checkbox" class="view" >View
                                                            <span></span>
                                                        </label>
                                                    </div>
                                                    <h4>Customer Complaints</h4>
                                                    <div class="mt-checkbox-inline" style=" margin-top: -15px; margin-bottom: -15px;">
                                                        <label class="mt-checkbox">
                                                            <input name="complaints_stats" type="checkbox" class="view" >View
                                                            <span></span>
                                                        </label>
                                                    </div>
                                                    <h4>Customer History</h4>
                                                    <div class="mt-checkbox-inline" style=" margin-top: -15px; margin-bottom: -15px;">
                                                        <label class="mt-checkbox">
                                                            <input name="history_stats" type="checkbox" class="view" >View
                                                            <span></span>
                                                        </label>
                                                    </div> -->
                                                    <hr>
                                                    <h4 style="color:#5b9bd1; font-size: 18px;">Reports</h4>
                                                    <hr>
                                            <div class="row">
                                                <div class="col-md-6" >
                                                    <h4 style="font-size: 16px;">Master</h4>
                                                    <div class="mt-checkbox-inline" style=" margin-top: -15px; margin-bottom: -15px;">
                                                        <label class="mt-checkbox">
                                                            <input name="master_add" type="checkbox" class="add" {{if .FormItems.MasterAdd}} checked {{end}}
                                                            {{if compare .RetrievedRoles.MasterAdd "on"}} checked 
                                                            {{end}}
                                                            >Create
                                                            <span></span>
                                                        </label>
                                                        <label class="mt-checkbox">
                                                            <input name="master_view" type="checkbox" class="view" {{if .FormItems.MasterView}} checked {{end}}
                                                            {{if compare .RetrievedRoles.MasterView "on"}} checked 
                                                            {{end}}
                                                            >View
                                                            <span></span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6" >
                                                    <h4 style="font-size: 16px;">Reports</h4>
                                                    <div class="mt-checkbox-inline" style=" margin-top: -15px; margin-bottom: -15px;">
                                                        <label class="mt-checkbox">
                                                            <input name="report_create" type="checkbox" class="add" {{if .FormItems.CreateReport}} checked {{end}}
                                                            {{if compare .RetrievedRoles.CreateReport "on"}} checked 
                                                            {{end}}
                                                            >Create
                                                            <span></span>
                                                        </label>
                                                        <label class="mt-checkbox">
                                                            <input name="report_view" type="checkbox" class="view" {{if .FormItems.ViewReport}} checked {{end}}
                                                            {{if compare .RetrievedRoles.ViewReport "on"}} checked 
                                                            {{end}}
                                                            >View
                                                            <span></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                                    <!-- <hr>
                                                    <h3>Customer Support</h3>
                                                    <hr>
                                                    <h4>Support Ticket</h4>
                                                    <div class="mt-checkbox-inline" style=" margin-top: -15px; margin-bottom: -15px;">
                                                        <label class="mt-checkbox">
                                                            <input name="support_add" type="checkbox" class="add" >Add
                                                            <span></span>
                                                        </label>
                                                            <label class="mt-checkbox">
                                                            <input name="support_view" type="checkbox" class="view" >View
                                                            <span></span>
                                                        </label>
                                                    </div> -->
                                                    
                                                </div>
                                                <!-- Right Side -->
                                                <div class="col-md-6">
                                                    <h4 style="color:#5b9bd1; font-size: 18px;">Stock</h4>
                                                    <hr>
                                            <div class="row">
                                                <div class="col-md-6" >
                                                    <h4 style="font-size: 16px;">Items</h4>
                                                    <div class="mt-checkbox-inline" style=" margin-top: -15px; margin-bottom: -15px;">
                                                        <label class="mt-checkbox">
                                                            <input name="iadd" type="checkbox" class="add" 
                                                            {{if .FormItems.Itemsadd}} checked 
                                                            {{end}}
                                                            {{if compare .RetrievedRoles.Itemsadd "on"}} checked 
                                                            {{end}}
                                                            >Add
                                                            <span></span>
                                                        </label>
                                                            <label class="mt-checkbox">
                                                            <input name="iview" type="checkbox" class="view" {{if .FormItems.Itemsview}} checked {{end}}
                                                            {{if compare .RetrievedRoles.Itemsview "on"}} checked 
                                                            {{end}}
                                                            >View
                                                            <span></span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6" >
                                                    <h4 style="font-size: 16px;">Inventory</h4>
                                                    <div class="mt-checkbox-inline" style=" margin-top: -15px; margin-bottom: -15px;">
                                                        <label class="mt-checkbox">
                                                            <input name="inadd" type="checkbox" class="add" {{if .FormItems.Inventoryadd}} checked {{end}}
                                                            {{if compare .RetrievedRoles.Inventoryadd "on"}} checked 
                                                            {{end}}
                                                            >Add
                                                            <span></span>
                                                        </label>
                                                            <label class="mt-checkbox">
                                                            <input name="inview" type="checkbox" class="view" {{if .FormItems.Inventoryview}} checked {{end}}
                                                            {{if compare .RetrievedRoles.Inventoryview "on"}} checked 
                                                            {{end}}
                                                            >View
                                                            <span></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6" >
                                                    <h4 style="font-size: 16px;">GRN</h4>
                                                    <div class="mt-checkbox-inline" style=" margin-top: -15px; margin-bottom: -15px;">
                                                        <label class="mt-checkbox">
                                                            <input name="grnadd" type="checkbox" class="add" {{if .FormItems.GRNadd}} checked {{end}}
                                                            {{if compare .RetrievedRoles.GRNadd "on"}} checked 
                                                            {{end}}
                                                            >Add
                                                            <span></span>
                                                        </label>
                                                            <label class="mt-checkbox">
                                                            <input name="grnview" type="checkbox" class="view" {{if .FormItems.GRNview}} checked {{end}}
                                                            {{if compare .RetrievedRoles.GRNview "on"}} checked 
                                                            {{end}}
                                                            >View
                                                            <span></span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6" >
                                                </div>
                                            </div>
                                                    <!-- <h4>Inventory Usage</h4>
                                                    <div class="mt-checkbox-inline" style=" margin-top: -15px; margin-bottom: -15px;">
                                                        <label class="mt-checkbox">
                                                            <input name="usageview" type="checkbox" class="view" >View
                                                            <span></span>
                                                        </label>
                                                    </div> -->
                                                    <hr>
                                                    <h4 style="color:#5b9bd1; font-size: 18px;">Purchases</h4>
                                                    <hr>
                                            <div class="row">
                                                <div class="col-md-6" >
                                                    <h4 style="font-size: 16px;">PO</h4>
                                                    <div class="mt-checkbox-inline" style=" margin-top: -15px; margin-bottom: -15px;">
                                                        <label class="mt-checkbox">
                                                            <input name="po_add" type="checkbox" class="add" {{if .FormItems.PoAdd}} checked {{end}}
                                                            {{if compare .RetrievedRoles.PoAdd "on"}} checked 
                                                            {{end}}
                                                            >Create 
                                                            <span></span>
                                                        </label>
                                                            <label class="mt-checkbox">
                                                            <input name="po_view" type="checkbox" class="view" {{if .FormItems.PoView}} checked {{end}}
                                                            {{if compare .RetrievedRoles.PoView "on"}} checked 
                                                            {{end}}
                                                            >View 
                                                            <span></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                                    <hr>
                                                    <h4 style="color:#5b9bd1; font-size: 18px;">Sales</h4>
                                                    <hr>
                                            <div class="row">
                                                <div class="col-md-6" >
                                                    <h4 style="font-size: 16px;">New</h4>
                                                    <div class="mt-checkbox-inline" style=" margin-top: -15px; margin-bottom: -15px;">
                                                        <label class="mt-checkbox">
                                                            <input name="sales_add" type="checkbox" class="add" {{if .FormItems.SalesAdd}} checked {{end}}
                                                            {{if compare .RetrievedRoles.SalesAdd "on"}} checked 
                                                            {{end}}
                                                            >Add 
                                                            <span></span>
                                                        </label>
                                                            <label class="mt-checkbox">
                                                            <input name="sales_view" type="checkbox" class="view" {{if .FormItems.SalesView}} checked {{end}}
                                                            {{if compare .RetrievedRoles.SalesView "on"}} checked 
                                                            {{end}}
                                                            >View 
                                                            <span></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                                    <hr>
                                                    <h4 style="color:#5b9bd1; font-size: 18px;">Production</h4>
                                                    <hr>
                                            <div class="row">
                                                <div class="col-md-6" >
                                                    <h4 style="font-size: 16px;">Orders</h4>
                                                    <div class="mt-checkbox-inline" style=" margin-top: -15px; margin-bottom: -15px;">
                                                        <label class="mt-checkbox">
                                                            <input name="production_create" type="checkbox" class="add" {{if .FormItems.ProductionCreate}} checked {{end}}
                                                            {{if compare .RetrievedRoles.ProductionCreate "on"}} checked 
                                                            {{end}}
                                                            >Create
                                                            <span></span>
                                                        </label>
                                                            <label class="mt-checkbox">
                                                            <input name="production_view" type="checkbox" class="view" {{if .FormItems.ProductionView}} checked {{end}}
                                                            {{if compare .RetrievedRoles.ProductionView "on"}} checked 
                                                            {{end}}
                                                            >View
                                                            <span></span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6" >
                                                    <h4 style="font-size: 16px;">Products</h4>
                                                    <div class="mt-checkbox-inline" style=" margin-top: -15px; margin-bottom: -15px;">
                                                        <label class="mt-checkbox">
                                                            <input name="products_add" type="checkbox" class="add" {{if .FormItems.ProductsAdd}} checked {{end}}
                                                            {{if compare .RetrievedRoles.ProductsAdd "on"}} checked 
                                                            {{end}}
                                                            >Add
                                                            <span></span>
                                                        </label>
                                                            <label class="mt-checkbox">
                                                            <input name="products_view" type="checkbox" class="view" {{if .FormItems.ProductsView}} checked {{end}}
                                                            {{if compare .RetrievedRoles.ProductsView "on"}} checked 
                                                            {{end}}
                                                            >View
                                                            <span></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                                    <!-- <h4>BOM</h4>
                                                    <div class="mt-checkbox-inline" style=" margin-top: -15px; margin-bottom: -15px;">
                                                        <label class="mt-checkbox">
                                                            <input name="bom_modify" type="checkbox" class="add" >Modify
                                                            <span></span>
                                                        </label>
                                                            <label class="mt-checkbox">
                                                            <input name="bom_view" type="checkbox" class="view" >View
                                                            <span></span>
                                                        </label>
                                                    </div> -->
                                                    <!-- <h4>Jobcard</h4>
                                                    <div class="mt-checkbox-inline" style=" margin-top: -15px; margin-bottom: -15px;">
                                                        <label class="mt-checkbox">
                                                            <input name="jobcard_add" type="checkbox" class="add" >Add
                                                            <span></span>
                                                        </label>
                                                            <label class="mt-checkbox">
                                                            <input name="jobcard_view" type="checkbox" class="view" >View
                                                            <span></span>
                                                        </label>
                                                    </div> -->
                                            <div class="row">
                                                <div class="col-md-6" >
                                                    <h4 style="font-size: 16px;">Process</h4>
                                                    <div class="mt-checkbox-inline" style=" margin-top: -15px; margin-bottom: -15px;">
                                                        <label class="mt-checkbox">
                                                            <input name="process_add" type="checkbox" class="add" {{if .FormItems.Processadd}} checked {{end}}
                                                            {{if compare .RetrievedRoles.Processadd "on"}} checked 
                                                            {{end}}
                                                            >Add
                                                            <span></span>
                                                        </label>
                                                        <label class="mt-checkbox">
                                                            <input name="process_view" type="checkbox" class="view" {{if .FormItems.Processview}} checked {{end}}
                                                            {{if compare .RetrievedRoles.Processview "on"}} checked 
                                                            {{end}}
                                                            >View
                                                            <span></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                                    <!-- <h4>Orders</h4>
                                                    <div class="mt-checkbox-inline" style=" margin-top: -15px; margin-bottom: -15px;">
                                                        <label class="mt-checkbox">
                                                            <input name="orders_add" type="checkbox" class="process_add" >Add
                                                            <span></span>
                                                        </label>
                                                        <label class="mt-checkbox">
                                                            <input name="orders_view" type="checkbox" class="view" >View
                                                            <span></span>
                                                        </label>
                                                    </div> -->
                                                    <hr>
                                                    <h4 style="color:#5b9bd1; font-size: 18px;">HR</h4>
                                                    <hr>
                                            <div class="row">
                                                <div class="col-md-6" >
                                                    <h4 style="font-size: 16px;">Employee Details</h4>
                                                    <div class="mt-checkbox-inline" style=" margin-top: -15px; margin-bottom: -15px;">
                                                        <label class="mt-checkbox">
                                                            <input name="employee_add" type="checkbox" class="add" {{if .FormItems.EmployeeAdd}} checked {{end}}
                                                            {{if compare .RetrievedRoles.EmployeeAdd "on"}} checked 
                                                            {{end}}
                                                            >Add
                                                            <span></span>
                                                        </label>
                                                            <label class="mt-checkbox">
                                                            <input name="employee_view" type="checkbox" class="view" {{if .FormItems.EmployeeView}} checked {{end}}
                                                            {{if compare .RetrievedRoles.EmployeeView "on"}} checked 
                                                            {{end}}
                                                            >View
                                                            <span></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                                </div>
                                                    <!-- <h4>Manage Leaves</h4>
                                                    <div class="mt-checkbox-inline" style=" margin-top: -15px; margin-bottom: -15px;">
                                                        <label class="mt-checkbox">
                                                            <input name="leaves_add" type="checkbox" class="add" >Add
                                                            <span></span>
                                                        </label>
                                                            <label class="mt-checkbox">
                                                            <input name="leaves_view" type="checkbox" class="view" >View
                                                            <span></span>
                                                        </label>
                                                    </div>
                                                    <h4>Manage Contracts</h4>
                                                    <div class="mt-checkbox-inline" style=" margin-top: -15px; margin-bottom: -15px;">
                                                        <label class="mt-checkbox">
                                                            <input name="contract_add" type="checkbox" class="add" >Add
                                                            <span></span>
                                                        </label>
                                                            <label class="mt-checkbox">
                                                            <input name="contract_view" type="checkbox" class="view" >View
                                                            <span></span>
                                                        </label>
                                                    </div> -->
                                                </div>
                                              </div>
                                            </div>
                                          <!-- </div> -->
                                          </div>
                                          {{if .RolesAddAccess}}
                                          {{if .NotAdmin}}
                                            <div class="form-actions" style="background:none; text-align:center">
                                                {{if .UserExists}}
                                                <span>This user already exists.</span>
                                                {{else if .UserDeactivated}}
                                                <span>The user you are trying to enter already exists and is disabled. You can enable that user from the action column below.</span>
                                                {{else}}
                                                <button name="update-button" value="updateroles" type="submit" class="btn green">Update</button>
                                                {{end}}
                                            </div>
                                            {{end}}
                                          {{end}}
                                        </form>
                                    </div> <!-- Table Portlet Body -->
                                    </div>
                                </div>
                            </div> <!-- Form Row -->
                    <!-- End Manage Roles -->


                <div id="successModal" class="modal fade bs-modal-sm" tabindex="-1" role="dialog" aria-hidden="true" style="display: none; padding-right: 15px;">
                <div class="modal-dialog modal-sm">
                <div class="modal-content">
                <div class="modal-body"> 
                <h4 class="alert-heading">The user action has been performed.</h4>
                </div>
                <div class="modal-footer">
                <a class="btn green" href="{{urlfor "SettingsController.ManageUsers"}}">OK</a>
                </div>
                </div>
                <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
                </div>

                <script type="text/javascript">
                    function manageUsers(userId,action,xsrfdata) {                       
                            $.ajax({
                                type: "GET",
                                url: "/settings/usersAJAX",
                                data: {"userId": userId, "action":action } // The data passed to / by POST method
                            }).done(function(msg) {
                                // Render your result
                                $("#successModal").modal({
                                    backdrop: 'static',
                                    keyboard: false
                                },'show');
                            });
                    }
                </script>
                                </div>

                            </div> 
                    </div>
                </div> <!-- END ROW PORTLET-->
                <!-- END PAGE BASE CONTENT -->
                </div>
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->
            
            {{end}}

 {{define "pagelevelplugins"}}
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <script src="/static/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
        <script src="/static/assets/global/scripts/datatable.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
		<!--<script src="https://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>-->
        <script src="/static/assets/global/plugins/fuelux/js/spinner.min.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.js" type="text/javascript"></script>
		<script src="/static/assets/global/plugins/bootstrap-select/js/bootstrap-select.min.js" type="text/javascript"></script>
        <!-- END PAGE LEVEL PLUGINS -->
        {{end}}
        
        {{define "pagelevelscripts"}}
        <!-- BEGIN PAGE LEVEL SCRIPTS -->
        <script src="/static/assets/pages/scripts/components-select2.min.js" type="text/javascript"></script>
		<script src="/static/assets/pages/scripts/components-bootstrap-select.min.js" type="text/javascript"></script>
        <script src="/static/assets/pages/scripts/components-bootstrap-touchspin.js" type="text/javascript"></script>
		<script src="/static/assets/pages/scripts/table-datatables-managed.js" type="text/javascript"></script>
        <script language="JavaScript">
        $('#select-all').click(function(event) {   
            if(this.checked) {
                // Iterate each checkbox
                $(':checkbox').each(function() {
                    this.checked = true;                        
                });
            }  else {  
                $(":checkbox").each(function() { 
                    this.checked = false; 
                }); 
            }
        });

        $('#select-add').click(function(event) {   
            if(this.checked) {
                // Iterate each checkbox
                $(".add").each(function() {
                    this.checked = true;                        
                });
                $("#select-view").each(function() { 
                    if ($(this).is(":checked") == true) {
                        $('#select-all').each(function() { 
                            this.checked = true; 
                        }); 
                    } 
                });
            }  else {  
                $(".add").each(function() { 
                    this.checked = false;
                    $('#select-all').each(function() { 
                        this.checked = false; 
                    }); 
                }); 
            }
        });

        $('#select-view').click(function(event) {   
            if(this.checked) {
                // Iterate each checkbox
                $(".view").each(function() {
                    this.checked = true;                        
                });
                $("#select-add").each(function() { 
                    if ($(this).is(":checked") == true) {
                        $('#select-all').each(function() { 
                            this.checked = true; 
                        }); 
                    } 
                });
            }  else {  
                $(".view").each(function() { 
                    this.checked = false; 
                    $('#select-all').each(function() { 
                        this.checked = false; 
                    }); 
                }); 
            }
        });

        </script>
        <script type="text/javascript">
        $(document).ready(function(){
            
            $('.add').change(function() {
                var addBoxesChecked = true;
                $(".add").each(function() { 
                    if ($(this).is(":checked") == false) {
                    addBoxesChecked = false;
                    } 
                });
                if (addBoxesChecked == true) {
                    $('#select-add').each(function() { 
                        this.checked = true; 
                        $("#select-view").each(function() { 
                            if ($(this).is(":checked") == true) {
                                $('#select-all').each(function() { 
                                    this.checked = true; 
                                }); 
                            } 
                        }); 
                    });
                } else {
                    $('#select-add').each(function() { 
                        this.checked = false;
                        $('#select-all').each(function() { 
                            this.checked = false; 
                        });
                    });
                }
            });

            $('.view').change(function() {
                var viewBoxesChecked = true;
                $(".view").each(function() { 
                    if ($(this).is(":checked") == false) {
                    viewBoxesChecked = false;
                    } 
                });
                if (viewBoxesChecked == true) {
                    $('#select-view').each(function() { 
                        this.checked = true; 
                        $("#select-add").each(function() { 
                            if ($(this).is(":checked") == true) {
                                $('#select-all').each(function() { 
                                    this.checked = true; 
                                }); 
                            } 
                        });
                    });
                } else {
                    $('#select-view').each(function() { 
                        this.checked = false; 
                        $('#select-all').each(function() { 
                            this.checked = false; 
                        });
                    });
                }
            });

        });
        </script>
        <script type="text/javascript">
        $(document).ready(function(){
            var viewBoxesChecked = true;
            var addBoxesChecked = true;
            $(".view").each(function() { 
                if ($(this).is(":checked") == false) {
                viewBoxesChecked = false;
                } 
            });
            if (viewBoxesChecked == true) {
                $('#select-view').each(function() { 
                    this.checked = true; 
                    // $("#select-add").each(function() { 
                    //     if ($(this).is(":checked") == true) {
                    //         $('#select-all').each(function() { 
                    //             this.checked = true; 
                    //         }); 
                    //     } 
                    // });
                });
            }
            $(".add").each(function() { 
                if ($(this).is(":checked") == false) {
                addBoxesChecked = false;
                } 
            });
            if (addBoxesChecked == true) {
                $('#select-add').each(function() { 
                    this.checked = true; 
                    // $("#select-add").each(function() { 
                    //     if ($(this).is(":checked") == true) {
                    //         $('#select-all').each(function() { 
                    //             this.checked = true; 
                    //         }); 
                    //     } 
                    // });
                });
            }
            if (viewBoxesChecked == true && addBoxesChecked == true){
                $("#select-add").each(function() { 
                    if ($(this).is(":checked") == true) {
                        $('#select-all').each(function() { 
                            this.checked = true; 
                        }); 
                    } 
                });
            }
        });
        </script>
        <!--<script src="../static/assets/pages/scripts/ui-modals.js" type="text/javascript"></script>
        <script src="../static/assets/pages/scripts/ui-modals.min.js" type="text/javascript"></script>-->
        
        <!-- END PAGE LEVEL SCRIPTS -->
        {{end}}