{{ template "master_layout.html" . }}

{{ define "pagelevelstyles"}} 
 
    <!-- BEGIN PAGE LEVEL STYLES -->
        <link href="/static/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.css" rel="stylesheet" type="text/css" />
		<link href="/static/assets/global/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" type="text/css" />
		
		<link href="/static/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/bootstrap-markdown/css/bootstrap-markdown.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/bootstrap-summernote/summernote.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/bootstrap-multiselect/css/bootstrap-multiselect.css" rel="stylesheet" type="text/css" />
         <link href="/static/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css" rel="stylesheet" type="text/css" />
        
        <!-- END PAGE LEVEL STYLES -->
	
{{end}}

{{ define "content" }}  
         <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                    <!-- BEGIN PAGE BASE CONTENT -->

                    <div class="row">
                        <div class="col-md-12">
                            <div class="portlet light bordered">
                                
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="icon-equalizer font-green"></i>
                                        <span class="caption-subject bold font-green uppercase">Organization Settings</span>

                                    </div>
                                    <div class="actions">
                                        <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" style="width:20px; height:20px; line-height: 0.999; padding-left:4px; "> </a>
                                    </div>
                                </div>
                      
                      <div class="portlet-body form" style="display:block" >
                        <div class="form-wizard">
                            <div class="form-body" style="">
                                <form id="bootstrapTagsInputForm" class="registration-form" method="POST" onsubmit="return beforeSubmit();">
                                    <input type="hidden" name="hidden_method" value="config" />
                                    {{ .xsrfdata }}
                                    <div class="form-group" style="margin-bottom: 27px;">
                                        <label class="control-label" style="text-align:right;"><span class="required" aria-required="true">*</span>Legal Entity Name<font color="#D3D3D3">(invoice header)</font></label>
                                        <input name="name" style="" type="text" class="form-control"  value="{{.RetrievedEntityName}}" placeholder="">
                                        {{if .Errors.EntityName}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.EntityName}}</span>{{end}}
                                    </div>
                                    <div class="form-group" style="margin-bottom: 27px;">
                                        <label class="control-label " style="text-align:right;"><span class="required" aria-required="true">*</span>Brand Name </label>
                                        <input name="bname" type="text" class="form-control" style="" value="{{.RetrievedBrand}}" placeholder="">
                                        {{if .Errors.BrandName}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.BrandName}}</span>{{end}}
                                    </div>
                                    <div class="form-group" style="margin-bottom: 27px;">
                                        <label class="control-label " style="text-align:right;"><span class="required" aria-required="true">*</span>Admin Email </label>
                                        <input name="email" type="email" class="form-control" style="" value="{{.RetrievedEmail}}" >
                                        {{if .Errors.Email}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Email}}</span>{{end}}
                                    </div>
                                    <div class="form-group" style="margin-bottom: 27px;">
                                        <label class="control-label " style=""><span class="required" aria-required="true">*</span>Admin Mobile<font color="#D3D3D3">(for sms notifications)</font></label>
                                            <input name="mobile" type="text" class="form-control" style="" value="{{.RetrievedMobile}}" placeholder="">
                                            {{if .Errors.Mobile}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Mobile}}</span>{{end}}
                                    </div>
                                    <div class="form-group" style="margin-bottom: 27px; height: 3px">
                                        <label class="control-label" ><span class="required" aria-required="true">*</span>Industry Type<font color="#D3D3D3">(determines processes)</font></label>
                                    </div>
                                    <div class="form-group" style="margin-bottom: 85px;">
                                        <div class="col-md-4"  style="text-align:left; padding-left: 0;">
                                            <input type="text" class="form-control"  value="{{.RetrievedIndustryType}}" readonly="" placeholder=""/>
                                        </div>
                                        <div class="col-md-8"  style="text-align:left; padding-right: 0;">
                                            <select id="multiple" name="industry_type[]" data-placeholder="Choose" value="{{.FormItems.IndType}}" class="form-control select2-multiple" multiple style="margin-right: -10px;">
                                                <optgroup value="{{.FormItems.IndType}}">
                                                {{ range $items := .RetrievedIndustry }}
                                                <option value="{{ $items.pkid }}" {{if compare $.FormItems.IndType $items.pkid }} selected {{end}}>{{ $items.name }}</option>
                                                {{end}}
                                                </optgroup>
                                            </select>
                                            {{if .Errors.IndType}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.IndType}}</span>{{end}}
                                        </div>
                                    </div>
                                    <div class="form-group" style="margin-bottom: 8px;">
                                        <label class="control-label" style="text-align:right;"><span class="required" aria-required="true">*</span>HQ Location: </label>
                                        {{if compare .RetrievedHQlocation "Not set"}}
                                        <label id="*spaM4" class="control-label" style="text-align:right; color: gray;"> Not set! </label>
                                        {{else}}
                                        <label id="*spaM4" class="control-label" style="text-align:right;"><b style="font-size: larger;"> {{.RetrievedHQlocation}} </b></label>
                                        {{end}}
                                    </div>
                                    <div class="form-group" style="margin-bottom: 80px;">
                                        <label class="control-label col-md-4 hq-set" style="padding-left: 0; text-align:left;">Shifting HQ? Add the new location here:</label>
                                        <label class="control-label col-md-4 hq-needed" style="padding-left: 0; text-align:left; display: none;"><span class="required" aria-required="true">*</span>Add the HQ location here:</label>
                                        <div class="col-md-8" style="padding-right: 0;">
                                            <input id="new_hq" name="hq_location" type="text" class="form-control" value="{{.FormItems.HQLoc}}" placeholder="">
                                            <span class="help-block hq-compulsory" style="font-size:13px; color:#e73d4a; display:none;">This field is required.</span>
                                            {{if .Errors.HQLoc}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.HQLoc}}</span>{{end}}
                                            <span class="help-block" style="font-size:13px;">{{ .RetrievedPreviousHQ }} </span>
                                        </div>
                                    </div>
                                    <div class="form-group" style="margin-bottom: 27px;">
                                        <label class="control-label" >Location of additional factories if any</label>
                                        <div  style="text-align:left;">
                                        <input id="tags-input" type="text" name="location_fac" value="{{.RetrievedFactoryLocation}}" data-role="tagsinput" placeholder=""/>
                                        {{if .Errors.LocationFac}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.LocationFac}}</span>{{end}}
                                        <p id="old_fac" class="help-block" style="font-size:13px;">{{ .RetrievedOldAdditionalFactories }} </p>
                                        </div>
                                    </div>
                                    <div class="form-group" style="margin-bottom: 27px;">
                                        <label class="control-label " style="text-align:right;"><span class="required" aria-required="true">*</span>GSTIN </label>
                                            <input name="gstin" class="form-control" style="" value="{{.RetrievedGSTIN}}" >
                                            {{if .Errors.GSTIN}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.GSTIN}}</span>{{end}}
                                    </div>
                                    <div class="form-group" style="margin-bottom: 27px;">
                                        <label class="control-label " style="text-align:right;"><span class="required" aria-required="true">*</span>PAN </label>
                                            <input name="pan" class="form-control" style="" value="{{.RetrievedPAN}}" >
                                            {{if .Errors.PAN}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.PAN}}</span>{{end}}
                                    </div>
                                    <div class="form-group" style="margin-bottom: 27px;">
                                        <label class="control-label " style="text-align:right;"><span class="required" aria-required="true">*</span>Bank Name </label>
                                            <input name="bank_name" class="form-control" style="" value="{{.RetrievedBankName}}" >
                                            {{if .Errors.BankName}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.BankName}}</span>{{end}}
                                    </div>
                                    <div class="form-group" style="margin-bottom: 27px;">
                                        <label class="control-label " style="text-align:right;"><span class="required" aria-required="true">*</span>Bank Account Number </label>
                                            <input name="account_no" class="form-control" style="" value="{{.RetrievedAccountNo}}" >
                                            {{if .Errors.AccountNo}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.AccountNo}}</span>{{end}}
                                    </div>
                                    <div class="form-group" style="margin-bottom: 27px;">
                                        <label class="control-label " style="text-align:right;"><span class="required" aria-required="true">*</span>Bank IFSC Code </label>
                                        <input name="ifsc" class="form-control" style="" value="{{.RetrievedIFSC}}" >
                                        {{if .Errors.IFSC}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.IFSC}}</span>{{end}}
                                    </div>
                                        {{if .NoConfigEdit}}
                                    <div class="form-actions" style="background:none; text-align:center; display:none;">
                                        <button name="config-btn" type="submit" class="btn green">Update</button>
                                    </div>
                                    {{else}}
                                    <div class="form-actions" style="background:none; text-align:center">
                                        <button name="config-btn" type="submit" class="btn green">Update</button>
                                    </div>
                                    {{end}}
                                </form>
                            </div>
                        </div>
                    
                    </div>
                  </div> 
                <!-- END ROW -->
                <!-- END PAGE BASE CONTENT -->
                </div>
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->
            {{end}}

 {{define "pagelevelplugins"}}
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <script src="/static/assets/global/scripts/datatable.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
		<!--<script src="https://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>-->
        <script src="/static/assets/global/plugins/fuelux/js/spinner.min.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.js" type="text/javascript"></script>
		<script src="/static/assets/global/plugins/bootstrap-select/js/bootstrap-select.min.js" type="text/javascript"></script>

        <script src="/static/assets/global/plugins/bootstrap-markdown/lib/markdown.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/bootstrap-markdown/js/bootstrap-markdown.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/bootstrap-summernote/summernote.min.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/bootstrap-select/js/bootstrap-select.min.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/bootstrap-multiselect/js/bootstrap-multiselect.js" type="text/javascript"></script>
         <script src="/static/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
        <!-- END PAGE LEVEL PLUGINS -->
        {{end}}
        
        {{define "pagelevelscripts"}}
        <!-- BEGIN PAGE LEVEL SCRIPTS -->
		<script src="/static/assets/pages/scripts/components-bootstrap-select.min.js" type="text/javascript"></script>
        <script src="/static/assets/pages/scripts/components-bootstrap-touchspin.js" type="text/javascript"></script>
		<script src="/static/assets/pages/scripts/table-datatables-managed.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.js"></script>
        <script src="/static/assets/pages/scripts/components-editors.min.js" type="text/javascript"></script>
         <script src="/static/assets/pages/scripts/components-select2.min.js" type="text/javascript"></script>
        <script src="/static/assets/pages/scripts/components-bootstrap-select.min.js" type="text/javascript"></script>
         <script src="/static/assets/pages/scripts/components-bootstrap-multiselect.min.js" type="text/javascript"></script>
         <script src="/static/assets/global/plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.js"></script>
         {{if .FlashNotices}}
        <script type="text/javascript">
                $(function() {                  
                    $.bootstrapGrowl("{{.FlashNotices}}", {offset: {from: 'top', amount: 20}, delay: 5000, type: 'success',align: 'center', stackup_spacing: 30,width: 400 });});
        </script>
        {{end}}
        <script type="text/javascript">
                $(function() { 
                    $('#tags-input').on('beforeItemAdd', function(event) {
                        
                        // event.item: contains the item
                         var tag = event.item;
                         var oldValue = document.getElementById('*spaM4').textContent;
                         var low_oldValue = oldValue.toLowerCase();
                        var low_newValue = tag.toLowerCase();
                         if (low_newValue.trim() === low_oldValue.trim()) {
                             alert("Cannot add an HQ as additional factories");
                             event.cancel = true; //set to true to prevent the item getting added
                         }
                    });

                    $('#tags-input').on('beforeItemRemove', function(event) {
                        var tag = event.item;
                        var ajaxData = 'factory=' + event.item;

                        if (!event.options || !event.options.preventPost) {
                            $.ajax({
                                type: "GET",
                                url: "/settings/factoriesRemove",
                                data: ajaxData, 
                                success: function(response) {
                                    //alert("Response is: " + response);
                                    if (response == "0") {
                                        // Re-add the tag since there was a failure
                                        // "preventPost" here will stop this ajax call from running when the tag is added
                                        $('#tags-input').tagsinput('add', tag, {preventPost: true});
                                    } else if (response == "1") {
                                        $("#old_fac").append(", " +tag);
                                    }
                                }
                            });
                        }
                    });
                });
        </script>
        <script type="text/javascript">
            $(document).ready(function(){
				$(function() {
                    var oldValue = document.getElementById('*spaM4').textContent;
                    var str = "Not set!"
                    if (str.trim() === oldValue.trim()) {
                        $(".hq-set").hide();
                        $(".hq-needed").show();
                    }
                });
            });

            function beforeSubmit() {
                var oldValue = document.getElementById('*spaM4').textContent;
                var newValue = document.getElementById('new_hq').value;
                var str = "Not set!"
                if (newValue != "") {
                    var low_oldValue = oldValue.toLowerCase();
                    var low_newValue = newValue.toLowerCase();
                    if (low_newValue.trim() === low_oldValue.trim()) {
                        alert(newValue + " is already your HQ!");
                        return false;
                    } 
                } else if (str.trim() === oldValue.trim()) {
                    alert("Please enter an HQ Location!");
                    $(".hq-compulsory").show();
                }
                return true;
            }
        </script>
        <!--<script src="../static/assets/pages/scripts/ui-modals.js" type="text/javascript"></script>

        <script src="../static/assets/pages/scripts/ui-modals.min.js" type="text/javascript"></script>-->
        <!--{{if .FlashNotices}}
        <script type="text/javascript">
                $(function() {                  
                    $.bootstrapGrowl("{{.FlashNotices}}", {offset: {from: 'top', amount: 20}, delay: 5000, type: 'success',align: 'center', stackup_spacing: 30,width: 400 });});
         </script>
         {{end}}-->
        <!-- END PAGE LEVEL SCRIPTS -->
        {{end}}