{{ template "master_layout.html" . }}

{{ define "pagelevelstyles"}} 
 
    <!-- BEGIN PAGE LEVEL STYLES -->
        <link href="/static/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.css" rel="stylesheet" type="text/css" />
		<link href="/static/assets/global/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" type="text/css" />
		
		<link href="/static/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/bootstrap-markdown/css/bootstrap-markdown.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/bootstrap-summernote/summernote.css" rel="stylesheet" type="text/css" />
        
        <!-- END PAGE LEVEL STYLES -->
	
{{end}}

{{ define "content" }}  
         <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                    <!-- BEGIN PAGE BASE CONTENT -->

                    <div class="row">
                        <div class="col-md-12">
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="icon-equalizer font-green"></i>
                                        <span class="caption-subject bold font-green uppercase">Terms and Conditions</span>

                                    </div>
                                    <div class="actions">
                                        <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" style="width:20px; height:20px; line-height: 0.999; padding-left:4px; "> </a>
                                    </div>
                                </div>
                                <div class="portlet-body form" style="display:block" >
                                  <div class="portlet light form-fit bordered">
                                    <!-- BEGIN FORM-->
                                    <form method="POST" action="/settings/po-tc" class="form-horizontal">
                                        <input type="hidden" name="hidden_method" value="PO_TC" />
                                         {{ .xsrfdata }}
                                        <div class="form-body" style="padding-bottom: 0px;">
                                            <div class="form-group">
                                                <label class="control-label col-md-2 caption-subject bold uppercase">Purchase Order</label>
                                                <div class="col-md-10" style="width: 81.444%;">
                                                    <textarea name="po_content" data-provide="markdown" rows="10" value="{{.FormItems.PoContent}}">{{.RetrievedPoTcContent.users_0.content}}</textarea>
                                                </div>
                                            </div>
                                        </div>
                                        {{if .NoTCEdit}}
                                        <div class="form-actions" style="padding-top: 0px; display:none;">
                                            <div class="row">
                                                <div class="col-md-offset-2 col-md-10">
                                                    <button type="submit" class="btn green"><i class="fa fa-check"></i> Update</button>
                                                </div>
                                            </div>
                                        </div>
                                        {{else }}
                                        <div class="form-actions" style="padding-top: 0px; ">
                                            <div class="row">
                                                <div class="col-md-offset-2 col-md-10">
                                                    <button type="submit" class="btn green"><i class="fa fa-check"></i> Update</button>
                                                </div>
                                            </div>
                                        </div>
                                        {{end}}
                                        
                                    </form>
                                    <!-- END FORM-->
                                    <hr>
                                    <!-- BEGIN FORM-->
                                    <form method="POST" class="form-horizontal " action="/settings/so-tc">
                                        <input type="hidden" name="hidden_method" value="SO_TC" />
                                         {{ .xsrfdata }}
                                        <div class="form-body" style="padding-bottom: 0px;">
                                            <div class="form-group">
                                                <label class="control-label col-md-2 caption-subject bold uppercase">Sales Order</label>
                                                <div class="col-md-10" style="width: 81.444%;">
                                                    <textarea name="so_content" data-provide="markdown" rows="10" value="{{.FormItems.PoContent}}">{{.RetrievedSoTcContent.users_0.content}}</textarea>
                                                </div>
                                            </div>
                                        </div>
                                        {{if .NoTCEdit}}
                                        <div class="form-actions" style="padding-top: 0px; display:none;">
                                        {{else}}
                                        <div class="form-actions" style="padding-top: 0px; ">
                                        {{end}}
                                            <div class="row">
                                                <div class="col-md-offset-2 col-md-10">
                                                    <button type="submit" class="btn green"><i class="fa fa-check"></i> Update</button>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </form>
                                    <!-- END FORM-->
                                  </div>
                                </div>
                            </div>
                        </div>
                    
                    </div>
                    <!-- END ROW -->
                <!-- END PAGE BASE CONTENT -->
                </div>
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->
            {{end}}

 {{define "pagelevelplugins"}}
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <script src="/static/assets/global/scripts/datatable.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
		<!--<script src="https://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>-->
        <script src="/static/assets/global/plugins/fuelux/js/spinner.min.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.js" type="text/javascript"></script>
		<script src="/static/assets/global/plugins/bootstrap-select/js/bootstrap-select.min.js" type="text/javascript"></script>

        <script src="/static/assets/global/plugins/bootstrap-markdown/lib/markdown.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/bootstrap-markdown/js/bootstrap-markdown.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/bootstrap-summernote/summernote.min.js" type="text/javascript"></script>
        <!-- END PAGE LEVEL PLUGINS -->
        {{end}}
        
        {{define "pagelevelscripts"}}
        <!-- BEGIN PAGE LEVEL SCRIPTS -->
		<script src="/static/assets/pages/scripts/components-bootstrap-select.min.js" type="text/javascript"></script>
        <script src="/static/assets/pages/scripts/components-bootstrap-touchspin.js" type="text/javascript"></script>
		<script src="/static/assets/pages/scripts/table-datatables-managed.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.js"></script>
        <script src="/static/assets/pages/scripts/components-editors.min.js" type="text/javascript"></script>
        {{if .FlashNotices}}
        <script type="text/javascript">
                $(function() {                  
                    $.bootstrapGrowl("{{.FlashNotices}}", {offset: {from: 'top', amount: 20}, delay: 5000, type: 'success',align: 'center', stackup_spacing: 30,width: 400 });});
        </script>
        {{end}}
        <!--<script src="../static/assets/pages/scripts/ui-modals.js" type="text/javascript"></script>
        <script src="../static/assets/pages/scripts/ui-modals.min.js" type="text/javascript"></script>-->
        <!--{{if .FlashNotices}}
        <script type="text/javascript">
                $(function() {                  
                    $.bootstrapGrowl("{{.FlashNotices}}", {offset: {from: 'top', amount: 20}, delay: 5000, type: 'success',align: 'center', stackup_spacing: 30,width: 400 });});
         </script>
         {{end}}-->
        <!-- END PAGE LEVEL SCRIPTS -->
        {{end}}