{{ template "master_layout.html" . }}

{{ define "pagelevelstyles"}} 
 
    <!-- BEGIN PAGE LEVEL STYLES -->
        <link href="/static/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.css" rel="stylesheet" type="text/css" />
		<link href="/static/assets/global/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
		<link href="/static/assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />

		<link href="/static/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
        <!-- END PAGE LEVEL STYLES -->
{{end}}

{{ define "content" }}  
         <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                    <!-- BEGIN PAGE BASE CONTENT -->

                    <div class="row" >
                        <div class="col-md-12" >
                            {{if .NoUserAdd}}
                            <div class="portlet light bordered" style="display: none;">
                            {{else}}
                            <div class="portlet light bordered" >
                            {{end}}
                                
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="icon-equalizer font-green"></i>
                                        <span class="caption-subject bold font-green uppercase">Add New User</span>

                                    </div>
                                    <div class="actions">
                                        <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" style="width:20px; height:20px; line-height: 0.999; padding-left:4px; "> </a>
                                    </div>
                                    <div class="tools nts-tools faq-links" style="margin-top:0;">
                                    {{if .ErrorsPresent}} 
                                        <a href=""  class="collapse btn blue" style="background-image:none; width: 60px; height: 20px; padding:0; margin-top: -6px;">
                                            <i class="fa fa-minus" style=" margin-left: -1px; margin-top: 2px;"></i><span style="font-size: smaller;">Close</span> <span style="display : none; font-size: smaller;">Add</span>
                                        </a>
                                     {{else}} 
                                        <a href="" class="expand btn blue" style="background-image:none; width: 60px; height: 20px; padding:0; margin-top: -6px;" >
                                            <i class="fa fa-plus" style=" margin-left: -1px; margin-top: 2px;"></i> <span style="font-size: smaller;">Add</span> <span style="display : none; font-size: smaller;">Close</span> 
                                        </a> 
                                     {{end}}
                                    </div>                       
                                </div>
                                {{if .ErrorsPresent}} 
                                  <div class="portlet-body form" style="display:block" >
                                  {{else}}  
                                  <div class="portlet-body form"  style="display:none" >
                                  {{end}}
                                    <div class="form-wizard">
                                    <div class="form-body" >
                                    {{if .inserted}}
                                    <div id="myModal" class="alert alert-block alert-success fade in">
                                     <h4 class="alert-heading">The user has been inserted.</h4>
                                     <a class="btn green" href="{{urlfor "SettingsController.ManageUsers"}}">OK</a>
                                    </div>   
                                    {{end}}

                                        <form  class="add-user-form" method="POST">
                                            <input type="hidden" name="hidden_method" value="userroles" />
                                          {{ .xsrfdata }}
                                          <div class="row">
                                          <!-- <div class="col-md-6" style=" border-right:1px solid #c2cad8;"> -->
                                          <div class="row" style="padding-top: 25px;">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-4" style="text-align:right;"><span class="required" aria-required="true">*</span>Full Name </label>
                                                        <div class="col-md-8">
                                                            <input name="name" type="text" class="form-control"  value="{{.FormItems.FullName}}" placeholder="">
                                                            {{if .Errors.FullName}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.FullName}}</span>{{end}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-4" style="text-align:right;"><span class="required" aria-required="true">*</span>Username </label>
                                                        <div class="col-md-8">
                                                            <input name="uname" type="text" class="form-control" style="" value="{{.FormItems.UName}}" placeholder="">
                                                            {{if .Errors.UName}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.UName}}</span>{{end}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                            </div>
                                            <!-- <div class="form-group" style="margin-bottom:27px;">
                                                <label class="control-label " style=""><span class="required" aria-required="true">*</span>Full Name </label>
                                                
                                            </div>
                                            <div class="form-group" style="margin-bottom:27px;">
                                                <label class="control-label " style="text-align:right;"><span class="required" aria-required="true">*</span>Username </label>
                                                
                                            </div> -->
                                            <div class="row" style="padding-top: 25px;">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-4" style="text-align:right;"><span class="required" aria-required="true">*</span>Email </label>
                                                        <div class="col-md-8">
                                                            <input name="email" type="email" class="form-control" style="" value="{{.FormItems.Email}}" placeholder="">
                                                            {{if .Errors.Email}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Email}}</span>{{end}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-4" style="text-align:right;"><span class="required" aria-required="true">*</span>Mobile </label>
                                                        <div class="col-md-8">
                                                            <input name="mobile" type="text" class="form-control" style="" value="{{.FormItems.Mobile}}" placeholder="">
                                                            {{if .Errors.Mobile}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Mobile}}</span>{{end}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                            </div>
                                            <!-- <div class="form-group" style="margin-bottom:27px;">
                                                <label class="control-label " style="text-align:right;"><span class="required" aria-required="true">*</span>Email </label>
                                                
                                            </div>
                                            <div class="form-group" style="margin-bottom:27px;">
                                                <label class="control-label " style="text-align:right;">Mobile </label>
                                                
                                            </div> -->
                                            <div class="row" style="padding-top: 25px;">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-4" style="text-align:right;"><span class="required" aria-required="true">*</span>Password </label>
                                                        <div class="col-md-8">
                                                            <input name="password" type="password" class="form-control"  >
                                                            {{if .Errors.Password}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Password}}</span>{{end}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                                <div class="col-md-6">
                                                    
                                                </div>
                                                <!--/span-->
                                            </div>
                                            <!-- <div class="form-group" style="margin-bottom:27px;">
                                                <label class="control-label " style="text-align:right;"><span class="required" aria-required="true">*</span>Password </label>
                                                
                                            </div> -->
                                          <!-- </div> -->
                                          <!-- <div class="col-md-6"> -->
                                          <hr>
                                            <div class="row" style="margin-top: -20px; margin-bottom: -20px;">
                                                <div class="col-md-2" style="    margin-top: 17px;">
                                                <!-- <h2 style="margin-left: 15px;">Roles</h2> -->
                                                <span class="caption-subject bold font-green uppercase" style="font-size: 16px;margin-left: 15px;">Roles</span>
                                                </div>
                                                <div class="col-md-9" >
                                                <div class="mt-checkbox-inline">
                                                <label class="mt-checkbox">
                                                    <input type="checkbox" name="select-all" id="select-all" {{if .FormItems.SelectAll}} checked {{end}}>Toggle all
                                                    <span></span>
                                                </label>
                                                <label class="mt-checkbox">
                                                    <input type="checkbox" name="select-add" id="select-add" {{if .FormItems.SelectAdd}} checked {{end}}>Toggle all Add
                                                    <span></span>
                                                </label>
                                                <label class="mt-checkbox">
                                                    <input type="checkbox" name="select-view" id="select-view" {{if .FormItems.SelectView}} checked {{end}}>Toggle all View
                                                    <span></span>
                                                </label>
                                                </div>
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="row" style="width: 102%;">
                                              <div class="col-md-12" style="height: 300px;overflow-y: scroll;">
                                                <!-- Left Side -->
                                                <div class="col-md-6" style=" border-right:1px solid #c2cad8;">
                                                    <h4 style="color:#5b9bd1; font-size: 18px;">Settings</h4>
                                                    <hr>
                                            <div class="row">
                                                <div class="col-md-6" >
                                                    <h4 style="font-size: 16px;">Users</h4>
                                                    <div class="mt-checkbox-inline" style=" margin-top: -15px; margin-bottom: -15px;">
                                                        <label class="mt-checkbox">
                                                            <input name="uadd" type="checkbox" class="add" {{if .FormItems.Usersadd}} checked {{end}}>Add
                                                            <span></span>
                                                        </label>
                                                            <label class="mt-checkbox">
                                                            <input name="uview" type="checkbox" class="view" {{if .FormItems.Usersview}} checked {{end}}>View
                                                            <span></span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6" >
                                                    <h4 style="font-size: 16px;">Configure</h4>
                                                    <div class="mt-checkbox-inline" style=" margin-top: -15px; margin-bottom: -15px;">
                                                        <label class="mt-checkbox">
                                                            <input name="cmodify" type="checkbox" class="add" {{if .FormItems.ConfigModify}} checked {{end}}>Modify
                                                            <span></span>
                                                        </label>
                                                            <label class="mt-checkbox">
                                                            <input name="cview" type="checkbox" class="view" {{if .FormItems.ConfigView}} checked {{end}}>View
                                                            <span></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6" >
                                                    <h4 style="font-size: 16px;">Roles</h4>
                                                    <div class="mt-checkbox-inline" style=" margin-top: -15px; margin-bottom: -15px;">
                                                        <label class="mt-checkbox">
                                                            <input name="roles_add" type="checkbox" class="add" {{if .FormItems.Rolesadd}} checked {{end}}>Manage
                                                            <span></span>
                                                        </label>
                                                            <label class="mt-checkbox">
                                                            <input name="roles_view" type="checkbox" class="view" {{if .FormItems.Rolesview}} checked {{end}}>View
                                                            <span></span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6" >

                                                </div>
                                            </div>
                                                    <hr>
                                                    <h4 style="color:#5b9bd1; font-size: 18px;">Suppliers</h4>
                                                    <hr>
                                            <div class="row">
                                                <div class="col-md-6" >
                                                    <h4 style="font-size: 16px;">Company</h4>
                                                    <div class="mt-checkbox-inline" style=" margin-top: -15px; margin-bottom: -15px;">
                                                        <label class="mt-checkbox">
                                                            <input name="company_add" type="checkbox" class="add" {{if .FormItems.CompanyAdd}} checked {{end}}>Add 
                                                            <span></span>
                                                        </label>
                                                            <label class="mt-checkbox">
                                                            <input name="company_view" type="checkbox" class="view" {{if .FormItems.CompanyView}} checked {{end}}>View 
                                                            <span></span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6" >
                                                    <h4 style="font-size: 16px;">Items Association</h4>
                                                    <div class="mt-checkbox-inline" style=" margin-top: -15px; margin-bottom: -15px;">
                                                        <label class="mt-checkbox">
                                                            <input name="ass_manage" type="checkbox" class="add" {{if .FormItems.AssManage}} checked {{end}}>Manage
                                                            <span></span>
                                                        </label>
                                                            <label class="mt-checkbox">
                                                            <input name="ass_view" type="checkbox" class="view" {{if .FormItems.AssView}} checked {{end}}>View
                                                            <span></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                                    <hr>
                                                    <h4 style="color:#5b9bd1; font-size: 18px;">Customers</h4>
                                                    <hr>
                                            <div class="row">
                                                <div class="col-md-6" >
                                                    <h4 style="font-size: 16px;">Company</h4>
                                                    <div class="mt-checkbox-inline" style=" margin-top: -15px; margin-bottom: -15px;">
                                                        <label class="mt-checkbox">
                                                            <input name="customers_add" type="checkbox" class="add" {{if .FormItems.CustomersAdd}} checked {{end}}>Add 
                                                            <span></span>
                                                        </label>
                                                            <label class="mt-checkbox">
                                                            <input name="customers_view" type="checkbox" class="view" {{if .FormItems.CustomersView}} checked {{end}}>View 
                                                            <span></span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6" >
                                                    <h4 style="font-size: 16px;">Products Association</h4>
                                                    <div class="mt-checkbox-inline" style=" margin-top: -15px; margin-bottom: -15px;">
                                                        <label class="mt-checkbox">
                                                            <input name="ass_products" type="checkbox" class="add" {{if .FormItems.ProductAss}} checked {{end}}>Associate
                                                            <span></span>
                                                        </label>
                                                            <label class="mt-checkbox">
                                                            <input name="ass_products_view" type="checkbox" class="view" {{if .FormItems.AssProductView}} checked {{end}}>View
                                                            <span></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                                    <hr>
                                                    <h4 style="color:#5b9bd1; font-size: 18px;">Statistics</h4>
                                                    <hr>
                                            <div class="row">
                                                <div class="col-md-6" >
                                                    <div class="mt-checkbox-inline" style=" margin-top: -15px; margin-bottom: -15px;">
                                                        <label class="mt-checkbox">
                                                            <input name="statistics_create" type="checkbox" class="add" {{if .FormItems.StatisticsCreate}} checked {{end}}>Create
                                                            <span></span>
                                                        </label>
                                                            <label class="mt-checkbox">
                                                            <input name="statistics_view" type="checkbox" class="view" {{if .FormItems.StatisticsView}} checked {{end}}>View
                                                            <span></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                                    <!-- <h4>PO</h4>
                                                    <div class="mt-checkbox-inline" style=" margin-top: -15px; margin-bottom: -15px;">
                                                        <label class="mt-checkbox">
                                                            <input name="po_stats" type="checkbox" class="view" >View
                                                            <span></span>
                                                        </label>
                                                    </div>
                                                    <h4>GRN</h4>
                                                    <div class="mt-checkbox-inline" style=" margin-top: -15px; margin-bottom: -15px;">
                                                        <label class="mt-checkbox">
                                                            <input name="grn_stats" type="checkbox" class="view" >View
                                                            <span></span>
                                                        </label>
                                                    </div>
                                                    <h4>Service Contracts</h4>
                                                    <div class="mt-checkbox-inline" style=" margin-top: -15px; margin-bottom: -15px;">
                                                        <label class="mt-checkbox">
                                                            <input name="servicecontract_stats" type="checkbox" class="view" >View
                                                            <span></span>
                                                        </label>
                                                    </div>
                                                    <h4>QA</h4>
                                                    <div class="mt-checkbox-inline" style=" margin-top: -15px; margin-bottom: -15px;">
                                                        <label class="mt-checkbox">
                                                            <input name="qa_stats" type="checkbox" class="view" >View
                                                            <span></span>
                                                        </label>
                                                    </div>
                                                    <h4>Customer Orders</h4>
                                                    <div class="mt-checkbox-inline" style=" margin-top: -15px; margin-bottom: -15px;">
                                                        <label class="mt-checkbox">
                                                            <input name="orders_stats" type="checkbox" class="view" >View
                                                            <span></span>
                                                        </label>
                                                    </div>
                                                    <h4>Customer Complaints</h4>
                                                    <div class="mt-checkbox-inline" style=" margin-top: -15px; margin-bottom: -15px;">
                                                        <label class="mt-checkbox">
                                                            <input name="complaints_stats" type="checkbox" class="view" >View
                                                            <span></span>
                                                        </label>
                                                    </div>
                                                    <h4>Customer History</h4>
                                                    <div class="mt-checkbox-inline" style=" margin-top: -15px; margin-bottom: -15px;">
                                                        <label class="mt-checkbox">
                                                            <input name="history_stats" type="checkbox" class="view" >View
                                                            <span></span>
                                                        </label>
                                                    </div> -->
                                                    <hr>
                                                    <h4 style="color:#5b9bd1; font-size: 18px;">Reports</h4>
                                                    <hr>
                                            <div class="row">
                                                <div class="col-md-6" >
                                                    <h4 style="font-size: 16px;">Master</h4>
                                                    <div class="mt-checkbox-inline" style=" margin-top: -15px; margin-bottom: -15px;">
                                                        <label class="mt-checkbox">
                                                            <input name="master_add" type="checkbox" class="add" {{if .FormItems.MasterAdd}} checked {{end}}>Create
                                                            <span></span>
                                                        </label>
                                                        <label class="mt-checkbox">
                                                            <input name="master_view" type="checkbox" class="view" {{if .FormItems.MasterView}} checked {{end}}>View
                                                            <span></span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6" >
                                                    <h4 style="font-size: 16px;">Reports</h4>
                                                    <div class="mt-checkbox-inline" style=" margin-top: -15px; margin-bottom: -15px;">
                                                        <label class="mt-checkbox">
                                                            <input name="report_create" type="checkbox" class="add" {{if .FormItems.CreateReport}} checked {{end}}>Create
                                                            <span></span>
                                                        </label>
                                                        <label class="mt-checkbox">
                                                            <input name="report_view" type="checkbox" class="view" {{if .FormItems.ViewReport}} checked {{end}}>View
                                                            <span></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                                    <!-- <hr>
                                                    <h3>Customer Support</h3>
                                                    <hr>
                                                    <h4>Support Ticket</h4>
                                                    <div class="mt-checkbox-inline" style=" margin-top: -15px; margin-bottom: -15px;">
                                                        <label class="mt-checkbox">
                                                            <input name="support_add" type="checkbox" class="add" >Add
                                                            <span></span>
                                                        </label>
                                                            <label class="mt-checkbox">
                                                            <input name="support_view" type="checkbox" class="view" >View
                                                            <span></span>
                                                        </label>
                                                    </div> -->
                                                    
                                                </div>
                                                <!-- Right Side -->
                                                <div class="col-md-6">
                                                    <h4 style="color:#5b9bd1; font-size: 18px;">Stock</h4>
                                                    <hr>
                                            <div class="row">
                                                <div class="col-md-6" >
                                                    <h4 style="font-size: 16px;">Items</h4>
                                                    <div class="mt-checkbox-inline" style=" margin-top: -15px; margin-bottom: -15px;">
                                                        <label class="mt-checkbox">
                                                            <input name="iadd" type="checkbox" class="add" {{if .FormItems.Itemsadd}} checked {{end}}>Add
                                                            <span></span>
                                                        </label>
                                                            <label class="mt-checkbox">
                                                            <input name="iview" type="checkbox" class="view" {{if .FormItems.Itemsview}} checked {{end}}>View
                                                            <span></span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6" >
                                                    <h4 style="font-size: 16px;">Inventory</h4>
                                                    <div class="mt-checkbox-inline" style=" margin-top: -15px; margin-bottom: -15px;">
                                                        <label class="mt-checkbox">
                                                            <input name="inadd" type="checkbox" class="add" {{if .FormItems.Inventoryadd}} checked {{end}}>Add
                                                            <span></span>
                                                        </label>
                                                            <label class="mt-checkbox">
                                                            <input name="inview" type="checkbox" class="view" {{if .FormItems.Inventoryview}} checked {{end}}>View
                                                            <span></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6" >
                                                    <h4 style="font-size: 16px;">GRN</h4>
                                                    <div class="mt-checkbox-inline" style=" margin-top: -15px; margin-bottom: -15px;">
                                                        <label class="mt-checkbox">
                                                            <input name="grnadd" type="checkbox" class="add" {{if .FormItems.GRNadd}} checked {{end}}>Add
                                                            <span></span>
                                                        </label>
                                                            <label class="mt-checkbox">
                                                            <input name="grnview" type="checkbox" class="view" {{if .FormItems.GRNview}} checked {{end}}>View
                                                            <span></span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6" >
                                                </div>
                                            </div>
                                                    <!-- <h4>Inventory Usage</h4>
                                                    <div class="mt-checkbox-inline" style=" margin-top: -15px; margin-bottom: -15px;">
                                                        <label class="mt-checkbox">
                                                            <input name="usageview" type="checkbox" class="view" >View
                                                            <span></span>
                                                        </label>
                                                    </div> -->
                                                    <hr>
                                                    <h4 style="color:#5b9bd1; font-size: 18px;">Purchases</h4>
                                                    <hr>
                                            <div class="row">
                                                <div class="col-md-6" >
                                                    <h4 style="font-size: 16px;">PO</h4>
                                                    <div class="mt-checkbox-inline" style=" margin-top: -15px; margin-bottom: -15px;">
                                                        <label class="mt-checkbox">
                                                            <input name="po_add" type="checkbox" class="add" {{if .FormItems.PoAdd}} checked {{end}}>Create 
                                                            <span></span>
                                                        </label>
                                                            <label class="mt-checkbox">
                                                            <input name="po_view" type="checkbox" class="view" {{if .FormItems.PoView}} checked {{end}}>View 
                                                            <span></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                                    <hr>
                                                    <h4 style="color:#5b9bd1; font-size: 18px;">Sales</h4>
                                                    <hr>
                                            <div class="row">
                                                <div class="col-md-6" >
                                                    <h4 style="font-size: 16px;">New</h4>
                                                    <div class="mt-checkbox-inline" style=" margin-top: -15px; margin-bottom: -15px;">
                                                        <label class="mt-checkbox">
                                                            <input name="sales_add" type="checkbox" class="add" {{if .FormItems.SalesAdd}} checked {{end}}>Add 
                                                            <span></span>
                                                        </label>
                                                            <label class="mt-checkbox">
                                                            <input name="sales_view" type="checkbox" class="view" {{if .FormItems.SalesView}} checked {{end}}>View 
                                                            <span></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                                    <hr>
                                                    <h4 style="color:#5b9bd1; font-size: 18px;">Production</h4>
                                                    <hr>
                                            <div class="row">
                                                <div class="col-md-6" >
                                                    <h4 style="font-size: 16px;">Orders</h4>
                                                    <div class="mt-checkbox-inline" style=" margin-top: -15px; margin-bottom: -15px;">
                                                        <label class="mt-checkbox">
                                                            <input name="production_create" type="checkbox" class="add" {{if .FormItems.ProductionCreate}} checked {{end}}>Create
                                                            <span></span>
                                                        </label>
                                                            <label class="mt-checkbox">
                                                            <input name="production_view" type="checkbox" class="view" {{if .FormItems.ProductionView}} checked {{end}}>View
                                                            <span></span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6" >
                                                    <h4 style="font-size: 16px;">Products</h4>
                                                    <div class="mt-checkbox-inline" style=" margin-top: -15px; margin-bottom: -15px;">
                                                        <label class="mt-checkbox">
                                                            <input name="products_add" type="checkbox" class="add" {{if .FormItems.ProductsAdd}} checked {{end}}>Add
                                                            <span></span>
                                                        </label>
                                                            <label class="mt-checkbox">
                                                            <input name="products_view" type="checkbox" class="view" {{if .FormItems.ProductsView}} checked {{end}}>View
                                                            <span></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                                    <!-- <h4>BOM</h4>
                                                    <div class="mt-checkbox-inline" style=" margin-top: -15px; margin-bottom: -15px;">
                                                        <label class="mt-checkbox">
                                                            <input name="bom_modify" type="checkbox" class="add" >Modify
                                                            <span></span>
                                                        </label>
                                                            <label class="mt-checkbox">
                                                            <input name="bom_view" type="checkbox" class="view" >View
                                                            <span></span>
                                                        </label>
                                                    </div> -->
                                                    <!-- <h4>Jobcard</h4>
                                                    <div class="mt-checkbox-inline" style=" margin-top: -15px; margin-bottom: -15px;">
                                                        <label class="mt-checkbox">
                                                            <input name="jobcard_add" type="checkbox" class="add" >Add
                                                            <span></span>
                                                        </label>
                                                            <label class="mt-checkbox">
                                                            <input name="jobcard_view" type="checkbox" class="view" >View
                                                            <span></span>
                                                        </label>
                                                    </div> -->
                                            <div class="row">
                                                <div class="col-md-6" >
                                                    <h4 style="font-size: 16px;">Process</h4>
                                                    <div class="mt-checkbox-inline" style=" margin-top: -15px; margin-bottom: -15px;">
                                                        <label class="mt-checkbox">
                                                            <input name="process_add" type="checkbox" class="add" {{if .FormItems.Processadd}} checked {{end}}>Add
                                                            <span></span>
                                                        </label>
                                                        <label class="mt-checkbox">
                                                            <input name="process_view" type="checkbox" class="view" {{if .FormItems.Processview}} checked {{end}}>View
                                                            <span></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                                    <!-- <h4>Orders</h4>
                                                    <div class="mt-checkbox-inline" style=" margin-top: -15px; margin-bottom: -15px;">
                                                        <label class="mt-checkbox">
                                                            <input name="orders_add" type="checkbox" class="process_add" >Add
                                                            <span></span>
                                                        </label>
                                                        <label class="mt-checkbox">
                                                            <input name="orders_view" type="checkbox" class="view" >View
                                                            <span></span>
                                                        </label>
                                                    </div> -->
                                                    <hr>
                                                    <h4 style="color:#5b9bd1; font-size: 18px;">HR</h4>
                                                    <hr>
                                            <div class="row">
                                                <div class="col-md-6" >
                                                    <h4 style="font-size: 16px;">Employee Details</h4>
                                                    <div class="mt-checkbox-inline" style=" margin-top: -15px; margin-bottom: -15px;">
                                                        <label class="mt-checkbox">
                                                            <input name="employee_add" type="checkbox" class="add" {{if .FormItems.EmployeeAdd}} checked {{end}}>Add
                                                            <span></span>
                                                        </label>
                                                            <label class="mt-checkbox">
                                                            <input name="employee_view" type="checkbox" class="view" {{if .FormItems.EmployeeView}} checked {{end}}>View
                                                            <span></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                                </div>
                                                    <!-- <h4>Manage Leaves</h4>
                                                    <div class="mt-checkbox-inline" style=" margin-top: -15px; margin-bottom: -15px;">
                                                        <label class="mt-checkbox">
                                                            <input name="leaves_add" type="checkbox" class="add" >Add
                                                            <span></span>
                                                        </label>
                                                            <label class="mt-checkbox">
                                                            <input name="leaves_view" type="checkbox" class="view" >View
                                                            <span></span>
                                                        </label>
                                                    </div>
                                                    <h4>Manage Contracts</h4>
                                                    <div class="mt-checkbox-inline" style=" margin-top: -15px; margin-bottom: -15px;">
                                                        <label class="mt-checkbox">
                                                            <input name="contract_add" type="checkbox" class="add" >Add
                                                            <span></span>
                                                        </label>
                                                            <label class="mt-checkbox">
                                                            <input name="contract_view" type="checkbox" class="view" >View
                                                            <span></span>
                                                        </label>
                                                    </div> -->
                                                </div>
                                              </div>
                                            </div>
                                          <!-- </div> -->

                                            {{if .UserExists}}
                                                <div class="row" style="padding-bottom: 20px;">
                                                    <div class="col-md-12" style="text-align: center;">
                                                        <span style="color: #e02222;">This user already exists..</span>
                                                    </div>
                                                </div>
                                            {{else if .UserDeactivated}}
                                                <div class="row" style="padding-bottom: 20px;">
                                                    <div class="col-md-12" style="text-align: center;">
                                                        <span style="color: #e02222;">The user you are trying to enter already exists and is disabled. You can enable that user from the action column below.</span>
                                                    </div>
                                                </div>
                                            {{end}}
                                            <div class="form-actions" style="background:none; text-align:center">
                                                <button type="submit" class="btn green">Add User & Roles</button>
                                            </div>
                                        </form>
                                    </div> <!-- Table Portlet Body -->
                                    </div>
                                </div>
                            </div> <!-- Form Row -->
                    
                <!-- PORTLET TABLE -->
                <div class="row">
                        <div class="col-md-12">
                            <!-- BEGIN EXAMPLE TABLE PORTLET-->
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                    <div class="caption font-dark">
                                        <i class="icon-settings font-dark"></i>
                                        <span class="caption-subject bold uppercase"> List of Users</span>
                                    </div>
                                    <div class="actions">
                                        <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" style="width:20px; height:20px; line-height: 0.999; padding-left:4px; "> </a>
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    {{if .NoUserAdd}}
                                    <table class="table table-bordered table-hover dt-responsive dataTable table-checkable order-column"  id="stock_view_table">
                                        <thead>
                                            <tr>												
                                                <th style="width:200px !important; text-align: left"> Full Name </th>
												<th style="text-align: left"> Username </th>
                                                <th style="text-align: left"> Email </th>
                                                <th style="text-align: left"> Status </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                    {{ if .Retrieved}}
                    {{ range $users := .Retrieved }}
                            <tr class="odd gradeX">								
                                <td style="text-align: left"> {{ $users.full_name }} </td>
								<td style="text-align: left"> {{ $users.username }} </td>
                                <td style="text-align: left"> {{ $users.email }} </td>
								<td style="text-align: left">
                                     {{if compare $users.status "1"}} 
                                     Active 
                                     {{end}}
                                     {{if compare $users.status "2"}} 
                                     De-activated 
                                     {{end}}
                                     {{if compare $users.status "9"}} 
                                     Deleted 
                                     {{end}}                                     
                                     </td>   
                            </tr>
                    {{end}}
                    {{end}}
                                            
					</tbody>
                </table>
                                    {{else}}
                                    <table class="table table-bordered table-hover dt-responsive dataTable table-checkable order-column"  id="stock_view_table">
                                        <thead>
                                            <tr>												
                                                <th style="width:200px !important; text-align: left; padding-left:5px;"> Full Name </th>
												<th style="text-align: left"> Username </th>
                                                <th style="text-align: left"> Email </th>
                                                <th style="text-align: left"> Status </th>					
												<th style="text-align: left">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                    {{ if .Retrieved}}
                    {{ range $users := .Retrieved }}
                            <tr class="odd gradeX">								
                                <td style="text-align: left; padding-left:5px;"> {{ $users.full_name }} </td>
								<td style="text-align: left"> {{ $users.username }} </td>
                                <td style="text-align: left"> {{ $users.email }} </td>
								<td style="text-align: left">
                                     {{if compare $users.status "1"}} 
                                     Active 
                                     {{end}}
                                     {{if compare $users.status "2"}} 
                                     De-activated 
                                     {{end}}
                                     {{if compare $users.status "9"}} 
                                     Deleted 
                                     {{end}}                                     
                                     </td>    
                                <td class="text-center">
                                    {{if compare $users.status "1"}}
                                    {{if compare $users.usertype "2"}}
                                    <i class="fa fa-lock tooltips" data-container="body" data-placement="top" data-original-title="Lock User. Prevents from logging in." onclick="manageUsers({{$users._id}},2)"></i>
                                    <i class="fa fa-trash tooltips" data-container="body" data-placement="top" data-original-title="Delete User. Remove from system." onclick="manageUsers({{$users._id}},9)"></i> 
                                    {{end}}
                                    {{end}}
                                    {{if compare $users.status "2"}}
                                     {{if compare $users.usertype "2"}}
                                    <i class="fa fa-unlock tooltips" data-container="body" data-placement="top" data-original-title="Unlock User. Can login again." onclick="manageUsers({{$users._id}},1)"></i>
                                     <i class="fa fa-trash tooltips" data-container="body" data-placement="top" data-original-title="Delete User. Remove from system." onclick="manageUsers({{$users._id}},9)"></i> 
                                     {{end}}
                                    {{end}}
                                    {{if compare $users.status "9"}}
                                     {{if compare $users.usertype "2"}}
                                    <i class="fa fa-refresh tooltips" data-container="body" data-placement="top" data-original-title="Re-add User. Add deleted user again." onclick="manageUsers({{$users._id}},1)"></i>
                                    {{end}}
                                    {{end}}
                                </td>
                            </tr>
                    {{end}}
                    {{end}}
                                            
					</tbody>
                </table>
                {{end}}
                <div id="successModal" class="modal fade bs-modal-sm" tabindex="-1" role="dialog" aria-hidden="true" style="display: none; padding-right: 15px;">
                <div class="modal-dialog modal-sm">
                <div class="modal-content">
                <div class="modal-body"> 
                <h4 class="alert-heading">The user action has been performed.</h4>
                </div>
                <div class="modal-footer">
                <a class="btn green" href="{{urlfor "SettingsController.ManageUsers"}}">OK</a>
                </div>
                </div>
                <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
                </div>

                <script type="text/javascript">
                    function manageUsers(userId,action,xsrfdata) {                       
                            $.ajax({
                                type: "GET",
                                url: "/settings/usersAJAX",
                                data: {"userId": userId, "action":action } // The data passed to / by POST method
                            }).done(function(msg) {
                                // Render your result
                                $("#successModal").modal({
                                    backdrop: 'static',
                                    keyboard: false
                                },'show');
                            });
                    }
                </script>
                                </div>

                            </div> 
                    </div>
                </div> <!-- END ROW PORTLET-->
                <!-- END PAGE BASE CONTENT -->
                </div>
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->
            
            {{end}}

 {{define "pagelevelplugins"}}
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <script src="/static/assets/global/scripts/datatable.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
		<!--<script src="https://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>-->
        <script src="/static/assets/global/plugins/fuelux/js/spinner.min.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.js" type="text/javascript"></script>
		<script src="/static/assets/global/plugins/bootstrap-select/js/bootstrap-select.min.js" type="text/javascript"></script>
        <!-- END PAGE LEVEL PLUGINS -->
        {{end}}
        
        {{define "pagelevelscripts"}}
        <!-- BEGIN PAGE LEVEL SCRIPTS -->
		<script src="/static/assets/pages/scripts/components-bootstrap-select.min.js" type="text/javascript"></script>
        <script src="/static/assets/pages/scripts/components-bootstrap-touchspin.js" type="text/javascript"></script>
		<script src="/static/assets/pages/scripts/table-datatables-managed.js" type="text/javascript"></script>
        <script language="JavaScript">
        $('#select-all').click(function(event) {   
            if(this.checked) {
                // Iterate each checkbox
                $(':checkbox').each(function() {
                    this.checked = true;                        
                });
            }  else {  
                $(":checkbox").each(function() { 
                    this.checked = false; 
                }); 
            }
        });

        $('#select-add').click(function(event) {   
            if(this.checked) {
                // Iterate each checkbox
                $(".add").each(function() {
                    this.checked = true;                        
                });
                $("#select-view").each(function() { 
                    if ($(this).is(":checked") == true) {
                        $('#select-all').each(function() { 
                            this.checked = true; 
                        }); 
                    } 
                });
            }  else {  
                $(".add").each(function() { 
                    this.checked = false;
                    $('#select-all').each(function() { 
                        this.checked = false; 
                    }); 
                }); 
            }
        });

        $('#select-view').click(function(event) {   
            if(this.checked) {
                // Iterate each checkbox
                $(".view").each(function() {
                    this.checked = true;                        
                });
                $("#select-add").each(function() { 
                    if ($(this).is(":checked") == true) {
                        $('#select-all').each(function() { 
                            this.checked = true; 
                        }); 
                    } 
                });
            }  else {  
                $(".view").each(function() { 
                    this.checked = false; 
                    $('#select-all').each(function() { 
                        this.checked = false; 
                    }); 
                }); 
            }
        });

        </script>
        <script type="text/javascript">
        $(document).ready(function(){
            
            $('.add').change(function() {
                var addBoxesChecked = true;
                $(".add").each(function() { 
                    if ($(this).is(":checked") == false) {
                    addBoxesChecked = false;
                    } 
                });
                if (addBoxesChecked == true) {
                    $('#select-add').each(function() { 
                        this.checked = true; 
                        $("#select-view").each(function() { 
                            if ($(this).is(":checked") == true) {
                                $('#select-all').each(function() { 
                                    this.checked = true; 
                                }); 
                            } 
                        }); 
                    });
                } else {
                    $('#select-add').each(function() { 
                        this.checked = false;
                        $('#select-all').each(function() { 
                            this.checked = false; 
                        });
                    });
                }
            });

            $('.view').change(function() {
                var viewBoxesChecked = true;
                $(".view").each(function() { 
                    if ($(this).is(":checked") == false) {
                    viewBoxesChecked = false;
                    } 
                });
                if (viewBoxesChecked == true) {
                    $('#select-view').each(function() { 
                        this.checked = true; 
                        $("#select-add").each(function() { 
                            if ($(this).is(":checked") == true) {
                                $('#select-all').each(function() { 
                                    this.checked = true; 
                                }); 
                            } 
                        });
                    });
                } else {
                    $('#select-view').each(function() { 
                        this.checked = false; 
                        $('#select-all').each(function() { 
                            this.checked = false; 
                        });
                    });
                }
            });

        });
        </script>

        <!--<script src="../static/assets/pages/scripts/ui-modals.js" type="text/javascript"></script>
        <script src="../static/assets/pages/scripts/ui-modals.min.js" type="text/javascript"></script>-->
        
        <!-- END PAGE LEVEL SCRIPTS -->
        {{end}}