{{ template "configuration.html" . }}

{{ define "pagelevelstyles"}} 
    
{{end}}

{{ define "content" }}  
<div class="col-md-10 login-container bs-reset mt-login-5-bsfix" style=" width:100%">
    <div class="col-md-6 portlet light bordered" style="" id="wizard_body">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class=" icon-layers font-red"></i>
                            <span class="caption-subject font-red bold uppercase"> Setup -
                                <span class="step-title"> Step 1 of 3 </span>
                            </span>
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <div class="form-wizard">
                        <div class="form-body" style="">
                            <form id="bootstrapTagsInputForm" class="registration-form" method="POST">
                                  {{ .xsrfdata }}
                                  <ul class="nav nav-pills nav-justified steps">
                                        <li class="active">
                                            <a  data-toggle="tab" class="step">
                                                <span class="number"> 1 </span>
                                                <span class="desc">
                                                    <i class="fa fa-check"></i> Master Data </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a   class="step active">
                                                <span class="number"> 2 </span>
                                                <span class="desc">
                                                    <i class="fa fa-check"></i> Users </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a   class="step ">
                                                <span class="number"> 3 </span>
                                                <span class="desc">
                                                    <i class="fa fa-check"></i> Random </span>
                                            </a>
                                        </li>
                                    </ul>
                                    <div id="bar" class="progress progress-striped" role="progressbar">
                                        <div class="progress-bar progress-bar-success" style="width:33.3333%;"> </div>
                                    </div>
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="tab1">
	                                        <div class="form-group" style="margin-bottom: 27px;">
	                                            <label class="control-label" style="text-align:right;"><span class="required" aria-required="true">*</span>Legal Entity Name<font color="#D3D3D3">(invoice header)</font></label>
	                                            <input name="name" style="" type="text" class="form-control"  value="{{.FormItems.EntityName}}" placeholder="">
	                                            {{if .Errors.EntityName}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.EntityName}}</span>{{end}}
	                                        </div>
	                                        <div class="form-group" style="margin-bottom: 27px;">
	                                            <label class="control-label " style="text-align:right;"><span class="required" aria-required="true">*</span>Brand Name </label>
	                                            <input name="bname" type="text" class="form-control" style="" value="{{.FormItems.BrandName}}" placeholder="">
	                                            {{if .Errors.BrandName}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.BrandName}}</span>{{end}}
	                                        </div>
	                                        <div class="form-group" style="margin-bottom: 27px;">
	                                            <label class="control-label " style="text-align:right;">Admin Email <span class="required" aria-required="true">*</span></label>
	                                                <input name="email" type="email" class="form-control" style="" value="{{.FormItems.Email}}" placeholder="">
	                                                {{if .Errors.Email}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Email}}</span>{{end}}
	                                            
	                                        </div>
	                                        <div class="form-group" style="margin-bottom: 27px;">
	                                            <label class="control-label " style=""><span class="required" aria-required="true">*</span>Admin Mobile<font color="#D3D3D3">(for sms notifications)</font></label>
	                                                <input name="mobile" type="password" class="form-control" style="" value="{{.FormItems.Mobile}}" placeholder="">
	                                                {{if .Errors.Mobile}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Mobile}}</span>{{end}}
	                                            
	                                        </div>
	                                        <div class="form-group" style="margin-bottom: 27px;">
	                                            <label class="control-label" style=""><span class="required" aria-required="true">*</span>Industry Type<font color="#D3D3D3">(determines processes)</font></label>
	                                            <div  style="text-align:left;">
	                                            <input type="text" name="industry_type" value="{{.FormItems.IndType}}" data-role="tagsinput" placeholder=""/>
                                                {{if .Errors.IndType}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.IndType}}</span>{{end}}
	                                            </div>
	                                        </div>
	                                        <div class="form-group" style="margin-bottom: 27px;">
	                                            <label class="control-label" style="text-align:right;"><span class="required" aria-required="true">*</span>HQ Location </label>
	                                            <input name="hq_location" type="text" class="form-control" style="" value="{{.FormItems.HQLoc}}" placeholder="">
	                                            {{if .Errors.HQLoc}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.HQLoc}}</span>{{end}}
	                                            
	                                        </div>
	                                        <div class="form-group" style="margin-bottom: 27px;">
	                                            <label class="control-label" style="text-align:right;"><span class="required" aria-required="true">*</span>Location of additional factories if any </label>
	                                            <input type="text" name="location_fac" value="{{.FormItems.LocationFac}}" data-role="tagsinput" placeholder="Add tags"/>
                                                {{if .Errors.LocationFac}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.LocationFac}}</span>{{end}}
	                                        </div>
	                                        <div class="form-actions" style="background:none; text-align:center">
	                                            <button type="submit" class="btn green">Save & Continue</button>
	                                            <button type="button" class="btn default">Cancel</button>
	                                        </div>
                                        </div>
                                        
                                    </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{{end}}

{{ define "pagelevelplugins" }}

{{end}}

{{define "pagelevelscripts"}} 

{{end}}