{{ template "configuration.html" . }}

{{ define "pagelevelstyles"}} 

{{end}}

{{ define "content" }}  
<div class="col-md-10 login-container bs-reset mt-login-5-bsfix" style=" width:100%">
    <div class="col-md-6 portlet light bordered" style="" id="wizard_body">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class=" icon-layers font-red"></i>
                            <span class="caption-subject font-red bold uppercase"> Setup -
                                <span class="step-title"> Step 2 of 3 </span>
                            </span>
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <div class="form-wizard">
                        <div class="form-body" style="">
                            <form  class="registration-form" method="POST">
                                  {{ .xsrfdata }}
                                  <ul class="nav nav-pills nav-justified steps">
                                        <li class="done">
                                            <a   class="step">
                                                <span class="number"> 1 </span>
                                                <span class="desc">
                                                    <i class="fa fa-check"></i> Master Data </span>
                                            </a>
                                        </li>
                                        <li class="active">
                                            <a  data-toggle="tab" class="step">
                                                <span class="number"> 2 </span>
                                                <span class="desc">
                                                    <i class="fa fa-check"></i> Users </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a   class="step ">
                                                <span class="number"> 3 </span>
                                                <span class="desc">
                                                    <i class="fa fa-check"></i> Random </span>
                                            </a>
                                        </li>
                                    </ul>
                                    <div id="bar" class="progress progress-striped" role="progressbar">
                                        <div class="progress-bar progress-bar-success" style="width:66.6666%;"> </div>
                                    </div>
                                    <div class="tab-content">
                                        
                                        <div class="tab-pane active" id="tab2">
                                            <div class="form-group" style="margin-bottom:27px;">
                                                <label class="control-label " style=""><span class="required" aria-required="true">*</span>Full Name </label>
                                                <input name="name" style="" type="text" class="form-control"  value="{{.FormItems.FullName}}" placeholder="">
                                                    {{if .Errors.FullName}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.FullName}}</span>{{end}}
                                            </div>
                                            <div class="form-group" style="margin-bottom:27px;">
                                                <label class="control-label " style="text-align:right;"><span class="required" aria-required="true">*</span>Username </label>
                                                <input name="uname" type="text" class="form-control" style="" value="{{.FormItems.UName}}" placeholder="">
                                                    {{if .Errors.UName}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.UName}}</span>{{end}}
                                            </div>
                                            <div class="form-group" style="margin-bottom:27px;">
                                                <label class="control-label " style="text-align:right;"><span class="required" aria-required="true">*</span>Email </label>
                                                <input name="email" type="email" class="form-control" style="" value="{{.FormItems.Email}}" placeholder="">
                                                    {{if .Errors.Email}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Email}}</span>{{end}}
                                            </div>
                                            <div class="form-group" style="margin-bottom:27px;">
                                                <label class="control-label " style="text-align:right;"><span class="required" aria-required="true">*</span>Mobile </label>
                                                <input name="mobile" type="password" class="form-control" style="" value="{{.FormItems.Mobile}}" placeholder="">
                                                    {{if .Errors.Mobile}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Mobile}}</span>{{end}}
                                            </div>
                                            <div class="form-group" style="margin-bottom:27px;">
                                                <label class="control-label " style="text-align:right;"><span class="required" aria-required="true">*</span>Password </label>
                                                <input name="password" type="text" class="form-control" style="" >
                                            </div>
                                            <div class="form-actions" style="background:none; text-align:center">
                                                <button type="submit" class="btn green">Save & Add More</button>
                                                <button type="button" class="btn default">Save & Continue</button>
                                            </div>
                                        </div>
                                    </div>
                            </form>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
{{end}}

{{ define "pagelevelplugins" }}

{{end}}

{{define "pagelevelscripts"}} 

{{end}}