{{ template "master_layout.html" . }}

{{ define "pagelevelstyles"}} 
 
    <!-- BEGIN PAGE LEVEL STYLES -->
        <link href="/static/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.css" rel="stylesheet" type="text/css" />
		<link href="/static/assets/global/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" type="text/css" />
		
		<link href="/static/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css" rel="stylesheet" type="text/css" />
        <!-- END PAGE LEVEL STYLES -->
	
{{end}}

{{ define "content" }}  
         <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                    <!-- BEGIN PAGE BASE CONTENT -->

                    <div class="row">
                        <div class="col-md-12">
                            <div class="portlet light bordered">
                                
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="icon-equalizer font-green"></i>
                                        <span class="caption-subject bold font-green uppercase">Import Customers</span>

                                    </div>
                                    <div class="actions">
                                        <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" style="width:20px; height:20px; line-height: 0.999; padding-left:4px; "> </a>
                                    </div>
                                    <!--<div class="tools nts-tools faq-links" style="margin-top:0;">
                                    {{if .ErrorsPresent}} 
                                        <a href=""  class="collapse" style="background-image:none;">
                                        <i class="fa fa-minus-circle"></i> </a> 
                                     {{else}} 
                                        <a href=""  class="expand" style="background-image:none;">
                                        <i class="fa fa-plus-square"></i> </a> 
                                     {{end}}
                                    </div>-->
                                </div>
                                

                            <!--{{if .ErrorsPresent}} 
                            <div class="portlet-body form" style="display:block" >
                            {{else}}  
                            <div class="portlet-body form"  style="display:none" >
                            {{end}}-->
                            
                            <div class="portlet-body form" >
                                <div class="form-wizard">
                                    <div class="form-body" style="">
                                        <form id="bootstrapTagsInputForm" class="registration-form" method="POST" enctype="multipart/form-data">
                                            {{ .xsrfdata }}
                                            <div class="form-group" style="margin-bottom: 27px;">
                                                <label class="control-label" style=""><span class="required" aria-required="true">*</span>Choose CSV file</label>
                                                <div  style="text-align:left;">
                                                <input type="file" name="customersFile">
                                                {{if .Errors.IndType}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.IndType}}</span>{{end}}
                                                </div>
                                            </div>
                                            <div class="form-actions" style="background:none; text-align:center">
                                                <button name="config-btn" type="submit" class="btn green">Import</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            
                            </div>
                            <table class="table table-bordered table-hover dataTable table-checkable order-column" width="100%" id="stock_view_table">
                            <thead>
                            <tr>
                                <th style="text-align: left">Sr No</th>
                                <th style="text-align: left; width:200px !important;"> Unique Code </th>			
                                <th style="width:200px !important; text-align: left"> Supplier Name </th>
                                <th style="text-align: left"> Group </th>
                                <th style="text-align: left"> Address </th> 
                                <th style="text-align: left"> City </th>
                                <th style="text-align: left"> State  </th>
                                <th style="text-align: left"> Country </th>
                                <th style="text-align: left"> Pincode </th>
                                <th style="text-align: left"> TIN </th>
                                <th style="text-align: left"> Area Code </th>
                                <th style="text-align: left"> CST  </th>
                                <th style="text-align: left"> PAN </th> 
                                <th style="text-align: left"> ECC </th>
                                <th style="text-align: left"> Credit in days  </th>
                                <th style="text-align: left"> Credit Limit </th>
                                <th style="text-align: left"> Customer Type  </th>
                                <th style="text-align: left"> Introduction </th>
                                <th style="text-align: left"> GSTIN </th>
                                <th style="text-align: left"> PGST  </th>
                                <th style="text-align: left"> ARN </th>
                                <th style="text-align: left"> Service Location </th>
                                <th style="text-align: left"> Contact Person </th>
                                <th style="text-align: left">Designation </th>
                                <th style="text-align: left"> Email </th>
                                <th style="text-align: left"> Phone no. </th>
                                <th style="text-align: left"> Cell no.  </th>
                                <th style="text-align: left"> WAddress </th>
                                <th style="text-align: left"> WCity  </th>
                                <th style="text-align: left"> WState </th> 
                                <th style="text-align: left"> WCountry </th>
                                <th style="text-align: left"> WPincode  </th>
                            </tr>
                            </thead>
                            <tbody>
                                    {{ range $customers := .CsvCustomers }}
                                    <tr class="odd gradeX">	
                                        <td style="text-align: right"> {{ $customers.SrNo }} </td>
                                        <td style="text-align: left"> {{ $customers.UniqueCode }} </td>							
                                        <td style="text-align: left"> {{ $customers.CompanyName }} </td>
                                        <td style="text-align: left"> {{ $customers.Group }} </td>
                                        <td style="text-align: left"> {{ $customers.Address }} </td>
                                        <td style="text-align: left">{{ $customers.City }}</td>
                                        <td style="text-align: left">{{ $customers.State  }}</td>
                                        <td style="text-align: left"> {{ $customers.Country }} </td>
                                        <td style="text-align: right"> {{ $customers.Pincode }} </td>
                                        <td style="text-align: left"> {{ $customers.TIN }} </td>
                                        <td style="text-align: left"> {{ $customers.AreaCode }} </td>
                                        <td style="text-align: left"> {{ $customers.CST }} </td>
                                        <td style="text-align: left"> {{ $customers.PAN }} </td>   
                                        <td style="text-align: left"> {{ $customers.ECC }} </td>
                                        <td style="text-align: right"> {{ $customers.CreditInDays }} </td>
                                        <td style="text-align: right"> {{ $customers.CreditLimit }} </td>
                                        <td style="text-align: left"> {{ $customers.CustomerType }} </td>
                                        <td style="text-align: left"> {{ $customers.Introduction }} </td>
                                        <td style="text-align: right"> {{ $customers.GST }} </td>
                                        <td style="text-align: right"> {{ $customers.PGST }} </td>   
                                        <td style="text-align: left"> {{ $customers.ARN }} </td>
                                        <td style="text-align: left"> {{ $customers.ServiceLoc }} </td>
                                        <td style="text-align: left"> {{ $customers.ContactPerson }} </td>
                                        <td style="text-align: left"> {{ $customers.Designation }} </td>  
                                        <td style="text-align: right"> {{ $customers.Email }} </td>
                                        <td style="text-align: right">{{ $customers.PhoneNo }}</td>
                                        <td style="text-align: right">{{ $customers.CellNo }}</td>
                                        <td style="text-align: left"> {{ $customers.WarehouseAddress }} </td>
                                        <td style="text-align: left"> {{ $customers.WCity }} </td>
                                        <td style="text-align: left"> {{ $customers.WState }} </td>
                                        <td style="text-align: left"> {{ $customers.WCountry }} </td>
                                        <td style="text-align: right"> {{ $customers.WPincode }} </td>   
                                    </tr>
                                    {{end}}
                                                    
                                </tbody>
                            </table>

                            {{if compare .ItemErrorMap "nil"}}
                            <div class="row" style="margin-left: 1px; margin-right: 1px;">
                                <p>{{ .SuccessEntries }} of {{ .TotalEntries }} successful</p>
                            </div>
                            <div class="row" style="margin-left: 1px; margin-right: 1px;">
                                <p>Customers inserted successfully without any errors</p>
                            </div>
                            {{else if compare .ItemErrorMap "0"}}
                            {{else}}
                            <div class="row" style="margin-left: 1px; margin-right: 1px;">
                                <p>{{ .SuccessEntries }} of {{ .TotalEntries }} successful</p>
                            </div>
                            <div class="row" style="margin-left: 1px; margin-right: 1px;"> 
                                <table class="table table-bordered table-hover dt-responsive dataTable table-checkable order-column" >
                                    <thead>
                                        <tr>
                                            <th>Sr No</th>
                                            <!-- <th>Customer Code</th> -->
                                            <th>Error</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{ range $key, $val:= .ItemErrorMap }}
                                        <tr>
                                            <td style="text-align: right">{{$key}}</td>
                                            <td style="text-align: left">{{if compare $val.CustomerUniqueCodeErr "Code already used"}}
                                                Code already used
                                                {{else if compare $val.CustomerNameErr "Name already used"}}
                                                Name already used
                                                {{else if compare $val.CustomerRequiredNameErr "Name required"}}
                                                Name required
                                                {{else}}
                                                Error in database
                                                {{end}}
                                            </td>
                                            <!--<td>{{$val}}</td>-->
                                        </tr>
                                        {{end}}
                                    </tbody>
                                </table>
                            </div>
                            {{end}}

                        </div> <!-- Form Row -->
                    </div>
                <!-- END PAGE BASE CONTENT -->
                </div>
                <!-- END CONTENT BODY -->
            </div>
                </div>
            </div>
            <!-- END CONTENT -->
            {{end}}

 {{define "pagelevelplugins"}}
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <script src="/static/assets/global/scripts/datatable.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
		<!--<script src="https://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>-->
        <script src="/static/assets/global/plugins/fuelux/js/spinner.min.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.js" type="text/javascript"></script>
		<script src="/static/assets/global/plugins/bootstrap-select/js/bootstrap-select.min.js" type="text/javascript"></script>
        <!-- END PAGE LEVEL PLUGINS -->
        {{end}}
        
        {{define "pagelevelscripts"}}
        <!-- BEGIN PAGE LEVEL SCRIPTS -->
		<script src="/static/assets/pages/scripts/components-bootstrap-select.min.js" type="text/javascript"></script>
        <script src="/static/assets/pages/scripts/components-bootstrap-touchspin.js" type="text/javascript"></script>
		<script src="/static/assets/pages/scripts/table-datatables-managed.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.js"></script>
        <!--<script src="../static/assets/pages/scripts/ui-modals.js" type="text/javascript"></script>
        <script src="../static/assets/pages/scripts/ui-modals.min.js" type="text/javascript"></script>-->
        {{if .FlashNotices}}
        <script type="text/javascript">
                $(function() {                  
                    $.bootstrapGrowl("{{.FlashNotices}}", {offset: {from: 'top', amount: 20}, delay: 5000, type: 'success',align: 'center', stackup_spacing: 30,width: 400 });});
         </script>
         {{end}}
        <!-- END PAGE LEVEL SCRIPTS -->
        {{end}}