{{ template "master_layout.html" . }}

{{ define "pagelevelstyles"}} 
 
    <!-- BEGIN PAGE LEVEL STYLES -->
        <link href="/static/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.css" rel="stylesheet" type="text/css" />
		<link href="/static/assets/global/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" type="text/css" />
		
		<link href="/static/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css" rel="stylesheet" type="text/css" />
        <!-- <style type="text/css">
            tr:first-child
            {
                counter-reset: Serial;           /* Set the Serial counter to 0 */
            }

            table
            {
                border-collapse: separate;
            }

            tr td:first-child:before
            {
              counter-increment: Serial;      /* Increment the Serial counter */
              content:  counter(Serial); /* Display the counter */
            }
        </style> -->
    <!-- END PAGE LEVEL STYLES -->
	
{{end}}

{{ define "content" }}  
         <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                    <!-- BEGIN PAGE BASE CONTENT -->

                    <div class="row">
                        <div class="col-md-12">
                            <div class="portlet light bordered">
                                
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="icon-equalizer font-green"></i>
                                        <span class="caption-subject bold font-green uppercase">Import Items</span>

                                    </div>
                                    <div class="actions">
                                        <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" style="width:20px; height:20px; line-height: 0.999; padding-left:4px; "> </a>
                                    </div>
                                    <!--<div class="tools nts-tools faq-links" style="margin-top:0;">
                                    {{if .ErrorsPresent}} 
                                        <a href=""  class="collapse" style="background-image:none;">
                                        <i class="fa fa-minus-circle"></i> </a> 
                                     {{else}} 
                                        <a href=""  class="expand" style="background-image:none;">
                                        <i class="fa fa-plus-square"></i> </a> 
                                     {{end}}
                                    </div>-->
                                </div>
                                

                            <!--{{if .ErrorsPresent}} 
                            <div class="portlet-body form" style="display:block" >
                            {{else}}  
                            <div class="portlet-body form"  style="display:none" >
                            {{end}}-->
                            
                            <div class="portlet-body form" >
                                <div class="form-wizard">
                                <div class="form-body" style="">
                                    <form id="bootstrapTagsInputForm" class="registration-form" method="POST" enctype="multipart/form-data">
                                        {{ .xsrfdata }}
                                        <div class="form-group" style="margin-bottom: 27px;">
                                            <label class="control-label" style=""><span class="required" aria-required="true">*</span>Choose CSV file</label>
                                            <div  style="text-align:left;">
                                            <input type="file" name="itemsFile">
                                            {{if .Errors.IndType}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.IndType}}</span>{{end}}
                                            </div>
                                        </div>
                                        <div class="form-actions" style="background:none; text-align:center">
                                            <button name="config-btn" type="submit" class="btn green">Import</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            
                            </div>
                            <table class="table table-bordered table-hover  dataTable table-checkable order-column" width="100%" id="items_import_table">
                            <thead>
                            <tr>
                                <th style="text-align: right"> Sr No </th>			
                                <th style="width:200px !important; text-align: left"> Item/Product </th>
                                <th style="text-align: left"> Is Product </th>
                                <th style="text-align: left"> Code </th>
                                <th style="text-align: left"> Grade </th>
                                <th style="text-align: left"> Group </th>
                                <th style="text-align: left">Sub Group </th>
                                <th style="text-align: left"> UOM </th>
                                <th style="text-align: left"> Invoice Narration </th>
                                <th style="text-align: left"> Min Stock trigger </th>
                                <th style="text-align: left"> Min Order Quantity </th>
                                <th style="text-align: left"> Max Storage Quantity </th>
                                <th style="text-align: left"> Bin Location </th>
                                <th style="text-align: left"> Geo Location </th>
                                <th style="text-align: left"> Lead Time </th>  
                                <th style="text-align: left"> GST Rate </th>
                                <th style="text-align: left"> Cess Rate </th>
                                <th style="text-align: left"> HSN/SAC </th>
                                <th style="text-align: left"> Production Status </th>
                                <th style="text-align: left"> Non-Consumable </th>
                            </tr>
                            </thead>
                            <tbody>
                                    {{ range $stock := .CsvItems }}
                                    <tr class="odd gradeX">	
                                        <td style="text-align: right">{{ $stock.SrNo }}</td>							
                                        <td style="text-align: left"> {{ $stock.ItemName }} </td>
                                        <td style="text-align: left"> {{ $stock.IsProduct }} </td>
                                        <td style="text-align: left"> {{ $stock.ItemUniqueCode }} </td>
                                        <td style="text-align: left"> {{ $stock.Grade }} </td>
                                        <td style="text-align: left"> {{ $stock.Group }} </td>
                                        <td style="text-align: left"> {{ $stock.SubGroup }} </td>
                                        <td style="text-align: left"> {{ $stock.UOM }} </td>   
                                        <td style="text-align: left"> {{ $stock.InvoiceNarration }} </td>
                                        <td class="text-center" style="text-align: right">{{ $stock.MinStockTrigger }}</td>
                                        <td class="text-center" style="text-align: right">{{ $stock.MinOrderQty }}</td>
                                        <td class="text-center" style="text-align: right">{{ $stock.MaxStorageQty }}</td>
                                        <td class="text-center" style="text-align: right">{{ $stock.BinLocation }}</td>
                                        <td class="text-center" style="text-align: right">{{ $stock.GeoLocation }}</td>
                                        <td class="text-center" style="text-align: right">{{ $stock.LeadTime }}</td>
                                        <td class="text-center" style="text-align: right">{{ $stock.GstRate }}</td>
                                        <td class="text-center" style="text-align: right">{{ $stock.CessRate }}</td>
                                        <td class="text-center" style="text-align: right">{{ $stock.HsnSac }}</td>
                                        <td class="text-center" style="text-align: right">{{ $stock.ProductionStatus }}</td>
                                        <td class="text-center" style="text-align: right">{{ $stock.NonConsumable }}</td>
                                    </tr>
                                    {{end}}
                                                    
                                </tbody>
                            </table>

                            {{if compare .ItemErrorMap "nil"}}
                            <div class="row" style="margin-left: 1px; margin-right: 1px;">
                                <p>{{ .SuccessEntries }} of {{ .TotalEntries }} successful</p>
                            </div>
                            <div class="row" style="margin-left: 1px; margin-right: 1px;">
                                <p>Items/Products inserted successfully without any errors</p>
                            </div>
                            {{else if compare .ItemErrorMap "0"}}
                            {{else}}
                            <div class="row" style="margin-left: 1px; margin-right: 1px;">
                                <p>{{ .SuccessEntries }} of {{ .TotalEntries }} successful</p>
                            </div>
                            <div class="row" style="margin-left: 1px; margin-right: 1px;"> 
                                <table class="table table-bordered table-hover dt-responsive dataTable table-checkable order-column" >
                                    <thead>
                                        <tr>
                                            <th style="text-align: right"> Sr No </th>
                                            <!-- <th>Item/Product Code</th> -->
                                            <th>Item/Product Name</th>
                                            <th>Error</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{ range $key, $val:= .ItemErrorMap }}
                                        <tr>
                                            <!-- <td></td> -->
                                            <td>{{$key}}</td>
                                            <td>{{$val.Name}}</td>
                                            <td>{{if compare $val.ItemUniqueCodeErr "Code already used"}}
                                                Code already used
                                                {{else if compare $val.ItemNameErr "Name already used"}}
                                                Name already used
                                                {{else if compare $val.ItemNameRequiredErr "Name required"}}
                                                Name required
                                                {{else}}
                                                Error in database
                                                {{end}}
                                            </td>
                                            <!--<td>{{$val}}</td>-->
                                        </tr>
                                        {{end}}
                                    </tbody>
                                </table>
                            </div>
                            {{end}}

                        </div> <!-- Form Row -->
                    </div>
                <!-- END PAGE BASE CONTENT -->
                </div>
                <!-- END CONTENT BODY -->
            </div>
                </div>
            </div>
            <!-- END CONTENT -->
            {{end}}

 {{define "pagelevelplugins"}}
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <script src="/static/assets/global/scripts/datatable.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
		<!--<script src="https://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>-->
        <script src="/static/assets/global/plugins/fuelux/js/spinner.min.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.js" type="text/javascript"></script>
		<script src="/static/assets/global/plugins/bootstrap-select/js/bootstrap-select.min.js" type="text/javascript"></script>
        <!-- END PAGE LEVEL PLUGINS -->
        {{end}}
        
        {{define "pagelevelscripts"}}
        <!-- BEGIN PAGE LEVEL SCRIPTS -->
		<script src="/static/assets/pages/scripts/components-bootstrap-select.min.js" type="text/javascript"></script>
        <script src="/static/assets/pages/scripts/components-bootstrap-touchspin.js" type="text/javascript"></script>
		<script src="/static/assets/pages/scripts/table-datatables-managed.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.js"></script>
        <!--<script src="../static/assets/pages/scripts/ui-modals.js" type="text/javascript"></script>
        <script src="../static/assets/pages/scripts/ui-modals.min.js" type="text/javascript"></script>-->
        {{if .FlashNotices}}
        <script type="text/javascript">
                $(function() {                  
                    $.bootstrapGrowl("{{.FlashNotices}}", {offset: {from: 'top', amount: 20}, delay: 5000, type: 'success',align: 'center', stackup_spacing: 30,width: 400 });});
         </script>
         {{end}}
        <!-- END PAGE LEVEL SCRIPTS -->
        {{end}}