{{ template "master_layout.html" . }}

{{ define "pagelevelstyles"}} 
 
    <!-- BEGIN PAGE LEVEL STYLES -->
        <link href="/static/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.css" rel="stylesheet" type="text/css" />
		<link href="/static/assets/global/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" type="text/css" />
		
		<link href="/static/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css" rel="stylesheet" type="text/css" />
        <!-- END PAGE LEVEL STYLES -->
	
{{end}}

{{ define "content" }}  
         <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                    <!-- BEGIN PAGE BASE CONTENT -->

                    <div class="row">
                        <div class="col-md-12">
                            <div class="portlet light bordered">
                                
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="icon-equalizer font-green"></i>
                                        <span class="caption-subject bold font-green uppercase">Import Products</span>

                                    </div>
                                    <div class="actions">
                                        <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" style="width:20px; height:20px; line-height: 0.999; padding-left:4px; "> </a>
                                    </div>
                                    <!--<div class="tools nts-tools faq-links" style="margin-top:0;">
                                    {{if .ErrorsPresent}} 
                                        <a href=""  class="collapse" style="background-image:none;">
                                        <i class="fa fa-minus-circle"></i> </a> 
                                     {{else}} 
                                        <a href=""  class="expand" style="background-image:none;">
                                        <i class="fa fa-plus-square"></i> </a> 
                                     {{end}}
                                    </div>-->
                                </div>
                                

                     <!--{{if .ErrorsPresent}} 
                      <div class="portlet-body form" style="display:block" >
                      {{else}}  
                      <div class="portlet-body form"  style="display:none" >
                      {{end}}-->
                     
                      <div class="portlet-body form" >
                        <div class="form-wizard">
                        <div class="form-body" style="">
                            <form id="bootstrapTagsInputForm" class="registration-form" method="POST" enctype="multipart/form-data">
                                  {{ .xsrfdata }}
                                   <div class="form-group" style="margin-bottom: 27px;">
	                                 <label class="control-label" style=""><span class="required" aria-required="true">*</span>Choose CSV file</label>
	                                <div  style="text-align:left;">
	                                <input type="file" name="productsFile">
                                    {{if .Errors.IndType}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.IndType}}</span>{{end}}
	                                </div>
	                              </div>
                                  <div class="form-actions" style="background:none; text-align:center">
	                                <button name="config-btn" type="submit" class="btn green">Import</button>
	                             </div>
                            </form>
                        </div>
                    </div>
                    
                    </div>
                    <table class="table table-bordered table-hover dt-responsive dataTable table-checkable order-column" width="100%" id="stock_view_table">
                       <thead>
                       <tr>
                        <th style="text-align: right"> Sr No </th>			
                        <th style="width:200px !important; text-align: left"> Product Name </th>
						<th style="text-align: left"> Product Code </th>
                        <th style="text-align: left"> Group </th>
                        <th style="text-align: left">Sub Group </th>
						<th style="text-align: left"> UOM </th>
                        <th style="text-align: left"> Invoice Narration </th>
                        <th style="text-align: left"> Min Stock  </th>
                        <th style="text-align: left"> Rate Per UOM </th> 
                        <th style="text-align: left"> Capacity </th>
                        <th style="text-align: left"> Transport  </th>
                        <th style="text-align: left"> Product Type </th>
                        <th style="text-align: left"> Geo Location </th>
                       </tr>
                       </thead>
                       <tbody>
                    		{{ range $product := .CsvProducts }}
                            <tr class="odd gradeX">	
                                <td style="text-align: right"> {{ $product.SrNo }} </td>							
                                <td style="text-align: left"> {{ $product.ProductOrgName }} </td>
								<td style="text-align: left"> {{ $product.SrNo }} </td>
								<td style="text-align: left"> {{ $product.Group }} </td>
                                <td style="text-align: left"> {{ $product.SubGroup }} </td>
                                <td style="text-align: left"> {{ $product.UOM }} </td>   
								<td style="text-align: left"> {{ $product.InvoiceNarration }} </td>
                                <td class="text-center" style="text-align: right">{{ $product.MinStockKeep }}</td>
                                <td class="text-center" style="text-align: right">{{ $product.Capacity }}</td>
                                <td style="text-align: left"> {{ $product.InvoiceNarration }} </td>
                                <td class="text-center" style="text-align: right">{{ $product.Transport }}</td>
                                <td class="text-center" style="text-align: right">{{ $product.ProductType  }}</td>
                                <td class="text-center" style="text-align: right">{{ $product.FactoryLoc  }}</td>
                            </tr>
                            {{end}}
                                            
										</tbody>
                                    </table>

                    <div> 

                    </div>

                  </div> <!-- Form Row -->
                    </div>
                <!-- END PAGE BASE CONTENT -->
                </div>
                <!-- END CONTENT BODY -->
            </div>
                </div>
            </div>
            <!-- END CONTENT -->
            {{end}}

 {{define "pagelevelplugins"}}
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <script src="/static/assets/global/scripts/datatable.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
		<!--<script src="https://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>-->
        <script src="/static/assets/global/plugins/fuelux/js/spinner.min.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.js" type="text/javascript"></script>
		<script src="/static/assets/global/plugins/bootstrap-select/js/bootstrap-select.min.js" type="text/javascript"></script>
        <!-- END PAGE LEVEL PLUGINS -->
        {{end}}
        
        {{define "pagelevelscripts"}}
        <!-- BEGIN PAGE LEVEL SCRIPTS -->
		<script src="/static/assets/pages/scripts/components-bootstrap-select.min.js" type="text/javascript"></script>
        <script src="/static/assets/pages/scripts/components-bootstrap-touchspin.js" type="text/javascript"></script>
		<script src="/static/assets/pages/scripts/table-datatables-managed.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.js"></script>
        <!--<script src="../static/assets/pages/scripts/ui-modals.js" type="text/javascript"></script>
        <script src="../static/assets/pages/scripts/ui-modals.min.js" type="text/javascript"></script>-->
        {{if .FlashNotices}}
        <script type="text/javascript">
                $(function() {                  
                    $.bootstrapGrowl("{{.FlashNotices}}", {offset: {from: 'top', amount: 20}, delay: 5000, type: 'success',align: 'center', stackup_spacing: 30,width: 400 });});
         </script>
         {{end}}
        <!-- END PAGE LEVEL SCRIPTS -->
        {{end}}