{{ template "master_layout.html" . }}

{{ define "pagelevelstyles"}} 
 
    <!-- BEGIN PAGE LEVEL STYLES -->
        <link href="/static/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.css" rel="stylesheet" type="text/css" />
		<link href="/static/assets/global/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" type="text/css" />
		
		<link href="/static/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css" rel="stylesheet" type="text/css" />
        <!-- <style type="text/css">
            tr:first-child
            {
                counter-reset: Serial;           /* Set the Serial counter to 0 */
            }

            table
            {
                border-collapse: separate;
            }

            tr td:first-child:before
            {
              counter-increment: Serial;      /* Increment the Serial counter */
              content:  counter(Serial); /* Display the counter */
            }
        </style> -->
    <!-- END PAGE LEVEL STYLES -->
	
{{end}}

{{ define "content" }}  
         <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                    <!-- BEGIN PAGE BASE CONTENT -->

                    <div class="row">
                        <div class="col-md-12">
                            <div class="portlet light bordered">
                                
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="icon-equalizer font-green"></i>
                                        <span class="caption-subject bold font-green uppercase">Import</span>

                                    </div>
                                    <div class="actions">
                                        <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" style="width:20px; height:20px; line-height: 0.999; padding-left:4px; "> </a>
                                    </div>
                                    <!--<div class="tools nts-tools faq-links" style="margin-top:0;">
                                    {{if .ErrorsPresent}} 
                                        <a href=""  class="collapse" style="background-image:none;">
                                        <i class="fa fa-minus-circle"></i> </a> 
                                     {{else}} 
                                        <a href=""  class="expand" style="background-image:none;">
                                        <i class="fa fa-plus-square"></i> </a> 
                                     {{end}}
                                    </div>-->
                                </div>
                                

                            <!--{{if .ErrorsPresent}} 
                            <div class="portlet-body form" style="display:block" >
                            {{else}}  
                            <div class="portlet-body form"  style="display:none" >
                            {{end}}-->
                            
                            <div class="portlet-body form" >
                                    <ul class="nav nav-tabs">
                                        <li >
                                            <a href="#tab_1_1" data-toggle="tab"> Materials </a>
                                        </li>
                                        <li >
                                            <a href="#tab_1_2" data-toggle="tab">Products BOM</a>
                                        </li>
                                        <li >
                                            <a href="#tab_1_3" data-toggle="tab">Suppliers</a>
                                        </li>
                                        <li >
                                            <a href="#tab_1_4" data-toggle="tab">Customers</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane fade active in" id="tab_1_1">
                                            <div class="form-wizard">
                                                <div class="form-body" style="">
                                                    <form id="bootstrapTagsInputForm" class="registration-form" method="POST" enctype="multipart/form-data">
                                                        {{ .xsrfdata }}
                                                        <div class="form-group" style="margin-bottom: 27px;">
                                                            <label class="control-label" style=""><span class="required" aria-required="true">*</span>Choose CSV file</label>
                                                            <div  style="text-align:left;">
                                                            <input type="file" name="itemsFile">
                                                            {{if .Errors.IndType}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.IndType}}</span>{{end}}
                                                            </div>
                                                        </div>
                                                        <div class="form-actions" style="background:none; text-align:center">
                                                            <button name="config-btn" value="ItemsImport" type="submit" class="btn green">Import</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                            <table class="table table-bordered table-hover  dataTable table-checkable order-column" width="100%" id="items_import_table">
                                                <thead>
                                                    <tr>
                                                        <!-- <th style="text-align: right"> Sr No </th>			 -->
                                                        <th style="max-width:none !important; text-align: left; padding-left:5px;"> Item/Product </th>
                                                        <th style="text-align: left"> Is Product </th>
                                                        <th style="text-align: left"> Code </th>
                                                        <th style="text-align: left"> Grade </th>
                                                        <th style="text-align: left"> Group </th>
                                                        <th style="text-align: left">Sub Group </th>
                                                        <th style="text-align: left"> UOM </th>
                                                        <th style="text-align: left"> Invoice Narration </th>
                                                        <th style="text-align: left"> Min Stock trigger </th>
                                                        <th style="text-align: left"> Min Order Quantity </th>
                                                        <th style="text-align: left"> Max Storage Quantity </th>
                                                        <th style="text-align: left"> Bin Location </th>
                                                        <th style="text-align: left"> Geo Location </th>
                                                        <th style="text-align: left"> Lead Time </th>  
                                                        <th style="text-align: left"> GST Rate </th>
                                                        <th style="text-align: left"> Cess Rate </th>
                                                        <th style="text-align: left"> HSN/SAC </th>
                                                        <th style="text-align: left"> Production Status </th>
                                                        <th style="text-align: left"> Non-Consumable </th>
                                                        <th style="text-align: left"> Opening Stock </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {{ range $stock := .CsvItems }}
                                                    <tr class="odd gradeX">	
                                                        <!-- <td style="text-align: right">{{ $stock.SrNo }}</td>							 -->
                                                        <td style="text-align: left; padding-left:5px;"> {{ $stock.ItemName }} </td>
                                                        <td style="text-align: left"> {{ $stock.IsProduct }} </td>
                                                        <td style="text-align: left"> {{ $stock.ItemUniqueCode }} </td>
                                                        <td style="text-align: left"> {{ $stock.Grade }} </td>
                                                        <td style="text-align: left"> {{ $stock.Group }} </td>
                                                        <td style="text-align: left"> {{ $stock.SubGroup }} </td>
                                                        <td style="text-align: left"> {{ $stock.UOM }} </td>   
                                                        <td style="text-align: left"> {{ $stock.InvoiceNarration }} </td>
                                                        <td class="text-center" style="text-align: right">{{ $stock.MinStockTrigger }}</td>
                                                        <td class="text-center" style="text-align: right">{{ $stock.MinOrderQty }}</td>
                                                        <td class="text-center" style="text-align: right">{{ $stock.MaxStorageQty }}</td>
                                                        <td class="text-center" style="text-align: right">{{ $stock.BinLocation }}</td>
                                                        <td class="text-center" style="text-align: right">{{ $stock.GeoLocation }}</td>
                                                        <td class="text-center" style="text-align: right">{{ $stock.LeadTime }}</td>
                                                        <td class="text-center" style="text-align: right">{{ $stock.GstRate }}</td>
                                                        <td class="text-center" style="text-align: right">{{ $stock.CessRate }}</td>
                                                        <td class="text-center" style="text-align: right">{{ $stock.HsnSac }}</td>
                                                        <td class="text-center" style="text-align: right">{{ $stock.ProductionStatus }}</td>
                                                        <td class="text-center" style="text-align: right">{{ $stock.NonConsumable }}</td>
                                                        <td class="text-center" style="text-align: right">{{ $stock.OpeningStock }}</td>
                                                    </tr>
                                                    {{end}}
                                                                    
                                                </tbody>
                                            </table>
                
                                            {{if compare .ItemErrorMap "nil"}}
                                            <div class="row" style="margin-left: 1px; margin-right: 1px;">
                                                <p>{{ .SuccessEntries }} of {{ .TotalEntries }} successful</p>
                                            </div>
                                            <div class="row" style="margin-left: 1px; margin-right: 1px;">
                                                <p>Materials inserted successfully without any errors</p>
                                            </div>
                                            {{else if compare .ItemErrorMap "0"}}
                                            {{else}}
                                            <div class="row" style="margin-left: 1px; margin-right: 1px;">
                                                <p>{{ .SuccessEntries }} of {{ .TotalEntries }} successful</p>
                                            </div>
                                            <div class="row" style="margin-left: 1px; margin-right: 1px;"> 
                                                <table class="table table-bordered table-hover dt-responsive dataTable table-checkable order-column" >
                                                    <thead>
                                                        <tr>
                                                            <!-- <th style="text-align: right"> Sr No </th> -->
                                                            <!-- <th>Item/Product Code</th> -->
                                                            <th>Item/Product Name</th>
                                                            <th>Error</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {{ range $key, $val:= .ItemErrorMap }}
                                                        <tr>
                                                            <!-- <td></td> -->
                                                            <!-- <td>{{$key}}</td> -->
                                                            <td>{{$val.Name}}</td>
                                                            <td>{{if compare $val.ItemUniqueCodeErr "Code already used"}}
                                                                Code already used
                                                                {{else if compare $val.ItemNameErr "Name already used"}}
                                                                Name already used
                                                                {{else if compare $val.ItemNameRequiredErr "Name required"}}
                                                                Name required
                                                                {{else}}
                                                                Error in database
                                                                {{end}}
                                                            </td>
                                                            <!--<td>{{$val}}</td>-->
                                                        </tr>
                                                        {{end}}
                                                    </tbody>
                                                </table>
                                            </div>
                                            {{end}}
                                        </div>
                                        <div class="tab-pane fade" id="tab_1_2">
                                                <div class="form-wizard">
                                                    <div class="form-body" style="">
                                                        <form id="bootstrapTagsInputForm" class="registration-form" method="POST" enctype="multipart/form-data">
                                                            {{ .xsrfdata }}
                                                            <div class="form-group" style="margin-bottom: 27px;">
                                                                <label class="control-label" style=""><span class="required" aria-required="true">*</span>Choose CSV file</label>
                                                                <div  style="text-align:left;">
                                                                <input type="file" name="bomFile">
                                                                {{if .Errors.IndType}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.IndType}}</span>{{end}}
                                                                </div>
                                                            </div>
                                                            <div class="form-actions" style="background:none; text-align:center">
                                                                <button name="config-btn" value="BomImport" type="submit" class="btn green">Import</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                                <table class="table table-bordered table-hover dataTable table-checkable order-column" width="100%" id="stock_view_table">
                                                    <thead>
                                                    <tr>
                                                        <!-- <th style="text-align: right"> Sr No </th> -->
                                                        <th style="max-width:none; text-align: left; padding-left:5px;"> Product Code </th>			
                                                        <th style="text-align: left"> Item Code </th>
                                                        <th style="text-align: left"> Quantity </th>
                                                        <th style="text-align: left"> Inherent Scrap </th>
                                                        <th style="text-align: left"> Is non consumable </th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                            {{ range $bom := .CsvBom }}
                                                            <tr class="odd gradeX">	
                                                                <!-- <td></td> -->
                                                                <!-- <td style="text-align: right"> {{ $bom.SrNo }} </td> -->
                                                                <td style="text-align: left"> {{ $bom.ProductCode }} </td>							
                                                                <td style="text-align: left"> {{ $bom.ItemCode }} </td>
                                                                <td style="text-align: left"> {{ $bom.Quantity }} </td>
                                                                <td style="text-align: left"> {{ $bom.Wastage }} </td>
                                                                <td style="text-align: left"> {{ $bom.NonConsumable }} </td>
                                                            </tr>
                                                            {{end}}
                                                                            
                                                        </tbody>
                                                    </table>
                        
                                                    {{if compare .BomErrorMap "nil"}}
                                                    <div class="row" style="margin-left: 1px; margin-right: 1px;">
                                                        <p>{{ .SuccessEntries }} of {{ .TotalEntries }} successful</p>
                                                    </div>
                                                    <div class="row" style="margin-left: 1px; margin-right: 1px;">
                                                        <p>Products BOM inserted successfully without any errors</p>
                                                    </div>
                                                    {{else if compare .BomErrorMap "0"}}
                                                    {{else}}
                                                    <div class="row" style="margin-left: 1px; margin-right: 1px;">
                                                        <p>{{ .SuccessEntries }} of {{ .TotalEntries }} successful</p>
                                                    </div>
                                                    <div class="row" style="margin-left: 1px; margin-right: 1px;"> 
                                                        <table class="table table-bordered table-hover dt-responsive dataTable table-checkable order-column" >
                                                            <thead>
                                                                <tr>
                                                                    <!-- <th>Sr No.</th> -->
                                                                    <th>Product Code</th>
                                                                    <th>Item Code</th>
                                                                    <th>Error</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                {{ range $key, $val:= .BomErrorMap }}
                                                                <tr>
                                                                    <!-- <td>{{$key}}</td> -->
                                                                    <td>{{$val.ProductCode}}</td>
                                                                    <td>{{$val.ItemCode}}</td>
                                                                    <td>{{if compare $val.ProductCodeErr "Product Code required"}}
                                                                        Product Code required
                                                                        {{else if compare $val.ItemCodeErr "Item Code required"}}
                                                                        Item Code Required
                                                                        {{else if compare $val.QuantityErr "Quantity required"}}
                                                                        Quantity required
                                                                        {{else if compare $val.NoProduct "Product Absent"}}
                                                                        Product not present in Database
                                                                        {{else if compare $val.NoItem "Item Absent"}}
                                                                        Item not present in Database
                                                                        {{else if compare $val.BOMExists "BOM Already Exists"}}
                                                                        BOM Already Exists
                                                                        {{else}}
                                                                        Error in database
                                                                        {{end}}
                                                                    </td>
                                                                    <!--<td>{{$val}}</td>-->
                                                                </tr>
                                                                {{end}}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    {{end}}
                                        </div>
                                        <div class="tab-pane fade" id="tab_1_3">
                                            <div class="form-wizard">
                                                <div class="form-body" style="">
                                                    <form id="bootstrapTagsInputForm" class="registration-form" method="POST" enctype="multipart/form-data">
                                                        {{ .xsrfdata }}
                                                        <div class="form-group" style="margin-bottom: 27px;">
                                                            <label class="control-label" style=""><span class="required" aria-required="true">*</span>Choose CSV file</label>
                                                            <div  style="text-align:left;">
                                                            <input type="file" name="suppliersFile">
                                                            {{if .Errors.IndType}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.IndType}}</span>{{end}}
                                                            </div>
                                                        </div>
                                                        <div class="form-actions" style="background:none; text-align:center">
                                                            <button name="config-btn" value="SuppliersImport" type="submit" class="btn green">Import</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                            <table class="table table-bordered table-hover dataTable table-checkable order-column" width="100%" id="supplier_view_table">
                                                <thead>
                                                    <tr>
                                                        <!-- <th style="text-align: left"> Sr No </th> -->
                                                        <th style="max-width:none; text-align: left; padding-left:5px;"> Supplier Code </th>			
                                                        <th style="width:200px !important; text-align: left"> Supplier Name </th>
                                                        <th style="text-align: left"> Contact Person </th>
                                                        <th style="text-align: left">Designation </th>
                                                        <th style="text-align: left"> Email </th>
                                                        <th style="text-align: left"> Phone no. </th>
                                                        <th style="text-align: left"> Cell no.  </th>
                                                        <th style="text-align: left"> Office address </th> 
                                                        <th style="text-align: left"> City </th>
                                                        <th style="text-align: left"> State  </th>
                                                        <th style="text-align: left"> Country </th>
                                                        <th style="text-align: left"> Pincode </th>
                                                        <th style="text-align: left"> CST  </th>
                                                        <th style="text-align: left"> PAN </th> 
                                                        <th style="text-align: left"> ECC </th>
                                                        <th style="text-align: left"> Credit in days  </th>
                                                        <th style="text-align: left"> Credit Limit </th>
                                                        <th style="text-align: left"> LST  </th>
                                                        <th style="text-align: left"> Notes </th>
                                                        <th style="text-align: left"> Date of Introduction </th>
                                                        <th style="text-align: left"> GSTIN </th>
                                                        <th style="text-align: left"> PGST  </th>
                                                        <th style="text-align: left"> ARN </th>
                                                        <th style="text-align: left"> WAddress </th>
                                                        <th style="text-align: left"> WCity  </th>
                                                        <th style="text-align: left"> WState </th> 
                                                        <th style="text-align: left"> WCountry </th>
                                                        <th style="text-align: left"> WPincode  </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {{ range $suppliers := .CsvSuppliers }}
                                                    <tr class="odd gradeX">	
                                                        <!-- <td style="text-align: right"> {{ $suppliers.SrNo }} </td> -->
                                                        <td style="text-align: left; padding-left:5px;"> {{ $suppliers.Code }} </td>							
                                                        <td style="text-align: left"> {{ $suppliers.CompanyName }} </td>
                                                        <td style="text-align: left"> {{ $suppliers.ContactPerson }} </td>
                                                        <td style="text-align: left"> {{ $suppliers.Designation }} </td>  
                                                        <td style="text-align: right"> {{ $suppliers.Email }} </td>
                                                        <td style="text-align: right">{{ $suppliers.PhoneNo }}</td>
                                                        <td style="text-align: right">{{ $suppliers.CellNo }}</td>
                                                        <td style="text-align: left"> {{ $suppliers.OfficeAddress }} </td>
                                                        <td style="text-align: right">{{ $suppliers.City }}</td>
                                                        <td style="text-align: right">{{ $suppliers.State  }}</td>
                                                        <td style="text-align: left"> {{ $suppliers.Country }} </td>
                                                        <td style="text-align: left"> {{ $suppliers.Pincode }} </td>
                                                        <td style="text-align: left"> {{ $suppliers.CST }} </td>
                                                        <td style="text-align: left"> {{ $suppliers.PAN }} </td>   
                                                        <td style="text-align: left"> {{ $suppliers.ECC }} </td>
                                                        <td style="text-align: left"> {{ $suppliers.CreditInDays }} </td>
                                                        <td style="text-align: left"> {{ $suppliers.CreditLimit }} </td>
                                                        <td style="text-align: left"> {{ $suppliers.TIN }} </td>
                                                        <td style="text-align: left"> {{ $suppliers.Notes }} </td>
                                                        <td style="text-align: left"> {{ $suppliers.Introduction }} </td>
                                                        <td style="text-align: left"> {{ $suppliers.GSTIN }} </td>
                                                        <td style="text-align: left"> {{ $suppliers.PGST }} </td>   
                                                        <td style="text-align: left"> {{ $suppliers.ARN }} </td>
                                                        <td style="text-align: left"> {{ $suppliers.WarehouseAddress }} </td>   
                                                        <td style="text-align: left"> {{ $suppliers.WCity }} </td>
                                                        <td style="text-align: left"> {{ $suppliers.WState }} </td>
                                                        <td style="text-align: left"> {{ $suppliers.WCountry }} </td>
                                                        <td style="text-align: left"> {{ $suppliers.WPincode }} </td>   
                                                    </tr>
                                                    {{end}}         
                                                </tbody>
                                            </table>
                                            {{if compare .SuppliersErrorMap "nil"}}
                                            <div class="row" style="margin-left: 1px; margin-right: 1px;">
                                                <p>{{ .SuccessEntries }} of {{ .TotalEntries }} successful</p>
                                            </div>
                                            <div class="row" style="margin-left: 1px; margin-right: 1px;">
                                                <p>Suppliers inserted successfully without any errors</p>
                                            </div>
                                            {{else if compare .SuppliersErrorMap "0"}}
                                            {{else}}
                                            <div class="row" style="margin-left: 1px; margin-right: 1px;">
                                                <p>{{ .SuccessEntries }} of {{ .TotalEntries }} successful</p>
                                            </div>
                                            <div class="row" style="margin-left: 1px; margin-right: 1px;"> 
                                                <table class="table table-bordered table-hover dt-responsive dataTable table-checkable order-column" >
                                                    <thead>
                                                        <tr>
                                                            <!-- <th>Supplier Code</th> -->
                                                            <!-- <th>Sr No</th> -->
                                                            <th>Supplier Name</th>
                                                            <th>Error</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {{ range $key, $val:= .SuppliersErrorMap }}
                                                        <tr>
                                                            <!-- <td>{{$key}}</td> -->
                                                            <td>{{$val.Name}}</td>
                                                            <td>{{if compare $val.SupplierUniqueCodeErr "Code already used"}}
                                                                Code already used
                                                                {{else if compare $val.SupplierNameErr "Name already used"}}
                                                                Name already used
                                                                {{else if compare $val.SupplierNameRequiredErr "Name required"}}
                                                                Name required
                                                                {{else}}
                                                                Error in database
                                                                {{end}}
                                                            </td>
                                                            <!--<td>{{$val}}</td>-->
                                                        </tr>
                                                        {{end}}
                                                    </tbody>
                                                </table>
                                            </div>
                                            {{end}}
                                        </div>
                                        <div class="tab-pane fade" id="tab_1_4">
                                            <div class="form-wizard">
                                                <div class="form-body" style="">
                                                    <form id="bootstrapTagsInputForm" class="registration-form" method="POST" enctype="multipart/form-data">
                                                        {{ .xsrfdata }}
                                                        <div class="form-group" style="margin-bottom: 27px;">
                                                            <label class="control-label" style=""><span class="required" aria-required="true">*</span>Choose CSV file</label>
                                                            <div  style="text-align:left;">
                                                            <input type="file" name="customersFile">
                                                            {{if .Errors.IndType}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.IndType}}</span>{{end}}
                                                            </div>
                                                        </div>
                                                        <div class="form-actions" style="background:none; text-align:center">
                                                            <button name="config-btn" value="CustomersImport" type="submit" class="btn green">Import</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                            <table class="table table-bordered table-hover dataTable table-checkable order-column" width="100%" id="customers_view_table">
                                                <thead>
                                                    <tr>
                                                        <!-- <th style="text-align: left">Sr No</th> -->
                                                        <th style="text-align: left; max-width:none !important; padding-left:5px;"> Unique Code </th>			
                                                        <th style="width:200px !important; text-align: left"> Supplier Name </th>
                                                        <th style="text-align: left"> Group </th>
                                                        <th style="text-align: left"> Address </th> 
                                                        <th style="text-align: left"> City </th>
                                                        <th style="text-align: left"> State  </th>
                                                        <th style="text-align: left"> Country </th>
                                                        <th style="text-align: left"> Pincode </th>
                                                        <th style="text-align: left"> TIN </th>
                                                        <th style="text-align: left"> Area Code </th>
                                                        <th style="text-align: left"> CST  </th>
                                                        <th style="text-align: left"> PAN </th> 
                                                        <th style="text-align: left"> ECC </th>
                                                        <th style="text-align: left"> Credit in days  </th>
                                                        <th style="text-align: left"> Credit Limit </th>
                                                        <th style="text-align: left"> Customer Type  </th>
                                                        <th style="text-align: left"> Introduction </th>
                                                        <th style="text-align: left"> GSTIN </th>
                                                        <th style="text-align: left"> PGST  </th>
                                                        <th style="text-align: left"> ARN </th>
                                                        <th style="text-align: left"> Service Location </th>
                                                        <th style="text-align: left"> Contact Person </th>
                                                        <th style="text-align: left">Designation </th>
                                                        <th style="text-align: left"> Email </th>
                                                        <th style="text-align: left"> Phone no. </th>
                                                        <th style="text-align: left"> Cell no.  </th>
                                                        <th style="text-align: left"> WAddress </th>
                                                        <th style="text-align: left"> WCity  </th>
                                                        <th style="text-align: left"> WState </th> 
                                                        <th style="text-align: left"> WCountry </th>
                                                        <th style="text-align: left"> WPincode  </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                        {{ range $customers := .CsvCustomers }}
                                                        <tr class="odd gradeX">	
                                                            <!-- <td style="text-align: right"> {{ $customers.SrNo }} </td> -->
                                                            <td style="text-align: left; padding-left:5px;"> {{ $customers.UniqueCode }} </td>							
                                                            <td style="text-align: left"> {{ $customers.CompanyName }} </td>
                                                            <td style="text-align: left"> {{ $customers.Group }} </td>
                                                            <td style="text-align: left"> {{ $customers.Address }} </td>
                                                            <td style="text-align: left">{{ $customers.City }}</td>
                                                            <td style="text-align: left">{{ $customers.State  }}</td>
                                                            <td style="text-align: left"> {{ $customers.Country }} </td>
                                                            <td style="text-align: right"> {{ $customers.Pincode }} </td>
                                                            <td style="text-align: left"> {{ $customers.TIN }} </td>
                                                            <td style="text-align: left"> {{ $customers.AreaCode }} </td>
                                                            <td style="text-align: left"> {{ $customers.CST }} </td>
                                                            <td style="text-align: left"> {{ $customers.PAN }} </td>   
                                                            <td style="text-align: left"> {{ $customers.ECC }} </td>
                                                            <td style="text-align: right"> {{ $customers.CreditInDays }} </td>
                                                            <td style="text-align: right"> {{ $customers.CreditLimit }} </td>
                                                            <td style="text-align: left"> {{ $customers.CustomerType }} </td>
                                                            <td style="text-align: left"> {{ $customers.Introduction }} </td>
                                                            <td style="text-align: right"> {{ $customers.GST }} </td>
                                                            <td style="text-align: right"> {{ $customers.PGST }} </td>   
                                                            <td style="text-align: left"> {{ $customers.ARN }} </td>
                                                            <td style="text-align: left"> {{ $customers.ServiceLoc }} </td>
                                                            <td style="text-align: left"> {{ $customers.ContactPerson }} </td>
                                                            <td style="text-align: left"> {{ $customers.Designation }} </td>  
                                                            <td style="text-align: right"> {{ $customers.Email }} </td>
                                                            <td style="text-align: right">{{ $customers.PhoneNo }}</td>
                                                            <td style="text-align: right">{{ $customers.CellNo }}</td>
                                                            <td style="text-align: left"> {{ $customers.WarehouseAddress }} </td>
                                                            <td style="text-align: left"> {{ $customers.WCity }} </td>
                                                            <td style="text-align: left"> {{ $customers.WState }} </td>
                                                            <td style="text-align: left"> {{ $customers.WCountry }} </td>
                                                            <td style="text-align: right"> {{ $customers.WPincode }} </td>   
                                                        </tr>
                                                        {{end}}
                                                                        
                                                    </tbody>
                                            </table>
                    
                                                {{if compare .CustomersErrorMap "nil"}}
                                                <div class="row" style="margin-left: 1px; margin-right: 1px;">
                                                    <p>{{ .SuccessEntries }} of {{ .TotalEntries }} successful</p>
                                                </div>
                                                <div class="row" style="margin-left: 1px; margin-right: 1px;">
                                                    <p>Customers inserted successfully without any errors</p>
                                                </div>
                                                {{else if compare .CustomersErrorMap "0"}}
                                                {{else}}
                                                <div class="row" style="margin-left: 1px; margin-right: 1px;">
                                                    <p>{{ .SuccessEntries }} of {{ .TotalEntries }} successful</p>
                                                </div>
                                                <div class="row" style="margin-left: 1px; margin-right: 1px;"> 
                                                    <table class="table table-bordered table-hover dt-responsive dataTable table-checkable order-column" >
                                                        <thead>
                                                            <tr>
                                                                <!-- <th>Sr No</th> -->
                                                                <!-- <th>Customer Code</th> -->
                                                                <th>Customer Name</th>
                                                                <th>Error</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {{ range $key, $val:= .CustomersErrorMap }}
                                                            <tr>
                                                                <!-- <td style="text-align: right">{{$key}}</td> -->
                                                                <td>{{$val.Name}}</td>
                                                                <td style="text-align: left">{{if compare $val.CustomerUniqueCodeErr "Code already used"}}
                                                                    Code already used
                                                                    {{else if compare $val.CustomerNameErr "Name already used"}}
                                                                    Name already used
                                                                    {{else if compare $val.CustomerRequiredNameErr "Name required"}}
                                                                    Name required
                                                                    {{else}}
                                                                    Error in database
                                                                    {{end}}
                                                                </td>
                                                                <!--<td>{{$val}}</td>-->
                                                            </tr>
                                                            {{end}}
                                                        </tbody>
                                                    </table>
                                                </div>
                                                {{end}}
                                        </div>
                                    </div>
                            </div>

                        </div> <!-- Form Row -->
                    </div>
                <!-- END PAGE BASE CONTENT -->
                </div>
                <!-- END CONTENT BODY -->
            </div>
                </div>
            </div>
            <!-- END CONTENT -->
            {{end}}

        {{define "pagelevelplugins"}}
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <script src="/static/assets/global/scripts/datatable.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
		<!--<script src="https://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>-->
        <script src="/static/assets/global/plugins/fuelux/js/spinner.min.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.js" type="text/javascript"></script>
		<script src="/static/assets/global/plugins/bootstrap-select/js/bootstrap-select.min.js" type="text/javascript"></script>
        <!-- END PAGE LEVEL PLUGINS -->
        {{end}}
        
        {{define "pagelevelscripts"}}
        <!-- BEGIN PAGE LEVEL SCRIPTS -->
		<script src="/static/assets/pages/scripts/components-bootstrap-select.min.js" type="text/javascript"></script>
        <script src="/static/assets/pages/scripts/components-bootstrap-touchspin.js" type="text/javascript"></script>
		<script src="/static/assets/pages/scripts/table-datatables-managed.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.js"></script>
        <!--<script src="../static/assets/pages/scripts/ui-modals.js" type="text/javascript"></script>
        <script src="../static/assets/pages/scripts/ui-modals.min.js" type="text/javascript"></script>-->
        {{if .FlashNotices}}
        <script type="text/javascript">
            $(function() {                  
                $.bootstrapGrowl("{{.FlashNotices}}", {offset: {from: 'top', amount: 20}, delay: 5000, type: 'success',align: 'center', stackup_spacing: 30,width: 400 });});
         </script>
        {{end}}
        
        <script type="text/javascript">
            var activeTab = "{{ .ActiveTab }}";
            $(document).ready(function(){
                activaTab(activeTab);
            });

            function activaTab(tab){
                $('.nav-tabs a[href="#' + tab + '"]').tab('show');
            };
         </script>
        <!-- END PAGE LEVEL SCRIPTS -->
        {{end}}