{{ template "master_layout.html" . }}

{{ define "pagelevelstyles"}} 
        <!-- BEGIN PAGE LEVEL STYLES -->

        <link href="/static/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/typeahead/typeahead.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/bootstrap-multiselect/css/bootstrap-multiselect.css" rel="stylesheet" type="text/css" />
        <style>
            .big-col {
                width: 300px !important;
                }

            .mid-col {
                width: 200px !important;
                }

            .small-col {
            width: 150px !important;
            }

            table#customers_view_table{
            table-layout:fixed;
            }
        </style>
        <!-- END PAGE LEVEL STYLES -->
{{end}}

{{ define "content" }}    
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">
            
            <!-- BEGIN PAGE BASE CONTENT -->
            
             <div class="row">
                <div class="col-md-12">
                    <div class="portlet light bordered">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="icon-equalizer font-green"></i>
                                <span class="caption-subject bold font-green uppercase">Add Transporter</span>
                            </div>
                            <div class="actions">
                                <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" style="width:20px; height:20px; line-height: 0.999; padding-left:4px; "> </a>
                            </div>
                            <!-- <div class="caption" style="float:right; margin-right: 10px;">
                                <a class="btn red" style="background-image:none; width: 60px; height: 20px; padding:0; margin-top: -6px;" href="/customers/edit-customers"><i class="fa fa-edit" style=" margin-left: -1px; margin-top:2px;"></i> <span style="font-size: smaller;">Edit</span></a>
                            </div> -->
                            <div class="tools nts-tools faq-links" style="margin-top:0;">
                            {{if .ErrorsPresent}} 
                                <a href=""  class="collapse btn blue" style="background-image:none; width: 60px; height: 20px; padding:0; margin-top: -6px;">
                                    <i class="fa fa-minus" style=" margin-left: -1px; margin-top:2px;"></i><span style="font-size: smaller;">Close</span> <span style="display : none; font-size: smaller;">Add</span>
                                </a>
                             {{else}} 
                                <a href="" class="expand btn blue" style="background-image:none; width: 60px; height: 20px; padding:0; margin-top: -6px;" >
                                    <i class="fa fa-plus" style=" margin-left: -1px; margin-top:2px;"></i> <span style="font-size: smaller;">Add</span> <span style="display : none; font-size: smaller;">Close</span> 
                                </a> 
                             {{end}}
                            </div>
                        </div>
                        {{if .ErrorsPresent}} 
                      <div class="portlet-body form" style="display:block" >
                      {{else}}  
                      <div class="portlet-body form"  style="display:none" >
                      {{end}}
                            <!-- BEGIN FORM-->
                            <form method="POST" class="form-horizontal">
                             {{ .xsrfdata }}
                                <div class="form-body">
                                    <h3 class="form-section" style="margin-bottom: 15px; margin-top: -15px;"> Transporter Details</h3>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Transporter Name </label>
                                                <div class="col-md-8">
                                                    <input name="transporter_name" type="text" class="form-control" value="{{.FormItems.TransporterName}}" >
                                                     {{if .Errors.TransporterName}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.TransporterName}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Code </label>
                                                <div class="col-md-8">
                                                    <input name="unique_code" type="text" class="form-control" value="{{.genCode}}" placeholder="" readonly>
                                                     {{if .Errors.UniqueCode}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.UniqueCode}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Main Contact Person </label>
                                                <div class="col-md-8">
                                                    <input name="mainContactPerson" type="text" class="form-control" value="{{.FormItems.MainContactPerson}}" placeholder="">
                                                    {{if .Errors.MainContactPerson}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.MainContactPerson}}</span>{{end}}
                                                </div>
                                                
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Telephone </label>
                                                <div class="col-md-8">
                                                    <input name="telephone" type="text" class="form-control" value="{{.FormItems.Telephone}}" placeholder="">
                                                    {{if .Errors.Telephone}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Telephone}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>
                                    <!--/row-->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Mobile </label>
                                                <div class="col-md-8">
                                                    <input name="mobile" type="text" class="form-control" value="{{.FormItems.Mobile}}" placeholder="">
                                                    {{if .Errors.Mobile}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Mobile}}</span>{{end}}
                                                </div>
                                                
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Fax </label>
                                                <div class="col-md-8">
                                                    <input name="fax" type="text" class="form-control" value="{{.FormItems.Fax}}" placeholder="">
                                                    {{if .Errors.Fax}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Fax}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>
                                    <!--/row-->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Email </label>
                                                <div class="col-md-8">
                                                    <input name="email" type="text" class="form-control" value="{{.FormItems.Email}}" placeholder="">
                                                    {{if .Errors.Email}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Email}}</span>{{end}}
                                                </div>
                                                
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                        </div>
                                        <!--/span-->
                                    </div>
                                    <!--/row-->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>HQ </label>
                                                <div class="col-md-8">
                                                    <textarea name="hq" class="form-control" rows="2"  placeholder="">{{.FormItems.HQ}}</textarea>
                                                    {{if .Errors.HQ}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.HQ}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>City</label>
                                                <div class="col-md-8">
                                                    <input name="city" type="text" class="form-control" value="{{.FormItems.City}}" placeholder="">
                                                    {{if .Errors.City}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.City}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>
                                    <!--/row-->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>State </label>
                                                <div class="col-md-8">
                                                    <input name="state" type="text" class="form-control" value="{{.FormItems.State}}" placeholder="">
                                                     {{if .Errors.State}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.State}}</span>{{end}}
                                                </div>
                                               
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Country </label>
                                                <div class="col-md-8">
                                                    <input name="country" type="text" class="form-control" value="{{.FormItems.Country}}" placeholder="">
                                                     {{if .Errors.Country}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Country}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>
                                    <!--/row-->
                                    <div class="row">
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Pincode </label>
                                                <div class="col-md-8">
                                                    <input name="pincode" type="text" class="form-control" value="{{.FormItems.Pincode}}" placeholder="">
                                                    {{if .Errors.Pincode}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Pincode}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>GSTIN </label>
                                                <div class="col-md-8">
                                                    <input name="gstin" type="text" class="form-control" value="{{.FormItems.GSTIN}}" >
                                                    {{if .Errors.GSTIN}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.GSTIN}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/row-->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">PAN </label>
                                                <div class="col-md-8">
                                                    <input name="pan" type="text" class="form-control" value="{{.FormItems.PAN}}" placeholder="">
                                                        {{if .Errors.PAN}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.PAN}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Introduction </label>
                                                <div class="col-md-8">
                                                    <div class="input-group input-medium date date-picker" data-date-format="yyyy-mm-dd" >
                                                        <input name="introduction" type="text" class="form-control" value="{{.FormItems.Introduction}}" readonly placeholder="">
                                                         {{if .Errors.Introduction}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Introduction}}</span>{{end}}
                                                        <span class="input-group-btn">
                                                            <button class="btn default" type="button">
                                                                <i class="fa fa-calendar"></i>
                                                            </button>
                                                        </span>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Notes </label>
                                                <div class="col-md-8">
                                                    <textarea name="notes" class="form-control" rows="2"  placeholder="">{{.FormItems.Notes}}</textarea>
                                                    {{if .Errors.Notes}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Notes}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            
                                        </div>
                                        <!--/span-->
                                    </div>
                                    <!--/row-->
                                    <div class="form-horizontal cp-repeater">
                                        <div data-repeater-list="warehouses">
                                            <div data-repeater-item class="mt-repeater-item" >
                                                <!-- jQuery Repeater Container -->
                                                <h3 class="form-section">Add Satellite Offices/Godowns/Warehouses</h3>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Contact Person Name </label>
                                                            <div class="col-md-8">
                                                                <input name="contact_person" type="text" class="form-control" >
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--/span-->
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Designation </label>
                                                            <div class="col-md-8">
                                                                <input name="designation" type="text" class="form-control" >
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--/span-->
                                                </div>
                                                <!--/row-->

                                                <div class="row">

                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="control-label col-md-4">Phone</label>
                                                            <div class="col-md-8">
                                                                <input name="sphone" type="text" class="form-control">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--/span-->
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="control-label col-md-4">Email </label>
                                                            <div class="col-md-8">
                                                                <input name="semail" type="email" class="form-control">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--/span-->
                                                </div>
                                                <!--/row-->
                                                <div class="row">

                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="control-label col-md-4">Mobile </label>
                                                            <div class="col-md-8">
                                                                <input name="smobile" type="text" class="form-control" >
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--/span-->
                                                    <div class="col-md-6">
                                                        
                                                    </div>
                                                    <!--/span-->
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Billing Address </label>
                                                            <div class="col-md-8">
                                                                <textarea name="billingAddress" class="form-control" rows="2" ></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--/span-->
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>City</label>
                                                            <div class="col-md-8">
                                                                <input name="scity" type="text" class="form-control" >
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--/span-->
                                                </div>
                                                <!--/row-->
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>State </label>
                                                            <div class="col-md-8">
                                                                <input name="sstate" type="text" class="form-control" >
                                                            </div>
                                                            
                                                        </div>
                                                    </div>
                                                    <!--/span-->
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Country </label>
                                                            <div class="col-md-8">
                                                                <input name="scountry" type="text" class="form-control" >
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--/span-->
                                                </div>
                                                <!--/row-->
                                                <div class="row">
                                                    <!--/span-->
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Pincode </label>
                                                            <div class="col-md-8">
                                                                <input name="spincode" type="text" class="form-control" >
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--/span-->
                                                    <div class="col-md-6">
                                                        
                                                    </div>
                                                </div>
                                                <div class="mt-repeater-input" style="margin-bottom: 10px;">
                                                    <a href="javascript:;" data-repeater-delete class="btn btn-danger mt-repeater-delete" style="margin-top: 0;">
                                                        <i class="fa fa-close"></i> Remove
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <a href="javascript:;" data-repeater-create class="btn btn-success mt-repeater-add">
                                            <i class="fa fa-plus"></i>Add 
                                        </a>
                                    </div>
                                    <hr>
                                    <div class="row" id="optional" style="padding-left:14px;">
                                        <a class="btn btn-success" id="hide">
                                            <i class="fa fa-plus"></i>Add Vehicles & Drivers
                                        </a>
                                    </div>

                                    <div class="mt-repeater form-horizontal " id="repeat" style="display: none; " >
                                        <div data-repeater-list="vehicles" >
                                            <div data-repeater-item class="mt-repeater-item" >
                                                <!-- jQuery Repeater Container -->
                                                <h3 class="form-section" style="padding-right:50px;">Add Vehicles & Drivers
                                                </h3>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Driver Name </label>
                                                            <div class="col-md-8">
                                                                <input name="driver_name" type="text" class="form-control" >
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--/span-->
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Driver's License No.</label>
                                                            <div class="col-md-8">
                                                                <input name="driver_license" type="text" class="form-control" >
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/row-->
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="control-label col-md-4">Mobile </label>
                                                            <div class="col-md-8">
                                                                <input name="dmobile" type="text" class="form-control" >
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--/span-->
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="control-label col-md-4">Email </label>
                                                            <div class="col-md-8">
                                                                <input name="demail" type="text" class="form-control"  >
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--/span-->
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="control-label col-md-4">Model & Type </label>
                                                            <div class="col-md-8">
                                                                <input name="model_type" type="text" class="form-control" >
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--/span-->
                                                    <div class="col-md-6"></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="control-label col-md-4">Registration number </label>
                                                            <div class="col-md-8">
                                                                <input name="registration_number" type="text" class="form-control"  >
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--/span-->
                                                    <div class="col-md-6">
                                                        <label class="control-label col-md-4">Storage volume </label>
                                                        <div class="col-md-8">
                                                            <input name="storage_volume" type="text" onkeyup="isNumberKey(this);" class="form-control" >
                                                        </div>
                                                    </div>
                                                    <!--/span-->
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="control-label col-md-4">Weight capacity </label>
                                                            <div class="col-md-8">
                                                                <input name="weight_capacity" type="text" onkeyup="isNumberKey(this);" class="form-control"  >
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--/span-->
                                                    <div class="col-md-6">
                                                        <label class="control-label col-md-4">Axel weight </label>
                                                        <div class="col-md-8">
                                                            <input name="axel_weight" type="text" onkeyup="isNumberKey(this);" class="form-control" >
                                                        </div>
                                                    </div>
                                                    <!--/span-->
                                                </div>
                                                <!--<div class="mt-repeater-input" style="padding:0;">
                                                    <a href="javascript:;" data-repeater-delete class="btn btn-circle btn-icon-only btn-danger mt-repeater-delete" style="margin-top:0;">
                                                        <i class="fa fa-close"></i>
                                                    </a>
                                                    <hr>
                                                </div>-->
                                                <div class="mt-repeater-input" style=" padding-bottom: 0; padding-left: 0;">
                                                    <a href="javascript:;" data-repeater-delete class="btn btn-danger mt-repeater-delete" style="margin-top: 0;">
                                                        <i class="fa fa-close"></i> Remove
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div >
                                            <a href="javascript:;" data-repeater-create class="btn btn-success mt-repeater-add" >
                                            <i class="fa fa-plus"></i>Delivery Address</a>
                                        </div>
                                    </div>
                                    
                                </div> 
                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-12 " style="text-align: center;">
                                            <button type="submit" class="btn green" style="height: 40px;width: 80px">Submit</button>
                                            <button type="reset" class="btn default" style="height: 40px;width: 80px">Reset</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <!-- END FORM-->
                        </div>
                    </div>
                </div>
            </div>
                                
            <div class="row">
                <div class="col-md-12">
                    <!-- BEGIN EXAMPLE TABLE PORTLET-->
                    <div class="portlet light bordered">
                        <div class="portlet-title">
                            <div class="caption font-dark">
                                <i class="icon-settings font-dark"></i>
                                <span class="caption-subject bold uppercase"> List of Transporters</span>
                            </div>
                            <div class="actions">
                                <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" style="width:20px; height:20px; line-height: 0.999; padding-left:4px; "> </a>
                            </div>
                        </div>

                        <!-- Customer server-side Search FORM-->
                        <form method="POST" class="form-horizontal">
                            <input type="hidden" name="TransporterSearchmethod" value="Transporter_Search" /> {{ .xsrfdata }}
                            <br/>
                           
                            <div class="form-body">
                                 <!-- Search customer details by.-->
                                <div class="row">
                                    <div class="col-md-12">
                                        <!-- <div class="col-md-2">
                                            <div class="form-group">
                                                <div class="radio">
                                                    <label><input type="radio" name="SearchTransporters" value="SearchByTransporterDetails" {{.SearchByTransporterDetailsChecked}}></label>
                                                </div>
                                            </div>
                                        </div> -->
                                       
                                    <div class="col-md-4" style="padding-right: 5%;">                                    
                                        <div class="form-group">
                                            <input type="TransporterName" name="TransporterName" class="form-control" id="TransporterName" placeholder="Transporter Name" value="{{.SearchItems.TransporterName}}">
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-4" style="padding-right: 5%;">
                                        <div class="form-group">
                                            <input type="ContactPerson" name="ContactPerson" class="form-control" id="ContactPerson" placeholder="Contact Person" value="{{.SearchItems.ContactPerson}}">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <input type="Location" name="Location" class="form-control" id="Location" placeholder="Location" value="{{.SearchItems.Location}}">
                                        </div>
                                    </div>
                                    </div>
                                </div>

                                <!--search by item -->
                                <!-- <div class="row">
                                        <div class="col-md-4">
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <div class="radio">
                                                        <label><input type="radio" name="SearchTransporters" value="SearchByItemName" {{.SearchByItemNameChecked}}></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <select id="itemSelectDropdown" name="item_name_check" class="form-control select2" data-placeholder="Choose an Item" value="{{.SearchItems.ItemName}}">
                                                        <option disabled selected value> -- Choose an item -- </option>
                                                        {{ range $items := .ItemsRetrieved }}
                                                        <option value="{{ $items._id }}" >[{{ $items.item_code_gen }}] {{ $items.invoice_narration }}</option>
                                                        {{end}}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>  
                                </div> -->

                                <!--buttons-->                                
                                <div class="row" style="text-align:center">
                                    <div class="form-group">
                                        <button type="submit" class="btn green" name="transporter-search" value="SearchTransporter" style="height: 35px;width: 80px" >Search</button>
                                        <button type="submit" class="btn default" name="Reset-transporterSearch" value="ResetTransporterSearch" style="height: 35px;width: 80px">Reset</button>
                                    </div>
                                </div>
                                <hr/>
                        </form>
                        <!-- END FORM-->
                        <div class="portlet-body">
                                <table class="table table-bordered table-hover dataTable table-checkable order-column" id="customers_view_table">
                                    <thead>
                                        <tr>    
                                                                                      
                                            <th  style="text-align: left; padding-left: 5px;"> Transporter Name </th>
                                            <th style="text-align: left;"> Code </th>     
                                            <th  style="text-align: left"> Contact Person </th>
                                            <th style="text-align: left"> Phone No. </th>
                                            <th style="text-align: left"> Location </th>
                                            <th style="text-align: left">Action </th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                     {{ range $transporter := .Retrieved }}
                                        <tr>     
                                                                                     
                                            <td style="text-align: left; padding-left: 5px;">  {{ $transporter.transporter_name }} </td>
                                            <td style="text-align: right">  {{ $transporter.transporter_code_gen }} </td>      
                                            <td style="text-align: left">  {{ $transporter.main_contact_person }} </td>
                                            <td style="text-align: right">  {{ $transporter.telephone }} </td>
                                            <td  style="text-align: left">  {{ $transporter.city_state_country_pincode }}</td>
                                            <td class="text-center">
                                                <a id="view_{{ $transporter._id }}" data-toggle="modal" data-target="#transporterModalDiv_{{ $transporter._id }}" data-toggle="tooltip" title="View">
                                                     <i class="fa fa-eye"></i>
                                                </a>
                                                <!-- <a href="/customers/edit-customers?CustomerCode={{ $transporter._id }}" data-toggle="tooltip" title="Edit">
                                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                </a> -->
                                                <a href="#" id="{{ $transporter._id}}" data-toggle="tooltip" title="Delete" class="delbutton"><i class="fa fa-trash-o"></i> </a>
                                            </td>
                                            
                                        </tr>
                                        {{end}}
                                        
                                    </tbody>
                                </table>
                                <!-- <div class="actions text-right">
                                    <div class="dropup ">
                                        <button class="btn btn-default dropdown-toggle " type="button"  data-toggle="dropdown">Export
                                            <span class="caret"></span></button>
                                        <ul class="dropdown-menu pull-right">
                                            <li role="presentation"><a tabindex="-1" href="#">Print</a></li>
                                            <li role="presentation"><a tabindex="-1" href="#">PDF</a></li>
                                            <li role="presentation"><a tabindex="-1" href="#">Excel</a></li>
                                            <li role="presentation"><a tabindex="-1" href="#">CSV</a></li>
                                        </ul>
                                    </div>
                                </div> -->
                            </div>                    
                        </div>
                         <!-- END EXAMPLE TABLE PORTLET-->
                    </div>
                </div>
            <!-- END PAGE BASE CONTENT -->
            {{ range $transporterModal := .Retrieved }}
            <div id="transporterModalDiv_{{ $transporterModal._id }}" class="modal fade bs-modal-lg" role="dialog">
                <div class="modal-dialog modal-lg">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="portlet-title">
                                <div class="caption font-dark">
                                    <i class="icon-settings font-dark"></i>
                                    <span class="caption-subject bold uppercase"> Transportation Details</span>
                                    <i class="fa fa-print no-print" title="Print" style="float:right;" onclick="jQuery('#transporterModalDiv_{{ $transporterModal._id }}').print()"></i>
                                </div>
                            </div>
                            <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
                        </div>
                        <div class="modal-body">
                             <table class="col-md-12" >
                                <tr>
                                    <th class="col-md-3">Transporter Name:</th>
                                    <td class="col-md-3">{{ $transporterModal.transporter_name }}</td>
                                    <th class="col-md-3">Code:</th>
                                    <td class="col-md-3">{{ $transporterModal.transporter_code_gen }}</td>
                                </tr>
                                <tr>
                                    <th class="col-md-3">Main Contact Person:</th>
                                    <td class="col-md-3">{{ $transporterModal.main_contact_person }}</td>
                                    <th class="col-md-3">Telephone</th>
                                    <td class="col-md-3">{{ $transporterModal.telephone }}</td>
                                </tr>
                                <tr>
                                    <th class="col-md-3">Mobile:</th>
                                    <td class="col-md-3">{{ $transporterModal.mobile }}</td>
                                    <th class="col-md-3">Fax:</th>
                                    <td class="col-md-3">{{ $transporterModal.fax }}</td>
                                </tr>
                                <tr>
                                    <th class="col-md-3">Email:</th>
                                    <td class="col-md-3">{{ $transporterModal.email }}</td>
                                    <th class="col-md-3"></th>
                                    <td class="col-md-3"></td>
                                </tr>
                                <tr>
                                    <th class="col-md-3">HQ:</th>
                                    <td class="col-md-3">{{ $transporterModal.hq }}</td>
                                    <th class="col-md-3">City:</th>
                                    <td class="col-md-3">{{ $transporterModal.city }}</td>
                                    
                                </tr>
                                <tr>
                                    <th class="col-md-3">State:</th>
                                    <td class="col-md-3">{{ $transporterModal.state }}</td>
                                    <th class="col-md-3">Country:</th>
                                    <td class="col-md-3">{{ $transporterModal.country }}</td>
                                    
                                </tr>
                                <tr>
                                    <th class="col-md-3">Pincode:</th>
                                    <td class="col-md-3">{{ $transporterModal.pincode }}</td>
                                    <th class="col-md-3">GSTIN:</th>
                                    <td class="col-md-3">{{ $transporterModal.GSTIN }}</td>
                                    
                                </tr>
                                <tr>
                                    <th class="col-md-3">PAN:</th>
                                    <td class="col-md-3">{{ $transporterModal.PAN }}</td>
                                    <th class="col-md-3">Introduction Date:</th>
                                    <td class="col-md-3">{{ $transporterModal.introduction_date }}</td>
                                    
                                </tr>
                                <tr>
                                    <th class="col-md-3">Notes:</th>
                                    <td class="col-md-3">{{ $transporterModal.notes }}</td>
                                    <th class="col-md-3"></th>
                                    <td class="col-md-3"></td>
                                </tr>
                            </table>
                            <div class="row"></div>
                            <p style="color:#117dbb; margin-left:5px;">Transporter Warehouses</p>
                            <table class="table table-bordered table-hover table-checkable order-column" >
                                <thead>
                                    <tr>                                               
                                        <th style="text-align: left; padding-left: 5px;"> Billing address </th>
                                        <th style="text-align: left"> City</th>
                                        <th style="text-align: left"> State </th>
                                        <th style="text-align: left"> Country </th>
                                        <th style="text-align: left"> Pincode </th>
                                        <th style="text-align: left"> Contact Person </th>
                                        <th style="text-align: left"> Designation</th>
                                        <th style="text-align: left"> Phone</th>
                                        <th style="text-align: left"> Email </th>
                                        <th style="text-align: left">Mobile </th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                 {{ range $houses := $transporterModal.warehouses }}
                                    <tr class="odd gradeX">                                                
                                        <td style="text-align: left; padding-left: 5px;">  {{ $houses.billing_address }} </td>
                                        <td style="text-align: left">  {{ $houses.city }} </td>
                                        <td style="text-align: left">  {{ $houses.state }} </td>
                                        <td  style="text-align: left">  {{ $houses.country }}</td>
                                        <td class="text-align: right">{{ $houses.pincode }}</td>
                                        <td class="text-align: left">{{ $houses.contact_person_name }}</td>
                                        <td class="text-align: left">{{ $houses.designation }}</td>
                                        <td class="text-align: left">{{ $houses.phone }}</td>
                                        <td class="text-align: left" >{{ $houses.email }}</td>
                                        <td class="text-align: left">{{ $houses.mobile }}</td>
                                    </tr>
                                    {{end}}
                                </tbody>
                            </table>
                            <p style="color:#117dbb; margin-left:5px;">Vehicles</p>
                            <table class="table table-bordered table-hover table-checkable order-column" >
                                <thead>
                                    <tr>                                               
                                        <th style="text-align: left; padding-left: 5px;"> Driver Name </th>
                                        <th style="text-align: left"> Driver's License No.</th>
                                        <th style="text-align: left"> Mobile</th>
                                        <th style="text-align: left"> Email </th>
                                        <th style="text-align: left"> Model & Type </th>
                                        <th style="text-align: left"> Registration Number </th>
                                        <th style="text-align: left"> Storage volume </th>
                                        <th style="text-align: left"> Weight capacity</th>
                                        <th style="text-align: left"> Axel weight</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                 {{ range $vehicles := $transporterModal.vehicles }}
                                    <tr class="odd gradeX">                                                
                                        <td style="text-align: left; padding-left: 5px;">  {{ $vehicles.driver_name }} </td>
                                        <td style="text-align: left">  {{ $vehicles.driver_license_no }} </td>
                                        <td style="text-align: left">  {{ $vehicles.mobile }} </td>
                                        <td style="text-align: left">  {{ $vehicles.email }} </td>
                                        <td  style="text-align: left">  {{ $vehicles.model_type }}</td>
                                        <td class="text-align: left">{{ $vehicles.registration_number }}</td>
                                        <td class="text-align: right">{{ $vehicles.storage_volume }}</td>
                                        <td class="text-align: right">{{ $vehicles.weight_capacity }}</td>
                                        <td class="text-align: right">{{ $vehicles.axel_weight }}</td>
                                    </tr>
                                    {{end}}
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default no-print" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                    <!-- Modal content ends-->
                </div>
            </div>
            {{end}}
            <!-- Modal divs end -->
        </div>
        <!-- END CONTENT BODY -->
    </div>
    <!-- END CONTENT -->

{{end}}

        {{ define "pagelevelplugins" }} 
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <script src="/static/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
        <script src="/static/assets/global/scripts/datatable.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/bootstrap-select/js/bootstrap-select.min.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/jquery-repeater/jquery.repeater.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/jQuery.print-master/jQuery.print.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/bootstrap-multiselect/js/bootstrap-multiselect.js" type="text/javascript"></script>
        <!-- END PAGE LEVEL PLUGINS -->       
        {{ end }}

        {{define "pagelevelscripts"}} 
        <!-- BEGIN PAGE LEVEL SCRIPTS -->
        <script src="/static/assets/pages/scripts/components-select2.min.js" type="text/javascript"></script>
        <script src="/static/assets/pages/scripts/table-datatables-managed.js" type="text/javascript"></script> 
        <!-- <script src="/static/assets/pages/scripts/components-bootstrap-select.min.js" type="text/javascript"></script> -->
        <script src="/static/assets/pages/scripts/components-bootstrap-touchspin.js" type="text/javascript"></script>
        <script src="/static/assets/pages/scripts/components-date-time-pickers.js" type="text/javascript"></script>
        <!--<script src="/static/assets/pages/scripts/form-repeater.min.js" type="text/javascript"></script>-->
        <script src="/static/assets/pages/scripts/components-bootstrap-multiselect.min.js" type="text/javascript"></script>
        <script>
            $(document).ready(function () {
                $('.mt-repeater').repeater({
                    show: function () {
                        $(this).slideDown();
                        $('.date-picker').datepicker({
                            rtl: App.isRTL(),
                            orientation: "left",
                            autoclose: true
                        });
                    },
                    
                    hide: function (deleteElement) {
                        if(confirm('Are you sure you want to delete this entry?')) {
                            $(this).slideUp(deleteElement);
                            $(document).ready(function () {
                                itemRemove();
                            });
                        }
                    },
                    
                   
                });
                $('.cp-repeater').repeater({
                    hide: function (deleteElement) {
                        if(confirm('Are you sure you want to delete this entry?')) {
                            $(this).slideUp(deleteElement);
                            $(document).ready(function () {
                                itemRemove();
                            });
                        }
                    },

                    isFirstItemUndeletable: true
                });
            });
        </script>
        {{if .flash.notice}}
        <script type="text/javascript">
                $(function() {                  
                    $.bootstrapGrowl("{{.flash.notice}}", {offset: {from: 'top', amount: 20}, delay: 5000, type: 'success',align: 'center', stackup_spacing: 30,width: 400 });});
        </script>
        {{end}}
        {{if .Errors.ContactPerson}}
        <script>
            $(window).on("load", function() { 
                    document.getElementsByName("contactgrp[0][name_error]")[0].innerHTML = "This field is required";
            });
        </script>
        {{end}}
        {{if .Errors.Designation}}
        <script>
            $(window).on("load", function() { 
                    document.getElementsByName("contactgrp[0][designation_error]")[0].innerHTML = "This field is required";
            });
        </script>
        {{end}}
        <script>
        $(document).ready(function(){
            $("#hide").click(function(){
                $("#optional").hide();

                $("#repeat").show();
                $("#repeat").slideDown(200);
            });
        });
        </script>
        <!-- <script type="text/javascript">
            function getCPandWarehouses(element) {
                
                var customer_id = element.id;
                var res = customer_id.split("_");
                //var new_res = res[1];
                var info = 'customerId=' + res[1];

                $.ajax({
                    type: "GET",
                    url: "/customers/get-contactperson",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    cache: false,
                    data: info,
                    success: function(data){ 
                        if (data.name == null) {
                            var demo = 'Nocptable_' + res[1]
                            document.getElementById(demo).innerHTML = "Contact person's details not added!";
                        } else {
                            var thead = '<table class="table table-bordered " width="80%"><thead><tr><th>Name</th><th style="width:20%;">Designation</th><th style="width:20%;">Phone</th><th style="width:10%;">Email</th><th style="width:20%;">Cell No</th></td></tr></thead><tbody>';
                            //var tbody = '<tbody>'
                            var tfooter = '</tbody></table>';
                            //var tfooter = '</tbody>';
                            var trHTML = ''
                            $.each(data.name, function (i, item) {
                        
                                trHTML += '<tr><td style="padding-left:5px">' + item + '</td><td style="padding-left:10px">' + data.designation[i] +'</td><td style="padding-left:20px">' + data.phone[i] +'</td><td style="padding-left:20px">' + data.email[i] + '</td><td style="padding-left:20px">' + data.cellno[i] + '</td></tr>';
                            });
                            var demo = 'cptable_' + res[1]
                            document.getElementById(demo).innerHTML = thead + trHTML + tfooter;
                        }
                    } 
                });
                
                $.ajax({
                    type: "GET",
                    url: "/customers/get-c-warehouses",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    cache: false,
                    data: info,
                    success: function(data){ 
                        if (data.address == null ) {
                            var demo = 'Notable_' + res[1]
                            document.getElementById(demo).innerHTML = "Delivery Address details not added!";
                        } else {
                            var thead = '<table class="table table-bordered table-hover dt-responsive dataTable table-checkable order-column" width="80%"><thead><tr><th>Address</th><th style="width:20%;">City</th><th style="width:20%;">State</th><th style="width:10%;">Country</th><th style="width:20%;">Pincode</th><th style="width:10%;">GSTIN</th></td></tr></thead><tbody>';
                            //var tbody = '<tbody>'
                            var tfooter = '</tbody></table>';
                            //var tfooter = '</tbody>';
                            var trHTML = ''
                            $.each(data.address, function (i, item) {
                                trHTML += '<tr><td style="padding-left:20px">' + item + '</td><td style="padding-left:10px">' + data.city[i] +'</td><td style="padding-left:20px">' + data.state[i] +'</td><td style="padding-left:20px">' + data.country[i] + '</td><td style="padding-left:20px">' + data.pincode[i] + '</td><td style="padding-left:20px">' + data.gstin[i] + '</td></tr>';
                            });
                            var demo = 'table_' + res[1]
                            document.getElementById(demo).innerHTML = thead + trHTML + tfooter;
                        }
                    } 
                });
            }
        </script> -->
        <script type="text/javascript">
            $(function() {
            $(document).on('click','.delbutton',function(e){
                e.preventDefault()
            var element = $(this);
            var del_id = element.attr("id");
            var info = 'id=' + del_id;
            if(confirm("Are you sure you want to delete this record?")){
                $.ajax({
                    type: "GET",
                    url: "/transporters/delete-transporter",
                    data: info,
                    success: function(msg){ 
                        if (msg == "true") {
                            if(alert('Transporter Deleted!')){}
                            else    window.location.reload();
                        }
                        else {
                            console("Error")
                        }
                    } 
                });
            }
            return false;
            });
            });
        </script>
        <!-- END PAGE LEVEL SCRIPTS -->
        {{end}}