{{ template "master_layout.html" . }}

{{ define "pagelevelstyles"}}
        <!-- BEGIN PAGE LEVEL STYLES -->
        <link href="/static/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/bootstrap-multiselect/css/bootstrap-multiselect.css" rel="stylesheet" type="text/css" />
        <style>
            .big-col {
                width: 300px !important;
                }

            .mid-col {
                width: 200px !important;
                }

            .small-col {
            width: 150px !important;
            }

            table#supplier_view_table{
            table-layout:fixed;
            }
        </style>
        <!-- END PAGE LEVEL STYLES -->
{{end}}

{{ define "content" }}    
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                    <!-- BEGIN PAGE BASE CONTENT -->
                    
                     <div class="row">
                        <div class="col-md-12">
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="icon-equalizer font-green"></i>
                                        <span class="caption-subject bold font-green uppercase">Add Supplier</span>
                                    </div>
                                    <div class="actions">
                                        <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" style="width:20px; height:20px; line-height: 0.999; padding-left:4px; "> </a>
                                    </div>
                                    <div class="caption" style="float:right;  margin-right: 10px;">
                                        <a class="btn red" style="background-image:none; width: 60px; height: 20px; padding:0; margin-top: -6px;" href="/suppliers/edit"><i class="fa fa-edit" style=" margin-left: -1px; margin-top:2px;"></i> <span style="font-size: smaller;">Edit</span></a>
                                    </div>
                                    <div class="tools nts-tools faq-links" style="margin-top:0;">
                                    {{if .ErrorsPresent}} 
                                        <a href=""  class="collapse btn blue" style="background-image:none; width: 60px; height: 20px; padding:0; margin-top: -6px;">
                                            <i class="fa fa-minus" style=" margin-left: -1px; margin-top:2px;"></i><span style="font-size: smaller;">Close</span> <span style="display : none; font-size: smaller;">Add</span>
                                        </a> 
                                     {{else}} 
                                        <a href="" class="expand btn blue" style="background-image:none; width: 60px; height: 20px; padding:0; margin-top: -6px;" >
                                            <i class="fa fa-plus" style=" margin-left: -1px; margin-top:2px;"></i> <span style="font-size: smaller;">Add</span> <span style="display : none; font-size: smaller;">Close</span> 
                                        </a>
                                    {{end}}
                                    </div>
                                </div>
                                {{if .ErrorsPresent}} 
                                  <div class="portlet-body form" style="display:block" >
                                  {{else}}  
                                  <div class="portlet-body form"  style="display:none" >
                                  {{end}}
                                    <!-- BEGIN FORM-->
                                    <form method="POST"  class="form-horizontal">
                                        {{ .xsrfdata }}
                                        <div class="form-body">
                                            <h3 class="form-section" style="margin-bottom: 15px; margin-top: -15px;">Supplier Details</h3>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Company Name </label>
                                                        <div class="col-md-8">
                                                            <input name="company_name" type="text" class="form-control" value="{{.FormItems.CompanyName}}" >
                                                            {{if .Errors.CompanyName}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.CompanyName}}</span>{{end}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Code</label>
                                                        <div class="col-md-8">
                                                            <input name="code" type="text" class="form-control" value="{{.genCode}}" readonly>
                                                            {{if .Errors.Code}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Code}}</span>{{end}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                            </div>
                                            <!--/row-->
                                            <!--<div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Contact Person </label>
                                                        <div class="col-md-8">
                                                            <input name="contact_person" type="text" class="form-control" value="{{.FormItems.ContactPerson}}" >
                                                             {{if .Errors.ContactPerson}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.ContactPerson}}</span>{{end}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Designation </label>
                                                        <div class="col-md-8">
                                                            <input name="designation" type="text" class="form-control" value="{{.FormItems.Designation}}" >
                                                             {{if .Errors.Designation}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Designation}}</span>{{end}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-4">Phone Number </label>
                                                        <div class="col-md-8">
                                                            <input name="phone_no" type="text" class="form-control" value="{{.FormItems.PhoneNo}}" >
                                                             {{if .Errors.PhoneNo}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.PhoneNo}}</span>{{end}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-4">Email </label>
                                                        <div class="col-md-8">
                                                            <input name="email" type="email" class="form-control" value="{{.FormItems.Email}}" >
                                                             {{if .Errors.Email }}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Email }}</span>{{end}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-4">Cell No</label>
                                                        <div class="col-md-8">
                                                            <input name="cell_no" type="text" class="form-control" value="{{.FormItems.CellNo}}" >
                                                             {{if .Errors.CellNo}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.CellNo}}</span>{{end}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    
                                                </div>
                                            </div>-->
                                            <!--/row-->
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Office/Billing Address </label>
                                                        <div class="col-md-8">
                                                            <textarea  name="office_address" class="form-control" rows="3"  >{{.FormItems.OfficeAddress}}</textarea>
                                                             {{if .Errors.OfficeAddress}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.OfficeAddress}}</span>{{end}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>City </label>
                                                        <div class="col-md-8">
                                                            <input name="city" type="text" class="form-control" value="{{.FormItems.City}}" >
                                                             {{if .Errors.City}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.City}}</span>{{end}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                                
                                            </div>
                                            <!--/row-->
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>State </label>
                                                        <div class="col-md-8">
                                                            <input name="state" type="text" class="form-control" value="{{.FormItems.State}}" >
                                                             {{if .Errors.State}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.State}}</span>{{end}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Country </label>
                                                        <div class="col-md-8">
                                                            <input name="country" type="text" class="form-control" value="{{.FormItems.Country}}" >
                                                             {{if .Errors.Country}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Country}}</span>{{end}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                                
                                            </div>
                                            <!--/row-->
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Pincode </label>
                                                        <div class="col-md-8">
                                                            <input name="pincode" type="text" class="form-control" value="{{.FormItems.Pincode}}" >
                                                             {{if .Errors.Pincode}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Pincode}}</span>{{end}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>GSTIN </label>
                                                        <div class="col-md-8">
                                                            <input name="main_gstin" type="text" class="form-control" value="{{.FormItems.MainGSTIN}}" >
                                                            {{if .Errors.MainGSTIN}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.MainGSTIN}}</span>{{end}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/row-->
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-4">PAN No </label>
                                                        <div class="col-md-8">
                                                            <input name="pan" type="text" class="form-control" value="{{.FormItems.PAN}}" >
                                                                {{if .Errors.PAN}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.PAN}}</span>{{end}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Credit in days </label>
                                                        <div class="col-md-8">
                                                            <input name="cin" type="text" class="form-control" value="{{.FormItems.CreditInDays}}" onkeyup="isNumberKey(this)">
                                                            {{if .Errors.CreditInDays}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.CreditInDays}}</span>{{end}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-4">CST No </label>
                                                        <div class="col-md-8">
                                                            <input name="cst" type="text" class="form-control" value="{{.FormItems.CST}}" >
                                                             {{if .Errors.CST}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.CST}}</span>{{end}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Credit limit </label>
                                                        <div class="col-md-8">
                                                            <input name="credit_limit" type="text" class="form-control" value="{{.FormItems.CreditLimit}}" onkeyup="isNumberKey(this)">
                                                                {{if .Errors.CreditLimit}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.CreditLimit}}</span>{{end}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                            </div>
                                            <!--/row-->
                                            <div class="row">
                                                
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-4">ECC No </label>
                                                        <div class="col-md-8">
                                                            <input name="ecc" type="text" class="form-control" value="{{.FormItems.ECC}}" >
                                                             {{if .Errors.ECC}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.ECC}}</span>{{end}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-4">TIN </label>
                                                        <div class="col-md-8">
                                                            <input name="tin" type="text" class="form-control" value="{{.FormItems.TIN}}" >
                                                             {{if .Errors.TIN}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.TIN}}</span>{{end}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                            </div>
                                            <!--/row-->
                                            <div class="row">
                                                
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-4">Notes</label>
                                                        <div class="col-md-8">
                                                            <textarea name="notes" class="form-control"  rows="3">{{.FormItems.Notes}}</textarea>
                                                            {{if .Errors.Notes}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Notes}}</span>{{end}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-4">ARN</label>
                                                        <div class="col-md-8">
                                                            <input name="arn" type="text" class="form-control" value="{{.FormItems.ARN}}">
                                                             {{if .Errors.ARN}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.ARN}}</span>{{end}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--<div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-4">GST </label>
                                                        <div class="col-md-8">
                                                            <input name="gst" type="text" class="form-control" value="{{.FormItems.GST}}">
                                                             {{if .Errors.GST}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.GST}}</span>{{end}}
                                                        </div>
                                                    </div>
                                                </div>-->
                                                <!--/span-->
                                            </div>
                                             <div class="row">
                                                
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-4">Provisional GST</label>
                                                        <div class="col-md-8">
                                                            <input name="provisional_gst" class="form-control" value="{{.FormItems.PGST}}" >
                                                            {{if .Errors.PGST}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.PGST}}</span>{{end}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                                
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-4">Introduction Date </label>
                                                        <div class="col-md-8">
                                                            <div class="input-group input-medium date date-picker" data-date-format="yyyy-mm-dd" >
                                                                <input name="introduction" type="text" class="form-control" value="{{.FormItems.Introduction}}" readonly placeholder="">
                                                                {{if .Errors.Introduction}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Introduction}}</span>{{end}}
                                                                <span class="input-group-btn">
                                                                    <button class="btn default" type="button">
                                                                        <i class="fa fa-calendar"></i>
                                                                    </button>
                                                                </span>
                                                                
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                            </div>
                                            <!--/row-->
                                            <div class="row">
                                                
                                            </div>
                                            <!--/row-->
                                            <div class=" form-horizontal cp-repeater">
                                                <div data-repeater-list="contactgrp">
                                                    <div data-repeater-item  >
                                                        <!-- jQuery Repeater Container -->
                                                        <h3 class="form-section">Contact Person</h3>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Name </label>
                                                                    <div class="col-md-8">
                                                                        <input name="contact_person" type="text" class="form-control" value="{{.FormItems.ContactPerson}}" >
                                                                        {{if .Errors.ContactPerson}}<p name="name_error" style="font-size:13px; color:#e73d4a; margin-top: 5px; margin-bottom: 0;"></p>{{end}}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--/span-->
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Designation </label>
                                                                    <div class="col-md-8">
                                                                        <input name="designation" type="text" class="form-control" value="{{.FormItems.Designation}}">
                                                                        {{if .Errors.Designation}}<p name="designation_error" style="font-size:13px; color:#e73d4a; margin-top: 5px; margin-bottom: 0;"></p>{{end}}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--/span-->
                                                        </div>
                                                        <!--/row-->

                                                        <div class="row">

                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label class="control-label col-md-4">Phone Number </label>
                                                                    <div class="col-md-8">
                                                                        <input name="phone_no" type="text" class="form-control" value="{{.FormItems.PhoneNo}}">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--/span-->
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label class="control-label col-md-4">Email </label>
                                                                    <div class="col-md-8">
                                                                        <input name="email" type="email" class="form-control" value="{{.FormItems.Email}}">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--/span-->
                                                        </div>
                                                        <!--/row-->
                                                        <div class="row">

                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label class="control-label col-md-4">Cell No </label>
                                                                    <div class="col-md-8">
                                                                        <input name="cell_no" type="text" class="form-control" value="{{.FormItems.CellNo}}" >
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--/span-->
                                                            <div class="col-md-6">
                                                            </div>
                                                            <!--/span-->
                                                        </div>
                                                        <div class="mt-repeater-input" style="margin-bottom:10px;">
                                                            <a href="javascript:;" data-repeater-delete class="btn btn-danger mt-repeater-delete">
                                                                <i class="fa fa-close"></i> Remove
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <a href="javascript:;" data-repeater-create class="btn btn-success mt-repeater-add">
                                                    <i class="fa fa-plus"></i>Contact Person
                                                </a>
                                            </div>
                                            <hr>
                                            <div class="row" id="optional" style="padding-left:14px;">
                                                <a class="btn btn-success" id="hide">
                                                    <i class="fa fa-plus"></i>Delivery Address
                                                </a>
                                            </div>

                                            <div class="mt-repeater form-horizontal " id="repeat" style="display: none; " >
                                                <div data-repeater-list="group-a" >
                                                    <div data-repeater-item class="mt-repeater-item" >
                                                        <!-- jQuery Repeater Container -->
                                                        <h3 class="form-section" style="padding-right:50px;">Delivery Address Details
                                                        </h3>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Delivery Address </label>
                                                                    <div class="col-md-8">
                                                                        <textarea name="warehouse_address" class="form-control" rows="3"></textarea>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--/span-->
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>City </label>
                                                                    <div class="col-md-8">
                                                                        <input name="wcity" type="text" class="form-control" >
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--/span-->
                                                        </div>
                                                        <!--/row-->

                                                        <div class="row">

                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>State </label>
                                                                    <div class="col-md-8">
                                                                        <input name="wstate" type="text" class="form-control"  >
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--/span-->
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Country </label>
                                                                    <div class="col-md-8">
                                                                        <input name="wcountry" type="text" class="form-control"  >
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--/span-->
                                                        </div>
                                                        <!--/row-->
                                                        <div class="row">
                                                            
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Pincode </label>
                                                                    <div class="col-md-8">
                                                                        <input name="wpincode" type="text" class="form-control"  >
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--/span-->
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>GSTIN </label>
                                                                    <div class="col-md-8">
                                                                        <input name="gstin" type="text" class="form-control" >
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--/span-->
                                                        </div>
                                                        <div class="mt-repeater-input" style=" padding-bottom: 0; padding-left: 0;">
                                                            <a href="javascript:;" data-repeater-delete class="btn btn-danger mt-repeater-delete" style="margin-top: 0;">
                                                                <i class="fa fa-close"></i> Remove
                                                            </a>
                                                        </div>
                                                        <!--<div class="mt-repeater-input" style="padding:0;">
                                                            <a href="javascript:;" data-repeater-delete class="btn btn-circle btn-icon-only btn-danger mt-repeater-delete" style="margin-top:0;">
                                                                <i class="fa fa-close"></i>
                                                            </a>
                                                            <hr>
                                                        </div>-->
                                                    </div>
                                                </div>
                                                <div >
                                                    <a href="javascript:;" data-repeater-create class="btn btn-success mt-repeater-add" >
                                                    <i class="fa fa-plus"></i>Delivery Address</a>
                                                </div>
                                            </div> 
                                        </div>
                                        <div class="form-actions">
                                            <div class="row">
                                                <div class="col-md-12" style="text-align: center;">
                                                    <button type="submit" class="btn green" style="height: 40px;width: 80px">Submit</button>
                                                    <button type="reset" class="btn default" style="height: 40px;width: 80px">Reset</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <!-- END FORM-->
                                </div>
                            </div>
                        </div>
                    
                    </div>
                    
                    
                    <div class="row">
                        <div class="col-md-12">
                            <!-- BEGIN EXAMPLE TABLE PORTLET-->
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                    <div class="caption font-dark">
                                        <i class="icon-settings font-dark"></i>
                                        <span class="caption-subject bold uppercase">List of Suppliers</span>
                                    </div>
                                    <div class="actions">
                                        <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" style="width:20px; height:20px; line-height: 0.999; padding-left:4px; "> </a>
                                    </div>
                                </div>
                                
                                <!-- Supplier server-side Search FORM-->
                                <form method="POST" class="form-horizontal" >
                                    <input type="hidden" name="Searchmethod" value="Supplier_Search" /> {{ .xsrfdata }}
                                    <br/>
                                    <!-- <div class="portlet light bordered"> -->
                                    <div class="form-body">
                                        <div class="row">   
                                            <div class="col-md-4">
                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <div class="radio">
                                                             <label><input type="radio" class="SearchSupByDetails" name="SearchSuppliers" value="SearchBy_SupplierDeatils" {{.SearchBySupDetailsChecked}}></label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="form-group">
                                                        <input type="CompanyName" name="CompanyName" class="form-control" id="CompanyName" placeholder="Company Name" value="{{.SearchItems.CompanyName}}">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="col-md-10">
                                                    <div class="form-group">
                                                        <input type="ContactPerson" name="ContactPerson" class="form-control" id="ContactPerson" placeholder="Contact Person" value="{{.SearchItems.ContactPerson}}">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="col-md-8">
                                                    <div class="form-group">
                                                        <input type="Location" name="Location" class="form-control" id="Location" placeholder="Location" value="{{.SearchItems.Location}}" >
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <div class="radio">
                                                            <label><input type="radio" class="SearchSupByItem" name="SearchSuppliers" value="SearchByItemName" {{.SearchByItemNameChecked}}></label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="form-group">
                                                        <select id="itemSelectDropdown" name="item_name_check" class="form-control select2-multiple " data-placeholder="Choose an Item" value="{{.SearchItems.ItemName}}">
                                                            <option disabled selected value> -- Choose an item -- </option>
                                                            {{ range $items := .ItemsRetrieved }}
                                                            <option value="{{ $items._id }}" >[{{ $items.item_code_gen }}] {{ $items.invoice_narration }}</option>
                                                            {{end}}
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>  
                                        </div>
                                        <div class="row" style="text-align:center">
                                            <div class="form-group">
                                                <button type="submit" class="btn green" name="supplier-search" value="SearchSupplierDetails" style="height: 35px;width: 80px" onclick="return beforeSubmit();">Search</button>
                                                <button type="submit" class="btn default" name="Reset-SupplierSearch" value="ResetSupplierSearch" style="height: 35px;width: 80px">Reset</button>
                                            </div>  
                                        </div>
                                        <hr/>
                                    </div>
                                <!-- </div> -->
                                </form> 
                                <!-- END FORM-->
                                                              
                                <div class="portlet-body">
                                    <table class="table table-bordered table-hover table-checkable order-column" id="supplier_view_table">
                                        <thead>
                                            <tr>
                                                <th class="big-col" style="text-align: left; padding-left: 5px;"> Company Name </th>
                                                <th style="text-align: left"> Code </th>
                                                <th class="mid-col" style="text-align: left"> Contact Person </th>
                                                <th style="text-align: left"> Phone No. </th>
                                                <th class="small-col" style="text-align: left"> Cell No. </th>
                                                <!--<th style="text-align: left"> Email </th>-->
                                                <th style="text-align: left"> Location</th>
                                                <th style="text-align: left"> CST</th>
                                                <th style="text-align: left"> Pan</th>
                                                <th style="text-align: left">Action</th>
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {{ if .Retrieved}}
                                        {{ range $supplier := .Retrieved }}
                                        <tr class="odd gradeX">             
                                        <td style="text-align: left; padding-left: 5px;">  {{ $supplier.company_name }} </td>
                                        <td style="text-align: right"> {{ $supplier.supplier_code_gen }} </td>
                                        <td style="text-align: left">{{ $supplier.contact_name }}
                                            {{if compare $supplier.designation ""}}
                                            {{else}} 
                                                ( {{ $supplier.designation }} ) 
                                            {{end}}
                                        </td>
                                        <td style="text-align: right"> {{ $supplier.phone }} </td>
                                        <td style="text-align: right"> {{ $supplier.mobile }} </td>
                                        <td style="text-align: left"> {{ $supplier.city_state_pincode}} </td>
                                        <td style="text-align: right">{{ $supplier.cst }}</td>
                                        <td style="text-align: right">{{ $supplier.pan }}</td>    
                                        <td class="text-center"><a id="view_{{ $supplier._id}}" onclick="getSupplierCPandWarehouses(this);" data-toggle="modal" data-target="#suppliersModal_{{ $supplier._id }}" data-toggle="tooltip" title="View"><i class="fa fa-eye"></i> </a>
                                        <a href="/suppliers/edit?supplierCode={{ $supplier._id }}" data-toggle="tooltip" title="Edit">
                                                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                            </a>
                                        <a href="#" id="{{ $supplier._id}}" data-toggle="tooltip" title="Delete" class="delbutton"><i class="fa fa-trash-o"></i> </a></td>
                                        
                                        </tr>
                                        {{end}}
                                        </tbody>
                                        </table>
                                    </div>
                            </div>
                            <!-- END EXAMPLE TABLE PORTLET-->
                        </div>
                    </div>

            {{ range $supplier := .Retrieved }}
                    <div id="suppliersModal_{{ $supplier._id }}" class="modal fade bs-modal-lg" role="dialog">
                        <div class="modal-dialog modal-lg">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <div class="portlet-title">
                                        <div class="caption font-dark">
                                            <i class="icon-settings font-dark"></i>
                                            <span class="caption-subject bold uppercase"> Company details</span>
                                            <i class="fa fa-print no-print" title="Print" style="float:right;" onclick="jQuery('#suppliersModal_{{ $supplier.supplier_unique_code }}').print()"></i>
                                        </div>
                                    </div>
                                    <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
                                </div>
                                <div class="modal-body">
                                    <table class="col-md-12" style="margin-bottom: 25px;">
										<tr>
											<th class="col-md-2">Company Name:</th>
											<td class="col-md-4">{{ $supplier.company_name }}</td>
											<th class="col-md-2">Code:</th>
											<td class="col-md-4">{{ $supplier.supplier_code_gen }}</td>
										</tr>
                                        <!--<div class="row">
                                            <div class="col-sm-6">
                                                <lable class="col-md-5 control-label bold">Company Name:</lable>
                                                <div class="col-md-7">{{ $supplier.company_name }}</div>
                                            </div>
                                            <div class="col-sm-6">
                                                <lable class="col-md-5 control-label bold">Code:</lable>
                                                <div class="col-md-7">{{ $supplier.supplier_unique_code }}</div>
                                            </div>
                                        </div>-->
										<!--<tr>
											<th class="col-md-2">Contact Person:</th>
											<td class="col-md-4">{{ $supplier.contact_name }}</td>
											<th class="col-md-2">Designation:</th>
											<td class="col-md-4">{{ $supplier.designation }}</td>
										</tr>-->
                                        <!--<div class="row">
                                            <div class="col-sm-6">
                                                <lable class="col-md-5 control-label bold">Contact Person:</lable>
                                                <div class="col-md-7">{{ $supplier.contact_name }}</div>
                                            </div>
                                            <div class="col-sm-6">
                                                <lable class="col-md-5 control-label bold">Designation:</lable>
                                                <div class="col-md-7">{{ $supplier.designation }}</div>
                                            </div>
                                        </div>-->
										<!--<tr>
											<th class="col-md-2">Phone Number:</th>
											<td class="col-md-4">{{ $supplier.phone }}</td>
											<th class="col-md-2">Email:</th>
											<td class="col-md-4">{{ $supplier.email }}</td>
										</tr>-->
                                        <!--<div class="row">
                                        <div class="col-sm-6">
                                            <lable class="col-md-5 control-label bold">Phone Number:</lable>
                                            <div class="col-md-7">{{ $supplier.phone }}</div>
                                        </div>
                                        <div class="col-sm-6">
                                            <lable class="col-md-5 control-label bold">Email:</lable>
                                            <div class="col-md-7">{{ $supplier.email }}</div>
                                        </div>
                                    </div>-->
										<!--<tr>
											<th class="col-md-2">Cell Number:</th>
											<td class="col-md-4">{{ $supplier.mobile }}</td>
											<th class="col-md-2"></th>
											<td class="col-md-4"></td>
										</tr>-->
                                        <!--<div class="row">
                                        <div class="col-sm-6">
                                            <lable class="col-md-5 control-label bold">Cell Number:</lable>
                                            <div class="col-md-7">{{ $supplier.mobile }}</div>
                                        </div>
                                        <div class="col-sm-6">
                                            <lable class="col-md-5 control-label bold">Office Address:</lable>
                                            <div class="col-md-7">{{ $supplier.hq_address_line1 }}</div>
                                        </div>
                                    </div-->
										<tr>
                                            <th class="col-md-2">Office Address:</th>
											<td class="col-md-4">{{ $supplier.hq_address_line1 }}</td>
											<th class="col-md-2">City:</th>
											<td class="col-md-4">{{ $supplier.city }}</td>
											
										</tr>
                                    
                                    
                                    <!--<div class="row">
                                        <div class="col-sm-6">
                                            <lable class="col-md-5 control-label bold">City:</lable>
                                            <div class="col-md-7">{{ $supplier.city }}</div>
                                        </div>
                                        <div class="col-sm-6">
                                            <lable class="col-md-5 control-label bold">State:</lable>
                                            <div class="col-md-7">{{ $supplier.state }}</div>
                                        </div>
                                    </div>-->

                                    <tr>
                                        <th class="col-md-2">State:</th>
										<td class="col-md-4">{{ $supplier.state }}</td>
                                        <th class="col-md-2">Country:</th>
                                        <td class="col-md-4">{{ $supplier.country }}</td>
                                    </tr>
                                    <!--<div class="row">
                                        <div class="col-sm-6">
                                            <lable class="col-md-5 control-label bold">Country:</lable>
                                            <div class="col-md-7">{{ $supplier.country }}</div>
                                        </div>
                                        <div class="col-sm-6">
                                            <lable class="col-md-5 control-label bold">Pincode:</lable>
                                            <div class="col-md-7">{{ $supplier.pincode }}</div>
                                        </div>
                                    </div>-->
                                    <tr>
                                        <th class="col-md-2">Pincode:</th>
                                        <td class="col-md-4">{{ $supplier.pincode }}</td>
                                        <th class="col-md-2">GSTIN:</th>
										<td class="col-md-4">{{ $supplier.GSTIN }}</td>
                                    </tr>
                                    <tr>
                                        <th class="col-md-2">PAN No:</th>
                                        <td class="col-md-4">{{ $supplier.pan }}</td>
                                        <th class="col-md-2">Credit in days:</th>
                                        <td class="col-md-4">{{ $supplier.credit_in_days }}</td>
                                    </tr>
                                    <tr>
                                        <th class="col-md-2">CST No:</th>
                                        <td class="col-md-4">{{ $supplier.cst }}</td>
                                        <th class="col-md-2">Credit limit:</th>
                                        <td class="col-md-4">{{ $supplier.credit_limit }}</td>
                                    </tr>
                                    <!--<div class="row">
                                        <div class="col-sm-6">
                                            <lable class="col-md-5 control-label bold">CST No:</lable>
                                            <div class="col-md-7">{{ $supplier.cst }}</div>
                                        </div>
                                        <div class="col-sm-6">
                                            <lable class="col-md-5 control-label bold">PAN No:</lable>
                                            <div class="col-md-7">{{ $supplier.pan }}</div>
                                        </div>
                                    </div>-->
                                    <tr>
                                        <th class="col-md-2">ECC No:</th>
                                        <td class="col-md-4">{{ $supplier.ecc }}</td>
                                        <th class="col-md-2">TIN:</th>
                                        <td class="col-md-4">{{ $supplier.tin }}</td>
                                    </tr>
                                    <!--<div class="row">
                                        <div class="col-sm-6">
                                            <lable class="col-md-5 control-label bold">ECC No:</lable>
                                            <div class="col-md-7">{{ $supplier.ecc }}</div>
                                        </div>
                                        <div class="col-sm-6">
                                            <lable class="col-md-5 control-label bold">LST No:</lable>
                                            <div class="col-md-7">{{ $supplier.lst }}</div>
                                        </div>
                                    </div>-->
                                    <tr>
                                        <th class="col-md-2">Notes:</th>
                                        <td class="col-md-4">{{ $supplier.notes }}</td>
                                        <th class="col-md-2">ARN:</th>
                                        <td class="col-md-4">{{ $supplier.ARN }}</td>
                                    </tr>
                                    <!--<div class="row">                                        
                                        <div class="col-sm-6">
                                            <lable class="col-md-5 control-label bold">GST No</lable>
                                            <div class="col-md-7">{{ $supplier.gst }}</div>
                                        </div>
                                        <div class="col-sm-6">
                                            <lable class="col-md-5 control-label bold">Notes:</lable>
                                            <div class="col-md-7">{{ $supplier.notes }}</div>
                                        </div>
                                    </div>-->
                                    <tr>
                                        <th class="col-md-2">Provisional GST No:</th>
                                        <td class="col-md-4">{{ $supplier.provisional_gst }}</td>
                                        <th class="col-md-2">Introduction date:</th>
                                        <td class="col-md-4">{{ $supplier.date_of_introduction }}</td>
                                    </tr>
                                    <!--<div class="row">                                        
                                        <div class="col-sm-6">
                                            <lable class="col-md-5 control-label bold">Provisional GST No</lable>
                                            <div class="col-md-7">{{ $supplier.provisional_gst }}</div>
                                        </div>
                                        <div class="col-sm-6">
                                            <lable class="col-md-5 control-label bold">ARN:</lable>
                                            <div class="col-md-7">{{ $supplier.ARN }}</div>
                                        </div>
                                    </div>-->
                                    </table>
                                    <p style="color:#117dbb; margin-left:5px;">Contact Person</p>
                                    <p id="cptable_{{ $supplier._id }}"></p>
                                    <p id="Nocptable_{{ $supplier._id }}" style="margin-left:65px; margin-top: -15px; color:salmon"></p>
                                    <div class="row"></div>
                                    <p style="color:#117dbb; margin-left:5px;">Delivery Address Details</p>
                                    <p id="Notable_{{ $supplier._id }}" style="margin-left:65px; margin-top: -15px; color:salmon"></p>
                                    <p id="tbody_{{ $supplier._id }}" ></p>
                                   <!--<table class="table table-bordered table-hover dt-responsive dataTable table-checkable order-column" width="80%">
                                        <thead>
                                            <tr>
                                                <th>Warehouse Address</th>
                                                <th>City</th>
                                                <th>State</th>
                                                <th>Country</th>
                                                <th>Pincode</th>
                                                
                                            </tr>
                                        </thead>
                                        
                                        <tbody>
                                            <tr>
                                                <td>{{ $supplier.address_line1 }}</td>
                                                <td>{{ $supplier.wcity }}</td>
                                                <td>{{ $supplier.wstate }}</td>
                                                <td>{{ $supplier.wcountry }}</td>
                                                <td>{{ $supplier.wpincode }}</td>
                                                
                                            </tr>
                                        </tbody>
                                    </table> -->
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default no-print" data-dismiss="modal">Close</button>
                                </div>
                            </div>

                        </div>
                    </div>
            {{end}}  
            {{end}}      

                    <!-- END PAGE BASE CONTENT -->
                </div>
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->
       
        {{end}}

        {{ define "pagelevelplugins" }} 
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <script src="/static/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
        <script src="/static/assets/global/scripts/datatable.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/jquery-repeater/jquery.repeater.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/jQuery.print-master/jQuery.print.js" type="text/javascript"></script>
        <!-- END PAGE LEVEL PLUGINS -->       
        {{ end }}

        {{define "pagelevelscripts"}} 
        <!-- BEGIN PAGE LEVEL SCRIPTS -->
        <script src="/static/assets/pages/scripts/components-select2.min.js" type="text/javascript"></script>
        <script src="/static/assets/pages/scripts/table-datatables-managed.js" type="text/javascript"></script>
        <script src="/static/assets/pages/scripts/components-bootstrap-multiselect.min.js" type="text/javascript"></script>
        <!--<script src="/static/assets/pages/scripts/form-repeater.min.js" type="text/javascript"></script>-->
        {{if .FlashNotices}}
        <script type="text/javascript">
                $(function() {                  
                    $.bootstrapGrowl("{{.FlashNotices}}", {offset: {from: 'top', amount: 20}, delay: 5000, type: 'success',align: 'center', stackup_spacing: 30,width: 400 });});
        </script>
        {{end}}
        {{if .Errors.ContactPerson}}
        <script>
            $(window).on("load", function() { 
                    document.getElementsByName("contactgrp[0][name_error]")[0].innerHTML = "This field is required";
            });
        </script>
        {{end}}
        {{if .Errors.Designation}}
        <script>
            $(window).on("load", function() { 
                    document.getElementsByName("contactgrp[0][designation_error]")[0].innerHTML = "This field is required";
            });
        </script>
        {{end}}
        <script>
        $(document).ready(function(){
            $("#hide").click(function(){
                $("#optional").hide();

                $("#repeat").show();
                $("#repeat").slideDown(200);
            });
        });
        </script>
        <script>
            $(document).ready(function () {
                $('.mt-repeater').repeater({
                    show: function () {
                        $(this).slideDown();
                        $('.date-picker').datepicker({
                            rtl: App.isRTL(),
                            orientation: "left",
                            autoclose: true
                        });
                    },
                    
                    hide: function (deleteElement) {
                        if(confirm('Are you sure you want to delete this entry?')) {
                            $(this).slideUp(deleteElement);
                            $(document).ready(function () {
                                itemRemove();
                            });
                        }
                    },
                    
                   
                });
                $('.cp-repeater').repeater({
                    hide: function (deleteElement) {
                        if(confirm('Are you sure you want to delete this entry?')) {
                            $(this).slideUp(deleteElement);
                            $(document).ready(function () {
                                itemRemove();
                            });
                        }
                    },

                    isFirstItemUndeletable: true
                });
            });
        </script>
        <script type="text/javascript">
            $(function() {
            $(document).on('click','.delbutton',function(e){
                e.preventDefault()
            var element = $(this);
            var del_id = element.attr("id");
            var info = 'id=' + del_id;
            if(confirm("Are you sure you want to delete this Record?")){
                $.ajax({
                    type: "GET",
                    url: "/suppliers/delete-supplier",
                    data: info,
                    success: function(msg){ 
                        if (msg == "true") {
                            if(alert('Supplier Deleted!')){}
                            else    window.location.reload();
                        }
                        else {
                            console("Error")
                        }
                    } 
                });
            }
            return false;
            });
            });
        </script>
        <script type="text/javascript">
            function getSupplierCPandWarehouses(element) {
                
                var supplier_id = element.id;
                var res = supplier_id.split("_");
                //var new_res = res[1];
                var info = 'supplierId=' + res[1];

                $.ajax({
                    type: "GET",
                    url: "/suppliers/get-contactpersons",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    cache: false,
                    data: info,
                    success: function(data){ 
                        if (data.cpname == null) {
                            var demo = 'Nocptable_' + res[1]
                            document.getElementById(demo).innerHTML = "Contact person's details not added!";
                        } else {
                            var thead = '<table class="table table-bordered " width="80%"><thead><tr><th>Name</th><th style="width:20%;">Designation</th><th style="width:20%;">Phone</th><th style="width:10%;">Email</th><th style="width:20%;">Cell No</th></td></tr></thead><tbody>';
                            //var tbody = '<tbody>'
                            var tfooter = '</tbody></table>';
                            //var tfooter = '</tbody>';
                            var trHTML = ''
                            $.each(data.cpname, function (i, item) {
                        
                                trHTML += '<tr><td style="padding-left:5px">' + item + '</td><td style="padding-left:10px">' + data.designation[i] +'</td><td style="padding-left:20px">' + data.phone[i] +'</td><td style="padding-left:20px">' + data.email[i] + '</td><td style="padding-left:20px">' + data.mobile[i] + '</td></tr>';
                            });
                            var demo = 'cptable_' + res[1]
                            document.getElementById(demo).innerHTML = thead + trHTML + tfooter;
                        }
                    } 
                });
                
                $.ajax({
                    type: "GET",
                    url: "/suppliers/get-warehouses",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    cache: false,
                    data: info,
                    success: function(data){ 
                        if (data.address == null ) {
                            var demo = 'Notable_' + res[1]
                            document.getElementById(demo).innerHTML = "Delivery Address details not added!";
                        } else {
                            var thead = '<table class="table table-bordered table-hover dt-responsive dataTable table-checkable order-column" width="80%"><thead><tr><th>Address</th><th style="width:20%;">City</th><th style="width:20%;">State</th><th style="width:10%;">Country</th><th style="width:20%;">Pincode</th><th style="width:10%;">GSTIN</th></td></tr></thead><tbody>';
                            //var tbody = '<tbody>'
                            var tfooter = '</tbody></table>';
                            //var tfooter = '</tbody>';
                            var trHTML = ''
                            $.each(data.address, function (i, item) {
                        
                                trHTML += '<tr><td style="padding-left:20px">' + item + '</td><td style="padding-left:10px">' + data.city[i] +'</td><td style="padding-left:20px">' + data.state[i] +'</td><td style="padding-left:20px">' + data.country[i] + '</td><td style="padding-left:20px">' + data.pincode[i] + '</td><td style="padding-left:20px">' + data.gstin[i] + '</td></tr>';
                            });
                            var demo = 'tbody_' + res[1]
                            document.getElementById(demo).innerHTML = thead + trHTML + tfooter;
                        }
                    } 
                });
            }
        </script>
        <script type="text/javascript">
            function beforeSubmit() {
                if($('.SearchSupByItem').is(":checked")) {
                    var e = document.getElementById("itemSelectDropdown");
                    var selectedValue = e.options[e.selectedIndex].value;
                    if (selectedValue == '') {
                        alert("Please select an Item from the dropdown");
                        return false;
                    }
                }
                return true;
            }
        </script>
        <!-- END PAGE LEVEL SCRIPTS -->
        {{end}}