{{ template "master_layout.html" . }}

{{ define "pagelevelstyles"}}
        <!-- BEGIN PAGE LEVEL STYLES -->
        <link href="/static/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.css" rel="stylesheet" type="text/css" />
		<link href="/static/assets/global/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" type="text/css" />
		<link href="/static/assets/global/plugins/jquery-multi-select/css/multi-select.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
		
		<link href="/static/assets/global/plugins/typeahead/typeahead.css" rel="stylesheet" type="text/css" />
		<link href="/static/assets/global/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css" rel="stylesheet" type="text/css" />
        <!-- END PAGE LEVEL STYLES -->
{{end}}

{{ define "content" }}    
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                    <!-- BEGIN PAGE BASE CONTENT -->
                    <div class="row">
                        
						<div class=" portlet light bordered col-md-12">
							<div class="portlet-title">
                                    <div class="caption">
                                        <i class="icon-equalizer font-green"></i>
                                        <span class="caption-subject bold font-green uppercase">View/Manage Association</span>
                                    </div>
                                    <div class="actions">
                                        <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" style="width:20px; height:20px; line-height: 0.999; padding-left:4px; "> </a>
                                    </div>
                                </div>

                            <div class=" col-md-6">
								<div class="portlet light bordered">
									<div class="portlet-title">
                                        <span class="caption-subject uppercase">Choose a supplier to see associations</span>
									</div>
								<!-- BEGIN FORM-->
								<form method="POST" class="form-horizontal" id="display-items">
								{{ .xsrfdata }}
								<div class="form-body">
								<div class="form-group">
								<!--<label class="col-md-3 control-label"><span class="required" aria-required="true">*</span>Supplier </label>-->
								<div class="col-md-12">
									<select name="supplier" class=" form-control select2-multiple " data-placeholder="Choose a Supplier" >
									  <option disabled selected value> -- Choose a supplier -- </option>
                                      {{ range $suppliers := .RetrievedSuppliers }}
									  <option value="{{ $suppliers._id }}" {{if compare $.FormItems.Supplier $suppliers._id }} selected {{end}}>{{ $suppliers.company_name }} </option>
                                      {{end}}
                                    </select>
									{{if .Errors.Supplier}} 
									<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Supplier}}</span>
									{{end}}
									<button name="assoc-button" value="supplier" type="submit" class="btn green" style="margin-top:5px;height:30px; text-align: center;">Show Associations</button>
								</div>
								</div>	

								<div class="form-group">
                            	<!--<label class="control-label col-md-3">Items/Services</label>-->
                                 <div class="col-md-12">
                                 <div id="assoc-items">
                                 <select id="multiple" name="services[]" data-placeholder="Choose Items" class="form-control select2-multiple" multiple >
									{{ range $items := .RetrievedItems }}
									<option value="{{ $items._id }}">[{{ $items.item_code_gen }}] {{ $items.invoice_narration }} (UOM: {{ $items.unit_measure}})</option>
									{{end}}
                                 </select>
                                 {{if .Errors.Services}} 
								 <span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Services}}</span>{{end}}
								 <button name="assoc-button" value="items" type="submit" class="btn blue" style="margin-top:5px;height: 30px; text-align: center;">Associate Items</button>
								</div>
								</div>
                                </div>
								</form><!-- END FORM-->
								</div> <!-- form body -->
							</div><!-- Portlet Body -->
						</div><!--column md-6-->

                        <div class="col-md-6">
                            <!-- BEGIN EXAMPLE TABLE PORTLET-->
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                        <span class="caption-subject uppercase"> Associated Items/Services</span>
                                                                     
                                </div>
                                <div class="portlet-body">
                                    <table class="table table-bordered table-hover dt-responsive dataTable table-checkable order-column" width="100%" id="association_view_table">
                                        <thead>
                                            <tr>												
                                                <th style="width:100px !important; text-align: left; padding-left: 5px;"> Item Code </th>
												<th style="text-align: left"> Item Name </th>
                                                <th style="text-align: left"> Invoice Narration </th>
												<th style="width:10%">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
											{{ range $ss := .RetrievedAssociations }}
											<tr class="odd gradeX">								
												<td style="text-align: left;  padding-left: 5px;"> {{ $ss.item_code_gen }} </td>
												<td style="text-align: left"> {{ $ss.invoice_narration }} </td>
												{{if compare $ss.invoice_naration nil}}
												<td style="text-align: left"><input id="name_{{$ss._id}}" type="text" name="invoice_naration" value="{{ $ss.invoice_naration }}"/></td>
												<td style="text-align: center">
												<a id="{{$ss._id}}" data-toggle="tooltip" title="Save" class="savebutton"><i class="fa fa-floppy-o"></i></a>
												<a href="#" id="{{ $ss._id}}" data-toggle="tooltip" title="Delete" class="delbutton"><i class="fa fa-trash-o"></i> </a></td>
											</tr>
												{{else}}
												<td style="text-align: left"><input id="name_{{$ss._id}}" type="text" readonly name="invoice_naration" value="{{ $ss.invoice_naration }}"/></td>
												<td style="text-align: center">
												<!--<a id="{{$ss._id}}" data-toggle="tooltip" title="Save" class="savebutton"><i class="fa fa-floppy-o"></i></a>-->
												<a href="#" id="{{ $ss._id}}" data-toggle="tooltip" title="Delete" class="delbutton"><i class="fa fa-trash-o"></i> </a></td>
											</tr>
												{{end}}
											{{end}}
                                            
										</tbody>
                                    </table>

                                </div>
                            </div>
                            <!-- END EXAMPLE TABLE PORTLET-->
                        </div><!--column md-6-->
					</div><!--column md-12-->
				 </div><!--crow-->
				 </div><!-- END PAGE BASE CONTENT -->
                </div><!-- END CONTENT -->
             
       
        {{end}}

        {{ define "pagelevelplugins" }} 
        <!-- BEGIN PAGE LEVEL PLUGINS -->
		<!--<script src="https://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>-->
        <script src="/static/assets/global/plugins/fuelux/js/spinner.min.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.js" type="text/javascript"></script>
		<script src="/static/assets/global/plugins/bootstrap-select/js/bootstrap-select.min.js" type="text/javascript"></script>
		<script src="/static/assets/global/plugins/jquery-multi-select/js/jquery.multi-select.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
		<script src="/static/assets/global/plugins/typeahead/handlebars.min.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/typeahead/typeahead.bundle.min.js" type="text/javascript"></script>
        <!-- END PAGE LEVEL PLUGINS -->       
        {{ end }}

        {{define "pagelevelscripts"}} 
        <!-- BEGIN PAGE LEVEL SCRIPTS -->
        <script src="/static/assets/pages/scripts/components-select2.min.js" type="text/javascript"></script>		
		<script src="/static/assets/pages/scripts/components-bootstrap-select.min.js" type="text/javascript"></script>
        <script src="/static/assets/pages/scripts/components-bootstrap-touchspin.js" type="text/javascript"></script>
		<script src="/static/assets/pages/scripts/components-multi-select.min.js" type="text/javascript"></script>
		 <script src="/static/assets/global/plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.js"></script>
        <!-- END PAGE LEVEL SCRIPTS -->
		{{if .FlashNotices}}
		<script type="text/javascript">
				$(function() {					
					$.bootstrapGrowl("{{.FlashNotices}}", {offset: {from: 'top', amount: 20}, delay: 5000, type: 'success',align: 'center', stackup_spacing: 30,width: 400 });});
		 </script>
		 {{end}}
		<script type="text/javascript">
			var ComponentsTypeahead = function () {

			var handleTwitterTypeahead = function() {

				// Example #1
				// instantiate the bloodhound suggestion engine
				var numbers = new Bloodhound({
				  datumTokenizer: function(d) { return Bloodhound.tokenizers.whitespace(d.num); },
				  queryTokenizer: Bloodhound.tokenizers.whitespace,
				  local: [
					{ num: 'metronic' },
					{ num: 'keenthemes' },
					{ num: 'metronic theme' },
					{ num: 'metronic template' },
					{ num: 'keenthemes team' }
				  ]
				});
				 
				// initialize the bloodhound suggestion engine
				numbers.initialize();
				 
				// instantiate the typeahead UI
				if (App.isRTL()) {
				  $('#typeahead_example_1').attr("dir", "rtl");  
				}
				$('#typeahead_example_1').typeahead(null, {
				  displayKey: 'num',
				  hint: (App.isRTL() ? false : true),
				  source: numbers.ttAdapter()
				});

			}

			var handleTwitterTypeaheadModal = function() {

				// Example #1
				// instantiate the bloodhound suggestion engine
				var numbers = new Bloodhound({
				  datumTokenizer: function(d) { return Bloodhound.tokenizers.whitespace(d.num); },
				  queryTokenizer: Bloodhound.tokenizers.whitespace,
				  local: [
					{ num: 'metronic' },
					{ num: 'keenthemes' },
					{ num: 'metronic theme' },
					{ num: 'metronic template' },
					{ num: 'keenthemes team' }
				  ]
				});
				 
				// initialize the bloodhound suggestion engine
				numbers.initialize();
				 
				// instantiate the typeahead UI
				if (App.isRTL()) {
				  $('#typeahead_example_modal_1').attr("dir", "rtl");  
				}
				$('#typeahead_example_modal_1').typeahead(null, {
				  displayKey: 'num',
				  hint: (App.isRTL() ? false : true),
				  source: numbers.ttAdapter()
				});

				
			}

			return {
				//main function to initiate the module
				init: function () {
					handleTwitterTypeahead();
					handleTwitterTypeaheadModal();
				}
			};

		}();

		jQuery(document).ready(function() {    
		   ComponentsTypeahead.init(); 
		});
		</script>
		<script type="text/javascript">
            $(function() {
            $(document).on('click','.delbutton',function(e){
              //  e.preventDefault()
            var element = $(this);
            var del_id = element.attr("id");
            var info = 'id=' + del_id;
            if(confirm("Are you sure you want to delete this Record?")){
                $.ajax({
                    type: "GET",
                    url: "/suppliers/delete-association",
                    data: info,
                    success: function(msg){ 
                        if (msg == "true") {
                            if(alert('Association Deleted!')){}
							else    window.location.reload();
                        }
                        else {
                            console("Error")
                        }
                    } 
                });
            }
            return false;
            });
            });
        </script>
		<script type="text/javascript">
	        $(function() {
	        $(document).on('click','.savebutton',function(e){
	        	e.preventDefault()
	        var element = $(this);
	        var del_id = element.attr("id");
	        var qty_id = "#name_" + del_id;
	        var new_qty = $(qty_id).val();
	        
	        var info = 'id=' + del_id + '&new_qty=' + new_qty;


	        if(confirm("Save Changes?")){
	            $.ajax({
	                type: "GET",
	                url: "/suppliers/change-items",
	                data: info,
	                success: function(msg){ 
		                if (msg == "true") {
		                	if(alert('Changes saved!')){}
							else    window.location.reload(); 
		                	//location.reload();
		                	//$("#Table_id").ajax.reload();
		                	//oTable.api().ajax.reload();
		                	//$("#Table_id").load(window.location + " #Table_id");
		                }
		                else {
		                	console("Error")
		                }
	            	} 
	            });
	        }
	        return false;
	        });
	        });
	    </script>
		
        {{end}}