<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
    <!--<![endif]-->
    <!-- BEGIN HEAD -->

    <head>
        <meta charset="utf-8" />
        <title>Singulerp | {{.PageTitle }} </title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta content="Singulerp" name="description" />
        <meta content="" name="author" />
        <!-- BEGIN GLOBAL MANDATORY STYLES -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.css" rel="stylesheet" type="text/css" />
		<link href="/static/assets/global/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css" rel="stylesheet" type="text/css" />
	    <!-- END GLOBAL MANDATORY STYLES -->

        {{block "pagelevelstyles" . }}{{end}}

        <!-- BEGIN THEME GLOBAL STYLES -->
        <link href="/static/assets/global/css/components-md.min.css" rel="stylesheet" id="style_components" type="text/css" />
        <link href="/static/assets/global/css/plugins-md.min.css" rel="stylesheet" type="text/css" />
        <!-- END THEME GLOBAL STYLES -->

        <!-- BEGIN THEME LAYOUT STYLES -->
        <link href="/static/assets/layouts/layout4/css/layout.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/layouts/layout4/css/themes/default.min.css" rel="stylesheet" type="text/css" id="style_color" />
        <link href="/static/assets/layouts/layout4/css/custom.css" rel="stylesheet" type="text/css" />
        <!-- END THEME LAYOUT STYLES -->
                
        <link rel="shortcut icon" type="image/x-icon" href="/static/assets/global/img/favicon.ico" /> 
        <style>
        .col-md-6{
            margin-right:25%;margin-left:25%; margin-top: 7%;
        }
        @media only screen and (max-width: 550px) {
            .col-md-6 {
                margin-left: 0;
                margin-right: 0;
            }
        }
        @media (min-width: 550px) and (max-width: 660px) {
              .col-md-6 {
                margin-left: 5%;
                margin-right: 5%; } 
            }
        @media (min-width: 660px) and (max-width: 750px) {
          .col-md-6 {
            margin-left: 10%;
            margin-right: 10%; } 
        }
        @media (min-width: 750px) and (max-width: 950px) {
          .col-md-6 {
            margin-left: 15%;
            margin-right: 15%; } 
        }
        @media (min-width: 950px) and (max-width: 1050px) {
          .col-md-6 {
            margin-left: 20%;
            margin-right: 20%; } 
        }
        </style>
       <style type="text/css">
        .name_logo{
            background: url('/static/assets/layouts/layout4/img/DC_SingulERP_Logo1_White.png') no-repeat;
            margin: 14px 10px 10px 0;
            padding: 45px 120px 5px 120px;
        }
        .logo_only{
            background: url('/static/assets/layouts/layout4/img/logo_white_only.png') no-repeat;
            margin: 14px 0px 10px 0;
            padding: 45px 0px 10px 60px;
        }
        </style>
        </head>
    <!-- END HEAD -->

     <body class="page-container-bg-solid page-header-fixed page-footer-fixed page-sidebar-closed-hide-logo page-md nts">

    {{ template "header_layout.html" . }}

    {{ block "content" . }}{{ end }}

        <!-- BEGIN FOOTER -->
        <div class="page-footer">
            <div class="page-footer-inner"> 2016 &copy; Singulerp</div>
            <div class="scroll-to-top">
                <i class="icon-arrow-up"></i>
            </div>
        </div>
        <!-- END FOOTER -->
      
        <!--[if lt IE 9]>
        <script src="/static/assets/global/plugins/respond.min.js"></script>
        <script src="/static/assets/global/plugins/excanvas.min.js"></script> 
        <script src="/static/assets/global/plugins/ie8.fix.min.js"></script> 
        <![endif]-->

        <!-- BEGIN CORE PLUGINS -->
        <script src="/static/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.js" type="text/javascript"></script>
		<script src="/static/assets/global/plugins/bootstrap-select/js/bootstrap-select.min.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript">
        </script>
        <!-- END CORE PLUGINS -->   
        <script src="/static/assets/global/plugins/bootstrap-wizard/jquery.bootstrap.wizard.min.js" type="text/javascript"></script>

         {{ block "pagelevelplugins" . }}{{ end }}

        <!-- BEGIN THEME GLOBAL SCRIPTS -->
        <script src="/static/assets/global/scripts/app.min.js" type="text/javascript"></script>
		<script src="/static/assets/global/plugins/typeahead/handlebars.min.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/typeahead/typeahead.bundle.min.js" type="text/javascript"></script>
		<script src="/static/assets/global/plugins/bootstrap-select/js/bootstrap-select.min.js" type="text/javascript"></script>
        <script src="/static/assets/pages/scripts/components-bootstrap-select.min.js" type="text/javascript"></script>
        <script src="/static/assets/pages/scripts/components-bootstrap-touchspin.js" type="text/javascript"></script>
		<script src="/static/assets/pages/scripts/components-date-time-pickers.js" type="text/javascript"></script>
        

        <script >
        $('.faq-links').click(function(){
            var collapsed=$(this).find('i').hasClass('fa-plus-square');
                
            $('.faq-links').find('i').removeClass('fa-minus-circle');
            
            $('.faq-links').find('i').addClass('fa-plus-square');
            if(collapsed)
                $(this).find('i').toggleClass('fa-plus-square  fa-minus-circle')
        });
        </script>
		<!-- END THEME GLOBAL SCRIPTS -->

        {{ block "pagelevelscripts" . }}{{ end }}

        <!-- BEGIN THEME LAYOUT SCRIPTS -->
        <script src="/static/assets/layouts/layout4/scripts/layout.min.js" type="text/javascript"></script>
        <script src="/static/assets/layouts/layout4/scripts/demo.min.js" type="text/javascript"></script>
        <script src="/static/assets/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
        <script src="/static/assets/layouts/global/scripts/quick-nav.min.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.js"></script>
        
        <script src="/static/assets/pages/scripts/form-wizard.min.js" type="text/javascript"></script>
        <!-- END THEME LAYOUT SCRIPTS -->
 
    </body>

</html>

       