{{ template "master_layout.html" . }}

{{define "pagelevelstyles"}}
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <link href="/static/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/fullcalendar/fullcalendar.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/jqvmap/jqvmap/jqvmap.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/gauge/jquery-gauge.css" rel="stylesheet" type="text/css" />
        
        <!-- END PAGE LEVEL PLUGINS -->
{{end}}

{{ define "content" }}    
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                    <!-- BEGIN PAGE HEAD-->
                    <div class="page-head">
                        <!-- BEGIN PAGE TITLE -->
                        <div class="page-title">
                            <h1>Dashboard
                                <small>statistics, charts, recent events and reports</small>
                            </h1>
                        </div>
                        <!-- END PAGE TITLE -->
                        <!-- BEGIN PAGE TOOLBAR -->
                        <div class="page-toolbar">
                            <div id="dashboard-report-range" data-display-range="0" class="pull-right tooltips btn btn-fit-height green" data-placement="left" data-original-title="Change dashboard date range">
                                <i class="icon-calendar"></i>&nbsp;
                                <span class="thin uppercase hidden-xs"></span>&nbsp;
                                <i class="fa fa-angle-down"></i>
                            </div>
                        </div>
                        <!-- END PAGE TOOLBAR -->
                    </div>
                    <!-- END PAGE HEAD-->
                    <!-- BEGIN PAGE BREADCRUMB -->
                    <ul class="page-breadcrumb breadcrumb">
                        <li>
                            <a href="index.html">Home</a>
                            <i class="fa fa-circle"></i>
                        </li>
                        <li>
                            <span class="active">Dashboard</span>
                        </li>
                    </ul>
                    <!-- END PAGE BREADCRUMB -->
                    <!-- BEGIN PAGE BASE CONTENT -->
                    <div class="row ">
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <!-- <div class="dashboard-stat2 bordered" style="min-width:230px; min-height: 150px;"> -->
                            <div class="dashboard-stat2 bordered" >
                                <div class="display">
                                    <span style="font-size: 18px;color: #AAB5BC; font-weight: 600; text-transform: uppercase;">Sales</span>
                                    <div class="icon">
                                        <i class="icon-graph"></i>
                                    </div>
                                    <hr>

                                    <div class="row" style="padding-left: 10px;padding-right: 10px">                                         
                                            <label style="font-size: 13px;color: #AAB5BC; font-weight: 600; text-transform: uppercase;">Open Orders</label>                                           
                                            <label style="font-size: 16px;color: #2ab4c0; font-weight: 400; text-transform: uppercase; float:right;">{{.Retrieved.newSales}}</label>
                                    </div>

                                    <div class="row" style="padding-left: 10px;padding-right: 10px">                                         
                                        <label style="font-size: 13px;color: #AAB5BC; font-weight: 600; text-transform: uppercase;">Completed</label>                                           
                                        <label style="font-size: 16px;color: #2ab4c0; font-weight: 400; text-transform: uppercase; float:right;">{{.Retrieved.completedSales}}</label>
                                    </div>

                                    <div class="row" style="padding-left: 10px;padding-right: 10px">                                         
                                        <label style="font-size: 13px;color: #AAB5BC; font-weight: 600; text-transform: uppercase;">Revenue</label> 
                                                                                    
                                        <label style="font-size: 16px;color: #2ab4c0; font-weight: 400; text-transform: uppercase; float:right;">{{.Retrieved.revenue}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="dashboard-stat2 bordered" >
                                <div class="display">
                                    <span style="font-size: 18px;color: #AAB5BC; font-weight: 600; text-transform: uppercase;">Purchases</span>
                                    <div class="icon">
                                        <i class="icon-basket"></i>
                                    </div>
                                    <hr>

                                    
                                    <div class="row" style="padding-left: 10px;padding-right: 10px">                                         
                                        <label style="font-size: 13px;color: #AAB5BC; font-weight: 600; text-transform: uppercase;">Open Orders</label>                                           
                                        <label style="font-size: 16px;color: #2ab4c0; font-weight: 400; text-transform: uppercase; float:right;">{{.Retrievedpo.newPurchases}}</label>
                                    </div>
                                    <div class="row" style="padding-left: 10px;padding-right: 10px">                                         
                                        <label style="font-size: 13px;color: #AAB5BC; font-weight: 600; text-transform: uppercase;">Completed</label>                                           
                                        <label style="font-size: 16px;color: #2ab4c0; font-weight: 400; text-transform: uppercase; float:right;">{{.Retrievedpo.completedPurchases}}</label>
                                    </div>
                                    <div class="row" style="padding-left: 10px;padding-right: 10px">                                         
                                        <label style="font-size: 13px;color: #AAB5BC; font-weight: 600; text-transform: uppercase;">Expenses</label>                                            
                                        <label style="font-size: 16px;color: #2ab4c0; font-weight: 400; text-transform: uppercase; float:right;">{{.Retrievedpo.expenses}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="dashboard-stat2 bordered" >
                                <div class="display">
                                    <span style="font-size: 18px;color: #AAB5BC; font-weight: 600; text-transform: uppercase;">Production</span>
                                    <div class="icon">
                                        <i class="fa fa-wrench"></i>
                                    </div>
                                    <hr>

                                    <div class="row" style="padding-left: 10px;padding-right: 10px">                                         
                                        <label style="font-size: 13px;color: #AAB5BC; font-weight: 600; text-transform: uppercase;">Open Orders</label>                                           
                                        <label style="font-size: 16px;color: #2ab4c0; font-weight: 400; text-transform: uppercase; float:right;">{{.Retrievedprod.openProduction}}</label>
                                    </div>
                                    <div class="row" style="padding-left: 10px;padding-right: 10px">                                         
                                        <label style="font-size: 13px;color: #AAB5BC; font-weight: 600; text-transform: uppercase;">In Production</label>                                           
                                        <label style="font-size: 16px;color: #2ab4c0; font-weight: 400; text-transform: uppercase; float:right;">{{.Retrievedprod.inProduction}}</label>
                                    </div>
                                    <div class="row" style="padding-left: 10px;padding-right: 10px">                                         
                                        <label style="font-size: 13px;color: #AAB5BC; font-weight: 600; text-transform: uppercase;">Completed</label>                                             
                                        <label style="font-size: 16px;color: #2ab4c0; font-weight: 400; text-transform: uppercase; float:right;">{{.Retrievedprod.completedProduction}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="dashboard-stat2 bordered" >
                                <div class="display">
                                    <span style="font-size: 18px;color: #AAB5BC; font-weight: 600; text-transform: uppercase;"> Delivery</span>
                                    <div class="icon">
                                        <i class="fa fa-truck"></i>
                                    </div>
                                    <hr>

                                    <div class="row" style="padding-left: 10px;padding-right: 10px">                                         
                                        <label style="font-size: 13px;color: #AAB5BC; font-weight: 600; text-transform: uppercase;">Pending Dispatch</label>                                           
                                        <label style="font-size: 16px;color: #2ab4c0; font-weight: 400; text-transform: uppercase; float:right;">{{.Retrievedtransit.pendingDispatch}}</label>
                                    </div>
                                    <div class="row" style="padding-left: 10px;padding-right: 10px">                                         
                                        <label style="font-size: 13px;color: #AAB5BC; font-weight: 600; text-transform: uppercase;"> In transit</label>                                           
                                        <label style="font-size: 16px;color: #2ab4c0; font-weight: 400; text-transform: uppercase; float:right;">{{.Retrievedtransit.inTransit}}</label>
                                    </div>
                                    <div class="row" style="padding-left: 10px;padding-right: 10px">                                         
                                        <label style="font-size: 13px;color: #AAB5BC; font-weight: 600; text-transform: uppercase;">Delivered</label>                                            
                                        <label style="font-size: 16px;color: #2ab4c0; font-weight: 400; text-transform: uppercase; float:right;">{{.Retrievedtransit.Dispatched}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-lg-6 col-xs-12 col-sm-12">
                            <div class="portlet light bordered" style="min-height: 445px;">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <span class="caption-subject bold uppercase font-dark">Low Inventory levels</span>
                                      
                                    </div>
                                    <div class="actions">
                                        <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="#"> </a>
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <a style="float: right;" href="/stock/view-inventory?lowLevel=1">See All</a>
                                    <div class="table-scrollable">
                                        <table class="table table-bordered table-hover" >
                                            <thead>
                                                <tr>
                                                   
                                                    <th> Material </th>
                                                    <th> GeoLocation</th>
                                                    <th> Levels </th>
                                                    
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {{if compare .RetrievedLowLevels.levels_0.invoice_narration nil}}
                                                {{else}}
                                                    {{ range $items := .RetrievedLowLevels }}
                                                    <tr>
                                                        <!-- <td></td> -->
                                                        <td> {{ $items.invoice_narration }} [{{$items.item_code_gen}}] </td>
                                                        <td> {{$items.geolocation}} </td>
                                                        <td> {{ $items.total_quantity }} {{ $items.unit_measure }} </td>
                                                      
                                                    </tr>
                                                    {{end}}
                                                {{end}}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-xs-12 col-sm-12">
                            <div class="portlet light bordered" style="min-height: 445px;">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <span class="caption-subject bold uppercase font-dark">Delayed Purchase Orders</span>
                                      
                                    </div>
                                    <div class="actions">
                                        <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="#"> </a>
                                    </div>
                                </div>
                                
                                <div class="portlet-body">
                                    <a style="float: right;" href="/purchase/create-po?delayedPOs=1">See All</a>
                                    <div class="table-scrollable">
                                        <table class="table table-bordered table-hover" >
                                            <thead>
                                                <tr>
                                                    <!-- <th> Sr.No </th> -->
                                                    <th> PO number </th>
                                                    <th> Supplier Name </th>
                                                    <th> Delivery Date </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {{if compare .RetrievedDelayedSales.pos_0.company_name ""}}
                                                {{else}}
                                                {{ range $pos := .RetrievedDelayedPOs }}
                                                <tr>
                                                    <!-- <td></td> -->
                                                    <td><a href="/purchase/view-details?purchaseId={{ $pos._id }}">{{ $pos.purchase_order_code_gen }}</a>  </td>
                                                    <td> {{ $pos.company_name }} </td>
                                                    <td> {{ $pos.delivery_date }} </td>
                                                </tr>
                                                {{end}}
                                                {{end}}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--<div class="col-lg-6 col-xs-12 col-sm-12">
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                    <div class="caption ">
                                        <span class="caption-subject font-dark bold uppercase">Expenses</span>
                                    </div>
                                    <div class="actions">
                                        <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="#"> </a>
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <div id="echarts_pie" style="height:350px;"></div>
                                </div>
                            </div>
                        </div>-->
                    </div>
                    <div class="row ">
                        <div class="col-lg-6 col-xs-12 col-sm-12">
                            <div class="portlet light bordered" style="min-height: 445px;">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <span class="caption-subject bold uppercase font-dark">Delayed Production Orders</span>
                                    </div>
                                    <div class="actions">
                                        <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="#"> </a>
                                    </div>
                                </div>
                                <div class="portlet-body">
                                        <a style="float: right;" href="/production/production-orders?delayedprod=1">See All</a>
                                    <div class="table-scrollable">
                                        <table class="table table-bordered table-hover" >
                                            <thead>
                                                <tr>
                                                    <!-- <th>Sr.No</th> -->
                                                    <th>Production Order Code</th>
                                                    <th>Material Name and Code</th>
                                                    <th>Quantity</th>
                                                    <th>Due Date</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {{if compare .RetrievedDelayedProduction.prod_0.production_order_unique_code nil}}
                                                {{else}}
                                                    {{ range $items := .RetrievedDelayedProduction }}
                                                    <tr>
                                                        <!-- <td></td> -->
                                                        <td><a href="/production/po-details?poId={{ $items._id }}">{{ $items.batch_no }}</a> </td>
                                                        <td>[{{ $items.item_code_gen }}] {{ $items.invoice_narration }} </td>
                                                        <td style="text-align: right;">{{ $items.qty }} </td>
                                                        <td>{{ $items.end_date }} </td>
                                                    </tr>
                                                    {{end}}
                                                {{end}}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-xs-12 col-sm-12">
                            <div class="portlet light bordered" style="min-height: 445px;">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <span class="caption-subject bold uppercase font-dark">Delayed Sales Orders</span>
                                    </div>
                                    <div class="actions">
                                        <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="#"> </a>
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <a style="float: right;" href="/sales/new-list?delayedsales=1">See All</a>
                                    <div class="table-scrollable">
                                        <table class="table table-bordered table-hover" >
                                            <thead>
                                                <tr>
                                                    <!-- <th> Sr.No </th> -->
                                                    <th> Order number </th>
                                                    <th> Customer Name </th>
                                                    <th> Delivery Date </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {{if compare .RetrievedDelayedSales.sales_0.order_no nil}}
                                                {{else}}
                                                {{ range $sales := .RetrievedDelayedSales }}
                                                <tr>
                                                    <!-- <td></td> -->
                                                    <td><a href="/sales/so-details?soId={{ $sales._id }}">{{ $sales.order_no }}</a></td>
                                                    <td> {{ $sales.company_name }} </td>
                                                    <td> {{ $sales.delivery_date }} </td>
                                                </tr>
                                                {{end}}
                                                {{end}}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
					<!--<div class="row">
                        <div class="col-lg-6 col-xs-12 col-sm-12">
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                    <div class="caption ">
                                        <span class="caption-subject font-dark bold uppercase">Income vs Expenses</span>
                                    </div>
                                    <div class="actions">
                                        <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="#"> </a>
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <div id="chart_1" class="chart" style="height: 300px;"> </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-xs-12 col-sm-12">
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                    <div class="caption ">
                                        <span class="caption-subject font-dark bold uppercase">QA Check Passing</span>
                                    </div>
                                    <div class="actions">
                                        <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="#"> </a>
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <div class="gauge3 demo3"  style="height: 300px;"></div>
                                </div>
                            </div>
                        </div>
                    </div>-->
                    <!-- END PAGE BASE CONTENT -->
                </div>
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->
 
    {{end}}

 
    {{ define "pagelevelplugins" }} 
         <!-- BEGIN PAGE LEVEL PLUGINS -->
        <!--<script src="/static/assets/global/plugins/echarts/echarts.js" type="text/javascript"></script>		-->
		<script src="/static/assets/global/plugins/amcharts/amcharts/amcharts.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/amcharts/amcharts/serial.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/amcharts/amcharts/pie.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/amcharts/amcharts/radar.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/amcharts/amcharts/themes/light.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/amcharts/amcharts/themes/patterns.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/amcharts/amcharts/themes/chalk.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/amcharts/ammap/ammap.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/amcharts/ammap/maps/js/worldLow.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/amcharts/amstockcharts/amstock.js" type="text/javascript"></script>
		 <!-- END PAGE LEVEL PLUGINS -->
    {{end}}

    {{define "pagelevelscripts"}} 
         <!-- BEGIN PAGE LEVEL SCRIPTS -->
		<!--<script src="/static/assets/pages/scripts/charts-echarts.js" type="text/javascript"></script>-->
		<script src="/static/assets/pages/scripts/charts-amcharts.js" type="text/javascript"></script>
		<script src="/static/assets/pages/scripts/jquery-gauge.js" type="text/javascript"></script>
		
		<script>

			$('.gauge3').gauge({
				values: {
					0 : 'LOW',
					49.5: 'High'
				},
				colors: {
					0 : '#e31e25',
					49.5: '#86c341'
				},
				lineWidth: 80,
				arrowWidth: 15,
				arrowColor: '#888',
				inset:false,

				value: 85 //arrow position
			});
		</script>		
        <!-- END PAGE LEVEL SCRIPTS -->

        {{end}}