<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->

<head>
    <meta charset="utf-8" />
    <title>Singulerp | {{.PageTitle }} </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="Singulerp" name="description" />
    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <!--<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css"/>-->
    <link href="/static/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/static/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css"
    />
    <link href="/static/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.css" rel="stylesheet" type="text/css" />
    <link href="/static/assets/global/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" type="text/css"
    />
    <!-- END GLOBAL MANDATORY STYLES -->

    {{block "pagelevelstyles" . }}{{end}}

    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="/static/assets/global/css/components-md.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="/static/assets/global/css/plugins-md.min.css" rel="stylesheet" type="text/css" />
    <!--<link href="/static/assets/global/plugins/jquery-ui-1.12.1/jquery-ui.css" rel="stylesheet" type="text/css" />-->
    <!--<link href="/static/assets/global/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" type="text/css" />-->
    <!-- END THEME GLOBAL STYLES -->

    <!-- BEGIN THEME LAYOUT STYLES -->
    <link href="/static/assets/layouts/layout4/css/layout.css" rel="stylesheet" type="text/css" />
    <link href="/static/assets/layouts/layout4/css/themes/default.min.css" rel="stylesheet" type="text/css" id="style_color"
    />
    <link href="/static/assets/layouts/layout4/css/custom.css" rel="stylesheet" type="text/css" />
    <!-- END THEME LAYOUT STYLES -->
    
    <link rel="shortcut icon" type="image/x-icon" href="/static/assets/global/img/favicon.ico" /> 
    <style type="text/css">
        .name_logo {
            background: url('/static/assets/layouts/layout4/img/DC_SingulERP_Logo1_White.png') no-repeat;
            margin: 14px 10px 10px 0;
            padding: 45px 120px 5px 120px;
        }
        
        .logo_only {
            background: url('/static/assets/layouts/layout4/img/logo_white_only.png') no-repeat;
            margin: 14px 0px 10px 0;
            padding: 45px 0px 10px 60px;
        }
    </style>

    <script src="/static/assets/global/plugins/jsPDF-1.3.4/dist/jspdf.debug.js"></script>
    <script src='/static/assets/global/plugins/jsPDF-1.3.4/libs/html2pdf.js'></script>
    <script src='/static/assets/global/plugins/jsPDF-1.3.4/libs/html2canvas/dist/html2canvas.js'></script>

    <!-- <script src="/static/assets/global/plugins/jsPDF-1.3.4/dist/jspdf.min.js"></script>-->
    <script src="/static/assets/global/plugins/jsPDF-1.3.4/plugins/from_html.js"></script> 
    <script src="/static/assets/global/plugins/jsPDF-1.3.4/plugins/split_text_to_size.js"></script>
    <script src="/static/assets/global/plugins/jsPDF-1.3.4/plugins/standard_fonts_metrics.js"></script>
    
    <script src="/static/assets/global/plugins/jsPDF-AutoTable/dist/jspdf.plugin.autotable.js"></script>

    <!-- <script src="/static/assets/global/plugins/pdfmake/build/pdfmake.min.js"></script>
    <script src="/static/assets/global/plugins/pdfmake/build/vfs_fonts.js"></script> -->
</head>
<!-- END HEAD -->

<body class="page-container-bg-solid page-header-fixed page-footer-fixed page-sidebar-closed-hide-logo page-md nts">

        <script>
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
                var orgName = {{.Orgname}};
                ga('create', 'UA-96563563-2', 'auto');
                ga('set', 'userId', {{.Orgname}} ); // Set the user ID using signed-in user_id.
                ga('send', 'pageview');
              
              </script>

    {{ template "header_layout.html" . }}

    <!-- BEGIN CONTAINER -->
    <div class="page-container">

        {{ template "menu_layout.html" . }} {{ block "content" . }}{{ end }}

    </div>
    <!-- END CONTAINER -->

    <!-- BEGIN FOOTER -->
    <div class="page-footer" style="z-index:5">
        <div class="page-footer-inner"> 2017 &copy; Singulerp</div>
        <div class="scroll-to-top">
            <i class="icon-arrow-up"></i>
        </div>
    </div>
    <!-- END FOOTER -->

    <!--[if lt IE 9]>
        <script src="/static/assets/global/plugins/respond.min.js"></script>
        <script src="/static/assets/global/plugins/excanvas.min.js"></script>
        <script src="/static/assets/global/plugins/ie8.fix.min.js"></script>
        <![endif]-->

    <!-- BEGIN CORE PLUGINS -->
    <script src="/static/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="/static/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/static/assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
    <script src="/static/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="/static/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="/static/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
    <script src="/static/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.js" type="text/javascript"></script>
    <script src="/static/assets/global/plugins/bootstrap-select/js/bootstrap-select.min.js" type="text/javascript"></script>
    <script src="/static/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript">

    </script>
    <!-- END CORE PLUGINS -->
    <script src="/static/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
    {{ block "pagelevelplugins" . }}{{ end }}

    <!-- BEGIN THEME GLOBAL SCRIPTS -->
    <script src="/static/assets/global/scripts/app.js" type="text/javascript"></script>
    <script src="/static/assets/global/plugins/typeahead/handlebars.min.js" type="text/javascript"></script>
    <script src="/static/assets/global/plugins/typeahead/typeahead.bundle.min.js" type="text/javascript"></script>
    <script src="/static/assets/pages/scripts/components-bootstrap-select.min.js" type="text/javascript"></script>
    <script src="/static/assets/pages/scripts/components-bootstrap-touchspin.js" type="text/javascript"></script>
    <script src="/static/assets/pages/scripts/components-date-time-pickers.js" type="text/javascript"></script>
    <script src="/static/assets/js/jquery.bootstrap-growl.min.js" type="text/javascript"></script>
    <!--<script src="/static/assets/global/plugins/jquery-ui-1.12.1/jquery-ui.js" /></script>-->
    <!--<script src="/static/assets/global/plugins/jquery-ui/jquery-ui.min.js" /></script>-->
    <script type="text/javascript">
        $('.menu-toggler').click(function () {
            $('#full_logo').toggleClass('logo_only name_logo');
        });
    </script>

    <script>
        $('.faq-links').click(function () {
            var collapsed = $(this).find('i').hasClass('fa-plus');

            $('.faq-links').find('i').removeClass('fa-minus');
            $('.faq-links').find('i').addClass('fa-plus');
            $('span', this).toggle();
            
            if (collapsed) {
                $(this).find('i').toggleClass('fa-plus  fa-minus')
               // $(this).find('a').addClass('active');
                // var spans = $('span', this);
                // spans.not(spans.filter(':visible').hide()).show();
            }
                
        });
    </script>
    <script type="text/javascript">
        $('.date-picker').datepicker({
        pickerPosition: "bottom-left"
        });
    </script>
    <script type="text/javascript">
        $(function () {
            $('.external-date-picker').datepicker({
            orientation: "bottom"
            });
            // $("#fiscalYear").datepicker({
            //     dateFormat: "yyyy-mm-dd",
            //     showOtherMonths: true,
            //     selectOtherMonths: true,
            //     autoclose: true,
            //     changeMonth: true,
            //     changeYear: true,
            //     //gotoCurrent: true,
            // orientation: "bottom" // add this
            // });
        });
    </script>
    <script type="text/javascript">
        function isNumberKey(element){
            var _name = element.name;
            var numtVal = document.getElementsByName(_name)[0].value;
            if (isNaN(numtVal) ) {
                document.getElementsByName(_name)[0].value = "";
            }
        }
    </script>
    
    <!-- END THEME GLOBAL SCRIPTS -->
    <script src="/static/assets/pages/scripts/components-select2.min.js" type="text/javascript"></script>
    {{ block "pagelevelscripts" . }}{{ end }}

    <!-- BEGIN THEME LAYOUT SCRIPTS -->
    <script src="/static/assets/layouts/layout4/scripts/layout.min.js" type="text/javascript"></script>
    <script src="/static/assets/layouts/layout4/scripts/demo.min.js" type="text/javascript"></script>
    <script src="/static/assets/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
    <script src="/static/assets/layouts/global/scripts/quick-nav.min.js" type="text/javascript"></script>
    <!-- END THEME LAYOUT SCRIPTS -->

</body>

</html>