            <!-- BEGIN MAIN MENU -->
            <div class="page-sidebar-wrapper">
                <!-- BEGIN MAIN MENU -->
                <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
                <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
                <div class="page-sidebar navbar-collapse collapse">
                    <!-- BEGIN MAIN MENU ELEMENTS -->
                    <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
                    <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
                    <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
                    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
                    <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
                    <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
                    <ul class="page-sidebar-menu   page-sidebar-menu-hover-submenu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
                        {{if compare .PageTitle "Dashboard"}}
                        <li class="nav-item start active open">
                        {{else}}
                        <li class="nav-item ">
                        {{end}}
							<a href="{{urlfor "DashboardController.Get"}}" class="nav-link ">
                                <i class="fa fa-bar-chart"></i>
								<span class="title">Dashboard</span>
								<span class="selected"></span>
							</a>
                        </li>
                        {{if .Stock}}
                        <li class="nav-item active open">
                        {{else}}
                        <li class="nav-item  ">
                        {{end}}
                            <a href="{{urlfor "StockController.AddNewItemsProductToStock"}}" class="nav-link nav-toggle">
                               
                                <i class="fa fa-cubes"></i>
                                
                                <span class="title">Materials</span>
                                
                                <span class="arrow"></span>
                           
                            </a>
                            <ul class="sub-menu">
                                <li class="nav-item  ">
                                    <a href="{{urlfor "StockController.AddNewItemsProductToStock"}}" class="nav-link ">
                                        <span class="title">Add/View Material</span>
                                    </a>
                                </li>
                                 <li class="nav-item">
                                    <a  href="{{urlfor "ProductionController.ModifyBOM"}}" class="nav-link ">
                                        <span class="title">View BOM </span>
                                    </a>
                                </li>
                                <li class="nav-item  ">
                                    <a href="{{urlfor "StockController.Packaging"}}" class="nav-link ">
                                        <span class="title">Packaging</span>
                                    </a>
                                </li>
                                <li class="nav-item  ">
                                    <a href="{{urlfor "StockController.AddInventory"}}" class="nav-link ">
                                        <span class="title">Add Inventory</span>
                                    </a>
                                </li>
                                <li class="nav-item  ">
                                    <a href="{{urlfor "StockController.StockAdjustment"}}" class="nav-link ">
                                        <span class="title">View/Make Adjustment</span>
                                    </a>
                                </li>
                                <li class="nav-item  ">
                                    <a href="{{urlfor "StockController.ViewInventory"}}" class="nav-link ">
                                        <span class="title">View Inventory/Usage/GRN</span>
                                    </a>
                                 <!--</li>
                                <li class="nav-item  ">
                                    <a href="{{urlfor "StockController.ViewGRN"}}" class="nav-link ">
                                        <span class="title">View GRN</span>
                                    </a>
                                </li>
                                <li class="nav-item  ">
                                    <a href="{{urlfor "StockController.ViewInventoryUsage"}}" class="nav-link ">
                                        <span class="title">View Inventory Usage</span>
                                    </a>
                                </li> -->
                                <!-- <li class="nav-item  ">
                                    <a href="{{urlfor "StockController.ViewInventory"}}" class="nav-link ">
                                        <span class="title">View Inventory/Usage/GRN</span>
                                    </a>
                                </li> -->
                            </ul>
                        </li>
                        {{if .Suppliers}}
                        <li class="nav-item active open">
                        {{else}}
                        <li class="nav-item  ">
                        {{end}}
                            <!--<a href="javascript:;" class="nav-link nav-toggle">-->
                            <a href="{{urlfor "SuppliersController.AddSuppliers"}}" class="nav-link nav-toggle">
                                <i class="fa fa-paper-plane"></i>
                                
                                <span class="title">Suppliers</span>
                                
                                <span class="arrow"></span>
                            </a>
                            <ul class="sub-menu">
                                <li class="nav-item  ">
                                    <a href="{{urlfor "SuppliersController.AddSuppliers"}}" class="nav-link ">
                                        <span class="title">Add/View</span>
                                    </a>
                                </li>
                                <li class="nav-item  ">
                                    <a href="{{urlfor "SuppliersController.ViewSuppliers"}}" class="nav-link ">
                                        <span class="title">View/Manage Association</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        {{if .Purchases}}
                        <li class="nav-item active open">
                        {{else}}
                        <li class="nav-item  ">
                        {{end}}
                            <a href="{{urlfor "PurchaseController.CreatePO"}}" class="nav-link nav-toggle">
                                <i class="fa fa-shopping-cart"></i>
                              
                                <span class="title">Purchases</span>
                                
                                <span class="arrow"></span>
                            </a>
                            <ul class="sub-menu">
                                <li class="nav-item  ">
                                    <a href="{{urlfor "PurchaseController.CreatePO"}}" class="nav-link ">
                                        <span class="title">Create PO</span>
                                    </a>
                                </li>
                                <li class="nav-item  ">
                                    <a href="{{urlfor "PurchaseController.CreateGRN"}}" class="nav-link ">
                                        <span class="title">GRN (List / View / Manage)</span>
                                    </a>
                                </li>
                                <!-- <li class="nav-item  ">
                                    <a href="urlfor "PurchaseController.ServiceContract"" class="nav-link ">
                                        <span class="title">Service Contract (Challan)</span>
                                    </a>
                                </li> -->
								
                            </ul>
                        </li>
						{{if .Customers}}
                        <li class="nav-item active open">
                        {{else}}
                        <li class="nav-item  ">
                        {{end}}
                            <a href="{{urlfor "CustomersController.AddNewCustomer"}}" class="nav-link nav-toggle">
                                <i class="fa fa-users"></i>
                                
                                <span class="title">Customers</span>
                                
                                <span class="arrow"></span>
                            </a>
                            <ul class="sub-menu">
                                <li class="nav-item   ">
                                    <a href="{{urlfor "CustomersController.AddNewCustomer"}}" class="nav-link ">
                                        <span class="title">Add New / List</span>
                                    </a>
                                </li>
                                <li class="nav-item  ">
                                    <a href="{{urlfor "CustomersController.AssociateCustomerProducts"}}" class="nav-link ">
                                        <span class="title">Associate with Products</span>
                                    </a>
                                </li>
                                
                            </ul>
                        </li>
						{{if .Sales}}
                        <li class="nav-item active open">
                        {{else}}
                        <li class="nav-item  ">
                        {{end}}
                            <a href="{{urlfor "SalesController.CreateNewSalesOrder"}}" class="nav-link nav-toggle">
                                <i class="fa fa-line-chart"></i>
                                 
                                <span class="title">Sales</span>
                               
                                <span class="arrow"></span>
                            </a>
                            <ul class="sub-menu">
                                <li class="nav-item">
                                    <a  href="{{urlfor "SalesController.CreateNewSalesOrder"}}" class="nav-link ">
                                        <span class="title">New/List</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a  href="{{urlfor "SalesController.CreateDelivery"}}" class="nav-link ">
                                        <span class="title">Delivery Note</span>
                                    </a>
                                </li>
                                <!--<li class="nav-item">
                                    <a  href="{{urlfor "SalesController.StockTransfer"}}" class="nav-link ">
                                        <span class="title">Stock Transfer</span>
                                    </a>
                                </li>-->
							</ul>
                        </li>
                        <!-- <li class="nav-item">
                            <a href="javascript:;" class="nav-link ">
                                <i class="fa fa-barcode"></i>
                                <span class="title">Products</span>
                                <span class="arrow"></span>
                            </a>
                            <ul class="sub-menu">
                                <li class="nav-item">
                                    <a href="products-add-new-product.html" class="nav-link ">
                                        <span class="title">Add/View </span>
                                    </a>
                                </li>
                            </ul>
                        </li> -->
                        {{if .Production}}
                        <li class="nav-item active open">
                        {{else}}
                        <li class="nav-item  ">
                        {{end}}
                            <a href="{{urlfor "ProductionController.CreateNewProductionOrder"}}" class="nav-link ">
                                <i class="fa fa-wrench"></i>
                                
                                <span class="title">Production</span>
                                
                                <span class="arrow"></span>
                            </a>
                            <ul class="sub-menu">
                                <!--<li class="nav-item">
                                    <a  href="{{urlfor "ProductionController.NewProduct"}}" class="nav-link ">
                                        <span class="title">Products </span>
                                    </a>
                                </li>-->
                               
                                <!--<li class="nav-item">
                                    <a href="{{urlfor "ProductionController.Jobcard"}}" class="nav-link ">
                                        <span class="title">Jobcard </span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link ">
                                        <span class="title">Process </span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="{{urlfor "ProductionController.ProductionQueue"}}" class="nav-link ">
                                        <span class="title">Queue </span>
                                    </a>
                                </li>-->
                                <li class="nav-item">
                                    <a href="{{urlfor "ProductionController.CreateNewProductionOrder"}}" class="nav-link ">
                                        <span class="title">Orders </span>
                                    </a>
                                </li>
                                 <li class="nav-item">
                                    <a href="{{urlfor "ProductionController.AddNewMachine"}}" class="nav-link ">
                                        <span class="title">Machine </span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <!--<li class="nav-item">
                            <a href="javascript:;" class="nav-link ">
                                <i class="fa fa-area-chart"></i>
                                <span class="title">Statistics</span>
                                <span class="arrow"></span>
                            </a>
                            <ul class="sub-menu">
                                <li class="nav-item ">
                                    <a href="javascript:;" class="nav-link nav-toggle">
                                        <span class="title">Purchases</span>
                                        <span class="arrow"></span>
                                    </a>
                                    <ul class="sub-menu">
                                        <li class="nav-item  ">
                                            <a href="{{urlfor "ReportsController.PoReport"}}" class="nav-link ">
                                                <span class="title">Purchases / PO</span>
                                            </a>
                                        </li>
                                        <li class="nav-item  ">
                                            <a href="{{urlfor "ReportsController.GRNReport"}}" class="nav-link ">
                                                <span class="title">GRN</span>
                                            </a>
                                        </li>
                                        <li class="nav-item  ">
                                            <a href="{{urlfor "ReportsController.ServiceContractReport"}}" class="nav-link ">
                                                <span class="title">Service Contracts</span>
                                            </a>
                                        </li>
                                        <li class="nav-item  ">
                                            <a href="{{urlfor "ReportsController.QaReport"}}" class="nav-link ">
                                                <span class="title">QA</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item  ">
                                    <a href="javascript:;" class="nav-link nav-toggle">
                                        <span class="title">Customers</span>
                                        <span class="arrow"></span>
                                    </a>
                                    <ul class="sub-menu">
                                        <li class="nav-item  ">
                                            <a href="{{urlfor "ReportsController.CustomerOrders"}}" class="nav-link ">
                                                <span class="title">Orders</span>
                                            </a>
                                        </li>
                                        <li class="nav-item  ">
                                            <a href="{{urlfor "ReportsController.CustomerComplaints"}}" class="nav-link ">
                                                <span class="title">Complaints</span>
                                            </a>
                                        </li>
                                        <li class="nav-item  ">
                                            <a href="{{urlfor "ReportsController.CustomerHistory"}}" class="nav-link ">
                                                <span class="title">History</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>-->
                        <!--<li class="nav-item">
                            <a href="javascript:;" class="nav-link ">
                                <i class="fa fa-check-circle-o"></i>
                                <span class="title">Reports</span>
                                <span class="arrow"></span>
                            </a>
                            <ul class="sub-menu">
                                <li class="nav-item">
                                    <a href="{{urlfor "QaController.Master"}}" class="nav-link ">
                                        <span class="title">Master</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="{{urlfor "QaController.CreateMasterReport"}}" class="nav-link ">
                                        <span class="title">Create</span>
                                    </a>
                                </li>                                
                            </ul>
                        </li>-->
                        {{if .Transporter}}
                        <li class="nav-item active open">
                        {{else}}
                        <li class="nav-item  ">
                        {{end}}
                            <a href="{{urlfor "TransporterController.CreateTransportation"}}" class="nav-link ">
                                <i class="fa fa-truck"></i>
                                
                                <span class="title">Transportation</span>
                                
                                <span class="arrow"></span>
                            </a>
                            <ul class="sub-menu">
                                <li class="nav-item">
                                    <a href="{{urlfor "TransporterController.CreateTransportation"}}" class="nav-link ">
                                        <span class="title">Add Transporters </span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        {{if .Support}}
                        <li class="nav-item active open">
                        {{else}}
                        <li class="nav-item  ">
                        {{end}}
                            <a href="{{urlfor "SupportController.CreateNewSupportTicket"}}" class="nav-link ">
                                <i class="fa fa-phone"></i>
                                
                                <span class="title">Customer Support</span>
                                
                                <span class="arrow"></span>
                            </a>
                            <ul class="sub-menu">
                                <li class="nav-item">
                                    <a href="{{urlfor "SupportController.CreateNewSupportTicket"}}" class="nav-link ">
                                        <span class="title">Support Ticket </span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        {{if .HR}}
                        <li class="nav-item active open">
                        {{else}}
                        <li class="nav-item  ">
                        {{end}}
                            <a href="{{urlfor "HrController.CreateNewEmployee"}}" class="nav-link ">
                                <i class="fa fa-briefcase"></i>
                                <span class="title">HR</span>
                                <span class="arrow"></span>
                            </a>
                            <ul class="sub-menu" >
                                <li class="nav-item">
                                    <a href="{{urlfor "HrController.CreateNewEmployee"}}" class="nav-link ">
                                    <span class="title">Employee Details </span>
                                    </a>
                                </li>
                                <!--<li class="nav-item">
                                    <a href="{{urlfor "HrController.ManageLeaves"}}" class="nav-link ">
                                        <span class="title">Manage Leaves </span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="{{urlfor "HrController.ManageContracts"}}" class="nav-link ">
                                        <span class="title">Manage Contracts </span>
                                    </a>
                                </li>-->
                            </ul>
                        </li>

                        {{if .Settings}}
                        <li class="nav-item active open">
                        {{else}}
                        <li class="nav-item  ">
                        {{end}}
                            <a href="{{urlfor "SettingsController.ManageUsers"}}" class="nav-link ">
                                <i class="fa fa-cogs"></i>
                               
                                <span class="title">Settings</span>
                                
                                <span class="arrow"></span>
                            </a>
                             <!--<ul class="sub-menu" style="bottom:1%;">-->
                             <ul class="sub-menu" >
                                <li class="nav-item">
                                    <a href="{{urlfor "SettingsController.ManageUsers"}}" class="nav-link">
                                    <span class="title">Users</span>
                                    </a>
                                </li>                        
                                <li class="nav-item">
                                    <a href="{{urlfor "SettingsController.ManageUserRoles"}}" class="nav-link">
                                    <span class="title">Manage Roles</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="{{urlfor "SettingsController.OrganizationSettings"}}" class="nav-link ">
                                    <span class="title">Configure</span>
                                    <span class="arrow"></span>
                                    </a>
                                    <ul class="sub-menu">
                                        <li class="nav-item">
                                            <a href="{{urlfor "SettingsController.OrganizationSettings"}}" class="nav-link">
                                            <span class="title">Organization Settings</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="{{urlfor "SettingsController.ConfigurationPrefix"}}" class="nav-link ">
                                                <span class="title">Prefix Code</span>
                                            </a>
                                        </li> 
                                        <li class="nav-item">
                                            <a href="{{urlfor "SettingsController.TermAndConditions"}}" class="nav-link">
                                            <span class="title">Terms & Conditions</span>
                                            </a>
                                        </li>                                
                                    </ul>
                                </li> 
                                <li class="nav-item">
                                    <a href="{{urlfor "ImportController.MasterImport"}}" class="nav-link ">
                                    <span class="title">Import</span>
                                    <!-- <span class="arrow"></span> -->
                                    </a>
                                    <!-- <ul class="sub-menu" style="bottom:-15%;">
                                        <li class="nav-item">
                                            <a href="{{urlfor "ImportController.ImportItemsProducts"}}" class="nav-link">
                                            <span class="title">Materials</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="{{urlfor "ImportController.ProductBomCSV"}}" class="nav-link ">
                                                <span class="title">Products BOM</span>
                                            </a>
                                        </li> 
                                        <li class="nav-item">
                                            <a href="{{urlfor "ImportController.SupplierCSV"}}" class="nav-link">
                                            <span class="title">Suppliers</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="{{urlfor "ImportController.CustomerCSV"}}" class="nav-link">
                                            <span class="title">Customers</span>
                                            </a>
                                        </li>                                 
                                    </ul> -->
                                </li> 
                            </ul>
                        </li>

					</ul>
                    <!-- END MAIN MENU ELEMENTS -->
                </div>
                <!-- END MAIN MENU -->
            </div>
            <!-- END MAIN MENU DIV -->