<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->

<head>
    <meta charset="utf-8" />
    <title>Singulerp | {{.PageTitle }} </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="Singulerp" name="description" />
    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css"
    />
    <link href="/static/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css"
    />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href="/static/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="/static/assets/global/css/components-md.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="/static/assets/global/css/plugins-md.min.css" rel="stylesheet" type="text/css" />
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link href="/static/assets/pages/css/login-5.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->
    <!-- END THEME LAYOUT STYLES -->
    <link rel="shortcut icon" type="image/x-icon" href="/static/assets/global/img/favicon.ico" /> 
    <style>
    h4 {
        font-weight: bold;
    }
    </style>
<!-- END HEAD -->

<body class=" login">
        <script>
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
              
                ga('create', 'UA-96563563-2', 'auto');
                ga('send', 'pageview');
              
              </script>
    <!-- BEGIN : LOGIN PAGE 5-1 -->
    <div class="user-login-5">
        <div class="row bs-reset">
            <div class="col-md-6 bs-reset mt-login-5-bsfix" style="background-image:url('/static/assets/pages/img/polygon-background.jpg'); background-size:auto; min-height:720px">
                <div class="login-bg" style="text-align:center; padding-top:30%; ">
                    <!-- <div style="text-align:center;"> -->
                    <!-- <span class="text-logo">Singulerp</span> -->
                    <img src="/static/assets/pages/img/login/DC_SingulERP_Logo2_White.png" style="width:75%;" />
                    <!-- </div> -->

                </div>
            </div>
            <div class="col-md-6 login-container bs-reset mt-login-5-bsfix">
                <h1 style="text-align:center; margin-top: 45px; ">Register Your Organisation</h1>
                <div class="portlet-body form">
                    <div class="form-body" style="margin-left:100px; margin-right: 0px;">
                        <form class="registration-form" method="POST" id="submit_form">
                            {{ .xsrfdata }}
                            <!-- <div class="row"> -->
                            {{if .orgNameExist}}<div class="form-group" style="margin-bottom:5px;margin-right: 100px;">
                            {{else}}
                            <div class="form-group" style="margin-bottom:20px;margin-right: 100px;">
                            {{end}}
                                <label class="control-label "><span class="required" aria-required="true">*</span>Claim your organisation's site
                                <span class="tooltips fa fa-question-circle" data-container="body" data-placement="bottom" data-original-title="Must be at least 6 characters, numbers and letters only. Once your site is provisioned, the site address cannot be changed."></span>
                                </label>
                                <div class="input-group">
                                <input id="org_name" name="fullname" type="text" class="form-control" value="{{.FormItems.OrgName}}"> 
                                <span class="input-group-addon">.singulerp.net</span>
                                {{if .Errors.OrgName}}
                                <span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.OrgName}}</span>{{end}}
                                {{if .spaceExist}}
                                <span class="help-block" style="font-size:13px; color:#e73d4a;">Organisation name cannot contain space.</span>{{end}}
                                </div>
                            </div>
                            {{if .orgNameExist}}<span class="help-block" style="margin-bottom: 7px;font-size:13px; color:#e73d4a;">Organisation Name already used</span>{{end}}
                            <!--  </div> -->
                            <!-- </div> -->
                            <!-- <div class="row"> -->
                            <div class="form-group" style="margin-bottom:20px;margin-right: 100px;">
                                <label class="control-label "><span class="required" aria-required="true">*</span>Enter admin username
                                <span class="tooltips fa fa-question-circle" data-container="body" data-placement="bottom" data-original-title="This is your main user account through which you will be able to administer your organisation."></span>
                                </label>
                                <!-- <div class="col-md-8"> -->
                                <input name="admin_username" type="text" class="form-control" value="{{.FormItems.AdminUsername}}">{{if .Errors.AdminUsername}}
                                <span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.AdminUsername}}</span>{{end}}
                            </div>

                            <div class="form-group" style="margin-bottom:20px;margin-right: 100px;">
                                <label class="control-label "><span class="required" aria-required="true">*</span>Enter admin email
                                 <span class="tooltips fa fa-question-circle" data-container="body" data-placement="bottom" data-original-title="This is your main email address which will receive billing and other important notifications."></span>
                                </label>
                                <!-- <div class="col-md-8"> -->
                                <input name="email" type="email" class="form-control" value="{{.FormItems.Email}}"> {{if .Errors.Email}}
                                <span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Email}}</span>{{end}}
                                {{if .orgExist}}<span class="help-block" style="font-size:13px; color:#e73d4a;">This email is already used to register an organisation.{{end}}
                            </div>
                            <!-- </div> -->
                            <!--  </div> -->
                            <!-- <div class="row"> -->
                            <div class="form-group" style="margin-bottom:20px;margin-right: 100px;">
                                <label class="control-label "><span class="required" aria-required="true">*</span>Enter password </label>
                                <!--  <div class="col-md-8"> -->
                                <input name="password" type="password" id="submit_form_password" class="form-control" value="{{.FormItems.Password}}">{{if .Errors.Password}}
                                <span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Password}}</span>{{end}}
                            </div>

                            <div class="form-group" style="margin-bottom:20px;margin-right: 100px;">
                                <label class="control-label "><span class="required" aria-required="true">*</span>Confirm password </label>
                                <!--  <div class="col-md-8"> -->
                                <input name="rpassword" type="password" class="form-control" value="{{.FormItems.CPassword}}">{{if .Errors.CPassword}}
                                <span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.CPassword}}</span>{{end}}
                            </div>

                             <div class="form-group" style="margin-bottom:20px;margin-right: 100px;">
                                <label class="control-label "><span class="required" aria-required="true">*</span>Enter mobile no. </label>
                                <!--  <div class="col-md-8"> -->
                                <input name="admin_mobile" type="text" id="admin_mobile" class="form-control" value="{{.FormItems.AdminMobile}}">{{if .Errors.AdminMobile}}
                                <span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.AdminMobile}}</span>{{end}}
                            </div>
                         
                            <div class="form-group" style="margin-right: 100px;">
                                
                                <p><input type="checkbox" id="termsChkbx " onchange="isChecked()" class="tcCheck " /> I agree to the <a data-toggle="modal" data-target="#tcView" >terms & conditions</a></p>

                            </div>
                            <div class="form-actions" style="background:none; padding:0;text-align: center;">
                                <div class="row">
                                    <!-- <div class="col-md-12" > -->
                                        <button style="float: center;width: 150px;margin-right: 100px;" type="submit" id="submit" class="btn green">Sign Up     </button><br>
                                        <a href="/login" style="float: right">Cancel</a>
                                    <!--  </div> -->
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div id="tcView" class="modal fade bs-modal-lg" role="dialog">
                <div class="modal-dialog modal-lg">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="portlet-title">
                                <div class="caption font-dark">
                                    <i class="icon-settings font-dark"></i>
                                    <span class="caption-subject bold uppercase"> Terms and Conditions</span>
                                </div>
                            </div>
                        </div>
                        <div class="modal-body" >
                            <h4>1. SERVICES LEVELS AND SUPPORT</h4>
                            <p><b>1.1.</b> The Services shall be available 99.1%, measured monthly, excluding holidays and weekends and scheduled maintenance. If CUSTOMER requests maintenance during these hours, any uptime or downtime calculation will exclude periods affected by such maintenance. Further, any downtime resulting from outages of third party connections or utilities or other reasons beyond Singulerp’s control will also be excluded from any such calculation.</p>
                            <p><b>1.2.</b> CUSTOMER's sole and exclusive remedy, and Singulerp's entire liability, in connection with Service availability shall be that for each period of downtime lasting longer than 1 (one) hour, Singulerp will credit CUSTOMER 5% of Service fees for each period of 240 or more consecutive minutes of downtime; provided that no more than one such credit will accrue per day. Downtime shall begin to accrue as soon as CUSTOMER (with notice to Singulerp) recognizes that downtime is taking place, and continues until the availability of the Services is restored.</p>
                            <p><b>1.3.</b> In order to receive downtime credit, CUSTOMER must notify Singulerp in writing within 24 hours from the time of downtime, and failure to provide such notice will forfeit the right to receive downtime credit. Such credits may not be redeemed for cash and shall not be cumulative beyond a total of credits for one (1) week of Service Fees in any one (1) calendar month in any event. Singulerp will only apply a credit to the month in which the incident occurred. Singulerp’s blocking of data communications or other Service in accordance with its policies shall not be deemed to be a failure of Singulerp to provide adequate service levels under this Agreement.</p>
                            <p><b>1.4.</b> Singulerp will provide Technical Support to CUSTOMER via both telephone and Email on weekdays during the hours of 9:00 am through 6:00 pm IST, with the exclusion of National Holidays (“Support Hours”). CUSTOMER may initiate a helpdesk ticket during Support Hours by calling +91 928 415 7853 or any time by emailing support@singulerp.com.</p>
                            <h4>2. RESTRICTIONS AND RESPONSIBILITIES</h4>
                            <p><b>2.1.</b> Customer will not, directly or indirectly: reverse engineer, decompile, disassemble or otherwise attempt to discover the source code, object code or underlying structure, ideas, know-how or algorithms relevant to the Services or any software, documentation or data related to the Services; modify, translate, or create derivative works based on the Services or any Software (except to the extent expressly permitted by Singulerp or authorized within the Services); use the Services or any Software for timesharing or service bureau purposes or otherwise for the benefit of a third; or remove any proprietary notices or labels.</p>
                            <p><b>2.2.</b> Customer represents, covenants, and warrants that Customer will use the Services only in compliance with Singulerp’s standard published policies then in effect (the “Policy”) and all applicable laws and regulations. Customer hereby agrees to indemnify and hold harmless Singulerp against any damages, losses, liabilities, settlements and expenses (including without limitation costs and attorney's’ fees) in connection with any claim or action that arises from an alleged violation of the foregoing or otherwise from Customer’s use of Services.</p>
                            <h4>3. CONFIDENTIALITY; PROPRIETARY RIGHTS</h4>
                            <p><b>3.1.</b> Each party (the “Receiving Party”) understands that the other party (the “Disclosing Party”) has disclosed or may disclose business, technical or financial information relating to the Disclosing Party’s business (hereinafter referred to as “Proprietary Information” of the Disclosing Party).  Proprietary Information of Singulerp includes non-public information regarding features, functionality and performance of the Service.  Proprietary Information of Customer includes non-public data provided by Customer to Singulerp to enable the provision of the Services (“Customer Data”). The Receiving Party agrees: (i) to take reasonable precautions to protect such Proprietary Information, and (ii) not to use (except in performance of the Services or as otherwise permitted herein) or divulge to any third person any such Proprietary Information.  The Disclosing Party agrees that the foregoing shall not apply with respect to any information that the Receiving Party can document (a) is or becomes generally available to the public, or (b) was in its possession or known by it prior to receipt from the Disclosing Party, or (c) was rightfully disclosed to it without restriction by a third party, or (d) was independently developed without use of any Proprietary Information of the Disclosing Party or (e) is required to be disclosed by law.</p>
                            <p><b>3.2.</b> Customer shall own all right, title and interest in and to the Customer Data. Singulerp shall own and retain all right, title and interest in and to (a) the Services and Software, all improvements, enhancements or modifications thereto, (b) any software, applications, inventions or other technology developed in connection with Implementation Services or support, and (c) all intellectual property rights related to any of the foregoing. </p>
                            <p><b>3.3.</b> Notwithstanding anything to the contrary, Singulerp shall have the right collect and analyze data and other information relating to the provision, use and performance of various aspects of the Services and related systems and technologies including, without limitation derived data therefrom. Singulerp will be free (during and after the term hereof) to (i) use such information and data to improve and enhance the Services and for other development, diagnostic and corrective purposes in connection with the Services and other Singulerp offerings, and (ii) disclose such data solely in aggregate or other de-identified form in connection with its business.</p>
                            <h4>4. PAYMENT AND FEES</h4>
                            <p><b>4.1.</b> Customer will pay Singulerp the then applicable fees described in the Order Form for the Services and Implementation Services in accordance with the terms therein (the “Fees”).  If Customer’s use of the Services exceeds the Service Capacity set forth on the Order Form or otherwise requires the payment of additional fees (per the terms of this Agreement), Customer shall be billed for such usage and Customer agrees to pay the additional fees in the manner provided herein.  Singulerp reserves the right to change the Fees or applicable charges and to institute new charges and Fees at the end of the Initial Service Term or then current renewal term, upon thirty (30) days prior notice to Customer. If Customer believes that Singulerp has billed Customer incorrectly, Customer must contact Singulerp on support@Singulerp.com no later than 30 days after the closing date on the first billing statement in which the error or problem appeared, in order to receive an adjustment or credit.</p>
                            <p><b>4.2.</b> Singulerp may choose to bill through an invoice, in which case, full payment for invoices issued in any given month must be received by Singulerp twenty one (21) days after the mailing date of the invoice.  Unpaid amounts are subject to a finance charge of 1.5% per month on any outstanding balance, or the maximum permitted by law, whichever is lower, plus all expenses of collection and may result in immediate termination of Service.</p>
                            <h4>5. TERM AND TERMINATION</h4>
                            <p><b>5.1.</b> Subject to earlier termination as provided below, this Agreement is for the Initial Service Term as specified in the Order Form, and shall be automatically renewed for additional periods of the same duration as the Initial Service Term (collectively, the “Term”), unless either party requests termination at least thirty (30) days prior to the end of the then-current term.</p>
                            <p><b>5.2.</b> In addition to any other remedies it may have, either party may also terminate this Agreement upon thirty (30) days’ notice (or without notice in the case of nonpayment), if the other party materially breaches any of the terms or conditions of this Agreement. Customer will pay in full for the Services up to and including the last day on which the Services are provided. All sections of this Agreement which by their nature should survive termination will survive termination, including, without limitation, accrued rights to payment, confidentiality obligations, warranty disclaimers, and limitations of liability.</p>
                            <h4>6. WARRANTY AND DISCLAIMER</h4>
                            <p><b>6.1.</b> Singulerp shall use reasonable efforts consistent with prevailing industry standards to maintain the Services in a manner which minimizes errors and interruptions in the Services and shall perform the Implementation Services in a professional and workmanlike manner.  Services may be temporarily unavailable for scheduled maintenance or for unscheduled emergency maintenance, either by Singulerp or by third-party providers, or because of other causes beyond Singulerp’s reasonable control, but Singulerp shall use reasonable efforts to provide advance notice in writing or by e-mail of any scheduled service disruption.  HOWEVER, SINGULERP DOES NOT WARRANT THAT THE SERVICES WILL BE UNINTERRUPTED OR ERROR FREE; NOR DOES IT MAKE ANY WARRANTY AS TO THE RESULTS THAT MAY BE OBTAINED FROM USE OF THE SERVICES.  EXCEPT AS EXPRESSLY SET FORTH IN THIS SECTION, THE SERVICES AND IMPLEMENTATION SERVICES ARE PROVIDED “AS IS” AND SINGULERP DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT.</p>
                            <h4>7. INDEMNITY</h4>
                            <p>Both parties irrevocably agree to indemnify and hold harmless the Indemnified Parties, and to keep the Indemnified Parties indemnified and held harmless, from and against all Loss arising out of or in connection with any Claim made or instituted against any of the Indemnified Parties for the infringement or misappropriation of any rights (including Intellectual Property Rights), where such Claim arises in relation to, or as a result of:
                                    1. a breach of the warranties or undertakings by the either party
                                    2. any breach by either party of its obligations under this Agreement;
                                    3. the provision of false, incomplete or inaccurate information by or on behalf of the either party.
                                    </p>
                            <h4>8. LIMITATION OF LIABILITY</h4>
                            <p>The cumulative maximum liability of Singulerp to the CUSTOMER, for all breaches of this Agreement shall be limited in the aggregate to the total value of the Fees paid to Singulerp in terms of this Agreement in the first 12 months after the Agreement Commencement Date.</p>
                            <h4>9. GOVERNING LAW AND JURISDICTION</h4>
                            <p>This Agreement is governed by the laws of India. All disputes and differences arising out of or in connection with this Agreement, if not resolved within 30 (thirty) days through discussion between the Parties, shall be referred to binding conciliation under the Arbitration & Conciliation Act, 1996; The decision and award determined by the conciliation panel will be final and binding upon the Parties; The conciliation proceedings shall be conducted in English and the venue shall be Goa.</p>
                            <h4>10. MISCELLANEOUS</h4>
                            <p>This Services Agreement may be amended, modified or waived only by a writing executed by each Party hereto. All notices shall be given at the addresses hereinabove mentioned, facsimile numbers provided or digitally to the Parties’ email ids. This Agreement shall constitute the entire agreement between the Parties with respect to the subject matter and supersedes all discussions held between the Parties to date. Neither Party may assign its responsibilities or interests under this Agreement. The invalidity or unenforceability of any particular provision shall not affect the other provisions. The Parties are contracting on a principal to principal basis and this Agreement does not create any agency, partnership, joint venture or franchise relationship.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default no-print" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                    <!-- Modal content ends-->
                </div>
            </div>
        <!-- END : LOGIN PAGE 5-1 -->
        <!--[if lt IE 9]>
<script src="assets/global/plugins/respond.min.js"></script>
<script src="assets/global/plugins/excanvas.min.js"></script>
<script src="assets/global/plugins/ie8.fix.min.js"></script>
<![endif]-->
        <!-- BEGIN CORE PLUGINS -->
        <script src="/static/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
        <!-- END CORE PLUGINS -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <script src="/static/assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/bootstrap-wizard/jquery.bootstrap.wizard.min.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/backstretch/jquery.backstretch.min.js" type="text/javascript"></script>
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL SCRIPTS -->
        <script src="/static/assets/global/scripts/app.min.js" type="text/javascript"></script>
        <!-- END THEME GLOBAL SCRIPTS -->
        <!-- BEGIN PAGE LEVEL SCRIPTS -->
        <script src="/static/assets/pages/scripts/form-wizard.js" type="text/javascript"></script>
        <script type="text/javascript">
            $("#org_name").keypress(function( e ) {
                if(e.which === 32) 
                    return false;
            });

            $("#admin_mobile").keydown(function (e) {
                var charCode = (e.which) ? e.which : e.keyCode;
                if ((charCode==8) || (charCode==9) || (charCode==16) || (charCode==32) || (charCode > 36 && charCode < 58) || (charCode > 95 && charCode < 106) || (charCode==107) || (charCode==144) || (charCode==187) || (charCode==189) || (charCode==190))
                {
                    return true;
                } else {
                    return false;
                }
            });
        </script>
        <script>
            $(window).on("load", function() { 
                isChecked();
            });
                
            function isChecked() {
                var button = document.getElementById("submit");

                if($('.tcCheck').is(":checked")) {
                    button.disabled = "";
                } else {
                    button.disabled = "disabled";
                }
            }
        </script>
        <!-- END PAGE LEVEL SCRIPTS -->
        <!-- BEGIN THEME LAYOUT SCRIPTS -->
        <!-- END THEME LAYOUT SCRIPTS -->
    </body>

</html>