{{ template "master_layout.html" . }}

{{ define "pagelevelstyles"}} 
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link href="/static/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.css" rel="stylesheet" type="text/css" />
    <link href="/static/assets/global/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" type="text/css" />

    <link href="/static/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="/static/assets/global/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/jquery-multi-select/css/multi-select.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/typeahead/typeahead.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
		 <link href="/static/assets/global/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css" rel="stylesheet" type="text/css" />
        <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
    <style>
    .ui-autocomplete { 
        cursor:pointer; 
        max-height:170px; 
        overflow-y:auto;
        overflow-x:hidden;
    } 
    </style>
    <!-- END PAGE LEVEL STYLES -->
{{end}}

{{ define "content" }}    
    <!-- BEGIN CONTENT -->

    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">
            <!-- BEGIN PAGE BASE CONTENT -->

            {{if compare .view "Product"}}
            <div class="row">
                <div class="col-md-12">
                    {{if .NoProductAdd}}
                    <div class="portlet light bordered" style="display: none;">
                    {{else}}
                    <div class="portlet light bordered" >
                    {{end}}
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="icon-equalizer font-green"></i>
                                <span class="caption-subject bold font-green uppercase">Add New Product</span>
                            </div>
                            <div class="actions">
                                <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" style="width:20px; height:20px; line-height: 0.999; padding-left:4px; "> </a>
                            </div>
                            <div class="caption" style="float:right">
                                
                                <span class="caption-subject bold font-green uppercase"><a style="color:#32c5d2" href="/production/edit-products"> Edit Existing</a></span>
                            </div>
                            <div class="tools nts-tools faq-links" style="margin-top:0;">
                                {{if .ErrorsPresent}} 
                                <a href=""  class="collapse" style="background-image:none;">
                                <i class="fa fa-minus-circle"></i> </a> 
                             {{else}} 
                                <a href=""  class="expand" style="background-image:none;">
                                <i class="fa fa-plus-square"></i> </a> 
                             {{end}}
                            </div>

                        </div>
                        {{if .ErrorsPresent}} 
                      <div class="portlet-body form" style="display:block" >
                      {{else}}  
                      <div class="portlet-body form"  style="display:none" >
                      {{end}}
                            <!-- BEGIN FORM-->
                            <input id="org_id" name="org_id" type="hidden"  class="form-control" value="{{.OrgID}}" >
                            <form method="POST" class="form-horizontal">
                                 <input type="hidden" name="hidden_method" value="product" />
                                {{ .xsrfdata }}
                                <div class="form-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col-md-4 control-label"><span class="required" aria-required="true">*</span>Product Code </label>
                                                <div class="col-md-8">
                                                    <input name="product_code" type="text" class="form-control" value="{{.FormItems.ProductCode}}">
                                                    {{if .Errors.ProductCode}}<span class="help-block" style="font-size:13px; color:#e73d4a;"></span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                       <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Product Name </label>
                                                <div class="col-md-8">
                                                    <input name="product_name" type="text" class="form-control" value="{{.FormItems.ProductName}}" placeholder="">
                                                    {{if .Errors.ProductName}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.ProductName}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Invoice Narration </label>
                                                <div class="col-md-8">
                                                    <input name="invoice_narration" type="text" class="form-control" value="{{.FormItems.InvoiceNarration}}" placeholder="">
                                                    {{if .Errors.InvoiceNarration}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.InvoiceNarration}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">Product Type </label>
                                                <div class="col-md-8">
                                                    <input name="product_type" type="text" class="form-control" value="{{.FormItems.ProductType}}" placeholder="">
                                                </div>
                                            </div>
                                        </div>

                                        <!--/span-->
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">Group </label>
                                                <div class="col-md-8">
                                                    <input name="group" type="text" id="groups" class="form-control" value="{{.FormItems.Group}}" />
                                                    
                                                    	<!--<input list="grps" name="group" type="text" class="form-control" value="{{.FormItems.Group}}">
															
														  <datalist id="grps">
														    {{ range $gl := .RetrievedGroup }}
														    <option value="{{ $gl.grp }}"{{if compare $.FormItems.Group $gl.grp }} selected {{end}}>{{ $gl.grp }}</option>
														    {{end}}
																
														  </datalist>-->
                                                    
                                                </div>
                                            </div>
                                        </div>

                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">Sub Group </label>
                                                <div class="col-md-8">
                                                    <input name="sub_group" type="text" id="subgroups" class="form-control" value="{{.FormItems.SubGroup}}" />
                                                  
                                                    <!--<input list="sub_grps" name="sub_group" type="text" class="form-control" value="{{.FormItems.SubGroup}}">
														  <datalist id="sub_grps">
														    {{ range $gl := .RetrievedSubGroup }}
														    <option value="{{ $gl.subgroup }}"{{if compare $.FormItems.SubGroup $gl.subgroup }} selected {{end}}>{{ $gl.subgroup }}</option>
																 {{end}}
														   
														  </datalist>-->
                                                </div>
                                            </div>
                                        </div>

                                        <!--/span-->
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group last">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Measure </label>
                                                <div class="col-md-8">
                                                    <input name="capacity" id="touchspin_3" type="text" value="{{.FormItems.Capacity}}" placeholder="">
                                                    {{if .Errors.Capacity}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Capacity}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col-md-4 control-label"><span class="required" aria-required="true">*</span>Unit of Measure </label>
                                                <div class="col-md-8">
                                                    <input name="uom" type="text" id="unit_measure" class="form-control" value="{{.FormItems.UOM}}" />
                                                    
                                                    <!--<select data-size="6" name="uom" class="bs-select form-control" value="{{.FormItems.UOM}}">
                                                        <option {{if compare .FormItems.UOM "unit" }}selected {{end}}>unit</option>
                                                                <option {{if compare .FormItems.UOM "millimeter" }}selected {{end}}>millimeter</option>
                                                                <option {{if compare .FormItems.UOM "centimeter" }}selected {{end}}>centimeter</option>
                                                                <option {{if compare .FormItems.UOM "meter" }}selected {{end}}>meter</option>
                                                                <option {{if compare .FormItems.UOM "inch" }}selected {{end}}>inch</option>
                                                                <option {{if compare .FormItems.UOM "yard" }}selected {{end}}>yard</option>
                                                                <option {{if compare .FormItems.UOM "cubic centimeter" }}selected {{end}}>cubic centimeter</option>
                                                                <option {{if compare .FormItems.UOM "cubic meter" }}selected {{end}}>cubic meter</option>
                                                                <option {{if compare .FormItems.UOM "degree celsius" }}selected {{end}}>degree celsius</option>
                                                                <option {{if compare .FormItems.UOM "milligram" }}selected {{end}}>milligram</option>
                                                                <option {{if compare .FormItems.UOM "gram" }}selected {{end}}>gram</option>
                                                                <option {{if compare .FormItems.UOM "kilogram" }}selected {{end}}>kilogram</option>
                                                                <option {{if compare .FormItems.UOM "metric ton" }}selected {{end}}>metric ton</option>
                                                                <option {{if compare .FormItems.UOM "pound" }}selected {{end}}>pound</option>
                                                                <option {{if compare .FormItems.UOM "percentage" }}selected {{end}}>percentage</option>
                                                                <option {{if compare .FormItems.UOM "gallon" }}selected {{end}}>gallon</option>
                                                                <option {{if compare .FormItems.UOM "litre" }}selected {{end}}>litre</option>
                                                                <option {{if compare .FormItems.UOM "watt" }}selected {{end}}>watt</option>
                                                    </select>-->
                                                    {{if .Errors.UOM}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.UOM}}{{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>

                                    <div class="row">
                                       <div class="col-md-6">
                                            <div class="form-group last">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Rate per UOM </label>
                                                <div class="col-md-8">
                                                    <input id="touchspin_3" type="text" value="{{.FormItems.RatePerUOM}}" name="rate_per_uom" placeholder=" ">
                                                    {{if .Errors.RatePerUOM}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.RatePerUOM}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group last">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Minimum Stock </label>
                                                <div class="col-md-8">
                                                    <input id="touchspin_3" type="text" value="{{.FormItems.MinStock}}" name="min_stock" placeholder=" ">
                                                    {{if .Errors.MinStock}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.MinStock}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Transport </label>
                                                <div class="col-md-8">
                                                    <input name="transport" type="text" class="form-control" value="{{.FormItems.Transport}}" placeholder="">
                                                   <!-- {{if .Errors.Transport}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Transport}}</span>{{end}}-->
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">Product process </label>
                                                <div class="col-md-8">
                                                    <select name="product_process" class="bs-select form-control">
                                                        <option {{if compare .FormItems.ProductProcess "Option 1" }}selected {{end}}>Option 1</option>
                                                        <option {{if compare .FormItems.ProductProcess "Option 2" }}selected {{end}}>Option 2</option>
                                                        <option {{if compare .FormItems.ProductProcess "Option 3" }}selected {{end}}>Option 3</option>
                                                        <option {{if compare .FormItems.ProductProcess "Option 4" }}selected {{end}}>Option 4</option>
                                                        <option {{if compare .FormItems.ProductProcess "Option 5" }}selected {{end}}>Option 5</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col-md-4 control-label"><span class="required" aria-required="true">*</span>Production Status </label>
                                                <div class="col-md-8">
                                                    <select name="status1" class="bs-select form-control">
                                                        <option disabled selected value>Select a Status</option>
                                                        <option value="1" {{if compare .FormItems.Status1 "1" }}selected {{end}}>Produced</option>
                                                        <option value="2" {{if compare .FormItems.Status1 "2" }}selected {{end}}>Temporary Halted</option>
                                                        <option value="9" {{if compare .FormItems.Status1 "9" }}selected {{end}}>Suspended</option>
                                                        <!--<option {{if compare .FormItems.Status1 "4" }}selected {{end}}>4</option>
                                                        <option {{if compare .FormItems.Status1 "5" }}selected {{end}}>5</option>-->
                                                    </select>
                                                    {{if .Errors.Status1}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Status1}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group last">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Factory Location </label>
                                                <div class="col-md-8">
                                                    <!--<select id="ddrp_2" name="factory_location" class="form-control select2-multiple" data-placeholder="Choose a Factory">
                                                    <option disabled selected value> -- Choose an item -- </option>
                                                    <optgroup value="{{.FormItems.FactoryLoc}}">
                                                    {{ range $ios := .RetrievedLocs }}
                                                    <option value="{{ $ios.factory_location }}" {{if compare $.FormItems.FactoryLoc $ios.factory_location }} selected {{end}}>{{ $ios.factory_location }}</option>
                                                    {{end}}
                                                    </optgroup>
                                                    </select>-->
                                                    <!--<input name="factory_location" value="{{.FormItems.FactoryLoc}}" type="text" class="form-control" placeholder="">-->
                                                    <select id="multiple" name="factory_location[]" data-placeholder="Choose" value="{{.FormItems.FactoryLoc}}" class="form-control select2-multiple" multiple >
															<optgroup value="{{.FormItems.FactoryLoc}}">
															{{ range $items := .RetrievedLocs }}
															<option value="{{ $items.factory_location }}" {{if compare $.FormItems.FactoryLoc $items.factory_location }} selected {{end}}>{{ $items.factory_location }}</option>
															{{end}}
															</optgroup>
															</select>
                                                    {{if .Errors.FactoryLoc}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.FactoryLoc}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-12" style="text-align: center;">
                                            <br>
                                            <button type="submit" class="btn green" style="height: 40px;">Save and Add BOM</button>
                                            <button type="button" class="btn default" style="height: 40px;width: 80px">Reset</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <!-- END FORM-->

                        </div>
                    </div>
                </div>

            </div>
            {{end}}

            {{if compare .view "BOM"}}
            <!-- <div class="row"> -->
                <div class="col-md-12">
                    <div class="portlet light bordered">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="icon-equalizer font-green"></i>
                                <span class="caption-subject bold font-green uppercase">Bill of Material</span>

                            </div>
                            <div class="actions">
                                <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" style="width:20px; height:20px; line-height: 0.999; padding-left:4px; "> </a>
                            </div>
                        </div>
                        <div class="portlet-body form" >
                            <!-- BEGIN FORM-->
                            <form method="POST" class="form-horizontal">
                                <input type="hidden" name="hidden_method" value="bom" />
                                {{ .xsrfdata }}
                                <div class="form-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col-md-3 control-label"><span class="required" aria-required="true">*</span>Product ID </label>
                                                <div class="col-md-9">
                                                    <input name="product_code" type="text" class="form-control" value="{{.FormItems.ProductCode}}" readonly="" >
                                                    {{if .Errors.ProductCode}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.ProductCode}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                       <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Product Name </label>
                                                <div class="col-md-8">
                                                    <input name="product_name" type="text" class="form-control" value="{{.FormItems.ProductName}}" readonly="">
                                                    {{if .Errors.ProductName}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.ProductName}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>

                                        <!--/span-->
                                    </div>


                                    <div class="row">
                                        <div class="col-md-4">
                                            
                                                <label class="control-label col-md-2">Item </label>
                                                <div class="col-md-8">
                                                    <!-- <select name="item1" class="bs-select form-control">
                                                        <option disabled selected value> -- select an item -- </option>
                                                                 {{ range $io := .Retrievedb }}
                                                                <option>{{ $io.invoice_narration }}</option>
                                                                {{end}}
                                                            </select> -->
                                                            <select name="item1" class="form-control select2-multiple " >
                                <option disabled selected value> -- Choose an item -- </option>
                                 <optgroup value="{{.FormItems.ItemName1}}">
                                   {{ range $io  := .Retrievedb }}
                                    <option value="{{ $io.invoice_narration }}" {{if compare $.FormItems.ItemName1 $io.invoice_narration }} selected {{end}}>[{{ $io.item_unique_code}}] {{ $io.invoice_narration }} (UOM:{{ $io.unit_measure}})</option>
                                    {{end}}
                                    </optgroup>
                            </select>

                                                            {{if .Errors.ItemName1}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.ItemName1}}</span>{{end}}
                                                </div>
                                            
                                        </div>
                                        <div class="col-md-4">
                                            
                                                <label class="control-label col-md-3">Quantity </label>
                                                <div class="col-md-7">
                                                    <input id="touchspin_3" type="text" value="{{.FormItems.Qty1}}" name="qty1">
                                                    
                                                 {{if .Errors.Qty1}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Qty1}}</span>{{end}}
                                                </div>
                                                
                                            
                                        </div>

                                         <div class="col-md-4">
                                           
                                                <label class="control-label col-md-3"><span class="required" aria-required="true">*</span>Wastage</label>
                                                <div class="col-md-7">
                                                    <input name="wastage1" type="text" class="form-control" value="{{.FormItems.Wastage1}}" placeholder="0">
                                                   <!-- {{if .Errors.Transport}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Transport}}</span>{{end}}-->
                                                </div>
                                            
                                        </div>
                                    </div>
                                    <br>

                                    <div class="row">
                                        <div class="col-md-4">
                                           
                                                <label class="control-label col-md-2">Item </label>
                                                <div class="col-md-8">
                                                    <select name="item2" class="form-control select2-multiple " >
                                <option disabled selected value> -- Choose an item -- </option>
                                 <optgroup value="{{.FormItems.ItemName2}}">
                                   {{ range $io  := .Retrievedb }}
                                    <option value="{{ $io.invoice_narration }}" {{if compare $.FormItems.ItemName2 $io.invoice_narration }} selected {{end}}>[{{ $io.item_unique_code}}] {{ $io.invoice_narration }} (UOM:{{ $io.unit_measure}})</option>
                                    {{end}}
                                    </optgroup>
                            </select>
                                                            {{if .Errors.ItemName2}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.ItemName2}}</span>{{end}}
                                                </div>
                                            
                                        </div>
                                        <div class="col-md-4">
                                            
                                                <label class="control-label col-md-3">Quantity </label>
                                                <div class="col-md-7">
                                                    <input id="touchspin_3" type="text" value="{{.FormItems.Qty2}}" name="qty2">
                                                    
                                                 {{if .Errors.Qty2}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Qty2}}</span>{{end}}
                                                </div>
                                           
                                        </div>
                                         <div class="col-md-4">
                                            
                                                <label class="control-label col-md-3"><span class="required" aria-required="true">*</span>Wastage</label>
                                                <div class="col-md-7">
                                                    <input name="wastage2" type="text" class="form-control" value="{{.FormItems.Wastage2}}" placeholder="0">
                                                   <!-- {{if .Errors.Transport}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Transport}}</span>{{end}}-->
                                                </div>
                                           
                                        </div>
                                    </div>
                                    <br>

                                    <div class="row">
                                        <div class="col-md-4">
                                           
                                                <label class="control-label col-md-2">Item </label>
                                                <div class="col-md-8">
                                                   <select name="item3" class="form-control select2-multiple " >
                                <option disabled selected value> -- Choose an item -- </option>
                                 <optgroup value="{{.FormItems.ItemName3}}">
                                   {{ range $io  := .Retrievedb }}
                                    <option value="{{ $io.invoice_narration }}" {{if compare $.FormItems.ItemName3 $io.invoice_narration }} selected {{end}}>[{{ $io.item_unique_code}}] {{ $io.invoice_narration }} (UOM:{{ $io.unit_measure}})</option>
                                    {{end}}
                                    </optgroup>
                            </select>
                                                            {{if .Errors.ItemName3}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.ItemName3}}</span>{{end}}
                                                </div>
                                           
                                        </div>
                                        <div class="col-md-4">
                                           
                                                <label class="control-label col-md-3">Quantity </label>
                                                <div class="col-md-7">
                                                    <input id="touchspin_3" type="text" value="{{.FormItems.Qty3}}" name="qty3">
                                                    
                                                 {{if .Errors.Qty3}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Qty3}}</span>{{end}}
                                                </div>
                                            
                                        </div>
                                         <div class="col-md-4">
                                           
                                                <label class="control-label col-md-3"><span class="required" aria-required="true">*</span>Wastage</label>
                                                <div class="col-md-7">
                                                    <input name="wastage3" type="text" class="form-control" value="{{.FormItems.Wastage3}}" placeholder="0">
                                                   <!-- {{if .Errors.Transport}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Transport}}</span>{{end}}-->
                                                </div>
                                           
                                        </div>
                                    </div>
                                    <br>

                                    <div class="row">
                                        <div class="col-md-4">
                                            
                                                <label class="control-label col-md-2">Item </label>
                                                <div class="col-md-8">
                                                    <select name="item4" class="form-control select2-multiple " >
                                <option disabled selected value> -- Choose an item -- </option>
                                 <optgroup value="{{.FormItems.ItemName4}}">
                                   {{ range $io  := .Retrievedb }}
                                    <option value="{{ $io.invoice_narration }}" {{if compare $.FormItems.ItemName4 $io.invoice_narration }} selected {{end}}>[{{ $io.item_unique_code}}] {{ $io.invoice_narration }} (UOM:{{ $io.unit_measure}})</option>
                                    {{end}}
                                    </optgroup>
                            </select>
                                                            {{if .Errors.ItemName4}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.ItemName4}}</span>{{end}}
                                                </div>
                                          
                                        </div>
                                        <div class="col-md-4">
                                            
                                                <label class="control-label col-md-3">Quantity </label>
                                                <div class="col-md-7">
                                                    <input id="touchspin_3" type="text" value="{{.FormItems.Qty4}}" name="qty4">
                                                     
                                                 {{if .Errors.Qty4}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Qty4}}</span>{{end}}
                                                </div>
                                           
                                        </div>
                                         <div class="col-md-4">
                                            
                                                <label class="control-label col-md-3"><span class="required" aria-required="true">*</span>Wastage</label>
                                                <div class="col-md-7">
                                                    <input name="wastage4" type="text" class="form-control" value="{{.FormItems.Wastage4}}" placeholder="0">
                                                   <!-- {{if .Errors.Transport}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Transport}}</span>{{end}}-->
                                                </div>
                                            
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-md-4">
                                           
                                                <label class="control-label col-md-2">Item </label>
                                                <div class="col-md-8">
                                                    <select name="item5" class="form-control select2-multiple " >
                                <option disabled selected value> -- Choose an item -- </option>
                                 <optgroup value="{{.FormItems.ItemName5}}">
                                   {{ range $io  := .Retrievedb }}
                                    <option value="{{ $io.invoice_narration }}" {{if compare $.FormItems.ItemName5 $io.invoice_narration }} selected {{end}}>[{{ $io.item_unique_code}}] {{ $io.invoice_narration }} (UOM:{{ $io.unit_measure}})</option>
                                    {{end}}
                                    </optgroup>
                            </select>
                                                            {{if .Errors.ItemName5}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.ItemName5}}</span>{{end}}
                                                </div>
                                           
                                        </div>
                                        <div class="col-md-4">
                                            
                                                <label class="control-label col-md-3">Quantity </label>
                                                <div class="col-md-7">
                                                    <input id="touchspin_3" type="text" value="{{.FormItems.Qty5}}" name="qty5">
                                                     
                                                 {{if .Errors.Qty5}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Qty5}}</span>{{end}}
                                                </div>
                                           
                                        </div>
                                         <div class="col-md-4">
                                           
                                                <label class="control-label col-md-3"><span class="required" aria-required="true">*</span>Wastage</label>
                                                <div class="col-md-7">
                                                    <input name="wastage5" type="text" class="form-control" value="{{.FormItems.Wastage5}}" placeholder="0">
                                                   <!-- {{if .Errors.Transport}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Transport}}</span>{{end}}-->
                                                </div>
                                            
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-md-4">
                                            
                                                <label class="control-label col-md-2">Item </label>
                                                <div class="col-md-8">
                                                    <select name="item6" class="form-control select2-multiple " >
                                <option disabled selected value> -- Choose an item -- </option>
                                 <optgroup value="{{.FormItems.ItemName6}}">
                                   {{ range $io  := .Retrievedb }}
                                    <option value="{{ $io.invoice_narration }}" {{if compare $.FormItems.ItemName6 $io.invoice_narration }} selected {{end}}>[{{ $io.item_unique_code}}] {{ $io.invoice_narration }} (UOM:{{ $io.unit_measure}})</option>
                                    {{end}}
                                    </optgroup>
                            </select>
                                                            {{if .Errors.ItemName6}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.ItemName6}}</span>{{end}}
                                                </div>
                                            
                                        </div>
                                        <div class="col-md-4">
                                            
                                                <label class="control-label col-md-3">Quantity </label>
                                                <div class="col-md-7">
                                                    <input id="touchspin_3" type="text" value="{{.FormItems.Qty6}}" name="qty6">
                                                     
                                                 {{if .Errors.Qty6}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Qty6}}</span>{{end}}
                                                </div>
                                           
                                        </div>
                                         <div class="col-md-4">
                                            
                                                <label class="control-label col-md-3"><span class="required" aria-required="true">*</span>Wastage</label>
                                                <div class="col-md-7">
                                                    <input name="wastage6" type="text" class="form-control" value="{{.FormItems.Wastage6}}" placeholder="0">
                                                   <!-- {{if .Errors.Transport}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Transport}}</span>{{end}}-->
                                                </div>
                                            
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-md-4">
                                            
                                                <label class="control-label col-md-2">Item </label>
                                                <div class="col-md-8">
                                                    <select name="item7" class="form-control select2-multiple " >
                                <option disabled selected value> -- Choose an item -- </option>
                                 <optgroup value="{{.FormItems.ItemName7}}">
                                   {{ range $io  := .Retrievedb }}
                                    <option value="{{ $io.invoice_narration }}" {{if compare $.FormItems.ItemName7 $io.invoice_narration }} selected {{end}}>[{{ $io.item_unique_code}}] {{ $io.invoice_narration }} (UOM:{{ $io.unit_measure}})</option>
                                    {{end}}
                                    </optgroup>
                            </select>
                                {{if .Errors.ItemName7}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.ItemName7}}</span>{{end}}
                                                </div>
                                           
                                        </div>
                                        <div class="col-md-4">
                                            
                                                <label class="control-label col-md-3">Quantity </label>
                                                <div class="col-md-7">
                                                    <input id="touchspin_3" type="text" value="{{.FormItems.Qty7}}" name="qty7">
                                                     
                                                 {{if .Errors.Qty7}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Qty7}}</span>{{end}}
                                                </div>
                                           
                                        </div>
                                         <div class="col-md-4">
                                           
                                                <label class="control-label col-md-3"><span class="required" aria-required="true">*</span>Wastage</label>
                                                <div class="col-md-7">
                                                    <input name="wastage7" type="text" class="form-control" value="{{.FormItems.Wastage7}}" placeholder="0">
                                                   <!-- {{if .Errors.Transport}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Transport}}</span>{{end}}-->
                                                </div>
                                            
                                        </div>
                                    </div>
                                    <div class="mt-repeater form-horizontal" style="border-bottom:none;">
                                        <div data-repeater-list="group-a" style="margin-bottom:0;">
                                            <div data-repeater-item class="mt-repeater-item" style="border-bottom:none;padding-bottom:0;">
                                                <!-- jQuery Repeater Container -->
                                                <br>
                                                <div class="row" style="margin-bottom:0;">
                                                    <div class="col-md-4">
                                                       
                                                            <label class="control-label col-md-2">Item </label>
                                                            <div class="col-md-8">
                                                                <select name="item_name" class="form-control select2-multiple " >
                                <option disabled selected value> -- Choose an item -- </option>
                                 <optgroup value="{{.FormItems.ItemName}}">
                                   {{ range $io  := .Retrievedb }}
                                    <option value="{{ $io.invoice_narration }}" {{if compare $.FormItems.ItemName $io.invoice_narration }} selected {{end}}>[{{ $io.item_unique_code}}] {{ $io.invoice_narration }} (UOM:{{ $io.unit_measure}})</option>
                                    {{end}}
                                    </optgroup>
                            </select>
                                                            {{if .Errors.ItemName}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.ItemName}}</span>{{end}}
                                                            </div>
                                                        
                                                    </div>
                                                    <div class="col-md-4">
                                                        
                                                            <label class="control-label col-md-3">Quantity </label>
                                                            <div class="col-md-7">
                                                                <input id="touchspin_3" type="text" value="{{.FormItems.Qty}}" name="qty">
                                                                
                                                 {{if .Errors.Qty}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Qty}}</span>{{end}}
                                                            </div>
                                                            </div>
                                                            <div class="col-md-4">
                                            
                                                <label class="control-label col-md-3"><span class="required" aria-required="true">*</span>Wastage</label>
                                                <div class="col-md-7">
                                                    <input name="wastage" type="text" class="form-control" value="{{.FormItems.Wastage}}" placeholder="0">
                                                   <!-- {{if .Errors.Transport}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Transport}}</span>{{end}}-->
                                                </div>
                                            
                                       
                                                            <div class="col-md-2" >
                                                               
                                                                    <div class="mt-repeater-input">
                                                                        <a href="javascript:;" data-repeater-delete class=" btn btn-circle  btn-icon-only btn-danger mt-repeater-delete" style="padding:0;padding-bottom:17px; margin-top:9px;  width:18px; height:15px; border-radius:30px; ">
                                                                            <i class="fa fa-close" style="text-align:top; "></i>
                                                                        </a>
                                                                    </div>
                                                                
                                                            </div>
                                                        </div>
                                                    </div>
                                                     
                                                 </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 text-left" style="margin-top:0px; padding-left:35px;">
                                        <a href="javascript:;" data-repeater-create class="btn btn-success mt-repeater-add">
                                            <i class="fa fa-plus"></i>Item</a>
                                        </div>
                                </div>
                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-12" style="text-align: center;">
                                            <br>
                                            <button type="submit" class="btn green" style="height: 40px;">Save and Continue</button>
                                            <button type="button" class="btn default" style="height: 40px;width: 80px">Reset</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <!-- END FORM-->

                        </div>
                    </div>
                </div>

            <!-- </div> -->
            {{end}}

            <div class="row">
                <div class="col-md-12">
                    <!-- BEGIN EXAMPLE TABLE PORTLET-->
                    <div class="portlet light bordered">
                        <div class="portlet-title">
                            <div class="caption font-dark">
                                <i class="icon-settings font-dark"></i>
                                <span class="caption-subject bold uppercase"> Product Views</span>
                            </div>
                            <div class="actions">
                                <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" style="width:20px; height:20px; line-height: 0.999; padding-left:4px; "> </a>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <table class="table table-bordered table-hover dt-responsive dataTable table-checkable order-column" id="stock_view_table" >
                                <thead>
                                <tr>
                                    <th style="width:100px; text-align: left"> Product Code</th>
                                    <th style="text-align: left;"> Name </th>
                                    <th style="text-align: left;width: 20px"> Product type</th>
                                    <th style="text-align: left"> Group </th>
                                    <th style="text-align: left"> Subgroup </th>
                                    <th style="text-align: left"> Unit of Measure </th>
                                    <th style="text-align: left"> Measure  </th>
                                    <th style="text-align: left"> Rate per UOM </th>
                                    <th style="text-align: left">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {{ if .Retrieved}}
                                 {{ range $product := .Retrieved }}
                                <tr class="odd gradeX">
                                    <td style="text-align: left"> {{ $product.product_org_code }}</td>
                                    <td style="text-align: left">  {{ $product.product_org_name }} </td>
                                    <td style="text-align: center">  {{ $product.product_type }}</td>
                                    <td style="text-align: center">  {{ $product.grp }} </td> 
                                    <td style="text-align: center">  {{ $product.subgroup }} </td>
                                    <td style="text-align: left"> {{ $product.unit_of_measure }}</td>
                                    <td style="text-align: center">  {{ $product.capacity_measure }}</td>
                                    <td style="text-align: center"> {{ $product.rate_per_UOM }}</td>
                                    <td class="text-center">
                                     <a href="#" id="{{ $product._id}}" class="productview" data-toggle="modal" data-target="#productModal_{{ $product.product_org_code }}" data-toggle="tooltip" title="View">
                                         <i class="fa fa-eye"></i>
                                      </a>
                                        {{if compare $product.status 1 }}
                                            <a class="statusupdate"  data-toggle="tooltip" title="Produced">
                                            <i class="fa fa-circle" aria-hidden="true" style="color: green"></i>
                                            </a>
                                        {{else if compare $product.status 2 }}
                                            <a  class="statusupdate"  data-toggle="tooltip" title="Temporary Halted">
                                            <i class="fa fa-circle" aria-hidden="true" style="color: yellow"></i>
                                            </a>
                                        {{else if compare $product.status 9 }}
                                            <a class="statusupdate"  data-toggle="tooltip" title="Suspended">
                                            <i class="fa fa-circle" aria-hidden="true" style="color: grey"></i>
                                            </a>
                                        {{end}}
                                      <a href="/production/edit-products?itemCode={{ $product.product_org_name }}" data-toggle="tooltip" title="Edit">
                                      <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                      </a>
                                     </td>
                                    </tr>
                                {{end}}
                                
                                </tbody>
                            </table>
                            <div class="actions text-right">
                                <!-- <ul class="pagination">
                                  <li class="active"><a href="#">1</a></li>
                                  <li ><a href="#">2</a></li>
                                  <li><a href="#">3</a></li>
                                  <li><a href="#">4</a></li>
                                  <li><a href="#">5</a></li>
                                </ul> -->
                                <div class="dropup ">
                                    <button class="btn btn-default dropdown-toggle " type="button"  data-toggle="dropdown">Export
                                        <span class="caret"></span></button>
                                    <ul class="dropdown-menu pull-right">
                                        <li role="presentation"><a tabindex="-1" href="#">Print</a></li>
                                        <li role="presentation"><a tabindex="-1" href="#">PDF</a></li>
                                        <li role="presentation"><a tabindex="-1" href="#">Excel</a></li>
                                        <li role="presentation"><a tabindex="-1" href="#">CSV</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END EXAMPLE TABLE PORTLET-->
                </div>
            </div>
            {{ range $product := .Retrieved }}
                    <div id="productModal_{{ $product.product_org_code }}" class="modal fade bs-modal-lg" role="dialog">
                        <div class="modal-dialog modal-lg">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <div class="portlet-title">
                                        <div class="caption font-dark">
                                            <i class="icon-settings font-dark"></i>
                                            <span class="caption-subject bold uppercase"> Product details</span>
                                            <i class="fa fa-print no-print" title="Print" style="float:right;" onclick="jQuery('#productModal_{{ $product.product_org_code }}').print()"></i>
                                        </div>
                                    </div>
                                    <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
                                </div>
                                <div class="modal-body">
                                    <table class="col-md-12" style="margin-bottom: 25px;">
										<tr>
											<th class="col-md-2">Product Name:</th>
											<td class="col-md-4">{{ $product.product_org_name }}</td>
											<th class="col-md-2">Product Code:</th>
											<td class="col-md-4">{{ $product.product_org_code }}</td>
										</tr>
                                    <!--<div class="row">
                                        <div class="col-sm-6">
                                            <lable class="col-md-5 control-label bold">Product Name:</lable>
                                            <div class="col-md-7">{{ $product.product_org_name }}</div>
                                        </div>
                                        <div class="col-sm-6">
                                            <lable class="col-md-5 control-label bold">Product Code:</lable>
                                            <div class="col-md-7">{{ $product.product_org_code }}</div>
                                        </div>
                                    </div>-->
                                    <tr>
                                        <th class="col-md-2">Invoice Narration:</th>
                                        <td class="col-md-4">{{ $product.invoice_narration }}</td>
                                        <th class="col-md-2">Product Type:</th>
                                        <td class="col-md-4">{{ $product.is_finished_product }}</td>
                                    </tr>
                                    <!--<div class="row">
                                        <div class="col-sm-6">
                                            <lable class="col-md-5 control-label bold">Invoice Narration:</lable>
                                            <div class="col-md-7">{{ $product.invoice_narration }}</div>
                                        </div>
                                        <div class="col-sm-6">
                                            <lable class="col-md-5 control-label bold">Product Type:</lable>
                                            <div class="col-md-7">{{ $product.is_finished_product }}</div>
                                        </div>
                                    </div>-->
                                    <tr>
                                        <th class="col-md-2">Group:</th>
                                        <td class="col-md-4">{{ $product.grp }}</td>
                                        <th class="col-md-2">Sub Group:</th>
                                        <td class="col-md-4">{{ $product.subgroup }}</td>
                                    </tr>
                                    <!--<div class="row">
                                        <div class="col-sm-6">
                                            <lable class="col-md-5 control-label bold">Group:</lable>
                                            <div class="col-md-7">{{ $product.grp }}</div>
                                        </div>
                                        <div class="col-sm-6">
                                            <lable class="col-md-5 control-label bold">Sub Group:</lable>
                                            <div class="col-md-7">{{ $product.subgroup }}</div>
                                        </div>
                                    </div>-->
                                    <tr>
                                        <th class="col-md-2">Measure:</th>
                                        <td class="col-md-4">{{ $product.capacity_measure }}</td>
                                        <th class="col-md-2">Unit of Measure:</th>
                                        <td class="col-md-4">{{ $product.unit_of_measure }}</td>
                                    </tr>
                                    <!--<div class="row">
                                        <div class="col-sm-6">
                                            <lable class="col-md-5 control-label bold">Measure:</lable>
                                            <div class="col-md-7">{{ $product.capacity_measure }}</div>
                                        </div>
                                        <div class="col-sm-6">
                                            <lable class="col-md-5 control-label bold">Unit of Measure:</lable>
                                            <div class="col-md-7">{{ $product.unit_of_measure }}</div>
                                        </div>
                                    </div>-->
                                    <tr>
                                        <th class="col-md-2">Rate per UOM:</th>
                                        <td class="col-md-4">{{ $product.rate_per_UOM }}</td>
                                        <th class="col-md-2">Minimum Stock:</th>
                                        <td class="col-md-4">{{ $product.minimum_stock_keep }}</td>
                                    </tr>
                                    <!--<div class="row">
                                        <div class="col-sm-6">
                                            <lable class="col-md-5 control-label bold">Rate per UOM:</lable>
                                            <div class="col-md-7">{{ $product.rate_per_UOM }}</div>
                                        </div>
                                        <div class="col-sm-6">
                                            <lable class="col-md-5 control-label bold">Minimum Stock:</lable>
                                            <div class="col-md-7">{{ $product.minimum_stock_keep }}</div>
                                        </div>
                                    </div>-->
                                    <tr>
                                        <th class="col-md-2">Transport:</th>
                                        <td class="col-md-4">{{ $product.transport }}</td>
                                        <th class="col-md-2">Product process:</th>
                                        <td class="col-md-4">{{ $product.process_name }}</td>
                                    </tr>
                                    <!--<div class="row">
                                        <div class="col-sm-6">
                                            <lable class="col-md-5 control-label bold">Transport:</lable>
                                            <div class="col-md-7">{{ $product.transport }}</div>
                                        </div>
                                        <div class="col-sm-6">
                                            <lable class="col-md-5 control-label bold">Product process:</lable>
                                            <div class="col-md-7">{{ $product.process_name }}</div>
                                        </div>
                                    </div>-->
                                    <tr>
                                        <th class="col-md-2">Status:</th>
                                        <td class="col-md-4">{{ $product.status }}</td>
                                        <th class="col-md-2">Factory Location:</th>
                                        <td class="col-md-4">{{ $product.factory_location }}</td>
                                    </tr>
                                    <!--<div class="row">
                                        <div class="col-sm-6">
                                            <lable class="col-md-5 control-label bold">Status:</lable>
                                            <div class="col-md-7">{{ $product.status }}</div>
                                        </div>
                                        <div class="col-sm-6">

                                        </div>
                                    </div>-->
                                    </table>
                                    <br>
                                    <p  id="demo_{{ $product._id}}"></p>
                               <!--      <h5><b>ITEMS</b></h5>
                                   <table class="table table-bordered table-hover dt-responsive dataTable table-checkable order-column" width="80%">
                                        <thead>
                                            <tr>
                                                <th>Item</th>
                                                <th>Quantity</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr> -->
                                             <!--    {{ range $product := .Retrieved }} -->
                                               <!--  <td>{{ $product.items }}</td>
                                                <td>{{ $product.quantity }}</td> -->
                                             <!--    {{end}} -->
                                            <!-- </tr>
                                        </tbody>
                                    </table>   -->
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default no-print" data-dismiss="modal">Close</button>
                                </div>
                            </div>

                        </div>
                    </div>
            {{end}}  
            {{end}}

            <!-- responsive -->
  

            <!-- END PAGE BASE CONTENT -->
        </div>
        <!-- END CONTENT BODY -->
    </div>
    <!-- END CONTENT -->
       
        {{end}}

        {{ define "pagelevelplugins" }} 
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="/static/assets/global/scripts/datatable.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>

<script src="/static/assets/global/plugins/fuelux/js/spinner.min.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/bootstrap-select/js/bootstrap-select.min.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/jquery-repeater/jquery.repeater.js" type="text/javascript"></script>
 <script src="/static/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
         <script src="/static/assets/global/plugins/bootstrap-select/js/bootstrap-select.min.js" type="text/javascript"></script>
         <script src="/static/assets/global/plugins/jquery-multi-select/js/jquery.multi-select.js" type="text/javascript"></script>
         <script src="/static/assets/global/plugins/typeahead/typeahead.bundle.min.js" type="text/javascript"></script>
         <script src="/static/assets/global/plugins/jQuery.print-master/jQuery.print.js" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->       
        {{ end }}

        {{define "pagelevelscripts"}} 
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="/static/assets/pages/scripts/components-bootstrap-select.min.js" type="text/javascript"></script>
<script src="/static/assets/pages/scripts/components-bootstrap-touchspin.js" type="text/javascript"></script>
<script src="/static/assets/pages/scripts/table-datatables-managed.js" type="text/javascript"></script>
<script src="/static/assets/pages/scripts/form-repeater.min.js" type="text/javascript"></script>
<script src="/static/assets/pages/scripts/components-select2.min.js" type="text/javascript"></script>       
        <script src="/static/assets/pages/scripts/components-bootstrap-select.min.js" type="text/javascript"></script>
        <script src="/static/assets/pages/scripts/components-multi-select.min.js" type="text/javascript"></script>
         <script src="/static/assets/global/plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.js"></script>
         <script src="/static/assets/pages/scripts/components-multi-select.min.js" type="text/javascript"></script>
          <script src="/static/assets/pages/scripts/components-bootstrap-multiselect.min.js" type="text/javascript"></script>
		 <script src="/static/assets/global/plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.js"></script>

<script type="text/javascript">
    $(function() {
    $(document).on('click','.productview',function(e){
        //e.preventDefault()
    var element = $(this);
    var product_id = element.attr("id");
    var info = 'id=' + product_id;
        $.ajax({
            type: "GET",
            url: "/production/product-items",
            data: info,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            cache: false,
            success: function(data){ 
                var thead = '<table class="table table-bordered table-hover dt-responsive dataTable table-checkable order-column" width="80%"><thead><tr><th>Item</th><th style="width:30%;">Quantity</th><th style="width:30%;">Wastage</td></tr></thead><tbody>';

                var tfooter = '</tbody></table>';
                var trHTML = '';
                
                $.each(data.items, function (i, item) {
                    
                    trHTML += '<tr><td>' + item + '</td><td style="padding-left:20px">' + data.quantity[i] + '</td><td style="padding-left:20px">' + data.wastage[i] + '</td></tr>';
                });
                //$('#demo').append(thead, trHTML, tfooter);
                var demo = 'demo_' + product_id
                document.getElementById(demo).innerHTML = thead + trHTML + tfooter;
                // $('#demo').append( $.map(data.items, function (ignore, index) {
                //     return '<table class="table table-bordered table-hover dt-responsive dataTable table-checkable order-column" width="80%"><thead><tr><th>Item</th><th>Quantity</td></tr></thead><tbody>'+'<tr><td>' + data.items[index] + '</td><td>' + data.quantity[index] + '</td></tr>'+'</tbody></table>';
                // }).join());
            } 
        });
        });
    });
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script>
        $(document).ready(function() {
                BindControls();
        });

        function BindControls() {
            var org_id = $("#org_id").val();
            var info = 'id=' + org_id;

            $.ajax({
                    type: "GET",
                    url: "/production/get-edit-details",
                    data: info,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    cache: false,
                    success: function(data){ 
                        $('#unit_measure').autocomplete({
                            source: data.uom,
                            minLength: 0,
                            scroll: true
                        }).focus(function() {
                                $(this).autocomplete("search", "");
                        });

                        $('#grades').autocomplete({
                                source: data.grade,
                                minLength: 0,
                                scroll: true
                        }).focus(function() {
                                $(this).autocomplete("search", "");
                        });

                        $('#groups').autocomplete({
                                source: data.group,
                                minLength: 0,
                                scroll: true
                        }).focus(function() {
                                $(this).autocomplete("search", "");
                        });

                        $('#subgroups').autocomplete({
                                source: data.subgroup,
                                minLength: 0,
                                scroll: true
                        }).focus(function() {
                                $(this).autocomplete("search", "");
                        });

                    } 
            });
        }
</script>
<!-- END PAGE LEVEL SCRIPTS -->
{{end}}