{{ template "master_layout.html" . }}

{{ define "pagelevelstyles"}}
<!-- BEGIN PAGE LEVEL STYLES -->

<link href="/static/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />
 <link href="/static/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.css" rel="stylesheet" type="text/css" />
 <link href="/static/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
 <link href="/static/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/global/plugins/typeahead/typeahead.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/global/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/global/plugins/ion.rangeslider/css/ion.rangeSlider.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/global/plugins/ion.rangeslider/css/ion.rangeSlider.skinFlat.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/global/plugins/bootstrap-markdown/css/bootstrap-markdown.min.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/global/plugins/bootstrap-summernote/summernote.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/global/plugins/typeahead/typeahead.css" rel="stylesheet" type="text/css" />
<!-- END PAGE LEVEL STYLES -->
{{end}}

{{ define "content" }}    
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">
            <!-- BEGIN PAGE BASE CONTENT -->
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet light bordered" >                  
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="icon-equalizer font-green"></i>
                                <span class="caption-subject bold font-green uppercase">Edit Production Order</span>
                            </div>
                            <div class="actions">
                                <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" style="width:20px; height:20px; line-height: 0.999; padding-left:4px; "> </a>
                            </div>
                           
                        </div>

                        <div class="portlet-body form"  >
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="note note-warning">
                                        <h4 class="block">Important Note</h4>
                                        <p>Only use this form to edit the quantity of the production order in cases of production losses or over production and when the <i>input BOM quantities remain the same.</i> </br> Changing the quantity here does not automatically change the BOM quantities. 
                                        </p>
                                    </div>
                                </div>
                            </div>
							<!-- BEGIN FORM-->
							<form method="post" class="horizontal-form">
							    {{ .xsrfdata }}
								<div class="form-body">
									<div class="row">
                                        <!--/span-->
                                        {{ range $items := .RetrievedProductionOrder }}
                                        <input name="productionId" value="{{$items._id }}" type="hidden" >
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4" style="text-align:right;"><span class="required" aria-required="true">*</span>Batch No </label>
                                                <div class="col-md-8">
                                                    <input name="batch_no" value="{{$items.batch_no }}" type="text" class="form-control" placeholder="" readonly>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4" style="text-align:right;"><span class="required" aria-required="true">*</span>Order Date </label>
                                                <div class="col-md-8">
                                                    
                                                        <input id="order_date" name="order_date" type="text" class="form-control" value="{{$items.order_date}}" readonly placeholder="{{$items.order_date}}">
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    </br>
                                    <!--/row-->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group last">
                                                <label class="control-label col-md-4" style="text-align:right;"><span class="required" aria-required="true">*</span>Factory Location </label>
                                                <div class="col-md-8">
                                                        <input id="ddrp_2" name="factory_location" value="{{$items.factory_location }}" type="text" class="form-control" placeholder="" readonly>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group last">
                                                <label class="control-label col-md-4" style="text-align:right;"><span class="required" aria-required="true">*</span>Machine </label>
                                                <div class="col-md-8">

                                                        <input id="ddrp_3" name="machine" value="{{$items.machine_name }}" type="text" class="form-control" placeholder="" readonly>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    </br>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col-md-4 control-label" style="text-align:right;"><span class="required" aria-required="true">*</span>Product </label>
                                                <div class="col-md-8">
                                                        <input id="ddrp_1" name="product" value="{{$items.name }}" type="text" class="form-control" placeholder="{{$items.name }}" readonly>      
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4" style="text-align:right;"><span class="required" aria-required="true">*</span> Production Quantity </label>
                                                <div class="col-md-8">
                                                    <input name="quantity" class="form-control" type="text" value="{{$items.qty}}" placeholder="">       
                                                </div>
                                                
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>
									<br>
                                   
                                    <div class="row">
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4" style="text-align:right;"><span class="required" aria-required="true">*</span>Production Start Date </label>
                                                <div class="col-md-8">
                                                   
                                                        <input id="start_date" type="text" name="start_date"  value="{{$items.start_date}}"  size="16" readonly="" class="form-control ">

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4" style="text-align:right;"><span class="required" aria-required="true">*</span>Production End Date </label>
                                                <div class="col-md-8">
                                                   
                                                        <input id="end_date" type="text" name="end_date"  value="{{$items.end_date}}"  size="16" class="form-control" readonly>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                   {{end}}
                                    <div class="row" style="margin: 10px;"></div>
                                    <p id="bom_items"></p>
                                   
                                    <div class="form-actions">
                                        <div class="row">
                                                <div class="col-md-6"></div>
                                                <div class="col-md-4">
                                                <button id="update" type="submit" name="update" value="update" class="btn green" style="height: 40px;">Update</button>

                                                <button id="cancel" class="btn blue-hoki" style="height: 40px; ">Back</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
        
                                    <!--/span-->
									<!--/row-->
								</div>
							</form>
							<!-- END FORM-->
						</div>
						
					</div>
                </div>
                </div>
{{end}}
                {{ define "pagelevelplugins" }}
                <!-- BEGIN PAGE LEVEL PLUGINS -->
                <script src="/static/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
                <script src="/static/assets/global/plugins/fuelux/js/spinner.min.js" type="text/javascript"></script>
                <script src="/static/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.js" type="text/javascript"></script>
                <script src="/static/assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
                <script src="/static/assets/global/scripts/datatable.js" type="text/javascript"></script>
                <script src="/static/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
                <script src="/static/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
                <script src="/static/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.js" type="text/javascript"></script>
                 <script src="/static/assets/global/plugins/typeahead/typeahead.bundle.min.js" type="text/javascript"></script>
                 <script src="/static/assets/global/plugins/fullcalendar/lib/moment.min.js" type="text/javascript"></script>
                 <script src="/static/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js" type="text/javascript"></script>
                 <script src="/static/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
                 <script src="/static/assets/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js" type="text/javascript"></script>
                 <script src="/static/assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
                 <script src="/static/assets/global/plugins/jQuery.print-master/jQuery.print.js" type="text/javascript"></script>
                <!-- END PAGE LEVEL PLUGINS -->  
                {{ end }}
                
                {{define "pagelevelscripts"}} 
                <!-- BEGIN PAGE LEVEL SCRIPTS -->
                <script src="/static/assets/pages/scripts/components-select2.min.js" type="text/javascript"></script>
                <script src="/static/assets/pages/scripts/components-bootstrap-select.min.js" type="text/javascript"></script>
                <script src="/static/assets/pages/scripts/components-bootstrap-touchspin.js" type="text/javascript"></script>
                <script src="/static/assets/pages/scripts/components-date-time-pickers.js" type="text/javascript"></script>
                <script src="/static/assets/global/plugins/ion.rangeslider/js/ion.rangeSlider.min.js" type="text/javascript"></script>
                <script src="/static/assets/pages/scripts/table-datatables-managed.js" type="text/javascript"></script>
                <script src="/static/assets/pages/scripts/components-bootstrap-touchspin.js" type="text/javascript"></script>
                <script src="/static/assets/pages/scripts/components-date-time-pickers.min.js" type="text/javascript"></script>
                
                {{if .FlashErrors}}
                <script type="text/javascript">
                        $(function() {                  
                            $.bootstrapGrowl("{{.FlashErrors}}", {offset: {from: 'top', amount: 20}, delay: 10000, type: 'warning',align: 'center', stackup_spacing: 30,width: 400 });});
                </script>
                {{end}}

                {{if .FlashNotices}}
                <script type="text/javascript">
                        $(function() {                  
                            $.bootstrapGrowl("{{.FlashNotices}}", {offset: {from: 'top', amount: 20}, delay: 10000, type: 'success',align: 'center', stackup_spacing: 30,width: 400 });});
                </script>
                {{end}}

                <script type="text/javascript">
                $("#cancel").click(function(){
                    window.location.href = '/production/production-orders';
                    return false;
                });
                </script>
              
                <!-- END PAGE LEVEL SCRIPTS -->
                {{end}}