{{ template "master_layout.html" . }}

{{ define "pagelevelstyles"}} 
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link href="/static/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.css" rel="stylesheet" type="text/css" />
    <link href="/static/assets/global/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" type="text/css" />

    <link href="/static/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="/static/assets/global/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/jquery-multi-select/css/multi-select.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/typeahead/typeahead.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css" rel="stylesheet" type="text/css" />


		 <link href="/static/assets/global/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css" rel="stylesheet" type="text/css" />
    <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
    <style>
    .ui-autocomplete { 
        cursor:pointer; 
        max-height:170px; 
        overflow-y:auto;
        overflow-x:hidden;
    }    
    </style>
    <!-- END PAGE LEVEL STYLES -->
{{end}}

{{ define "content" }}    
    <!-- BEGIN CONTENT -->

    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">
            <!-- BEGIN PAGE BASE CONTENT -->

           
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet light bordered">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="icon-equalizer font-green"></i>
                                <span class="caption-subject bold font-green uppercase">Edit Product</span>

                            </div>
                          

                        </div>
                       
                            <!-- BEGIN FORM-->
                            <form method="POST" class="form-horizontal">
                                 <input type="hidden" name="hidden_method" value="product" />
                                 <input id="org_id" name="org_id" type="hidden"  class="form-control" value="{{.OrgID}}" >
                                {{ .xsrfdata }}
                                <div class="form-body">
                                           <div class="row">

                        <div class="col-md-6">
						<div class="form-group">
                        <select name="product_check" class="form-control select2-multiple " data-placeholder="Choose an Item">
						<option disabled selected value> -- Choose a product -- </option>
						<optgroup value="{{.FormItems.ProductCheck}}">
                            {{ range $io := .Retrievedg }}
                                <option value="{{ $io.product_org_name }}" {{if compare $.FormItems.ProductCheck $io.product_org_name }} selected {{end}}>{{ $io.product_org_name }} ({{ $io.product_org_code }})</option>
                                {{end}}
						</optgroup>
						</select>
						{{if .Errors.ProductCheck}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.ProductCheck}}</span>{{end}}
                        </div>
                        </div>
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-4">
                        <div class="form-group" >
                        <button  value="show" type="submit" method="POST" name="item-button" class="btn btn-circle green btn-outline" style="height: 33px; width: 110px;"> SHOW DETAILS</button>
                        </div>
                        </div>
                                    </div>
                                     <div class="row">
						<div class="col-md-6">
						<div class="form-group">
						<label class="control-label col-md-4"> </label>
						<div class="col-md-8">
						<input name="product_id" type="hidden"  class="form-control" value="{{.FormItems.ProductID}}" placeholder="">
						{{if .Errors.ProductID}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.ProductID}}</span>{{end}}
						</div>
						</div>
						</div>
					
						</div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col-md-4 control-label"><span class="required" aria-required="true">*</span>Product Code </label>
                                                <div class="col-md-8">
                                                    <input name="product_code" type="text" class="form-control" value="{{.FormItems.ProductCode}}" readonly>
                                                    {{if .Errors.ProductCode}}<span class="help-block" style="font-size:13px; color:#e73d4a;"></span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                       <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Product Name </label>
                                                <div class="col-md-8">
                                                    <input name="product_name" type="text" class="form-control" value="{{.FormItems.ProductName}}" placeholder="">
                                                    {{if .Errors.ProductName}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.ProductName}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Invoice Narration </label>
                                                <div class="col-md-8">
                                                    <input name="invoice_narration" type="text" class="form-control" value="{{.FormItems.InvoiceNarration}}" placeholder="">
                                                    {{if .Errors.InvoiceNarration}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.InvoiceNarration}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">Product Type </label>
                                                <div class="col-md-8">
                                                    <input name="product_type" type="text" class="form-control" value="{{.FormItems.ProductType}}" placeholder="">
                                                    {{if .Errors.ProductType}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.ProductType}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>

                                        <!--/span-->
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">Group </label>
                                                <div class="col-md-8">
                                                    <input name="group" type="text" id="groups" class="form-control" value="{{.FormItems.Group}}" />
                                                    <!--<input list="grps" name="group" type="text" class="form-control" value="{{.FormItems.Group}}">
															
														  <datalist id="grps">
														    {{ range $gl := .RetrievedGroup }}
														    <option value="{{ $gl.grp }}"{{if compare $.FormItems.Group $gl.grp }} selected {{end}}>{{ $gl.grp }}</option>
														    {{end}}
																
														  </datalist>-->
                                                    
                                                    {{if .Errors.Group}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Group}}{{end}}
                                                </div>
                                            </div>
                                        </div>

                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">Sub Group </label>
                                                <div class="col-md-8">
                                                    <input name="sub_group" type="text" id="subgroups" class="form-control" value="{{.FormItems.SubGroup}}" />
                                                   <!--<input list="sub_grps" name="sub_group" type="text" class="form-control" value="{{.FormItems.SubGroup}}">
														  <datalist id="sub_grps">
														    {{ range $gl := .RetrievedSubGroup }}
														    <option value="{{ $gl.subgroup }}"{{if compare $.FormItems.SubGroup $gl.subgroup }} selected {{end}}>{{ $gl.subgroup }}</option>
																 {{end}}
														   
														  </datalist>-->
                                                    
                                                    {{if .Errors.SubGroup}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.SubGroup}}{{end}}
                                                </div>
                                            </div>
                                        </div>

                                        <!--/span-->
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group last">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Measure </label>
                                                <div class="col-md-8">
                                                    <input name="capacity" id="touchspin_3" type="text" class="form-control" value="{{.FormItems.Capacity}}" placeholder="">
                                                    {{if .Errors.Capacity}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Capacity}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col-md-4 control-label"><span class="required" aria-required="true">*</span>Unit of Measure </label>
                                                <div class="col-md-8">
                                                    <input name="uom" type="text" id="unit_measure" class="form-control" value="{{.FormItems.UOM}}" />
                                                    <!--<select data-size="6" name="uom" class="bs-select form-control" value="{{.FormItems.UOM}}">
                                                        <option {{if compare .FormItems.UOM "unit" }}selected {{end}}>unit</option>
                                                                <option {{if compare .FormItems.UOM "millimeter" }}selected {{end}}>millimeter</option>
                                                                <option {{if compare .FormItems.UOM "centimeter" }}selected {{end}}>centimeter</option>
                                                                <option {{if compare .FormItems.UOM "meter" }}selected {{end}}>meter</option>
                                                                <option {{if compare .FormItems.UOM "inch" }}selected {{end}}>inch</option>
                                                                <option {{if compare .FormItems.UOM "yard" }}selected {{end}}>yard</option>
                                                                <option {{if compare .FormItems.UOM "cubic centimeter" }}selected {{end}}>cubic centimeter</option>
                                                                <option {{if compare .FormItems.UOM "cubic meter" }}selected {{end}}>cubic meter</option>
                                                                <option {{if compare .FormItems.UOM "degree celsius" }}selected {{end}}>degree celsius</option>
                                                                <option {{if compare .FormItems.UOM "milligram" }}selected {{end}}>milligram</option>
                                                                <option {{if compare .FormItems.UOM "gram" }}selected {{end}}>gram</option>
                                                                <option {{if compare .FormItems.UOM "kilogram" }}selected {{end}}>kilogram</option>
                                                                <option {{if compare .FormItems.UOM "metric ton" }}selected {{end}}>metric ton</option>
                                                                <option {{if compare .FormItems.UOM "pound" }}selected {{end}}>pound</option>
                                                                <option {{if compare .FormItems.UOM "percentage" }}selected {{end}}>percentage</option>
                                                                <option {{if compare .FormItems.UOM "gallon" }}selected {{end}}>gallon</option>
                                                                <option {{if compare .FormItems.UOM "litre" }}selected {{end}}>litre</option>
                                                                <option {{if compare .FormItems.UOM "watt" }}selected {{end}}>watt</option>
                                                    </select>-->
                                                    {{if .Errors.UOM}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.UOM}}{{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>

                                    <div class="row">
                                       <div class="col-md-6">
                                            <div class="form-group last">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Rate per UOM </label>
                                                <div class="col-md-8">
                                                    <input id="touchspin_3" type="text" class="form-control" value="{{.FormItems.RatePerUOM}}" name="rate_per_uom" placeholder=" ">
                                                    {{if .Errors.RatePerUOM}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.RatePerUOM}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group last">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Minimum Stock </label>
                                                <div class="col-md-8">
                                                    <input id="touchspin_3" type="text" class="form-control" value="{{.FormItems.MinStock}}" name="min_stock" placeholder=" ">
                                                    {{if .Errors.MinStock}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.MinStock}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Transport </label>
                                                <div class="col-md-8">
                                                    <input name="transport" type="text" class="form-control" value="{{.FormItems.Transport}}" placeholder="">
                                                   <!-- {{if .Errors.Transport}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Transport}}</span>{{end}}-->
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">Product process </label>
                                                <div class="col-md-8">
                                                    <select name="product_process" class="bs-select form-control">
                                                        <option {{if compare .FormItems.ProductProcess "Option 1" }}selected {{end}}>Option 1</option>
                                                        <option {{if compare .FormItems.ProductProcess "Option 2" }}selected {{end}}>Option 2</option>
                                                        <option {{if compare .FormItems.ProductProcess "Option 3" }}selected {{end}}>Option 3</option>
                                                        <option {{if compare .FormItems.ProductProcess "Option 4" }}selected {{end}}>Option 4</option>
                                                        <option {{if compare .FormItems.ProductProcess "Option 5" }}selected {{end}}>Option 5</option>
                                                    </select>
                                                    {{if .Errors.ProductProcess}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.ProductProcess}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col-md-4 control-label"><span class="required" aria-required="true">*</span>Production Status </label>
                                                <div class="col-md-8">
                                                    <select name="status1" class="bs-select form-control">
                                                        <option disabled selected value>Select a Status</option>
                                                        <option value="1" {{if compare .FormItems.Status1 "1" }}selected {{end}}>Produced</option>
                                                        <option value="2" {{if compare .FormItems.Status1 "2" }}selected {{end}}>Temporary Halted</option>
                                                        <option value="9" {{if compare .FormItems.Status1 "9" }}selected {{end}}>Suspended</option>
                                                        <!--<option {{if compare .FormItems.Status1 "4" }}selected {{end}}>4</option>
                                                        <option {{if compare .FormItems.Status1 "5" }}selected {{end}}>5</option>-->
                                                    </select>
                                                    {{if .Errors.Status1}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Status1}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group last">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Factory Location </label>
                                                <div class="col-md-8">
                                                    <!--<select id="ddrp_2" name="factory_location" class="form-control select2-multiple" data-placeholder="Choose a Factory">
                                                    <option disabled selected value> -- Choose an item -- </option>
                                                    <optgroup value="{{.FormItems.FactoryLoc}}">
                                                    {{ range $ios := .RetrievedLocs }}
                                                    <option value="{{ $ios.factory_location }}" {{if compare $.FormItems.FactoryLoc $ios.factory_location }} selected {{end}}>{{ $ios.factory_location }}</option>
                                                    {{end}}
                                                    </optgroup>
                                                    </select>-->
                                                    <!--<input name="factory_location" value="{{.FormItems.FactoryLoc}}" type="text" class="form-control" placeholder="">-->
                                                    	<select id="multiple" name="factory_location[]" data-placeholder="{{.FormItems.FactoryLoc}}" value="{{.FormItems.FactoryLoc}}"  class="form-control select2-multiple" multiple >
														
															{{ range $items := .RetrievedLocs }}
															<option value="{{ $items.factory_location }}" {{ range $itemkey,$itemvalue := $.RetrievedItemsLocation }} {{if compare $itemvalue $items.factory_location }} selected {{end}}{{end}} >{{ $items.factory_location }}</option>
															{{end}}
													
															</select>
                                                    
                                                    {{if .Errors.FactoryLoc}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.FactoryLoc}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>
                                </div>
                                <div class="form-actions">
                                    {{if .ProductNameExists}}
											<div class="row" style="padding-bottom: 20px;">
												<div class="col-md-12" style="text-align: center;">
													<span style="color: #e02222;">This Product name already exists. Use a different name.</span>
												</div>
											</div>
											{{else if .ProductCodeExists}}
											<div class="row" style="padding-bottom: 20px;">
												<div class="col-md-12" style="text-align: center;">
													<span style="color: #e02222;">This Product code already exists. Use a different code.</span>
												</div>
											</div>
											{{else if .InvoiceNarrationExists}}
											<div class="row" style="padding-bottom: 20px;">
												<div class="col-md-12" style="text-align: center;">
													<span style="color: #e02222;">This Product Invoice Narration already exists. Use a different invoice narration.</span>
												</div>
											</div>
											{{end}}
                                    <div class="row">
                                        <div class="col-md-12" style="text-align: center;">
                                            <br>
                                            <button type="submit" class="btn green" style="height: 40px;">Update</button>
                                            <button class="btn green" style="height: 40px;width: 80px ;float: right"><a href="/production/add-new-product" style="float: right">Go Back</a></button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <!-- END FORM-->

                        </div>
                    </div>
                </div>

            </div>
         


            <!-- responsive -->
  

            <!-- END PAGE BASE CONTENT -->
        </div>
        <!-- END CONTENT BODY -->
    </div>
    <!-- END CONTENT -->
       
        {{end}}

        {{ define "pagelevelplugins" }} 
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="/static/assets/global/scripts/datatable.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
<!--<script src="https://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>-->
<script src="/static/assets/global/plugins/fuelux/js/spinner.min.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/bootstrap-select/js/bootstrap-select.min.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/jquery-repeater/jquery.repeater.js" type="text/javascript"></script>
 <script src="/static/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
         <script src="/static/assets/global/plugins/bootstrap-select/js/bootstrap-select.min.js" type="text/javascript"></script>
         <script src="/static/assets/global/plugins/jquery-multi-select/js/jquery.multi-select.js" type="text/javascript"></script>
         <script src="/static/assets/global/plugins/typeahead/typeahead.bundle.min.js" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->       
        {{ end }}

        {{define "pagelevelscripts"}} 
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="/static/assets/pages/scripts/components-bootstrap-select.min.js" type="text/javascript"></script>
<script src="/static/assets/pages/scripts/components-bootstrap-touchspin.js" type="text/javascript"></script>
<script src="/static/assets/pages/scripts/table-datatables-managed.js" type="text/javascript"></script>
<script src="/static/assets/pages/scripts/form-repeater.min.js" type="text/javascript"></script>
<script src="/static/assets/pages/scripts/components-select2.min.js" type="text/javascript"></script>       
<script src="/static/assets/pages/scripts/components-bootstrap-select.min.js" type="text/javascript"></script>
<script src="/static/assets/pages/scripts/components-multi-select.min.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.js"></script>
<script src="/static/assets/pages/scripts/components-multi-select.min.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script>
        $(document).ready(function() {
                BindControls();
        });

        function BindControls() {
            var org_id = $("#org_id").val();
            var info = 'id=' + org_id;

            $.ajax({
                    type: "GET",
                    url: "/production/get-edit-details",
                    data: info,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    cache: false,
                    success: function(data){ 
                        $('#unit_measure').autocomplete({
                            source: data.uom,
                            minLength: 0,
                            scroll: true
                        }).focus(function() {
                                $(this).autocomplete("search", "");
                        });

                        $('#grades').autocomplete({
                                source: data.grade,
                                minLength: 0,
                                scroll: true
                        }).focus(function() {
                                $(this).autocomplete("search", "");
                        });

                        $('#groups').autocomplete({
                                source: data.group,
                                minLength: 0,
                                scroll: true
                        }).focus(function() {
                                $(this).autocomplete("search", "");
                        });

                        $('#subgroups').autocomplete({
                                source: data.subgroup,
                                minLength: 0,
                                scroll: true
                        }).focus(function() {
                                $(this).autocomplete("search", "");
                        });

                    } 
            });
        }
</script>
<!-- END PAGE LEVEL SCRIPTS -->
{{end}}