{{ template "master_layout.html" . }}

{{define "pagelevelstyles"}}
        <!-- BEGIN PAGE LEVEL STYLES -->
        <link href="/static/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.css" rel="stylesheet" type="text/css" />
		<link href="/static/assets/global/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" type="text/css" />
		
		<link href="/static/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/bootstrap-multiselect/css/bootstrap-multiselect.css" rel="stylesheet" type="text/css" />
         <link href="/static/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
        <!-- END PAGE LEVEL STYLES -->
{{end}}

{{ define "content"}}
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                    <!-- BEGIN PAGE BASE CONTENT -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="icon-equalizer font-green"></i>
                                        <span class="caption-subject bold font-green uppercase">Edit Machine</span>
                                    </div>
                                    <div class="actions">
                                        <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" style="width:20px; height:20px; line-height: 0.999; padding-left:4px; "> </a>
                                    </div>
                                </div>
                                <div class="portlet-body form" style="display:block" >
									<!-- BEGIN FORM-->
									<form method="POST" class="form-horizontal">
										 {{ .xsrfdata }}
										<div class="form-body">
											<div class="row">
												<div class="col-md-6">
													<div class="form-group">
														<label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Machine Name </label>
														<div class="col-md-8">
                                                            <input name="machine_id" type="hidden" class="form-control" value="{{.FormItems.PrevId}}" placeholder="">
															<input name="machine_name" type="text" class="form-control" value="{{.FormItems.MachineName}}" placeholder="">
														{{if .Errors.MachineName}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.MachineName}}</span>{{end}}
														</div>
													</div>
												</div>
												<!--/span-->
												<div class="col-md-6">
													<div class="form-group">
														<label class="col-md-4 control-label"><span class="required" aria-required="true">*</span>Machine Code </label>
														<div class="col-md-8">
															<input name="machine_code" type="text" class="form-control" value="{{.FormItems.MachineCode}}" placeholder="" >
															{{if .Errors.MachineCode}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.MachineCode}}{{end}}
														</div>
													</div>
												</div>
												<!--/span-->
											</div>
											
											<div class="row">
													<div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Geo Location </label>
                                                        <div class="col-md-8">
                                                            <select single class="form-control select2-multiple " data-placeholder="Choose a Location" name="geo_location" >
                                                            <option disabled selected value> -- Choose a factory -- </option>
                                                              {{ range $gl := .Retrievedfac }}
                                                                <option value="{{ $gl._id }}" {{if compare $.FormItems.GeoLocation $gl._id }} selected {{end}}>{{ $gl.factory_location }}</option>
                                                             {{end}}
                                                            
                                                            </select>
															
                                                            {{if .Errors.GeoLocation}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.GeoLocation}}</span>{{end}}                      
                                                        </div>
                                                    </div>
												</div>
												<!--/span-->
											 <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Added On </label>
                                                <div class="col-md-8">
                                                    <div class="input-group input-medium date date-picker" data-date-format="yyyy-mm-dd" data-date-start-date="+0d">
                                                        <input id="todays_date" name="added_on" type="text" class="form-control" value="{{.FormItems.AddedOn}}" readonly placeholder="">
                                                        <span class="input-group-btn">
                                                            <button class="btn default" type="button">
                                                                <i class="fa fa-calendar"></i>
                                                            </button>
                                                        </span>
                                                    </div>
                                                    {{if .Errors.AddedOn}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.AddedOn}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
												<!--/span-->
											</div>
											
											<div class="row">
												<div class="col-md-6">
													<div class="form-group">
														<label class="col-md-4 control-label"><span class="required" aria-required="true">*</span>Status </label>
														<div class="col-md-8">
														  <select list="status" name="status" type="text" class="form-control" value="{{.FormItems.Status}}">
														  
														    <option value="1" {{if compare $.FormItems.Status "1" }} selected {{end}}>Active</option>
														    <option value="2" {{if compare $.FormItems.Status "2" }} selected {{end}}>Under Maintenance</option>
														    <option value="3" {{if compare $.FormItems.Status "3" }} selected {{end}}>Not Used</option>	
                                                          </select>
															{{if .Errors.Status}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.status}}{{end}}
														</div>
													</div>
												</div>
												<!--/span-->
												
												<!--/span-->
											</div>									
											
										</div>
										<div class="form-actions">
											{{if .MachineNameExists}}
											<div class="row" style="padding-bottom: 20px;">
												<div class="col-md-12" style="text-align: center;">
													<span style="color: #e02222;">This Machine name already exists. Use a different name.</span>
												</div>
											</div>
											{{else if .MachineCodeExists}}
											<div class="row" style="padding-bottom: 20px;">
												<div class="col-md-12" style="text-align: center;">
													<span style="color: #e02222;">This Machine code already exists. Use a different code.</span>
												</div>
											</div>
											{{end}}
											<div class="row">
												<div class="col-md-12" style="text-align: center;">
													<button type="submit" class="btn green" style="height: 40px;width: 80px">Update</button>
													<!-- <button type="reset" class="btn default" style="height: 40px;width: 80px">Reset</button> -->
												</div>
											</div>
										</div>
										<!--&nbsp;
									{{if .flash.error}}
									<h3>{{.flash.error}}</h3>
									&nbsp;
									{{end}}
									{{if .flash.notice}}
									<h3>{{.flash.notice}}</h3>
									&nbsp;
									{{end}}-->
									</form>
									<!-- END FORM-->
								</div>
							</div>
                        </div>
                    
					</div>
					<!-- Modal divs end -->

					 <!-- responsive -->
					
                                  
					<!-- END PAGE BASE CONTENT -->
                </div>
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->

      
            {{end}}
            
        {{define "pagelevelplugins"}}
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <script src="/static/assets/global/scripts/datatable.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
		<!--<script src="https://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>-->
        <script src="/static/assets/global/plugins/fuelux/js/spinner.min.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.js" type="text/javascript"></script>
		<script src="/static/assets/global/plugins/bootstrap-select/js/bootstrap-select.min.js" type="text/javascript"></script>
		<script src="/static/assets/global/plugins/bootstrap-multiselect/js/bootstrap-multiselect.js" type="text/javascript"></script>
		 <script src="/static/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
        <!-- END PAGE LEVEL PLUGINS -->
        {{end}}
        
        {{define "pagelevelscripts"}}
        <!-- BEGIN PAGE LEVEL SCRIPTS -->
        <script src="/static/assets/pages/scripts/components-select2.min.js" type="text/javascript"></script>
        <script src="/static/assets/pages/scripts/components-bootstrap-select.min.js" type="text/javascript"></script>
        <script src="/static/assets/pages/scripts/components-bootstrap-touchspin.js" type="text/javascript"></script>
		<script src="/static/assets/pages/scripts/table-datatables-managed.js" type="text/javascript"></script>
        <script src="/static/assets/pages/scripts/components-bootstrap-multiselect.min.js" type="text/javascript"></script>
        {{if .FlashNotices}}
        <script type="text/javascript">
                $(function() {                  
                    $.bootstrapGrowl("{{.FlashNotices}}", {offset: {from: 'top', amount: 20}, delay: 5000, type: 'success',align: 'center', stackup_spacing: 30,width: 400 });});
        </script>
        {{end}}
		<script type="text/javascript">
            var todaysDate = new Date();
            function convertDate(date) {
                var yyyy = date.getFullYear().toString();
                var mm = (date.getMonth()+1).toString();
                var dd  = date.getDate().toString();
    
                var mmChars = mm.split('');
                var ddChars = dd.split('');
    
                return yyyy + '-' + (mmChars[1]?mm:"0"+mmChars[0]) + '-' + (ddChars[1]?dd:"0"+ddChars[0]);
            }
    
            document.getElementById('todays_date').value = convertDate(todaysDate);
        </script>
		<script type="text/javascript">
	        $(function() {
	        $(document).on('click','.delbutton',function(e){
	        	e.preventDefault()
	        var element = $(this);
	        var del_id = element.attr("id");
	        var info = 'id=' + del_id;
	        if(confirm("Are you sure you want to delete this Record?")){
	            $.ajax({
	                type: "GET",
	                url: "/stock/delete-items",
	                data: info,
	                success: function(msg){ 
		                if (msg == "true") {
		                	if(alert('Item Deleted!')){}
							else    window.location.reload();
		                }
		                else {
		                	console("Error")
		                }
	            	} 
	            });
	        }
	        return false;
	        });
	        });
	    </script>
        <!--<script src="../static/assets/pages/scripts/ui-modals.js" type="text/javascript"></script>
        <script src="../static/assets/pages/scripts/ui-modals.min.js" type="text/javascript"></script>-->
        
        <!-- END PAGE LEVEL SCRIPTS -->
        {{end}}