{{ template "master_layout.html" . }}

{{ define "pagelevelstyles"}} 
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link href="/static/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.css" rel="stylesheet" type="text/css" />
    <link href="/static/assets/global/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" type="text/css" />

    <link href="/static/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="/static/assets/global/plugins/bootstrap-modal/css/bootstrap-modal-bs3patch.css" rel="stylesheet" type="text/css" />
    <link href="/static/assets/global/plugins/bootstrap-modal/css/bootstrap-modal.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL STYLES -->
{{end}}

{{ define "content" }}    
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">
            <!-- BEGIN PAGE BASE CONTENT -->
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet light bordered">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="icon-equalizer font-green"></i>
                                <span class="caption-subject bold font-green uppercase">Add Details</span>

                            </div>
                            <div class="actions">
                                <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" style="width:20px; height:20px; line-height: 0.999; padding-left:4px; "> </a>
                            </div>
                            <div class="tools nts-tools faq-links" style="margin-top:0;">
                                {{if .ErrorsPresent}} 
                                <a href=""  class="collapse" style="background-image:none;">
                                <i class="fa fa-minus-circle"></i> </a> 
                             {{else}} 
                                <a href=""  class="expand" style="background-image:none;">
                                <i class="fa fa-plus-square"></i> </a> 
                             {{end}}
                            </div>

                        </div>
                        {{if .ErrorsPresent}} 
                      <div class="portlet-body form" style="display:block" >
                      {{else}}  
                      <div class="portlet-body form"  style="display:none" >
                      {{end}}
                            <!-- BEGIN FORM-->
                            <form method="post" class="form-horizontal">
                            {{ .xsrfdata }}
                                <div class="form-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Jobcard No/Status </label>
                                                <div class="col-md-8">
                                                    <input type="text" class="form-control" name="jobcard_no" value="{{.FormItems.JobcardNo}}" placeholder="">
                                                    {{if .Errors.JobcardNo}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.JobcardNo}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Jobcard Date </label>
                                                <div class="col-md-8">
                                                    <div class="input-group input-medium date date-picker" data-date-format="yyyy-mm-dd" >
                                                        <input id="todays_date" type="text" class="form-control"  name="date" value="{{.FormItems.Date}}">
                                                        {{if .Errors.Date}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Date}}</span>{{end}}
                                                        <span class="input-group-btn">
																	<button class="btn default" type="button">
																		<i class="fa fa-calendar"></i>
																	</button>
																</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Order Number </label>
                                                <div class="col-md-8">
                                                    <input type="text" class="form-control" name="order_no" value="{{.FormItems.OrderNo}}">
                                                    {{if .Errors.OrderNo}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.OrderNo}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Order Date </label>
                                                <div class="col-md-8">
                                                    <div class="input-group input-medium date date-picker" data-date-format="yyyy-mm-dd" >
                                                        <input type="text" class="form-control" name="o_date" value="{{.FormItems.OrderDate}}">
                                                        {{if .Errors.OrderDate}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.OrderDate}}</span>{{end}}
                                                        <span class="input-group-btn">
																	<button class="btn default" type="button">
																		<i class="fa fa-calendar"></i>
																	</button>
																</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Invoice No </label>
                                                <div class="col-md-8">
                                                    <input type="text" class="form-control" name="invoice_no" value="{{.FormItems.InvoiceNo}}">
                                                    {{if .Errors.InvoiceNo}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.InvoiceNo}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Invoice Date </label>
                                                <div class="col-md-8">
                                                    <div class="input-group input-medium date date-picker" data-date-format="yyyy-mm-dd" >
                                                        <input type="text" class="form-control" nmae="i_date" value="{{.FormItems.InvoiceDate}}">
                                                        {{if .Errors.InvoiceDate}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.InvoiceDate}}</span>{{end}}
                                                        <span class="input-group-btn">
																	<button class="btn default" type="button">
																		<i class="fa fa-calendar"></i>
																	</button>
																</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Customer Name </label>
                                                <div class="col-md-8">
                                                    <input type="text" class="form-control" name="name" value="{{.FormItems.CustName}}" placeholder="">
                                                    {{if .Errors.CustName}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.CustName}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Serial No </label>
                                                <div class="col-md-8">
                                                    <input type="text" class="form-control" name="sr_no" value="{{.FormItems.SrNo}}" placeholder="">
                                                    {{if .Errors.SrNo}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.SrNo}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>QC Date </label>
                                                <div class="col-md-8">
                                                    <div class="input-group input-medium date date-picker" data-date-format="yyyy-mm-dd" >
                                                        <input type="text" class="form-control" name="qc_date" value="{{.FormItems.QCDate}}">
                                                        {{if .Errors.QCDate}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.QCDate}}</span>{{end}}
                                                        <span class="input-group-btn">
																	<button class="btn default" type="button">
																		<i class="fa fa-calendar"></i>
																	</button>
																</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group last">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Special Test </label>
                                                <div class="col-md-8">
                                                    <input id="mua_min_stock_qty" type="text" name="special_test" value="{{.FormItems.SpecialTest}}" name="demo_vertical" placeholder="">
                                                    {{if .Errors.SpecialTest}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.SpecialTest}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Machine ID </label>
                                                <div class="col-md-8">
                                                    <input type="text" class="form-control" name="machine_id" value="{{.FormItems.MachineId}}" placeholder="">
                                                    {{if .Errors.MachineId}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.MachineId}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Firing System </label>
                                                <div class="col-md-8">
                                                    <input type="text" class="form-control" name="firing_system" value="{{.FormItems.FiringSystem}}" placeholder="">
                                                    {{if .Errors.FiringSystem}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.FiringSystem}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group last">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Max Oven Temp </label>
                                                <div class="col-md-8">
                                                    <input id="mua_lead_time_days" type="text" name="max_temp" value="{{.FormItems.MaxTemp}}" name="demo_vertical" placeholder="">
                                                    {{if .Errors.MaxTemp}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.MaxTemp}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group last">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Removal Temp </label>
                                                <div class="col-md-8">
                                                    <input id="mua_lead_time_days" type="text" name="removal_temp" value="{{.FormItems.RemTemp}}" name="demo_vertical" placeholder="">
                                                    {{if .Errors.RemTemp}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.RemTemp}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Preloading Check </label>
                                                <div class="col-md-8">
                                                    <input type="text" class="form-control" name="check" value="{{.FormItems.PreCheck}}" placeholder="">
                                                    {{if .Errors.PreCheck}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.PreCheck}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Operator </label>
                                                <div class="col-md-8">
                                                    <input type="text" class="form-control" name="operator" value="{{.FormItems.Operator}}" placeholder="">
                                                    {{if .Errors.Operator}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Operator}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Inspected by </label>
                                            <div class="col-md-8">
                                                <input type="text" class="form-control" name="inspected_by" value="{{.FormItems.InspectedBy}}">
                                                {{if .Errors.InspectedBy}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.InspectedBy}}</span>{{end}}
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Inspection Date </label>
                                            <div class="col-md-8">
                                                <div class="input-group input-medium date date-picker" data-date-format="yyyy-mm-dd" >
                                                    <input type="text" class="form-control" name="i_date" value="{{.FormItems.InspectionDate}}">
                                                    {{if .Errors.InspectionDate}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.InspectionDate}}</span>{{end}}
                                                    <span class="input-group-btn">
																	<button class="btn default" type="button">
																		<i class="fa fa-calendar"></i>
																	</button>
																</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Status <span class="required" aria-required="true">*</span></label>
                                            <div class="col-md-8">
                                                <select name="status" class="bs-select form-control">
                                                   <option {{if compare .FormItems.Status "1" }}selected {{end}}>1</option>
                                                        <option {{if compare .FormItems.Status "2" }}selected {{end}}>2</option>
                                                        <option {{if compare .FormItems.Status "3" }}selected {{end}}>3</option>
                                                        <option {{if compare .FormItems.Status "4" }}selected {{end}}>4</option>
                                                        <option {{if compare .FormItems.Status "5" }}selected {{end}}>5</option>
                                                </select>
                                                {{if .Errors.Status}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Status}}</span>{{end}}
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4">Notes</label>
                                            <div class="col-md-8">
                                                <textarea class="form-control" value="{{.FormItems.Notes}}" name="notes" placeholder="" rows="3"></textarea>
                                                {{if .Errors.Notes}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Notes}}</span>{{end}}
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                </div>
                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-12 " style="text-align: center;">
                                            <button type="submit" class="btn green" style="height: 40px;width: 80px">Submit</button>
                                            <button type="button" class="btn default" style="height: 40px;width: 80px">Reset</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <!-- END FORM-->
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-12">
                    <!-- BEGIN EXAMPLE TABLE PORTLET-->
                    <div class="portlet light bordered">
                        <div class="portlet-title">
                            <div class="caption font-dark">
                                <i class="icon-settings font-dark"></i>
                                <span class="caption-subject bold uppercase"> Product Views</span>
                            </div>
                            <div class="actions">
                                <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" style="width:20px; height:20px; line-height: 0.999; padding-left:4px; "> </a>
                            </div>
                        </div>

                        <div class="portlet-body " >
                            <div class="table-scrollable">
                            <table class="table table-bordered table-hover table-checkable order-column " >
                                <thead>
                                <tr>
                                    <th style="text-align: left;padding-right: 80px"> No/Status</th>
                                    <th style="text-align: left"> Date </th>
                                    <th style="text-align: left"> Order No</th>
                                    <th style="text-align: left"> Order Date </th>
                                    <th style="text-align: left"> Invoice No</th>
                                    <th style="text-align: left"> Invoice Date </th>
                                    <th style="text-align: left"> Customer Name </th>
                                    <th style="text-align: left"> Serial No </th>
                                    <th style="text-align: left"> QC Date </th>
                                    <th style="text-align: left"> Special Test</th>
                                    <th style="text-align: left"> Machine ID</th>
                                    <th style="text-align: left"> Firing System</th>
                                    <th style="text-align: left"> Max Oven Temp</th>
                                    <th style="text-align: left"> Removal Temp</th>
                                    <th style="text-align: left"> Preloading Check</th>
                                    <td style="text-align: left"> Operator</td>
                                    <th style="text-align: left"> Inspected By</th>
                                    <th style="text-align: left"> Inspection Date</th>
                                    <th style="text-align: left"> Status </th>
                                    <th style="text-align: left"> Notes</th>
                                    <th>  </th>
                                </tr>
                                </thead>
                                <tbody>
                                 {{ range $jobcard := .Retrieved }}
                                <tr class="odd gradeX">
                                    <td style="text-align: right">{{ $jobcard.jobcard_no }}</td>
                                    <td class="text-center" style="text-align: right"> {{ $jobcard.j_date }} </td>
                                    <td style="text-align: right"> {{$jobcard.purchase_service_order_fkid }} </td>
                                    <td class="text-center" style="text-align: right">{{ $jobcard.o_date }}</td>
                                    <td style="text-align: right"> {{ $jobcard.invoice_no }} </td>
                                    <td class="text-center" style="text-align: right"> {{ $jobcard.i_date }} </td>
                                    <td style="text-align: left"> {{ $jobcard.customer_name }} </td>
                                    <td style="text-align: right"> {{ $jobcard.serial_no_fkuniqueSrno }}</td>
                                    <td class="text-center" style="text-align: right">{{ $jobcard.qc_date }} </td>
                                    <td style="text-align: left"> {{ $jobcard.special_test }}</td>
                                    <td style="text-align: right">{{ $jobcard.machine_id }}</td>
                                    <td style="text-align: left"> {{ $jobcard.firing_system }}</td>
                                    <td style="text-align: right"> {{$jobcard.max_oven_temp }}</td>
                                    <td style="text-align: right"> {{ $jobcard.removal_temp }}</td>
                                    <td style="text-align: left"> {{ $jobcard.preloading_check }}</td>
                                    <td style="text-align: left">{{ $jobcard.operator }}</td>
                                    <td style="text-align: left"> {{ $jobcard.inspected_by }}</td>
                                    <td class="text-center" style="text-align: right"> {{ $jobcard.ins_date }}</td>
                                    <td style="text-align: left"> {{ $jobcard.status }} </td>
                                    <td style="text-align: left"> {{ $jobcard.notes }}</td>
                                    <td>
                                        <a href="javascript:;" data-toggle="tooltip" title="Manage">
                                            <i class="fa fa-pencil"></i>
                                        </a>
                                    </td>
                                </tr>
                                {{end}}
                                
                                </tbody>
                            </table>
                        </div>
                            <div class="actions text-right">
                                <ul class="pagination">
                                  <li class="active"><a href="#">1</a></li>
                                  <li ><a href="#">2</a></li>
                                  <li><a href="#">3</a></li>
                                  <li><a href="#">4</a></li>
                                  <li><a href="#">5</a></li>
                                </ul>
                                <div class="dropup ">
                                    <button class="btn btn-default dropdown-toggle " type="button"  data-toggle="dropdown">Export
                                        <span class="caret"></span></button>
                                    <ul class="dropdown-menu pull-right">
                                        <li role="presentation"><a tabindex="-1" href="#">Print</a></li>
                                        <li role="presentation"><a tabindex="-1" href="#">PDF</a></li>
                                        <li role="presentation"><a tabindex="-1" href="#">Excel</a></li>
                                        <li role="presentation"><a tabindex="-1" href="#">CSV</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END EXAMPLE TABLE PORTLET-->
                </div>
            </div>
            <!-- responsive -->
            <div id="responsive" class="modal fade" tabindex="-1" data-width="760">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">Add Inventory</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- BEGIN FORM-->
                            <form action="#" class="form-horizontal" >
                                <div class="form-body">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Item name <span class="required" aria-required="true">*</span></label>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control" placeholder="Item Name">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Date <span class="required" aria-required="true">*</span></label>
                                        <div class="col-md-4">
                                            <div class="input-group input-medium date date-picker" data-date-format="dd-mm-yyyy" data-date-start-date="+0d">
                                                <input type="text" class="form-control" readonly placeholder="Date">
                                                <span class="input-group-btn">
															<button class="btn default" type="button">
																<i class="fa fa-calendar"></i>
															</button>
														</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Date of Delivery <span class="required" aria-required="true">*</span></label>
                                        <div class="col-md-4">
                                            <div class="input-group input-medium date date-picker" data-date-format="dd-mm-yyyy" data-date-start-date="+0d">
                                                <input type="text" class="form-control" readonly placeholder="Date of Delivery">
                                                <span class="input-group-btn">
															<button class="btn default" type="button">
																<i class="fa fa-calendar"></i>
															</button>
														</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Suppliers <span class="required" aria-required="true">*</span></label>
                                        <div class="col-md-4">
                                            <input type="text" id="typeahead_example_1" name="typeahead_example_1" class="form-control" placeholder="E.g: metronic, keenthemes"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Location <span class="required" aria-required="true">*</span></label>
                                        <div class="col-md-4">
                                            <select class="bs-select form-control">
                                                <option>Option 1</option>
                                                <option>Option 2</option>
                                                <option>Option 3</option>
                                                <option>Option 4</option>
                                                <option>Option 5</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Existing Quantity</label>
                                        <div class="col-md-4">
                                            <p class="form-control-static"> 100 </p>
                                        </div>
                                    </div>
                                    <div class="form-group last">
                                        <label class="control-label col-md-3">Quantity Purchased <span class="required" aria-required="true">*</span></label>
                                        <div class="col-md-4">
                                            <input id="sai_qty_purchased" type="text" value="" name="demo_vertical" placeholder="Quantity Purchased">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-3">Total Price <span class="required" aria-required="true">*</span></label>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control" id="sai_total_price" placeholder="Total Price">
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <!-- END FORM-->
                        </div>

                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-outline dark">Close</button>
                    <button type="button" class="btn green">Submit</button>
                </div>
            </div>

            <!-- END PAGE BASE CONTENT -->
        </div>
        <!-- END CONTENT BODY -->
    </div>
    <!-- END CONTENT -->
       
        {{end}}

        {{ define "pagelevelplugins" }}
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="https://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>
<script src="/static/assets/global/plugins/fuelux/js/spinner.min.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/bootstrap-select/js/bootstrap-select.min.js" type="text/javascript"></script>
<script src="/static/assets/global/scripts/datatable.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->       
        {{ end }}

        {{define "pagelevelscripts"}} 
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="/static/assets/pages/scripts/components-bootstrap-select.min.js" type="text/javascript"></script>
<script src="/static/assets/pages/scripts/components-bootstrap-touchspin.js" type="text/javascript"></script>
<script src="/static/assets/pages/scripts/table-datatables-managed.js" type="text/javascript"></script>
<script src="/static/assets/pages/scripts/ui-extended-modals.min.js" type="text/javascript"></script>
<script type="text/javascript">
    var todaysDate = new Date();
    function convertDate(date) {
        var yyyy = date.getFullYear().toString();
        var mm = (date.getMonth()+1).toString();
        var dd  = date.getDate().toString();

        var mmChars = mm.split('');
        var ddChars = dd.split('');

        return yyyy + '-' + (mmChars[1]?mm:"0"+mmChars[0]) + '-' + (ddChars[1]?dd:"0"+ddChars[0]);
    }

    document.getElementById('todays_date').value = convertDate(todaysDate);
</script>
<script type="text/javascript">
             $('.date-picker').datepicker({
             pickerPosition: "bottom-left"
             });
         </script>
<!-- END PAGE LEVEL SCRIPTS -->
{{end}}