{{ template "master_layout.html" . }}

{{ define "pagelevelstyles"}}
<!-- BEGIN PAGE LEVEL STYLES -->
<link href="/static/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
 <link href="/static/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.css" rel="stylesheet" type="text/css" />
 <link href="/static/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
 <link href="/static/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/global/plugins/typeahead/typeahead.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/global/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/global/plugins/ion.rangeslider/css/ion.rangeSlider.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/global/plugins/ion.rangeslider/css/ion.rangeSlider.skinFlat.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/global/plugins/bootstrap-markdown/css/bootstrap-markdown.min.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/global/plugins/bootstrap-summernote/summernote.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/global/plugins/typeahead/typeahead.css" rel="stylesheet" type="text/css" />
<!-- END PAGE LEVEL STYLES -->
{{end}}

{{ define "content" }}    
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">
            <!-- BEGIN PAGE BASE CONTENT -->
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet light bordered">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="icon-equalizer font-green"></i>
                                <span class="caption-subject bold font-green uppercase">Production / Queue</span>
                            </div>
                            <div class="actions">
                                <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" style="width:20px; height:20px; line-height: 0.999; padding-left:4px; "> </a>
                            </div>
                        </div>
                        <div class="portlet-body form">
							<!-- BEGIN FORM-->
							<form method="post" class="horizontal-form">
							{{ .xsrfdata }}
								<div class="form-body">
									
									<div class="row">
										<div class="col-md-2">
											<label class="control-label">Choose Product</label>
										</div>
										<div class="col-md-3">
											<div class="form-group">
												<select name="product_name" class="form-control select2" data-placeholder="Choose a Product">
													<option disabled selected value> -- Choose a Product -- </option>
													{{ range $products := .Retrieved }}
													<option value="{{ $products.invoice_narration }}" {{if compare $.FormItems.Productq $products.invoice_narration }} selected {{end}}>[{{ $products.item_code_gen }}] {{ $products.invoice_narration }} (UOM:{{ $products.unit_measure }})</option>
													{{end}}
												</select>
											</div>
										</div>
									</div>
									<!--/row-->
									<div class="row">
										<div class="col-md-2">
											<label class="control-label">OR   Search by status</label>
										</div>
										<div class="col-md-3">
											<div class="form-group">
											   <select data-size="5" class="bs-select form-control" name="status">
											   		<option value="" disabled selected>Choose a status</option>
													<option>Pending</option>
													<option>In Queue</option>
													<option>Production</option>
													<option>Completed</option>
													<option>Rejected</option>
													<option>On Hold</option>
												</select>
											</div>
										</div>
									</div>
									
									<div class="row">
										<div class="col-md-2">
											<label class="control-label">OR   Search by type</label>
										</div>
										<div class="col-md-3">
											<div class="form-group">
											   <select class="bs-select form-control" name="type">
											   		<option value="" disabled selected>Choose a type</option>
													<option>Against SO</option>
													<option>Production Order</option>
												</select>
											</div>
										</div>

									</div>
                                        <div class="form-group" >
                                        <!--     <label class="control-label">&nbsp;</label><br> -->
                                        	<!-- <span style="margin-top:10px;"></span> -->
                                            <button  type="submit" class="btn green btn-search" style="margin-top:10px;height: 35px; width: 100px;"> Search</button>
                                        </div>
                                    <!--/span-->
									<!--/row-->
								</div>
							</form>
							<!-- END FORM-->
						</div>
						
					</div>
                </div>
                </div>
                 <div class="row">
                <div class="col-md-12">
                <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-dark">
                        <i class="icon-settings font-dark"></i>
                        <span class="caption-subject bold uppercase"> List</span>
                    </div>
                    <div class="actions">
                        <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" style="width:20px; height:20px; line-height: 0.999; padding-left:4px; "> </a>
                    </div>
                </div>
                <div class="portlet-body">
            <table class="table table-bordered table-hover table-checkable order-column" id="production_queue_table" >
                                <thead>
                                    <tr>
                                    	<th style="width:250px; text-align: left; padding-left: 5px;">Product Name (Code)</th>
                                        <th style="width:100px; text-align: left;">Quantity</th>
                                        <th style="width:50px; text-align: left;">UOM</th>
                                        <th style="width:50px; text-align: left;">Type</th>
                                        <th style="width:90px; text-align: left;">So/Prod No</th>
                                        <th style="width:80px; text-align: left;">Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{ range $queues := .RetrievedProductionQueue }}
                                    <tr>
                                    	<td style=" text-align: left; padding-left: 5px;">{{ $queues.invoice_narration }}({{ $queues.product_org_code }})</td>
                                        <td style=" text-align: right;">{{ $queues.qty }}</td>
                                        <td style=" text-align: left;">{{ $queues.uom }}</td>
                                        <td style=" text-align: left;">
                                        	{{if compare $queues.type 0}}
                                        		Against SO
                                        	{{else if compare $queues.type 1 }}
                                        		Production Order
                                        	{{end}}
                                        </td>
                                        <td style=" text-align: right;">
                                        	{{ $queues.Number }}
                                        	<!-- {{if compare $queues.type 0 }}
                                        		{{ $queues.so_ono }}
                                    		{{else if compare $queues.status 1 }}
                                        		{{ $queues.po_ono }}
                                        	{{end}} -->
                                        </td>
                                        <td  style=" text-align: left;">
                                        	{{if compare $queues.status 0 }}
                                        		Pending
                                        	{{else if compare $queues.status 1 }}
                                        		In Queue
                                        	{{else if compare $queues.status 2 }}
                                        		Production
                                        	{{else if compare $queues.status 3 }}
                                        		Completed
                                    		{{else if compare $queues.status 4 }}
                                    			Rejected
                                    		{{else if compare $queues.status 5 }}
                                    			On Hold
                                    		{{end}}
                                        </td>
                                    </tr>
                                    {{end}}
                                </tbody>
                            </table>
							<!-- <div class="actions text-right">
								<div class="dropup ">
									<button class="btn btn-default dropdown-toggle " type="button"  data-toggle="dropdown">Export
										<span class="caret"></span></button>
									<ul class="dropdown-menu pull-right">
										<li role="presentation"><a tabindex="-1" href="#">Print</a></li>
										<li role="presentation"><a tabindex="-1" href="#">PDF</a></li>
										<li role="presentation"><a tabindex="-1" href="#">Excel</a></li>
										<li role="presentation"><a tabindex="-1" href="#">CSV</a></li>
									</ul>
								</div>
							</div> -->
                  </div>

			</div>
            </div>
			</div>
			</div>
			<!-- END PAGE BASE CONTENT -->
        </div>
        <!-- END CONTENT BODY -->
    </div>
    <!-- END CONTENT -->

{{end}}

{{ define "pagelevelplugins" }}
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="/static/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/fuelux/js/spinner.min.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
<script src="/static/assets/global/scripts/datatable.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.js" type="text/javascript"></script>
 <script src="/static/assets/global/plugins/typeahead/typeahead.bundle.min.js" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->  
{{ end }}

    {{define "pagelevelscripts"}} 
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="/static/assets/pages/scripts/components-select2.min.js" type="text/javascript"></script>
	<script src="/static/assets/pages/scripts/components-bootstrap-select.min.js" type="text/javascript"></script>
    <script src="/static/assets/pages/scripts/components-bootstrap-touchspin.js" type="text/javascript"></script>
	<script src="/static/assets/pages/scripts/components-date-time-pickers.js" type="text/javascript"></script>
	<script src="/static/assets/global/plugins/ion.rangeslider/js/ion.rangeSlider.min.js" type="text/javascript"></script>
	<script src="/static/assets/pages/scripts/table-datatables-managed.js" type="text/javascript"></script>
	 <script src="/static/assets/pages/scripts/components-bootstrap-touchspin.js" type="text/javascript"></script>
	<script type="text/javascript">
		var ComponentsTypeahead = function () {

		var handleTwitterTypeahead = function() {

			// Example #1
			// instantiate the bloodhound suggestion engine
			var numbers = new Bloodhound({
			  datumTokenizer: function(d) { return Bloodhound.tokenizers.whitespace(d.num); },
			  queryTokenizer: Bloodhound.tokenizers.whitespace,
			  local: [
				{ num: 'metronic' },
				{ num: 'keenthemes' },
				{ num: 'metronic theme' },
				{ num: 'metronic template' },
				{ num: 'keenthemes team' }
			  ]
			});
			 
			// initialize the bloodhound suggestion engine
			numbers.initialize();
			 
			// instantiate the typeahead UI
			if (App.isRTL()) {
			  $('#typeahead_example_1').attr("dir", "rtl");  
			}
			$('#typeahead_example_1').typeahead(null, {
			  displayKey: 'num',
			  hint: (App.isRTL() ? false : true),
			  source: numbers.ttAdapter()
			});

		}
		var handleTwitterTypeahead2 = function() {

			// Example #1
			// instantiate the bloodhound suggestion engine
			var numbers = new Bloodhound({
			  datumTokenizer: function(d) { return Bloodhound.tokenizers.whitespace(d.num); },
			  queryTokenizer: Bloodhound.tokenizers.whitespace,
			  local: [
				{ num: 'metronic' },
				{ num: 'keenthemes' },
				{ num: 'metronic theme' },
				{ num: 'metronic template' },
				{ num: 'keenthemes team' }
			  ]
			});
			 
			// initialize the bloodhound suggestion engine
			numbers.initialize();
			 
			// instantiate the typeahead UI
			if (App.isRTL()) {
			  $('#typeahead_example_2').attr("dir", "rtl");  
			}
			$('#typeahead_example_2').typeahead(null, {
			  displayKey: 'num',
			  hint: (App.isRTL() ? false : true),
			  source: numbers.ttAdapter()
			});

		}
		
		return {
			//main function to initiate the module
			init: function () {
				handleTwitterTypeahead();
				handleTwitterTypeahead2();
			}
		};

	}();

	jQuery(document).ready(function() {    
	   ComponentsTypeahead.init(); 
	});
	</script>
	
	<script type="text/javascript">
		var ComponentsIonSliders = function() {

			var handleAdvancedDemo = function() {
				$("#range_10").ionRangeSlider({
					type: "double",
					min: 0,
					max: 100,
					from: 30,
					to: 70,
					from_fixed: true
				});
			}

			return {
				//main function to initiate the module
				init: function() {
					handleAdvancedDemo();
				}

			};

		}();

		jQuery(document).ready(function() {
			ComponentsIonSliders.init();
		});

	</script>
	<script type="text/javascript">
$(function() {
$(document).on('click','.inventoryview',function(e){
    //e.preventDefault()
var element = $(this);
var product_id = element.attr("id");
var info = 'id=' + product_id;
    $.ajax({
        type: "GET",
        url: "/stock/view-get-grn",
        data: info,
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        cache: false,
        success: function(data){ 
            
            
        } 
    });
    });
});
</script>
    <!-- END PAGE LEVEL SCRIPTS -->
    {{end}}