{{ template "master_layout.html" . }}

{{ define "pagelevelstyles"}}
<!-- BEGIN PAGE LEVEL STYLES -->

<link href="/static/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />
 <link href="/static/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.css" rel="stylesheet" type="text/css" />
 <link href="/static/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
 <link href="/static/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/global/plugins/typeahead/typeahead.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/global/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/global/plugins/ion.rangeslider/css/ion.rangeSlider.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/global/plugins/ion.rangeslider/css/ion.rangeSlider.skinFlat.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/global/plugins/bootstrap-markdown/css/bootstrap-markdown.min.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/global/plugins/bootstrap-summernote/summernote.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/global/plugins/typeahead/typeahead.css" rel="stylesheet" type="text/css" />
<!-- END PAGE LEVEL STYLES -->
{{end}}

{{ define "content" }}    
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">
            <!-- BEGIN PAGE BASE CONTENT -->
            <div class="row">
                <div class="col-md-12">
                    {{if .NoOrdersAdd}}
                    <div class="portlet light bordered" style="display: none;">
                    {{else}}
                    <div class="portlet light bordered" >
                    {{end}}
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="icon-equalizer font-green"></i>
                                <span class="caption-subject bold font-green uppercase">Create Production Order</span>
                            </div>
                            <div class="actions">
                                <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" style="width:20px; height:20px; line-height: 0.999; padding-left:4px; "> </a>
                            </div>
                            <div class="tools nts-tools faq-links" style="margin-top:0;">    
                             {{if .ErrorsPresent}} 
                                <a href=""  class="collapse btn blue" style="background-image:none; width: 60px; height: 20px; padding:0; margin-top: -6px;">
                                    <i class="fa fa-minus" style=" margin-left: -1px; margin-top: 2px;"></i><span style="font-size: smaller;">Close</span> <span style="display : none; font-size: smaller;">Add</span>
                                </a> 
                             {{else}} 
                                <a href="" class="expand btn blue" style="background-image:none; width: 60px; height: 20px; padding:0; margin-top: -6px;" >
                                    <i class="fa fa-plus" style=" margin-left: -1px; margin-top: 2px;"></i> <span style="font-size: smaller;">Add</span> <span style="display : none; font-size: smaller;">Close</span> 
                                </a>  
                             {{end}}

                            </div>
                        </div>
                        {{if .ErrorsPresent}} 
                          <div class="portlet-body form" style="display:block" >
                        {{else}}  
                          <div class="portlet-body form"  style="display:none" >
                        {{end}}
							<!-- BEGIN FORM-->
							<form method="post" class="horizontal-form">
							    {{ .xsrfdata }}
								<div class="form-body">
									<div class="row">
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4" style="text-align:right;"><span class="required" aria-required="true">*</span>Batch No </label>
                                                <div class="col-md-8">
                                                    <input name="batch_no" value="{{.genCode }}" type="text" class="form-control" placeholder="" readonly>
                                                    {{if .Errors.BatchNo }}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.BatchNo }}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4" style="text-align:right;"><span class="required" aria-required="true">*</span>Order Date </label>
                                                <div class="col-md-8">
                                                    <div class="input-group input-medium date date-picker" data-date-format="yyyy-mm-dd">
                                                        <input id="todays_date" name="order_date" type="text" class="form-control" value="{{.FormItems.OrderDate}}" readonly placeholder="">
                                                        <span class="input-group-btn">
                                                            <button class="btn default" type="button">
                                                                <i class="fa fa-calendar"></i>
                                                            </button>
                                                        </span>
                                                    </div>
                                                    {{if .Errors.OrderDate}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.OrderDate}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    </br>
                                    <!--/row-->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group last">
                                                <label class="control-label col-md-4" style="text-align:right;"><span class="required" aria-required="true">*</span>Factory Location </label>
                                                <div class="col-md-8">
                                                    <select id="ddrp_2" name="factory_location" onchange="factoryChange(this);" class="form-control select2-multiple" data-placeholder="Choose a Factory">
                                                        <option disabled selected value> -- Choose an item -- </option>
                                                        {{ range $ios := .RetrievedLocs }}
                                                        <option value="{{ $ios._id }}" {{ if compare $.FormItems.FactoryLoc $ios._id }} selected {{end}}>{{ $ios.factory_location }}</option>
                                                        {{end}}
                                                    </select>
                                                    <!--<input name="factory_location" value="{{.FormItems.FactoryLoc}}" type="text" class="form-control" placeholder="">-->
                                                    {{if .Errors.FactoryLoc}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.FactoryLoc}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group last">
                                                <label class="control-label col-md-4" style="text-align:right;"><span class="required" aria-required="true">*</span>Machine </label>
                                                <div class="col-md-8">
                                                    <select id="ddrp_3" name="machine" class="form-control select2-multiple" data-placeholder="Choose a Machine">
                                                    <!--<option disabled selected value> -- Choose an item -- </option>-->
                                                    </select>
                                                    <!--<input name="machine" value="{{.FormItems.Machine}}" type="text" class="form-control" placeholder="">-->
                                                    {{if .Errors.Machine}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Machine}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    </br>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col-md-4 control-label" style="text-align:right;"><span class="required" aria-required="true">*</span>Product </label>
                                                <div class="col-md-8">
                                                            <!--<select id="ddrp_1" name="product" onchange="productChange(this);" class="form-control select2-multiple" data-placeholder="Choose a Product">-->
                                                        <select id="ddrp_1" name="product" onchange="productChange();" class="form-control select2-multiple" data-placeholder="Choose a Product">
                                                            <option disabled selected value> -- Choose an item -- </option>
                                                            {{ range $io := .Retrievedg }}
                                                            <option value="{{ $io._id }}" {{if compare $.FormItems.Product $io._id }} selected {{end}}>[{{ $io.item_code_gen }}] {{ $io.invoice_narration }} (UOM:{{ $io.unit_measure }})</option>
                                                            {{end}}
                                                        </select>
                                                        {{if .Errors.Product}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Product}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4" style="text-align:right;"><span class="required" aria-required="true">*</span> Production Quantity </label>
                                                <div class="col-md-8">
                                                    <input name="quantity" class="form-control" type="text" value="{{.FormItems.Quantity}}" onkeyup="quantityChange(this);" placeholder="">
                                                    <!--<input name="quantity_check" type="checkbox"  {{/*if .FormItems.Check*/}} checked {{/*end*/}}> Send for production even if sufficient stock is not available-->
                                                    <!--<span class="help-block" style="font-size:13px;">This quantity exceeds available quantity .</span>-->
                                                    {{if .quantity_exceeds}}<span class="help-block" style="font-size:13px; color:#e73d4a;">The required stock of items are not available to produce this product.</span>
                                                    {{else if .NoStock}}<span class="help-block" style="font-size:13px; color:#e73d4a;">The item required is not available in stock .</span>
                                                    {{end}}
                                                    {{if .Errors.Quantity}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Quantity}}{{end}}</span>
                                                </div>
                                                
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>
									<br>
                                    <!--<div class="row">-->
                                        <!--<div class="col-md-6">-->
                                            <!--<div class="form-group" style="margin-top:15px; text-align: center;">-->
                                                <!--<label class="control-label col-md-4"></label>-->
                                                <!--<div class="col-md-8">-->
                                                   <!--<button name="pr-button" value="bom" type="submit" class="btn green" style="height:30px;">Show BOM Details</button>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                        
                                        <!--<br>
                                        </br>
                                        <div class="col-md-12">
                                        <table class="table table-bordered table-hover table-checkable order-column" style="margin-left:30px; margin-top:-15px; width:94%; ">
                                            <thead>
                                                <tr>
                                                    <th style=" width:200px; text-align: left; padding-left:5px;">Item Name</th>
                                                    <th style="width:50px; text-align: center;">Quantity Used</th>
                                                    <th style="width:50px; text-align: center;">Quantity Wasted</th>
                                                    <th style="width:50px; text-align: center;">Quantity In Stock</th>
                                                    <th style="width:50px; text-align: center;">UOM</th>
                                                    
                                                </tr>
                                            </thead>
                                        <tbody> 
                                                {{ range $items := .RetrievedBOM }}
                                                {{if compare $items.status nil}}
                                            <tr>
                                                    <td style=" text-align: left; padding-left:5px;border-right:0px;border-left:0px" ></td>
                                                    <td style=" text-align: right;border-right:0px;border-left:0px"> </td>
                                                    <td style=" text-align: left;border-right:0px;border-left:0px">No BOM Details</td>
                                                    <td style=" text-align: right;border-right:0px;border-left:0px"></td>
                                                    <td style=" text-align: left;border-right:0px;border-left:0px"></td>
                                                    <input type="text" name="st" value="1" hidden >
                                                </tr>
                                                {{else}}
                                                                                        
                                                <tr>
                                                    <td style=" text-align: left; padding-left:5px;" >{{ $items.invoice_narration}}</td>
                                                    <td style=" text-align: right;">{{ $items.quantity }} </td>
                                                    <td style=" text-align: right;">{{ $items.wastage }}</td>
                                                    <td style=" text-align: right;">{{ $items.total_quantity }}</td>
                                                    <td style=" text-align: left;">{{$items.unit_measure}}</td>
                                                </tr>
                                                {{end}}
                                                {{end}}
                                            </tbody>
                                        </table>
                                        </div>
                                    </div>-->

                                    <div class="row">
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4" style="text-align:right;"><span class="required" aria-required="true">*</span>Production Start Date </label>
                                                <div class="col-md-8">
                                                    <div class="input-group input-medium date form_datetime" data-date-format="yyyy-mm-dd hh:ii:ss">
                                                        <input type="text" name="start_date"  value="{{.FormItems.SDate}}"  size="16" readonly="" class="form-control ">
                                                        <span class="input-group-btn">
                                                            <button class="btn default date-set" type="button">
                                                                <i class="fa fa-calendar"></i>
                                                            </button>
                                                        </span>
                                                    </div>
                                                    <!--<div class="input-group input-medium date date-picker" data-date-format="yyyy-mm-dd">
                                                        <input name="start_date" type="text" class="form-control" value="{{.FormItems.EDate}}" readonly placeholder="">
                                                        <span class="input-group-btn">
                                                            <button class="btn default" type="button">
                                                                <i class="fa fa-calendar"></i>
                                                            </button>
                                                        </span>
                                                    </div>-->
                                                    {{if .Errors.SDate}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.SDate}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4" style="text-align:right;"><span class="required" aria-required="true">*</span>Production End Date </label>
                                                <div class="col-md-8">
                                                    <div class="input-group date form_datetime" data-date-format="yyyy-mm-dd hh:ii:ss">
                                                        <input type="text" name="end_date"  value="{{.FormItems.EDate}}"  size="16" class="form-control">
                                                        <span class="input-group-btn">
                                                            <button class="btn default date-set" type="button">
                                                                <i class="fa fa-calendar"></i>
                                                            </button>
                                                        </span>
                                                    </div>

                                                    <!--<div class="input-group input-medium date date-picker" data-date-format="yyyy-mm-dd">
                                                        <input name="end_date" type="text" class="form-control" value="{{.FormItems.EDate}}" readonly placeholder="">
                                                        <span class="input-group-btn">
                                                            <button class="btn default" type="button">
                                                                <i class="fa fa-calendar"></i>
                                                            </button>
                                                        </span>
                                                    </div>-->
                                                    {{if .Errors.EDate}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.EDate}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top: 10px; margin-bottom:10px;">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-10" style="text-align:right;">Show only BOM materials code in job card  </label>
                                                <div class="col-md-2">
                                                    <label class="mt-checkbox" style="margin-top:0px;">
                                                        <input name="showBom" type="checkbox"  {{if compare .FormItems.ShowBom ""}} {{else}} checked {{end}}> 
                                                        <span></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4" style="text-align:right;">Edit BOM </label>
                                                <div class="col-md-8">
                                                    <label class="mt-checkbox" style="margin-top:0px;">
                                                        <input name="editBom" type="checkbox"  {{if .FormItems.EditBom}} checked {{end}}> 
                                                        <span></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4" style="text-align:right;">Assign Batch </label>
                                                <div class="col-md-8">
                                                    <label class="mt-checkbox" style="margin-top:0px;">
                                                        <input name="assignBatch" type="checkbox"  {{if .FormItems.AssignBatch}} checked {{end}}> 
                                                        <span></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="margin: 10px;"></div>
                                    <p id="bom_items"></p>
                                    <!--{{ range $itemss := .RetrievedBOM }}
                                        {{if compare $itemss.status nil}}
                                        <div class="form-actions">
                                        <div class="row">
                                            <div class="col-md-12" style="text-align: center;">
                                                <button type="button" disabled name="pr-button" value="send_for_approval" class="btn green" style="height: 40px;">Send For Approval</button>
                                                <button type="button" disabled name="pr-button" value="approved" class="btn blue" style="height: 40px;">Approved and Add to Queue</button>
                                                <button type="button" disabled class="btn default" style="height: 40px;width: 80px">Reset</button>
                                            </div>
                                        </div>
                                    </div>
                                    {{else}}
                                    <div class="form-actions">
                                        <div class="row">
                                            <div class="col-md-12" style="text-align: center;">
                                                <button type="submit" name="pr-button" value="send_for_approval" class="btn green" style="height: 40px;">Send For Approval</button>
                                                <button type="submit" name="pr-button" value="approved" class="btn blue" style="height: 40px;">Approved and Add to Queue</button>
                                                <button type="button" class="btn default" style="height: 40px;width: 80px">Reset</button>
                                            </div>
                                        </div>
                                    </div>
                                    {{end}}
                                    {{end}}-->
                                    <div class="form-actions">
                                        <div class="row">
                                            <div class="col-md-12" style="text-align: center;">
                                                <!-- <button type="submit" name="pr-button" value="send_for_approval" class="btn purple" style="height: 40px;">Send For Approval</button> -->
                                                <button type="submit" name="pr-button" value="approved" class="btn green-jungle" style="height: 40px;">Approve and Add to Queue</button>
                                                <button id="start_production" type="submit" name="pr-button" value="production" class="btn blue-hoki" style="height: 40px;">Approve and Start Production</button>
                                                <!-- <button type="button" class="btn default" style="height: 40px;width: 80px">Reset</button> -->
                                            </div>
                                        </div>
                                    </div>
        
                                    <!--/span-->
									<!--/row-->
								</div>
							</form>
							<!-- END FORM-->
						</div>
						
					</div>
                </div>
                </div>
                 <div class="row">
                    <div class="col-md-12">
                        <div class="portlet light bordered">
                            <div class="portlet-title">
                                <div class="caption font-dark">
                                    <i class="icon-settings font-dark"></i>
                                    <span class="caption-subject bold uppercase"> List of Production Orders</span>
                                </div>
                                <div class="actions">
                                    <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" style="width:20px; height:20px; line-height: 0.999; padding-left:4px; "> </a>
                                </div>
                            </div>

                            <!-- PO server-side Search FORM-->
                            <form method="POST" class="form-horizontal">
                                <input type="hidden" name="SearchProductionOrder" value="ProductionOrder_Search" /> {{ .xsrfdata }}
                                <div class="form-body">
                                    <div class="row">
                                        <div class="col-sm-1" style="width:40px;">
                                            <div class="form-group">
                                                <div class="radio" style="padding-left:15px;">
                                                    <label><input type="radio"  name="SearchPO" value="SearchBy_PODetails" {{.SearchByPODetailsChecked}}></label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            
                                            <div class="col-md-10">
                                                <div class="form-group">
                                                    <input type="ProductName" name="ProductName" class="form-control" id="ProductName" placeholder="Product Name" value="{{.SearchItems.ProductName}}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <input type="FactoryLocation" name="FactoryLocation" class="form-control" id="Factory" placeholder="Factory Location" value="{{.SearchItems.FactoryLocation}}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <input type="Machine" name="Machine" class="form-control" id="Machine" placeholder="Machine" value="{{.SearchItems.Machine}}">
                                                </div>
                                            </div>  
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-1" style="width:40px;">
                                            <div class="form-group">
                                                <div class="radio" style="padding-left:15px;">
                                                    <label><input type="radio" name="SearchPO" value="SearchPO_BydateRange" {{.SearchPOBydateRangeChecked}}></label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            
                                            <div class="col-md-10">
                                                <div class="form-group">
                                                    <div class="input-group input-medium date date-picker" data-date-format="yyyy-mm-dd">
                                                        <input name="po_FromDate" id="po_FromDate" type="text" class="form-control"  readonly placeholder="Production Start" value="{{.SearchItems.FromOrderDate}}">
                                                        <span class="input-group-btn">
                                                            <button class="btn default" type="button">
                                                                <i class="fa fa-calendar"></i>
                                                            </button>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> 
                                        <div class="col-md-3">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <div class="input-group input-medium date date-picker" data-date-format="yyyy-mm-dd">
                                                        <input name="po_ToDate" id="po_ToDate" type="text" class="form-control"  readonly placeholder="Production Stop" value="{{.SearchItems.ToOrderDate}}">
                                                        <span class="input-group-btn">
                                                            <button class="btn default" type="button">
                                                                <i class="fa fa-calendar"></i>
                                                            </button>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>    
                                        </div> 
                                    </div>
                                    <div class="row" style="text-align:center">
                                        <div class="col-md-12" style="text-align:center">
                                            <button type="submit" class="btn green" name="PO-search" value="SearchPODetails" style="height: 35px;width: 80px" onclick="return onToDateSelect();">Search</button>
                                            <button type="submit" class="btn default" name="Reset-POSearch" value="ResetPOSearch" style="height: 35px;width: 80px">Reset</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <!-- END FORM-->

                            <div class="portlet-body">
                                <table class="table table-bordered table-hover dataTable table-checkable order-column" id="Customer_Support_table">
                                    <thead>
                                        <tr>
                                            <th style="text-align: left; padding-left:5px;">Batch No</th>
                                            <th style="width:250px; text-align: left;">Product Name</th>
                                            <th style="width:50px; text-align: left;">Quantity</th>
                                            <th style="text-align: left;">Added On</th>
                                            <th style="width:90px; text-align: left;">Start Date</th>
                                            <th style="width:80px; text-align: left;">End Date</th>
                                            <th style="width:80px; text-align: left;">Machine</th>
                                            <th style="width:80px; text-align: left;">Factory Location</th>
                                            <th style="width:80px; text-align: left;">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{ range $items := .RetrievedProductionOrder }}
                                        <tr>
                                            <td style=" text-align: right; padding-right: 5px;">{{ $items.batch_no }}</td>                                            
                                            <td style=" text-align: left;">{{ $items.name }}</td>
                                            <td style=" text-align: right;">{{ $items.qty }}</td>
                                            <input type="hidden" id="qty" value="{{ $items.qty }}" />
                                            <td style=" text-align: left;">{{ $items.o_date }}</td>
                                            <td style=" text-align: left;">{{ $items.start_date }}</td>
                                            <td style=" text-align: left;">{{ $items.end_date }}</td>
                                            <td style=" text-align: left;">{{ $items.machine_name }}</td>
                                            <td style=" text-align: left;">{{ $items.factory_location }}</td>
                                            <td class="text-center">
                                                <a  id="{{ $items._id}}" class="productview" onclick="GetBOMforModal({{ $items._id}}, {{$items.item_org_assoc_fkid}}, {{ $items.geo_location }});" data-toggle="modal" data-target="#poModal_{{ $items.batch_no }}" data-toggle="tooltip" title="View">
                                                    <i class="fa fa-eye"></i>
                                                </a>


                                                {{if (or (compare $items.status 0) (compare $items.status 99))}}                                                
                                                    <a class="statusupdate"  data-toggle="tooltip" title="sent for approval">
                                                        <i class="fa fa-circle" aria-hidden="true" style="color: purple"></i>
                                                    </a>
                                                {{else if (or (compare $items.status 1) (compare $items.status 19)) }}
                                                    <a  class="statusupdate"  data-toggle="tooltip" title="In Queue">
                                                        <i class="fa fa-circle" aria-hidden="true" style="color: green"></i>
                                                    </a>
                                                {{else if (or (compare $items.status 2) (compare $items.status 29)) }}
                                                <a  href="/production/edit-production-order?productionId={{ $items._id}}" class="productedit" title="Edit">
                                                    <i class="fa fa-pencil-square"></i>
                                                </a>
                                                    <a class="statusupdate"  data-toggle="tooltip" title="Production">
                                                        <i class="fa fa-cog" aria-hidden="true"></i>
                                                    </a>
                                                {{else if compare $items.status 3 }}
                                                    <a class="statusupdate"  data-toggle="tooltip" title="Completed">
                                                        <i class="fa fa-circle" aria-hidden="true" style="color: blue"></i>
                                                    </a>
                                                {{else if compare $items.status 4 }}
                                                    <a class="statusupdate"  data-toggle="tooltip" title="Rejected">
                                                        <i class="fa fa-circle" aria-hidden="true" style="color: red"></i>
                                                    </a>
                                                {{else if compare $items.status 5 }}
                                                    <a class="statusupdate"  data-toggle="tooltip" title="On Hold">
                                                        <i class="fa fa-circle" aria-hidden="true" style="color: orange"></i>
                                                    </a>
                                                {{end}}
                                            </td>
                                        </tr>
                                        {{end}}
                                    </tbody>
                                </table>

                                        <!-- <div class="actions text-right">
                                            <div class="dropup ">
                                                <button class="btn btn-default dropdown-toggle " type="button"  data-toggle="dropdown">Export
                                                    <span class="caret"></span></button>
                                                <ul class="dropdown-menu pull-right">
                                                    <li role="presentation"><a tabindex="-1" href="#">Print</a></li>
                                                    <li role="presentation"><a tabindex="-1" href="#">PDF</a></li>
                                                    <li role="presentation"><a tabindex="-1" href="#">Excel</a></li>
                                                    <li role="presentation"><a tabindex="-1" href="#">CSV</a></li>
                                                </ul>
                                            </div>
                                        </div> -->
                            </div>

                        </div>
                    </div>
                </div>
			</div>
			<!-- END PAGE BASE CONTENT -->
        </div>
        <!-- END CONTENT BODY -->
    </div>
    {{ range $pom := .RetrievedProductionOrder }}                                 
        <div id="poModal_{{ $pom.batch_no }}" class="modal fade bs-modal-lg" role="dialog">
            <div class="modal-dialog modal-lg">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="portlet-title">
                            <div class="caption font-dark">
                                <i class="icon-settings font-dark"></i>
                                    <span class="caption-subject bold uppercase"> Production Order Details</span>
                                <!-- <span class="caption-subject bold uppercase"> Company details</span> -->
                                <i class="fa fa-print no-print" title="Print" style="float:right;" onclick="jQuery('#poModal_{{ $pom.batch_no }}').print()"></i>
                            </div>
                        </div>
                        <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
                    </div>
                    <div class="modal-body">
                        <table class="col-md-12" style="margin-bottom: 15px;">
                            <tr>
                                <th class="col-md-3">Batch No.:</th>
                                <td class="col-md-3">{{ $pom.batch_no }}</td>
                                <th class="col-md-3">Order Date:</th>
                                <td class="col-md-3">{{ $pom.o_date }}</td>
                            </tr>
                            <tr>
                                <th class="col-md-3">Factory Location:</th>
                                <td class="col-md-3">{{ $pom.factory_location }}</td>
                                <th class="col-md-3">Machine:</th>
                                <td class="col-md-3">{{ $pom.machine_name }}</td>
                            </tr>
                            <!--<div class="row">
                                <div class="col-sm-6">
                                    <lable class="col-md-5 control-label bold">Batch No.:</lable>
                                    <div class="col-md-7">{{$pom.batch_no }}</div>
                                </div>
                                <div class="col-sm-6">
                                    <lable class="col-md-5 control-label bold">Order Date:</lable>
                                    <div class="col-md-7">{{ $pom.o_date }}</div>
                                </div>
                            </div>-->
                            <tr>
                                <th class="col-md-3">Product Name:</th>
                                <td class="col-md-3">{{ $pom.name }}</td>
                                <th class="col-md-3">Quantity:</th>
                                <td class="col-md-3">{{ $pom.qty }}</td>
                            </tr>
                            <!--<div class="row">
                                <div class="col-sm-6">
                                    <lable class="col-md-5 control-label bold">Product Name:</lable>
                                    <div class="col-md-7">{{ $pom.product_org_name }}</div>
                                </div>
                                <div class="col-sm-6">
                                    <lable class="col-md-5 control-label bold">Quantity:</lable>
                                    <div class="col-md-7">{{ $pom.qty }}</div>
                                </div>
                            </div>-->
                            <tr>
                                <th class="col-md-3">UOM:</th>
                                <td class="col-md-3">{{ $pom.uom }}</td>
                                <th class="col-md-3"></th>
                                <td class="col-md-3"></td>
                            </tr>
                            <!--<div class="row">
                                <div class="col-sm-6">
                                    <lable class="col-md-5 control-label bold">UOM:</lable>
                                    <div class="col-md-7">{{$pom.uom }}</div>
                                </div>
                                <div class="col-sm-6">
                                    <lable class="col-md-5 control-label bold">Production Start:</lable>
                                    <div class="col-md-7">{{ $pom.start_date }}</div>
                                </div>
                            </div>-->
                            <tr>
                                <th class="col-md-3">Start Date:</th>
                                <td class="col-md-3">{{ $pom.start_date }}</td>
                                <th class="col-md-3">End Date:</th>
                                <td class="col-md-3">{{ $pom.end_date }}</td>
                            </tr>
                            <!--<div class="row">
                                <div class="col-sm-6">
                                    <lable class="col-md-5 control-label bold" style="padding-right: 0px;">Production Stop:</lable>
                                    <div class="col-md-7">{{ $pom.end_date }}</div>
                                </div>
                                <div class="col-sm-6">
                                    <lable class="col-md-5 control-label bold">Status:</lable>
                                    <div class="col-md-7">{{ $pom.status }}</div>
                                </div>
                            </div>-->
                            <tr style="height: 10px"></tr>
                            <tr>
                                <th class="col-md-3">Status:</th>
                                <td class="col-md-3" style="font-size:large;">{{if compare $pom.status 0 }}Sent For Approval{{else if compare $pom.status 1 }}In Queue{{else if compare $pom.status 2 }}In Production{{else if compare $pom.status 3 }}Completed{{else if compare $pom.status 4 }}Cancelled{{else if compare $pom.status 5 }}On Hold{{end}}</td>
                                <th class="col-md-3"></th>
                                <td class="col-md-3"></td>
                            </tr>
                       </table>
                        <div class="row">
                            <div class="col-sm-12">
                            {{if compare $pom.status 0 }}
                            <button id="queue_{{$pom._id }}" type="submit" name="assoc-button" value="in_queue" class="btn green-jungle status-btn no-print" class="col-md-2" style="height: 40px;width: 215px">Approve and Add To Queue</button>
                            <button id="production_{{$pom._id }}" type="submit" name="assoc-button" value="production" class="btn blue-hoki status-btn no-print" class="col-md-2" style="height: 40px;width: 250px">Approve and Start Production</button>
                            <button id="rejected_{{$pom._id }}" type="submit" name="assoc-button" value="rejected" class="btn red status-btn no-print" class="col-md-2" style="height: 40px;width: 120px">Cancel</button>
                            <button id="hold_{{$pom._id }}" disabled type="submit" name="assoc-button" value="on_hold" class="btn yellow status-btn no-print" class="col-md-2" style="height: 40px;width: 200px">Production On Hold</button>
                            <button id="completed_{{$pom._id }}" disabled type="submit" name="assoc-button" value="completed" class="btn blue status-btn no-print" class="col-md-2" style="height: 40px;width: 215px">Production Completed</button>

                            {{else if compare $pom.status 1 }}
                            <button id="queue_{{$pom._id }}" disabled type="submit" name="assoc-button" value="in_queue" class="btn green-jungle status-btn no-print" class="col-md-2" style="height: 40px;width: 215px">Approve and Add To Queue</button>
                            <button id="production_{{$pom._id }}" type="submit" name="assoc-button" value="production" class="btn blue-hoki status-btn no-print" class="col-md-2" style="height: 40px;width: 250px">Approve and Start Production</button>
                            <button id="rejected_{{$pom._id }}" type="submit" name="assoc-button" value="rejected" class="btn red status-btn no-print" class="col-md-2" style="height: 40px;width: 120px">Cancel</button>
                            <button id="hold_{{$pom._id }}" disabled type="submit" name="assoc-button" value="on_hold" class="btn yellow status-btn no-print" class="col-md-2" style="height: 40px;width: 200px">Production On Hold</button>
                            <button id="completed_{{$pom._id }}" disabled type="submit" name="assoc-button" value="completed" class="btn blue status-btn no-print" class="col-md-2" style="height: 40px;width: 215px">Production Completed</button>

                            {{else if compare $pom.status 2 }}
                            <button id="queue_{{$pom._id }}" disabled type="submit" name="assoc-button" value="in_queue" class="btn green-jungle status-btn no-print" class="col-md-2" style="height: 40px;width: 215px">Approve and Add To Queue</button>
                            <button id="production_{{$pom._id }}" disabled type="submit" name="assoc-button" value="production" class="btn blue-hoki status-btn no-print" class="col-md-2" style="height: 40px;width: 250px">Approve and Start Production</button>
                            <button id="rejected_{{$pom._id }}" type="submit" name="assoc-button" value="rejected" class="btn red status-btn no-print" class="col-md-2" style="height: 40px;width: 120px">Cancel</button>
                            <button id="hold_{{$pom._id }}" type="submit" name="assoc-button" value="on_hold" class="btn yellow status-btn no-print" class="col-md-2" style="height: 40px;width: 200px">Production On Hold</button>
                            <button id="completed_{{$pom._id }}" type="submit" name="assoc-button" value="completed" class="btn blue status-btn no-print" class="col-md-2" style="height: 40px;width: 215px">Production Completed</button>

                            {{else if compare $pom.status 3 }}
                            <button id="queue_{{$pom._id }}" disabled type="submit" name="assoc-button" value="in_queue" class="btn green-jungle status-btn no-print" class="col-md-2" style="height: 40px;width: 215px">Approve and Add To Queue</button>
                            <button id="production_{{$pom._id }}" disabled type="submit" name="assoc-button" value="production" class="btn blue-hoki status-btn no-print" class="col-md-2" style="height: 40px;width: 250px">Approve and Start Production</button>
                            <button id="rejected_{{$pom._id }}" disabled type="submit" name="assoc-button" value="rejected" class="btn red status-btn no-print" class="col-md-2" style="height: 40px;width: 120px">Cancel</button>
                            <button id="hold_{{$pom._id }}" disabled type="submit" name="assoc-button" value="on_hold" class="btn yellow status-btn no-print" class="col-md-2" style="height: 40px;width: 200px">Production On Hold</button>
                            <button id="completed_{{$pom._id }}" disabled type="submit" name="assoc-button" value="completed" class="btn blue status-btn no-print" class="col-md-2" style="height: 40px;width: 215px">Production Completed</button>

                            {{else if compare $pom.status 4 }}
                            <button id="queue_{{$pom._id }}" disabled type="submit" name="assoc-button" value="in_queue" class="btn green-jungle status-btn no-print" class="col-md-2" style="height: 40px;width: 215px">Approve and Add To Queue</button>
                            <button id="production_{{$pom._id }}" disabled type="submit" name="assoc-button" value="production" class="btn blue-hoki status-btn no-print" class="col-md-2" style="height: 40px;width: 250px">Approve and Start Production</button>
                            <button id="rejected_{{$pom._id }}" disabled type="submit" name="assoc-button" value="rejected" class="btn red status-btn no-print" class="col-md-2" style="height: 40px;width: 120px">Cancel</button>
                            <button id="hold_{{$pom._id }}" disabled type="submit" name="assoc-button" value="on_hold" class="btn yellow status-btn no-print" class="col-md-2" style="height: 40px;width: 200px">Production On Hold</button>
                            <button id="completed_{{$pom._id }}" disabled type="submit" name="assoc-button" value="completed" class="btn blue status-btn no-print" class="col-md-2" style="height: 40px;width: 215px">Production Completed</button>

                            {{else if compare $pom.status 5 }}
                            <button id="queue_{{$pom._id }}" disabled type="submit" name="assoc-button" value="in_queue" class="btn green-jungle status-btn no-print" class="col-md-2" style="height: 40px;width: 215px">Approve and Add To Queue</button>
                            <button id="production_{{$pom._id }}" disabled type="submit" name="assoc-button" value="production" class="btn blue-hoki status-btn no-print" class="col-md-2" style="height: 40px;width: 250px">Approve and Start Production</button>
                            <button id="rejected_{{$pom._id }}" disabled type="submit" name="assoc-button" value="rejected" class="btn red status-btn no-print" class="col-md-2" style="height: 40px;width: 120px">Cancel</button>
                            <button id="resume_{{$pom._id }}" type="submit" name="assoc-button" value="on_hold" class="btn yellow-soft status-btn no-print" class="col-md-2" style="height: 40px;width: 200px">Resume Production</button>
                            <button id="completed_{{$pom._id }}" disabled type="submit" name="assoc-button" value="completed" class="btn blue status-btn no-print" class="col-md-2" style="height: 40px;width: 215px">Production Completed</button>

                            {{else if (or (compare $pom.status 99) (compare $pom.status 19) (compare $pom.status 29))}}
                            <button id="queue_{{$pom._id }}" disabled type="submit" name="assoc-button" value="in_queue" class="btn green-jungle status-btn no-print" class="col-md-2" style="height: 40px;width: 215px">Approve and Add To Queue</button>
                            <button id="production_{{$pom._id }}" disabled type="submit" name="assoc-button" value="production" class="btn blue-hoki status-btn no-print" class="col-md-2" style="height: 40px;width: 250px">Approve and Start Production</button>
                            <button id="rejected_{{$pom._id }}" type="submit" name="assoc-button" value="rejected" class="btn red status-btn no-print" class="col-md-2" style="height: 40px;width: 120px">Cancel</button>
                            <button id="hold_{{$pom._id }}" disabled type="submit" name="assoc-button" value="on_hold" class="btn yellow status-btn no-print" class="col-md-2" style="height: 40px;width: 200px">Production On Hold</button>
                            <button id="completed_{{$pom._id }}" disabled type="submit" name="assoc-button" value="completed" class="btn blue status-btn no-print" class="col-md-2" style="height: 40px;width: 215px">Production Completed</button>
                            {{end}}
                            </div>
                        </div>                    
                        <p id="demo_{{ $pom._id}}"></p>
                        {{if compare $pom.status 3}}
                        <h3><b style="color:#3598DC">Production Order Completed!</b></h3>
                        {{end}}
                        {{if compare $pom.status 4}}
                        <h3><b style="color:#E7505A">Production Order Rejected!</b></h3>
                        {{end}}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default no-print" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    {{end}}
    <!-- END CONTENT -->

{{end}}

{{ define "pagelevelplugins" }}
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="/static/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/fuelux/js/spinner.min.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
<script src="/static/assets/global/scripts/datatable.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.js" type="text/javascript"></script>
 <script src="/static/assets/global/plugins/typeahead/typeahead.bundle.min.js" type="text/javascript"></script>
 <script src="/static/assets/global/plugins/fullcalendar/lib/moment.min.js" type="text/javascript"></script>
 <script src="/static/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js" type="text/javascript"></script>
 <script src="/static/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
 <script src="/static/assets/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js" type="text/javascript"></script>
 <script src="/static/assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
 <script src="/static/assets/global/plugins/jQuery.print-master/jQuery.print.js" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->  
{{ end }}

{{define "pagelevelscripts"}} 
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="/static/assets/pages/scripts/components-select2.min.js" type="text/javascript"></script>
<script src="/static/assets/pages/scripts/components-bootstrap-select.min.js" type="text/javascript"></script>
<script src="/static/assets/pages/scripts/components-bootstrap-touchspin.js" type="text/javascript"></script>
<script src="/static/assets/pages/scripts/components-date-time-pickers.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/ion.rangeslider/js/ion.rangeSlider.min.js" type="text/javascript"></script>
<script src="/static/assets/pages/scripts/table-datatables-managed.js" type="text/javascript"></script>
<script src="/static/assets/pages/scripts/components-bootstrap-touchspin.js" type="text/javascript"></script>
<script src="/static/assets/pages/scripts/components-date-time-pickers.min.js" type="text/javascript"></script>

{{if .flash.error}}
<script type="text/javascript">
        $(function() {                  
            $.bootstrapGrowl("{{.flash.error}}", {offset: {from: 'top', amount: 20}, delay: 10000, type: 'warning',align: 'center', stackup_spacing: 30,width: 400 });});
</script>
{{end}}

<script type="text/javascript">
    var todaysDate = new Date();
    function convertDate(date) {
        var yyyy = date.getFullYear().toString();
        var mm = (date.getMonth()+1).toString();
        var dd  = date.getDate().toString();

        var mmChars = mm.split('');
        var ddChars = dd.split('');

        return yyyy + '-' + (mmChars[1]?mm:"0"+mmChars[0]) + '-' + (ddChars[1]?dd:"0"+ddChars[0]);
    }

    document.getElementById('todays_date').value = convertDate(todaysDate);
</script>
<script type="text/javascript">
    $('.date-picker').datepicker({
    pickerPosition: "bottom-left"
    });
</script>
<script type="text/javascript">
    var ComponentsTypeahead = function () {

    var handleTwitterTypeahead = function() {

        // Example #1
        // instantiate the bloodhound suggestion engine
        var numbers = new Bloodhound({
            datumTokenizer: function(d) { return Bloodhound.tokenizers.whitespace(d.num); },
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            local: [
            { num: 'metronic' },
            { num: 'keenthemes' },
            { num: 'metronic theme' },
            { num: 'metronic template' },
            { num: 'keenthemes team' }
            ]
        });
            
        // initialize the bloodhound suggestion engine
        numbers.initialize();
            
        // instantiate the typeahead UI
        if (App.isRTL()) {
            $('#typeahead_example_1').attr("dir", "rtl");  
        }
        $('#typeahead_example_1').typeahead(null, {
            displayKey: 'num',
            hint: (App.isRTL() ? false : true),
            source: numbers.ttAdapter()
        });

    }
    var handleTwitterTypeahead2 = function() {

        // Example #1
        // instantiate the bloodhound suggestion engine
        var numbers = new Bloodhound({
            datumTokenizer: function(d) { return Bloodhound.tokenizers.whitespace(d.num); },
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            local: [
            { num: 'metronic' },
            { num: 'keenthemes' },
            { num: 'metronic theme' },
            { num: 'metronic template' },
            { num: 'keenthemes team' }
            ]
        });
            
        // initialize the bloodhound suggestion engine
        numbers.initialize();
            
        // instantiate the typeahead UI
        if (App.isRTL()) {
            $('#typeahead_example_2').attr("dir", "rtl");  
        }
        $('#typeahead_example_2').typeahead(null, {
            displayKey: 'num',
            hint: (App.isRTL() ? false : true),
            source: numbers.ttAdapter()
        });

    }
    
    return {
        //main function to initiate the module
        init: function () {
            handleTwitterTypeahead();
            handleTwitterTypeahead2();
        }
    };

}();

jQuery(document).ready(function() {    
    ComponentsTypeahead.init(); 
});
</script>

<script type="text/javascript">
    var ComponentsIonSliders = function() {

        var handleAdvancedDemo = function() {
            $("#range_10").ionRangeSlider({
                type: "double",
                min: 0,
                max: 100,
                from: 30,
                to: 70,
                from_fixed: true
            });
        }
        return {
            //main function to initiate the module
            init: function() {
                handleAdvancedDemo();
            }
        };

    }();

    jQuery(document).ready(function() {
        ComponentsIonSliders.init();
    });

</script>
<script type="text/javascript">
    $(function() {
    $(document).on('click','.inventoryview',function(e){
        //e.preventDefault()
    var element = $(this);
    var product_id = element.attr("id");
    var info = 'id=' + product_id;
        $.ajax({
            type: "GET",
            url: "/stock/view-get-grn",
            data: info,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            cache: false,
            success: function(data){ 
                
                
            } 
        });
        });
    });
</script>
<script type="text/javascript">
    $(function() {
    $(document).on('click','.status-btn',function(e){
        //e.preventDefault()
    var element = $(this);
    var btn_id = element.attr("id");
    var res = btn_id.split("_");
    
    var qty = document.getElementById("qty").value;
    if (res[0]=="approval")
    {
        var product_status = 0;
    } else if (res[0]=="queue"){
        var product_status = 1;
    } else if (res[0]=="production"){
        var product_status = 2;
    } else if (res[0]=="completed"){
        var product_status = 3;
    } else if (res[0]=="rejected"){
        var product_status = 4;
    } else if (res[0]=="hold"){
        var product_status = 5;
    } else if (res[0]=="resume"){
        var product_status = 2;
    }

    var production_order_id = res[1];
    var info = 'production_order_id=' + production_order_id + '&product_status=' + product_status + '&qty=' + qty ;

    if (product_status == 1 || product_status == 2) {
        $.ajax({
            type: "GET",
            url: "/production/check-inventory",
            data: info,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            cache: false,
            success: function(data){ 
                if (data.inventory_Ok == "0")
                {
                    document.getElementById("inventoryStatus").className = '';
                    window.alert("low inventory level")
                    if (product_status == 0){
                        product_status = 99;
                    } else if (isInventoryOk ==1) { 
					    product_status = 19
				    } 	else if (isInventoryOk ==2) { 
					    product_status = 29
                    }	
                    
                    //return
                } else if (data.inventory_Ok == "9") {

                }
            } 
        });
    }
    
    //window.alert("Batch no is "+ batch_no);
    
        $.ajax({
            type: "GET",
            url: "/production/production-status",
            data: info,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            cache: false,
            success: function(data){ 
                if (data == 1)
                {
                    location.reload(); 
                }
                // } else if (data == 2) {
                //     window.alert("Quantity exceeds available quantity");
                // } else if (data == 3) {
                //     window.alert("Item not in stock");
                // }
            } 
        });
    });
});
</script>
<script type="text/javascript">
        $('.form_datetime').datetimepicker({
        pickerPosition: "top-left",
        autoclose: true,
        });
</script>
<script type="text/javascript">
    machineValidateId = {{.FormItems.Machine}}
    function  factoryChange() {
        var factory_id = $(ddrp_2).val();
        if (factory_id != null) {
            productChange();
        }
        //var selectedVal = element.value;
        var info = 'factory_id=' + factory_id;
        $("#ddrp_3").empty();
        
        var isSelected;
        $.ajax({
            type: "GET",
            url: "/production/get-machines",
            data: info,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            cache: false,
            success: function(data){ 
                $.each(data.machine_id, function (i, item) {
                    if (machineValidateId == item) {
                        isSelected = "selected";
                    } else {
                        isSelected = "";
                    }
                    $("#ddrp_3").append("<option value=''>Select an Item</option><option value='"+item+"' "+isSelected+">["+data.machine_code[i]+"] "+data.machine_name[i]+"</option>");
                    //window.alert(item);
                });
            }
        });
    }

    function GetBOMforModal(production_id, product_id, factory_id) {
        var info = 'product_Id=' + product_id + '&factory_Id=' + factory_id + '&production_id=' + production_id;
        var modalId = "demo_" + production_id;
        $.ajax({
            type: "GET",
            url: "/production/get-product-bom-modal",
            data: info,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            cache: false,
            success: function(data){ 
                //$.each(data.machine_id, function (i, item) {
                    //$("#ddrp_3").append("<option value=''>Select an Item</option><option value='"+item+"'>"+data.machine_name[i]+"[Code:"+data.machine_code[i]+"]</option>");
                    //window.alert(item);
                //});
                if (data.onlyCode == "1") {
                    //var thead = '<h4><b>BOM</b></h4><div class="table-container" style="width:100%; " ><table class="table table-bordered table-hover dt-responsive dataTable table-checkable order-column"><thead><tr><th style="width:260px; text-align:left; padding-left: 5px;">Item Code</th><th>UOM</th><th>Quantity Used</th><th>Inherent Scrap</th><th>Quantity In Stock</th></tr></thead><tbody>';

                     var thead = '<h4><b>BOM</b></h4><div class="table-container" style="width:100%; " ><table class="table table-bordered table-hover dt-responsive dataTable table-checkable order-column"><thead><tr><th style="width:260px; text-align:left; padding-left: 5px;">Item Name</th><th>UOM</th><th>Quantity Used</th><th>Inherent Scrap</th></tr></thead><tbody>';
                } else {
                    //var thead = '<h4><b>BOM</b></h4><div class="table-container" style="width:100%; " ><table class="table table-bordered table-hover dt-responsive dataTable table-checkable order-column"><thead><tr><th style="width:260px; text-align:left; padding-left: 5px;">Item Name</th><th>UOM</th><th>Quantity Used</th><th>Inherent Scrap</th><th>Quantity In Stock</th></tr></thead><tbody>';

                    var thead = '<h4><b>BOM</b></h4><div class="table-container" style="width:100%; " ><table class="table table-bordered table-hover dt-responsive dataTable table-checkable order-column"><thead><tr><th style="width:260px; text-align:left; padding-left: 5px;">Item Name</th><th>UOM</th><th>Quantity Used</th><th>Inherent Scrap</th></tr></thead><tbody>';
                }

                var tfooter = '</tbody></table></div>';
                var trHTML = '';
                var str = "0.00000";
                //var flag = 1;
                $.each(data.item_names, function (i, item) {
                    if (data.onlyCode == "1") {
                        if (data.qty_in_stock[i].trim() == str.trim()) {
                            //flag = 0;
                            //trHTML += '<tr><td style="text-align:left; padding-left: 5px;">' + data.item_codes[i] + '</td><td>' + data.uom[i] + '</td><td style="text-align:right;">' + data.qty_used[i] +'</td><td style="text-align:right;">' + data.qty_wasted[i] + '</td><td>' + data.qty_in_stock[i] +'</td></tr>';

                              trHTML += '<tr><td style="text-align:left; padding-left: 5px;">' + data.item_codes[i] + '</td><td>' + data.uom[i] + '</td><td style="text-align:right;">' + data.qty_used[i] +'</td><td style="text-align:right;">' + data.qty_wasted[i] + '</td></tr>';
                        } else {
                           // trHTML += '<tr><td style="text-align:left; padding-left: 5px;">' + data.item_codes[i] + '</td><td>' + data.uom[i] + '</td><td style="text-align:right;">' + data.qty_used[i] +'</td><td style="text-align:right;">' + data.qty_wasted[i] + '</td><td style="text-align:right;">' + data.qty_in_stock[i] +'</td></tr>';

                             trHTML += '<tr><td style="text-align:left; padding-left: 5px;">' + data.item_codes[i] + '</td><td>' + data.uom[i] + '</td><td style="text-align:right;">' + data.qty_used[i] +'</td><td style="text-align:right;">' + data.qty_wasted[i] + '</td></tr>';
                        }
                    } else {
                        if (data.qty_in_stock[i].trim() == str.trim()) {
                            //flag = 0;
                            //trHTML += '<tr><td style="text-align:left; padding-left: 5px;">[' + data.item_codes[i] + '] ' + item + '</td><td>' + data.uom[i] + '</td><td style="text-align:right;">' + data.qty_used[i] +'</td><td style="text-align:right;">' + data.qty_wasted[i] + '</td><td>' + data.qty_in_stock[i] +'</td></tr>';

                            trHTML += '<tr><td style="text-align:left; padding-left: 5px;">[' + data.item_codes[i] + '] ' + item + '</td><td>' + data.uom[i] + '</td><td style="text-align:right;">' + data.qty_used[i] +'</td><td style="text-align:right;">' + data.qty_wasted[i] + '</td></tr>';

                        } else {
                            trHTML += '<tr><td style="text-align:left; padding-left: 5px;">[' + data.item_codes[i] + '] ' + item + '</td><td>' + data.uom[i] + '</td><td style="text-align:right;">' + data.qty_used[i] +'</td><td style="text-align:right;">' + data.qty_wasted[i] + '</td></tr>';

                            //trHTML += '<tr><td style="text-align:left; padding-left: 5px;">[' + data.item_codes[i] + '] ' + item + '</td><td>' + data.uom[i] + '</td><td style="text-align:right;">' + data.qty_used[i] +'</td><td style="text-align:right;">' + data.qty_wasted[i] + '</td><td style="text-align:right;">' + data.qty_in_stock[i] +'</td></tr>';
                        }
                    }
                });
                //var demo = 'demo_' + product_id
                document.getElementById(modalId).innerHTML = thead + trHTML + tfooter;
                // if (flag == 0){
                //     document.getElementById("start_production").disabled = true;
                // } else {
                //     document.getElementById("start_production").disabled = false;
                // }
            }
        });
    }

    function  productChange() {
        var factory_id = $(ddrp_2).val();
        var product_id = $(ddrp_1).val();
        if (factory_id == null) {
            window.alert("Choose a Factory first");
            $(ddrp_1).selectedIndex = 0;
            
            //$("select.select2-multiple").select2('data', {}); // clear out values selected
            //$("select.select2-multiple").select2({ allowClear: true }); // re-init to show default status

            //$('.selectbox-replacement-enabler').select2();
        } else if (product_id != null) {
            //var selectedVal = element.value;

            var info = 'product_Id=' + product_id + '&factory_Id=' + factory_id;

            $.ajax({
                type: "GET",
                url: "/production/get-product-bom",
                data: info,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                cache: false,
                success: function(data){ 
                    //$.each(data.machine_id, function (i, item) {
                        //$("#ddrp_3").append("<option value=''>Select an Item</option><option value='"+item+"'>"+data.machine_name[i]+"[Code:"+data.machine_code[i]+"]</option>");
                        //window.alert(item);
                    //});
                    var thead = '<h4><b>BOM</b></h4><div class="table-container" style="width:100%; " ><table class="table table-bordered table-hover dt-responsive dataTable table-checkable order-column"><thead><tr><th style="width:260px; text-align:left; padding-left: 5px;">Item Name</th><th>UOM</th><th>Unit Quantity</th><th>Inherent Scrap</th><th>Quantity Required</th><th>Quantity in Stock</th></tr></thead><tbody>';

                    var tfooter = '</tbody></table></div>';
                    var trHTML = '';
                    var str = "Item not in stock";
                    var flag = 1;
                    $.each(data.item_names, function (i, item) {
                        if (data.qty_in_stock[i].trim() == str.trim() ) {
                            flag = 0;
                            trHTML += '<tr><td style="text-align:left; padding-left: 5px;">[' + data.item_codes[i] + '] ' + item + '</td><td>' + data.uom[i] + '</td><td style="text-align:right;">' + data.qty_used[i] +'</td><td style="text-align:right;">' + data.qty_wasted[i] + '</td><td></td><td style="color:#FF0000;">' + data.qty_in_stock[i] +'</td></tr>';
                        } else {
                            trHTML += '<tr><td style="text-align:left; padding-left: 5px;">[' + data.item_codes[i] + '] ' + item + '</td><td>' + data.uom[i] + '</td><td style="text-align:right;">' + data.qty_used[i] +'</td><td style="text-align:right;">' + data.qty_wasted[i] + '</td><td></td><td style="text-align:right;">' + data.qty_in_stock[i] +'</td></tr>';
                        }
                    });
                    //var demo = 'demo_' + product_id
                    document.getElementById('bom_items').innerHTML = thead + trHTML + tfooter;
                    if (flag == 0){
                        document.getElementById("start_production").disabled = true;
                    } else {
                        document.getElementById("start_production").disabled = false;
                    }
                }
            });
        }
        
    }

    function quantityChange(element) {
        var qtyVal = element.value;
        if(isNaN(qtyVal)) {
            document.getElementsByName("quantity")[0].value = "";
        } else {
            var factory_id = $(ddrp_2).val();
            if (factory_id == null) {
                window.alert("Choose a Factory first");
                document.getElementsByName("quantity")[0].value = "";
            } else {
                var product_id = $(ddrp_1).val();
                if (product_id == null) {
                    window.alert("Choose a Product first");
                    document.getElementsByName("quantity")[0].value = "";
                } else {
                    //var selectedVal = element.value;
                    //window.alert("Product is " + product_id);

                    var info = 'product_Id=' + product_id + '&factory_Id=' + factory_id;

                    $.ajax({
                        type: "GET",
                        url: "/production/get-product-bom",
                        data: info,
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        cache: false,
                        success: function(data){ 
                            //$.each(data.machine_id, function (i, item) {
                                //$("#ddrp_3").append("<option value=''>Select an Item</option><option value='"+item+"'>"+data.machine_name[i]+"[Code:"+data.machine_code[i]+"]</option>");
                                //window.alert(item);
                            //});
                            var thead = '<h4><b>BOM</b></h4><div class="table-container" style="width:100%; " ><table class="table table-bordered table-hover dt-responsive dataTable table-checkable order-column"><thead><tr><th style="width:260px; text-align:left; padding-left: 5px;">Item Name</th><th>UOM</th><th>Quantity Used</th><th>Inherent Scrap</th><th>Quantity Required</th><th>Quantity In Stock</th></tr></thead><tbody>';

                            var tfooter = '</tbody></table></div>';
                            var trHTML = '';
                            var str = "Item not in stock";
                            var flag = 1;
                            $.each(data.item_names, function (i, item) {
                                req_qty = parseFloat(data.qty_used[i]) * parseFloat(qtyVal);
                                if (data.qty_in_stock[i].trim() == str.trim()) {
                                    trHTML += '<tr><td style="text-align:left; padding-left: 5px;">[' + data.item_codes[i] + '] ' + item + '</td><td>' + data.uom[i] + '</td><td style="text-align:right;">' + data.qty_used[i] +'</td><td style="text-align:right;">' + data.qty_wasted[i] + '</td><td>' + req_qty.toFixed(5)  +'</td><td style="text-align:right;">' + data.qty_in_stock[i]  + '</td></tr>';
                                    flag = 0;
                                } else {
                                    trHTML += '<tr><td style="text-align:left; padding-left: 5px;">[' + data.item_codes[i] + '] ' + item + '</td><td>' + data.uom[i] + '</td><td style="text-align:right;">' + data.qty_used[i] +'</td><td style="text-align:right;">' + data.qty_wasted[i] + '</td><td style="text-align:right;">' + req_qty.toFixed(5) +'</td><td style="text-align:right;">' +  data.qty_in_stock[i] + '</td></tr>';
                                    if (req_qty > parseFloat(data.qty_in_stock[i])) {
                                        flag = 0;
                                    }
                                }
                            });
                            //var demo = 'demo_' + product_id
                            document.getElementById('bom_items').innerHTML = thead + trHTML + tfooter;
                            if (flag == 0){
                                document.getElementById("start_production").disabled = true;
                            } else {
                                document.getElementById("start_production").disabled = false;
                            }
                        }
                    });
                }
            }
        }
    }

    function resetForm(e, thisobj) {
        thisform = thisobj.closest('form');
        selectbox_in_form = thisform.find('select');

        // completely remove selected when it has been assigned.
        selectbox_in_form.find('option:selected').removeAttr('selected');
        selectbox_in_form.val('');
        selectbox_in_form.change();

        delete selectbox_in_form;
        delete thisform;
    }// resetForm

    $( window ).on( "load", function() { 
        factoryChange();
        });
</script>

<script type="text/javascript">
    function onToDateSelect(){
            var FromDate= document.getElementById('po_FromDate').value;
            var ToDate= document.getElementById('po_ToDate').value;
            var tDate = new Date(ToDate);
            var fDate = new Date(FromDate);
            if(FromDate!= '' && FromDate!= '' && fDate> tDate){
                alert("Please ensure that 'To Production Order Date' is greater than or equal to the 'From Production Order Date'.");
            return false;
            }
    }
</script>
<!-- END PAGE LEVEL SCRIPTS -->
{{end}}