{{ template "master_layout.html" . }}

{{ define "pagelevelstyles"}}
<!-- BEGIN PAGE LEVEL STYLES -->

<link href="/static/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />
 <link href="/static/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.css" rel="stylesheet" type="text/css" />
 <link href="/static/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
 <link href="/static/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/global/plugins/typeahead/typeahead.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/global/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/global/plugins/ion.rangeslider/css/ion.rangeSlider.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/global/plugins/ion.rangeslider/css/ion.rangeSlider.skinFlat.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/global/plugins/bootstrap-markdown/css/bootstrap-markdown.min.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/global/plugins/bootstrap-summernote/summernote.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/global/plugins/typeahead/typeahead.css" rel="stylesheet" type="text/css" />
<!-- END PAGE LEVEL STYLES -->
{{end}}

{{ define "content" }}    
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet light bordered" >
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="icon-equalizer font-green"></i>
                                <span class="caption-subject bold font-green uppercase">Edit Production Order BOM</span>
                            </div>
                            <div class="actions">
                                <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" style="width:20px; height:20px; line-height: 0.999; padding-left:4px; "> </a>
                            </div>
                        </div>
                        <div class="portlet-body form" style="display:block" >
                            <form method="post" class="horizontal-form">
                                {{ .xsrfdata }}
                                <div class="form-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4" style="text-align:right;">Batch No </label>
                                                <label class="control-label col-md-8" style="">{{$.RetrievedData.items_0.batch_no}} </label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4" style="text-align:right;">Order Date </label>
                                                <label class="control-label col-md-4" style="">{{$.RetrievedData.items_0.o_date}} </label>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4" style="text-align:right;">Factory Location</label>
                                                <label class="control-label col-md-8" style="">{{$.RetrievedData.items_0.factory_location}} </label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4" style="text-align:right;">Machine</label>
                                                <label class="control-label col-md-4" style="">{{$.RetrievedData.items_0.machine_name}} </label>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4" style="text-align:right;">Product</label>
                                                <label class="control-label col-md-8" style="">{{$.RetrievedData.items_0.invoice_narration}} </label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4" style="text-align:right;">Production Quantity</label>
                                                <label class="control-label col-md-4" style="">{{$.RetrievedData.items_0.qty}} </label>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4" style="text-align:right;">Production Start Date</label>
                                                <label class="control-label col-md-8" style="">{{$.RetrievedData.items_0.start_date}} </label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4" style="text-align:right;">Production End Date</label>
                                                <label class="control-label col-md-4" style="">{{.RetrievedData.items_0.end_date}} </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row>">
                                            
                                            <h4><b>BOM</b></h4>
                                            <p>Required quantity to make 1 unit of the product.</p>
                                            
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5">
                                            <label>Item</label>
                                        </div>
                                        <div class="col-md-3">
                                            <label>Unit Quantity</label>
                                        </div>
                                        <div class="col-md-3">
                                            <label>Unit Wastage</label>
                                        </div>
                                    </div>
                                    <div class="mt-repeater form-horizontal " >
                                        <div data-repeater-list="BomGrp"  >
                                            {{ range $items := .RetrievedItems }}     
                                            <div data-repeater-item class="mt-repeater-item" style="padding:10px;" >
                                                <div class="row">
                                                    <div class="form-group">
                                                        <div class="col-md-5">
                                                            <select name="item_id" class="form-control select2" data-size="4" data-placeholder="Choose an Item">
                                                                <option disabled selected value> -- Choose an item -- </option>
                                                                {{ range $drop_items := $.ItemsRetrieved }}
                                                                <option value="{{ $drop_items._id }}" {{ if compare $items._id $drop_items._id }} selected {{end}} >[{{ $drop_items.item_code_gen }}] {{ $drop_items.invoice_narration }} (UOM: {{ $drop_items.unit_measure }})</option>
                                                                {{ end }}
                                                            </select>
                                                            <input name="uom" type="hidden" value="{{$items.unit_measure}}"/>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <input name="qty" type="text" class="form-control" value="{{$items.quantity}}"/> 
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <input name="wastage" type="text" class="form-control"/> 
                                                            </div>
                                                        </div>
                                                        <div class="col-md-1">
                                                            <a href="javascript:;" data-repeater-delete class="btn btn-danger">
                                                                <i class="fa fa-close"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- <hr> -->
                                                <!--/row-->
                                            </div>
                                            {{end}}
                                        </div>
                                        <div style="padding-left: 10px;"  >
                                            <hr style="margin-top:0px; margin-right:10px;">
                                            <a href="javascript:;" data-repeater-create class="btn btn-success mt-repeater-add">
                                            <i class="fa fa-plus"></i>Add more</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-12" style="text-align: center;">
                                            <button type="submit" class="btn green" style="">Save</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END CONTENT -->

{{end}}

{{ define "pagelevelplugins" }}
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="/static/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/fuelux/js/spinner.min.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
<script src="/static/assets/global/scripts/datatable.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.js" type="text/javascript"></script>
 <script src="/static/assets/global/plugins/typeahead/typeahead.bundle.min.js" type="text/javascript"></script>
 <script src="/static/assets/global/plugins/fullcalendar/lib/moment.min.js" type="text/javascript"></script>
 <script src="/static/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js" type="text/javascript"></script>
 <script src="/static/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
 <script src="/static/assets/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js" type="text/javascript"></script>
 <script src="/static/assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
 <script src="/static/assets/global/plugins/jQuery.print-master/jQuery.print.js" type="text/javascript"></script>
 <script src="/static/assets/global/plugins/jquery-repeater/jquery.repeater.js" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->  
{{ end }}

{{define "pagelevelscripts"}} 
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="/static/assets/pages/scripts/components-select2.min.js" type="text/javascript"></script>
<script src="/static/assets/pages/scripts/components-bootstrap-select.min.js" type="text/javascript"></script>
<script src="/static/assets/pages/scripts/components-bootstrap-touchspin.js" type="text/javascript"></script>
<script src="/static/assets/pages/scripts/components-date-time-pickers.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/ion.rangeslider/js/ion.rangeSlider.min.js" type="text/javascript"></script>
<script src="/static/assets/pages/scripts/table-datatables-managed.js" type="text/javascript"></script>
<script src="/static/assets/pages/scripts/components-bootstrap-touchspin.js" type="text/javascript"></script>
<script src="/static/assets/pages/scripts/components-date-time-pickers.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $('.date-picker').datepicker({
    pickerPosition: "bottom-left"
    });
</script>
{{if .FlashNotices}}
<script type="text/javascript">
        $(function() {                  
            $.bootstrapGrowl("{{.FlashNotices}}", {offset: {from: 'top', amount: 20}, delay: 5000, type: 'success',align: 'center', stackup_spacing: 30,width: 400 });});
</script>
{{end}}
<script type="text/javascript">
    var ComponentsTypeahead = function () {

    var handleTwitterTypeahead = function() {

        // Example #1
        // instantiate the bloodhound suggestion engine
        var numbers = new Bloodhound({
            datumTokenizer: function(d) { return Bloodhound.tokenizers.whitespace(d.num); },
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            local: [
            { num: 'metronic' },
            { num: 'keenthemes' },
            { num: 'metronic theme' },
            { num: 'metronic template' },
            { num: 'keenthemes team' }
            ]
        });
            
        // initialize the bloodhound suggestion engine
        numbers.initialize();
            
        // instantiate the typeahead UI
        if (App.isRTL()) {
            $('#typeahead_example_1').attr("dir", "rtl");  
        }
        $('#typeahead_example_1').typeahead(null, {
            displayKey: 'num',
            hint: (App.isRTL() ? false : true),
            source: numbers.ttAdapter()
        });

    }
    var handleTwitterTypeahead2 = function() {

        // Example #1
        // instantiate the bloodhound suggestion engine
        var numbers = new Bloodhound({
            datumTokenizer: function(d) { return Bloodhound.tokenizers.whitespace(d.num); },
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            local: [
            { num: 'metronic' },
            { num: 'keenthemes' },
            { num: 'metronic theme' },
            { num: 'metronic template' },
            { num: 'keenthemes team' }
            ]
        });
            
        // initialize the bloodhound suggestion engine
        numbers.initialize();
            
        // instantiate the typeahead UI
        if (App.isRTL()) {
            $('#typeahead_example_2').attr("dir", "rtl");  
        }
        $('#typeahead_example_2').typeahead(null, {
            displayKey: 'num',
            hint: (App.isRTL() ? false : true),
            source: numbers.ttAdapter()
        });

    }
    
    return {
        //main function to initiate the module
        init: function () {
            handleTwitterTypeahead();
            handleTwitterTypeahead2();
        }
    };

}();

jQuery(document).ready(function() {    
    ComponentsTypeahead.init(); 
});
</script>

<script type="text/javascript">
    var ComponentsIonSliders = function() {

        var handleAdvancedDemo = function() {
            $("#range_10").ionRangeSlider({
                type: "double",
                min: 0,
                max: 100,
                from: 30,
                to: 70,
                from_fixed: true
            });
        }
        return {
            //main function to initiate the module
            init: function() {
                handleAdvancedDemo();
            }
        };

    }();

    jQuery(document).ready(function() {
        ComponentsIonSliders.init();
    });

</script>
<script type="text/javascript">
        $('.form_datetime').datetimepicker({
        pickerPosition: "top-left",
        autoclose: true,
        });
</script>

<script type="text/javascript">
    function onToDateSelect(){
            var FromDate= document.getElementById('po_FromDate').value;
            var ToDate= document.getElementById('po_ToDate').value;
            var tDate = new Date(ToDate);
            var fDate = new Date(FromDate);
            if(FromDate!= '' && FromDate!= '' && fDate> tDate){
                alert("Please ensure that 'To Production Order Date' is greater than or equal to the 'From Production Order Date'.");
            return false;
            }
    }
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.mt-repeater').repeater({
            show: function () {
                //window.alert(selectedValue);
                // if (selectedValue != '') {
                //     row_count++;
                // 	var cost_name = prefix + "[" + row_count + "][cost]" ;
                    $(this).slideDown();
                    $('.select2-container').remove();
                    $('.select2').select2({
                    placeholder: "Placeholder text",
                    });
                    $('.select2-container').css('width','100%');
                // } else {
                //     window.alert("An existing record is not filled. Please select an item before proceeding.")
                // }

                //window.alert(row_count);
                // $('.date-picker').datepicker({
                //     rtl: App.isRTL(),
                //     orientation: "left",
                //     autoclose: true
                // });
            },
            
            hide: function (deleteElement) {
                if(confirm('Are you sure you want to delete this element?')) {
                    //row_count--;
                    // $(this).slideUp( "fast", function() {
                    // 	itemRemove();// Animation complete.
                    // });
                    $(this).slideUp(deleteElement);
                    //setTimeout(function(){ itemRemove(); }, 2000);
                }
                // if(row_flag == 1) {
                // 	row_flag=0;
                // 	itemRemove();
                // }
            },
            
            isFirstItemUndeletable: true
        });
    });
</script>
<!-- END PAGE LEVEL SCRIPTS -->
{{end}}