{{ template "master_layout.html" . }}

{{ define "pagelevelstyles"}}
        <!-- BEGIN PAGE LEVEL STYLES -->
        <link href="/static/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
		<link href="/static/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.css" rel="stylesheet" type="text/css" />
		<link href="/static/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
		<link href="/static/assets/global/plugins/typeahead/typeahead.css" rel="stylesheet" type="text/css" />
		<link href="/static/assets/global/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" type="text/css" />
		 
		<link href="/static/assets/global/plugins/ion.rangeslider/css/ion.rangeSlider.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/ion.rangeslider/css/ion.rangeSlider.skinFlat.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/bootstrap-markdown/css/bootstrap-markdown.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/bootstrap-summernote/summernote.css" rel="stylesheet" type="text/css" />
         <link href="/static/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.css" rel="stylesheet" type="text/css" />
 <link href="/static/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
 <link href="/static/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/global/plugins/typeahead/typeahead.css" rel="stylesheet" type="text/css" />
        
        <!-- END PAGE LEVEL STYLES -->
{{end}}

{{ define "content" }}    
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                    <!-- BEGIN PAGE BASE CONTENT -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="icon-equalizer font-green"></i>
                                        <span class="caption-subject bold font-green uppercase">View BOM</span>
                                    </div>
                                    <div class="actions">
                                        <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" style="width:20px; height:20px; line-height: 0.999; padding-left:4px; "> </a>
                                    </div>
                                </div>
                                <div class="portlet-body form">
									<!-- BEGIN FORM-->
									<form method="post" class="horizontal-form">
									{{ .xsrfdata }}
										<div class="form-body">
											
											<div class="row">
												
												<div class="col-md-4">
													<div class="form-group">
														<!-- <input type="text" name="item_name" class="form-control" value="{{.Retrieved.items_0.invoice_narration}}" placeholder="Item Name"/>
														 {{if .Errors.ItemName}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.ItemName}}</span>{{end}} -->
														<select id="product_name" name="product_name"  onchange="this.form.submit()" class="form-control select2-multiple ite" data-placeholder="Choose a Product">
															<option disabled selected value> -- Choose a Product -- </option>
															{{ range $products := .ProductsRetrieved }}
															<option value="{{ $products._id }}" {{if compare $.ProductId $products._id }} selected {{end}}>[{{ $products.item_code_gen }}] {{ $products.invoice_narration }} ({{ $products.unit_measure }})</option>
															{{end}}
														</select>
														{{if .Errors.ProductName}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.ProductName}}</span>{{end}}
													</div>
												</div>
									
											</div>

											<!--/row-->
										</div>
										{{if compare .BomCount 0}}
											No BOM added for this Product. <button  class="btn green status-btn"><a target="_blank" href="/material/edit-bom?productid={{.ProductId}}">Add BOM</a></button>
										{{else}}
										<table id="Table_id" class="table table-bordered table-hover table-checkable order-column" >
                                        <thead>
                                            <tr>
                                            	<th style="width:250px; text-align: left; padding-left: 5px;">Item Name</th>
												<th style=" text-align: left;">Quantity</th>
												<th style=" text-align: left;">Inherent Scrap</th>
												<th style=" text-align: left;">Unit Of Measure</th>
												<th style=" text-align: left;">Consumable Type</th>
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{ range $items := .Retrieved }}
                                            <tr>
                                            	<td style=" text-align: left; padding-left: 5px;">[{{$items.product_code}}] {{ $items.item_narration }}</td>
												<td style=" text-align: right;">{{ $items.quantity}}</td>
												<td style=" text-align: right;">{{ $items.wastage}}</td>
												<td style=" text-align: left;">{{ $items.unit_measure }}</td>
												<td style=" text-align: left;">{{ $items.non_consumable }}</td>
                                            </tr>
                                            {{end}}
                                           
                                        </tbody>
                                    </table>
									{{end}}
								</div>
								</div>
								</div>
								</div>
									</form>
									<!-- END FORM-->
									
				
                <!-- END CONTENT BODY -->
            </div>
            </div>
            <!-- END CONTENT -->
            <div id="successModal" class="modal fade bs-modal-sm" tabindex="-1" role="dialog" aria-hidden="true" style="display: none; padding-right: 15px;">
                <div class="modal-dialog modal-sm">
                <div class="modal-content">
                <div class="modal-body"> 
                <h4 class="alert-heading">The item has been added.</h4>
                </div>
                <div class="modal-footer">
                <a class="btn green" href="{{urlfor "ProductionController.ModifyBOM"}}">OK</a>
                </div>
                </div>
                <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
                </div>
       
        {{end}}

        {{ define "pagelevelplugins" }}
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <script src="/static/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/fuelux/js/spinner.min.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.js" type="text/javascript"></script>
		<script src="/static/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
		<script src="/static/assets/global/scripts/datatable.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.js" type="text/javascript"></script>
 <script src="/static/assets/global/plugins/typeahead/typeahead.bundle.min.js" type="text/javascript"></script>
        <!-- END PAGE LEVEL PLUGINS -->  
        {{ end }}

        {{define "pagelevelscripts"}} 
        <!-- BEGIN PAGE LEVEL SCRIPTS -->
        <script src="/static/assets/pages/scripts/components-select2.min.js" type="text/javascript"></script>
		<script src="/static/assets/pages/scripts/components-bootstrap-select.min.js" type="text/javascript"></script>
        <script src="/static/assets/pages/scripts/components-bootstrap-touchspin.js" type="text/javascript"></script>
		<script src="/static/assets/pages/scripts/components-date-time-pickers.js" type="text/javascript"></script>
		<script src="/static/assets/global/plugins/ion.rangeslider/js/ion.rangeSlider.min.js" type="text/javascript"></script>
		<script src="/static/assets/pages/scripts/table-datatables-managed.js" type="text/javascript"></script>
	 <script src="/static/assets/pages/scripts/components-bootstrap-touchspin.js" type="text/javascript"></script>
		<script type="text/javascript">
			var ComponentsTypeahead = function () {

			var handleTwitterTypeahead = function() {

				// Example #1
				// instantiate the bloodhound suggestion engine
				var numbers = new Bloodhound({
				  datumTokenizer: function(d) { return Bloodhound.tokenizers.whitespace(d.num); },
				  queryTokenizer: Bloodhound.tokenizers.whitespace,
				  local: [
					{ num: 'metronic' },
					{ num: 'keenthemes' },
					{ num: 'metronic theme' },
					{ num: 'metronic template' },
					{ num: 'keenthemes team' }
				  ]
				});
				 
				// initialize the bloodhound suggestion engine
				numbers.initialize();
				 
				// instantiate the typeahead UI
				if (App.isRTL()) {
				  $('#typeahead_example_1').attr("dir", "rtl");  
				}
				$('#typeahead_example_1').typeahead(null, {
				  displayKey: 'num',
				  hint: (App.isRTL() ? false : true),
				  source: numbers.ttAdapter()
				});

			}
			var handleTwitterTypeahead2 = function() {

				// Example #1
				// instantiate the bloodhound suggestion engine
				var numbers = new Bloodhound({
				  datumTokenizer: function(d) { return Bloodhound.tokenizers.whitespace(d.num); },
				  queryTokenizer: Bloodhound.tokenizers.whitespace,
				  local: [
					{ num: 'metronic' },
					{ num: 'keenthemes' },
					{ num: 'metronic theme' },
					{ num: 'metronic template' },
					{ num: 'keenthemes team' }
				  ]
				});
				 
				// initialize the bloodhound suggestion engine
				numbers.initialize();
				 
				// instantiate the typeahead UI
				if (App.isRTL()) {
				  $('#typeahead_example_2').attr("dir", "rtl");  
				}
				$('#typeahead_example_2').typeahead(null, {
				  displayKey: 'num',
				  hint: (App.isRTL() ? false : true),
				  source: numbers.ttAdapter()
				});

			}
			
			return {
				//main function to initiate the module
				init: function () {
					handleTwitterTypeahead();
					handleTwitterTypeahead2();
				}
			};

		}();

		jQuery(document).ready(function() {    
		   ComponentsTypeahead.init(); 
		});
		</script>
		
		<script type="text/javascript">
			var ComponentsIonSliders = function() {

				var handleAdvancedDemo = function() {
					$("#range_10").ionRangeSlider({
						type: "double",
						min: 0,
						max: 100,
						from: 30,
						to: 70,
						from_fixed: true
					});
				}

				return {
					//main function to initiate the module
					init: function() {
						handleAdvancedDemo();
					}

				};

			}();

			jQuery(document).ready(function() {
				ComponentsIonSliders.init();
			});

		</script>
		
        <!-- END PAGE LEVEL SCRIPTS -->
        {{end}}