{{ template "master_layout.html" . }}

{{ define "pagelevelstyles"}}
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link href="/static/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="/static/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/assets/global/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL STYLES -->
{{end}}

{{ define "content" }}    
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">
            <!-- BEGIN PAGE BASE CONTENT -->
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet light bordered">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="icon-equalizer font-green"></i>
                                <span class="caption-subject bold font-green uppercase">Inspection Report Pre-delivery</span>
                            </div>
                            <div class="actions">
                                <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" style="width:20px; height:20px; line-height: 0.999; padding-left:4px; "> </a>
                            </div>
                            <div class="tools nts-tools faq-links" style="margin-top:0;">
                                {{if .ErrorsPresent}} 
                                <a href=""  class="collapse" style="background-image:none;">
                                <i class="fa fa-minus-circle"></i> </a> 
                             {{else}} 
                                <a href=""  class="expand" style="background-image:none;">
                                <i class="fa fa-plus-square"></i> </a> 
                             {{end}}
                            </div>
                        </div>
                        {{if .ErrorsPresent}} 
                      <div class="portlet-body form" style="display:block" >
                      {{else}}  
                      <div class="portlet-body form"  style="display:none" >
                      {{end}}
                            <div class="form-body">
                                <form method="post" class="form-horizontal">
                                {{ .xsrfdata }}
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Report Number </label>
                                                <div class="col-md-8">
                                                    <input type="text" name="report_no" value="{{.FormItems.ReportNo}}" class="form-control" >
                                                    {{if .Errors.ReportNo}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.ReportNo}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Party Name <span class="required" aria-required="true">*</span></label>
                                                <div class="col-md-8">
                                                    <input type="text" name="party_name" value="{{.FormItems.PartyName}}" class="form-control" placeholder="">
                                                    {{if .Errors.PartyName}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.PartyName}}</span>{{end}}

                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>
                                    <div class="row">

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Invoice Number <span class="required" aria-required="true">*</span></label>
                                                <div class="col-md-8">
                                                    <input type="text" name="invoice_no" value="{{.FormItems.InvoiceNo}}" class="form-control" placeholder="">
                                                    {{if .Errors.InvoiceNo}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.InvoiceNo}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Serial Number <span class="required" aria-required="true">*</span></label>
                                                <div class="col-md-8">
                                                    <input type="text" name="sr_no" value="{{.FormItems.SrNo}}" class="form-control" >
                                                    {{if .Errors.SrNo}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.SrNo}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>
                                    <div class="row">
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Material <span class="required" aria-required="true">*</span></label>
                                                <div class="col-md-8">
                                                    <input type="text" name="material" value="{{.FormItems.Material}}" class="form-control" placeholder="">
                                                    {{if .Errors.Material}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Material}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Product Name </label>
                                                <div class="col-md-8">
                                                    <input type="text" name="p_name" value="{{.FormItems.ProductName}}" class="form-control" placeholder="">
                                                    {{if .Errors.ProductName}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.ProductName}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Date </label>
                                                <div class="col-md-8">
                                                    <div class="input-group input-medium date date-picker" data-date-format="yyyy-mm-dd" >
                                                        <input type="text" name="date" value="{{.FormItems.Date}}" class="form-control" readonly placeholder="">
                                                        {{if .Errors.Date}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Date}}</span>{{end}}
                                                        <span class="input-group-btn">
																	<button class="btn default" type="button">
																		<i class="fa fa-calendar"></i>
																	</button>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                         <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Description </label>
                                                <div class="col-md-8">
                                                    <textarea class="form-control" name="description" value="{{.FormItems.Description}}" rows="2" placeholder=""></textarea>
                                                    {{if .Errors.Description}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Description}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Observations </label>
                                                <div class="col-md-8">
                                                    <textarea class="form-control" name="observations" value="{{.FormItems.Observations}}" rows="2" placeholder=""></textarea>
                                                    {{if .Errors.Observations}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Observations}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Checking </label>
                                                <div class="col-md-8">
                                                    <select name="checking" class="bs-select form-control">
                                                        <option {{if compare .FormItems.Checking "Option 1" }}selected {{end}}>Option 1</option>
                                                        <option {{if compare .FormItems.Checking "Option 2" }}selected {{end}}>Option 2</option>
                                                        <option {{if compare .FormItems.Checking "Option 3" }}selected {{end}}>Option 3</option>
                                                    </select>
                                                    {{if .Errors.Checking}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Checking}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Remark </label>
                                                <div class="col-md-8">
                                                    <textarea class="form-control" name="remark" value="{{.FormItems.Remark}}" id="" placeholder=" " rows="3" ></textarea>
                                                    {{if .Errors.Remark}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Remark}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-actions">
                                        <div class="row">
                                            <div class="col-md-12" style="text-align: center;">
                                                <button type="submit" class="btn green" style="height: 40px;width: 80px">Submit</button>
                                                <button type="button" class="btn default" style="height: 40px;width: 80px">Reset</button>
                                            </div>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <!-- BEGIN EXAMPLE TABLE PORTLET-->
                    <div class="portlet light bordered">
                        <div class="portlet-title">
                            <div class="caption font-dark">
                                <i class="icon-settings font-dark"></i>
                                <span class="caption-subject bold uppercase"> Inspection Report Pre-Delivery View</span>
                            </div>
                            <div class="actions">
                                <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" style="width:20px; height:20px; line-height: 0.999; padding-left:4px; "> </a>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <table class="table table-bordered table-hover table-checkable order-column" >
                                <thead>
                                <tr>                                   
                                    <th class="text-center" style="text-align: left"> Report Number </th>
                                    <th class="text-center" style="text-align: left"> Party Name </th>
                                    <th class="text-center" style="text-align: left"> Invoice Number </th>
                                    <th class="text-center" style="text-align: left"> Date </th>
                                    <th class="text-center" style="text-align: left"> Material </th>
                                    <th class="text-center" style="text-align: left"> Product Name </th>
                                    <th class="text-center" style="text-align: left"> Serial Number </th>
                                    <th class="text-center" style="text-align: left"> Description </th>
                                    <th class="text-center" style="text-align: left"> Observations </th>
                                    <th class="text-center" style="text-align: left"> Checking </th>
                                    <th class="text-center" style="text-align: left"> Remark </th>
                                </tr>
                                </thead>
                                <tbody>
                                 {{ range $qa := .Retrieved }}
                                <tr class="odd gradeX">                                   
                                    <td style="text-align: right">{{ $qa.report_no }}</td>
                                    <td style="text-align: left">{{ $qa.party_name }} </td>
                                    <td style="text-align: right">{{ $qa.invoice_no }}</td>
                                    <td style="text-align: right"> {{ $qa.q_date }} </td>
                                    <td style="text-align: left"> {{ $qa.material }}</td>
                                    <td style="text-align: left">{{ $qa.product }}</td>
                                    <td style="text-align: right">{{ $qa.product_sr_no }}</td>
                                    <td style="text-align: left">{{ $qa.description }}</td>
                                    <td style="text-align: left">{{ $qa.observation }}</td>
                                    <td style="text-align: left">{{ $qa.checking }}</td>
                                    <td style="text-align: left">{{ $qa.remark }}</td>
                                </tr>
                                {{end}}
                                
                                </tbody>
                            </table>
                            <div class="actions text-right">
                                <ul class="pagination">
                                          <li class="active"><a href="#">1</a></li>
                                          <li ><a href="#">2</a></li>
                                          <li><a href="#">3</a></li>
                                          <li><a href="#">4</a></li>
                                          <li><a href="#">5</a></li>
                                        </ul>
                                <div class="dropup ">
                                    <button class="btn btn-default dropdown-toggle " type="button"  data-toggle="dropdown">Export
                                        <span class="caret"></span></button>
                                    <ul class="dropdown-menu pull-right">
                                        <li role="presentation"><a tabindex="-1" href="#">Print</a></li>
                                        <li role="presentation"><a tabindex="-1" href="#">PDF</a></li>
                                        <li role="presentation"><a tabindex="-1" href="#">Excel</a></li>
                                        <li role="presentation"><a tabindex="-1" href="#">CSV</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END EXAMPLE TABLE PORTLET-->
                </div>
            </div>

            <!-- END PAGE BASE CONTENT -->
        </div>
        <!-- END CONTENT BODY -->
    </div>
    <!-- END CONTENT -->
       
        {{end}}

        {{ define "pagelevelplugins" }}
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="/static/assets/global/scripts/datatable.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/jquery-repeater/jquery.repeater.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.js" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->
        {{ end }}

        {{define "pagelevelscripts"}} 
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="/static/assets/pages/scripts/table-datatables-managed.js" type="text/javascript"></script>
<script src="/static/assets/pages/scripts/form-repeater.min.js" type="text/javascript"></script>
<script src="/static/assets/pages/scripts/components-date-time-pickers.min.js" type="text/javascript"></script>
<script src="/static/assets/pages/scripts/components-bootstrap-select.min.js" type="text/javascript"></script>
<script src="/static/assets/pages/scripts/components-bootstrap-touchspin.js" type="text/javascript"></script>
<!-- END PAGE LEVEL SCRIPTS -->
{{end}}