{{ template "master_layout.html" . }}

{{ define "pagelevelstyles"}}
        <!-- BEGIN PAGE LEVEL STYLES -->
        <link href="/static/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
		<link href="/static/assets/global/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" type="text/css" />
		<link href="/static/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.css" rel="stylesheet" type="text/css" />
		<link href="/static/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
		<link href="/static/assets/global/plugins/jquery-multi-select/css/multi-select.css" rel="stylesheet" type="text/css" />
		<link href="/static/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
		<link href="/static/assets/global/plugins/typeahead/typeahead.css" rel="stylesheet" type="text/css" />
		<link href="/static/assets/global/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css" rel="stylesheet" type="text/css" />
        <!-- END PAGE LEVEL STYLES -->
{{end}}

{{ define "content" }}    
<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEAD-->
        <div class="page-head">
        <!-- BEGIN PAGE BASE CONTENT -->
		<div class="row">
            <div class="col-md-12">
                <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-equalizer font-green"></i>
                        <span class="caption-subject bold font-green uppercase">Create Master Report</span>
                    </div>
                    <div class="actions">
                        <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" style="width:20px; height:20px; line-height: 0.999; padding-left:4px; "> </a>
                    </div>
                    <div class="tools nts-tools faq-links" style="margin-top:0;">
                        {{if .ErrorsPresent}} 
                            <a href=""  class="collapse" style="background-image:none;">
                            <i class="fa fa-minus-circle"></i> </a> 
                         {{else}} 
                            <a href=""  class="expand" style="background-image:none;">
                            <i class="fa fa-plus-square"></i> </a> 
                         {{end}}
                    </div>
                </div>
                {{if .ErrorsPresent}} 
  <div class="portlet-body form" style="display:block" >
  {{else}}  
  <div class="portlet-body form"  style="display:none" >
  {{end}}
					
	<div class="form-body">
		<form method="POST" class="form-horizontal">
			{{ .xsrfdata }}
			
			<div class="row">
                <!--/span-->
                <div class="form-group">
                    <label class="control-label col-md-3"><span class="required" aria-required="true">*</span>Report Name </label>
                    <div class="col-md-6">
                    <select name="report" class="form-control select2-multiple item_drop" data-placeholder="Choose a Report">
    				<option disabled selected value> -- Choose an item -- </option>
    				 <optgroup value="{{.FormItems.Report}}">

    					{{ range $items := .RetrievedMaster }}
    					<option value="{{ $items.pkid }}" {{if compare $.FormItems.Report $items.pkid }} selected {{end}}>{{ $items.name }} ({{ $items.unique_code }})</option>
    					{{end}}
					</optgroup>
				</select>
				<!-- <input type="text" name="item_name" class="form-control" value="{{.FormItems.ItemName}}" />  -->
				{{if .Errors.Report}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Report}}</span>{{end}}

                    </div>
                </div>
            </div>
				
		<div class="form-actions">
			<div class="row">
				<div class="col-md-12" style="text-align: center;">
					<button type="submit"  class="btn green" style="height: 35px; width:80px;">Submit</button>
				</div>
			</div>
		</div>
						
	   </form>
      </div>	
	</div>

</div>
	</div>
	 

	
</div></div></div></div></div>
      

        {{end}}

        {{ define "pagelevelplugins" }} 
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <script src="/static/assets/global/scripts/datatable.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/jquery-repeater/jquery.repeater.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
		<script src="/static/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.js" type="text/javascript"></script>
		 <script src="/static/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
		 <script src="/static/assets/global/plugins/bootstrap-select/js/bootstrap-select.min.js" type="text/javascript"></script>
		 <script src="/static/assets/global/plugins/jquery-multi-select/js/jquery.multi-select.js" type="text/javascript"></script>
		 <script src="/static/assets/global/plugins/typeahead/typeahead.bundle.min.js" type="text/javascript"></script>
        <!-- END PAGE LEVEL PLUGINS -->     
        {{ end }}

        {{define "pagelevelscripts"}} 
        <!-- BEGIN PAGE LEVEL SCRIPTS -->
        <script src="/static/assets/pages/scripts/table-datatables-managed.js" type="text/javascript"></script>
        <script src="/static/assets/pages/scripts/components-select2.min.js" type="text/javascript"></script>		
		<script src="/static/assets/pages/scripts/components-bootstrap-select.min.js" type="text/javascript"></script>
        <script src="/static/assets/pages/scripts/components-bootstrap-touchspin.js" type="text/javascript"></script>
		<script src="/static/assets/pages/scripts/components-multi-select.min.js" type="text/javascript"></script>
		 <script src="/static/assets/global/plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.js"></script>
		 
        <script src="/static/assets/pages/scripts/form-repeater.min.js" type="text/javascript"></script>
        <script src="/static/assets/pages/scripts/components-date-time-pickers.min.js" type="text/javascript"></script>
		<script src="/static/assets/pages/scripts/components-bootstrap-select.min.js" type="text/javascript"></script>
		<script src="/static/assets/pages/scripts/components-multi-select.min.js" type="text/javascript"></script>
		<script src="/static/assets/pages/scripts/components-bootstrap-touchspin.js" type="text/javascript"></script>
		<script type="text/javascript">
             $('.date-picker').datepicker({
             pickerPosition: "bottom-left"
             });
         </script>
		 <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script> -->
	
		
        <!-- END PAGE LEVEL SCRIPTS -->
        {{end}}