{{ template "master_layout.html" . }}

{{ define "pagelevelstyles"}}
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link href="/static/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="/static/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/assets/global/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL STYLES -->
{{end}}

{{ define "content" }}    
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">
            <!-- BEGIN PAGE BASE CONTENT -->
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet light bordered">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="icon-equalizer font-green"></i>
                                <span class="caption-subject bold font-green uppercase">Inspection Report (Item)</span>
                            </div>
                            <div class="actions">
                                <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" style="width:20px; height:20px; line-height: 0.999; padding-left:4px; "> </a>
                            </div>
                            <div class="tools nts-tools faq-links" style="margin-top:0;">
                                {{if .ErrorsPresent}} 
                                <a href=""  class="collapse" style="background-image:none;">
                                <i class="fa fa-minus-circle"></i> </a> 
                             {{else}} 
                                <a href=""  class="expand" style="background-image:none;">
                                <i class="fa fa-plus-square"></i> </a> 
                             {{end}}
                            </div>
                        </div>
                        {{if .ErrorsPresent}} 
                      <div class="portlet-body form" style="display:block" >
                      {{else}}  
                      <div class="portlet-body form"  style="display:none" >
                      {{end}}
                            <div class="form-body">
                                <form method="post" class="form-horizontal">
                                {{ .xsrfdata }}
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Report No </label>
                                                <div class="col-md-8">
                                                    <input type="text" class="form-control" value="{{.FormItems.ProductId}}" name="product_id">
                                                    {{if .Errors.ProductId}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.ProductId}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Product Name </label>
                                                <div class="col-md-8">
                                                    <input type="text" name="p_name" value="{{.FormItems.ProductName}}" class="form-control" placeholder="">
                                                    {{if .Errors.ProductName}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.ProductName}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>
                                    <div class="row">
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Serial Number </label>
                                                <div class="col-md-8">
                                                    <input type="text" name="sr_no" value="{{.FormItems.SrNo}}" class="form-control" >
                                                    {{if .Errors.SrNo}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.SrNo}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Operations Performed </label>
                                                <div class="col-md-8">
                                                    <textarea class="form-control" name="operations" value="{{.FormItems.Operations}}" rows="2" placeholder=""></textarea>
                                                    {{if .Errors.Operations}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Operations}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Remark </label>
                                                <div class="col-md-8">
                                                    <textarea class="form-control" name="remarks" value="{{.FormItems.Remarks}}" id="" placeholder="" rows="3" ></textarea>
                                                    {{if .Errors.Remarks}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Remarks}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-actions">
                                        <div class="row">
                                            <div class="col-md-12" style="text-align: center;">
                                                <button type="submit" class="btn green" style="height: 40px;width: 80px">Submit</button>
                                                <button type="button" class="btn default" style="height: 40px;width: 80px">Reset</button>
                                            </div>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <!-- BEGIN EXAMPLE TABLE PORTLET-->
                    <div class="portlet light bordered">
                        <div class="portlet-title">
                            <div class="caption font-dark">
                                <i class="icon-settings font-dark"></i>
                                <span class="caption-subject bold uppercase"> Inspection Report Pre-Delivery View</span>
                            </div>
                            <div class="actions">
                                <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" style="width:20px; height:20px; line-height: 0.999; padding-left:4px; "> </a>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <table class="table table-bordered table-hover table-checkable order-column" >
                                <thead>
                                <tr>                                   
                                    <th class="text-center" style="text-align: left"> Report No</th>
                                    <th class="text-center" style="text-align: left"> Product Name </th>
                                    <th class="text-center" style="text-align: left"> Serial Number </th>
                                    <th class="text-center" style="text-align: left"> Operations Performed </th>
                                    <th class="text-center" style="text-align: left"> Remark </th>
                                </tr>
                                </thead>
                                <tbody>
                                 {{ range $qar := .Retrieved }}
                                <tr class="odd gradeX">                                    
                                    <td style="text-align: right">{{ $qar.report_no }}</td>
                                    <td style="text-align: left">{{ $qar.product }}</td>
                                    <td style="text-align: right"> {{ $qar.product_sr_no }}</td>
                                    <td style="text-align: left"> {{ $qar.operations_performed }}</td>
                                    <td style="text-align: left"> {{ $qar.remark }}</td>
                                </tr>
                                {{end}}
                                
                                </tbody>
                            </table>
                            <div class="actions text-right">
                                <ul class="pagination">
                                          <li class="active"><a href="#">1</a></li>
                                          <li ><a href="#">2</a></li>
                                          <li><a href="#">3</a></li>
                                          <li><a href="#">4</a></li>
                                          <li><a href="#">5</a></li>
                                        </ul>
                                <div class="dropup ">
                                    <button class="btn btn-default dropdown-toggle " type="button"  data-toggle="dropdown">Export
                                        <span class="caret"></span></button>
                                    <ul class="dropdown-menu pull-right">
                                        <li role="presentation"><a tabindex="-1" href="#">Print</a></li>
                                        <li role="presentation"><a tabindex="-1" href="#">PDF</a></li>
                                        <li role="presentation"><a tabindex="-1" href="#">Excel</a></li>
                                        <li role="presentation"><a tabindex="-1" href="#">CSV</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END EXAMPLE TABLE PORTLET-->
                </div>
            </div>

            <!-- END PAGE BASE CONTENT -->
        </div>
        <!-- END CONTENT BODY -->
    </div>
    <!-- END CONTENT -->
       
        {{end}}

        {{ define "pagelevelplugins" }}
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="/static/assets/global/scripts/datatable.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/jquery-repeater/jquery.repeater.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.js" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->
        {{ end }}

        {{define "pagelevelscripts"}} 
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="/static/assets/pages/scripts/table-datatables-managed.js" type="text/javascript"></script>
<script src="/static/assets/pages/scripts/form-repeater.min.js" type="text/javascript"></script>
<script src="/static/assets/pages/scripts/components-date-time-pickers.min.js" type="text/javascript"></script>
<script src="/static/assets/pages/scripts/components-bootstrap-select.min.js" type="text/javascript"></script>
<script src="/static/assets/pages/scripts/components-bootstrap-touchspin.js" type="text/javascript"></script>
<!-- END PAGE LEVEL SCRIPTS -->
{{end}}