{{ template "master_layout.html" . }}

{{ define "pagelevelstyles"}}
        <!-- BEGIN PAGE LEVEL STYLES -->
        <link href="/static/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
		<link href="/static/assets/global/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" type="text/css" />
		<link href="/static/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.css" rel="stylesheet" type="text/css" />
		<link href="/static/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
		<link href="/static/assets/global/plugins/jquery-multi-select/css/multi-select.css" rel="stylesheet" type="text/css" />
		<link href="/static/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
		<link href="/static/assets/global/plugins/typeahead/typeahead.css" rel="stylesheet" type="text/css" />
		<link href="/static/assets/global/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css" rel="stylesheet" type="text/css" />
        <!-- END PAGE LEVEL STYLES -->
{{end}}

{{ define "content" }}    
<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEAD-->
        <div class="page-head">
        <!-- BEGIN PAGE BASE CONTENT -->
		<div class="row">
            <div class="col-md-12">
                <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-equalizer font-green"></i>
                        <span class="caption-subject bold font-green uppercase">Report Master</span>
                    </div>
                    <div class="actions">
                        <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" style="width:20px; height:20px; line-height: 0.999; padding-left:4px; "> </a>
                    </div>
                    <div class="tools nts-tools faq-links" style="margin-top:0;">
                        {{if .ErrorsPresent}} 
                            <a href=""  class="collapse" style="background-image:none;">
                            <i class="fa fa-minus-circle"></i> </a> 
                         {{else}} 
                            <a href=""  class="expand" style="background-image:none;">
                            <i class="fa fa-plus-square"></i> </a> 
                         {{end}}
                    </div>
                </div>
                {{if .ErrorsPresent}} 
  <div class="portlet-body form" style="display:block" >
  {{else}}  
  <div class="portlet-body form"  style="display:none" >
  {{end}}
					
	<div class="form-body">
		<form method="POST" class="form-horizontal">
			{{ .xsrfdata }}
			
			<div class="row">
                <!--/span-->
                <div class="form-group">
                    <label class="control-label col-md-3"><span class="required" aria-required="true">*</span>Report Name </label>
                    <div class="col-md-6">
                        <input  type="text" class="form-control" value="{{.FormItems.ReportName}}" name="report_name" placeholder="">
                        {{if .nameExist}}<span class="help-block" style="font-size:13px; color:#e73d4a;">This report name is already used .{{end}}
                         {{if .Errors.ReportName}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.ReportName}}</span>{{end}}

                    </div>
                </div>
            </div>
			<div class="row">
				<div class="form-group">
                    <label class="control-label col-md-3"><span class="required" aria-required="true">*</span>Report Type </label>
                    <div class="col-md-6">
                        <input  type="text" class="form-control" name="report_type" value="{{.FormItems.ReportType}}" placeholder="">
                         {{if .Errors.ReportType}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.ReportType}}</span>{{end}}

                    </div>
                </div>
			</div>
			<div class="row">
				<div class="form-group">
                    <label class="control-label col-md-3"><span class="required" aria-required="true">*</span>Report Unique Code </label>
                    <div class="col-md-6">
                        <input  type="text" name="report_code" value="{{.FormItems.ReportCode}}" class="form-control" placeholder="">
                         {{if .Errors.ReportCode}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.ReportCode}}</span>{{end}}
                         {{if .codeExist}}<span class="help-block" style="font-size:13px; color:#e73d4a;">This unique code is already used .{{end}}
                    </div>
                </div>
			</div>
	
			
		<div class="row">
		<div class="col-md-12">
		<div class="form-group">
			<div class="col-md-4" style="margin-left:15%;">
                <input type="text" name="name1" value="{{.FormItems.FieldName1}}" class="form-control" placeholder="Field Name" />
                {{if .Errors.FieldName1}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.FieldName1}}</span>{{end}}
                
             </div>
          
            <div class="col-md-4" style="margin-left:3%;">
				<select data-size="5" name="type1" class="bs-select form-control" style="width:80px;">
				<option disabled selected value> -- Choose a FieldType -- </option>
					<option value="1" {{if compare .FormItems.FieldType1 "Product" }}selected {{end}}>Product</option>
					<option value="2" {{if compare .FormItems.FieldType1 "Items" }}selected {{end}}>Items</option>
					<option value="3" {{if compare .FormItems.FieldType1 "GRN" }}selected {{end}}>GRN</option>
					<option value="4" {{if compare .FormItems.FieldType1 "Suppliers" }}selected {{end}}>Suppliers</option>
					<option value="5" {{if compare .FormItems.FieldType1 "Customers" }}selected {{end}}>Customers</option>
					<option value="6" {{if compare .FormItems.FieldType1 "PO" }}selected {{end}}>PO</option>
					<option value="7" {{if compare .FormItems.FieldType1 "SO" }}selected {{end}}>SO</option>
					<option value="8" {{if compare .FormItems.FieldType1 "ProductionOrder" }}selected {{end}}>ProductionOrder</option>
					<option value="9" {{if compare .FormItems.FieldType1 "Ticket" }}selected {{end}}>Ticket</option>
					<option value="10" {{if compare .FormItems.FieldType1 "Employees" }}selected {{end}}>Employees</option>
					<option value="11" {{if compare .FormItems.FieldType1 "TextBox" }}selected {{end}}>TextBox</option>
					<option value="12" {{if compare .FormItems.FieldType1 "Date" }}selected {{end}}>Date</option>
				</select>
			
			</div>
			</div>
		</div>
		</div>
		
		<div class="row">
		<div class="col-md-12">
		<div class="form-group">
			<div class="col-md-4" style="margin-left:15%;">
                <input type="text" name="name2" value="{{.FormItems.FieldName2}}" class="form-control "  placeholder="Field Name" />
            </div>
            <div class="col-md-4" style="margin-left:3%;">
				<select data-size="5" name="type2" class="bs-select form-control" style="width:80px;">
				<option disabled selected value> -- Choose a FieldType -- </option>
					<option value="1" {{if compare .FormItems.FieldType2 "Product" }}selected {{end}}>Product</option>
					<option value="2" {{if compare .FormItems.FieldType2 "Items" }}selected {{end}}>Items</option>
					<option value="3" {{if compare .FormItems.FieldType2 "GRN" }}selected {{end}}>GRN</option>
					<option value="4" {{if compare .FormItems.FieldType2 "Suppliers" }}selected {{end}}>Suppliers</option>
					<option value="5" {{if compare .FormItems.FieldType2 "Customers" }}selected {{end}}>Customers</option>
					<option value="6" {{if compare .FormItems.FieldType2 "PO" }}selected {{end}}>PO</option>
					<option value="7" {{if compare .FormItems.FieldType2 "SO" }}selected {{end}}>SO</option>
					<option value="8" {{if compare .FormItems.FieldType2 "ProductionOrder" }}selected {{end}}>ProductionOrder</option>
					<option value="9" {{if compare .FormItems.FieldType2 "Ticket" }}selected {{end}}>Ticket</option>
					<option value="10" {{if compare .FormItems.FieldType2 "Employees" }}selected {{end}}>Employees</option>
					<option value="11" {{if compare .FormItems.FieldType2 "TextBox" }}selected {{end}}>TextBox</option>
					<option value="12" {{if compare .FormItems.FieldType2 "Date" }}selected {{end}}>Date</option>
				</select>
			</div>
			
		</div>
		</div>
		</div>
        <div class="row">
		<div class="col-md-12">
		<div class="form-group">
			<div class="col-md-4" style="margin-left:15%;">
                <input type="text" name="name3" value="{{.FormItems.FieldName3}}" class="form-control "  placeholder="Field Name" />
            </div>
            <div class="col-md-4" style="margin-left:3%;">
				<select data-size="5" name="type3" class="bs-select form-control" style="width:80px;">
				<option disabled selected value> -- Choose a FieldType -- </option>
					<option value="1" {{if compare .FormItems.FieldType3 "Product" }}selected {{end}}>Product</option>
					<option value="2" {{if compare .FormItems.FieldType3 "Items" }}selected {{end}}>Items</option>
					<option value="3" {{if compare .FormItems.FieldType3 "GRN" }}selected {{end}}>GRN</option>
					<option value="4" {{if compare .FormItems.FieldType3 "Suppliers" }}selected {{end}}>Suppliers</option>
					<option value="5" {{if compare .FormItems.FieldType3 "Customers" }}selected {{end}}>Customers</option>
					<option value="6" {{if compare .FormItems.FieldType3 "PO" }}selected {{end}}>PO</option>
					<option value="7" {{if compare .FormItems.FieldType3 "SO" }}selected {{end}}>SO</option>
					<option value="8" {{if compare .FormItems.FieldType3 "ProductionOrder" }}selected {{end}}>ProductionOrder</option>
					<option value="9" {{if compare .FormItems.FieldType3 "Ticket" }}selected {{end}}>Ticket</option>
					<option value="10" {{if compare .FormItems.FieldType3 "Employees" }}selected {{end}}>Employees</option>
					<option value="11" {{if compare .FormItems.FieldType3 "TextBox" }}selected {{end}}>TextBox</option>
					<option value="12" {{if compare .FormItems.FieldType3 "Date" }}selected {{end}}>Date</option>
				</select>
			</div>
			
		</div>
		</div>
		</div>
		<div class="row">
		<div class="col-md-12">
		<div class="form-group">
			<div class="col-md-4" style="margin-left:15%;">
                <input type="text" name="name4" value="{{.FormItems.FieldName4}}" class="form-control "  placeholder="Field Name" />
            </div>
            <div class="col-md-4" style="margin-left:3%;">
				<select data-size="5" name="type4" class="bs-select form-control" style="width:80px;">
				<option disabled selected value> -- Choose a FieldType -- </option>
					<option value="1" {{if compare .FormItems.FieldType4 "Product" }}selected {{end}}>Product</option>
					<option value="2" {{if compare .FormItems.FieldType4 "Items" }}selected {{end}}>Items</option>
					<option value="3" {{if compare .FormItems.FieldType4 "GRN" }}selected {{end}}>GRN</option>
					<option value="4" {{if compare .FormItems.FieldType4 "Suppliers" }}selected {{end}}>Suppliers</option>
					<option value="5" {{if compare .FormItems.FieldType4 "Customers" }}selected {{end}}>Customers</option>
					<option value="6" {{if compare .FormItems.FieldType4 "PO" }}selected {{end}}>PO</option>
					<option value="7" {{if compare .FormItems.FieldType4 "SO" }}selected {{end}}>SO</option>
					<option value="8" {{if compare .FormItems.FieldType4 "ProductionOrder" }}selected {{end}}>ProductionOrder</option>
					<option value="9" {{if compare .FormItems.FieldType4 "Ticket" }}selected {{end}}>Ticket</option>
					<option value="10" {{if compare .FormItems.FieldType4 "Employees" }}selected {{end}}>Employees</option>
					<option value="11" {{if compare .FormItems.FieldType4 "TextBox" }}selected {{end}}>TextBox</option>
					<option value="12" {{if compare .FormItems.FieldType4 "Date" }}selected {{end}}>Date</option>
				</select>
			</div>
			
		</div>
		</div>
		</div>
		<div class="row">
		<div class="col-md-12">
		<div class="form-group">
			<div class="col-md-4" style="margin-left:15%;">
                <input type="text" name="name5" value="{{.FormItems.FieldName5}}" class="form-control "  placeholder="Field Name" />
            </div>
            <div class="col-md-4" style="margin-left:3%;">
				<select data-size="5" name="type5" class="bs-select form-control" style="width:80px;">
				<option disabled selected value> -- Choose a FieldType -- </option>
					<option value="1" {{if compare .FormItems.FieldType5 "Product" }}selected {{end}}>Product</option>
					<option value="2" {{if compare .FormItems.FieldType5 "Items" }}selected {{end}}>Items</option>
					<option value="3" {{if compare .FormItems.FieldType5 "GRN" }}selected {{end}}>GRN</option>
					<option value="4" {{if compare .FormItems.FieldType5 "Suppliers" }}selected {{end}}>Suppliers</option>
					<option value="5" {{if compare .FormItems.FieldType5 "Customers" }}selected {{end}}>Customers</option>
					<option value="6" {{if compare .FormItems.FieldType5 "PO" }}selected {{end}}>PO</option>
					<option value="7" {{if compare .FormItems.FieldType5 "SO" }}selected {{end}}>SO</option>
					<option value="8" {{if compare .FormItems.FieldType5 "ProductionOrder" }}selected {{end}}>ProductionOrder</option>
					<option value="9" {{if compare .FormItems.FieldType5 "Ticket" }}selected {{end}}>Ticket</option>
					<option value="10" {{if compare .FormItems.FieldType5 "Employees" }}selected {{end}}>Employees</option>
					<option value="11" {{if compare .FormItems.FieldType5 "TextBox" }}selected {{end}}>TextBox</option>
					<option value="12" {{if compare .FormItems.FieldType5 "Date" }}selected {{end}}>Date</option>
				</select>
			</div>
			
		</div>
		</div>
		</div>
		<div class="row">
		<div class="col-md-12">
		<div class="form-group">
			<div class="col-md-4" style="margin-left:15%;">
                <input type="text" name="name6" value="{{.FormItems.FieldName6}}" class="form-control "  placeholder="Field Name" />
            </div>
            <div class="col-md-4" style="margin-left:3%;">
				<select data-size="5" name="type6" class="bs-select form-control" style="width:80px;">
				<option disabled selected value> -- Choose a FieldType -- </option>
					<option value="1" {{if compare .FormItems.FieldType6 "Product" }}selected {{end}}>Product</option>
					<option value="2" {{if compare .FormItems.FieldType6 "Items" }}selected {{end}}>Items</option>
					<option value="3" {{if compare .FormItems.FieldType6 "GRN" }}selected {{end}}>GRN</option>
					<option value="4" {{if compare .FormItems.FieldType6 "Suppliers" }}selected {{end}}>Suppliers</option>
					<option value="5" {{if compare .FormItems.FieldType6 "Customers" }}selected {{end}}>Customers</option>
					<option value="6" {{if compare .FormItems.FieldType6 "PO" }}selected {{end}}>PO</option>
					<option value="7" {{if compare .FormItems.FieldType6 "SO" }}selected {{end}}>SO</option>
					<option value="8" {{if compare .FormItems.FieldType6 "ProductionOrder" }}selected {{end}}>ProductionOrder</option>
					<option value="9" {{if compare .FormItems.FieldType6 "Ticket" }}selected {{end}}>Ticket</option>
					<option value="10" {{if compare .FormItems.FieldType6 "Employees" }}selected {{end}}>Employees</option>
					<option value="11" {{if compare .FormItems.FieldType6 "TextBox" }}selected {{end}}>TextBox</option>
					<option value="12" {{if compare .FormItems.FieldType6 "Date" }}selected {{end}}>Date</option>
				</select>
			</div>
			
		</div>
		</div>
		</div>
		<div class="row">
		<div class="col-md-12">
		<div class="form-group">
			<div class="col-md-4" style="margin-left:15%;">
                <input type="text" name="name7" value="{{.FormItems.FieldName7}}" class="form-control "  placeholder="Field Name" />
            </div>
            <div class="col-md-4" style="margin-left:3%;">
				<select data-size="5" name="type7" class="bs-select form-control" style="width:80px;">
				<option disabled selected value> -- Choose a FieldType -- </option>
					<option value="1" {{if compare .FormItems.FieldType7 "Product" }}selected {{end}}>Product</option>
					<option value="2" {{if compare .FormItems.FieldType7 "Items" }}selected {{end}}>Items</option>
					<option value="3" {{if compare .FormItems.FieldType7 "GRN" }}selected {{end}}>GRN</option>
					<option value="4" {{if compare .FormItems.FieldType7 "Suppliers" }}selected {{end}}>Suppliers</option>
					<option value="5" {{if compare .FormItems.FieldType7 "Customers" }}selected {{end}}>Customers</option>
					<option value="6" {{if compare .FormItems.FieldType7 "PO" }}selected {{end}}>PO</option>
					<option value="7" {{if compare .FormItems.FieldType7 "SO" }}selected {{end}}>SO</option>
					<option value="8" {{if compare .FormItems.FieldType7 "ProductionOrder" }}selected {{end}}>ProductionOrder</option>
					<option value="9" {{if compare .FormItems.FieldType7 "Ticket" }}selected {{end}}>Ticket</option>
					<option value="10" {{if compare .FormItems.FieldType7 "Employees" }}selected {{end}}>Employees</option>
					<option value="11" {{if compare .FormItems.FieldType7 "TextBox" }}selected {{end}}>TextBox</option>
					<option value="12" {{if compare .FormItems.FieldType7 "Date" }}selected {{end}}>Date</option>
				</select>
			</div>
			
		</div>
		</div>
		</div>
		<div class="row">
		<div class="col-md-12">
		<div class="form-group">
			<div class="col-md-4" style="margin-left:15%;">
                <input type="text" name="name8" value="{{.FormItems.FieldName8}}" class="form-control "  placeholder="Field Name" />
            </div>
            <div class="col-md-4" style="margin-left:3%;">
				<select data-size="5" name="type8" class="bs-select form-control" style="width:80px;">
				<option disabled selected value> -- Choose a FieldType -- </option>
					<option value="1" {{if compare .FormItems.FieldType8 "Product" }}selected {{end}}>Product</option>
					<option value="2" {{if compare .FormItems.FieldType8 "Items" }}selected {{end}}>Items</option>
					<option value="3" {{if compare .FormItems.FieldType8 "GRN" }}selected {{end}}>GRN</option>
					<option value="4" {{if compare .FormItems.FieldType8 "Suppliers" }}selected {{end}}>Suppliers</option>
					<option value="5" {{if compare .FormItems.FieldType8 "Customers" }}selected {{end}}>Customers</option>
					<option value="6" {{if compare .FormItems.FieldType8 "PO" }}selected {{end}}>PO</option>
					<option value="7" {{if compare .FormItems.FieldType8 "SO" }}selected {{end}}>SO</option>
					<option value="8" {{if compare .FormItems.FieldType8 "ProductionOrder" }}selected {{end}}>ProductionOrder</option>
					<option value="9" {{if compare .FormItems.FieldType8 "Ticket" }}selected {{end}}>Ticket</option>
					<option value="10" {{if compare .FormItems.FieldType8 "Employees" }}selected {{end}}>Employees</option>
					<option value="11" {{if compare .FormItems.FieldType8 "TextBox" }}selected {{end}}>TextBox</option>
					<option value="12" {{if compare .FormItems.FieldType8 "Date" }}selected {{end}}>Date</option>
				</select>
			</div>
			
		</div>
		</div>
		</div>
		<div class="row">
		<div class="col-md-12">
		<div class="form-group">
			<div class="col-md-4" style="margin-left:15%;">
                <input type="text" name="name9" value="{{.FormItems.FieldName9}}" class="form-control "  placeholder="Field Name" />
            </div>
            <div class="col-md-4" style="margin-left:3%;">
				<select data-size="5" name="type9" class="bs-select form-control" style="width:80px;">
				<option disabled selected value> -- Choose a FieldType -- </option>
					<option value="1" {{if compare .FormItems.FieldType9 "Product" }}selected {{end}}>Product</option>
					<option value="2" {{if compare .FormItems.FieldType9 "Items" }}selected {{end}}>Items</option>
					<option value="3" {{if compare .FormItems.FieldType9 "GRN" }}selected {{end}}>GRN</option>
					<option value="4" {{if compare .FormItems.FieldType9 "Suppliers" }}selected {{end}}>Suppliers</option>
					<option value="5" {{if compare .FormItems.FieldType9 "Customers" }}selected {{end}}>Customers</option>
					<option value="6" {{if compare .FormItems.FieldType9 "PO" }}selected {{end}}>PO</option>
					<option value="7" {{if compare .FormItems.FieldType9 "SO" }}selected {{end}}>SO</option>
					<option value="8" {{if compare .FormItems.FieldType9 "ProductionOrder" }}selected {{end}}>ProductionOrder</option>
					<option value="9" {{if compare .FormItems.FieldType9 "Ticket" }}selected {{end}}>Ticket</option>
					<option value="10" {{if compare .FormItems.FieldType9 "Employees" }}selected {{end}}>Employees</option>
					<option value="11" {{if compare .FormItems.FieldType9 "TextBox" }}selected {{end}}>TextBox</option>
					<option value="12" {{if compare .FormItems.FieldType9 "Date" }}selected {{end}}>Date</option>
				</select>
			</div>
			
		</div>
		</div>
		</div>
		<div class="row">
		<div class="col-md-12">
		<div class="form-group">
			<div class="col-md-4" style="margin-left:15%;">
                <input type="text" name="name10" value="{{.FormItems.FieldName10}}" class="form-control "  placeholder="Field Name" />
            </div>
            <div class="col-md-4" style="margin-left:3%;">
				<select data-size="5" name="type10" class="bs-select form-control" style="width:80px;">
				<option disabled selected value> -- Choose a FieldType -- </option>
					<option value="1" {{if compare .FormItems.FieldType10 "Product" }}selected {{end}}>Product</option>
					<option value="2" {{if compare .FormItems.FieldType10 "Items" }}selected {{end}}>Items</option>
					<option value="3" {{if compare .FormItems.FieldType10 "GRN" }}selected {{end}}>GRN</option>
					<option value="4" {{if compare .FormItems.FieldType10 "Suppliers" }}selected {{end}}>Suppliers</option>
					<option value="5" {{if compare .FormItems.FieldType10 "Customers" }}selected {{end}}>Customers</option>
					<option value="6" {{if compare .FormItems.FieldType10 "PO" }}selected {{end}}>PO</option>
					<option value="7" {{if compare .FormItems.FieldType10 "SO" }}selected {{end}}>SO</option>
					<option value="8" {{if compare .FormItems.FieldType10 "ProductionOrder" }}selected {{end}}>ProductionOrder</option>
					<option value="9" {{if compare .FormItems.FieldType10 "Ticket" }}selected {{end}}>Ticket</option>
					<option value="10" {{if compare .FormItems.FieldType10 "Employees" }}selected {{end}}>Employees</option>
					<option value="11" {{if compare .FormItems.FieldType10 "TextBox" }}selected {{end}}>TextBox</option>
					<option value="12" {{if compare .FormItems.FieldType10 "Date" }}selected {{end}}>Date</option>
				</select>
			</div>
			
		</div>
		</div>
		</div>
		<div class="row">
		<div class="col-md-12">
		<div class="form-group">
			<div class="col-md-4" style="margin-left:15%;">
                <input type="text" name="name11" value="{{.FormItems.FieldName11}}" class="form-control "  placeholder="Field Name" />
            </div>
            <div class="col-md-4" style="margin-left:3%;">
				<select data-size="5" name="type11" class="bs-select form-control" style="width:80px;">
				<option disabled selected value> -- Choose a FieldType -- </option>
					<option value="1" {{if compare .FormItems.FieldType11 "Product" }}selected {{end}}>Product</option>
					<option value="2" {{if compare .FormItems.FieldType11 "Items" }}selected {{end}}>Items</option>
					<option value="3" {{if compare .FormItems.FieldType11 "GRN" }}selected {{end}}>GRN</option>
					<option value="4" {{if compare .FormItems.FieldType11 "Suppliers" }}selected {{end}}>Suppliers</option>
					<option value="5" {{if compare .FormItems.FieldType11 "Customers" }}selected {{end}}>Customers</option>
					<option value="6" {{if compare .FormItems.FieldType11 "PO" }}selected {{end}}>PO</option>
					<option value="7" {{if compare .FormItems.FieldType11 "SO" }}selected {{end}}>SO</option>
					<option value="8" {{if compare .FormItems.FieldType11 "ProductionOrder" }}selected {{end}}>ProductionOrder</option>
					<option value="9" {{if compare .FormItems.FieldType11 "Ticket" }}selected {{end}}>Ticket</option>
					<option value="10" {{if compare .FormItems.FieldType11 "Employees" }}selected {{end}}>Employees</option>
					<option value="11" {{if compare .FormItems.FieldType11 "TextBox" }}selected {{end}}>TextBox</option>
					<option value="12" {{if compare .FormItems.FieldType11 "Date" }}selected {{end}}>Date</option>
				</select>
			</div>
			
		</div>
		</div>
		</div>
		<div class="row">
		<div class="col-md-12">
		<div class="form-group">
			<div class="col-md-4" style="margin-left:15%;">
                <input type="text" name="name12" value="{{.FormItems.FieldName12}}" class="form-control "  placeholder="Field Name" />
            </div>
            <div class="col-md-4" style="margin-left:3%;">
				<select data-size="5" name="type12" class="bs-select form-control" style="width:80px;">
				<option disabled selected value> -- Choose a FieldType -- </option>
					<option value="1" {{if compare .FormItems.FieldType12 "Product" }}selected {{end}}>Product</option>
					<option value="2" {{if compare .FormItems.FieldType12 "Items" }}selected {{end}}>Items</option>
					<option value="3" {{if compare .FormItems.FieldType12 "GRN" }}selected {{end}}>GRN</option>
					<option value="4" {{if compare .FormItems.FieldType12 "Suppliers" }}selected {{end}}>Suppliers</option>
					<option value="5" {{if compare .FormItems.FieldType12 "Customers" }}selected {{end}}>Customers</option>
					<option value="6" {{if compare .FormItems.FieldType12 "PO" }}selected {{end}}>PO</option>
					<option value="7" {{if compare .FormItems.FieldType12 "SO" }}selected {{end}}>SO</option>
					<option value="8" {{if compare .FormItems.FieldType12 "ProductionOrder" }}selected {{end}}>ProductionOrder</option>
					<option value="9" {{if compare .FormItems.FieldType12 "Ticket" }}selected {{end}}>Ticket</option>
					<option value="10" {{if compare .FormItems.FieldType12 "Employees" }}selected {{end}}>Employees</option>
					<option value="11" {{if compare .FormItems.FieldType12 "TextBox" }}selected {{end}}>TextBox</option>
					<option value="12" {{if compare .FormItems.FieldType12 "Date" }}selected {{end}}>Date</option>
				</select>
			</div>
			
		</div>
		</div>
		</div>
		<div class="row">
		<div class="col-md-12">
		<div class="form-group">
			<div class="col-md-4" style="margin-left:15%;">
                <input type="text" name="name13" value="{{.FormItems.FieldName13}}" class="form-control "  placeholder="Field Name" />
            </div>
            <div class="col-md-4" style="margin-left:3%;">
				<select data-size="5" name="type13" class="bs-select form-control" style="width:80px;">
				<option disabled selected value> -- Choose a FieldType -- </option>
					<option value="1" {{if compare .FormItems.FieldType13 "Product" }}selected {{end}}>Product</option>
					<option value="2" {{if compare .FormItems.FieldType13 "Items" }}selected {{end}}>Items</option>
					<option value="3" {{if compare .FormItems.FieldType13 "GRN" }}selected {{end}}>GRN</option>
					<option value="4" {{if compare .FormItems.FieldType13 "Suppliers" }}selected {{end}}>Suppliers</option>
					<option value="5" {{if compare .FormItems.FieldType13 "Customers" }}selected {{end}}>Customers</option>
					<option value="6" {{if compare .FormItems.FieldType13 "PO" }}selected {{end}}>PO</option>
					<option value="7" {{if compare .FormItems.FieldType13 "SO" }}selected {{end}}>SO</option>
					<option value="8" {{if compare .FormItems.FieldType13 "ProductionOrder" }}selected {{end}}>ProductionOrder</option>
					<option value="9" {{if compare .FormItems.FieldType13 "Ticket" }}selected {{end}}>Ticket</option>
					<option value="10" {{if compare .FormItems.FieldType13 "Employees" }}selected {{end}}>Employees</option>
					<option value="11" {{if compare .FormItems.FieldType13 "TextBox" }}selected {{end}}>TextBox</option>
					<option value="12" {{if compare .FormItems.FieldType13 "Date" }}selected {{end}}>Date</option>
				</select>
			</div>
			
		</div>
		</div>
		</div>
		<div class="row">
		<div class="col-md-12">
		<div class="form-group">
			<div class="col-md-4" style="margin-left:15%;">
                <input type="text" name="name14" value="{{.FormItems.FieldName14}}" class="form-control "  placeholder="Field Name" />
            </div>
            <div class="col-md-4" style="margin-left:3%;">
				<select data-size="5" name="type14" class="bs-select form-control" style="width:80px;">
				<option disabled selected value> -- Choose a FieldType -- </option>
					<option value="1" {{if compare .FormItems.FieldType14 "Product" }}selected {{end}}>Product</option>
					<option value="2" {{if compare .FormItems.FieldType14 "Items" }}selected {{end}}>Items</option>
					<option value="3" {{if compare .FormItems.FieldType14 "GRN" }}selected {{end}}>GRN</option>
					<option value="4" {{if compare .FormItems.FieldType14 "Suppliers" }}selected {{end}}>Suppliers</option>
					<option value="5" {{if compare .FormItems.FieldType14 "Customers" }}selected {{end}}>Customers</option>
					<option value="6" {{if compare .FormItems.FieldType14 "PO" }}selected {{end}}>PO</option>
					<option value="7" {{if compare .FormItems.FieldType14 "SO" }}selected {{end}}>SO</option>
					<option value="8" {{if compare .FormItems.FieldType14 "ProductionOrder" }}selected {{end}}>ProductionOrder</option>
					<option value="9" {{if compare .FormItems.FieldType14 "Ticket" }}selected {{end}}>Ticket</option>
					<option value="10" {{if compare .FormItems.FieldType14 "Employees" }}selected {{end}}>Employees</option>
					<option value="11" {{if compare .FormItems.FieldType14 "TextBox" }}selected {{end}}>TextBox</option>
					<option value="12" {{if compare .FormItems.FieldType14 "Date" }}selected {{end}}>Date</option>
				</select>
			</div>
			
		</div>
		</div>
		</div>
		<div class="row">
		<div class="col-md-12">
		<div class="form-group">
			<div class="col-md-4" style="margin-left:15%;">
                <input type="text" name="name15" value="{{.FormItems.FieldName15}}" class="form-control "  placeholder="Field Name" />
            </div>
            <div class="col-md-4" style="margin-left:3%;">
				<select data-size="5" name="type15" class="bs-select form-control" style="width:80px;">
				<option disabled selected value> -- Choose a FieldType -- </option>
					<option value="1" {{if compare .FormItems.FieldType15 "Product" }}selected {{end}}>Product</option>
					<option value="2" {{if compare .FormItems.FieldType15 "Items" }}selected {{end}}>Items</option>
					<option value="3" {{if compare .FormItems.FieldType15 "GRN" }}selected {{end}}>GRN</option>
					<option value="4" {{if compare .FormItems.FieldType15 "Suppliers" }}selected {{end}}>Suppliers</option>
					<option value="5" {{if compare .FormItems.FieldType15 "Customers" }}selected {{end}}>Customers</option>
					<option value="6" {{if compare .FormItems.FieldType15 "PO" }}selected {{end}}>PO</option>
					<option value="7" {{if compare .FormItems.FieldType15 "SO" }}selected {{end}}>SO</option>
					<option value="8" {{if compare .FormItems.FieldType15 "ProductionOrder" }}selected {{end}}>ProductionOrder</option>
					<option value="9" {{if compare .FormItems.FieldType15 "Ticket" }}selected {{end}}>Ticket</option>
					<option value="10" {{if compare .FormItems.FieldType15 "Employees" }}selected {{end}}>Employees</option>
					<option value="11" {{if compare .FormItems.FieldType15 "TextBox" }}selected {{end}}>TextBox</option>
					<option value="12" {{if compare .FormItems.FieldType15 "Date" }}selected {{end}}>Date</option>
				</select>
			</div>
			
		</div>
		</div>
		</div>						
		<div class="form-actions">
			<div class="row">
				<div class="col-md-12" style="text-align: center;">
					<button type="submit"  class="btn green" style="height: 35px; width:80px;">Save</button>
				</div>
			</div>
		</div>
						
	   </form>
      </div>	
	</div>

</div>
	</div>
	</div>
	  <div class="row">
                        <div class="col-md-12">
                            <!-- BEGIN EXAMPLE TABLE PORTLET-->
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                    <div class="caption font-dark">
                                        <i class="icon-settings font-dark"></i>
                                        <span class="caption-subject bold uppercase"> Master Forms</span>
                                    </div>
                                    <div class="actions">
                                        <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" style="width:20px; height:20px; line-height: 0.999; padding-left:4px; "> </a>
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <table class="table table-bordered table-hover table-checkable order-column" id="supplier_view_table">
                                        <thead>
                                            <tr>
                                                  <th style="text-align: center; width: 48px"> Report Unique Code </th>
                                                <th style="text-align: center"> Report Name </th>
                                                <th style="text-align: center"> Report type </th>
                                                <th style="text-align: center"> View </th>
                                                                                         
                                            </tr>
                 </thead>
                  <tbody>
                  {{ if .Retrieved}}
                  {{ range $reports := .Retrieved }}
                  <tr class="odd gradeX">
                                                
                  <td style="text-align: left"> {{ $reports.unique_code }} </td>
                 <td style="text-align: left"> {{ $reports.name }} </td>
                   <td style="text-align: right;"> {{ $reports.type }} </td>  
                 <td class="text-center"><a data-toggle="modal" id="{{ $reports.pkid}}" class="productview" data-target="#reportsModal_{{ $reports.unique_code }}" data-toggle="tooltip" title="View"><i class="fa fa-eye"></i> </a>
                                  
                 </tr>
                 {{end}}
                   </tbody>
                </table>
            </div>
                            </div>
                            <!-- END EXAMPLE TABLE PORTLET-->
                        </div>
                    </div>

            {{ range $reports := .Retrieved }}
                    <div id="reportsModal_{{ $reports.unique_code }}" class="modal fade bs-modal-lg" role="dialog">
                        <div class="modal-dialog modal-lg">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <div class="portlet-title">
                                        <div class="caption font-dark">
                                            <i class="icon-settings font-dark"></i>
                                            <span class="caption-subject bold uppercase"> Report details</span>
											<i class="fa fa-print no-print" title="Print" style="float:right;" onclick="jQuery('#reportsModal_{{ $reports.unique_code }}').print()"></i>
                                        </div>
                                    </div>
                                    <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
                                </div>
                                <div class="modal-body">
									<table class="col-md-12" style="margin-bottom: 25px;">
										<tr>
											<th class="col-md-3">Report Name:</th>
											<td class="col-md-3">{{ $reports.name }}</td>
											<th class="col-md-3">Report Type:</th>
											<td class="col-md-3">{{ $reports.type }}</td>
										</tr>
                                    <!--<div class="row">
                                        <div class="col-sm-6">
                                            <lable class="col-md-5 control-label bold">Report Name:</lable>
                                            <div class="col-md-7">{{ $reports.name }}</div>
                                        </div>
                                        <div class="col-sm-6">
                                            <lable class="col-md-5 control-label bold">Report Type:</lable>
                                            <div class="col-md-7">{{ $reports.type }}</div>
                                        </div>
                                    </div>-->
										<tr>
											<th class="col-md-3">Report Unique Code:</th>
											<td class="col-md-3">{{ $reports.unique_code }}</td>
											<th class="col-md-3">Created On:</th>
											<td class="col-md-3">{{ $reports.c_date }}</td>
										</tr>
                                    <!--<div class="row">
                                        <div class="col-sm-6">
                                            <lable class="col-md-5 control-label bold">Report Unique Code:</lable>
                                            <div class="col-md-7">{{ $reports.unique_code }}</div>
                                        </div>
                                        <div class="col-sm-6">
                                            <lable class="col-md-5 control-label bold">Created On:</lable>
                                            <div class="col-md-7">{{ $reports.c_date }}</div>
                                        </div>
                                    </div>-->
                                   </table>
                                    <br>
                                    <h5><b>Format</b></h5>
                                     <p id="demo_{{ $reports.pkid}}"></p>
                                  
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>

                        </div>
                    </div>
            {{end}}  
            {{end}}  
	
</div>
      

        {{end}}

        {{ define "pagelevelplugins" }} 
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <script src="/static/assets/global/scripts/datatable.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/jquery-repeater/jquery.repeater.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
		<script src="/static/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.js" type="text/javascript"></script>
		 <script src="/static/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
		 <script src="/static/assets/global/plugins/bootstrap-select/js/bootstrap-select.min.js" type="text/javascript"></script>
		 <script src="/static/assets/global/plugins/jquery-multi-select/js/jquery.multi-select.js" type="text/javascript"></script>
		 <script src="/static/assets/global/plugins/typeahead/typeahead.bundle.min.js" type="text/javascript"></script>
		 <script src="/static/assets/global/plugins/jQuery.print-master/jQuery.print.js" type="text/javascript"></script>
        <!-- END PAGE LEVEL PLUGINS -->     
        {{ end }}

        {{define "pagelevelscripts"}} 
        <!-- BEGIN PAGE LEVEL SCRIPTS -->
        <script src="/static/assets/pages/scripts/table-datatables-managed.js" type="text/javascript"></script>
        <script src="/static/assets/pages/scripts/components-select2.min.js" type="text/javascript"></script>		
		<script src="/static/assets/pages/scripts/components-bootstrap-select.min.js" type="text/javascript"></script>
        <script src="/static/assets/pages/scripts/components-bootstrap-touchspin.js" type="text/javascript"></script>
		<script src="/static/assets/pages/scripts/components-multi-select.min.js" type="text/javascript"></script>
		 <script src="/static/assets/global/plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.js"></script>
		 
        <script src="/static/assets/pages/scripts/form-repeater.min.js" type="text/javascript"></script>
        <script src="/static/assets/pages/scripts/components-date-time-pickers.min.js" type="text/javascript"></script>
		<script src="/static/assets/pages/scripts/components-bootstrap-select.min.js" type="text/javascript"></script>
		<script src="/static/assets/pages/scripts/components-multi-select.min.js" type="text/javascript"></script>
		<script src="/static/assets/pages/scripts/components-bootstrap-touchspin.js" type="text/javascript"></script>
		<
		 <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script> -->
		
		
		<script type="text/javascript">
		    $(function() {
		    $(document).on('click','.productview',function(e){
		        //e.preventDefault()
		    var element = $(this);
		    var product_id = element.attr("id");
		    var info = 'id=' + product_id;
		        $.ajax({
		            type: "GET",
		            url: "/reports/reports-format",
		            data: info,
		            contentType: "application/json; charset=utf-8",
		            dataType: "json",
		            cache: false,
		            success: function(data){ 
		                var thead = '<table class="table table-bordered table-hover dt-responsive dataTable table-checkable order-column" width="20%"><thead><tr><th>Sr No</th><th style="width:40%;">Field Name</th><th style="width:30%;">Field Type</th></td></tr></thead><tbody>';

		                var tfooter = '</tbody></table>';
		                var trHTML = '';
		                
		                $.each(data.listing_order, function (i, item) {
		                    
		                    trHTML += '<tr><td style="padding-left:5px">' + item + '</td><td style="padding-left:30px">' + data.field_name[i] +'</td><td style="padding-left:20px">' + data.field_type[i] +'</td></tr>';
		                });
		                //$('#demo').append(thead, trHTML, tfooter);
		                var demo = 'demo_' + product_id
		                document.getElementById(demo).innerHTML = thead + trHTML + tfooter;
		                // $('#demo').append( $.map(data.items, function (ignore, index) {
		                //     return '<table class="table table-bordered table-hover dt-responsive dataTable table-checkable order-column" width="80%"><thead><tr><th>Item</th><th>Quantity</td></tr></thead><tbody>'+'<tr><td>' + data.items[index] + '</td><td>' + data.quantity[index] + '</td></tr>'+'</tbody></table>';
		                // }).join());
		            } 
		        });
		        });
		    });
		</script>
		
        <!-- END PAGE LEVEL SCRIPTS -->
        {{end}}