/* here you can put your own css to customize and override the theme */
.signupDomain {
    border-left: none;
    border-radius: 0 6px 6px 0;
    width: 94px;
    background: #f5f5f5;
    color: #707070;
}

textarea {
	resize: none;
}

.page-sidebar-fixed .page-footer {
  margin-left: 0;
  padding: 10px 20px;
}

.page-footer .page-footer-inner {
  display: block;
  float: none;
  margin-bottom: 15px;
  margin: AUTO;
  text-align: center;
}
.scroll-to-top {
  bottom: 35px;
  right: 5px;
}

.page-sidebar-fixed .page-sidebar {
  top: 90px;
}

.page-sidebar-fixed .page-sidebar div.slimScrollDiv {
  height: 521px !important;
}

.nav-link.nav-toggle .fa {
  margin-left: 3px;
  margin-right: 2px;
}

.page-sidebar, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover {
  border-radius: 2px;
}

.page-sidebar-fixed .page-footer {
  margin-left: 0;
  padding: 7px 20px;
}

.text-logo {
  color: #49a7fa;
  font-family: sans-serif;
  font-size: 28px;
  left: 10px;
  position: absolute;
  text-transform: uppercase;
  top: 5px;
}

.page-sidebar-closed.page-sidebar-closed-hide-logo .page-header.navbar .page-logo .text-logo {
  display: none;
}


.page-sidebar.navbar-collapse.collapse {
  bottom: 36px;
  position: relative;
  top: 0px;
  z-index: 3;
}
.nts .form-control {
  border-radius: 2px;
}
.nts .bootstrap-touchspin .btn.btn-default.bootstrap-touchspin-up {
  border-radius: 0 2px 2px 0;
  box-shadow: none;
  padding: 8px 14px;
  background-color: #eee;
}


.nts .bootstrap-touchspin .btn.btn-default.bootstrap-touchspin-down
 {
  border-radius: 0 0 2px;
  box-shadow: none;
  padding: 8px 14px;
  background-color: #eee;
}

.nts .bootstrap-touchspin .btn.btn-default.bootstrap-touchspin-down:hover {
	background-color: #fff;
}
.nts .bootstrap-touchspin .form-control {
  border-radius: 2px 0 0 2px !important;
}

.bootstrap-touchspin .input-group-btn-vertical i {
  top: 1px;
}



.nts .mt-checkbox {
  margin-top: 6px;
}

.nts .input-medium {
  width: auto  !important;
}

.nts .input-medium .form-control {
  background-color: #fff;
  border-radius: 2px;
}

.nts .input-medium .input-group-btn .btn.default {
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 0 2px 2px 0;
  box-shadow: none;
  padding: 7px 10px 8px;
}

.nts .form-control.tt-input {
  border-radius: 2px !important;
}

.nts .bs-select .btn.dropdown-toggle.btn-default {
  box-shadow: none !important;
}

.nts .input-group-addon > i {
  color: #888;
}

.nts .input-group-addon {
  border-radius: 0 2px 2px 0;
}

.nts .bootstrap-touchspin .btn.btn-default.bootstrap-touchspin-down .glyphicon.glyphicon-chevron-down {
  left: 0;
  right: 0;
  top: 2px;
}

.nts .bootstrap-touchspin .btn.btn-default.bootstrap-touchspin-up .glyphicon.glyphicon-chevron-up {
  left: 0;
  right: 0;
}

.nts .multiselect.dropdown-toggle.mt-multiselect.btn.btn-default {
  box-shadow: none;
}

.nts .multiselect-container > li {
  padding: 0 0 0 10px;
}

.nts .multiselect-container .checkbox > input {
  margin-left: 0;
  left: -20px;
}

.multiselect-container.dropdown-menu a {
  padding-left: 25px;
}

#purchase_grn_view_table .btn-group {
  display: inline-block;
  position: relative !important;
  vertical-align: middle;
  width: 126px;
}

.breadcrumb .ms-hover .active {
  color: #000;
}

.nts .mt-repeater .mt-repeater-item {
  border: medium none;
  margin-bottom: 0;
  padding-bottom: 10px;
}

.nts .mt-repeater.form-horizontal {
  border-bottom: 1px solid #ddd;
  padding-bottom: 15px;
}


#stock_view_table td {
  position: relative;
}

#stock_view_table .stock-available-td .sani-plus {
  display: none;
  position: absolute;
  right: 10px;
  top: 7px;
}
#stock_view_table .stock-available-td:hover .sani-plus {
	display: block;
}
#stock_view_table .stock-available-td .sani-plus .badge.badge-success {
  padding: 2px 5px;
}

.tools.nts-tools {
  margin-right: 820px;         /* 15px */
  position: absolute;
}

.nts .form-section {
  margin: 0;
}

.nts .mt-radio-inline {
  padding-top: 0;
  padding-bottom: 0;
}

.nts .mt-radio-inline .mt-radio {
  margin-bottom: 6px;
}

.nts .input-large {
  width: auto !important;
}

.breadcrumb .active {
  color: #000;
}

.nts .display {
  position: relative;
}

.nts .display .icon {
  float: none;
  position: absolute;
  right: 0;
}

.nts .row.flex {
  display: flex;
}

.nts .row.flex .dashboard-stat2 {
	background: #fff none repeat scroll 0 0;
	border-radius: 2px;
	height: 75%;
	padding: 15px 15px 30px;
	position: relative;
	margin: 0;
}
.dashboard-stat2 .progress-info {
  bottom: 10px;
  clear: both;
  position: absolute;
  width: 87%;
}

.demo3 {
	position: relative;
	width: 300px;
	margin: auto;
}

.b-gauge__labels.b-gauge__block .b-gauge__label:first-child {
  bottom: 0;
  height: 40px;
  margin: auto;
  top: 0 !important;
}

.b-gauge__labels.b-gauge__block .b-gauge__label:nth-child(2) {
  left: 0 !important;
  margin: auto;
  right: 0;
  text-align: center;
  top: 17px !important;
}

.b-gauge__labels.b-gauge__block .b-gauge__label:last-child {
	bottom: 0;
	height: 40px;
	margin: auto;
	top: 0 !important;
	right: 0 !important;
	left: auto !important;
}

#assoc-items .search.form-control {
  margin-bottom: 5px;
  width: 166px;
}