{{ template "master_layout.html" . }}

{{ define "pagelevelstyles"}}
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link href="/static/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="/static/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/assets/global/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL STYLES -->
{{end}}

{{ define "content" }}    
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">
            <!-- BEGIN PAGE BASE CONTENT -->
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet light bordered">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="icon-equalizer font-green"></i>
                                <span class="caption-subject bold font-green uppercase">Create Support Ticket</span>
                            </div>
                            <div class="actions">
                                <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" style="width:20px; height:20px; line-height: 0.999; padding-left:4px; "> </a> </a>
                            </div>
                            <div class="tools nts-tools faq-links" style="margin-top:0;">
                            {{if .ErrorsPresent}} 
                                <a href=""  class="collapse btn blue" style="background-image:none; width: 60px; height: 20px; padding:0; margin-top: -6px;">
                                    <i class="fa fa-minus" style=" margin-left: -1px; margin-top: 2px;"></i><span style="font-size: smaller;">Close</span> <span style="display : none; font-size: smaller;">Add</span>
                                </a>  
                             {{else}} 
                                <a href="" class="expand btn blue" style="background-image:none; width: 60px; height: 20px; padding:0; margin-top: -6px;" >
                                    <i class="fa fa-plus" style=" margin-left: -1px; margin-top: 2px;"></i> <span style="font-size: smaller;">Add</span> <span style="display : none; font-size: smaller;">Close</span> 
                                </a> 
                             {{end}}
                            </div>
                        </div>
                        {{if .ErrorsPresent}} 
                      <div class="portlet-body form" style="display:block" >
                      {{else}}  
                      <div class="portlet-body form"  style="display:none" >
                      {{end}}
                            <div class="form-body">
                                <form method="post" class="form-horizontal">
                                 {{ .xsrfdata }}
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true"></span>Ticket Number </label>
                                                <div class="col-md-8">
                                                    <input type="text" class="form-control" name="ticket_no" onkeyup="ticketChange(this);" value="{{.genCode}}" readonly>
                                                    {{if .Errors.TicketNo}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.TicketNo}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Ticket Date </label>
                                                <div class="col-md-8">
                                                    <div class="input-group input-medium date date-picker" data-date-format="yyyy-mm-dd" >
                                                        <input id="todays_date" type="text" name="date" class="form-control" value="{{.FormItems.TicketDate}}" >
                                                        {{if .Errors.TicketDate}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.TicketDate}}</span>{{end}}
                                                        <span class="input-group-btn">
																	<button class="btn default" type="button">
																		<i class="fa fa-calendar"></i>
																	</button>
																</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>PO/SO Number </label>
                                                <div class="col-md-8">
                                                    <input type="text" class="form-control" name="sr_no" value="{{.FormItems.SrNo}}">
                                                    {{if .Errors.SrNo}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.SrNo}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Invoice Number </label>
                                                <div class="col-md-8">
                                                    <input type="text" class="form-control" name="invoice_no" value="{{.FormItems.InvoiceNo}}">
                                                    {{if .Errors.InvoiceNo}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.InvoiceNo}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>
                                    <div class="row">
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Customer Name </label>
                                                <div class="col-md-8">
                                                    <!-- <input type="text" class="form-control" name="name" value="{{.FormItems.CustName}}" placeholder=""> -->
                                                    <select name="name" class="form-control select2-multiple ite" data-placeholder="Choose a Customer">
                                                        <option disabled selected value> -- Choose a Customer -- </option>
                                                        {{ range $customers := .RetrievedCustomers }}
                                                        <option value="{{ $customers.company_name }}" {{if compare $.FormItems.CustName $customers.company_name }} selected {{end}}>{{ $customers.company_name }}</option>
                                                        {{end}}
                                                    </select>
                                                    {{if .Errors.CustName}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.CustName}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Customer Address </label>
                                                <div class="col-md-8">
                                                    <textarea class="form-control" name="address" rows="2" placeholder="">{{.FormItems.CustAddress}}</textarea>
                                                    {{if .Errors.CustAddress}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.CustAddress}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Product Name </label>
                                                <div class="col-md-8">
                                                    <!-- <input type="text" name="p_name" class="form-control" value="{{.FormItems.ProductName}}" placeholder=""> -->
                                                    <select name="p_name" class="form-control select2-multiple ite" data-placeholder="Choose a Product">
                                                        <option disabled selected value> -- Choose a Product -- </option>
                                                        {{ range $products := .RetrievedProducts }}
                                                        <option value="{{ $products.invoice_narration }}" {{if compare $.FormItems.ProductName $products.invoice_narration }} selected {{end}}>[{{ $products.item_code_gen }}] {{ $products.invoice_narration }} (UOM: {{$products.unit_measure}})</option>
                                                        {{end}}
                                                    </select>
                                                    {{if .Errors.ProductName}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.ProductName}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Details </label>
                                                <div class="col-md-8">
                                                    <textarea class="form-control" name="details" rows="2" placeholder="">{{.FormItems.Details}}</textarea>
                                                    {{if .Errors.Details}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Details}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Observations </label>
                                                <div class="col-md-8">
                                                    <textarea class="form-control" name="observations" rows="2"  placeholder="">{{.FormItems.Observations}}</textarea>
                                                    {{if .Errors.Observations}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Observations}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Instructions </label>
                                                <div class="col-md-8">
                                                    <textarea class="form-control" name="instructions" rows="2"  placeholder="">{{.FormItems.Instructions}}</textarea>
                                                    {{if .Errors.Instructions}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Instructions}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Action Taken </label>
                                                <div class="col-md-8">
                                                  <input type="text" name="action" class="form-control" value="{{.FormItems.Action}}" placeholder="">
                                                     {{if .Errors.Action}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Action}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Customer accepted </label>
                                                <div class="col-md-8">
                                                    <div class="mt-checkbox-list">
                                                        <label class="mt-checkbox">
                                                            <input type="checkbox" name="c_accepted" {{if .FormItems.CustAccepted}} 
                                                                value="{{.FormItems.CustAccepted}}" checked {{else}} value="CustAccepted" {{end}}>
                                                            <span></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Date Visited </label>
                                                <div class="col-md-8">
                                                    <div class="input-group input-medium date date-picker" data-date-format="yyyy-mm-dd">
                                                        <input type="text" name="date_visited" value="{{.FormItems.DateVisit}}" class="form-control" readonly placeholder="">
                                                        {{if .Errors.DateVisit}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.DateVisit}}</span>{{end}}
                                                        <span class="input-group-btn">
																	<button class="btn default" type="button">
																		<i class="fa fa-calendar"></i>
																	</button>
																</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Other Remarks </label>
                                                <div class="col-md-8">
                                                    <textarea class="form-control" name="remarks" id="" placeholder="" rows="3" >{{.FormItems.Remarks}}</textarea>
                                                    {{if .Errors.Remarks}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Remarks}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Initiated By </label>
                                                <div class="col-md-8">
                                                    <input type="text" name="initiated_by" value="{{.FormItems.InitiatedBy}}" class="form-control" placeholder="">
                                                    {{if .Errors.InitiatedBy}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.InitiatedBy}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Your Remarks </label>
                                                <div class="col-md-8">
                                                    <textarea class="form-control" name="your_remarks" id="" placeholder="" rows="3" >{{.FormItems.YourRemarks}}</textarea>
                                                    {{if .Errors.YourRemarks}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.YourRemarks}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Verified By </label>
                                    <div class="col-md-8">
                                        <input type="text" name="verified_by" value="{{.FormItems.VerifiedBy}}" class="form-control" placeholder="">
                                        {{if .Errors.VerifiedBy}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.VerifiedBy}}</span>{{end}}
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Checked By </label>
                                    <div class="col-md-8">
                                        <input type="text" name="checked_by" value="{{.FormItems.CheckedBy}}" class="form-control" placeholder="">
                                        {{if .Errors.CheckedBy}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.CheckedBy}}</span>{{end}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-md-4">Authorised By </label>
                                    <div class="col-md-8">
                                        <input type="text" name="authorized_by" value="{{.FormItems.AuthorizedBy}}" class="form-control" placeholder="">
                                        {{if .Errors.AuthorizedBy}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.AuthorizedBy}}</span>{{end}}
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">

                            </div>
                        </div>
                                    <div class="form-actions">
                                        <div class="row">
                                            <div class="col-md-12" style="text-align: center;">
                                                <button type="submit" class="btn green" style="height: 40px;width: 80px">Submit</button>
                                                <button type="reset" class="btn default" style="height: 40px;width: 80px">Reset</button>
                                            </div>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <!-- BEGIN EXAMPLE TABLE PORTLET-->
                    <div class="portlet light bordered">
                        <div class="portlet-title">
                            <div class="caption font-dark">
                                <i class="icon-settings font-dark"></i>
                                <span class="caption-subject bold uppercase">List of Support Tickets</span>
                            </div>
                            <div class="actions">
                                <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" style="width:20px; height:20px; line-height: 0.999; padding-left:4px; "> </a>
                            </div>
                        </div>

                        <!-- Support Ticket server-side Search FORM-->
                        <form method="POST" class="form-horizontal">
                            <input type="hidden" name="SearchSupportTicket" value="SupportTicket_Search" /> {{ .xsrfdata }}
                            <div class="form-body">
                                <span style="color: grey;font-size:11px">Search by support ticket details..</span>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <input type="InvoiceNumber" name="InvoiceNumber" class="form-control" id="InvoiceNumber" placeholder="Invoice Number" value="{{.SearchItems.InvoiceNumber}}">
                                            </div>
                                         </div>
                                    </div> 
                                    <div class="col-md-3">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <input type="CustomerName" name="CustomerName" class="form-control" id="CustomerName" placeholder="Customer Name" value="{{.SearchItems.CustomerName}}">
                                            </div>
                                        </div>    
                                    </div> 
                                    <div class="col-md-3">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <button type="submit" class="btn green" name="SupportTicket-search" value="SearchSupportTicketDetails" style="height: 35px;width: 80px">Search</button>
                                                <button type="submit" class="btn default" name="Reset-SupportTicketSearch" value="ResetSupportTicketSearch" style="height: 35px;width: 80px">Reset</button>
                                            </div>
                                        </div>
                                    </div>  
                                </div>
                            </div>
                        </form>
                        <!-- END FORM-->
 
                        <div class="portlet-body">
                            <table class="table table-bordered table-hover dt-responsive dataTable table-checkable order-column" id="Customer_Support_table" >
                                <thead>
                                <tr>
                                    <th class="text-center" style="text-align: left; padding-left:5px;"> Ticket No </th>
                                    <th class="text-center" style="text-align: left"> Ticket Date </th>
                                    <th class="text-center" style="text-align: left" > Invoice Number </th>
                                    <th class="text-center" style="text-align: left"> Customer Name </th>
                                    <th class="text-center" style="text-align: left"> Product Name </th>
                                    <th class="text-center" style="text-align: left"> Details </th>
                                    <th class="text-center" style="text-align: left"> Observations </th>
                                    <th class="text-center" style="text-align: left"> Instructions </th>
                                    <th class="text-center" style="text-align: left"> Action Taken </th>
                                    <th class="text-center" style="text-align: left"> Customer Accepted </th>
                                    <th class="text-center" style="text-align: left"> Date Visited </th>
                                    <th class="text-center" style="text-align: left"> Other Remarks </th>
                                    <th class="text-center" style="text-align: left"> Your Remarks </th>
                                    <th class="text-center" style="text-align: left"> Initiated By </th>
                                    <th class="text-center" style="text-align: left"> Verified By </th>
                                    <th class="text-center" style="text-align: left"> Checked By </th>
                                    <th class="text-center" style="text-align: left"> Authorised By </th>
                                    
                                </tr>
                                </thead>
                                <tbody>
                                 {{ range $support := .Retrieved }}
                                <tr class="odd gradeX">                                    
                                    <td style="text-align: right"> {{ $support.ticket_no }} </td>
                                    <td style="text-align: right">{{ $support.ticket_date }} </td>
                                    <td style="text-align: right"> {{ $support.invoice_no }} </td>
                                    <td style="text-align: left"> {{ $support.party_name }}</td>                                  
                                    <td style="text-align: left"> {{$support.product_name }} </td>
                                    <td style="text-align: left">{{$support.details }}</td>
                                    <td style="text-align: left"> {{ $support.observations }}</td>
                                    <td style="text-align: left"> {{$support.instructions }}</td>
                                    <td style="text-align: left">{{ $support.action_taken }}</td>
                                    <td style="text-align: left"> {{ $support.customer_accepted }} </td>
                                    <td style="text-align: right">{{ $support.date_visited }} </td>
                                    <td style="text-align: left"> {{ $support.other_remarks }}</td>
                                    <td style="text-align: left"> {{ $support.your_remarks }}</td>
                                    <td style="text-align: left"> {{$support.initiated_by }}</td>
                                    <td style="text-align: left"> {{ $support.verified_by }}</td>
                                    <td style="text-align: left"> {{ $support.checked_by }}</td>
                                    <td style="text-align: left"> {{ $support.authorized_by }}</td>
                                </tr>
                                {{end}}
                                </tbody>
                            </table>
                            <div class="actions text-right">
                                <div class="dropup ">
                                    <button class="btn btn-default dropdown-toggle " type="button"  data-toggle="dropdown">Export
                                        <span class="caret"></span></button>
                                    <ul class="dropdown-menu pull-right">
                                        <li role="presentation"><a tabindex="-1" href="#">Print</a></li>
                                        <li role="presentation"><a tabindex="-1" href="#">PDF</a></li>
                                        <li role="presentation"><a tabindex="-1" href="#">Excel</a></li>
                                        <li role="presentation"><a tabindex="-1" href="#">CSV</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END EXAMPLE TABLE PORTLET-->
                </div>
            </div>

            <!-- END PAGE BASE CONTENT -->
        </div>
        <!-- END CONTENT BODY -->
    </div>
    <!-- END CONTENT -->
       
        {{end}}

        {{ define "pagelevelplugins" }}
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="/static/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
<script src="/static/assets/global/scripts/datatable.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/jquery-repeater/jquery.repeater.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.js" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->
        {{ end }}

        {{define "pagelevelscripts"}} 
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="/static/assets/pages/scripts/components-select2.min.js" type="text/javascript"></script>
<script src="/static/assets/pages/scripts/table-datatables-managed.js" type="text/javascript"></script>
<script src="/static/assets/pages/scripts/form-repeater.min.js" type="text/javascript"></script>
<script src="/static/assets/pages/scripts/components-date-time-pickers.min.js" type="text/javascript"></script>
<script src="/static/assets/pages/scripts/components-bootstrap-select.min.js" type="text/javascript"></script>
<script src="/static/assets/pages/scripts/components-bootstrap-touchspin.js" type="text/javascript"></script>
<script type="text/javascript">
    $('.date-picker').datepicker({
    pickerPosition: "bottom-left"
    });
</script>
<script type="text/javascript">
    function  ticketChange(element) {
        var ticketNo = element.value;
        if(isNaN(ticketNo)) {
            element.value = "";
        }
    }
</script>
<!-- END PAGE LEVEL SCRIPTS -->
{{end}}