{{ template "master_layout.html" . }} 

{{define "pagelevelstyles"}}
<!-- BEGIN PAGE LEVEL STYLES -->
<link href="/static/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/global/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" type="text/css"
/>

<link href="/static/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css"
/>
<link href="/static/assets/global/plugins/bootstrap-multiselect/css/bootstrap-multiselect.css" rel="stylesheet" type="text/css"
/>
<link href="/static/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/global/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/global/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" type="text/css" />
<style>
    .ui-autocomplete {
        cursor: pointer;
        max-height: 170px;
        overflow-y: auto;
        overflow-x: hidden;
    }
</style>

{{end}} 

{{ define "content"}}

<div class="page-content-wrapper">
    <div class="page-content">
        <div class="row">
            <div class="col-md-12">
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-equalizer font-green"></i>
                            <span class="caption-subject bold font-green uppercase">Bill of Material</span>
                        </div>
                        <div class="actions">
                            <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" style="width:20px; height:20px; line-height: 0.999; padding-left:4px; "> </a>
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <!-- BEGIN FORM-->
                        <form method="POST" class="form-horizontal">
                            {{ .xsrfdata }}
                            <div class="form-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-3 control-label"><span class="required" aria-required="true">*</span>Product ID </label>
                                            <div class="col-md-9">
                                                <input name="item_code" type="text" class="form-control" value="{{.ItemCode}}" readonly=""> 
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Product Name </label>
                                            <div class="col-md-8">
                                                <input name="item_name" type="text" class="form-control" value="{{.ItemName}}" readonly="">  
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <label class="control-label col-md-2">Item </label>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label col-md-3">Quantity </label>
                                    </div>

                                    <div class="col-md-3">

                                        <label class="control-label col-md-3"><span class="required" aria-required="true">*</span>Inherent Scrap</label>
                                    </div>
                                    <div class="col-md-2">
                                        <label class="control-label col-md-3">Non-Consumable </label>
                                    </div>
                                </div>
                                <div class="mt-repeater form-horizontal" style="border-bottom:none;">
                                    <div data-repeater-list="group-a" style="margin-bottom:0;">
                                        <div data-repeater-item class="mt-repeater-item" style="border-bottom:none;padding-bottom:0;">
                                                
                                            <!-- jQuery Repeater Container -->
                                            <br>
                                            <div class="row" style="margin-bottom:0;">
                                                <div class="col-md-3">
                                                    <div class="col-md-12">
                                                        <select name="group-a[0][item_name]" class="form-control select2">
                                                            <option disabled selected value> -- Choose an item -- </option>
                                                            {{ range $io  := .Retrievedb }}
                                                            <option value="{{ $io.invoice_narration }}" >[{{ $io.item_unique_code}}] {{ $io.invoice_narration }} (UOM:{{ $io.unit_measure}})</option>
                                                            {{end}}
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">


                                                    <div class="col-md-12">
                                                        <input name="group-a[0][qty]" class="form-control" type="text" >  
                                                    </div>
                                                </div>
                                                <div class="col-md-3">


                                                    <div class="col-md-12">
                                                        <input name="group-a[0][wastage]" type="text" class="form-control" placeholder="0">
                                                    </div>
                                                </div>
                                                <div class="col-md-2">


                                                    <div class="col-md-2">
                                                        <label class="mt-checkbox">
                                                            <input name="group-a[0][nc]" type="checkbox"  > 
                                                            <span></span>
                                                        </label>
                                                    </div>



                                                    <div class="col-md-2">

                                                        <div class="mt-repeater-input">
                                                            <a href="javascript:;" data-repeater-delete class=" btn btn-circle  btn-icon-only btn-danger mt-repeater-delete" style="padding:0;padding-bottom:17px; margin-top:9px;  width:18px; height:15px; border-radius:30px; ">
                                                                    <i class="fa fa-close" style="text-align:top; "></i>
                                                                </a>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            </div>
                                            <br>
                                            <div data-repeater-item class="mt-repeater-item" style="border-bottom:none;padding-bottom:0;">
                                            <div class="row" style="margin-bottom:0;">
                                                <div class="col-md-3">
                                                    <div class="col-md-12">
                                                        <select name="group-a[1][item_name]" class="form-control select2">
                                                            <option disabled selected value> -- Choose an item -- </option>
                                                            {{ range $io  := .Retrievedb }}
                                                            <option value="{{ $io.invoice_narration }}" >[{{ $io.item_unique_code}}] {{ $io.invoice_narration }} (UOM:{{ $io.unit_measure}})</option>
                                                            {{end}}
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">


                                                    <div class="col-md-12">
                                                        <input name="group-a[1][qty]" class="form-control" type="text" >  
                                                    </div>
                                                </div>
                                                <div class="col-md-3">


                                                    <div class="col-md-12">
                                                        <input name="group-a[1][wastage]" type="text" class="form-control" placeholder="0">
                                                    </div>
                                                </div>
                                                <div class="col-md-2">


                                                    <div class="col-md-2">
                                                        <label class="mt-checkbox">
                                                            <input name="group-a[1][nc]" type="checkbox"  > 
                                                            <span></span>
                                                        </label>
                                                    </div>



                                                    <div class="col-md-2">

                                                        <div class="mt-repeater-input">
                                                            <a href="javascript:;" data-repeater-delete class=" btn btn-circle  btn-icon-only btn-danger mt-repeater-delete" style="padding:0;padding-bottom:17px; margin-top:9px;  width:18px; height:15px; border-radius:30px; ">
                                                                    <i class="fa fa-close" style="text-align:top; "></i>
                                                                </a>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            </div>
                                            <div data-repeater-item class="mt-repeater-item" style="border-bottom:none;padding-bottom:0;">
                                            <br>
                                            <div class="row" style="margin-bottom:0;">
                                                <div class="col-md-3">
                                                    <div class="col-md-12">
                                                        <select name="group-a[2][item_name]" class="form-control select2">
                                                            <option disabled selected value> -- Choose an item -- </option>
                                                            {{ range $io  := .Retrievedb }}
                                                            <option value="{{ $io.invoice_narration }}" >[{{ $io.item_unique_code}}] {{ $io.invoice_narration }} (UOM:{{ $io.unit_measure}})</option>
                                                            {{end}}
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">


                                                    <div class="col-md-12">
                                                        <input name="group-a[2][qty]" class="form-control" type="text" >  
                                                    </div>
                                                </div>
                                                <div class="col-md-3">


                                                    <div class="col-md-12">
                                                        <input name="group-a[2][wastage]" type="text" class="form-control" placeholder="0">
                                                    </div>
                                                </div>
                                                <div class="col-md-2">


                                                    <div class="col-md-2">
                                                        <label class="mt-checkbox">
                                                            <input name="group-a[2][nc]" class="form-control" type="checkbox" > 
                                                            <span></span>
                                                        </label>
                                                    </div>



                                                    <div class="col-md-2">

                                                        <div class="mt-repeater-input">
                                                            <a href="javascript:;" data-repeater-delete class=" btn btn-circle  btn-icon-only btn-danger mt-repeater-delete" style="padding:0;padding-bottom:17px; margin-top:9px;  width:18px; height:15px; border-radius:30px; ">
                                                                <i class="fa fa-close" style="text-align:top; "></i>
                                                            </a>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                        <a href="javascript:;" data-repeater-create class="btn btn-success mt-repeater-add" style="margin-top: 15px; margin-left: 15px;">
                                            <i class="fa fa-plus"></i>Item
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions" style="padding-top: 0;">
                                <div class="row" style="text-align: center;">
                                    <button type="submit" class="btn green" style="height: 40px;">Save and Continue</button>
                                    <button type="button" class="btn default" style="height: 40px;width: 80px">Reset</button>
                                </div>
                            </div>
                        </form>
                        <!-- END FORM-->

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{{end}}
{{ define "pagelevelplugins"}}
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="/static/assets/global/scripts/datatable.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/jquery-repeater/jquery.repeater.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.js" type="text/javascript"></script>      
 <script src="/static/assets/global/plugins/bootstrap-select/js/bootstrap-select.min.js" type="text/javascript"></script>
 <script src="/static/assets/global/plugins/jquery-multi-select/js/jquery.multi-select.js" type="text/javascript"></script>
 <script src="/static/assets/global/plugins/typeahead/typeahead.bundle.min.js" type="text/javascript"></script>
 <script src="/static/assets/global/plugins/jQuery.print-master/jQuery.print.js" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->
{{end}}
{{define "pagelevelscripts"}}
<!-- BEGIN THEME GLOBAL SCRIPTS -->
<script src="/static/assets/pages/scripts/table-datatables-managed.js" type="text/javascript"></script>
<!--<script src="/static/assets/pages/scripts/form-repeater.min.js" type="text/javascript"></script>-->
<script src="/static/assets/pages/scripts/components-date-time-pickers.min.js" type="text/javascript"></script>
<script src="/static/assets/pages/scripts/components-bootstrap-select.min.js" type="text/javascript"></script>
<script src="/static/assets/pages/scripts/components-bootstrap-touchspin.js" type="text/javascript"></script>

<script type="text/javascript">
$(document).ready(function () {
    $('.mt-repeater').repeater({
        show: function () {
            //var item_name = prefix + "[" + row_count + "][item_name]" ;
            //var selectedValue = document.getElementsByName(item_name)[0].value;
            //window.alert(selectedValue);
            //if (selectedValue != '') {
                //row_count++;
            // 	var cost_name = prefix + "[" + row_count + "][cost]" ;
                $(this).slideDown();
                // $('.select2-container').remove();
                // $('.select2').select2({
                // placeholder: "Placeholder text",
                // });
                // $('.select2-container').css('width','100%');
            // } else {
            //     window.alert("An existing record is not filled. Please select an item before proceeding.")
            // }
            // $('.date-picker').datepicker({
            //     rtl: App.isRTL(),
            //     orientation: "left",
            //     autoclose: true
            // });
        },
        
        hide: function (deleteElement) {
            if(confirm('Are you sure you want to delete this element?')) {
                //row_count--;
                $(this).slideUp(deleteElement);
                //setTimeout(function(){ itemRemove(); }, 2000);
            }
        },
        
        isFirstItemUndeletable: true
    })
});
</script>
{{end}}