{{ template "master_layout.html" . }}

{{ define "pagelevelstyles"}} 
 <!-- BEGIN PAGE LEVEL STYLES -->
    <link href="/static/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/assets/global/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
	<link href="/static/assets/global/plugins/typeahead/typeahead.css" rel="stylesheet" type="text/css" />
	<!-- END PAGE LEVEL STYLESS -->
{{end}}

{{ define "content" }}    
   <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">
            <!-- BEGIN PAGE BASE CONTENT -->
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet light bordered">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="icon-equalizer font-green"></i>
                                <span class="caption-subject bold font-green uppercase">Add Inventory</span>
                                <!--{{if .flash.error}}
                                <span class="caption-subject  font-red">{{.flash.error}} </span>
                                &nbsp;
                                {{end}}
                                {{if .flash.notice}}
                                <span class="caption-subject ">{{.flash.notice}}</span>
                                &nbsp;
                                {{end}}-->
                            </div>
                            <div class="actions">
                                <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" style="width:20px; height:20px; line-height: 0.999; padding-left:4px; "> </a>
                            </div>
                        </div>
                        <div class="portlet-body form">
							<!-- BEGIN FORM-->
							<form method="POST" class="form-horizontal">
                                {{ .xsrfdata }}
								<div class="form-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Item name </label>
                                                <div class="col-md-8">
                                                    <select id="item_id" name="item_name" onchange="itemChange(this);" class="form-control select2-multiple " data-placeholder="Choose an Item">
                                                        <option disabled selected value> -- Choose an item -- </option>
                                                        {{ range $items := .ItemsRetrieved }}
                                                        <option value="{{ $items._id }}" {{if compare $.FormItems.ItemName $items._id }} selected {{end}}>[{{ $items.item_code_gen }}] {{ $items.invoice_narration }} (UOM: {{ $items.unit_measure}})</option>
                                                        {{end}}
                                                    </select>
                                                    
                                                <!-- <input type="text" name="item_name" class="form-control" value="{{.FormItems.ItemName}}" />  -->
                                                {{if .Errors.ItemName}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.ItemName}}</span>{{end}}
                                                </div>
                                                
                                            </div>
                                        
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Item Code </label>
                                                <div class="col-md-8">
                                                    <input id="item_unique_code" name="item_code" type="text" class="form-control" value="{{.FormItems.ItemCode}}" readonly>
                                                    {{if .Errors.ItemCode}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.ItemCode}}{{end}}
                                                </div>
                                            </div>                                           
                                        </div>
                                        <!--/span-->
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Entry Date </label>
                                                <div class="col-md-8">
                                                    <div id="odate" class="input-group input-medium date date-picker" data-date-format="yyyy-mm-dd">
                                                        <input id="todays_order_date" name="date" type="text" class="form-control" value="{{.FormItems.OrderDate}}" readonly placeholder="">
                                                        <span class="input-group-btn">
                                                            <button class="btn default" type="button">
                                                                <i class="fa fa-calendar"></i>
                                                            </button>
                                                        </span>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Delivered Date </label>
                                                <div class="col-md-8">
                                                    <div id="d_date" class="input-group input-medium date date-picker" data-date-format="yyyy-mm-dd" >
                                                        <input id="todays_date" name="delivery_date" type="text" class="form-control" value="{{.FormItems.DeliveryDate}}" readonly placeholder="">
                                                        <span class="input-group-btn">
                                                            <button class="btn default" type="button">
                                                                <i class="fa fa-calendar"></i>
                                                            </button>
                                                        </span>
                                                    </div>
                                                    
                                                  <!--      {{if .Errors.DeliveryDate}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.DeliveryDate}}{{end}}   -->
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true"></span>Suppliers </label>
                                                <div class="col-md-8">
                                                    <!-- <input type="text" id="typeahead_example_1" name="suppliers" class="form-control" value="{{.FormItems.Suppliers}}"/>
                                                    {{if .Errors.Suppliers}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Suppliers}}{{end}} -->
                                                    <select name="suppliers" id="supplier" class="form-control select2-multiple " data-placeholder="Choose a Supplier" >
                                                    <option disabled selected value> -- Choose a Supplier -- </option>
                                                    {{ range $supplier := .SupRetrieved }}
                                                        <option value="{{ $supplier._id }}" {{if compare $.FormItems.Suppliers $supplier._id }} selected {{end}}>[{{ $supplier.supplier_code_gen }}] {{ $supplier.company_name}}</option>
                                                    {{end}}
                                                </select>
                                                <i id="clearSelect" class="fa fa-close">clear</i>
                                                <!-- <input type="text" name="item_name" class="form-control" value="{{.FormItems.ItemName}}" />  -->
                                              <!--   {{if .Errors.Suppliers}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Suppliers}}</span>{{end}} -->
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Location </label>
                                                <div class="col-md-8">
                                                    <select id="factory_id" name="location" onchange="locationChange(this);" class="form-control select2-multiple " data-placeholder="Choose a location">
                                                        <option disabled selected value> -- Choose an item -- </option>
                                                        {{ range $location := .LocationRetrieved }}
                                                        <option value="{{ $location._id }}" {{if compare $.FormItems.Location $location._id }} selected {{end}}>{{ $location.factory_location }} </option>
                                                        {{end}}
                                                    </select>
                                                  {{if .Errors.Location}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Location}}{{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>
                                    <div class="row">
                                         <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true"></span>Existing Quantity </label>
                                                <div class="col-md-8">
                                                    <!--<p class="form-control-static"> {{.RetrievedQty.sum_0.Total}} </p>-->
                                                    <p id="existing_qty" class="form-control-static"></p>
                                                </div>
                                            </div>
                                        </div>
                                                <!--/span-->
                                                <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Quantity To Add </label>
                                                <div class="col-md-8">
                                                    <input id="sai_qty_purchased" type="text" value="{{.FormItems.QtyPurchase}}" name="qty_purchase" placeholder="">
                                                    {{if .Errors.QtyPurchase}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.QtyPurchase}}{{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Unit Price </label>
                                                <div class="col-md-8">
                                                    <input name="total_price" type="text" class="form-control" id="sai_total_price" value="{{.FormItems.TotalPrice}}" placeholder="">
                                                    {{if .Errors.TotalPrice}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.TotalPrice}}{{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                         <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Currency </label>
                                                        <div class="col-md-8">
                                                            <select name="currency" class="bs-select form-control">
                                                                <option {{if compare .FormItems.Currency "Rupees" }}selected {{end}}>Rupees</option>
                                                                <option {{if compare .FormItems.Currency "EUROS" }}selected {{end}}>EUROS</option>
                                                                <option {{if compare .FormItems.Currency "Pounds" }}selected {{end}}>Pounds</option>
                                                                <option {{if compare .FormItems.Currency "USD" }}selected {{end}}>USD</option>
                                                            </select>
                                                         <!--    {{if .Errors.Currency}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Currency}}{{end}} -->
                                                        </div>
                                                    </div>
                                                </div>
                                    </div>

								</div>
								<div class="form-actions">
									<div class="row">
										<div class="col-md-12 " style="text-align: center;">
											<button type="submit" class="btn green" style="height: 40px;width: 80px">Submit</button>
											<a href="/stock/add-inventory"><button type="reset" class="btn default" style="height: 40px;width: 80px">Reset</button></a>
										</div>
									</div>
								</div>
							</form>
							<!-- END FORM-->
						</div>
					</div>
                </div>
            
			</div>
            
			
			<!-- END PAGE BASE CONTENT -->
        </div>
        <!-- END CONTENT BODY -->
    </div>
    <!-- END CONTENT -->

{{end}}

        {{ define "pagelevelplugins" }} 
       <!-- BEGIN PAGE LEVEL PLUGINS -->
       <script src="/static/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/fuelux/js/spinner.min.js" type="text/javascript"></script>
       <!-- END PAGE LEVEL PLUGINS -->        
        {{ end }}

        {{define "pagelevelscripts"}} 
        <!-- BEGIN PAGE LEVEL SCRIPTS -->
        <script src="/static/assets/pages/scripts/components-select2.min.js" type="text/javascript"></script>
        <script src="/static/assets/pages/scripts/components-bootstrap-select.min.js" type="text/javascript"></script>
        {{if .FlashNotices}}
        <script type="text/javascript">
                $(function() {                  
                    $.bootstrapGrowl("{{.FlashNotices}}", {offset: {from: 'top', amount: 20}, delay: 5000, type: 'success',align: 'center', stackup_spacing: 30,width: 400 });});
        </script>
        {{end}}
        <script type="text/javascript">
            var todaysDate = new Date();
            function convertDate(date) {
                var yyyy = date.getFullYear().toString();
                var mm = (date.getMonth()+1).toString();
                var dd  = date.getDate().toString();
    
                var mmChars = mm.split('');
                var ddChars = dd.split('');
    
                return yyyy + '-' + (mmChars[1]?mm:"0"+mmChars[0]) + '-' + (ddChars[1]?dd:"0"+ddChars[0]);
            }
    
            document.getElementById('todays_date').value = convertDate(todaysDate);
            document.getElementById('todays_order_date').value = convertDate(todaysDate);
        </script>

		<script type="text/javascript">
			var ComponentsTypeahead = function () {

			var handleTwitterTypeahead = function() {

				// Example #1
				// instantiate the bloodhound suggestion engine
				var numbers = new Bloodhound({
				  datumTokenizer: function(d) { return Bloodhound.tokenizers.whitespace(d.num); },
				  queryTokenizer: Bloodhound.tokenizers.whitespace,
				  local: [
					{ num: 'metronic' },
					{ num: 'keenthemes' },
					{ num: 'metronic theme' },
					{ num: 'metronic template' },
					{ num: 'keenthemes team' }
				  ]
				});
				 
				// initialize the bloodhound suggestion engine
				numbers.initialize();
				 
				// instantiate the typeahead UI
				if (App.isRTL()) {
				  $('#typeahead_example_1').attr("dir", "rtl");  
				}
				$('#typeahead_example_1').typeahead(null, {
				  displayKey: 'num',
				  hint: (App.isRTL() ? false : true),
				  source: numbers.ttAdapter()
				});

			}

			var handleTwitterTypeaheadModal = function() {

				// Example #1
				// instantiate the bloodhound suggestion engine
				var numbers = new Bloodhound({
				  datumTokenizer: function(d) { return Bloodhound.tokenizers.whitespace(d.num); },
				  queryTokenizer: Bloodhound.tokenizers.whitespace,
				  local: [
					{ num: 'metronic' },
					{ num: 'keenthemes' },
					{ num: 'metronic theme' },
					{ num: 'metronic template' },
					{ num: 'keenthemes team' }
				  ]
				});
				 
				// initialize the bloodhound suggestion engine
				numbers.initialize();
				 
				// instantiate the typeahead UI
				if (App.isRTL()) {
				  $('#typeahead_example_modal_1').attr("dir", "rtl");  
				}
				$('#typeahead_example_modal_1').typeahead(null, {
				  displayKey: 'num',
				  hint: (App.isRTL() ? false : true),
				  source: numbers.ttAdapter()
				});

				
			}

			return {
				//main function to initiate the module
				init: function () {
					handleTwitterTypeahead();
					handleTwitterTypeaheadModal();
				}
			};

		}();

		jQuery(document).ready(function() {    
		   ComponentsTypeahead.init(); 
		});
		</script>
    <!--    <script type="text/javascript">
            $('#odate').datepicker({
            widgetPositioning:{
                                horizontal: 'auto'
                            }
            });
        </script> -->
        <script type="text/javascript">
            $(function(){
                $("#clearSelect").click(function(){
                    $("#supplier").select2('val', 'All');
                });
            });
            </script>

         <script type="text/javascript">
             $('.date-picker').datepicker({
             pickerPosition: "bottom-left"
             });
         </script>    
         <script type="text/javascript">
             function itemChange(element) {
                var selectedVal = element.value;
                //var selectedText = this.options[this.selectedIndex].text;

                var info = 'item=' + selectedVal;

                $.ajax({
                    type: "GET",
                    url: "/stock/get-item-code",
                    data: info,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    cache: false,
                    success: function(data){ 
                        document.getElementById("item_unique_code").value = data.item_code ;
                        //document.getElementById("existing_qty").innerHTML = data.existing_qty ;
                    } 
                });

                factoryVal = document.getElementById("factory_id").value;
                if (factoryVal != null && factoryVal != "") {
                    getExistingQty(selectedVal, factoryVal)
                }
             }

             function locationChange(element) {
                var selectedVal = element.value;
                itemVal = document.getElementById("item_id").value;
                if (itemVal != null && itemVal != "") {
                    getExistingQty(itemVal, selectedVal)
                }
             }

             function getExistingQty(itemId, factoryId){
                var info = 'item=' + itemId + '&factoryId=' + factoryId ;

                $.ajax({
                    type: "GET",
                    url: "/stock/get-inventory-qty",
                    data: info,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    cache: false,
                    success: function(data){ 
                        //document.getElementById("item_unique_code").value = data.item_code ;
                        document.getElementById("existing_qty").innerHTML = data.existing_qty ;
                    } 
                });
             }
         </script>
        <!-- END PAGE LEVEL SCRIPTS -->
        {{ end }}