{{ template "master_layout.html" . }} {{define "pagelevelstyles"}}
<!-- BEGIN PAGE LEVEL STYLES -->
<link href="/static/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/global/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" type="text/css"
/>

<link href="/static/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css"
/>
<link href="/static/assets/global/plugins/bootstrap-multiselect/css/bootstrap-multiselect.css" rel="stylesheet" type="text/css"
/>
<link href="/static/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/global/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/global/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" type="text/css" />
<style>
    .ui-autocomplete {
        cursor: pointer;
        max-height: 170px;
        overflow-y: auto;
        overflow-x: hidden;
    }
</style>
<!-- END PAGE LEVEL STYLES -->
{{end}} {{ define "content"}}
<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE BASE CONTENT -->
        {{if compare .view "Product"}}
        <div class="row">
            <div class="col-md-12">
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-equalizer font-green"></i>
                            <span class="caption-subject bold font-green uppercase">Add New Material</span>

                        </div>
                        <div class="actions">
                            <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" style="width:20px; height:20px; line-height: 0.999; padding-left:4px; "> </a>
                        </div>
                        <div class="caption" style="float:right; margin-right: 10px;">
                            <a class="btn red" style="background-image:none; width: 60px; height: 20px; padding:0; margin-top: -6px;" href="/stock/edit-items"><i class="fa fa-edit" style=" margin-left: -1px;  margin-top:2px;"></i> <span style="font-size: smaller;">Edit</span></a>
                        </div>
                        <div class="tools nts-tools faq-links" style="margin-top:0;">
                            {{if .ErrorsPresent}}
                            <a href="" class="collapse btn blue" style="background-image:none; width: 60px; height: 20px; padding:0; margin-top: -6px;">
									 	<i class="fa fa-minus" style=" margin-left: -1px; margin-top:2px;"></i><span style="font-size: smaller;">Close</span> <span style="display : none; font-size: smaller;">Add</span></a>                            {{else}}
                            <a href="" class="expand btn blue" style="background-image:none; width: 60px; height: 20px; padding:0; margin-top: -6px;">
									 	<i class="fa fa-plus" style=" margin-left: -1px; margin-top:2px;"></i> <span style="font-size: smaller;">Add</span> <span style="display : none; font-size: smaller;">Close</span> </a>                            {{end}}

                        </div>

                    </div>
                    {{if or .ErrorsPresent .ItemNameExists .ItemCodeExists}}
                    <div class="portlet-body form" style="display:block">
                        {{else}}
                        <div class="portlet-body form" style="display:none">
                            {{end}}

                            <!-- BEGIN FORM-->

                            <form method="POST" onsubmit="return beforeSubmit();" class="form-horizontal">
                                <input type="hidden" name="hidden_method" value="product" /> {{ .xsrfdata }}
                                <input id="org_id" name="org_id" type="hidden" class="form-control" value="{{.OrgID}}">
                                <div class="form-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Item Name </label>
                                                <div class="col-md-8">
                                                    <input name="item_name" type="text" class="form-control" value="{{.FormItems.ItemName}}" placeholder="">                                                    {{if .Errors.ItemName}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.ItemName}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Invoice Narration </label>
                                                <div class="col-md-8">
                                                    <input name="invoice_narration" type="text" class="form-control" value="{{.FormItems.InvoiceNarration}}" placeholder="">                                                    {{if .Errors.InvoiceNarration}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.InvoiceNarration}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Default Code </label>
                                                <div class="col-md-1">
                                                        <label><input type="radio" name="SetItemCode" value="Set_ItemCodeAuto" {{.ItemCodeGenOption}}></label>
                                                </div>
                                                <div class="col-md-7">
                                                        <input name="item_code" type="text" class="form-control" value="{{.ItemCode}}" placeholder="" readonly>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="col-md-4" style="text-align:right;">
                                                    <label><input type="radio"  name="SetItemCode" value="Set_ItemCode" {{.UserDefItemCodeOption}}> </label>
                                                </div>
                                                <div class="col-md-8">
                                                    <input name="user_code" class="form-control" placeholder="Define Item Code" value="{{.UserDefItemCode}}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="row">
                                        <div class="form-group">
                                            <label class="col-md-2 control-label"><span class="required" aria-required="true">*</span>Default Code </label>
                                            <div class="col-md-10">
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-md-3" style="width:5%; padding-left:4%">
                                                            <label><input type="radio" name="SetItemCode" value="Set_ItemCodeAuto" {{.ItemCodeGenOption}}></label>
                                                        </div>
                                                        <div class="col-md-3" style="width:35%">
                                                            <input name="item_code" type="text" class="form-control" value="{{.ItemCode}}" placeholder="" readonly>
                                                        </div>
                                                        <div class="col-md-2" style="padding-left:17%">
                                                            <label><input type="radio"  name="SetItemCode" value="Set_ItemCode" {{.UserDefItemCodeOption}}> </label>
                                                        </div>
                                                        <div class="col-md-4" style="padding-left:1.8%; width:38%">
                                                            <input name="user_code" class="form-control" placeholder="Define Item Code" value="{{.UserDefItemCode}}">
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div> -->

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <!-- <label class="col-md-4 control-label"><span class="required" aria-required="true">*</span>Item Code </label>
                                                        <div class="col-md-8">
                                                            <input name="item_code" type="text" class="form-control" value="{{.genCode}}" placeholder="" readonly>                                                            {{if .Errors.ItemCode}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.ItemCode}}{{end}}
                                                        </div> -->
                                                <label class="col-md-4 control-label">Item-Grade </label>
                                                <div class="col-md-8">
                                                    <input name="item_grade" type="text" id="grades" class="form-control" value="{{.FormItems.ItemGrade}}" />

                                                    <!--<input list="grades" name="item_grade" type="text" class="form-control" value="{{.FormItems.ItemGrade}}">
														  <datalist id="grades">
														    {{ range $gl := .RetrievedGrade }}
														    <option value="{{ $gl.grade }}"{{if compare $.FormItems.ItemGrade $gl.grade }} selected {{end}}>{{ $gl.grade }}</option>
																 {{end}}
														   
														  </datalist>-->
                                                    {{if .Errors.ItemGrade}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.ItemGrade}}{{end}}
														</div>
													</div>
												</div>
												<!--/span-->
													<div class="col-md-6">
													<div class="form-group">
														
													</div>
												</div>
												<!--/span-->
											</div>
											
											<div class="row">
                                                <div class="col-md-6">
													<div class="form-group">
                                                            <label class="col-md-4 control-label"><span class="required" aria-required="true">*</span>Group
                                                    </label>
                                                    <div class="col-md-8">
                                                        <input name="group" type="text" id="groups" class="form-control" value="{{.FormItems.Group}}" />

                                                        <!--<input list="grps" name="group" type="text" class="form-control" value="{{.FormItems.Group}}">
                                                                
                                                              <datalist id="grps">
                                                                {{ range $gl := .RetrievedGroup }}
                                                                <option value="{{ $gl.grp }}"{{if compare $.FormItems.Group $gl.grp }} selected {{end}}>{{ $gl.grp }}</option>
                                                                {{end}}
                                                                    
                                                              </datalist>-->

                                                        {{if .Errors.Group}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Group}}{{end}}
                                                            </div>
													</div>
												</div>
												<!--/span-->
												<div class="col-md-6">
													<div class="form-group">
														<label class="col-md-4 control-label"><span class="required" aria-required="true">*</span>Sub Group </label>
                                                        <div class="col-md-8">
                                                            <input name="sub_group" type="text" id="subgroups" class="form-control" value="{{.FormItems.SubGroup}}" />

                                                            <!--<input list="sub_grps" name="sub_group" type="text" class="form-control" value="{{.FormItems.SubGroup}}">
														  <datalist id="sub_grps">
														    {{ range $gl := .RetrievedSubGroup }}
														    <option value="{{ $gl.sub_group }}"{{if compare $.FormItems.SubGroup $gl.sub_group }} selected {{end}}>{{ $gl.sub_group }}</option>
																 {{end}}
														   
														  </datalist>-->

                                                            {{if .Errors.SubGroup}}
                                                            <span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.SubGroup}}{{end}}
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <!--/span-->
                                                                            </div>
                                                                            <div class="row">
                                                                                <div class="col-md-6">
                                                                                    <div class="form-group">
                                                                                        <label class="col-md-4 control-label"><span class="required" aria-required="true">*</span>Unit
                                                            of Measure </label>
                                                            <div class="col-md-8">
                                                                <input name="uom" type="text" id="unit_measure" class="form-control" value="{{.FormItems.UOM}}" />

                                                                <!--<input list="uoms" name="uom" type="text" class="form-control" value="{{.FormItems.UOM}}">
														  <datalist id="uoms">
														    {{ range $gl := .RetrievedUOM }}
														    <option value="{{ $gl.unit_measure }}"{{if compare $.FormItems.UOM $gl.unit_measure }} selected {{end}}>{{ $gl.unit_measure }}</option>
																 {{end}}
														   
														  </datalist>-->
                                                                <!--<select data-size="5" name="uom" class="bs-select form-control">
																<option {{if compare .FormItems.UOM "unit" }}selected {{end}}>unit</option>
																<option {{if compare .FormItems.UOM "millimeter" }}selected {{end}}>millimeter</option>
																<option {{if compare .FormItems.UOM "centimeter" }}selected {{end}}>centimeter</option>
																<option {{if compare .FormItems.UOM "meter" }}selected {{end}}>meter</option>
																<option {{if compare .FormItems.UOM "inch" }}selected {{end}}>inch</option>
																<option {{if compare .FormItems.UOM "yard" }}selected {{end}}>yard</option>
																<option {{if compare .FormItems.UOM "cubic centimeter" }}selected {{end}}>cubic centimeter</option>
																<option {{if compare .FormItems.UOM "cubic meter" }}selected {{end}}>cubic meter</option>
																<option {{if compare .FormItems.UOM "degree celsius" }}selected {{end}}>degree celsius</option>
																<option {{if compare .FormItems.UOM "milligram" }}selected {{end}}>milligram</option>
																<option {{if compare .FormItems.UOM "gram" }}selected {{end}}>gram</option>
																<option {{if compare .FormItems.UOM "kilogram" }}selected {{end}}>kilogram</option>
																<option {{if compare .FormItems.UOM "metric ton" }}selected {{end}}>metric ton</option>
																<option {{if compare .FormItems.UOM "pound" }}selected {{end}}>pound</option>
																<option {{if compare .FormItems.UOM "percentage" }}selected {{end}}>percentage</option>
																<option {{if compare .FormItems.UOM "gallon" }}selected {{end}}>gallon</option>
																<option {{if compare .FormItems.UOM "litre" }}selected {{end}}>litre</option>
																<option {{if compare .FormItems.UOM "watt" }}selected {{end}}>watt</option>
															</select>-->
                                                                {{if .Errors.UOM}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.UOM}}{{end}}
														</div>
													</div>
												</div>
												<!--/span-->
												<div class="col-md-6">
                                                    <div class="form-group last">
                                                        <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Minimum
                                                                Stock trigger </label>
                                                                <div class="col-md-8">
                                                                    <input id="touchspin_3" type="text" value="{{.FormItems.MinStockTrigger}}" name="min_stock_trigger" placeholder="">                                                                    {{if .Errors.MinStockTrigger}}
                                                                    <span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.MinStockTrigger}}{{end}}
                                                                </div>

                                                            </div>
                                                        </div>
                                                        <!--/span-->
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label class="col-md-4 control-label">Bin Location </label>
                                                                <div class="col-md-8">
                                                                    <input name="bin_location" type="text" class="form-control" value="{{.FormItems.BinLocation}}" placeholder="">                                                                                                {{if .Errors.BinLocation}}
                                                                    <span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.BinLocation}}</span>{{end}}
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--/span-->
                                                        <div class="col-md-6">
                                                            <div class="form-group last">
                                                                <label class="control-label col-md-4">Minimum Order Quantity </label>
                                                                <div class="col-md-8">
                                                                    <input id="mua_min_order_qty" type="text" name="min_order_qty" placeholder="" value="{{.FormItems.MinOrderQty}}">                                                                    {{if .Errors.MinOrderQty}}
                                                                    <span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.MinOrderQty}}{{end}}
                                                                </div>

                                                            </div>
                                                        </div>
                                                        <!--/span-->
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group last">
                                                                <label class="control-label col-md-4">Lead Time Days </label>
                                                                <div class="col-md-8">
                                                                    <input id="mua_lead_time_days1" type="text" value="{{.FormItems.LeadTimeDays}}" name="lead_time_days" placeholder="">                                                                                                {{if .Errors.LeadTimeDays}}
                                                                    <span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.LeadTimeDays}}{{end}}
                                                                </div>

                                                            </div>
                                                        </div>
                                                        <!--/span-->
                                                        <div class="col-md-6">
                                                            <div class="form-group last">
                                                                <label class="control-label col-md-4">Maximum Quantity in Storage Area </label>
                                                                <div class="col-md-8">
                                                                    <input id="mua_total_qty_in_storage_area" type="text" value="{{.FormItems.MaxStorageQty}}" name="max_storage" placeholder="">                                                                                                {{if .Errors.MaxStorageQty}}
                                                                    <span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.MaxStorageQty}}{{end}}
                                                                </div>

                                                            </div>
                                                        </div>
                                                        <!--/span-->
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label class="control-label col-md-4">GST Rate </label>
                                                                <div class="col-md-8">
                                                                    <input name="gst_rate" type="text" class="form-control" value="{{.FormItems.GSTRate}}" placeholder="">                                                                                                {{if .Errors.GSTRate}}
                                                                    <span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.GSTRate}}</span>{{end}}
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--/span-->
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label class="control-label col-md-4">Cess Rate </label>
                                                                <div class="col-md-8">
                                                                    <input name="cess_rate" type="text" class="form-control" value="{{.FormItems.CessRate}}" placeholder="">                                                                    {{if .Errors.CessRate}}
                                                                    <span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.CessRate}}</span>{{end}}
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--/span-->
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label class="control-label col-md-4">HSN/SAC Code</label>
                                                                <div class="col-md-8">
                                                                    <input name="hsn_sac" type="text" class="form-control" value="{{.FormItems.HSNSAC}}" placeholder="">                                                                    {{if .Errors.HSNSAC}}
                                                                    <span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.HSNSAC}}</span>{{end}}
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--/span-->
                                                        <div class="col-md-6">
                                                            <div class="form-group last">
                                                                <label class="control-label col-md-4">Shelf Life</label>
                                                                <div class="col-md-8">
                                                                    <input id="Shelf_Life_Days" type="text" value="{{.FormItems.ShelfLife}}" name="Shelf_Life_Days" placeholder="">                                                                    {{if .Errors.ShelfLife}}
                                                                    <span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.ShelfLife}}{{end}}
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--/span
											</div>
											<div class="row">
												
												<!--/span-->
                                                                                    <div class="col-md-6">
                                                                                        <div class="form-group">
                                                                                            <label class="control-label col-md-4">Factory Location </label>
                                                                                            <div class="col-md-8">
                                                                                                <!--<select single class="form-control select2-multiple " data-placeholder="Choose a Location" name="geo_location" >
                                                            <option disabled selected value> -- Choose a factory -- </option>
                                                              {{ range $gl := .Retrievedfac }}
                                                                <option value="{{ $gl.factory_location }}" {{if compare $.FormItems.GeoLocation $gl.factory_location }} selected {{end}}>{{ $gl.factory_location }}</option>
                                                             {{end}}
                                                            
                                                            </select>-->

                                                                                                <select id="multiple" name="geo_location[]" data-placeholder="Choose" value="{{.FormItems.GeoLocation}}" class="form-control select2-multiple"
                                                                                                    multiple>
															<!-- <optgroup value="{{.FormItems.GeoLocation}}"> -->
															{{ range $items := .Retrievedfac }}
															<option value="{{ $items._id }}" {{if compare $.FormItems.GeoLocation $items._id }} selected {{end}}>{{ $items.factory_location }}</option>
															{{end}}
															<!-- </optgroup> -->
															</select>                                                                                                {{if .Errors.GeoLocation}}
                                                                                                <span
                                                                                                    class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.GeoLocation}}</span>{{end}}
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label class="control-label col-md-4">Non-Consumable </label>
                                                                <div class="col-md-8">
                                                                    <label class="mt-checkbox">
                                                                <input name="non_consumable" type="checkbox"  {{if .FormItems.NonConsumable}} checked {{end}}> 
                                                                <span></span>
                                                            </label>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <!--/span-->

                                                    </div>
                                                    <hr>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label class="control-label col-md-4">Produced Internally </label>
                                                                <div class="col-md-8">
                                                                    <label class="mt-checkbox">
                                                                <input class="coupon_question" name="is_produced" onchange="valueChanged()" type="checkbox"  {{if .FormItems.IsProduced}} checked {{end}}> 
                                                                <span></span>
                                                            </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label class="col-md-4 control-label"><span class="required answer" aria-required="true" style="display:none;">*</span>Production Status </label>
                                                                <div class="col-md-8">
                                                                    <select id="pStatusDropDown" name="status1" class="bs-select form-control">
                                                                <option disabled selected value>Select a Status</option>
                                                                <option value="1" {{if compare .FormItems.Status1 "1" }}selected {{end}}>Produced</option>
                                                                <option value="2" {{if compare .FormItems.Status1 "2" }}selected {{end}}>Temporary Halted</option>
                                                                <option value="9" {{if compare .FormItems.Status1 "9" }}selected {{end}}>Suspended</option>
                                                                <!--<option {{if compare .FormItems.Status1 "4" }}selected {{end}}>4</option>
                                                                <option {{if compare .FormItems.Status1 "5" }}selected {{end}}>5</option>-->
                                                            </select>                                                                    {{if .Errors.Status1}}
                                                                    <span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Status1}}</span>{{end}}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>


                                                </div>
                                                <div class="form-actions">
                                                    {{if .ItemNameExists}}
                                                    <div class="row" style="padding-bottom: 20px;">
                                                        <div class="col-md-12" style="text-align: center;">
                                                            <span style="color: #e02222;">This Item name already exists. Use a different name.</span>
                                                        </div>
                                                    </div>
                                                    {{else if .ItemCodeExists}}
                                                    <div class="row" style="padding-bottom: 20px;">
                                                        <div class="col-md-12" style="text-align: center;">
                                                            <span style="color: #e02222;">This Item code already exists. Use a different code.</span>
                                                        </div>
                                                    </div>
                                                    {{end}}
                                                    <div class="row">
                                                        <div class="col-md-12" style="text-align: center;">
                                                            <button type="submit" class="btn green" style="height: 40px;width: 80px">Submit</button>
                                                            <button type="reset" class="btn default" style="height: 40px;width: 80px">Reset</button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--&nbsp;
									{{if .flash.error}}
									<h3>{{.flash.error}}</h3>
									&nbsp;
									{{end}}
									{{if .flash.notice}}
									<h3>{{.flash.notice}}</h3>
									&nbsp;
									{{end}}-->
                            </form>
                            <!-- END FORM-->
                        </div>
                    </div>
                </div>
            {{end}}
            
            </div>
            <div class="row">
                <div class="col-md-12">
                    <!-- BEGIN EXAMPLE TABLE PORTLET-->
                    <div class="portlet light bordered">
                        <div class="portlet-title">
                            <div class="caption font-dark">
                                <i class="icon-settings font-dark"></i>
                                <span class="caption-subject bold uppercase"> List of Materials</span>
                            </div>
                            <div class="actions">
                                <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" style="width:20px; height:20px; line-height: 0.999; padding-left:4px; "> </a>
                            </div>
                        </div>

                        <!--Server side pagination-->
                        <form method="POST" class="form-inline">
                            <input type="hidden" name="Searchmethod" value="srch" /> {{ .xsrfdata }}
                            <div class="form-group">
                                <input type="ItemCode" name="ItemCode" class="form-control" id="ItemCode" placeholder="Item Code" value="{{.SearchItems.ItemCode}}">
                            </div>
                            <div class="form-group">
                                <input type="ItemName" name="ItemName" class="form-control" id="ItemName" placeholder="Item Name" value="{{.SearchItems.ItemName}}">
                                <button value="SearchItem" type="submit" name="item-search" class="btn green">Search</button>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn default" name="Reset-itemSearch" value="ResetItemSearch" style="height: 35px;width: 80px">Reset</button>
                            </div>

                        </form>
                        <!--Form ends-->

                        <div class="portlet-body">
                            <!--<span style="float: left;color: grey;font-size:11px">Grey background indicates manufactured product</span>-->
                            <table class="table table-bordered table-hover dt-responsive dataTable table-checkable order-column" width="100%" id="stock_view_table">
                                <thead>
                                    <tr>
                                        <th style="text-align: center"> Type </th>
                                        <th style="width:200px !important; text-align: left;"> Name </th>
                                        <th style="text-align: left"> Code </th>
                                        <th style="text-align: left"> Grade </th>
                                        <th style="text-align: left"> Group </th>
                                        <th style="text-align: left"> UOM </th>
                                        <th style="text-align: left"> Min Stock trigger </th>
                                        <th style="text-align: left"> Lead Time </th>
                                        <th style="text-align: left">Action</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    {{ range $stock := .Retrieved }} {{if compare $stock.produced_internally 1 }}
                                    <tr class="odd gradeX" style="background-color: #b5b3b3">
                                        <td style="text-align: left; padding-left: 5px;">Product</td>
                                        <td style="text-align: left" style="background-color: #b5b3b3"> {{ $stock.name }} </td>
                                        <td style="text-align: left"> {{ $stock.item_code_gen }} </td>
                                        <td style="text-align: left"> {{ $stock.grade }} </td>
                                        <td style="text-align: left"> {{ $stock.grp }} </td>
                                        <!--<td class="text-center stock-available-td" style="text-align: right"> 
                                                    {{ $stock.total_quantity }} 
                                                    <a class="sani-plus" data-toggle="modal" href="{{urlfor "StockController.AddInventory"}}"> <span class="badge badge-success"> <i class="fa fa-plus"></i> </span></a>
                                                    
                                                </td>-->
                                <td style="text-align: left"> {{ $stock.unit_measure }} </td>
                                <td style="text-align: right">{{ $stock.min_stock_trigger }}</td>
                                <td style="text-align: right">{{ $stock.lead_time }}</td>
                                <td class="text-center">
                                    <a data-toggle="modal" id="{{ $stock._id}}" data-target="#stockModalDiv_{{ $stock._id}}" data-toggle="tooltip" title="View" class="view" >
                                        <i class="fa fa-eye"></i>
                                    </a>
                                            <a href="/stock/edit-items?itemId={{ $stock._id }}" data-toggle="tooltip" title="Edit">
                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    </a>
                                    <a href="#" id="{{ $stock._id}}" data-toggle="tooltip" title="Delete" class="delbutton"><i class="fa fa-trash-o"></i> </a>
                                </td>
                                
                            </tr>
                            {{else}}
                            <tr class="odd gradeX">	
                                <td style="text-align: left; padding-left: 5px;">Item</td>							
                                <td style="text-align: left"> {{ $stock.name }} </td>
                                <td style="text-align: left"> {{ $stock.item_code_gen }} </td>
                                <td style="text-align: left"> {{ $stock.grade }} </td>
                                <td style="text-align: left"> {{ $stock.grp }} </td>
                                                <!--<td class="text-center stock-available-td" style="text-align: right"> 
                                                    {{ $stock.total_quantity }} 
                                                    <a class="sani-plus" data-toggle="modal" href="{{urlfor "StockController.AddInventory"}}"> <span class="badge badge-success"> <i class="fa fa-plus"></i> </span></a>
                                                    
                                                </td>-->
                                <td style="text-align: left"> {{ $stock.unit_measure }} </td>
                                <td style="text-align: right">{{ $stock.min_stock_trigger }}</td>
                                <td style="text-align: right">{{ $stock.lead_time }}</td>
                                <td class="text-center">
                                    <a data-toggle="modal" id="{{ $stock._id}}" data-target="#stockModalDiv_{{ $stock._id}}" data-toggle="tooltip" title="View"  >
                                        <i class="fa fa-eye"></i>
                                    </a>
                                            <a href="/stock/edit-items?itemId={{ $stock._id }}" data-toggle="tooltip" title="Edit">
                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    </a>
                                            <a href="#" id="{{ $stock._id}}" data-toggle="tooltip" title="Delete" class="delbutton"><i class="fa fa-trash-o"></i> </a>
                                        </td>

                                    </tr>
                                    {{end}} {{end}}

                                </tbody>
                            </table>

                            <!--<div class="actions text-right">
                        <ul class="pagination">
                            <li class="active"><a href="#">1</a></li>
                            <li ><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                        </ul>
                    </div>-->

                            <!--<div class="actions text-right">
                        <div class="dropup ">
                            <button class="btn btn-default dropdown-toggle " type="button"  data-toggle="dropdown">Export
                                <span class="caret"></span></button>
                            <ul class="dropdown-menu pull-right">
                                <li role="presentation"><a tabindex="-1" href="#">Print</a></li>
                                <li role="presentation"><a tabindex="-1" href="#">PDF</a></li>
                                <li role="presentation"><a tabindex="-1" href="#">Excel</a></li>
                                <li role="presentation"><a tabindex="-1" href="#">CSV</a></li>
                            </ul>
                        </div>
                    </div>-->
                        </div>
                    </div>
                    <!-- END EXAMPLE TABLE PORTLET-->
                </div>
            </div>
           
            
            {{ range $stockModal := .Retrieved }}
            <div id="stockModalDiv_{{ $stockModal._id}}" class="modal fade bs-modal-lg" role="dialog">
                <div class="modal-dialog modal-lg">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="portlet-title">
                                <div class="caption font-dark">
                                    <i class="icon-settings font-dark"></i>
                                    <span class="caption-subject bold uppercase"> Item Details</span>
                                    <i class="fa fa-print no-print" title="Print" style="float:right;" onclick="jQuery('#stockModalDiv_{{ $stockModal.item_unique_code }}').print()"></i>
                                    <!--<i id="print_modal" class="fa fa-print no-print" title="Print" style="float:right;" ></i>-->
                                </div>

                            </div>

                            <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
                        </div>
                        <div class="modal-body">
                            <table class="col-md-12">
                                <tr>
                                    <th class="col-md-2">Name:</th>
                                    <td class="col-md-4">{{ $stockModal.name }}</td>
                                    <th class="col-md-2" style="font-size: small;">Invoice Narration:</th>
                                    <td class="col-md-4">{{ $stockModal.invoice_narration }}</td>
                                </tr>
                                <tr>
                                    <th class="col-md-2">Item Code:</th>
                                    <td class="col-md-4">{{ $stockModal.item_code_gen }}</td>
                                    <th class="col-md-2">Group:</th>
                                    <td class="col-md-4">{{ $stockModal.grp }}</td>
                                </tr>
                                <tr>
                                    <th class="col-md-2">Grade:</th>
                                    <td class="col-md-4">{{ $stockModal.grade }}</td>
                                    <th class="col-md-2">Subgroup:</th>
                                    <td class="col-md-4">{{ $stockModal.sub_group }}</td>
                                </tr>
                                <tr>
                                    <th class="col-md-2">UOM:</th>
                                    <td class="col-md-4">{{ $stockModal.unit_measure }}</td>
                                    <th class="col-md-2" style="font-size: small;">Min Stock Trigger:</th>
                                    <td class="col-md-4">{{ $stockModal.min_stock_trigger }}</td>
                                </tr>
                                <tr>
                                    <th class="col-md-2">Bin Location:</th>
                                    <td class="col-md-4">{{ $stockModal.bin_location }}</td>
                                    <th class="col-md-2">Min Order Qty:</th>
                                    <td class="col-md-4">{{ $stockModal.min_order_quantity }}</td>
                                </tr>
                                <tr>
                                    <th class="col-md-2">Lead Time Days:</th>
                                    <td class="col-md-4">{{ $stockModal.lead_time }}</td>
                                    <th class="col-md-2">Maximum Qty in Storage Area:</th>
                                    <td class="col-md-4">{{ $stockModal.max_storage_quantity }}</td>
                                </tr>
                                <tr>
                                    <th class="col-md-2">GST Rate:</th>
                                    <td class="col-md-4">{{ $stockModal.gst_rate }}</td>
                                    <th class="col-md-2">Cess Rate:</th>
                                    <td class="col-md-4">{{ $stockModal.cess_rate }}</td>
                                </tr>
                                <tr>
                                    <th class="col-md-2">HSN/SAC Code:</th>
                                    <td class="col-md-4">{{ $stockModal.hsn_sac }}</td>
                                    <th class="col-md-2"></th>
                                    <td class="col-md-4"></td>
                                </tr>
                                <tr>
                                    <th class="col-md-2" style="font-size: small;">Factory Location:</th>
                                    <td class="col-md-4">{{ $stockModal.factory_location }}</td>
                                    <th class="col-md-2" style="font-size: small;">Non-Consumable</th>
                                    <td class="col-md-4">
                                        {{if compare $stockModal.non_consumable 1 }} Yes {{else}} No {{end}}
                                    </td>
                                </tr>
                            </table>

                            {{if compare $stockModal.produced_internally 1 }}
                            <div class="row"></div>
                            <p style="color:#117dbb; margin-left:15px;">BOM Details</p>
                            {{end}} 
                            {{if compare $stockModal.produced_internally 1 }}
                            <p id="demo_{{ $stockModal._id}}" style="color:salmon; margin-left:65px; margin-top: -15px;"></p>
                            <p id="bom_table_{{ $stockModal._id}}"></p>
                            {{end}}
                            <!--<div class="row">
                                <div class="col-sm-6">
                                    <lable class="col-md-5 control-label bold">Name:</lable>
                                    <div class="col-md-7">{{ $stockModal.name }}</div>
                                </div>
                                <div class="col-sm-6">
                                    <lable class="col-md-5 control-label bold">Grade:</lable>
                                    <div class="col-md-7">{{ $stockModal.grade }}</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <lable class="col-md-5 control-label bold">Group:</lable>
                                    <div class="col-md-7">{{ $stockModal.grp }}</div>
                                </div>
                                <div class="col-sm-6">
                                    <lable class="col-md-5 control-label bold">Subgroup:</lable>
                                    <div class="col-md-7">{{ $stockModal.sub_group }}</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <lable class="col-md-5 control-label bold">UOM:</lable>
                                    <div class="col-md-7">{{ $stockModal.unit_measure }}</div>
                                </div>
                                <div class="col-sm-6">
                                    <lable class="col-md-5 control-label bold">Min Stock Trigger:</lable>
                                    <div class="col-md-7">{{ $stockModal.min_stock_trigger }}</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <lable class="col-md-5 control-label bold">Min Order Qty:</lable>
                                    <div class="col-md-7">{{ $stockModal.min_order_quantity }}</div>
                                </div>
                                <div class="col-sm-6">
                                    <lable class="col-md-5 control-label bold">Bin Location:</lable>
                                    <div class="col-md-7">{{ $stockModal.bin_location }}</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <lable class="col-md-5 control-label bold">Lead Time:</lable>
                                    <div class="col-md-7">{{ $stockModal.lead_time }}</div>
                                </div>
                                <div class="col-sm-6">
                                </div>
                            </div>-->
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default no-print" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                    <!-- Modal content ends-->
                </div>
            </div>
            {{end}}
                            <!-- Modal divs end -->

                            <!-- responsive -->
                            <div id="responsive" class="modal fade" tabindex="-1" data-width="760">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                    <h4 class="modal-title">Add Inventory</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <!-- BEGIN FORM-->
                                            <form action="#" class="form-horizontal">
                                                <div class="form-body">
                                                    <div class="form-group">
                                                        <label class="col-md-3 control-label">Item name <span class="required" aria-required="true">*</span></label>
                                                        <div class="col-md-4">
                                                            <input type="text" class="form-control" placeholder="Item Name">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-md-3 control-label">Date <span class="required" aria-required="true">*</span></label>
                                                        <div class="col-md-4">
                                                            <div class="input-group input-medium date date-picker" data-date-format="dd-mm-yyyy" data-date-start-date="+0d">
                                                                <input type="text" class="form-control" readonly placeholder="Date">
                                                                <span class="input-group-btn">
															<button class="btn default" type="button">
																<i class="fa fa-calendar"></i>
															</button>
														</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-md-3 control-label">Date of Delivery <span class="required" aria-required="true">*</span></label>
                                                        <div class="col-md-4">
                                                            <div class="input-group input-medium date date-picker" data-date-format="dd-mm-yyyy" data-date-start-date="+0d">
                                                                <input type="text" class="form-control" readonly placeholder="Date of Delivery">
                                                                <span class="input-group-btn">
															<button class="btn default" type="button">
																<i class="fa fa-calendar"></i>
															</button>
														</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-md-3 control-label">Suppliers <span class="required" aria-required="true">*</span></label>
                                                        <div class="col-md-4">
                                                            <input type="text" id="typeahead_example_1" name="typeahead_example_1" class="form-control" placeholder="E.g: metronic, keenthemes"
                                                            />
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-md-3 control-label">Location <span class="required" aria-required="true">*</span></label>
                                                        <div class="col-md-4">
                                                            <select class="bs-select form-control">
														<option>Option 1</option>
														<option>Option 2</option>
														<option>Option 3</option>
														<option>Option 4</option>
														<option>Option 5</option>
													</select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-md-3 control-label">Existing Quantity</label>
                                                        <div class="col-md-4">
                                                            <p class="form-control-static"> 100 </p>
                                                        </div>
                                                    </div>
                                                    <div class="form-group last">
                                                        <label class="control-label col-md-3">Quantity Purchased <span class="required" aria-required="true">*</span></label>
                                                        <div class="col-md-4">
                                                            <input id="sai_qty_purchased" type="text" value="" name="demo_vertical" placeholder="Quantity Purchased">
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Total Price <span class="required" aria-required="true">*</span></label>
                                                        <div class="col-md-4">
                                                            <input type="text" class="form-control" id="sai_total_price" placeholder="Total Price">
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                            <!-- END FORM-->
                                        </div>

                                    </div>

                                </div>
                                <div class="modal-footer">

                                    <button type="button" data-dismiss="modal" class="btn btn-outline dark">Close</button>
                                    <button type="button" class="btn green">Submit</button>
                                </div>
                            </div>

                            <!-- END PAGE BASE CONTENT -->
                        </div>
                        <!-- END CONTENT BODY -->
                    </div>
                    <!-- END CONTENT -->

                    <div id="itemNameExistsModal" class="modal fade bs-modal-sm" tabindex="-1" role="dialog" aria-hidden="true" style="display: none; padding-right: 15px;">
                        <div class="modal-dialog modal-sm">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <h4 class="alert-heading">The Item name alredy exists. Use another name.</h4>
                                </div>
                                <div class="modal-footer">
                                    <a class="btn green" href="{{urlfor " StockController.AddNewItemsProductToStock "}}">OK</a>
                                </div>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>
                    {{end}} 
                    
                    {{define "pagelevelplugins"}}
                    <!-- BEGIN PAGE LEVEL PLUGINS -->
                    <script src="/static/assets/global/scripts/datatable.js" type="text/javascript"></script>
                    <script src="/static/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
                    <script src="/static/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
                    <!--<script src="https://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>-->
                    <script src="/static/assets/global/plugins/fuelux/js/spinner.min.js" type="text/javascript"></script>
                    <script src="/static/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.js" type="text/javascript"></script>
                    <script src="/static/assets/global/plugins/bootstrap-select/js/bootstrap-select.min.js" type="text/javascript"></script>
                    <script src="/static/assets/global/plugins/bootstrap-multiselect/js/bootstrap-multiselect.js" type="text/javascript"></script>
                    <script src="/static/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
                    <script src="/static/assets/global/plugins/jQuery.print-master/jQuery.print.js" type="text/javascript"></script>
                    <!-- END PAGE LEVEL PLUGINS -->
                    {{end}} {{define "pagelevelscripts"}}
                    <!-- BEGIN PAGE LEVEL SCRIPTS -->
                    <script src="/static/assets/pages/scripts/components-select2.min.js" type="text/javascript"></script>
                    <script src="/static/assets/pages/scripts/components-bootstrap-select.min.js" type="text/javascript"></script>
                    <script src="/static/assets/pages/scripts/components-bootstrap-touchspin.js" type="text/javascript"></script>
                    <script src="/static/assets/pages/scripts/table-datatables-managed.js" type="text/javascript"></script>
                    <script src="/static/assets/pages/scripts/components-bootstrap-multiselect.min.js" type="text/javascript"></script>
                    <script src="/static/assets/global/plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.js"></script>
                    <script src="/static/assets/global/plugins/jquery-ui/jquery-ui.min.js" /></script>
                    {{if .FlashNotices}}
                    <script type="text/javascript">
                        $(function () {
                            $.bootstrapGrowl("{{.FlashNotices}}", { offset: { from: 'top', amount: 20 }, delay: 5000, type: 'success', align: 'center', stackup_spacing: 30, width: 400 });
                        });
                    </script>
                    {{end}}
                    <script type="text/javascript">
                        function valueChanged() {
                            if ($('.coupon_question').is(":checked"))
                                $(".answer").show();
                            else
                                $(".answer").hide()
                        }
                    </script>
                    <script type="text/javascript">
                        function beforeSubmit() {
                            if ($('.coupon_question').is(":checked")) {
                                var e = document.getElementById("pStatusDropDown");
                                var selectedValue = e.options[e.selectedIndex].value;
                                if (selectedValue == '') {
                                    alert("Please select a Production Status");
                                    return false;
                                }
                            }
                            return true;
                        }
                    </script>
                    <script type="text/javascript">
                        $(function () {
                            $(document).on('click', '.delbutton', function (e) {
                                e.preventDefault()
                                var element = $(this);
                                var del_id = element.attr("id");
                                var info = 'id=' + del_id;
                                var inventoryTotal
                                $.ajax({
                                    type: "GET",
                                    url: "/stock/check-itemsInventory",
                                    data: info,
                                    contentType: "application/json; charset=utf-8",
                                    dataType: "json",
                                    cache: false,
                                    success: function (data) {   
                                        if (data.item_stock == 0){
                                            $.ajax({
	                                        type: "GET",
	                                        url: "/stock/delete-items",
	                                        data: info,
	                                        success: function(msg){ 
		                                    if (msg == "true") {
		                	                    if(alert('Item Deleted!')){}
							                else  window.location.reload();
		                                    }
		                                    else {
		                	                    console("Error")
		                                    }
	            	                    } 
	                            });
                            }
                        else{
                            if(confirm("This item has: "+data.item_stock+" "+data.unit_measure+" in stock inventory. If you remove the item from master records you will loose it's inventory record. Are you sure you want to proceed?")){
	                            $.ajax({
	                            type: "GET",
	                            url: "/stock/delete-items",
	                            data: info,
	                            success: function(msg){ 
		                            if (msg == "true") {
		                	            if(alert('Item Deleted!')){}
							            else  window.location.reload();
		                            }
		                            else {
		                	            console("Error")
		                            }
	            	            } 
	                            });
	                        }
                        }
	                    return false;
	            	} 
	            });
	        });
	        });
                    </script>
                    <script type="text/javascript">
                        $(function () {
                            $(document).on('click', '#print_modal', function (e) {
                                $("#myElementId").print({
                                    globalStyles: true,
                                    mediaPrint: false,
                                    stylesheet: null,
                                    noPrintSelector: ".no-print",
                                    iframe: true,
                                    append: null,
                                    prepend: null,
                                    manuallyCopyFormValues: true,
                                    deferred: $.Deferred(),
                                    timeout: 750,
                                    title: null,
                                    doctype: '<!doctype html>'
                                });
                            });
                        });
                    </script>

                    <script src="/static/assets/js/items-autocomplete.js"></script>


                    <script type="text/javascript">
                        $(function () {
                            $(document).on('click', '.view', function (e) {
                                //e.preventDefault()
                                var element = $(this);
                                var product_id = element.attr("id");
                                var info = 'id=' + product_id;

                                $.ajax({
                                    type: "GET",
                                    url: "/production/product-items",
                                    data: info,
                                    contentType: "application/json; charset=utf-8",
                                    dataType: "json",
                                    cache: false,
                                    success: function (data) {

                                        if (data.items == null) {
                                            var demo = 'demo_' + product_id;
                                            document.getElementById(demo).innerHTML = "BOM details not added!";

                                        } else {

                                            var demo = 'bom_table_' + product_id;
                                            var thead = '<table class="table table-bordered table-hover dt-responsive dataTable table-checkable order-column" width="80%"><thead><tr><th>Item</th><th style="width:20%;">Quantity</th><th style="width:20%;">Inherent Scrap</th><th style="width:20%;">Consumable Type</td></tr></thead><tbody>';
                                            var tfooter = '</tbody></table>';
                                            var trHTML = '';
                                            $.each(data.items, function (i, item) {

                                                trHTML += '<tr><td>' + item + '</td><td style="padding-left:20px">' + data.quantity[i] + '</td><td style="padding-left:20px">' + data.wastage[i] + '</td><td style="padding-left:20px">' + data.consume[i] + '</td></tr>';
                                            });
                                            //$('#demo').append(thead, trHTML, tfooter);

                                            document.getElementById(demo).innerHTML = thead + trHTML + tfooter;
                                        }

                                        // $('#demo').append( $.map(data.items, function (ignore, index) {
                                        //     return '<table class="table table-bordered table-hover dt-responsive dataTable table-checkable order-column" width="80%"><thead><tr><th>Item</th><th>Quantity</td></tr></thead><tbody>'+'<tr><td>' + data.items[index] + '</td><td>' + data.quantity[index] + '</td></tr>'+'</tbody></table>';
                                        // }).join());
                                    }
                                });
                            });
                        });
                    </script>
                    <!--<script src="../static/assets/pages/scripts/ui-modals.js" type="text/javascript"></script>
        <script src="../static/assets/pages/scripts/ui-modals.min.js" type="text/javascript"></script>-->

                    <!-- END PAGE LEVEL SCRIPTS -->
                    {{end}}