{{ template "master_layout.html" . }}

{{define "pagelevelstyles"}}
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link href="/static/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link href="/static/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.css" rel="stylesheet" type="text/css" />
    <link href="/static/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
	<link href="/static/assets/global/plugins/bootstrap-multiselect/css/bootstrap-multiselect.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL STYLES-->
{{end}}

{{ define "content"}}
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">
            <!-- BEGIN PAGE BASE CONTENT -->
			
			 <div class="row">
                <div class="col-md-12">
                    <div class="portlet light bordered">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="icon-equalizer font-green"></i>
                                <span class="caption-subject bold font-green uppercase">Make Adjustments</span>
                            </div>
                            
                            <div class="actions">
                                <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" style="width:20px; height:20px; line-height: 0.999; padding-left:4px; "> </a>
                            </div>
							<div class="tools nts-tools faq-links" style="margin-top:0;">
                                {{if .ErrorsPresent}} 
                                        <a href=""  class="collapse btn blue" style="background-image:none; width: 70px; height: 20px; padding:0; margin-top: -4px;">
									 	<i class="fa fa-minus" style=" margin-left: -1px; margin-top: 2px;"></i><span style="font-size: smaller;">Close</span> <span style="display : none; font-size: smaller;">Adjust</span></a> 
                                {{else}} 
                                <a href="" class="expand btn blue" style="background-image:none; width: 70px; height: 20px; padding:0; margin-top: -4px;" >
                                <i class="fa fa-plus" style=" margin-left: -1px; margin-top: 2px;"></i> <span style="font-size: smaller;">Adjust</span> <span style="display : none; font-size: smaller;">Close</span> </a>
                                {{end}}
                            </div>
                        </div>
                        {{if .ErrorsPresent}} 
                          <div class="portlet-body form" style="display:block" >
                          {{else}}  
                          <div class="portlet-body form"  style="display:none" >
                          {{end}}
							<!-- BEGIN FORM-->
							<form method="POST" onsubmit="return validateQty();" class="form-horizontal">
                                {{ .xsrfdata }}
								<div class="form-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Factory Location </label>
                                                <div class="col-md-8">
                                                    <select id="factory_id" name="factory" onchange="factoryChange();" single class="form-control select2-multiple " data-placeholder="Choose a Location"  >
                                                        <option disabled selected value> -- Choose a factory -- </option>
                                                        {{ range $gl := .Retrievedfac }}
                                                        <option value="{{ $gl._id }}" {{if compare $.FormItems.Factory $gl._id }} selected {{end}}>{{ $gl.factory_location }}</option>
                                                        {{end}}
                                                    </select>
                                                    {{if .Errors.Factory}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Factory}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Item/Product Name </label>
                                                <div class="col-md-8">
                                                    <select id="item_id" name="i_name" onchange="itemChange();" class=" form-control select2-multiple" data-placeholder="Choose an Item">
                                                        
                                                    </select> 

                                                    {{if .Errors.Name}} <span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Name}}</span>{{end}}

                                              
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        
                                    </div>
                                    <p id="stock_table"></p>
                                    
                                    <div class="row">
                                        <div class="col-md-6">
                                        <div class="form-group">
                                                <label class="control-label col-md-4" style="padding-top:0px;"><span class="required" aria-required="true">*</span>Total Quantity in Stock</label>
                                                <div class="col-md-8">
                                                    <input id="total_observed" name="qty_record" type="text" class="form-control" readonly>
                                                  
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4" style="padding-top:0px;"><span class="required" aria-required="true">*</span>Quantity Observed </label>
                                                <div class="col-md-8">
                                                    <input name="qty_observed" onkeyup="onlyNumbers(this);" type="text" class="form-control" value="{{.FormItems.QtyObserved}}" placeholder="">
                                                    {{if .Errors.QtyObserved}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.QtyObserved}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Reason for Discrepencies </label>
                                                <div class="col-md-8">
                                                    <textarea name="reason" class="form-control" rows="3" placeholder="">{{.FormItems.Reason}}</textarea>
                                                    {{if .Errors.Reason}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Reason}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                          <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Remark </label>
                                                <div class="col-md-8">
                                                    <textarea name="remark" class="form-control" rows="3" placeholder="">{{.FormItems.Remark}}</textarea>
                                                    {{if .Errors.Remark}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Remark}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Date of inspection </label>
                                                <div class="col-md-8">
                                                    <div class="input-group input-medium date date-picker" data-date-format="yyyy-mm-dd" data-date-start-date="+0d">
                                                        <input id="todays_date" name="date_inspection" type="text" class="form-control" value="{{.FormItems.DateInspection}}" readonly placeholder="">
                                                        <span class="input-group-btn">
                                                            <button class="btn default" type="button">
                                                                <i class="fa fa-calendar"></i>
                                                            </button>
                                                        </span>
                                                    </div>
                                                    {{if .Errors.DateInspection}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.DateInspection}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                          
                                            <input type="hidden" id="sa_inspected_by" name="sa_inspected_by" />
                                            <input type="hidden" id="sa_cost_associated_with_adjustment" name="sa_cost_associated_with_adjustment" />
                                        </div>
                                        <!--/span-->
                                    </div>



                                </div>
								<div class="form-actions">
									<div class="row">
                                        <div class="col-md-12" style="text-align: center;">
											<button type="submit" name=ad_button value="adjust" class="btn green" style="height: 40px;width: 80px">Submit</button>
											<button type="reset" class="btn default" style="height: 40px;width: 80px">Reset</button>
										</div>
									</div>
								</div>
							</form>
							<!-- END FORM-->
						</div>
					</div>
                </div>
            
			</div>
            
			
            <div class="row">
                <div class="col-md-12">
                    <!-- BEGIN EXAMPLE TABLE PORTLET-->
                    <div class="portlet light bordered">
                        <div class="portlet-title">
                            <div class="caption font-dark">
                                <i class="icon-settings font-dark"></i>
                                <span class="caption-subject bold uppercase"> Adjusted Inventory</span>
                            </div>
                            <div class="actions">
                                <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" style="width:20px; height:20px; line-height: 0.999; padding-left:4px; "> </a>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <table class="table table-bordered table-hover table-checkable order-column" id="stock_adjustment_table">
                                <thead>
                                    <tr>
                                        <th style="text-align: left"> Item Code </th>
                                        <th style="text-align: left"> Item Name </th>
                                        <th style="text-align: left"> Quantity on Record </th>
                                        <th style="text-align: left"> Quantity Observed </th>
                                        <th style="text-align: left"> Reason for Discrepencies </th>
                                        <th style="text-align: left"> Date of inspection </th>
                                        <!-- <th>  </th> -->
                                    </tr>
                                </thead>
                                <tbody>
                                {{ range $adjustment := .Retrieved }}
                                    <tr class="odd gradeX">
                                        <td style="text-align: left">  {{ $adjustment.item_code_gen }}</td>
                                        <td style="text-align: left">  {{ $adjustment.invoice_narration }} </td>
                                        <td class="text-center" style="text-align: center">{{ $adjustment.quantity_on_record }} </td>
                                        <td class="text-center" style="text-align: center"> {{ $adjustment.observed_quantity }}</td>
                                        <td style="text-align: left"> {{ $adjustment.reason }}</td>
                                        <td class="text-center" style="text-align: left">  {{ $adjustment.ins_date }} </td>
                                        <!-- <td>
											<a href="javascript:;" data-toggle="tooltip" title="Manage">
												<i class="fa fa-pencil"></i>
											</a>
										</td> -->
                                    </tr>
                                     {{end}}
                                    
								</tbody>
                            </table>
                            <div class="actions text-right">

                                <div class="dropup ">
                                    <button class="btn btn-default dropdown-toggle " type="button"  data-toggle="dropdown">Export
                                        <span class="caret"></span></button>
                                    <ul class="dropdown-menu pull-right">
                                        <li role="presentation"><a tabindex="-1" href="#">Print</a></li>
                                        <li role="presentation"><a tabindex="-1" href="#">PDF</a></li>
                                        <li role="presentation"><a tabindex="-1" href="#">Excel</a></li>
                                        <li role="presentation"><a tabindex="-1" href="#">CSV</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END EXAMPLE TABLE PORTLET-->
                </div>
            </div>
			<!-- END PAGE BASE CONTENT -->
        </div>
        <!-- END CONTENT BODY -->
    </div>
    <!-- END CONTENT -->
    {{ end }}
            
    {{ define "pagelevelplugins"}}
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src="/static/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
    <script src="/static/assets/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="/static/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="/static/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <script src="/static/assets/global/plugins/bootstrap-multiselect/js/bootstrap-multiselect.js" type="text/javascript"></script>
    <script src="/static/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    {{end}}
    
    {{define "pagelevelscripts"}}
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="/static/assets/pages/scripts/components-select2.min.js" type="text/javascript"></script>
    <script src="/static/assets/pages/scripts/table-datatables-managed.js" type="text/javascript"></script>
    <script src="/static/assets/pages/scripts/components-bootstrap-multiselect.min.js" type="text/javascript"></script>
    {{if .FlashNotices}}
    <script type="text/javascript">
            $(function() {                  
                $.bootstrapGrowl("{{.FlashNotices}}", {offset: {from: 'top', amount: 20}, delay: 5000, type: 'success',align: 'center', stackup_spacing: 30,width: 400 });});
    </script>
    {{end}}
    <script type="text/javascript">
        var todaysDate = new Date();
        function convertDate(date) {
            var yyyy = date.getFullYear().toString();
            var mm = (date.getMonth()+1).toString();
            var dd  = date.getDate().toString();

            var mmChars = mm.split('');
            var ddChars = dd.split('');

            return yyyy + '-' + (mmChars[1]?mm:"0"+mmChars[0]) + '-' + (ddChars[1]?dd:"0"+ddChars[0]);
        }

        document.getElementById('todays_date').value = convertDate(todaysDate);
    </script>
    <script>
        $(document).ready(function() { 
            factoryChange();
            
         });

         $(window).load(function(){
            var url_string = window.location.href;
            var url = new URL(url_string);
            var c = url.searchParams.get("itemId");
            if (c != ""){
                //var element = document.getElementById('item_id');
                //element.value = c;
                //$('#item_id').val(c);
                 //window.alert(c);
                // for(var i=0; i < element.options.length; i++)
                // {
                // if(element.options[i].value == c)
                // element.selectedIndex = i+1;
                // }
                //document.getElementById('item_id').value = c;
                itemChange();
            }
        });


        function factoryChange() {
            var factory = $(factory_id).val();
            $("#item_id").empty();
            var info = 'factory_id=' + $(factory_id).val();
            if (factory != null && factory != "") {
                var url_string = window.location.href;
                var url = new URL(url_string);
                var c = url.searchParams.get("itemId");

                $.ajax({
                    type: "GET",
                    url: "/stock/get-factory-items",
                    data: info,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    cache: false,
                    success: function(data){ 
                        $.each(data.itemId, function (i, item) {
                            if (item != c){
                                $("#item_id").append("<option value=''>Select an Item/Product</option><option  value='"+item+"' {{if compare $.FormItems.Name " +item+ " }} selected {{end}}>["+data.itemCode[i]+"] "+data.invoiceNarration[i]+" (UOM: " + data.itemUom[i] + ")</option>");
                            //window.alert(item);
                            } else {
                                $("#item_id").append("<option value=''>Select an Item/Product</option><option  value='"+item+"' selected >["+data.itemCode[i]+"] "+data.invoiceNarration[i]+" (UOM: " + data.itemUom[i] + ")</option>");
                            }
                        });
                    }
                });
            }
        }

        function itemChange() {
            var item = $(item_id).val();
            var factory = $(factory_id).val();
            var info = 'item_id=' + $(item_id).val() + '&factory_id=' + factory;
            if (item != null && item != "") {
                $.ajax({
                    type: "GET",
                    url: "/stock/get-adjustment-details",
                    data: info,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    cache: false,
                    success: function(data){ 
                        document.getElementById('total_observed').value = data.totalStockQty;
                        document.getElementsByName("qty_observed")[0].value = data.totalStockQty;
                        //window.alert(data.totalStockQty);
                        var thead = '<div class="table-container" style="width:100%; " ><table class="table table-bordered"><thead><tr><th style="text-align:left; padding-left: 5px;">Date Added</th><th>Quantity Added</th><th>Quantity in Stock</th><th>Adjust Quantity</th><th>Rate</th><th>Purchase/Production Order ID</th><th>GRN</th></tr></thead><tbody>';
                        var tfooter = '</tbody></table></div>';
                        var trHTML = '';
                        var str = "Item not in stock";
                        
                        $.each(data.stockId, function (i, item) {
                                trHTML += '<tr><td style="text-align:left; padding-left: 5px;">' + data.startDate[i] + '</td><td>' + data.addedQty[i] + '</td><td>' + data.quantity[i] + '</td><td style="text-align:right;"><input name="stock['+ i + '][stock_adjust]" class="adjustval" onkeyup="onlyNumbers(this); adjustQtyChange();" type="text" placeholder="'+data.thePlaceholder[i]+'" '+data.isEditable[i]+'><input name="stock[' + i + '][item_fkid]" type="hidden" value="' + item + '"><input name="stock[' + i + '][stockQty]" type="hidden" value="' + data.quantity[i] + '"></td><td style="text-align:right;">' + data.rate[i] + '</td><td style="text-align:right;">' + data.purchaseOrProd[i] +'</td><td style="text-align:right;">' + data.grnNo[i] + '</td></tr>';
                            
                        });
                        //var demo = 'demo_' + product_id
                        document.getElementById('stock_table').innerHTML = thead + trHTML + tfooter;
                    }
                });
            }
        }
    </script>
    <script>
        function onlyNumbers(element) {
            if(isNaN(element.value)) {
                element.value = "";
            }
        }
    </script>
    <script type="text/javascript">
        function validateQty() {
            var observed_qty = document.getElementsByName('qty_observed')[0].value;
            if (observed_qty == '') {
                alert("Please enter the Quantity Observed");
                return false;
            }
            var sum = 0;
            
            $('input.adjustval').each(function() {
                //add only if the value is number
                if(!isNaN(this.value) && this.value.length!=0) {
                    sum += parseFloat(this.value);
                } else {
                    var _name = this.name;
                    var res = _name.split("[");
                    var new_res = res[1].split("]");
                    var stock_name = "stock[" + new_res[0] + "][stockQty]";
                    var stockQtyVal = document.getElementsByName(stock_name)[0].value;
                    if(!isNaN(stockQtyVal) && stockQtyVal!=0) {
                        sum += parseFloat(stockQtyVal);
                    }
                }
            });

            if ((parseFloat(observed_qty) - sum) != 0) {
                alert("Please enter proper quantities to adjust");
                return false;
            }
            return true;
        }
    </script>
    <script>
        function adjustQtyChange() {
            var sum = 0;
            $('input.adjustval').each(function() {
                //add only if the value is number
                if(!isNaN(this.value) && this.value.length!=0) {
                    sum += parseFloat(this.value);
                } else {
                    var _name = this.name;
                    var res = _name.split("[");
                    var new_res = res[1].split("]");
                    var stock_name = "stock[" + new_res[0] + "][stockQty]";
                    var stockQtyVal = document.getElementsByName(stock_name)[0].value;
                    if(!isNaN(stockQtyVal) && stockQtyVal!=0) {
                        sum += parseFloat(stockQtyVal);
                    }
                }
            });
            document.getElementsByName("qty_observed")[0].value = sum;
        }
    </script>
    <!-- END PAGE LEVEL SCRIPTS -->
    {{end}}