{{ template "master_layout.html" . }}

{{define "pagelevelstyles"}}
        <!-- BEGIN PAGE LEVEL STYLES -->
				<link href="/static/assets/global/plugins/typeahead/typeahead.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.css" rel="stylesheet" type="text/css" />
		<link href="/static/assets/global/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" type="text/css" />
		
		<link href="/static/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/bootstrap-multiselect/css/bootstrap-multiselect.css" rel="stylesheet" type="text/css" />
         <link href="/static/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />

		 <link href="/static/assets/global/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css" rel="stylesheet" type="text/css" />
		<!--<link rel="stylesheet" href="/resources/demos/style.css">-->
		<link href="/static/assets/global/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" type="text/css" />
		<style>
        .ui-autocomplete { 
            cursor:pointer; 
            max-height:170px; 
            overflow-y:auto;
			overflow-x:hidden;
        }    
    </style>

        <!-- END PAGE LEVEL STYLES -->
{{end}}

{{ define "content"}}
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                    <!-- BEGIN PAGE BASE CONTENT -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="portlet light bordered" style="padding-left: 0;">
                                <div class="portlet-title" style="padding-left: 20px;">
                                    <div class="caption">
                                        <i class="icon-equalizer font-green"></i>
                                        <span class="caption-subject bold font-green uppercase">Edit Item</span>
                                     </div>
                                </div>
                                  
									<div class="portlet-body form">                         
									<!-- BEGIN FORM-->
									<form method="POST" onsubmit="return beforeSubmit();" class="form-horizontal">
									{{ .xsrfdata }}		
									<div class="form-body">
										<div class="row" style="padding-left: 40px;">

											<div class="col-md-6">
												<div class="form-group">
												<select name="item_name_check" class="form-control select2-multiple " data-placeholder="Choose an Item">
												<option disabled selected value> -- Choose an item -- </option>
												<optgroup value="{{.FormItems.ItemNameCheck}}">
													{{ range $items := .ItemsRetrieved }}
													<option value="{{ $items._id }}" {{if compare $.FormItems.ItemNameCheck $items._id }} selected {{end}}>{{ $items.invoice_narration }} ({{ $items.item_code_gen }})</option>
													{{end}}
												</optgroup>
												</select>
												{{if .Errors.ItemNameCheck}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.ItemNameCheck}}</span>{{end}}
												</div>
											</div>
											<div class="col-md-1">
											</div>
											<div class="col-md-4">
											<div class="form-group" >
											<button  value="show" type="submit" method="POST" name="item-button" class="btn btn-circle green btn-outline" style="height: 33px;"> SHOW DETAILS</button>
											</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
												<label class="control-label col-md-4"> </label>
													<div class="col-md-8">
													<input name="item_id" type="hidden"  class="form-control" value="{{.FormItems.ItemID}}" placeholder="">
													{{if .Errors.ItemID}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.ItemID}}</span>{{end}}
													<input id="org_id" name="org_id" type="hidden"  class="form-control" value="{{.OrgID}}" >
													</div>
												</div>

											</div>
										</div>
										<!--/span-->
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
												<label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Item Name </label>
												<div class="col-md-8">
												<input name="item_name" type="text" class="form-control" value="{{.FormItems.ItemName}}" placeholder="">
												{{if .Errors.ItemName}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.ItemName}}</span>{{end}}
												</div>
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
												<label class="control-label col-md-4">Invoice Narration </label>
												<div class="col-md-8">
												<input name="invoice_narration" type="text" class="form-control" value="{{.FormItems.InvoiceNarration}}" placeholder="">
												{{if .Errors.InvoiceNarration}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.InvoiceNarration}}</span>{{end}}
												</div>
												</div>
											</div>
										</div>
										<!--/span-->
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label class="col-md-4 control-label"><span class="required" aria-required="true">*</span>Item Code </label>
													<div class="col-md-8">
														<input name="item_code" type="text" class="form-control" value="{{.FormItems.ItemCode}}" >
														{{if .Errors.ItemCode}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.ItemCode}}{{end}}
													</div>
												</div>
											</div>
												<!--/span-->
												<div class="col-md-6">
													<div class="form-group">
														<label class="col-md-4 control-label"><span class="required" aria-required="true">*</span>Group </label>
														<div class="col-md-8">
															<input name="group" type="text" id="groups" class="form-control" value="{{.FormItems.Group}}" />

															<!--<input list="grps" name="group" type="text" class="form-control" value="{{.FormItems.Group}}">
															
														  <datalist id="grps">
														    {{ range $gl := .RetrievedGroup }}
														    <option value="{{ $gl.grp }}"{{if compare $.FormItems.Group $gl.grp }} selected {{end}}>{{ $gl.grp }}</option>
														    {{end}}
																
														  </datalist>-->
															{{if .Errors.Group}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Group}}{{end}}
														</div>
													</div>
												</div>
											</div>

											
											<div class="row">
												<div class="col-md-6">
													<div class="form-group">
														<label class="col-md-4 control-label">Item-Grade </label>
														<div class="col-md-8">
															<input name="item_grade" type="text" id="grades" class="form-control" value="{{.FormItems.ItemGrade}}" />
															<!--<input list="grades" name="item_grade" type="text" class="form-control" value="{{.FormItems.ItemGrade}}">
														 
														  <datalist id="grades">
														    {{ range $gl := .RetrievedGrade }}
														    <option value="{{ $gl.grade }}"{{if compare $.FormItems.ItemGrade $gl.grade }} selected {{end}}>{{ $gl.grade }}</option>
																 {{end}}
														   
														  </datalist>-->
															{{if .Errors.ItemGrade}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.ItemGrade}}{{end}}
														</div>
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-group">
														<label class="col-md-4 control-label"><span class="required" aria-required="true">*</span>Sub Group </label>
														<div class="col-md-8">
															<input name="sub_group" type="text" id="subgroups" class="form-control" value="{{.FormItems.SubGroup}}" />

															<!--<input list="sub_grps" name="sub_group" type="text" class="form-control" value="{{.FormItems.SubGroup}}">
														  <datalist id="sub_grps">
														    {{ range $gl := .RetrievedSubGroup }}
														    <option value="{{ $gl.sub_group }}"{{if compare $.FormItems.SubGroup $gl.sub_group }} selected {{end}}>{{ $gl.sub_group }}</option>
																 {{end}}
														   
														  </datalist>-->
															{{if .Errors.SubGroup}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.SubGroup}}{{end}}
														</div>
													</div>
												</div>
												<!--/span-->
											</div>
										</div>
										
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label class="col-md-4 control-label"><span class="required" aria-required="true">*</span>Unit of Measure </label>
													<div class="col-md-8">
														<input name="uom" type="text" id="unit_measure" class="form-control" value="{{.FormItems.UOM}}" readonly/>
														
														<!--<input list="uoms" name="uom" type="text" class="form-control" value="{{.FormItems.UOM}}">
														   
														  <datalist id="uoms"  style=" overflow:auto; height:100px;">
														    {{ range $gl := .RetrievedUOM }}
														    <option value="{{ $gl.unit_measure }}"{{if compare $.FormItems.UOM $gl.unit_measure }} selected {{end}}>{{ $gl.unit_measure }}</option>
																 {{end}}
														   
														  </datalist>-->
														{{if .Errors.UOM}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.UOM}}{{end}}
													</div>
												</div>
											</div>
											<!--/span-->
											<div class="col-md-6">
												<div class="form-group last">
													<label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Minimum Stock trigger </label>
													<div class="col-md-8">
														<input id="touchspin_3" type="text"  class="form-control" value="{{.FormItems.MinStockTrigger}}" name="min_stock_trigger" placeholder="">
														{{if .Errors.MinStockTrigger}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.MinStockTrigger}}{{end}}
													</div>
													
												</div>
											</div>
											<!--/span-->
										</div>
										
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label class="col-md-4 control-label">Bin Location </label>
													<div class="col-md-8">
														<input name="bin_location" type="text" class="form-control" value="{{.FormItems.BinLocation}}" placeholder="">
													{{if .Errors.BinLocation}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.BinLocation}}</span>{{end}}
													</div>
												</div>
											</div>
											<!--/span-->
											<div class="col-md-6">
												<div class="form-group last">
													<label class="control-label col-md-4">Minimum Order Quantity </label>
													<div class="col-md-8">
														<input id="mua_min_order_qty" type="text"  class="form-control" name="min_order_qty" placeholder=""  value="{{.FormItems.MinOrderQty}}">
														{{if .Errors.MinOrderQty}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.MinOrderQty}}{{end}}
													</div>
													
												</div>
											</div>
											<!--/span-->
										</div>
										
										<div class="row">
											<div class="col-md-6">
												<div class="form-group last">
													<label class="control-label col-md-4">Lead Time Days </label>
													<div class="col-md-8">
														<input id="mua_lead_time_days1" type="text"  class="form-control" value="{{.FormItems.LeadTimeDays}}" name="lead_time_days" placeholder=""> 
														{{if .Errors.LeadTimeDays}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.LeadTimeDays}}{{end}}
													</div>
													
												</div>
											</div>
											<!--/span-->
											<div class="col-md-6">
												<div class="form-group last">
													<label class="control-label col-md-4">Maximum Quantity in Storage Area </label>
													<div class="col-md-8">
														<input id="mua_total_qty_in_storage_area" type="text"  class="form-control" value="{{.FormItems.MaxStorageQty}}" name="max_storage" placeholder=""> 
														{{if .Errors.MaxStorageQty}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.MaxStorageQty}}{{end}}
													</div>
													
												</div>
											</div>
											<!--/span-->
										</div>
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label class="control-label col-md-4">GST Rate </label>
													<div class="col-md-8">
														<input name="gst_rate" type="text" class="form-control" value="{{.FormItems.GSTRate}}" placeholder="">
														{{if .Errors.GSTRate}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.GSTRate}}</span>{{end}}
													</div>
												</div>
											</div>
											<!--/span-->
											<div class="col-md-6">
												<div class="form-group">
													<label class="control-label col-md-4">Cess Rate </label>
													<div class="col-md-8">
														<input name="cess_rate" type="text" class="form-control" value="{{.FormItems.CessRate}}" placeholder="">
														{{if .Errors.CessRate}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.CessRate}}</span>{{end}}
													</div>
												</div>
											</div>
											<!--/span-->
										</div>
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label class="control-label col-md-4">HSN/SAC Code</label>
													<div class="col-md-8">
														<input name="hsn_sac" type="text" class="form-control" value="{{.FormItems.HSNSAC}}" placeholder="">
														{{if .Errors.HSNSAC}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.HSNSAC}}</span>{{end}}
													</div>
												</div>
											</div>
											<!--/span-->
											<div class="col-md-6">
													<div class="form-group last">
														<label class="control-label col-md-4">Shelf Life (days)</label>
														<div class="col-md-8">
															<input id="Shelf_Life_Days" type="text" value="{{.FormItems.ShelfLife}}" name="Shelf_Life_Days" placeholder=""> 
															{{if .Errors.ShelfLifeDays}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.ShelfLifeDays}}{{end}}
														</div>    
												</div>
											</div> 
											<!--/span-->
										</div>
										<div class="row">
											<!-- <div class="col-md-6">
												<div class="form-group">
													<label class="col-md-4 control-label"><span class="required" aria-required="true">*</span>Status </label>
													<div class="col-md-8">
														<select name="status" class="bs-select form-control" value="{{.FormItems.Status}}">
															<option value="1">1</option>
															<option value="2">2</option>
															<option value="3">3</option>
															<option value="4">4</option>
															<option value="5">5</option>
														</select>
													</div>
												</div>
											</div> -->
											<!--/span-->
											<div class="col-md-6">
												<div class="form-group">
													<label class="control-label col-md-4">Factory Location </label>
													<div class="col-md-8">
												           <select id="multiple" name="geo_location1" data-placeholder="{{.FormItems.GeoLocation1}}" value="{{.FormItems.GeoLocation1}}"  class="form-control select2-multiple" multiple >
														
															{{ range $items := .RetrievedFactory }}
															<option value="{{ $items._id }}" {{ range $itemkey,$itemvalue := $.RetrievedItemsLocation }} {{if compare $itemvalue $items._id }} selected {{end}}{{end}} >{{ $items.factory_location }}</option>
															{{end}}
													
															</select>
														{{if .Errors.GeoLocation1}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.GeoLocation1}}</span>{{end}}
													</div>
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label class="control-label col-md-4">Non-Consumable </label>
													<div class="col-md-8">
														<label class="mt-checkbox">
															<input name="non_consumable" type="checkbox"  {{if .FormItems.NonConsumable}} checked {{end}}> 
															<span></span>
														</label>
													</div>
												</div>
											</div>
											<!--/span-->
										</div>
										<hr style="margin-left: 15px;">
										{{if .FormItems.IsProduced}}
										<div class="product-block" >
										{{else}}
										<div class="product-block" style="display:none;">
										{{end}}
											
											<div class="row">
												
												<!--/span-->
												<div class="col-md-6">
													<div class="form-group last">
														<label class="control-label col-md-4">Produced Internally </label>
														<div class="col-md-8">
															<label class="mt-checkbox">
																<input name="is_produced" class="coupon_question" disabled="disabled" onchange="valueChanged()" type="checkbox" {{if .FormItems.IsProduced}} checked {{end}}> 
																<span></span>
															</label>
														</div>
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-group">
														<label class="col-md-4 control-label"><span class="required answer" aria-required="true" style="display:none;">*</span>Production Status </label>
														<div class="col-md-8">
															<select id="pStatusDropDown" name="status1" class="bs-select form-control">
																<option disabled selected value>Select a Status</option>
																<option value="1" {{if compare .FormItems.ProductionStatus "1" }}selected {{end}}>Produced</option>
																<option value="2" {{if compare .FormItems.ProductionStatus "2" }}selected {{end}}>Temporary Halted</option>
																<option value="9" {{if compare .FormItems.ProductionStatus "9" }}selected {{end}}>Suspended</option>
																<!--<option {{if compare .FormItems.ProductionStatus "4" }}selected {{end}}>4</option>
																<option {{if compare .FormItems.ProductionStatus "5" }}selected {{end}}>5</option>-->
															</select>
															{{if .Errors.ProductionStatus}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.ProductionStatus}}</span>{{end}}
														</div>
													</div>
												</div>
												<!--/span-->
											</div>
										</div>
										<div class="row">
										</div>
									</div>
										<div class="form-actions">
											{{if .ItemNameExists}}
											<div class="row" style="padding-bottom: 20px;">
												<div class="col-md-12" style="text-align: center;">
													<span style="color: #e02222;">This Item name already exists. Use a different name.</span>
												</div>
											</div>
											{{else if .ItemCodeExists}}
											<div class="row" style="padding-bottom: 20px;">
												<div class="col-md-12" style="text-align: center;">
													<span style="color: #e02222;">This Item code already exists. Use a different code.</span>
												</div>
											</div>
											{{else if .InvoiceNarationExists}}
											<div class="row" style="padding-bottom: 20px;">
												<div class="col-md-12" style="text-align: center;">
													<span style="color: #e02222;">This Invoice Narration already exists. Use a different invoice narration.</span>
												</div>
											</div>
											{{end}}
											<div class="row " >
												<button type="submit" class="btn green" style="margin-left: 47%;height: 40px;width: 80px">Submit</button>
												<button class="btn green" style="height: 39px;width: 80px ;float: right; margin-right: 15px;"><a href="/stock/add-new-items" style="float: right; color: rgba(239, 237, 224, 0.88);">Go Back</a></button>
											</div>
											
											{{if .FormItems.IsProduced}}
											<hr>
											<h5 style="margin-left: 10px"><b>BOM Details</b></h5>
											<div>
												<table id="Table_id" class="table table-bordered table-hover table-checkable order-column" style="margin-left: 10px" >
                                        <thead>
                                            <tr>
                                            	<th style="width:250px; text-align: left;">Item Name (Code)</th>
                                                <th style=" text-align: left;">Quantity</th>
												<th style=" text-align: left;">Unit Of Measure</th>
                                                <th style=" text-align: left;">Wastage</th>
                                                 <th style=" text-align: left;">Consumable Type</th>
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{ range $items := .RetrievedBOM }}
                                            <tr>
                                            	<td style=" text-align: left; padding-left: 5px;">[{{$items.product_code}}] {{ $items.item_narration }} </td>
                                                <td style=" text-align: right;">
                                                	<div  class="col-md-9">
                                                	  {{if compare $items.status 1}}
                                                		{{ $items.quantity}}
                                                	  {{else}}
                                                	  {{ $items.quantity}}"
                                                	  {{end}}
                                                	</div>
                                                </td>
												<td style=" text-align: left;">
                                                	<div class="col-md-3">{{ $items.unit_measure }}</div>
                                                </td>
                                                <td style=" text-align: right;">
                                                  {{if compare $items.status 1}}
                                                	{{ $items.wastage}}
                                                  {{else}}
                                                  	{{ $items.wastage}}
                                                  {{end}}
                                                </td>
                                                <td style=" text-align: left;">
                                                	<div class="col-md-3">{{ $items.non_consumable }}</div>
                                                </td>
                                                
                                            </tr>
                                            {{end}}
                                           
                                        </tbody>
                                    </table>
                                    </div>
												{{end}}
										</div>
											<!--&nbsp;
										{{if .flash.error}}
										<h3>{{.flash.error}}</h3>
										&nbsp;
										{{end}}
										{{if .flash.notice}}
										<h3>{{.flash.notice}}</h3>
										&nbsp;
										{{end}}-->
										</div>		
									</form>
									<!-- END FORM-->
								</div>
							</div>
                        </div>
					</div>
                    <!-- END PAGE BASE CONTENT -->
                </div>
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->
            {{end}}
            
        {{define "pagelevelplugins"}}
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <script src="/static/assets/global/scripts/datatable.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
		<!--<script src="https://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>-->
        <script src="/static/assets/global/plugins/fuelux/js/spinner.min.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.js" type="text/javascript"></script>
		<script src="/static/assets/global/plugins/bootstrap-select/js/bootstrap-select.min.js" type="text/javascript"></script>
		<script src="/static/assets/global/plugins/bootstrap-multiselect/js/bootstrap-multiselect.js" type="text/javascript"></script>
		 <script src="/static/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
		 <script src="/static/assets/global/plugins/typeahead/handlebars.min.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/typeahead/typeahead.bundle.min.js" type="text/javascript"></script>
        <!-- END PAGE LEVEL PLUGINS -->
        {{end}}
        
        {{define "pagelevelscripts"}}
        <!-- BEGIN PAGE LEVEL SCRIPTS -->
        <script src="/static/assets/pages/scripts/components-select2.min.js" type="text/javascript"></script>
        <script src="/static/assets/pages/scripts/components-bootstrap-select.min.js" type="text/javascript"></script>
        <script src="/static/assets/pages/scripts/components-bootstrap-touchspin.js" type="text/javascript"></script>
		<script src="/static/assets/pages/scripts/table-datatables-managed.js" type="text/javascript"></script>
        <script src="/static/assets/pages/scripts/components-bootstrap-multiselect.min.js" type="text/javascript"></script>
		<script src="/static/assets/global/plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.js"></script>
		<script src="/static/assets/js/items-autocomplete.js"></script>
		<script src="/static/assets/global/plugins/jquery-ui/jquery-ui.min.js" /></script>
		{{if .FlashNotices}}
        <script type="text/javascript">
                $(function() {                  
                    $.bootstrapGrowl("{{.FlashNotices}}", {offset: {from: 'top', amount: 20}, delay: 5000, type: 'success',align: 'center', stackup_spacing: 30,width: 400 });});
        </script>
        {{end}}
		<script type="text/javascript">
            $(document).ready(function(){
                if($('.coupon_question').is(":checked"))   
                    $(".answer").show();
                else{
                    $(".answer").hide()
					document.getElementById("pStatusDropDown").disabled=true;
				}
            });
        </script>
		<script type="text/javascript">
            function valueChanged() {
                if($('.coupon_question').is(":checked"))   
                    $(".answer").show();
                else
                    $(".answer").hide()
            }
        </script>
		<script type="text/javascript">
            function beforeSubmit() {
                if($('.coupon_question').is(":checked")) {
                    var e = document.getElementById("pStatusDropDown");
                    var selectedValue = e.options[e.selectedIndex].value;
                    if (selectedValue == '') {
                        alert("Please select a Production Status");
                        return false;
                    }
                }  
                return true;
            }
        </script>
		<script type="text/javascript">
	        $(function() {
	        $(document).on('click','.delbutton',function(e){
	        	e.preventDefault()
	        var element = $(this);
	        var del_id = element.attr("id");
	        var info = 'id=' + del_id;
	        if(confirm("Are you sure you want to delete this Record?")){
	            $.ajax({
	                type: "GET",
	                url: "/stock/delete-items",
	                data: info,
	                success: function(msg){ 
		                if (msg == "true") {
		                	if(alert('Item Deleted!')){}
							else    window.location.reload();
		                }
		                else {
		                	console("Error")
		                }
	            	} 
	            });
	        }
	        return false;
	        });
	        });
	    </script>
		

        <!--<script src="../static/assets/pages/scripts/ui-modals.js" type="text/javascript"></script>
        <script src="../static/assets/pages/scripts/ui-modals.min.js" type="text/javascript"></script>-->
        
        <!-- END PAGE LEVEL SCRIPTS -->
        {{end}}