{{ template "master_layout.html" . }}

{{ define "pagelevelstyles"}}
        <!-- BEGIN PAGE LEVEL STYLES -->
        <link href="/static/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/bootstrap-multiselect/css/bootstrap-multiselect.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
        <style>
            .big-col {
                width: 300px !important;
                }

            .mid-col {
                width: 200px !important;
                }

            .small-col {
            width: 150px !important;
            }

            table#supplier_view_table{
            table-layout:fixed;
            }
        </style> 
        <!-- END PAGE LEVEL STYLES
{{end}}

{{ define "content" }}    
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                    <!-- BEGIN PAGE BASE CONTENT -->
                     <div class="row">
                        <div class="col-md-12">
                             <!-- BEGIN EXAMPLE TABLE PORTLET-->   
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="icon-equalizer font-green"></i>
                                        <span class="caption-subject bold font-green uppercase">Packaging</span>
                                    </div>
                                    <div class="actions">
                                        <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" style="width:20px; height:20px; line-height: 0.999; padding-left:4px; "> </a>
                                    </div>
                                </div>
                               
                                <div class="portlet-body form" style="display:block" >
                                    <!-- BEGIN FORM-->
                                    <form method="POST"  class="form-horizontal">
                                        {{ .xsrfdata }}
                                        <div class="form-body">
                                            <!-- <div class="caption font-dark">
                                                <i class="icon-settings font-dark"></i>
                                                <span class="caption-subject bold uppercase">Choose the item/Product</span><hr/>
                                            </div> -->
                                            <div class="row" style="padding-left: 14px;" >
                                                <div class="col-md-5"> 
                                                    <div class="form-group">
                                                        <select name="item_name_check" onchange="this.form.submit()" id="itemSelectDropdown" class="form-control select2-multiple " data-placeholder="Choose an Item/Product">
                                                            <option disabled selected value> -- Choose an Item/Product -- </option>
                                                            {{ range $items := .ItemsRetrieved }}
                                                            <option value="{{ $items._id }}" {{if compare $.FormItems.ItemNameCheck $items._id }} selected {{end}}>({{ $items.item_code_gen }}) {{ $items.invoice_narration }} ({{$items.unit_measure }})</option>
                                                            {{end}}
                                                        </select>
                                                        {{if .Errors.ItemNameCheck}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.ItemNameCheck}}</span>{{end}}
                                                    </div>    
                                                </div>
                                                <!-- <div class="col-md-1">
                                                </div>
                                                <div class="col-md-5">
                                                    <div class="form-group" >
                                                        <button  value="show" type="submit" method="POST" name="item-button" class="btn btn-circle green btn-outline" style="height: 33px;"> SHOW DETAILS</button>
                                                     </div>
                                                </div> -->
                                            </div> 
                                           
                                            <!-- <div class="row">                  
                                                    <div class="col-md-2">
                                                        <strong><label class="control-label" ><strong>Item Name:</strong> </label></strong>
                                                    </div>
													<div class="col-md-8">
                                                        <input type="hidden" name="item_code" id="ItemSelected" value="{{.FormItems.ItemID}}" />
                                                        <label class="control-label" name="item_name">{{ if .FormItems}}[{{.FormItems.ItemID}}] {{.FormItems.ItemName}}{{end}} </label>
													</div>	  
                                            </div> -->
                                            <!-- <div class="row">
                                                <div class="col-md-2">							
                                                    <label class="control-label"><strong>Unit of Measure:</strong></label>
                                                </div>
                                                <div class="col-md-8">
                                                    <label class="control-label" name="uom">{{.FormItems.UOM}}</label> -->
                                                    <!-- <input name="uom" type="text" id="unit_measure" class="form-control" value="{{.FormItems.UOM}}" readonly/>			 -->
                                                <!-- </div>
                                            </div> -->
                                             <!-- <hr/> -->
                                        </div> 
                                        <table class="table table-bordered" style="width:70%;">
                                            <tr>
                                                <th style="width:30%;">Item Name:</th>
                                                <td>{{ if .FormItems}}[{{.FormItems.ItemID}}] {{.FormItems.ItemName}}{{end}}</td>
                                            </tr>
                                            <tr>
                                                <th>Unit of Measure:</th>
                                                <td>{{.FormItems.UOM}}</td>
                                            </tr>
                                        </table>

                                        <div  class="form-body">
                                            <div class="caption font-dark">
                                                <i class="icon-settings font-dark"></i>
                                                <span class="caption-subject bold uppercase">Add the sub units/packet size</span>
                                            </div>                                          

                                            <!-- <div class="row">
                                                <div class="col-md-2">
                                                    <strong>Sub Unit/Packet size</strong>
                                                </div>
                                                <div class="col-md-3"></div>
                                                <div class="col-md-4">
                                                    <strong>Rate</strong>
                                                </div>   
                                            </div> 
                                            <br/>-->
                                            <div style=" border:1px solid lightgrey;">

                                            {{ if  .ItemPackages}}
                                                {{ range $Packages := .ItemPackages }}
                                                <div class="row" style="padding: 8px;">
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <div class="col-md-5">                                                           
                                                                <input name="packet_size" type="text" class="form-control"  value="{{$Packages.packet_size}}">  
                                                            </div>
                                                            <div class="col-md-2">
                                                                <label class="control-label">{{$Packages.unit_measure}}</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-1"></div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <div class="col-md-5">
                                                                <input name="price" type="text" class="form-control" value="{{$Packages.price}}"/> 
                                                            </div>
                                                            <div class="col-md-2">
                                                                <!-- <a href="#" id="{{ $Packages.pk_id}}" class="delbutton"><i class="fa fa-trash-o fa-2x" style="vertical-align: bottom;"></i> </a>  -->
                                                                <a href="#" id="{{ $Packages.pk_id}}"  class="btn btn-danger delbutton"><i class="fa fa-close"></i></a>         
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>  
                                                {{end}}
                                            {{end}}

                                            <div class="mt-repeater form-horizontal " id="repeat">
                                                <div data-repeater-list="PackagingGrp"  >     
                                                    <div data-repeater-item class="mt-repeater-item" style="padding:10px;" >
                                                        <div class="row">
                                                            <div class="col-md-5">
                                                                <label class="control-label"><b>Sub Unit/Packet size</b></label>
                                                                <div class="form-group">
                                                                    <div class="col-md-10">
                                                                        <input name="packet_size" id="sPkgSize" type="text" class="form-control" placeholder="">   
                                                                    </div>
                                                                    <div class="col-md-2">
                                                                        <label class="control-label">{{.FormItems.UOM}}</label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-1"></div>
                                                            <div class="col-md-6">
                                                                <label class="control-label"><b>Rate</b></label>
                                                                <div class="form-group">
                                                                    <div class="col-md-8">
                                                                        <input name="price" id="sPkgPrice" type="text" class="form-control"/> 
                                                                    </div>
                                                                    <div class="col-md-2">
                                                                        <a href="javascript:;" data-repeater-delete class="btn btn-danger">
                                                                            <i class="fa fa-close"></i>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- <hr> -->
                                                        <!--/row-->
                                                    </div>
                                                </div>
                                                <div style="padding-left: 10px;"  >
                                                    <hr style="margin-top:0px; margin-right:10px;">
                                                    <a href="javascript:;" data-repeater-create class="btn btn-success mt-repeater-add">
                                                    <i class="fa fa-plus"></i>Add more</a>
                                                </div>
                                                <div class="form-actions">
                                                    <div class="row" style="text-align:center;">
                                                        <!-- <div class="col-md-6" style="text-align: right;"> -->
                                                            <button name="ItemPackage-button" value="InsertItemPackages"  type="submit" class="btn green" onclick="return beforeSave();" style="height: 40px;width: 80px">Save</button>
                                                        <!-- </div> -->
                                                    </div>
                                                </div> 
                                            </div>
                                        </div>
                                    </form>
                                    <!-- END FORM-->
                                    <!-- <hr/> -->
                                    <br>
                                    <div class="caption font-dark" style="margin-top:15px;">
                                        <i class="icon-settings font-dark"></i>
                                        <span class="caption-subject bold uppercase">Old Archieved/Deleted Entries</span>
                                    </div>
                                    <hr style="margin-top:0px">
                                    <table class="table table-bordered table-hover table-checkable order-column" id="supplier_view_table">
                                        <thead>
                                            <tr>
                                                <th class="big-col" style="text-align: left; padding-left: 5px;"> Sub unit/Packet size </th>
                                                <th style="text-align: center"> Code </th>
                                                <th class="mid-col" style="text-align: left"> Rate </th>
                                                <th class="small-col" style="text-align: left"> Archieved on </th>  
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {{ if .Retrieved}}
                                        {{ range $ArchivedPackages := .Retrieved }}
                                            <tr class="odd gradeX">                              
                                                <td style="text-align: left; padding-left: 5px;">  {{ $ArchivedPackages.packet_size }} </td>
                                                <td style="text-align: center"> {{ $ArchivedPackages.item_org_assoc_fkid }} </td>
                                                <td style="text-align: left; padding-left: 5px;">  {{ $ArchivedPackages.price }} </td>
                                                <td style="text-align: center"> {{ $ArchivedPackages.date_removed }} </td>
                                            </tr>
                                        {{end}}
                                        {{end}}
                                        </tbody>
                                    </table> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END PAGE BASE CONTENT -->
                </div>
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->
       
        {{end}}

        {{ define "pagelevelplugins" }} 
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <script src="/static/assets/global/scripts/datatable.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/jquery-repeater/jquery.repeater.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/jQuery.print-master/jQuery.print.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/bootstrap-select/js/bootstrap-select.min.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/bootstrap-multiselect/js/bootstrap-multiselect.js" type="text/javascript"></script>
        <!-- END PAGE LEVEL PLUGINS -->       
        {{ end }}

        {{define "pagelevelscripts"}} 
        <!-- BEGIN PAGE LEVEL SCRIPTS -->
        <script src="/static/assets/pages/scripts/components-select2.min.js" type="text/javascript"></script>
        <script src="/static/assets/pages/scripts/table-datatables-managed.js" type="text/javascript"></script>
        <!--<script src="/static/assets/pages/scripts/form-repeater.min.js" type="text/javascript"></script>-->
        {{if .FlashNotices}}
        <script type="text/javascript">
                $(function() {                  
                    $.bootstrapGrowl("{{.FlashNotices}}", {offset: {from: 'top', amount: 20}, delay: 5000, type: 'success',align: 'center', stackup_spacing: 30,width: 400 });});
        </script>
        {{end}}
        {{if .Errors.ContactPerson}}
        <script>
            $(window).on("load", function() { 
                    document.getElementsByName("contactgrp[0][name_error]")[0].innerHTML = "This field is required";
            });
        </script>
        {{end}}
        {{if .Errors.Designation}}
        <script>
            $(window).on("load", function() { 
                    document.getElementsByName("contactgrp[0][designation_error]")[0].innerHTML = "This field is required";
            });
        </script>
        {{end}}
        <script>
        $(document).ready(function(){
            $("#hide").click(function(){
                $("#optional").hide();

                $("#repeat").show();
                $("#repeat").slideDown(200);
            });
        });
        </script>
        <script>
            $(document).ready(function () {
                $('.mt-repeater').repeater({
                    show: function () {
                        $(this).slideDown();
                        $('.date-picker').datepicker({
                            rtl: App.isRTL(),
                            orientation: "left",
                            autoclose: true
                        });
                    },
                    
                    hide: function (deleteElement) {
                        if(confirm('Are you sure you want to delete this entry?')) {
                            $(this).slideUp(deleteElement);
                            $(document).ready(function () {
                                itemRemove();
                            });
                        }
                    },
                    
                   
                });
                $('.cp-repeater').repeater({
                    hide: function (deleteElement) {
                        if(confirm('Are you sure you want to delete this entry?')) {
                            $(this).slideUp(deleteElement);
                            $(document).ready(function () {
                                itemRemove();
                            });
                        }
                    },

                    isFirstItemUndeletable: true
                });
            });
        </script>
        <script type="text/javascript">
            $(function() {
            $(document).on('click','.delbutton',function(e){
                e.preventDefault()
            var element = $(this);
            var del_id = element.attr("id");
            var info = 'id=' + del_id;
            if(confirm("Are you sure you want to delete this Record?")){
                $.ajax({
                    type: "GET",
                    url: "/stock/delete-Package",
                    data: info,
                    success: function(msg){ 
                        if (msg == "true") {
                            if(alert('Package is Deleted!')){}
                            else  window.location.reload(true);
                        }
                        else {
                            console("Error")
                        }
                    } 
                });
            }
            return false;
            });
            });
        </script>
        <script type="text/javascript">
            function getSupplierCPandWarehouses(element) {
                
                var supplier_id = element.id;
                var res = supplier_id.split("_");
                //var new_res = res[1];
                var info = 'supplierId=' + res[1];

                $.ajax({
                    type: "GET",
                    url: "/suppliers/get-contactpersons",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    cache: false,
                    data: info,
                    success: function(data){ 
                        if (data.cpname == null) {
                            var demo = 'Nocptable_' + res[1]
                            document.getElementById(demo).innerHTML = "Contact person's details not added!";
                        } else {
                            var thead = '<table class="table table-bordered " width="80%"><thead><tr><th>Name</th><th style="width:20%;">Designation</th><th style="width:20%;">Phone</th><th style="width:10%;">Email</th><th style="width:20%;">Cell No</th></td></tr></thead><tbody>';
                            //var tbody = '<tbody>'
                            var tfooter = '</tbody></table>';
                            //var tfooter = '</tbody>';
                            var trHTML = ''
                            $.each(data.cpname, function (i, item) {
                        
                                trHTML += '<tr><td style="padding-left:5px">' + item + '</td><td style="padding-left:10px">' + data.designation[i] +'</td><td style="padding-left:20px">' + data.phone[i] +'</td><td style="padding-left:20px">' + data.email[i] + '</td><td style="padding-left:20px">' + data.mobile[i] + '</td></tr>';
                            });
                            var demo = 'cptable_' + res[1]
                            document.getElementById(demo).innerHTML = thead + trHTML + tfooter;
                        }
                    } 
                });
                
                $.ajax({
                    type: "GET",
                    url: "/suppliers/get-warehouses",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    cache: false,
                    data: info,
                    success: function(data){ 
                        if (data.address == null ) {
                            var demo = 'Notable_' + res[1]
                            document.getElementById(demo).innerHTML = "Delivery Address details not added!";
                        } else {
                            var thead = '<table class="table table-bordered table-hover dt-responsive dataTable table-checkable order-column" width="80%"><thead><tr><th>Address</th><th style="width:20%;">City</th><th style="width:20%;">State</th><th style="width:10%;">Country</th><th style="width:20%;">Pincode</th><th style="width:10%;">GSTIN</th></td></tr></thead><tbody>';
                            //var tbody = '<tbody>'
                            var tfooter = '</tbody></table>';
                            //var tfooter = '</tbody>';
                            var trHTML = ''
                            $.each(data.address, function (i, item) {
                        
                                trHTML += '<tr><td style="padding-left:20px">' + item + '</td><td style="padding-left:10px">' + data.city[i] +'</td><td style="padding-left:20px">' + data.state[i] +'</td><td style="padding-left:20px">' + data.country[i] + '</td><td style="padding-left:20px">' + data.pincode[i] + '</td><td style="padding-left:20px">' + data.gstin[i] + '</td></tr>';
                            });
                            var demo = 'tbody_' + res[1]
                            document.getElementById(demo).innerHTML = thead + trHTML + tfooter;
                        }
                    } 
                });
            }
        </script>
        <script type="text/javascript">
            function beforeSave() {
                var e = document.getElementById("ItemSelected");
                if (e.value == '') {
                    alert("Please select an Item from the dropdown");
                    return false;
                }
                var pkS = document.getElementById("sPkgSize");
                var pkP = document.getElementById("sPkgPrice");
                if (pkS.value == '' && pkP.value == '' ) {
                    alert("Please enter atleast one new sub-package");
                    return false;
                }
                return true;
            }
        </script>

<script type="text/javascript">  
    function addRow(tableID) {
    //    console.log("hello");
    //   var tableRef = document.getElementById(tableID);
    //   var rowCount = tableRef.rows.length;
    //   var row = tableRef.insertRow(rowCount);
    //   var cell1 = row.insertCell(1);
    //   var element1 = document.createElement("input");
    //   element.type = "text";
    //   element1.name = "txtbox[]";
    //   cell1.appendChild(element1);

      var sPkgSize = document.getElementById("sPkgSize").value;
      var sUOM = document.getElementById("sUOM").value;
      var sPkgPrice = document.getElementById("sPkgPrice").value;
	
    var table = document.getElementById("tableID");
    var table_len=(table.rows.length)-1;
    var row = table.insertRow(table_len).outerHTML="<tr id='row"+table_len+"'><td id='sPkgSize"+table_len+"'>"+sPkgSize+"</td><td id='sUOM"+table_len+"'>"+sUOM+"</td><td id='sPkgPrice"+table_len+"'>"+sPkgPrice+"</td></tr>";

 document.getElementById("sPkgSize").value="";
 document.getElementById("sUOM").value="";
 document.getElementById("sPkgPrice").value="";
    }   
</script>
        
        <!-- END PAGE LEVEL SCRIPTS -->
        {{end}}