{{ template "master_layout.html" . }}

{{ define "pagelevelstyles"}}
        <!-- BEGIN PAGE LEVEL STYLES -->
        <link href="/static/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
		<link href="/static/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.css" rel="stylesheet" type="text/css" />
		<link href="/static/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
		<link href="/static/assets/global/plugins/typeahead/typeahead.css" rel="stylesheet" type="text/css" />
		<link href="/static/assets/global/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" type="text/css" />
		 
		<link href="/static/assets/global/plugins/ion.rangeslider/css/ion.rangeSlider.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/ion.rangeslider/css/ion.rangeSlider.skinFlat.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/bootstrap-markdown/css/bootstrap-markdown.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/bootstrap-summernote/summernote.css" rel="stylesheet" type="text/css" />
         <link href="/static/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.css" rel="stylesheet" type="text/css" />
 <link href="/static/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
 <link href="/static/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/global/plugins/typeahead/typeahead.css" rel="stylesheet" type="text/css" />
        
        <!-- END PAGE LEVEL STYLES -->
{{end}}

{{ define "content" }}    
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                    <!-- BEGIN PAGE BASE CONTENT -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="icon-equalizer font-green"></i>
                                        <span class="caption-subject bold font-green uppercase">View GRN</span>
                                    </div>
                                    <div class="actions">
                                        <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" style="width:20px; height:20px; line-height: 0.999; padding-left:4px; "> </a>
                                    </div>
                                </div>
                                <div class="portlet-body form">
									<div class="form-body">
										<form method="get" class="horizontal-form">
										{{ .xsrfdata }}
											<div class="row">
												<div class="col-md-6">
													<div class="form-group">
														<label class="control-label col-md-4">Item Name</label>
														<div class="col-md-8">
															<select name="itemId" class="form-control select2" data-placeholder="Choose an Item">
																<option disabled selected value> -- Choose an item -- </option>
																{{ range $items := .ItemsRetrieved }}
																<option value="{{ $items._id }}" {{if compare $.FormItems.ItemName $items._id }} selected {{end}}>[{{ $items.item_code_gen }}] {{ $items.invoice_narration }} (UOM: {{ $items.unit_measure}})</option>
																{{end}}
															</select>
														</div>
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-group">
														<label class="control-label col-md-4">Factory Location</label>
														<div class="col-md-8">
															<select name="factoryId" class="form-control select2" data-placeholder="Choose a Factory">
																<option disabled selected value> -- Choose a location -- </option>
																{{ range $factories := .RetrievedFactories }}
																<option value="{{ $factories._id }}" {{if compare $.FormItems.Factory $factories._id }} selected {{end}}>{{ $factories.factory_location }}</option>
																{{end}}
															</select>
														</div>
													</div>
												</div>
											</div>
											<br>
											<div class="row">
												<div class="col-md-6">
													<div class="form-group">
														<label class="control-label col-md-4">From Date </label>
														<div class="col-md-8">
															<div class="input-group input-medium date external-date-picker" data-date-format="yyyy-mm-dd" >
																<input name="fromDate" type="text" class="form-control" value="{{.FormItems.FromDate}}">
																<span class="input-group-btn">
																	<button class="btn default" type="button">
																		<i class="fa fa-calendar"></i>
																	</button>
																</span>
															</div>
														</div>
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-group">
														<label class="control-label col-md-4">To Date </label>
														<div class="col-md-8">
															<div class="input-group input-medium date external-date-picker" data-date-format="yyyy-mm-dd" >
																<input name="toDate" type="text" class="form-control" value="{{.FormItems.ToDate}}">
																<span class="input-group-btn">
																	<button class="btn default" type="button">
																		<i class="fa fa-calendar"></i>
																	</button>
																</span>
															</div>
														</div>
													</div>
												</div>
											</div>
												<!-- <div class="col-md-4">
													<div class="form-group"> -->
														<!-- <input type="text" name="item_name" class="form-control" value="{{.Retrieved.items_0.invoice_narration}}" placeholder="Item Name"/>
														 {{if .Errors.ItemName}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.ItemName}}</span>{{end}} -->
														<!-- <select name="itemId" onchange="this.form.submit()" class="form-control select2-multiple " data-placeholder="Choose an Item">
															<option disabled selected value> -- Choose an item -- </option>
													 		{{ range $items := .ItemsRetrieved }}
															<option value="{{ $items._id }}" {{if compare $.FormItems.ItemName $items._id }} selected {{end}}>[{{ $items.item_code_gen }}] {{ $items.invoice_narration }} (UOM: {{ $items.unit_measure}})</option>
															{{end}}
														</select> -->
														<!-- <input type="text" name="item_name" class="form-control" value="{{.FormItems.ItemName}}" />  -->
														<!-- {{if .Errors.ItemName}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.ItemName}}</span>{{end}}
													</div>
												</div> -->
												<!--/span-->
												<!--<div class="col-md-4">
													<div class="form-group">
														<input type="text" name="item_code" class="form-control" value="{{.Retrieved.items_0.item_unique_code}}" placeholder="Item Code"/>
														 {{if .Errors.ItemCode}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.ItemCode}}</span>{{end}}
													</div>
												</div>-->
												<!--/span-->
												<!-- <div class="form-group" > -->
                                                <!--     <label class="control-label">&nbsp;</label><br> -->
                                                	<!-- <span style="margin-top:10px;"></span> -->
                                                    <!-- <button  type="submit" method="POST" name="assoc-button" value="items" class="btn btn-circle green btn-outline" style="height: 33px; width: 100px;"> Show</button>
                                                </div> -->
											

											<!--/row-->
											<div class="form-actions">
												<div class="row">
													<div class="col-md-12" style="text-align: center;">
														<button type="submit" class="btn green" style="height: 40px;">Search</button>
														<button onclick="location.href='/stock/view-grn'" type="reset" class="btn default" style="height: 40px;width: 80px">Reset</button>
													</div>
												</div>
											</div>
										</form>
									<!-- END FORM-->
									</div>
									<table class="table table-bordered table-hover table-checkable order-column" id="grn_list_table" >
										<thead>
											<tr>
												<th style="width:20%; text-align: left; padding-left: 5px;">Item Name [Code]</th>
												<th style="width:250px; text-align: left; padding-left: 5px;">GRN</th>
												<th style="width:250px; text-align: left;">Batch No</th>
												<th style="width:250px; text-align: left;">PO</th>
												<th style=" text-align: left;">Quantity</th>
												<th style=" text-align: left;">Delivered Date</th>
												<th style=" text-align: left;">Delivery Location</th>
												<!-- <th style=" text-align: left;">Received By</th> -->
											</tr>
										</thead>
										<tbody>
											{{ range $items := .RetrievedGRN }}
											<tr>
												<td style=" text-align: left; padding-left: 5px;">{{ $items.invoice_narration }} [{{$items.item_code_gen}}]</td>
												<td style=" text-align: right; padding-right: 5px;">{{ $items.grn_no_gen }}</td>
												<td style=" text-align: right;">{{ $items.batch_no }}</td>
												<td style=" text-align: right;">
													{{if compare $items.purchase_service_order_fkid nil}}
													<a href="/stock/adjustment?itemId={{ $items.item_org_assoc_fkid }}&factoryId={{$.FormItems.Factory}}">Adjusted</a>
													{{else}}
													<a href="/purchase/view-details?purchaseId={{ $items.purchase_service_order_fkid }}">{{ $items.purchase_order_code_gen }}</a>
													{{end}}
												</td>
												<td style=" text-align: right;">{{ $items.received_sent_quantity }}</td>
												<td style=" text-align: left;">{{ $items.d_date }}</td>
												<td style=" text-align: left;">{{ $items.factory_location }}</td>
												<!-- <td style=" text-align: left;">{{ $items.received_sent_by }}</td> -->
											</tr>
											{{end}}
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
                <!-- END CONTENT BODY -->
            </div>
            </div>
            <!-- END CONTENT -->
       
        {{end}}

        {{ define "pagelevelplugins" }}
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <script src="/static/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/fuelux/js/spinner.min.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.js" type="text/javascript"></script>
		<script src="/static/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
		<script src="/static/assets/global/scripts/datatable.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.js" type="text/javascript"></script>
 <script src="/static/assets/global/plugins/typeahead/typeahead.bundle.min.js" type="text/javascript"></script>
        <!-- END PAGE LEVEL PLUGINS -->  
        {{ end }}

        {{define "pagelevelscripts"}} 
        <!-- BEGIN PAGE LEVEL SCRIPTS -->
        <script src="/static/assets/pages/scripts/components-select2.min.js" type="text/javascript"></script>
		<script src="/static/assets/pages/scripts/components-bootstrap-select.min.js" type="text/javascript"></script>
        <script src="/static/assets/pages/scripts/components-bootstrap-touchspin.js" type="text/javascript"></script>
		<script src="/static/assets/pages/scripts/components-date-time-pickers.js" type="text/javascript"></script>
		<script src="/static/assets/global/plugins/ion.rangeslider/js/ion.rangeSlider.min.js" type="text/javascript"></script>
		<script src="/static/assets/pages/scripts/table-datatables-managed.js" type="text/javascript"></script>
	 <script src="/static/assets/pages/scripts/components-bootstrap-touchspin.js" type="text/javascript"></script>
		<script type="text/javascript">
			var ComponentsTypeahead = function () {

			var handleTwitterTypeahead = function() {

				// Example #1
				// instantiate the bloodhound suggestion engine
				var numbers = new Bloodhound({
				  datumTokenizer: function(d) { return Bloodhound.tokenizers.whitespace(d.num); },
				  queryTokenizer: Bloodhound.tokenizers.whitespace,
				  local: [
					{ num: 'metronic' },
					{ num: 'keenthemes' },
					{ num: 'metronic theme' },
					{ num: 'metronic template' },
					{ num: 'keenthemes team' }
				  ]
				});
				 
				// initialize the bloodhound suggestion engine
				numbers.initialize();
				 
				// instantiate the typeahead UI
				if (App.isRTL()) {
				  $('#typeahead_example_1').attr("dir", "rtl");  
				}
				$('#typeahead_example_1').typeahead(null, {
				  displayKey: 'num',
				  hint: (App.isRTL() ? false : true),
				  source: numbers.ttAdapter()
				});

			}
			var handleTwitterTypeahead2 = function() {

				// Example #1
				// instantiate the bloodhound suggestion engine
				var numbers = new Bloodhound({
				  datumTokenizer: function(d) { return Bloodhound.tokenizers.whitespace(d.num); },
				  queryTokenizer: Bloodhound.tokenizers.whitespace,
				  local: [
					{ num: 'metronic' },
					{ num: 'keenthemes' },
					{ num: 'metronic theme' },
					{ num: 'metronic template' },
					{ num: 'keenthemes team' }
				  ]
				});
				 
				// initialize the bloodhound suggestion engine
				numbers.initialize();
				 
				// instantiate the typeahead UI
				if (App.isRTL()) {
				  $('#typeahead_example_2').attr("dir", "rtl");  
				}
				$('#typeahead_example_2').typeahead(null, {
				  displayKey: 'num',
				  hint: (App.isRTL() ? false : true),
				  source: numbers.ttAdapter()
				});

			}
			
			return {
				//main function to initiate the module
				init: function () {
					handleTwitterTypeahead();
					handleTwitterTypeahead2();
				}
			};

		}();

		jQuery(document).ready(function() {    
		   ComponentsTypeahead.init(); 
		});
		</script>
		
		<script type="text/javascript">
			var ComponentsIonSliders = function() {

				var handleAdvancedDemo = function() {
					$("#range_10").ionRangeSlider({
						type: "double",
						min: 0,
						max: 100,
						from: 30,
						to: 70,
						from_fixed: true
					});
				}

				return {
					//main function to initiate the module
					init: function() {
						handleAdvancedDemo();
					}

				};

			}();

			jQuery(document).ready(function() {
				ComponentsIonSliders.init();
			});

		</script>
        <!-- END PAGE LEVEL SCRIPTS -->
        {{end}}