{{ template "master_layout.html" . }} 

{{ define "pagelevelstyles"}}
<!-- BEGIN PAGE LEVEL STYLES -->
<link href="/static/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css"
/>
<link href="/static/assets/global/plugins/typeahead/typeahead.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/global/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" type="text/css"
/>

<link href="/static/assets/global/plugins/ion.rangeslider/css/ion.rangeSlider.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/global/plugins/ion.rangeslider/css/ion.rangeSlider.skinFlat.css" rel="stylesheet" type="text/css"
/>
<link href="/static/assets/global/plugins/bootstrap-markdown/css/bootstrap-markdown.min.css" rel="stylesheet" type="text/css"
/>
<link href="/static/assets/global/plugins/bootstrap-summernote/summernote.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css"
/>
<link href="/static/assets/global/plugins/typeahead/typeahead.css" rel="stylesheet" type="text/css" />

<!-- END PAGE LEVEL STYLES -->
{{end}} 
{{ define "content" }}
<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
	<!-- BEGIN CONTENT BODY -->
	<div class="page-content">
		<!-- BEGIN PAGE BASE CONTENT -->
		<div class="row">
			<div class="col-md-12">
				<div class="portlet light bordered">
					<div class="portlet-title">
						<div class="caption">
							<i class="icon-equalizer font-green"></i>
							<span class="caption-subject bold font-green uppercase"> View Inventory Usage</span>
						</div>
						<div class="actions">
							<a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" style="width:20px; height:20px; line-height: 0.999; padding-left:4px; "> </a>
						</div>
					</div>
					<div class="portlet-body form">
						<!-- BEGIN FORM-->
						<form method="get" class="horizontal-form">
							{{ .xsrfdata }}
							<div class="form-body">
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<label class="control-label col-md-4">Item Name</label>
												<div class="col-md-8">
													<select name="itemId" class="form-control select2" data-placeholder="Choose an Item">
														<option disabled selected value> -- Choose an item -- </option>
														{{ range $items := .ItemsRetrieved }}
														<option value="{{ $items._id }}" {{if compare $.FormItems.ItemName $items._id }} selected {{end}}>[{{ $items.item_code_gen }}] {{ $items.invoice_narration }} (UOM: {{ $items.unit_measure}})</option>
														{{end}}
													</select>
												</div>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label class="control-label col-md-4">Factory Location</label>
												<div class="col-md-8">
													<select name="factoryId" class="form-control select2" data-placeholder="Choose a Factory">
														<option disabled selected value> -- Choose a location -- </option>
														{{ range $factories := .RetrievedFactories }}
														<option value="{{ $factories._id }}" {{if compare $.FormItems.Factory $factories._id }} selected {{end}}>{{ $factories.factory_location }}</option>
														{{end}}
													</select>
												</div>
											</div>
										</div>
									</div>
									<br>
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<label class="control-label col-md-4">From Date </label>
												<div class="col-md-8">
													<div class="input-group input-medium date external-date-picker" data-date-format="yyyy-mm-dd" >
														<input name="fromTime" type="text" class="form-control" value="{{.FormItems.From}}">
														<span class="input-group-btn">
															<button class="btn default" type="button">
																<i class="fa fa-calendar"></i>
															</button>
														</span>
													</div>
												</div>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label class="control-label col-md-4">To Date </label>
												<div class="col-md-8">
													<div class="input-group input-medium date external-date-picker" data-date-format="yyyy-mm-dd" >
														<input name="toTime" type="text" class="form-control" value="{{.FormItems.To}}">
														<span class="input-group-btn">
															<button class="btn default" type="button">
																<i class="fa fa-calendar"></i>
															</button>
														</span>
													</div>
												</div>
											</div>
										</div>
									</div>
								
							</div>
							<div class="row">
								<div class="col-md-4">
									<div class="form-group">
										<button type="submit" name="assoc-button" value="items" class="btn btn-circle green btn-outline" style="height: 33px; width: 100px;"> Search</button>
									</div>
								</div>
							</div>


							<!--/row-->

						</form>
						<!-- END FORM-->
					</div>
					<table class="table table-bordered table-hover table-checkable order-column" id="stock_usage_table">
						<thead>
							<tr>
								<th style="text-align: left; padding-left: 5px;">Material Name</th>
								<th style=" text-align: left;">Quantity</th>
								<th style=" text-align: left; width:58px;">[ID] Consumed By</th>
								<th style=" text-align: left;">Consumed On</th>
								<th style=" text-align: left;">GRN</th>
								<th style=" text-align: left;">Batch No</th>
								<th style=" text-align: left;">Added On</th>
								
								<th style="width:90px; text-align: left;">Rate</th>
								<th style="width:80px; text-align: left;">Factory</th>
								
							</tr>
						</thead>
						<tbody>
							{{ range $items := .RetrievedInventory }}
							<tr>
								<td style=" text-align: left; padding-left: 5px;">[{{ $items._id }}] {{ $items.invoice_narration }}</td>
								<td style=" text-align: left;">{{ $items.consumed_qty }}</td>	
								<td style=" text-align: left;">
									{{if compare $items.consumed_by "Production"}}
									<a href="/production/po-details?poId={{ $items.spPkId }}">[{{ $items.consumed_for }}]</a>
									{{else if compare $items.consumed_by "Sales Order"}}
									<a href="/sales/so-details?soId={{ $items.spPkId }}">[{{ $items.consumed_for }}]</a>
									{{end}}
									{{ $items.consumed_by }}
								</td>	
								<td style=" text-align: right;">{{ $items.last_updated }}</td>							
								<td style=" text-align: left;">{{$items.grn_no}}</td>	
								<td style=" text-align: center;">{{$items.batch_no}}</td>							
								<td style=" text-align: right;">{{ $items.start_date }}</td>
								
								<td style=" text-align: left;">{{ $items.rate }}</td>
								<td style=" text-align: left;">{{ $items.location }}</td>
								
							</tr>
							{{end}}
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<!-- END PAGE BASE CONTENT -->
	</div>
	<!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->

{{end}} 

{{ define "pagelevelplugins" }}
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="/static/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/fuelux/js/spinner.min.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
<script src="/static/assets/global/scripts/datatable.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/typeahead/typeahead.bundle.min.js" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->
{{ end }} 
{{define "pagelevelscripts"}}
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="/static/assets/pages/scripts/components-select2.min.js" type="text/javascript"></script>
<script src="/static/assets/pages/scripts/components-bootstrap-select.min.js" type="text/javascript"></script>
<script src="/static/assets/pages/scripts/components-bootstrap-touchspin.js" type="text/javascript"></script>
<script src="/static/assets/pages/scripts/components-date-time-pickers.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/ion.rangeslider/js/ion.rangeSlider.min.js" type="text/javascript"></script>
<script src="/static/assets/pages/scripts/table-datatables-managed.js" type="text/javascript"></script>
<script src="/static/assets/pages/scripts/components-bootstrap-touchspin.js" type="text/javascript"></script>
<script type="text/javascript">
	var ComponentsTypeahead = function () {

		var handleTwitterTypeahead = function () {

			// Example #1
			// instantiate the bloodhound suggestion engine
			var numbers = new Bloodhound({
				datumTokenizer: function (d) { return Bloodhound.tokenizers.whitespace(d.num); },
				queryTokenizer: Bloodhound.tokenizers.whitespace,
				local: [
					{ num: 'metronic' },
					{ num: 'keenthemes' },
					{ num: 'metronic theme' },
					{ num: 'metronic template' },
					{ num: 'keenthemes team' }
				]
			});

			// initialize the bloodhound suggestion engine
			numbers.initialize();

			// instantiate the typeahead UI
			if (App.isRTL()) {
				$('#typeahead_example_1').attr("dir", "rtl");
			}
			$('#typeahead_example_1').typeahead(null, {
				displayKey: 'num',
				hint: (App.isRTL() ? false : true),
				source: numbers.ttAdapter()
			});

		}
		var handleTwitterTypeahead2 = function () {

			// Example #1
			// instantiate the bloodhound suggestion engine
			var numbers = new Bloodhound({
				datumTokenizer: function (d) { return Bloodhound.tokenizers.whitespace(d.num); },
				queryTokenizer: Bloodhound.tokenizers.whitespace,
				local: [
					{ num: 'metronic' },
					{ num: 'keenthemes' },
					{ num: 'metronic theme' },
					{ num: 'metronic template' },
					{ num: 'keenthemes team' }
				]
			});

			// initialize the bloodhound suggestion engine
			numbers.initialize();

			// instantiate the typeahead UI
			if (App.isRTL()) {
				$('#typeahead_example_2').attr("dir", "rtl");
			}
			$('#typeahead_example_2').typeahead(null, {
				displayKey: 'num',
				hint: (App.isRTL() ? false : true),
				source: numbers.ttAdapter()
			});

		}

		return {
			//main function to initiate the module
			init: function () {
				handleTwitterTypeahead();
				handleTwitterTypeahead2();
			}
		};

	}();

	jQuery(document).ready(function () {
		ComponentsTypeahead.init();
	});

</script>

<script type="text/javascript">
	var ComponentsIonSliders = function () {

		var handleAdvancedDemo = function () {
			$("#range_10").ionRangeSlider({
				type: "double",
				min: 0,
				max: 100,
				from: 30,
				to: 70,
				from_fixed: true
			});
		}

		return {
			//main function to initiate the module
			init: function () {
				handleAdvancedDemo();
			}

		};

	}();

	jQuery(document).ready(function () {
		ComponentsIonSliders.init();
	});

</script>
<!-- END PAGE LEVEL SCRIPTS -->
{{end}}