{{ template "master_layout.html" . }} {{ define "pagelevelstyles"}}
<!-- BEGIN PAGE LEVEL STYLES -->
<link href="/static/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css"
/>
<link href="/static/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css"
/>
<link href="/static/assets/global/plugins/typeahead/typeahead.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/global/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" type="text/css"
/>
<link href="/static/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/global/plugins/ion.rangeslider/css/ion.rangeSlider.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/global/plugins/ion.rangeslider/css/ion.rangeSlider.skinFlat.css" rel="stylesheet" type="text/css"
/>
<link href="/static/assets/global/plugins/bootstrap-markdown/css/bootstrap-markdown.min.css" rel="stylesheet" type="text/css"
/>
<link href="/static/assets/global/plugins/bootstrap-summernote/summernote.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/global/plugins/typeahead/typeahead.css" rel="stylesheet" type="text/css" />
<!-- END PAGE LEVEL STYLES -->
{{end}} {{ define "content" }}
<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
	<!-- BEGIN CONTENT BODY -->
	<div class="page-content">
		<!-- BEGIN PAGE BASE CONTENT -->
		<div class="row">
			<div class="col-md-12">
				<div class="portlet light bordered">
					<div class="portlet-title">
						<div class="caption">
							<i class="icon-equalizer font-green"></i>
							<span class="caption-subject bold font-green uppercase">Materials Management</span>
						</div>
						<div class="actions">
							<a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" style="width:20px; height:20px; line-height: 0.999; padding-left:4px; "> </a>
						</div>
					</div>
					<div class="portlet-body form">
						<!-- BEGIN FORM-->
						<form method="post" class="horizontal-form">
							{{ .xsrfdata }}
							<div class="form-body">
								<div class="row">
									<div class="col-md-4">
										<div class="form-group">
											<select name="item_name" class="form-control select2" data-placeholder="Choose an Item">
												<option disabled selected value> -- Choose an item -- </option>
												{{ range $items := .ItemsRetrieved }}
												<option value="{{ $items._id }}" {{if compare $.FormItems.ItemName $items._id }} selected {{end}}>[{{ $items.item_code_gen }}] {{ $items.invoice_narration }} (UOM:{{ $items.unit_measure}})</option>
												{{end}}
											</select>
											<!-- <input type="text" name="item_name" class="form-control" value="{{.FormItems.ItemName}}" />  -->
											{{if .Errors.ItemName}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.ItemName}}</span>{{end}}
										</div>
									</div>		
									<!--/span-->
									<div class="col-md-4">
										<div class="form-group">
											<select name="grp" class="form-control select2" data-placeholder="Choose a Group">
												<option disabled selected value> -- Choose a group -- </option>
												{{ range $groups := .RetrievedGroup }}
												<option value="{{ $groups.grp }}" {{if compare $.FormItems.Group $groups.grp }} selected {{end}}>{{ $groups.grp }}</option>
												{{end}}
											</select>
											<!-- <input list="grps" name="grp" type="text" class="form-control" value="{{.FormItems.Group}}" placeholder="Group">
											<datalist id="grps">
												<option value="I">
													<option value="II">
														<option value="III">
															<option value="IV">
																<option value="V">
																	<option value="VI">
																		<option value="VII">
																			<option value="VIII">
																				<option value="IX">
																					<option value="X">
											</datalist> 

											{{if .Errors.Group}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Group}}</span>{{end}} -->
										</div>
									</div>
									
									<!--/span-->
									<div class="col-md-4">
										<div class="form-group">
											<select name="grade" class="form-control select2" data-placeholder="Choose a Grade">
												<option disabled selected value> -- Choose a group -- </option>
												{{ range $grades := .RetrievedGrade }}
												<option value="{{ $grades.grade }}" {{if compare $.FormItems.Grade $grades.grade }} selected {{end}}>{{ $grades.grade }}</option>
												{{end}}
											</select>
											<!-- <input list="grades" name="grade" type="text" class="form-control" value="{{.FormItems.Grade}}" placeholder="Grade">
											<datalist id="grades">
												<option value="1">
													<option value="2">
														<option value="3">
															<option value="4">
																<option value="5">
											</datalist>
											{{if .Errors.Grade}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Grade}}</span>{{end}} -->
										</div>
									</div>
								</div>
								
								<!--/row-->
								<div class="row">									
									<div class="col-md-4">
										<div class="form-group">

											<input type="text" name="min" class="form-control" value="{{.FormItems.Min}}" placeholder="Inventory Min" /> {{if .Errors.Min}}
											<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Min}}</span>{{end}}
										</div>
									</div>									
									<!--/span-->
									<div class="col-md-4">
										<div class="form-group">
											<input type="text" name="max" class="form-control" value="{{.FormItems.Max}}" placeholder="Inventory Max" /> {{if .Errors.Max}}
											<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Max}}</span>{{end}}
										</div>
									</div>
									<!--/span-->

								</div>
								
								<div class="row">									
									<div class="col-md-4">
										<div class="form-group">
											<select single class="form-control select2-multiple " data-placeholder="Choose a Location" name="factory">
												<option disabled selected value> -- Choose a factory -- </option>
												{{ range $gl := .Retrievedfac }}
												<option value="{{ $gl._id }}" {{if compare $.FormItems.Factory $gl._id }} selected {{end}}>{{ $gl.factory_location }}</option>
												{{end}}
											</select> {{if .Errors.Factory}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Factory}}</span>{{end}}
										</div>
									</div>

								</div>
								<div class="form-group">
									<!--     <label class="control-label">&nbsp;</label><br> -->
									<!-- <span style="margin-top:10px;"></span> -->
									<button type="submit" class="btn green btn-search" style="margin-top:10px;height: 35px; width: 100px;"> Search</button>
								</div>

								<div class="row">
									<table class="table table-bordered table-hover table-checkable order-column" id="stock_inventory_table">
										<thead>
											<tr>
												<th style="width:250px; text-align: left; padding-left: 5px;">Item Code</th>
												<th style="width:250px; text-align: left;">Item Name</th>
												<th style="width:50px; text-align: left;">Group</th>
												<th style="width:50px; text-align: left;">Grade</th>
												<th style="width:90px; text-align: left;">Total Qty</th>
												<th style="width:90px; text-align: left;">Factory Location</th>
												<th style="width:80px; text-align: left;">Action</th>
											</tr>
										</thead>
										<tbody>
											{{ range $items := .Retrieved }}
											<tr>
												<td style=" text-align: left; padding-left: 5px;">{{ $items.item_code_gen }}</td>
												<td style=" text-align: left;">{{ $items.invoice_narration }}</td>
												<td style=" text-align: left;">{{ $items.grp }}</td>
												<td style=" text-align: left;">{{ $items.grade }}</td>
												<td style=" text-align: right;">{{ $items.total_quantity }}</td>
												<td style=" text-align: left;">{{ $items.factory_location }}</td>
												<td style=" text-align: center;"><a target="_blank" href="/stock/view-grn?itemId={{ $items._id }}&factoryId={{ $items.geo_location }}">See GRN</a><br><a target="_blank"  href="/stock/view-inventory-usage?itemId={{ $items._id }}&factoryId={{ $items.geo_location }}" style="font-size:small;">View Usage</a>
												</td>
											</tr>
											{{end}}
										</tbody>
									</table>
								</div>
								<!--/span-->
								<!--/row-->
							</div>
						</form>
						<!-- END FORM-->
					</div>

				</div>
			</div>
		</div>		
	</div>
	<!-- END PAGE BASE CONTENT -->
</div>
<!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->

{{end}} {{ define "pagelevelplugins" }}
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="/static/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/fuelux/js/spinner.min.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
<script src="/static/assets/global/scripts/datatable.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/typeahead/typeahead.bundle.min.js" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->
{{ end }} {{define "pagelevelscripts"}}
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="/static/assets/pages/scripts/components-select2.min.js" type="text/javascript"></script>
<script src="/static/assets/pages/scripts/components-bootstrap-select.min.js" type="text/javascript"></script>
<script src="/static/assets/pages/scripts/components-bootstrap-touchspin.js" type="text/javascript"></script>
<script src="/static/assets/pages/scripts/components-date-time-pickers.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/ion.rangeslider/js/ion.rangeSlider.min.js" type="text/javascript"></script>
<script src="/static/assets/pages/scripts/table-datatables-managed.js" type="text/javascript"></script>
<script src="/static/assets/pages/scripts/components-bootstrap-touchspin.js" type="text/javascript"></script>
<script type="text/javascript">
	var ComponentsTypeahead = function () {

		var handleTwitterTypeahead = function () {

			// Example #1
			// instantiate the bloodhound suggestion engine
			var numbers = new Bloodhound({
				datumTokenizer: function (d) { return Bloodhound.tokenizers.whitespace(d.num); },
				queryTokenizer: Bloodhound.tokenizers.whitespace,
				local: [
					{ num: 'metronic' },
					{ num: 'keenthemes' },
					{ num: 'metronic theme' },
					{ num: 'metronic template' },
					{ num: 'keenthemes team' }
				]
			});

			// initialize the bloodhound suggestion engine
			numbers.initialize();

			// instantiate the typeahead UI
			if (App.isRTL()) {
				$('#typeahead_example_1').attr("dir", "rtl");
			}
			$('#typeahead_example_1').typeahead(null, {
				displayKey: 'num',
				hint: (App.isRTL() ? false : true),
				source: numbers.ttAdapter()
			});

		}
		var handleTwitterTypeahead2 = function () {

			// Example #1
			// instantiate the bloodhound suggestion engine
			var numbers = new Bloodhound({
				datumTokenizer: function (d) { return Bloodhound.tokenizers.whitespace(d.num); },
				queryTokenizer: Bloodhound.tokenizers.whitespace,
				local: [
					{ num: 'metronic' },
					{ num: 'keenthemes' },
					{ num: 'metronic theme' },
					{ num: 'metronic template' },
					{ num: 'keenthemes team' }
				]
			});

			// initialize the bloodhound suggestion engine
			numbers.initialize();

			// instantiate the typeahead UI
			if (App.isRTL()) {
				$('#typeahead_example_2').attr("dir", "rtl");
			}
			$('#typeahead_example_2').typeahead(null, {
				displayKey: 'num',
				hint: (App.isRTL() ? false : true),
				source: numbers.ttAdapter()
			});

		}

		return {
			//main function to initiate the module
			init: function () {
				handleTwitterTypeahead();
				handleTwitterTypeahead2();
			}
		};

	}();

	jQuery(document).ready(function () {
		ComponentsTypeahead.init();
	});

</script>

<script type="text/javascript">
	var ComponentsIonSliders = function () {

		var handleAdvancedDemo = function () {
			$("#range_10").ionRangeSlider({
				type: "double",
				min: 0,
				max: 100,
				from: 30,
				to: 70,
				from_fixed: true
			});
		}

		return {
			//main function to initiate the module
			init: function () {
				handleAdvancedDemo();
			}

		};

	}();

	jQuery(document).ready(function () {
		ComponentsIonSliders.init();
	});

</script>
<script type="text/javascript">
	$(function () {
		$(document).on('click', '.inventoryview', function (e) {
			//e.preventDefault()
			var element = $(this);
			var product_id = element.attr("id");
			var info = 'id=' + product_id;
			$.ajax({
				type: "GET",
				url: "/stock/view-get-grn",
				data: info,
				contentType: "application/json; charset=utf-8",
				dataType: "json",
				cache: false,
				success: function (data) {


				}
			});
		});
	});

</script>
<!-- END PAGE LEVEL SCRIPTS -->
{{end}}