{{ template "master_layout.html" . }} {{ define "pagelevelstyles"}}
<!-- BEGIN PAGE LEVEL STYLES -->
<link href="/static/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css"
/>
<link href="/static/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css"
/>
<link href="/static/assets/global/plugins/typeahead/typeahead.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/global/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" type="text/css"
/>

<link href="/static/assets/global/plugins/jquery-multi-select/css/multi-select.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />

<link href="/static/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
<link href="/static/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css"
/>
<script src="/static/assets/pages/scripts/table-datatables-managed.js" type="text/javascript"></script>

<!-- END PAGE LEVEL STYLES -->
{{end}} {{ define "content" }}
<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE BASE CONTENT -->
        <div class="row">
            <div class="col-md-12">
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-equalizer font-green"></i>
                            <span class="caption-subject bold font-green uppercase">Raise Delivery Note</span>
                        </div>
                        <div class="actions">
                            <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" style="width:20px; height:20px; line-height: 0.999; padding-left:4px; "> </a>
                        </div>
                        <div class="tools nts-tools faq-links" style="margin-top:0;">
                            {{if .ErrorsPresent}}
                            <a href="" class="collapse btn blue" style="background-image:none; width: 60px; height: 20px; padding:0; margin-top: -6px;">
                                    <i class="fa fa-minus" style=" margin-left: -1px; margin-top: 2px;"></i><span style="font-size: smaller;">Close</span> <span style="display : none; font-size: smaller;">Raise</span>
                                </a> {{else}}
                            <a href="" class="expand btn blue" style="background-image:none; width: 60px; height: 20px; padding:0; margin-top: -6px;">
                                    <i class="fa fa-plus" style=" margin-left: -1px; margin-top: 2px;"></i> <span style="font-size: smaller;">Raise</span> <span style="display : none; font-size: smaller;">Close</span> 
                                </a> {{end}}
                        </div>
                    </div>
                    {{if .ErrorsPresent}}
                    <div class="portlet-body form" style="display:block">
                        {{else}}
                        <div class="portlet-body form" style="display:none">
                            {{end}}
                            <!-- BEGIN FORM-->
                            <form method="POST" class="form-horizontal">
                                {{ .xsrfdata }}
                                <div class="form-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>SO No </label>
                                                <div class="col-md-8">
                                                    <select id="po_so" name="so_no" onchange="this.form.submit()" class="form-control select2" data-placeholder="Choose an SO No.">
                                                        <option disabled selected value> -- Choose an SO No -- </option>
                                                        {{ range $so := .SoRetrieved }}
                                                        <option value="{{ $so.sales_order_code_gen }}" {{if compare $.FormItems.SoNo $so.sales_order_code_gen }} selected {{end}}>[{{ $so.sales_order_code_gen }}] {{ $so.company_name }} </option>
                                                        {{end}}
                                                    </select>
                                                    {{if .Errors.SoNo}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.SoNo}}</span>{{end}}
                                                </div>
                                                <input type="hidden" name="so_id" value="{{ $.Retrieved13.so_0._id}}" >
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Dispatch No</label>
                                                <div class="col-md-8">
                                                    <input type="text" value="{{.genCode}}" class="form-control" name="dispatch_no" readonly>
                                                    <!-- <input type="text" class="form-control" name="dispatch_no" > -->
                                                    {{if .Errors.DispatchNo}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.DispatchNo}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>
                                    <div class="row">
                                        <!-- <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"></label>
                                                <div class="col-md-8">
                                                   <button name="assoc-button" value="items" type="submit" class="btn green" style="margin-top:5px;height:30px; text-align: center;">Show Details</button>
                                                </div>
                                            </div>
                                        </div> -->
                                        <!--/span-->

                                        <!--/span-->
                                    </div>


                                    <div class="row" >
                                        <table class="table table-bordered table-hover dataTable table-checkable order-column" id="tb">
                                            <thead>
                                                <tr>
                                                    <th style="padding-left: 5px; width:250px; text-align: left;"> Item Name</th>
                                                    <th style=" text-align: left;">Qty Ordered</th>
                                                    <th style=" text-align: left;">Qty Delivered</th>
                                                    <th style=" text-align: left;">Qty Remaining</th>
                                                    <th style="width:410px; text-align: left;">Items Dispatched</th>
                                                    <!-- <th style="width:110px; text-align: left;">Qty Rejected</th> -->
                                                    <th style=" text-align: left;">UOM</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {{ range $items := .Retrieved3 }}
                                                <tr>
                                                    <td style="padding-left: 5px; text-align: left; margin:10px">
                                                        <input type="hidden" name="dispatchitems[{{ $items.Number }}][itemname]" value="{{ $items.item_unique_code }}">{{$items.invoice_narration}}
                                                    </td>
                                                    <td style=" text-align: right;">{{ $items.quantity }}</td>
                                                    <td style=" text-align: right;">{{ $items.delivered_quantity  }}</td>
                                                    <td style=" text-align: right;">{{ $items.qremaining }}</td>

                                                    {{if compare $items.quantity $items.delivered_quantity}}
                                                    <td style=" text-align: right;">Delivery Complete</td>
                                                    {{else}}
                                                    <td>
                                                        <div class="mt-repeater form-horizontal" style="border:1px solid #c2cad8; ">   
                                                            <div data-repeater-list="batch[{{ $items.Number }}]">
                                                                <div data-repeater-item class="mt-repeater-item">
                                                                    <div class="row" style="margin-left: 10px; margin-right: -2100px; margin-bottom: -10px;">
                                                                        <div class="form-group">
                                                                            <div class="col-md-6" style="max-width: 100px; padding-right:0;">
                                                                                <label>Quantity</label>
                                                                                <input name="qty" type="text" class="form-control" />
                                                                            </div>
                                                                            <div class="col-md-5" style="max-width: 100px; padding-right:0;">
                                                                                <label>Batch No</label>
                                                                                <!-- <input name="batchno" class=" form-control" type="text"> -->
                                                                                <select name="batchno" data-placeholder="Choose" class="form-control select2" >
                                                                                    <option disabled selected value> -- Choose a batch -- </option>
                                                                                    {{ range $batches := $items.Batches }}
                                                                                    <option value="{{ $batches.batch_no }}" >{{ $batches.batch_no }} ({{ $batches.quantity_by_batch }})</option>
                                                                                    {{end}}
                                                                                </select>
                                                                            </div>

                                                                            <div class="mt-repeater-input col-md-1">
                                                                                <a href="javascript:;" data-repeater-delete class="btn btn-danger mt-repeater-delete" style="margin-top: 24px;">
                                                                                    <i class="fa fa-close"></i>
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <a href="javascript:;" data-repeater-create class="btn btn-success mt-repeater-add" style=" margin-left: 10px;">
                                                                <i class="fa fa-plus"></i>
                                                            </a>
                                                        </div>
                                                    </td>
                                                    <!-- <td style=" text-align: right;">
                                                        <input type="text" id="rejected_{{ $items.item_unique_code }}" value="{{.FormItems.QtyRejected}}" class="form-control" name="grnitems[{{ $items.Number }}][qtyRejected]">                                                                    
                                                    </td> -->
                                                    {{end}}
                                                    <td style=" text-align: left;">{{ $items.uom }}</td>
                                                </tr>
                                                {{end}}
                                            </tbody>
                                        </table>
                                    </div>

                                    <div class="row">

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Customer</label>
                                                    <div class="col-md-8">
                                                        <input name="customer" type="text" readonly class="form-control" value="{{ $.Retrieved13.so_0.company_name}}" placeholder="">                                                        
                                                        {{if .Errors.Customer}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Customer}}</span>{{end}}
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>SO Date </label>
                                                    <div class="col-md-8">
                                                        <input name="delivery_date" type="text" readonly class="form-control" value="{{$.Retrieved13.so_0.order_date}}" readonly placeholder="">                                                        
                                                        {{if .Errors.DeliveryDate}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.DeliveryDate}}</span>{{end}}
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Total Cost </label>
                                                    <div class="col-md-8">
                                                        <input id="total_cost_grn" name="total_cost" type="text" readonly class="form-control" value="{{$.Retrieved13.so_0.total_sales_price}}">                                                        
                                                        {{if .Errors.TotalCost}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.TotalCost}}</span>{{end}}
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Delivery Location </label>
                                                    <div class="col-md-8">

                                                        <input name="delivery_location_name" readonly type="text" class="form-control" value="{{$.Retrieved13.so_0.factory_location}}"> 
                                                        <input name="delivery_location" readonly type="hidden" class="form-control" value="{{$.Retrieved13.so_0.delivery_location}}">                                                       
                                                        {{if .Errors.DeliveryLocation}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.DeliveryLocation}}</span>{{end}}
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                        </div>
                                        <div class="row">
                                            <!--/span-->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Delivered Date </label>
                                                    <div class="col-md-8">
                                                        <div class="input-group input-medium date date-picker" data-date-format="yyyy-mm-dd">
                                                            <input id="todays_date" name="delivered_date" type="text" class="form-control" value="{{.FormItems.DeliveredDate}}" readonly
                                                                placeholder="">
                                                            <span class="input-group-btn">
                                                                <button class="btn default" type="button">
                                                                    <i class="fa fa-calendar"></i>
                                                                </button>
                                                            </span>
                                                        </div>
                                                        {{if .Errors.DeliveredDate}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.DeliveredDate}}</span>{{end}}
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                        <!-- </div>
                                        <div class="row"> -->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Customer Invoice </label>
                                                    <div class="col-md-8">
                                                        <input id="supplier_invoice" name="customer_invoice" type="text" class="form-control" value="{{.FormItems.CustomerInvoice}}">                                                        
                                                        {{if .Errors.CustomerInvoice}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.CustomerInvoice}}</span>{{end}}
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <!-- <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Customer Inv.Dt. </label>
                                                    <div class="col-md-8">
                                                        <div class="input-group input-medium date date-picker" data-date-format="yyyy-mm-dd">
                                                            <input id="supplier_invoice_dt" name="customer_invoice_dt" type="text" class="form-control" value="{{.FormItems.CustomerInvoiceDt}}">
                                                            <span class="input-group-btn">
                                                                <button class="btn default" type="button">
                                                                    <i class="fa fa-calendar"></i>
                                                                </button>
                                                            </span>
                                                        </div>
                                                        {{if .Errors.CustomerInvoiceDt}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.CustomerInvoiceDt}}</span>{{end}}
                                                    </div> -->
                                                </div>
                                            </div>
                                            <!--/span-->
                                        </div>
                                        <!-- <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Customer DC No. </label>
                                                    <div class="col-md-8">
                                                        <input id="supplier_dc_no" name="customer_dc_no" type="text" class="form-control" value="{{.FormItems.CustomerDcNo}}" placeholder="">                                                        
                                                        {{if .Errors.CustomerDcNo}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.CustomerDcNo}}</span>{{end}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Customer DC Date </label>
                                                    <div class="col-md-8">
                                                        <div class="input-group input-medium date date-picker" data-date-format="yyyy-mm-dd">
                                                            <input id="supplier_dc_dt" name="customer_dc_dt" type="text" class="form-control" value="{{.FormItems.CustomerDcDt}}" readonly placeholder="">
                                                            <span class="input-group-btn">
                                                            <button class="btn default" type="button">
                                                                <i class="fa fa-calendar"></i>
                                                            </button>
                                                        </span>
                                                        </div>
                                                        {{if .Errors.CustomerDcDt}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.CustomerDcDt}}</span>{{end}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div> -->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4">LR Date </label>
                                                    <div class="col-md-8">
                                                        <div class="input-group input-medium date date-picker" data-date-format="yyyy-mm-dd">
                                                            <input name="lr_dt" type="text" class="form-control" value="{{.FormItems.LrDt}}" readonly>
                                                            <span class="input-group-btn">
                                                            <button class="btn default" type="button">
                                                                <i class="fa fa-calendar"></i>
                                                            </button>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4">LR Number </label>
                                                    <div class="col-md-8">
                                                        <input name="lr_no" type="text" class="form-control" value="{{.FormItems.LrNo}}" placeholder="">                                                        
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4">Transporter </label>
                                                    <div class="col-md-8">
                                                        <select id="transporter" name="transporter" onchange="transporterChange()" class="form-control select2" data-placeholder="Choose a Transporter">
                                                            <option disabled selected value> -- Choose a Transporter -- </option>
                                                            {{ range $transporter := .TransporterRetrieved }}
                                                            <option value="{{ $transporter._id }}" {{if compare $.FormItems.Transporter $transporter._id }} selected {{else if compare $.Retrieved13.so_0.transporter_fkid $transporter._id}} selected {{else}} {{end}}>{{ $transporter.transporter_name }} </option>
                                                            {{end}}
                                                        </select>
                                                        {{if .Errors.Transporter}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Transporter}}</span>{{end}}
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4">Vehicle </label>
                                                    <div class="col-md-8">
                                                        <input id="prevehicle" type="hidden" value="{{$.Retrieved13.so_0.vehicle_fkid}}">
                                                        <select id="vehicle" name="vehicle" class="form-control select2" data-size="4" data-placeholder="Choose a Vehicle"></select>
                                                        {{if .Errors.Vehicle}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Vehicle}}</span>{{end}}
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                        </div>
                                        <div class="row">
                                            <div class="form-group">
                                                <label class="control-label col-md-2">Note </label>
                                                <div class="col-md-8" style="margin-left: 10px;">
                                                    <textarea id="note" name="add_note" class="form-control" rows="3" placeholder="">{{.FormItems.AddNote}}</textarea>                                                    {{if .Errors.AddNote}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.AddNote}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-actions">
                                        <div class="row">
                                            <div class="col-md-12" style="text-align: center;">
                                                <button type="submit" name="assoc-button" value="sub" class="btn green" style="height: 40px;width: 80px">Submit</button>
                                                <!-- <button type="button" class="btn default" style="height: 40px;width: 80px">Reset</button> -->
                                            </div>
                                        </div>
                                        <div id="displayserial"></div>
                                    </div>
                            </form>
                            <!-- END FORM-->
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <!-- BEGIN EXAMPLE TABLE PORTLET-->
                    <div class="portlet light bordered">
                        <div class="portlet-title">
                            <div class="caption font-dark">
                                <i class="icon-settings font-dark"></i>
                                <span class="caption-subject bold uppercase"> Delivery List</span>
                            </div>
                            <div class="actions">
                                <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" style="width:20px; height:20px; line-height: 0.999; padding-left:4px; "> </a>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <table class="table table-bordered table-hover table-checkable order-column" id="purchase_grn_view_table">
                                <thead>
                                    <tr>
                                        <th style="text-align: left"> Dispatch No </th>
                                        <th style="text-align: left"> SO No </th>
                                        <th style="text-align: left"> Customer </th>
                                        <th style="text-align: left"> Items </th>
                                        <th style="text-align: left"> Qty Delivered </th>
                                        <th style="text-align: left"> Delivered Date </th>
                                        <th style="text-align: left"> Delivery Location </th>
                                        <th style="text-align: left"> Action </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{ range $dispatch := .Retrieved }}
                                    <tr class="odd gradeX">
                                        <td style="text-align: right">{{ $dispatch.dispatch_no_gen }}</td>
                                        <td style="text-align: right"> {{ $dispatch.sales_order_code_gen }}</td>
                                        <td style="text-align: left">{{ $dispatch.company_name }} </td>
                                        <td style="text-align: left">{{$dispatch.invoice_narration }}</td>
                                        <td style="text-align: right">{{$dispatch.quantity_delivered }}</td>
                                        <td style="text-align: left">{{ $dispatch.d_date }}</td>
                                        <td style="text-align: left">{{ $dispatch.factory_location }}</td>

                                        <!--  <td style="text-align: left">{{$dispatch.name }}</td>
                                        <td class="text-center" style="text-align: right">{{ $dispatch.d_date }}</td>
                                        <td style="text-align: right">{{ $dispatch.c_date }}</td>
                                        <td style="text-align: left">{{ $dispatch.grn_status }}</td>
                                        <td style="text-align: left">{{ $dispatch.rejected_note }}</td> -->

                                        <td style="text-align: center">
                                            <div>
                                                <a data-toggle="modal" data-target="#dispatchModal_{{ $dispatch.sod_id }}" data-toggle="tooltip" title="View">
                                                    <i class="fa fa-eye"></i>
                                                </a>

                                            </div>
                                        </td>
                                    </tr>
                                    {{end}}

                                </tbody>
                            </table>
                            <!-- <div class="actions text-right">
                                  <ul class="pagination">
                                  <li class="active"><a href="#">1</a></li>
                                  <li ><a href="#">2</a></li>
                                  <li><a href="#">3</a></li>
                                  <li><a href="#">4</a></li>
                                  <li><a href="#">5</a></li>
                                </ul> 
                                <div class="dropup ">
                                    <button class="btn btn-default dropdown-toggle " type="button"  data-toggle="dropdown">Export
                                        <span class="caret"></span></button>
                                    <ul class="dropdown-menu pull-right">
                                        <li role="presentation"><a tabindex="-1" href="#">Print</a></li>
                                        <li role="presentation"><a tabindex="-1" href="#">PDF</a></li>
                                        <li role="presentation"><a tabindex="-1" href="#">Excel</a></li>
                                        <li role="presentation"><a tabindex="-1" href="#">CSV</a></li>
                                    </ul>
                                </div> 
                            </div> -->
                        </div>
                    </div>
                    {{ range $dispatch := .Retrieved }}
                    <div id="dispatchModal_{{ $dispatch.sod_id }}" class="modal fade bs-modal-lg" role="dialog">
                        <div class="modal-dialog modal-lg">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <div class="portlet-title">
                                        <div class="caption font-dark">
                                            <i class="icon-settings font-dark"></i>
                                            <span class="caption-subject bold uppercase"> Dispatch Note </span>
                                            <i class="fa fa-print no-print" title="Print" style="float:right;" onclick="jQuery('#dispatchModal_{{ $dispatch.sod_id }}').print()"></i>
                                        </div>
                                    </div>
                                    <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
                                </div>
                                <div class="modal-body">
                                    <table class="col-md-12">
                                        <tr>
                                            <th class="col-md-3">Dispatch No:</th>
                                            <td class="col-md-3">{{ $dispatch.dispatch_no_gen }}</td>
                                            <th class="col-md-3">SO No:</th>
                                            <td class="col-md-3">{{ $dispatch.sales_order_code_gen }}</td>
                                        </tr>
                                        <!--<div class="row">
                            <div class="col-sm-6">
                                    <lable class="col-md-5 control-label bold">GRN No:</lable>
                                    <div class="col-md-7">{{ $dispatch.grn_no }}</div>
                                </div>
                                
                                <div class="col-sm-6">
                                    <lable class="col-md-5 control-label bold">PO/SO No:</lable>
                                    <div class="col-md-7">{{ $dispatch.unique_serial_no }}</div>
                                </div>
                                
                            </div>-->
                                        <tr>
                                            <th class="col-md-3">Item Name:</th>
                                            <td class="col-md-3">{{ $dispatch.invoice_narration }}</td>
                                            <th class="col-md-3">Quantity Delivered:</th>
                                            <td class="col-md-3">{{$dispatch.quantity_delivered }}</td>
                                        </tr>
                                        <!--<div class="row">
                                <div class="col-sm-6">
                                    <lable class="col-md-5 control-label bold">Items:</lable>
                                    <div class="col-md-7">
                                        <ul style="list-style-type:none; padding-left:0;">
                                            <li>{{$dispatch.invoice_narration }}</li>
                                         
                                        </ul>
                                    </div>
                                </div>
                            </div>-->
                                        <tr>
                                            <th class="col-md-3">Customer:</th>
                                            <td class="col-md-3">{{ $dispatch.company_name }}</td>
                                        </tr>
                                        <tr>
                                            <th class="col-md-3">Delivered Date:</th>
                                            <td class="col-md-3">{{ $dispatch.d_date }}</td>
                                            <th class="col-md-3">Delivery Location:</th>
                                            <td class="col-md-3">{{ $dispatch.factory_location }}</td>
                                        </tr>
                                        <!--<div class="row">
                                <div class="col-sm-6">
                                    <lable class="col-md-5 control-label bold">Suppliers:</lable>
                                    <div class="col-md-7">{{$dispatch.company_name }}</div>
                                </div>
                                <div class="col-sm-6">
                                    <lable class="col-md-5 control-label bold">Delivered Date:</lable>
                                    <div class="col-md-7">{{ $dispatch.d_date }}</div>
                                </div>
                            </div>-->
                                        <tr>
                                            <th class="col-md-3">Customer Invoice:</th>
                                            <td class="col-md-3">{{ $dispatch.customer_invoice_fkid }}</td>
                                            <!-- <th class="col-md-3">Supplier Inv. Dt.:</th>
                                            <td class="col-md-3">{{ $dispatch.i_date }}</td> -->
                                        </tr>
                                        <!--<div class="row">
                                <div class="col-sm-6">
                                    <lable class="col-md-5 control-label bold">Supplier Invoice:</lable>
                                    <div class="col-md-7">{{ $dispatch.invoice_no }}</div>
                                </div>
                                <div class="col-sm-6">
                                    <lable class="col-md-5 control-label bold">Supplier Inv. Dt.:</lable>
                                    <div class="col-md-7">{{ $dispatch.i_date }}</div>
                                </div>
                            </div>-->
                                        <!-- <tr>
                                            <th class="col-md-3">Suppliers DC No.:</th>
                                            <td class="col-md-3">{{ $dispatch.dc_no }}</td>
                                            <th class="col-md-3">Supplier DC Dt.:</th>
                                            <td class="col-md-3">{{ $dispatch.c_date }}</td>
                                        </tr> -->
                                        <!--<div class="row">
                                <div class="col-sm-6">
                                    <lable class="col-md-5 control-label bold">Supplier DC No:</lable>
                                    <div class="col-md-7">{{ $dispatch.dc_no }}</div>
                                </div>
                                <div class="col-sm-6">
                                    <lable class="col-md-5 control-label bold">Supplier DC Dt.:</lable>
                                    <div class="col-md-7">{{ $dispatch.c_date }}</div>
                                </div>
                            </div>-->
                                        <tr>
                                            <th class="col-md-3">LR Date:</th>
                                            <td class="col-md-3">{{ $dispatch.l_date }}</td>
                                            <th class="col-md-3">LR Number:</th>
                                            <td class="col-md-3">{{ $dispatch.lr_number }}</td>
                                        </tr>
                                        <tr>
                                            <th class="col-md-2">Transporter:</th>
                                            <td class="col-md-4">{{ $dispatch.transporter_name }}</td>
                                            <th class="col-md-2">Vehicle Registration no.:</th>
                                            <td class="col-md-4">{{ $dispatch.registration_number }}</td>
                                        </tr>
                                        <tr>
                                            <th class="col-md-3">Status:</th>
                                            <td class="col-md-3">{{ $dispatch.status }}</td>
                                            <th class="col-md-3">Note:</th>
                                            <td class="col-md-3">{{ $dispatch.notes }}</td>
                                        </tr>
                                        <!--<div class="row">
                                <div class="col-sm-6">
                                    <lable class="col-md-5 control-label bold">Status:</lable>
                                    <div class="col-md-7">{{ $dispatch.grn_status }}</div>
                                </div>
                                <div class="col-sm-6">
                                    <lable class="col-md-5 control-label bold">Add Note:</lable>
                                    <div class="col-md-7">{{ $dispatch.notes }}</div>
                                </div>
                            </div>-->
                                    </table>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default no-print" data-dismiss="modal">Close</button>
                                </div>
                            </div>

                        </div>
                    </div>
                    {{end}}
                    <!-- END EXAMPLE TABLE PORTLET-->
                </div>
            </div>

            <!-- END PAGE BASE CONTENT -->
        </div>
        <!-- END CONTENT BODY -->
    </div>
    <!-- END CONTENT -->

    {{end}} {{ define "pagelevelplugins" }}
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src="/static/assets/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="/static/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="/static/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <script src="/static/assets/global/plugins/fuelux/js/spinner.min.js" type="text/javascript"></script>
    <script src="/static/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.js" type="text/javascript"></script>
    <script src="/static/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="/static/assets/global/plugins/bootstrap-select/js/bootstrap-select.min.js" type="text/javascript"></script>
    <script src="/static/assets/global/plugins/jquery-multi-select/js/jquery.multi-select.js" type="text/javascript"></script>
    <script src="/static/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
    <script src="/static/assets/global/plugins/typeahead/handlebars.min.js" type="text/javascript"></script>
    <script src="/static/assets/global/plugins/typeahead/typeahead.bundle.min.js" type="text/javascript"></script>
    <script src="/static/assets/global/plugins/jQuery.print-master/jQuery.print.js" type="text/javascript"></script>
    <script src="/static/assets/global/plugins/jquery-repeater/jquery.repeater.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    {{ end }} {{define "pagelevelscripts"}}
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="/static/assets/pages/scripts/table-datatables-managed.js" type="text/javascript"></script>
    <script src="/static/assets/pages/scripts/components-bootstrap-select.min.js" type="text/javascript"></script>
    <script src="/static/assets/pages/scripts/components-bootstrap-touchspin.js" type="text/javascript"></script>
    <script src="/static/assets/pages/scripts/components-date-time-pickers.js" type="text/javascript"></script>
    <script src="/static/assets/pages/scripts/components-multi-select.min.js" type="text/javascript"></script>
    <script src="/static/assets/pages/scripts/components-select2.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $('.date-picker').datepicker({
            pickerPosition: "bottom-left"
        });
    </script>
    <script type="text/javascript">
        var todaysDate = new Date();
        function convertDate(date) {
            var yyyy = date.getFullYear().toString();
            var mm = (date.getMonth() + 1).toString();
            var dd = date.getDate().toString();

            var mmChars = mm.split('');
            var ddChars = dd.split('');

            return yyyy + '-' + (mmChars[1] ? mm : "0" + mmChars[0]) + '-' + (ddChars[1] ? dd : "0" + ddChars[0]);
        }

        document.getElementById('todays_date').value = convertDate(todaysDate);
    </script>

    <script>
        $(document).ready(function () {
            $('.mt-repeater').repeater({
                show: function () {
                    $(this).slideDown();

                    $('.select2-container').remove();
                    $('.select2').select2({
                    placeholder: "Placeholder text",
                    });
                    $('.select2-container').css('width','100%');

                    $('.date-picker').datepicker({
                        rtl: App.isRTL(),
                        orientation: "left",
                        autoclose: true
                    });
                },

                hide: function (deleteElement) {
                    if (confirm('Are you sure you want to delete this element?')) {
                        $(this).slideUp(deleteElement);
                        $(document).ready(function () {
                            itemRemove();
                        });
                    }
                },

                isFirstItemUndeletable: true
            })
        });
    </script>

    <script type="text/javascript">
        var ComponentsTypeahead = function () {

            var handleTwitterTypeahead = function () {

                // Example #1
                // instantiate the bloodhound suggestion engine
                var numbers = new Bloodhound({
                    datumTokenizer: function (d) { return Bloodhound.tokenizers.whitespace(d.num); },
                    queryTokenizer: Bloodhound.tokenizers.whitespace,
                    local: [
                        { num: 'metronic' },
                        { num: 'keenthemes' },
                        { num: 'metronic theme' },
                        { num: 'metronic template' },
                        { num: 'keenthemes team' }
                    ]
                });

                // initialize the bloodhound suggestion engine
                numbers.initialize();

                // instantiate the typeahead UI
                if (App.isRTL()) {
                    $('#typeahead_example_1').attr("dir", "rtl");
                }
                $('#typeahead_example_1').typeahead(null, {
                    displayKey: 'num',
                    hint: (App.isRTL() ? false : true),
                    source: numbers.ttAdapter()
                });

            }

            var handleTwitterTypeaheadModal = function () {

                // Example #1
                // instantiate the bloodhound suggestion engine
                var numbers = new Bloodhound({
                    datumTokenizer: function (d) { return Bloodhound.tokenizers.whitespace(d.num); },
                    queryTokenizer: Bloodhound.tokenizers.whitespace,
                    local: [
                        { num: 'metronic' },
                        { num: 'keenthemes' },
                        { num: 'metronic theme' },
                        { num: 'metronic template' },
                        { num: 'keenthemes team' }
                    ]
                });

                // initialize the bloodhound suggestion engine
                numbers.initialize();

                // instantiate the typeahead UI
                if (App.isRTL()) {
                    $('#typeahead_example_modal_1').attr("dir", "rtl");
                }
                $('#typeahead_example_modal_1').typeahead(null, {
                    displayKey: 'num',
                    hint: (App.isRTL() ? false : true),
                    source: numbers.ttAdapter()
                });


            }

            return {
                //main function to initiate the module
                init: function () {
                    handleTwitterTypeahead();
                    handleTwitterTypeaheadModal();
                }
            };

        }();

        jQuery(document).ready(function () {
            ComponentsTypeahead.init();
        });
    </script>
    <script>
        function transporterChange() {
            $('#vehicle')
                .find('option')
                .remove()
                .end();
    
            //selectedVal = element.value;
            var transporterVal = $('#transporter').val() 
            if (transporterVal != "" && transporterVal != null) {
                var info = 'transporter=' + transporterVal;
                var isSelected
                var vehicleVal = $('#prevehicle').val()
                
                $.ajax({
                    type: "GET",
                    url: "/sales/get-sales-vehicles",
                    data: info,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    cache: false,
                    success: function(data){ 
                        
                        $.each(data.vehicleId, function (i, item) {
                            // window.alert(vehicleVal)
                            if (vehicleVal != "" && vehicleVal == item) {
                                
                                isSelected = "selected";
                            } else {
                                isSelected = "";
                            }
                            $("#vehicle").append("<option value=''>Select a Vehicle</option><option value='"+item+"' "+isSelected+" >["+data.driverName[i]+"] "+data.registrationNo[i]+"</option>");
                        });
                    }
                });
            }
        }
        $(document).ready(function(){
            transporterChange();
        });
    </script>




    <!-- <script type="text/javascript">
    $(function() {
    $(document).on('click','.submitbutton',function(e){
        e.preventDefault()
    //var element = $(this);
    //var data = $("#form1").serialize();
    //$("#displayserial").text($("form").serialize());
    //var del_id = element.attr("id");
    //var info = 'id=' + del_id;
    $('input.quantities').each(function() {
        if(!isNaN(this.value) && this.value.length!=0) {
            var element = $(this);
            var delivered_id = element.attr("id");
            var res = delivered_id.split("_");
            var item_unique_code = res[1];
            var rejected_id = "#rejected_" + item_unique_code;
            var delivered_qty = element.val();
            var rejected_qty = $(rejected_id).val();
            var po_so_no = $("#po_so").val();
            var supplier = $("#supplier_grn").val();
            var po_so_dt = $("#po_so_date").val();
            var total_cost =$("#total_cost_grn").val();
            var delivery_loc =$("#delivery_location").val();
            var delivered_dt =$("#todays_date").val();
            var supplier_invoice =$("#supplier_invoice").val();
            var supplier_invoice_dt =$("#supplier_invoice_dt").val();
            var supplier_dc_no =$("#supplier_dc_no").val();
            var supplier_dc_dt =$("#supplier_dc_dt").val();
            var note =$("#note").val();
            
            var info = 'item_unique_code=' + item_unique_code + '&po_so_no=' + po_so_no + '&delivered_qty=' + delivered_qty + '&rejected_qty=' + rejected_qty + '&supplier=' + supplier + '&po_so_dt=' + po_so_dt + '&total_cost=' + total_cost + '&delivery_loc=' + delivery_loc + '&delivered_dt=' + delivered_dt + '&supplier_invoice=' + supplier_invoice + '&supplier_invoice_dt=' + supplier_invoice_dt + '&supplier_dc_no=' + supplier_dc_no + '&supplier_dc_dt=' + supplier_dc_dt + '&note=' + note ;

               $.ajax({
                    type: "GET",
                    url: "/purchase/purchase-grn",
                    data: info,
                    success: function(data){ 
                        if (data != 0)
                        {
                            location.reload(); 
                        }
                    } 
                });
        }

        });
    
    // return false;
    });
    });
</script> -->
    <!-- END PAGE LEVEL SCRIPTS -->
    {{end}}