{{ template "master_layout.html" . }}

{{define "pagelevelstyles"}}
        <!-- BEGIN PAGE LEVEL STYLES -->
         <link href="/static/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.css" rel="stylesheet" type="text/css" />
        <!--<link href="/static/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />-->
        <link href="/static/assets/global/plugins/jquery-multi-select/css/multi-select.css" rel="stylesheet" type="text/css" />
        <!--<link href="/static/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />-->
        <link href="/static/assets/global/plugins/typeahead/typeahead.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css" rel="stylesheet" type="text/css" />
        <!-- END PAGE LEVEL STYLES -->
{{end}}

{{ define "content"}}
<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
<!-- BEGIN CONTENT BODY -->
<div class="page-content">
    <!-- BEGIN PAGE BASE CONTENT -->
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-equalizer font-green"></i>
                        <span class="caption-subject bold font-green uppercase">Stock Transfer</span>
                    </div>
                    <div class="actions">
                        <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" style="width:20px; height:20px; line-height: 0.999; padding-left:4px; "> </a>
                    </div>
                    <div class="tools nts-tools faq-links" style="margin-top:0;">
                    {{if .ErrorsPresent}} 
                        <a href=""  class="collapse btn blue" style="background-image:none; width: 70px; height: 20px; padding:0; margin-top: -4px;">
                            <i class="fa fa-minus" style=" margin-left: -1px;"></i><span>Close</span> <span style="display : none;">Add</span>
                        </a> 
                     {{else}} 
                        <a href="" class="expand btn blue" style="background-image:none; width: 70px; height: 20px; padding:0; margin-top: -4px;" >
                            <i class="fa fa-plus" style=" margin-left: -1px;"></i> <span>Add</span> <span style="display : none;">Close</span> 
                        </a>  
                     {{end}}
                    </div>
                </div>
                {{if .ErrorsPresent}} 
                  <div class="portlet-body form" style="display:block" >
                  {{else}}  
                  <div class="portlet-body form"  style="display:none" >
                  {{end}}
                    <div class="form-body">
                        <form method="POST" class="form-horizontal">
                        {{ .xsrfdata }}
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Order Number </label>
                            <div class="col-md-8">
                                <input type="text" name="order_no" value="{{.FormItems.OrderNo}}" class="form-control" >
                                {{if .Errors.OrderNo}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.OrderNo}}</span>{{end}}

                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Order Date </label>
                            <div class="col-md-8">
                                <div class="input-group input-medium date date-picker" data-date-format="yyyy-mm-dd" >
                                    <input id="todays_date" name="order_date" type="text" class="form-control" value="{{.FormItems.OrderDate}}" readonly placeholder="">
                                     {{if .Errors.OrderDate}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.OrderDate}}</span>{{end}}
                                    <span class="input-group-btn">
                                        <button class="btn default" type="button">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Customer Name </label>
                            <div class="col-md-8">
                               <select id="supplier_id" name="customer_name"  class="form-control bs-select" data-live-search="true" data-size="4" data-placeholder="Choose a Customer">
                                <option disabled selected value> -- Choose a customer -- </option>
                                    {{ range $customers := .CustRetrieved }}
                                    <option value="{{ $customers._id }}" {{if compare $.FormItems.CustomerName $customers._id }} selected {{end}}>{{ $customers.company_name }}</option>
                                    {{end}}
                                </select>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-4">Type </label>
                            <div class="col-md-8">
                                <label style="padding-top: 8px;">Stock Transfer</label>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                </div>
                <div class="row">
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Delivery Date </label>
                            <div class="col-md-8">
                                <div class="input-group input-medium date date-picker" data-date-format="yyyy-mm-dd">
                                    <input name="delivery_date" type="text" class="form-control" value="{{.FormItems.DeliveryDate}}" readonly placeholder="">
                                     {{if .Errors.DeliveryDate}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.DeliveryDate}}</span>{{end}}
                                    <span class="input-group-btn">
                                        <button class="btn default" type="button">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    
                    <div class="col-md-6">
                        
                    </div>
                </div>
                 <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label col-md-6" style="text-align: left;margin-left:30px "><span class="required" aria-required="true">*</span>Add Products/Items(raw material sales) </label>
                        </div>
                    </div>  
                </div>  
                
                <div class="mt-repeater form-horizontal">
                    <div data-repeater-list="group-a">
                        <div data-repeater-item class="mt-repeater-item" >   
                            
                            <div class="row">
                                <div class="col-md-12" style="margin-left: 30px">
                                    <div class="form-group" style="margin-right: 15px">
                                        
                                    <div class="col-md-4">
                                        <label class="control-label"><b>Item/Product</b></label>
                                        <br/>
                                        <select name="item_name" class="form-control " onchange="itemChange(this)" data-placeholder="Choose an Item">
                                        <option disabled selected value> -- Choose an item -- </option>
                                        {{ range $io := .Retrievedg }}
                                        <option value="{{ $io._id }}" >[{{ $io.item_unique_code }}] {{ $io.invoice_narration }} (UOM:{{ $io.unit_measure }})</option>
                                        {{end}}
                                        </select>
                                        <label name="narration" class="control-label"></label>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="mt-repeater-input">
                                        <label class="control-label"><b>Rate</b></label>
                                        <br/>
                                        <input id="rate" name="price" type="text" onkeyup="ratechange(this)" class="form-control ratetxt txt" />
                                        </div>                                   
                                    </div>
                                    <div class="col-md-2">
                                        <label class="control-label"><b>Quantity</b></label>
                                        <br/>
                                        <input name="quantity" type="text" onkeyup="quantityChange(this)" class="form-control"/>
                                    </div>
                                                        
                                    <div class="col-md-2">
                                        <label class="control-label"><b>Total</b></label>
                                        <br/>
                                        <input name="total"  type="text" class="form-control" readonly />
                                    </div>

                                    <div class="col-md-2">
                                        <label class="control-label"><b>Discount</b></label>
                                        <br/>
                                        <input name="discount" type="text" class="form-control" onkeyup="discountChange(this)" />
                                     </div>
                                    </div>
                                    
                                </div>
                        
                            </div>
                            <div class="mt-repeater-input">
                                <a href="javascript:;" data-repeater-delete class="btn btn-danger mt-repeater-delete">
                                    <i class="fa fa-close"></i> Remove
                                </a>
                            </div>
                        </div>
                        <div data-repeater-item class="mt-repeater-item" >   
                            
                            <div class="row">
                                <div class="col-md-12" style="margin-left: 30px">
                                    <div class="form-group" style="margin-right: 15px">
                                        
                                    <div class="col-md-4">
                                        <label class="control-label"><b>Item/Product</b></label>
                                        <br/>
                                        <select name="item_name" class="form-control" onchange="itemChange(this)" data-size="4" data-placeholder="Choose an Item">
                                        <option disabled selected value> -- Choose an item -- </option>
                                        {{ range $io := .Retrievedg }}
                                        <option value="{{ $io._id }}" >[{{ $io.item_unique_code }}] {{ $io.invoice_narration }} (UOM:{{ $io.unit_measure }})</option>
                                        {{end}}
                                        </select>
                                        <label name="narration" class="control-label"></label>
                                    </div>
                                    
                                    <div class="col-md-2">
                                    <div class="mt-repeater-input">
                                        <label class="control-label"><b>Rate</b></label>
                                        <br/>
                                        <input id="rate" name="price" type="text" onkeyup="ratechange(this)" class="form-control ratetxt txt"  />
                                    </div>
                                    </div>
                                    <div class="col-md-2">
                                        <label class="control-label"><b>Quantity</b></label>
                                        <br/>
                                        <input name="quantity" type="text" onkeyup="quantityChange(this)" class="form-control" />
                                    </div>
                                    <div class="col-md-2">
                                        <label class="control-label"><b>Total</b></label>
                                        <br/>
                                        <input  name="total"  type="text" class="form-control pricetxt" readonly />
                                    </div>

                                    <div class="col-md-2">
                                        <label class="control-label"><b>Discount</b></label>
                                        <br/>
                                        <input name="discount" type="text" class="form-control"  onkeyup="discountChange(this)" />
                                    </div>
                                    </div>
                                </div>
                        
                            </div>
                            <div class="mt-repeater-input">
                                <a href="javascript:;" data-repeater-delete class="btn btn-danger mt-repeater-delete">
                                    <i class="fa fa-close"></i> Remove
                                </a>
                            </div>
                        </div>
                        <div data-repeater-item class="mt-repeater-item" >   
                            
                            <div class="row">
                                <div class="col-md-12" style="margin-left: 30px">
                                    <div class="form-group" style="margin-right: 15px">
                                        
                                    <div class="col-md-4">
                                        <label class="control-label"><b>Item/Product</b></label>
                                        <br/>
                                        <select name="item_name" class="form-control" onchange="itemChange(this)" data-size="4" data-placeholder="Choose an Item">
                                        <option disabled selected value> -- Choose an item -- </option>
                                        {{ range $io := .Retrievedg }}
                                        <option value="{{ $io._id }}" >[{{ $io.item_unique_code }}] {{ $io.invoice_narration }} (UOM:{{ $io.unit_measure }})</option>
                                        {{end}}
                                        </select>
                                        <label name="narration" class="control-label"></label>
                                    </div>
                                    <div class="col-md-2">
                                        <label class="control-label"><b>Rate</b></label>
                                        <br/>
                                        <input name="price" type="text" onkeyup="ratechange(this)" class="form-control ratetxt txt" />
                                    </div>
                                    <div class="col-md-2">
                                        <label class="control-label"><b>Quantity</b></label>
                                        <br/>
                                        <input name="quantity" class="form-control" type="text" onkeyup="quantityChange(this)" />
                                    </div>
                                                        
                                    <div class="col-md-2">
                                        <label class="control-label"><b>Total</b></label>
                                        <br/>
                                        <input name="total" type="text" class="form-control pricetxt" readonly />
                                    </div>

                                    <div class="col-md-2">
                                        <label class="control-label"><b>Discount</b></label>
                                        <br/>
                                        <input name="discount" type="text" class="form-control"  onkeyup="discountChange(this)" />
                                    </div>
                                    </div>
                                </div>
                        
                            </div>
                            <div class="mt-repeater-input">
                                <a href="javascript:;" data-repeater-delete class="btn btn-danger mt-repeater-delete">
                                    <i class="fa fa-close"></i> Remove
                                </a>
                            </div>
                        </div>
                        <div data-repeater-item class="mt-repeater-item" >   
                            
                            <div class="row">
                                <div class="col-md-12" style="margin-left: 30px">
                                    <div class="form-group" style="margin-right: 15px">
                                        
                                    <div class="col-md-4">
                                        <label class="control-label"><b>Item/Product</b></label>
                                        <br/>
                                        <select name="item_name" class="form-control" onchange="itemChange(this)" data-size="4" data-placeholder="Choose an Item">
                                        <option disabled selected value> -- Choose an item -- </option>
                                        {{ range $io := .Retrievedg }}
                                        <option value="{{ $io._id }}" >[{{ $io.item_unique_code }}] {{ $io.invoice_narration }} (UOM:{{ $io.unit_measure }})</option>
                                        {{end}}
                                        </select>
                                        <label name="narration" class="control-label"></label>
                                    </div>
                                    <div class="col-md-2">
                                        <label class="control-label"><b>Rate</b></label>
                                        <br/>
                                        <input name="price" type="text" onkeyup="ratechange(this)" class="form-control ratetxt txt" />
                                    </div>
                                    <div class="col-md-2">
                                        <label class="control-label"><b>Quantity</b></label>
                                        <br/>
                                        <input name="quantity" class="form-control" type="text" onkeyup="quantityChange(this)"  />
                                    </div>
                                                        
                                    <div class="col-md-2">
                                        <label class="control-label"><b>Total</b></label>
                                        <br/>
                                        <input name="total" type="text" class="form-control pricetxt" readonly />
                                    </div>

                                    <div class="col-md-2">
                                        <label class="control-label"><b>Discount</b></label>
                                        <br/>
                                        <input name="discount" type="text" class="form-control"  onkeyup="discountChange(this)" />
                                    </div>
                                    </div>
                                </div>
                        
                            </div>
                            <div class="mt-repeater-input">
                                <a href="javascript:;" data-repeater-delete class="btn btn-danger mt-repeater-delete">
                                    <i class="fa fa-close"></i> Remove
                                </a>
                            </div>
                        </div>
                        <div data-repeater-item class="mt-repeater-item" >   
                            
                            <div class="row">
                                <div class="col-md-12" style="margin-left: 30px">
                                    <div class="form-group" style="margin-right: 15px">
                                        
                                    <div class="col-md-4">
                                        <label class="control-label"><b>Item/Product</b></label>
                                        <br/>
                                        <select name="item_name" class="form-control " onchange="itemChange(this)" data-size="4" data-placeholder="Choose an Item">
                                        <option disabled selected value> -- Choose an item -- </option>
                                        {{ range $io := .Retrievedg }}
                                        <option value="{{ $io._id }}" >[{{ $io.item_unique_code }}] {{ $io.invoice_narration }} (UOM:{{ $io.unit_measure }})</option>
                                        {{end}}
                                        </select>
                                        <label name="narration" class="control-label"></label>
                                    </div>
                                    <div class="col-md-2">
                                        <label class="control-label"><b>Rate</b></label>
                                        <br/>
                                        <input name="price" type="text" onkeyup="ratechange(this)" class="form-control ratetxt txt" />
                                    </div>
                                    <div class="col-md-2">
                                        <label class="control-label"><b>Quantity</b></label>
                                        <br/>
                                        <input name="quantity" class="form-control" type="text" onkeyup="quantityChange(this)"  />
                                    </div>
                                                        
                                    <div class="col-md-2">
                                        <label class="control-label"><b>Total</b></label>
                                        <br/>
                                        <input name="total" type="text" class="form-control pricetxt" readonly />
                                    </div>

                                    <div class="col-md-2">
                                        <label class="control-label"><b>Discount</b></label>
                                        <br/>
                                        <input name="discount" type="text" class="form-control"  onkeyup="discountChange(this)" />
                                    </div>
                                    </div>
                                </div>
                        
                            </div>
                            <div class="mt-repeater-input">
                                <a href="javascript:;" data-repeater-delete class="btn btn-danger mt-repeater-delete">
                                    <i class="fa fa-close"></i> Remove
                                </a>
                            </div>
                        </div>
                    </div>
                    <a href="javascript:;" data-repeater-create class="btn btn-success mt-repeater-add">
                        <i class="fa fa-plus"></i>Items/Products
                    </a>
                </div>
        

            <div class="row" style="margin-top: 15px;">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">Total Quantity </label>
                        <div class="col-md-8">
                            <input id="total_quantity"  name="tquantity" type="text" class="form-control" readonly />
                             {{if .Errors.TotalQuantity}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.TotalQuantity}}</span>{{end}}
                        </div>
                    </div>
                </div>
                
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">Total Price </label>
                        <div class="col-md-8">
                            <input id="total_price" name="tprice" type="text" class="form-control " readonly />
                             {{if .Errors.TotalPrice}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.TotalPrice}}</span>{{end}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">Total Discount </label>
                        <div class="col-md-8">
                            <input name="tdiscount" type="text" class="form-control" id="total_discount" readonly />
                             {{if .Errors.TotalDiscount}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.TotalDiscount}}</span>{{end}}
                        </div>
                    </div>
                </div>
                 <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">Total After Discount </label>
                        <div class="col-md-8">
                            <input name="tadiscount" type="text" class="form-control" id="total_after_discount" readonly />
                             {{if .Errors.TotalAfterDiscount}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.TotalAfterDiscount}}</span>{{end}}
                        </div>
                    </div>
                </div>
             </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Excise Charges </label>
                        <div class="col-md-8">
                            <input id="excise" name="echarges" type="text"  class="form-control" onkeyup="calculateTafterExcise()" value="{{.FormItems.ExciseCharges}}"  />
                             {{if .Errors.ExciseCharges}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.ExciseCharges}}</span>{{end}}
                        </div>
                    </div>
                </div>
                     <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">Total After Excise </label>
                        <div class="col-md-8">
                            <input id="excisetotal" name="total_after_excise" type="text" class="form-control " readonly />
                             {{if .Errors.TotalAfterExcise}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.TotalAfterExcise}}</span>{{end}}
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Octroi Charges </label>
                        <div class="col-md-8">
                            <input id="octroi" name="ocharges" type="text"  class="form-control" onkeyup="calculateTafterOctroi()"  value="{{.FormItems.OctroiCharges}}" placeholder="">
                             {{if .Errors.OctroiCharges}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.OctroiCharges}}</span>{{end}}
                        </div>
                    </div>
                </div>
                     <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">Total After Octroi </label>
                        <div class="col-md-8">
                            <input id="octroitotal" name="total_after_octroi" type="text" class="form-control " readonly />
                             {{if .Errors.TotalAfterOctroi}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.TotalAfterOctroi}}</span>{{end}}
                        </div>
                    </div>
                </div>
                
            </div>
           
            <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-4">Total After Taxes </label>
                    <div class="col-md-8">
                        <input id="totaltaxes" name="tataxes" type="text" class="form-control" value="{{.FormItems.TotalAfterTaxes}}" readonly>
                            {{if .Errors.TotalAfterTaxes}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.TotalAfterTaxes}}</span>{{end}}
                    </div>
                </div>
            </div>
        
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">Transport Charges </label>
                        <div class="col-md-8">
                            <input   id="transport" name="tcharges" type="text" class="form-control " onkeyup="transportChange()" value="{{.FormItems.TransportCharges}}" placeholder="">
                             {{if .Errors.TransportCharges}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.TransportCharges}}</span>{{end}}
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">Dispatch Type </label>
                        <div class="col-md-8">
                            <input name="dispatch_type" type="text" class="form-control txt totaltxt" id="dt" value="{{.FormItems.DispatchType}}" placeholder="">
                            {{if .Errors.DispatchType}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.DispatchType}}</span>{{end}}
                        </div>
                    </div>
                </div>           
              </div>
          

            <div class="row">
                 <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">Payment Terms </label>
                        <div class="col-md-8">
                            <textarea name="payment_terms" class="form-control"  placeholder="" rows="3" >{{.FormItems.PaymentTerms}}</textarea>
                             {{if .Errors.PaymentTerms}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.PaymentTerms}}</span>{{end}}
                        </div>
                    </div>
                </div>
                
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">Remarks </label>
                        <div class="col-md-8">
                            <textarea name="remarks" class="form-control" placeholder="" rows="3" >{{.FormItems.Remarks}}</textarea>
                             {{if .Errors.Remarks}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Remarks}}</span>{{end}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">Total Sales Price </label>
                        <div class="col-md-8">

                            <input id="final_total" name="totalsalesprice" type="text" class="form-control" readonly>
                             {{if .Errors.TotalSalesPrice}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.TotalSalesPrice}}</span>{{end}}
                             </div>
                    </div>
                </div>
                 <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">Tariff Numbers </label>
                        <div class="col-md-8">
                            <input type="text" name="tariff_no" value="{{.FormItems.TariffNo}}" class="form-control" >
                            {{if .Errors.TariffNo}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.TariffNo}}</span>{{end}}

                        </div>
                    </div>
                </div>
                
           </div>
           <div class="form-actions">
            <div class="row">
                <div class="col-md-12" style="text-align: center;">
                    <button type="submit" name="assoc-button" value="draft" class="btn green" style="height: 40px;width: 100px">Save Draft</button>
                    <button type="submit" name="assoc-button" value="approval" class="btn green" style="height: 40px;width: 150px">Send for Approval</button>
                    <button type="button" class="btn default" style="height: 40px;width: 80px">Reset</button>
                </div>
            </div>
        </div>
                            
                        </form>
                    </div>  
                </div>
    
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN EXAMPLE TABLE PORTLET-->
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-dark">
                        <i class="icon-settings font-dark"></i>
                        <span class="caption-subject bold uppercase"> List</span>
                    </div>
                    <div class="actions">
                        <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" style="width:20px; height:20px; line-height: 0.999; padding-left:4px; "> </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <table class="table table-bordered table-hover table-checkable order-column" id="sales_list_table">
                        <thead>
                            <tr>                                                
                                <th class="text-center" style="text-align: left"> Order Number </th>
                                <th class="text-center" style="text-align: left"> Customer Name </th>
                                <th class="text-center" style="text-align: left"> Order Date </th>
                                <th class="text-center" style="text-align: left"> Delivery Date </th>
                                <th class="text-center" style="text-align: left"> Total Sales Price </th>
                                
                                <th th class="text-center" style="text-align: left">Action </th>

                            </tr>
                        </thead>
                        <tbody>
                         {{ range $sales := .Retrieved }}
                            <tr class="odd gradeX">                                                
                                <td style="text-align: left"> {{ $sales.order_no }} </td>
                                <td style="text-align: left">{{ $sales.company_name }}</td>
                                <td style="text-align: center">{{ $sales.o_date }} </td>
                                <td style="text-align: center"> {{ $sales.d_date }} </td>
                                <td style="text-align: center"> {{ $sales.total_sales_price }} </td>
                                
                                
                                <td class="text-center">
                                    <a href="#" id="{{ $sales._id}}" class="productview" data-toggle="modal" data-target="#salesModalDiv_{{ $sales.order_no}}" data-toggle="tooltip" title="View">
                                        <i class="fa fa-eye"></i>
                                    </a>

                                {{if compare $sales.status 0 }}
                                    <a class="statusupdate"  data-toggle="tooltip" title="draft">
                                    <i class="fa fa-circle" aria-hidden="true" style="color: grey"></i>
                                    </a>
                                {{else if compare $sales.status 1 }}
                                    <a  class="statusupdate"  data-toggle="tooltip" title="approval">
                                    <i class="fa fa-circle" aria-hidden="true" style="color: pink"></i>
                                    </a>
                                {{else if compare $sales.status 2 }}
                                    <a class="statusupdate"  data-toggle="tooltip" title="approved">
                                    <i class="fa fa-circle" aria-hidden="true" style="color: green"></i>
                                    </a>
                                {{else if compare $sales.status 3 }}
                                    <a class="statusupdate"  data-toggle="tooltip" title="sent_for_correction">
                                    <i class="fa fa-circle" aria-hidden="true" style="color: orange"></i>
                                    </a>
                                {{else if compare $sales.status 4 }}
                                    <a class="statusupdate"  data-toggle="tooltip" title="rejected">
                                    <i class="fa fa-circle" aria-hidden="true" style="color: red"></i>
                                    </a>
                                    {{else if compare $sales.status 5 }}
                                    <a class="statusupdate"  data-toggle="tooltip" title="sent_for_production">
                                    <i class="fa fa-cog" aria-hidden="true"></i>
                                    </a>
                        
                                {{else if compare $sales.status 6 }}
                                    <a class="statusupdate"  data-toggle="tooltip" title="pending_dispatch">
                                    <i class="fa fa-circle" aria-hidden="true" style="color: blue"></i>
                                    </a>
                            
                                {{else if compare $sales.status 7 }}
                                    <a class="statusupdate"  data-toggle="tooltip" title="dispatched">
                                    <i class="fa fa-truck" aria-hidden="true" ></i>
                                    </a>
                                
                                {{else if compare $sales.status 8 }}
                                    <a class="statusupdate"  data-toggle="tooltip" title="completed">
                                    <i class="fa fa-circle" aria-hidden="true" style="color: aqua"></i>
                                    </a>
                                {{end}}
                                    
                                </td>
                            </tr>
                            {{end}}
                            
                        </tbody>
                    </table>
                    <div class="actions text-right">
                        <div class="dropup ">
                            <button class="btn btn-default dropdown-toggle " type="button"  data-toggle="dropdown">Export
                                <span class="caret"></span></button>
                            <ul class="dropdown-menu pull-right">
                                <li role="presentation"><a tabindex="-1" href="#">Print</a></li>
                                <li role="presentation"><a tabindex="-1" href="#">PDF</a></li>
                                <li role="presentation"><a tabindex="-1" href="#">Excel</a></li>
                                <li role="presentation"><a tabindex="-1" href="#">CSV</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END EXAMPLE TABLE PORTLET-->
        </div>
    </div>
    </div>
    {{ range $salesModal := .Retrieved }}
    <div id="salesModalDiv_{{ $salesModal.order_no }}" class="modal fade bs-modal-lg" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <div class="portlet-title">
                        <div class="caption font-dark">
                            <i class="icon-settings font-dark"></i>
                            <span class="caption-subject bold uppercase"> Sales View</span>
                            <i class="fa fa-print no-print" title="Print" style="float:right;" onclick="jQuery('#salesModalDiv_{{ $salesModal.order_no }}').print()"></i>
                        </div>
                    </div>
                    <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
                </div>
                <div class="modal-body">
                    <table class="col-md-12" >
                        <tr>
                            <th class="col-md-3">Order Number:</th>
                            <td class="col-md-3">{{ $salesModal.order_no }}</td>
                            <th class="col-md-3">Order Date:</th>
                            <td class="col-md-3">{{ $salesModal.o_date }}</td>
                        </tr>
                    <!--<div class="row">
                        <div class="col-sm-6">
                            <lable class="col-md-5 control-label bold">Order Number:</lable>
                            <div class="col-md-7">{{ $salesModal.order_no }} </div>
                        </div>
                        <div class="col-sm-6">
                            <lable class="col-md-5 control-label bold">Order Date:</lable>
                            <div class="col-md-7">{{ $salesModal.o_date }} </div>
                        </div>
                    </div>-->
                    <tr>
                        <th class="col-md-3">Customer name:</th>
                        <td class="col-md-3">{{ $salesModal.company_name }}</td>
                        <th class="col-md-3">Job Type:</th>
                        <td class="col-md-3">{{ $salesModal.job_type }}</td>
                    </tr>
                    <!--<div class="row">
                        <div class="col-sm-6">
                            <lable class="col-md-5 control-label bold">Customer name:</lable>
                            <div class="col-md-7">{{ $salesModal.company_name }} </div>
                        </div>
                        <div class="col-sm-6">
                            <lable class="col-md-5 control-label bold">Job Type:</lable>
                            <div class="col-md-7">{{ $salesModal.job_type }} </div>
                        </div>
                    </div>-->
                    <tr>
                        <th class="col-md-3">Delivery Date:</th>
                        <td class="col-md-3">{{ $salesModal.d_date }}</td>
                        <th class="col-md-3">Total Quantity:</th>
                        <td class="col-md-3">{{ $salesModal.total_quantity }}</td>
                    </tr>
                    <!--<div class="row">
                        <div class="col-sm-6">
                            <lable class="col-md-5 control-label bold">Delivery Date:</lable>
                            <div class="col-md-7">{{ $salesModal.d_date }} </div>
                        </div>
                        <div class="col-sm-6">
                            <lable class="col-md-5 control-label bold">Total Quantity:</lable>
                            <div class="col-md-7">{{ $salesModal.total_quantity }} </div>
                        </div>
                    </div>-->
                    <tr>
                        <th class="col-md-3">Total Price:</th>
                        <td class="col-md-3">{{ $salesModal.total_price }}</td>
                        <th class="col-md-3">Total Discount:</th>
                        <td class="col-md-3">{{ $salesModal.total_discount }}</td>
                    </tr>
                    <!--<div class="row">
                        <div class="col-sm-6">
                            <lable class="col-md-5 control-label bold">Total Price:</lable>
                            <div class="col-md-7">{{ $salesModal.total_price }} </div>
                        </div>
                        <div class="col-sm-6">
                            <lable class="col-md-5 control-label bold">Total Discount:</lable>
                            <div class="col-md-7">{{ $salesModal.total_discount }} </div>
                        </div>
                    </div>-->
                    <tr>
                        <th class="col-md-3">Total After Discount:</th>
                        <td class="col-md-3">{{ $salesModal.total_after_discount }}</td>
                        <th class="col-md-3"></th>
                        <td class="col-md-3"></td>
                    </tr>
                    <!--<div class="row">
                        <div class="col-sm-6">
                            <lable class="col-md-5 control-label bold">Total After Discount:</lable>
                            <div class="col-md-7">{{ $salesModal.total_after_discount }} </div>
                        </div>
                        
                    </div>-->
                    <tr>
                        <th class="col-md-3">Excise charges:</th>
                        <td class="col-md-3">{{ $salesModal.excise_charges }}</td>
                        <th class="col-md-3">Total after Excise:</th>
                        <td class="col-md-3">{{ $salesModal.total_after_excise }}</td>
                    </tr>
                    <!--<div class="row">
                        <div class="col-sm-6">
                            <lable class="col-md-5 control-label bold">Excise charges:</lable>
                            <div class="col-md-7">{{ $salesModal.excise_charges }} </div>
                        </div>
                        <div class="col-sm-6">
                            <lable class="col-md-5 control-label bold">Total after Excise:</lable>
                            <div class="col-md-7">{{ $salesModal.total_after_excise }} </div>
                        </div>
                    </div>-->
                    <tr>
                        <th class="col-md-3">Form 30/33:</th>
                        <td class="col-md-3">{{ $salesModal.form30 }}</td>
                        <th class="col-md-3">Form C:</th>
                        <td class="col-md-3">{{ $salesModal.formc }}</td>
                    </tr>
                    <!--<div class="row">
                        <div class="col-sm-6">
                            <lable class="col-md-5 control-label bold">Form 30/33:</lable>
                            <div class="col-md-7">{{ $salesModal.form30 }} </div>
                        </div>
                        <div class="col-sm-6">
                            <lable class="col-md-5 control-label bold">Form C:</lable>
                            <div class="col-md-7">{{ $salesModal.formc }} </div>
                        </div>
                    </div>-->
                    <tr>
                        <th class="col-md-3">CST:</th>
                        <td class="col-md-3">{{ $salesModal.cst }}</td>
                        <th class="col-md-3">VAT:</th>
                        <td class="col-md-3">{{ $salesModal.vat }}</td>
                    </tr>
                    <!--<div class="row">
                        <div class="col-sm-6">
                            <lable class="col-md-5 control-label bold">CST:</lable>
                            <div class="col-md-7">{{ $salesModal.cst }} </div>
                        </div>
                        <div class="col-sm-6">
                            <lable class="col-md-5 control-label bold">VAT:</lable>
                            <div class="col-md-7">{{ $salesModal.vat }} </div>
                        </div>
                    </div>-->
                    <tr>
                        <th class="col-md-3">Total After Taxes:</th>
                        <td class="col-md-3">{{ $salesModal.total_price_after_taxes }}</td>
                        <th class="col-md-3">Transport charges:</th>
                        <td class="col-md-3">{{ $salesModal.transport_charges }}</td>
                    </tr>
                    <!--<div class="row">
                        <div class="col-sm-6">
                            <lable class="col-md-5 control-label bold">Total After Taxes:</lable>
                            <div class="col-md-7">{{ $salesModal.total_price_after_taxes }} </div>
                        </div>
                        <div class="col-sm-6">
                            <lable class="col-md-5 control-label bold">Transport charges:</lable>
                            <div class="col-md-7">{{ $salesModal.transport_charges }} </div>
                        </div>
                    </div>-->
                     <tr>
                        <th class="col-md-3">Dispatch Type:</th>
                        <td class="col-md-3">{{ $salesModal.dispatch_type }}</td>
                        <th class="col-md-3"></th>
                        <td class="col-md-3"></td>
                    </tr>
                    <!--<div class="row">
                       
                        <div class="col-sm-6">
                            <lable class="col-md-5 control-label bold">Dispatch Type:</lable>
                            <div class="col-md-7">{{ $salesModal.dispatch_type }} </div>
                        </div>
                       
                    </div>-->
                    <tr>
                        <th class="col-md-3">Payment Terms:</th>
                        <td class="col-md-3">{{ $salesModal.payment_terms }}</td>
                        <th class="col-md-3">Remarks:</th>
                        <td class="col-md-3">{{ $salesModal.remarks }}</td>
                    </tr>
                    <!--<div class="row">
                        <div class="col-sm-6">
                            <lable class="col-md-5 control-label bold">Payment Terms:</lable>
                            <div class="col-md-7">{{ $salesModal.payment_terms }} </div>
                        </div>
                        <div class="col-sm-6">
                            <lable class="col-md-5 control-label bold">Remarks:</lable>
                            <div class="col-md-7">{{ $salesModal.remarks }} </div>
                        </div>
                    </div>-->
                    <tr>
                        <th class="col-md-3">Total Sales Price:</th>
                        <td class="col-md-3">{{ $salesModal.total_sales_price }}</td>
                        <th class="col-md-3">Tariff Numbers:</th>
                        <td class="col-md-3">{{ $salesModal.tariff_no }}</td>
                    </tr>
                    <!--<div class="row">
                        <div class="col-sm-6">
                            <lable class="col-md-5 control-label bold">Total Sales Price:</lable>
                            <div class="col-md-7">{{ $salesModal.total_sales_price }} </div>
                        </div>
                        
                    </div>-->
                    </table>

                    <br>
                        <p id="demo_{{ $salesModal._id}}"></p>
                        </br>
                    <div class="row">
                        <div class="col-sm-12">
                           {{if compare $salesModal.status 1 }}
                            <button id="approved_{{$salesModal.order_no }}" type="submit" name="assoc-button" value="approved" class="btn green status-btn no-print" class="col-md-2" style="height: 40px;width: 100px">Approved</button>
                            <button id="correction_{{$salesModal.order_no }}" type="submit" name="assoc-button" value="send_for_correction" class="btn orange status-btn no-print" class="col-md-2" style="height: 40px;width: 170px">Send For Correction</button>
                            <button id="rejected_{{$salesModal.order_no }}" type="submit" name="assoc-button" value="rejected" class="btn red status-btn no-print" class="col-md-2" style="height: 40px;width: 100px">Rejected</button>
                            <button id="production_{{$salesModal.order_no }}" type="submit" name="assoc-button" value="send_for_production" class="btn blue status-btn no-print" class="col-md-2" style="height: 40px;width: 170px">Send for Production</button>
                            <button id="pending_{{$salesModal.order_no }}" type="submit" name="assoc-button" value="pending_dispatch" class="btn pink status-btn no-print" class="col-md-2" style="height: 40px;width: 150px">Pending Dispatch</button>
                            <button id="dispatched_{{$salesModal.order_no }}" type="submit" name="assoc-button" value="completed" class="btn yellow status-btn no-print" class="col-md-2" style="height: 40px;width: 120px">Dispatched</button>
                            <button id="completed_{{$salesModal.order_no }}" type="submit" name="assoc-button" value="completed" class="btn aqua status-btn no-print" class="col-md-2" style="height: 40px;width: 120px">Completed</button>
                            {{else if compare $salesModal.status 2 }}
                            <button id="correction_{{$salesModal.order_no }}" type="submit" name="assoc-button" value="send_for_correction" class="btn orange status-btn no-print" class="col-md-2" style="height: 40px;width: 170px">Send For Correction</button>
                            <button id="rejected_{{$salesModal.order_no }}" type="submit" name="assoc-button" value="rejected" class="btn red status-btn no-print" class="col-md-2" style="height: 40px;width: 100px">Rejected</button>
                            <button id="production_{{$salesModal.order_no }}" type="submit" name="assoc-button" value="send_for_production" class="btn blue status-btn no-print" class="col-md-2" style="height: 40px;width: 170px">Send for Production</button>
                            <button id="pending_{{$salesModal.order_no }}" type="submit" name="assoc-button" value="pending_dispatch" class="btn pink status-btn no-print" class="col-md-2" style="height: 40px;width: 150px">Pending Dispatch</button>
                            <button id="dispatched_{{$salesModal.order_no }}" type="submit" name="assoc-button" value="completed" class="btn yellow status-btn no-print" class="col-md-2" style="height: 40px;width: 120px">Dispatched</button>
                            <button id="completed_{{$salesModal.order_no }}" type="submit" name="assoc-button" value="completed" class="btn aqua status-btn no-print" class="col-md-2" style="height: 40px;width: 120px">Completed</button>
                            {{else if compare $salesModal.status 3 }}
                            <button id="rejected_{{$salesModal.order_no }}" type="submit" name="assoc-button" value="rejected" class="btn red status-btn no-print" class="col-md-2" style="height: 40px;width: 100px">Rejected</button>
                            <button id="production_{{$salesModal.order_no }}" type="submit" name="assoc-button" value="send_for_production" class="btn blue status-btn no-print" class="col-md-2" style="height: 40px;width: 170px">Send for Production</button>
                            <button id="pending_{{$salesModal.order_no }}" type="submit" name="assoc-button" value="pending_dispatch" class="btn pink status-btn no-print" class="col-md-2" style="height: 40px;width: 150px">Pending Dispatch</button>
                            <button id="dispatched_{{$salesModal.order_no }}" type="submit" name="assoc-button" value="completed" class="btn yellow status-btn no-print" class="col-md-2" style="height: 40px;width: 120px">Dispatched</button>
                            <button id="completed_{{$salesModal.order_no }}" type="submit" name="assoc-button" value="completed" class="btn aqua status-btn no-print" class="col-md-2" style="height: 40px;width: 120px">Completed</button>
                            {{else if compare $salesModal.status 4 }}
                            <button id="production_{{$salesModal.order_no }}" type="submit" name="assoc-button" value="send_for_production" class="btn blue status-btn no-print" class="col-md-2" style="height: 40px;width: 170px">Send for Production</button>
                            <button id="pending_{{$salesModal.order_no }}" type="submit" name="assoc-button" value="pending_dispatch" class="btn pink status-btn no-print" class="col-md-2" style="height: 40px;width: 150px">Pending Dispatch</button>
                            <button id="dispatched_{{$salesModal.order_no }}" type="submit" name="assoc-button" value="completed" class="btn yellow status-btn no-print" class="col-md-2" style="height: 40px;width: 120px">Dispatched</button>
                            <button id="completed_{{$salesModal.order_no}}" type="submit" name="assoc-button" value="completed" class="btn aqua status-btn no-print" class="col-md-2" style="height: 40px;width: 120px">Completed</button>
                            {{else if compare $salesModal.status 5 }}
                            <button id="pending_{{$salesModal.order_no }}" type="submit" name="assoc-button" value="pending_dispatch" class="btn pink status-btn no-print" class="col-md-2" style="height: 40px;width: 150px">Pending Dispatch</button>
                            <button id="dispatched_{{$salesModal.order_no }}" type="submit" name="assoc-button" value="completed" class="btn yellow status-btn no-print" class="col-md-2" style="height: 40px;width: 120px">Dispatched</button>
                            <button id="completed_{{$salesModal.order_no}}" type="submit" name="assoc-button" value="completed" class="btn aqua status-btn no-print" class="col-md-2" style="height: 40px;width: 120px">Completed</button>
                            {{else if compare $salesModal.status 6 }}
                            <button id="dispatched_{{$salesModal.order_no }}" type="submit" name="assoc-button" value="completed" class="btn yellow status-btn no-print" class="col-md-2" style="height: 40px;width: 120px">Dispatched</button>
                            <button id="completed_{{$salesModal.order_no}}" type="submit" name="assoc-button" value="completed" class="btn aqua status-btn no-print" class="col-md-2" style="height: 40px;width: 120px">Completed</button>
                            {{else if compare $salesModal.status 7 }}
                            <button id="completed_{{$salesModal.order_no}}" type="submit" name="assoc-button" value="completed" class="btn aqua status-btn no-print" class="col-md-2" style="height: 40px;width: 120px">Completed</button>
                            {{else if compare $salesModal.status 8 }}
                            {{else}}
                            <button id="approval_{{$salesModal.order_no }}" type="submit" name="assoc-button" value="send_for_approval" class="btn grey status-btn no-print" class="col-md-2" style="height: 40px;width: 160px">Send for Approval</button>
                            <button id="approved_{{$salesModal.order_no }}" type="submit" name="assoc-button" value="approved" class="btn green status-btn no-print" class="col-md-2" style="height: 40px;width: 100px">Approved</button>
                            <button id="correction_{{$salesModal.order_no }}" type="submit" name="assoc-button" value="send_for_correction" class="btn orange status-btn no-print" class="col-md-2" style="height: 40px;width: 170px">Send For Correction</button>
                            <button id="rejected_{{$salesModal.order_no}}" type="submit" name="assoc-button" value="rejected" class="btn red status-btn no-print" class="col-md-2" style="height: 40px;width: 100px">Rejected</button>
                            <button id="production_{{$salesModal.order_no }}" type="submit" name="assoc-button" value="send_for_production" class="btn blue status-btn no-print" class="col-md-2" style="height: 40px;width: 170px">Send for Production</button>
                            <button id="pending_{{$salesModal.order_no }}" type="submit" name="assoc-button" value="pending_dispatch" class="btn blue status-btn no-print" class="col-md-2" style="height: 40px;width: 150px">Pending Dispatch</button>
                            <button id="dispatched_{{$salesModal.order_no }}" type="submit" name="assoc-button" value="completed" class="btn blue status-btn no-print" class="col-md-2" style="height: 40px;width: 120px">Dispatched</button>
                            <button id="completed_{{$salesModal.order_no }}" type="submit" name="assoc-button" value="completed" class="btn blue status-btn no-print" class="col-md-2" style="height: 40px;width: 120px">Completed</button>
                            {{end}}

                        </div>
                        
                    </div>
                   <!-- <table class="table table-bordered table-hover dt-responsive dataTable table-checkable order-column" width="80%">
                        <thead>
                            <tr>
                                <th>Item Name</th>
                                <th>Quantity</th>
                                <th>UOM</th>
                                <th>Price</th>
                                <th>Discount</th>
                                <th>Delivery Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ $salesModal.name }}</td>
                                <td>{{ $salesModal.quantity }}</td>
                                <td>{{ $salesModal.uom }}</td>
                                <td>{{ $salesModal.price }}</td>
                                <td>{{ $salesModal.discount }}</td>
                                <td>{{ $salesModal.delivery_date }}</td>
                            </tr>
                        </tbody>
                    </table>-->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default no-print" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    </div>
    {{end}}     

    <!-- END PAGE BASE CONTENT -->

<!-- END CONTENT BODY -->

<!-- END CONTENT -->
{{ end }}
            
        {{ define "pagelevelplugins"}}
        <!-- BEGIN PAGE LEVEL PLUGINS -->
       <script src="/static/assets/global/scripts/datatable.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/jquery-repeater/jquery.repeater.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.js" type="text/javascript"></script>
        <!--<script src="/static/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>-->
         <script src="/static/assets/global/plugins/bootstrap-select/js/bootstrap-select.min.js" type="text/javascript"></script>
         <!--<script src="/static/assets/global/plugins/jquery-multi-select/js/jquery.multi-select.js" type="text/javascript"></script>-->
         <script src="/static/assets/global/plugins/typeahead/typeahead.bundle.min.js" type="text/javascript"></script>
         <script src="/static/assets/global/plugins/jQuery.print-master/jQuery.print.js" type="text/javascript"></script>
         
        <!-- END PAGE LEVEL PLUGINS -->
        {{end}}
        
        {{define "pagelevelscripts"}}
        <!-- BEGIN THEME GLOBAL SCRIPTS -->
        <script src="/static/assets/pages/scripts/table-datatables-managed.js" type="text/javascript"></script>
        <!--<script src="/static/assets/pages/scripts/components-select2.min.js" type="text/javascript"></script>-->
        
        <!--<script src="/static/assets/pages/scripts/form-repeater.min.js" type="text/javascript"></script>-->
        <script src="/static/assets/pages/scripts/components-date-time-pickers.min.js" type="text/javascript"></script>
        <script src="/static/assets/pages/scripts/components-bootstrap-select.min.js" type="text/javascript"></script>
        <script src="/static/assets/pages/scripts/components-bootstrap-touchspin.js" type="text/javascript"></script>
        <!--<script src="/static/assets/pages/scripts/components-multi-select.min.js" type="text/javascript"></script>-->
         <script src="/static/assets/global/plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.js"></script>
        <script type="text/javascript">
             $('.date-picker').datepicker({
             pickerPosition: "bottom-left"
             });
         </script>
         <script type="text/javascript">
        var todaysDate = new Date();
        function convertDate(date) {
            var yyyy = date.getFullYear().toString();
            var mm = (date.getMonth()+1).toString();
            var dd  = date.getDate().toString();

            var mmChars = mm.split('');
            var ddChars = dd.split('');

            return yyyy + '-' + (mmChars[1]?mm:"0"+mmChars[0]) + '-' + (ddChars[1]?dd:"0"+ddChars[0]);
        }

        document.getElementById('todays_date').value = convertDate(todaysDate);
    </script>

<script type="text/javascript">
    $(function() {
    $(document).on('click','.productview',function(e){
        //e.preventDefault()
    var element = $(this);
    var product_id = element.attr("id");
    var info = 'id=' + product_id;
        $.ajax({
            type: "GET",
            url: "/sales/so-items",
            data: info,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            cache: false,
            success: function(data){ 
                var thead = '<table class="table table-bordered table-hover dt-responsive dataTable table-checkable order-column" width="80%"><thead><tr><th>Item</th><th style="width:20%;">Quantity</th><th style="width:20%;">Rate</th><th style="width:10%;">Discount</th><th style="width:20%;">Delivery Date</th><th style="width:10%;">UOM</th></td></tr></thead><tbody>';

                var tfooter = '</tbody></table>';
                var trHTML = '';
                
                $.each(data.items, function (i, item) {
                    
                    trHTML += '<tr><td style="padding-left:20px">' + item + '</td><td style="padding-left:10px">' + data.quantity[i] +'</td><td style="padding-left:20px">' + data.rate[i] +'</td><td style="padding-left:20px">' + data.discount[i] + '</td><td style="padding-left:20px">' + data.delivery_date[i] + '</td><td style="padding-left:20px">' + data.uom[i] + '</td></tr>';
                });
                var demo = 'demo_' + product_id
                document.getElementById(demo).innerHTML = thead + trHTML + tfooter;
            } 
        });
        });
    });
</script>

<script type="text/javascript">
  function  itemChange(element) {
      var customer_id = $(supplier_id).val();
      if (customer_id == null) {
        window.alert("Choose the Customer first");
        element.selectedIndex = 0;
      } else {
            //supplier = $(supplier_id).val();
            // Pure JS
            //var element = $(this);
            //var _id = element.attr("id");
            //var _name = element.attr("name");
            var _name = element.name;
            //window.alert(_name);
            var res = _name.split("[");
            var new_res = res[1].split("]");
            //var res = _name.charAt(8);
            //var proper_id = res[1];
            var rate_name = "group-a[" + new_res[0] + "][price]" ;
            var narration_name = "group-a[" + new_res[0] + "][narration]" ;
            //window.alert(proper_id);
            
            // var rate_id = "#" + _id;
            var selectedVal = element.value;
            //var selectedText = this.options[this.selectedIndex].text;

            var info = 'item=' + selectedVal+ '&customer=' + customer_id;

            $.ajax({
                type: "GET",
                url: "/sales/sales-rates",
                data: info,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                cache: false,
                success: function(data){ 
                    //$('input[name=proper_id]').val(data.rate);
                     document.getElementsByName(rate_name)[0].value = data.rate ;
                     document.getElementsByName(narration_name)[0].textContent = data.customer_narration;
                } 
            });
      }
            
    }
</script>

<script type="text/javascript">
    $(function() {
    $(document).on('click','.status-btn',function(e){
        //e.preventDefault()
    var element = $(this);
    var btn_id = element.attr("id");
    var res = btn_id.split("_");
    if (res[0]=="approval")
    {
        var product_status = 1;
    } else if (res[0]=="approved"){
        var product_status = 2;
    } else if (res[0]=="correction"){
        var product_status = 3;
    } else if (res[0]=="rejected"){
        var product_status = 4;
    } else if (res[0]=="production"){
        var product_status = 5;
    } else if (res[0]=="pending"){
        var product_status = 6;
    } else if (res[0]=="dispatched"){
        var product_status = 7;
    } else if (res[0]=="completed"){
        var product_status = 8;
    }
    var product_id = res[1];
    var info = 'product_id=' + product_id + '&product_status=' + product_status;
        $.ajax({
            type: "GET",
            url: "/sales/sales-status",
            data: info,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            cache: false,
            success: function(data){ 
                if (data != 0)
                {
                    location.reload(); 
                }
            } 
        });
        });
    });
</script>
<script type="text/javascript">
    function updatebox(){
        var textbox = document.getElementById("v1")
        textbox.value = ""
    if(document.getElementById('f30').checked){
        textbox.value = "5"
    }
        }
</script>

<script type="text/javascript">
    function updatebox1(){
        var textbox = document.getElementById("c1")
        textbox.value = ""
    if(document.getElementById('fc').checked){
        textbox.value = "2"
    }
        }
</script>



<script>
    $(document).ready(function () {
        $('.mt-repeater').repeater({
            // (Optional)
            // start with an empty list of repeaters. Set your first (and only)
            // "data-repeater-item" with style="display:none;" and pass the
            // following configuration flag
            //initEmpty: true,
            // (Optional)
            // "defaultValues" sets the values of added items.  The keys of
            // defaultValues refer to the value of the input's name attribute.
            // If a default value is not specified for an input, then it will
            // have its value cleared.
            // defaultValues: {
            //     'text-input': 'foo'
            // },
            // (Optional)
            // "show" is called just after an item is added.  The item is hidden
            // at this point.  If a show callback is not given the item will
            // have $(this).show() called on it.
            show: function () {
                $(this).slideDown();
                $('.date-picker').datepicker({
                    rtl: App.isRTL(),
                    orientation: "left",
                    autoclose: true
                });
            },
            // (Optional)
            // "hide" is called when a user clicks on a data-repeater-delete
            // element.  The item is still visible.  "hide" is passed a function
            // as its first argument which will properly remove the item.
            // "hide" allows for a confirmation step, to send a delete request
            // to the server, etc.  If a hide callback is not given the item
            // will be deleted.
            hide: function (deleteElement) {
                if(confirm('Are you sure you want to delete this element?')) {
                    $(this).slideUp(deleteElement);
                }
            },
            // (Optional)
            // You can use this if you need to manually re-index the list
            // for example if you are using a drag and drop library to reorder
            // list items.
            // ready: function (setIndexes) {
            //     $dragAndDrop.on('drop', setIndexes);
            // },
            // (Optional)
            // Removes the delete button from the first list item,
            // defaults to false.
            isFirstItemUndeletable: true
        })
    });
</script>

<script type="text/javascript">
    function ratechange(element) {
        var _name = element.name;
        var res = _name.split("[");
        var new_res = res[1].split("]");
        var qty_name = "group-a[" + new_res[0] + "][quantity]" ;
        var qtyVal = document.getElementsByName(qty_name)[0].value;
        if(!isNaN(qtyVal) && qtyVal.length!=0) {
            quantityChange(element);
            //totalChange(element);

        }
    }
</script>

<script type="text/javascript">
    qty_total = [];
  function  quantityChange(element) {
    var _name = element.name;
    var res = _name.split("[");
    var new_res = res[1].split("]");
    var rate_name = "group-a[" + new_res[0] + "][price]" ;
    var rateVal = document.getElementsByName(rate_name)[0].value;
    
    if (rateVal == null || rateVal == "") {
        window.alert("Choose an Item/Product first");
        element.selectedIndex = 0;
    } else {
        var total_name = "group-a[" + new_res[0] + "][total]" ;
        var qty_name = "group-a[" + new_res[0] + "][quantity]" ;
        //var quantityVal = document.getElementsByName(qty_name)[0].value;
        qty_total[new_res[0]] = document.getElementsByName(qty_name)[0].value;

        var new_total = rateVal * qty_total[new_res[0]] ;

        document.getElementsByName(total_name)[0].value = new_total.toFixed(2);

        var qtl = qty_total.length; 
    
        var new_total_qty = 0.0;
        for (i=0; i < qtl; i++) {
            var low = parseFloat(qty_total[i]);
            if(isNaN(low) || low.length == 0) {
                    low = 0.0
                }
            new_total_qty = new_total_qty + low;
        }
        
        document.getElementById('total_quantity').value = new_total_qty.toFixed(5);
        //discountChange(element);
        totalChange(element);
    }
    
  }
</script>
<script type="text/javascript">
    total = [];
  function totalChange(element) {
      
    var _name = element.name;
    var res = _name.split("[");
    var new_res = res[1].split("]");
    var total_name = "group-a[" + new_res[0] + "][total]" ;
    
    total[new_res[0]] = document.getElementsByName(total_name)[0].value;
   
    var x = total.length; 
    
    var new_total_price = 0.0;
    for (i=0; i < x; i++) {
        var low = parseFloat(total[i]);
        if(isNaN(low) || low.length == 0) {
                    low = 0.0
                }
        new_total_price = new_total_price + low;
    }
    
    document.getElementById('total_price').value = new_total_price.toFixed(2);
    document.getElementById('final_total').value = new_total_price.toFixed(2);
    discountChange(element);
    // calculateTafterDiscount();
    // calculateTafterExcise();
    // calculateTafterOctroi();
    // transportChange();
  }
</script>
<script type="text/javascript">
    discount_total = [];
  function discountChange(element) {
      
    var _name = element.name;
    var res = _name.split("[");
    var new_res = res[1].split("]");
    var discount_name = "group-a[" + new_res[0] + "][discount]" ;
    var discount = document.getElementsByName(discount_name)[0].value;
    
    if(!isNaN(discount) && discount.length!=0) {
        discount_total[new_res[0]] = document.getElementsByName(discount_name)[0].value;
        
        var x = discount_total.length; 
        
        var new_total_discount = 0.0;
        for (i=0; i < x; i++) {
            var low = parseFloat(discount_total[i]);
            if(isNaN(low) || low.length == 0) {
                    low = 0.0
                }
            new_total_discount = new_total_discount + low;
        }
        //window.alert(new_total_discount);
        document.getElementById('total_discount').value = new_total_discount.toFixed(2);
    } else {
        var x = discount_total.length; 
        if ( x <= 0 ){
            document.getElementById('total_discount').value = 0.0;
        } else {
            var new_total_discount = 0.0;
            for (i=0; i < x; i++) {
                var low = parseFloat(discount_total[i]);
                if(isNaN(low) || low.length == 0) {
                    low = 0.0
                }
                new_total_discount = new_total_discount + low;
            }
            //window.alert(new_total_discount);
            document.getElementById('total_discount').value = new_total_discount.toFixed(2);
        }
    }
    calculateTafterDiscount();
    calculateTafterExcise();
    calculateTafterOctroi();
    transportChange();
    
  }
</script>
<script>
    function calculateTafterDiscount() {
        var t_discount = document.getElementById('total_discount').value;
        
        if(!isNaN(t_discount) && t_discount.length!=0) {
            var total_discount = parseFloat(t_discount);
            var total_price = parseFloat(document.getElementById('total_price').value);
            
            var total_after_discount = total_price - total_discount ;

            document.getElementById('total_after_discount').value = total_after_discount.toFixed(2);
            document.getElementById('final_total').value = total_after_discount.toFixed(2);
        }
    }
    function calculateTafterExcise() {
        var excise_charges = document.getElementById('excise').value;
        
        if(!isNaN(excise_charges) && excise_charges.length!=0) {
            var echarges = parseFloat(excise_charges);
            var total_after_discount = parseFloat(document.getElementById('total_after_discount').value);
            var excisep = echarges/100;
            var exciset = (total_after_discount * excisep) + total_after_discount ;
            
            document.getElementById('excisetotal').value = exciset.toFixed(2);
            document.getElementById('final_total').value = exciset.toFixed(2);
        }
    }
    function calculateTafterOctroi() {
        var octroi_charges = document.getElementById('octroi').value;
        
        if(!isNaN(octroi_charges) && octroi_charges.length!=0) {
            var ocharges = parseFloat(octroi_charges);
            var total_after_excise = parseFloat(document.getElementById('excisetotal').value);
            var octroip = ocharges/100;
            var octroit = (total_after_excise * octroip) + total_after_excise ;
            
            document.getElementById('octroitotal').value = octroit.toFixed(2);
            document.getElementById('totaltaxes').value = octroit.toFixed(2);
            document.getElementById('final_total').value = octroit.toFixed(2);
        }
    }
    function transportChange() {
        var transport_charges = document.getElementById('transport').value;
        
        if(!isNaN(transport_charges) && transport_charges.length!=0) {
            var tcharges = parseFloat(transport_charges);
            var total_after_taxes = parseFloat(document.getElementById('totaltaxes').value);
            
            var total_after_transport = total_after_taxes + tcharges ;
            //window.alert(total_after_transport);
            document.getElementById('final_total').value = total_after_transport.toFixed(2);
        }
    }
</script>
<!-- END THEME GLOBAL SCRIPTS -->
{{end}}