{{ template "master_layout.html" . }}

{{ define "pagelevelstyles"}}
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link href="/static/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="/static/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/assets/global/plugins/typeahead/typeahead.css" rel="stylesheet" type="text/css" />
    <link href="/static/assets/global/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL STYLES -->
{{end}}

{{ define "content" }}    
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">
            <!-- BEGIN PAGE BASE CONTENT -->

            <div class="row">
                <div class="col-md-12">
                    <div class="portlet light bordered">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="icon-equalizer font-green"></i>
                                <span class="caption-subject bold font-green uppercase">Add Employee</span>
                            </div>
                            <div class="actions">
                                <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" style="width:20px; height:20px; line-height: 0.999; padding-left:4px; "> </a>
                            </div>
                            <div class="tools nts-tools faq-links" style="margin-top:0;">
                            {{if .ErrorsPresent}} 
                                <a href=""  class="collapse btn blue" style="background-image:none; width: 60px; height: 20px; padding:0; margin-top: -6px;">
                                    <i class="fa fa-minus" style=" margin-left: -1px; margin-top: 2px;"></i><span style="font-size: smaller;">Close</span> <span style="display : none; font-size: smaller;">Add</span>
                                </a>
                             {{else}} 
                                <a href="" class="expand btn blue" style="background-image:none; width: 60px; height: 20px; padding:0; margin-top: -6px;" >
                                    <i class="fa fa-plus" style=" margin-left: -1px; margin-top: 2px;"></i> <span style="font-size: smaller;">Add</span> <span style="display : none; font-size: smaller;">Close</span> 
                                </a>  
                             {{end}}
                            </div>
                        </div>
                        {{if .ErrorsPresent}} 
                      <div class="portlet-body form" style="display:block" >
                      {{else}}  
                      <div class="portlet-body form"  style="display:none" >
                      {{end}}
                            <!-- BEGIN FORM-->
                            <form method="POST" class="form-horizontal">
                             {{ .xsrfdata }}
                                <div class="form-body">
                                    <h3 class="form-section">Employee Details</h3>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true"></span>Employee ID </label>
                                                <div class="col-md-8">
                                                    <input type="text" name="emp" value="{{ .genCode }} " placeholder="{{ .Retrieved1.employeem_0.employee_id }}" class="form-control" readonly >
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Name </label>
                                                <div class="col-md-8">
                                                    <input name="name" type="text" class="form-control" value="{{.FormItems.Name}}" placeholder="">
                                                    {{if .Errors.Name}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Name}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>
                                    <!--/row-->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Date of Birth </label>
                                                <div class="col-md-8">
                                                    <div class="input-group input-medium date external-date-picker" data-date-format="yyyy-mm-dd">
                                                        <input name="dob" type="text" class="form-control" value="{{.FormItems.DOB}}" readonly placeholder="">
                                                        {{if .Errors.DOB}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.DOB}}</span>{{end}}
                                                        <span class="input-group-btn">
																	<button class="btn default" type="button">
																		<i class="fa fa-calendar"></i>
																	</button>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Email ID</label>
                                                <div class="col-md-8">
                                                    <input name="email" type="email" class="form-control" value="{{.FormItems.Email}}" placeholder="">
                                                    {{if .Errors.Email}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Email}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>
                                    <!--/row-->
                                    <div class="row">

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Contact Number </label>
                                                <div class="col-md-8">
                                                    <input name="contact_no" type="text" class="form-control" value="{{.FormItems.ContactNo}}" placeholder="">
                                                    {{if .Errors.ContactNo}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.ContactNo}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                      <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Blood Group </label>
                                                <div class="col-md-8">
                                                    <input name="blood_group" type="text" class="form-control" value="{{.FormItems.BloodGroup}}" placeholder="">
                                                    {{if .Errors.BloodGroup}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.BloodGroup}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>
                                   
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Emergency Contact Name </label>
                                                <div class="col-md-8">
                                                    <input name="e_contact" type="text" class="form-control" value="{{.FormItems.EContact}}" placeholder="">
                                                    {{if .Errors.EContact}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.EContact}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Emergency Contact No </label>
                                                <div class="col-md-8">
                                                    <input name="e_phone_no" type="text" class="form-control" value="{{.FormItems.EPhoneNo}}" placeholder="">
                                                    {{if .Errors.EPhoneNo}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.EPhoneNo}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>
                                    <!--/row-->
                                    
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Relationship </label>
                                                <div class="col-md-8">
                                                    <input name="relationship" type="text" class="form-control" value="{{.FormItems.Relationship}}" placeholder="">
                                                    {{if .Errors.Relationship}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Relationship}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->

                                        <!--/span-->
                                    </div>
                                    <!--/row-->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Address</label>
                                                <div class="col-md-8">
                                                            <textarea  name="office_address" class="form-control" rows="3" value="{{.FormItems.OfficeAddress}}" placeholder=""  ></textarea>
                                                             {{if .Errors.OfficeAddress}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.OfficeAddress}}</span>{{end}}
                                                        </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Qualification </label>
                                                <div class="col-md-8">
                                                    <input name="qualification" type="text" class="form-control" value="{{.FormItems.Qualification}}" placeholder="">
                                                    {{if .Errors.Qualification}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Qualification}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                       
                                    </div>
                                    <div class="row">
                                        
                                    </div>
                                    <!--/row-->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Department </label>
                                                <div class="col-md-8">
                                                    <input name="department" type="text" class="form-control" value="{{.FormItems.Department}}" placeholder="">
                                                    {{if .Errors.Department}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Department}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Designation </label>
                                                <div class="col-md-8">
                                                    <input name="designation" type="text" class="form-control" value="{{.FormItems.Designation}}" placeholder="">
                                                    {{if .Errors.Designation}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Designation}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>
                                    <!--/row-->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Job Title </label>
                                                <div class="col-md-8">
                                                    <input name="job_title" type="text" class="form-control" value="{{.FormItems.JobTitle}}" placeholder="">
                                                    {{if .Errors.JobTitle}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.JobTitle}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>ID Proof </label>
                                                <div class="col-md-8">
                                                    <input name="id_proof" type="text" class="form-control" value="{{.FormItems.ID}}" placeholder="">
                                                    {{if .Errors.ID}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.ID}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>
                                    <!--/row-->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Date of Joining </label>
                                                <div class="col-md-8">
                                                    <div class="input-group input-medium date date-picker" data-date-format="yyyy-mm-dd" >
                                                        <input name="doj" type="text" class="form-control" value="{{.FormItems.DOJ}}" readonly placeholder="">
                                                        {{if .Errors.DOJ}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.DOJ}}</span>{{end}}
                                                        <span class="input-group-btn">
																	<button class="btn default" type="button">
																		<i class="fa fa-calendar"></i>
																	</button>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                   
                                        <!--/span-->
                                    </div>
                                    <!--/row-->
                                </div>
                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-12" style="text-align: center;">
                                            <button type="submit" class="btn green" style="height: 40px;width: 80px">Submit</button>
                                            <button type="reset" class="btn default" style="height: 40px;width: 80px">Reset</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <!-- END FORM-->
                        </div>
                    </div>
                </div>

            </div>


            <div class="row">
                <div class="col-md-12">
                    <!-- BEGIN EXAMPLE TABLE PORTLET-->
                    <div class="portlet light bordered">
                        <div class="portlet-title">
                            <div class="caption font-dark">
                                <i class="icon-settings font-dark"></i>
                                <span class="caption-subject bold uppercase"> List of Employees</span>
                            </div>
                            <div class="actions">
                                <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" style="width:20px; height:20px; line-height: 0.999; padding-left:4px; "> </a>
                            </div>
                        </div>
                        <!--<span style="float: left;color: grey;font-size:11px">Search Employees by..</span>-->
                        <form method="POST" class="form-inline">
                            <input type="hidden" name="Searchmethod" value="srch" />
                            {{ .xsrfdata }}	
                            <div class="form-group">
                                <!--<label for="ItemCode">Item Code:<span class="required" aria-required="true"></span></label>-->
                                <input id="EmployeeName" name="EmployeeName" class="form-control" type="text" placeholder="Employee Name" value="{{.SearchItems.EmployeeName}}">
                            </div>
                            <div class="form-group">
                                <!--<label for="ItemName"> Item Name:<span class="required" aria-required="true"></span></label>-->
                                <input id="Department" name="EmployeeDepartment" class="form-control" type="text"  placeholder="Department" value="{{.SearchItems.EmployeeDepartment}}">
                            </div>
                            <button value="SearchEmployee" type="submit"  name="eployee-search" class="btn green">Search</button>
                            <button type="submit" class="btn default" name="Reset-employeeSearch" value="ResetEmployeeSearch" style="height: 35px;width: 80px">Reset</button>
                        </form>
                        <div class="portlet-body">
                            <table id="employee_table" class="table table-bordered table-hover table-checkable order-column" >
                                <thead>
                                    <tr>
                                        <th style="text-align: left; padding-left: 5px; width: 100px;"> Employee ID</th>
                                        <th style="text-align: left; width: 300px;"> Name </th>                                                 
                                        <th style="text-align: left"> Contact No. </th>                                        
                                        <th style="text-align: left"> Department </th>
                                        <th style="text-align: left"> Designation </th>
                                        <th> </th>
                                    </tr>
                                </thead> 
                                <tbody>
                                 {{ range $employee := .Retrieved }}
                                    <tr class="odd gradeX">
                                       
                                        <td style="text-align: left; padding-left: 5px;">{{ $employee.employee_id }} </td>
                                        <td style="text-align: left"> {{ $employee.name }}</td>
                                        <td style="text-align: right;"> {{ $employee.contact_no }} </td>
                                        <td style="text-align: left"> {{ $employee.department }} </td>
                                        <td style="text-align: left"> {{ $employee.designation }}</td>
                                        <td class="text-center">
                                            <a data-toggle="modal" data-target="#employeeModal_{{ $employee._id }}" data-toggle="tooltip" title="View">
                                                <i class="fa fa-eye"></i>
                                            </a>
                                        </td>
                                    </tr>
                                     {{end}}
                                    
                                </tbody>
                            </table>
                            <!-- <div class="actions text-right">
                                <ul class="pagination">
                                          <li class="active"><a href="#">1</a></li>
                                          <li ><a href="#">2</a></li>
                                          <li><a href="#">3</a></li>
                                          <li><a href="#">4</a></li>
                                          <li><a href="#">5</a></li>
                                        </ul>
                                <div class="dropup ">
                                    <button class="btn btn-default dropdown-toggle " type="button"  data-toggle="dropdown">Export
                                        <span class="caret"></span></button>
                                    <ul class="dropdown-menu pull-right">
                                        <li role="presentation"><a tabindex="-1" href="#">Print</a></li>
                                        <li role="presentation"><a tabindex="-1" href="#">PDF</a></li>
                                        <li role="presentation"><a tabindex="-1" href="#">Excel</a></li>
                                        <li role="presentation"><a tabindex="-1" href="#">CSV</a></li>
                                    </ul>
                                </div>
                            </div> -->
                        </div>
                    </div>
                    <!-- END EXAMPLE TABLE PORTLET-->
                </div>
            </div>
            {{ range $employeem := .Retrieved }}   
            <div id="employeeModal_{{ $employeem._id }}" class="modal fade bs-modal-lg" role="dialog">
                        <div class="modal-dialog modal-lg">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <div class="portlet-title">
                                        <div class="caption font-dark">
                                            <i class="icon-settings font-dark"></i>
                                            <span class="caption-subject bold uppercase"> Employee Details</span>
                                        </div>
                                    </div>
                                    <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <lable class="col-md-5 control-label bold">Employee ID:</lable>
                                            <div class="col-md-7">{{ $employeem.employee_id }} </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <lable class="col-md-5 control-label bold">Name:</lable>
                                            <div class="col-md-7">{{ $employeem.name }} </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <lable class="col-md-5 control-label bold">Date of Birth:</lable>
                                            <div class="col-md-7">{{ $employeem.dob }} </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <lable class="col-md-5 control-label bold">Email ID:</lable>
                                            <div class="col-md-7">{{ $employeem.email_id }} </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <lable class="col-md-5 control-label bold">Contact No.:</lable>
                                            <div class="col-md-7">{{ $employeem.contact_no }} </div>
                                        </div>
                                       
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <lable class="col-md-5 control-label bold">Address:</lable>
                                            <div class="col-md-7">{{ $employeem.address }} </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <lable class="col-md-5 control-label bold">Emergency Contact Name:</lable>
                                            <div class="col-md-7">{{ $employeem.econtact_name }} </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <lable class="col-md-5 control-label bold">Emergency Contact No.:</lable>
                                            <div class="col-md-7">{{ $employeem.emergency_contact }} </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <lable class="col-md-5 control-label bold">Relationship:</lable>
                                            <div class="col-md-7">{{ $employeem.relationship }} </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <lable class="col-md-5 control-label bold">Blood group:</lable>
                                            <div class="col-md-7">{{ $employeem.blood_group }} </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <lable class="col-md-5 control-label bold">Qualification:</lable>
                                            <div class="col-md-7">{{ $employeem.qualification }} </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <lable class="col-md-5 control-label bold">Department:</lable>
                                            <div class="col-md-7">{{ $employeem.department}} </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <lable class="col-md-5 control-label bold">Designation:</lable>
                                            <div class="col-md-7">{{ $employeem.designation }} </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <lable class="col-md-5 control-label bold">Job Title:</lable>
                                            <div class="col-md-7">{{ $employeem.job_title }} </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <lable class="col-md-5 control-label bold">ID Proof:</lable>
                                            <div class="col-md-7">{{ $employeem.id_proof }} </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <lable class="col-md-5 control-label bold">Date of Joining:</lable>
                                            <div class="col-md-7">{{ $employeem.joining_date }} </div>
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>

                        </div>
                    </div>
                    {{end}}

        </div>
       </div>
          
        {{end}}

        {{ define "pagelevelplugins" }}
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="/static/assets/global/scripts/datatable.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/bootstrap-select/js/bootstrap-select.min.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/jquery-repeater/jquery.repeater.js" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->
        {{ end }}

        {{define "pagelevelscripts"}} 
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="/static/assets/pages/scripts/table-datatables-managed.js" type="text/javascript"></script>
<script src="/static/assets/pages/scripts/components-bootstrap-select.min.js" type="text/javascript"></script>
<script src="/static/assets/pages/scripts/components-date-time-pickers.js" type="text/javascript"></script>
<script src="/static/assets/pages/scripts/form-repeater.min.js" type="text/javascript"></script>
<!-- END PAGE LEVEL SCRIPTS -->
{{end}}