{{ template "master_layout.html" . }}

{{ define "pagelevelstyles"}}
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link href="/static/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="/static/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/assets/global/plugins/typeahead/typeahead.css" rel="stylesheet" type="text/css" />
    <link href="/static/assets/global/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL STYLES -->
{{end}}

{{ define "content" }}    
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">
            <!-- BEGIN PAGE BASE CONTENT -->

            <div class="row">
                <div class="col-md-12">
                    <div class="portlet light bordered">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="icon-equalizer font-green"></i>
                                <span class="caption-subject bold font-green uppercase">Manage </span>
                            </div>
                            <div class="actions">
                                <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" style="width:20px; height:20px; line-height: 0.999; padding-left:4px; "> </a>
                            </div>
                            <div class="tools nts-tools faq-links" style="margin-top:0;">
                                {{if .ErrorsPresent}} 
                                <a href=""  class="collapse" style="background-image:none;">
                                <i class="fa fa-minus-circle"></i> </a> 
                             {{else}} 
                                <a href=""  class="expand" style="background-image:none;">
                                <i class="fa fa-plus-square"></i> </a> 
                             {{end}}
                            </div>
                        </div>
                        {{if .ErrorsPresent}} 
                      <div class="portlet-body form" style="display:block" >
                      {{else}}  
                      <div class="portlet-body form"  style="display:none" >
                      {{end}}
                            <!-- BEGIN FORM-->
                            <form method="post" class="form-horizontal">
                             {{ .xsrfdata }}
                                <div class="form-body">
                                    <h3 class="form-section">Manage Leaves</h3>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Employee ID </label>
                                                <div class="col-md-8">
                                                    <input type="text" name="emp_id" value="{{.FormItems.EmpId}}" class="form-control" >
                                                    {{if .Errors.EmpId}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.EmpId}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Employee Name </label>
                                                <div class="col-md-8">
                                                    <input type="text" name="emp_name" value="{{.FormItems.EmpName}}" class="form-control" readonly placeholder="">
                                                   <!-- {{if .Errors.EmpName}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.EmpName}}</span>{{end}}-->
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>
                                    <!--/row-->
                                    <div class="row">

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Monthly Leaves </label>
                                                <div class="col-md-8">
                                                    <input type="text" name="m_leaves" value="{{.FormItems.MLeaves}}" class="form-control" placeholder="">
                                                    {{if .Errors.MLeaves}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.MLeaves}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Casual Leaves </label>
                                                <div class="col-md-8">
                                                    <input type="text" name="c_leaves" value="{{.FormItems.CLeaves}}" class="form-control" placeholder="">
                                                    {{if .Errors.CLeaves}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.CLeaves}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>
                                    <!--/row-->
                                    <!--/row-->
                                    <div class="row">

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Earn Leaves </label>
                                                <div class="col-md-8">
                                                    <input type="text" name="e_leaves" value="{{.FormItems.ELeaves}}" class="form-control" placeholder="">
                                                    {{if .Errors.ELeaves}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.ELeaves}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Restricted Holidays </label>
                                                <div class="col-md-8">
                                                    <input type="text" name="r_holidays" value="{{.FormItems.RHolidays}}" class="form-control" placeholder="">
                                                    {{if .Errors.RHolidays}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.RHolidays}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>
                                    <!--/row-->
                                </div>
                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-12" style="text-align: center;">
                                            <button type="submit" class="btn green" style="height: 40px;width: 80px">Submit</button>
                                            <button type="button" class="btn default" style="height: 40px;width: 80px">Reset</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <!-- END FORM-->
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <!-- BEGIN EXAMPLE TABLE PORTLET-->
                    <div class="portlet light bordered">
                        <div class="portlet-title">
                            <div class="caption font-dark">
                                <i class="icon-settings font-dark"></i>
                                <span class="caption-subject bold uppercase"> Leaves View</span>
                            </div>
                            <div class="actions">
                                <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" style="width:20px; height:20px; line-height: 0.999; padding-left:4px; "> </a>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <table class="table table-bordered table-hover table-checkable order-column" >
                                <thead>
                                <tr>                                  
                                    <th style="text-align: left"> Employee ID</th>
                                    <th style="text-align: left"> Enployee Name </th>
                                    <th style="text-align: left"> Monthly leaves</th>
                                    <th style="text-align: left"> Casual leaves</th>
                                    <th style="text-align: left"> Earn leaves</th>
                                    <th style="text-align: left"> Restricted Holidays </th>
                                </tr>
                                </thead>
                                <tbody>
                                 {{ range $employee := .Retrieved }}
                                <tr class="odd gradeX">                                   
                                    <td style="text-align: right">{{ $employee._employee_fkid }}</td>
                                    <td style="text-align: left"> {{ $employee.name }}</td>
                                    <td class="text-center" style="text-align: right">{{ $employee.monthly_leaves }}</td>
                                    <td class="text-center" style="text-align: right">{{ $employee.casual_leaves }}</td>
                                    <td class="text-center" style="text-align: right"> {{$employee.earn_leaves }} </td>
                                    <td class="text-center" style="text-align: right"> {{ $employee.restricted_holidays }} </td> 
                                </tr>
                                {{end}}
                               
                                </tbody>
                            </table>
                            <div class="actions text-right">
                                <ul class="pagination">
                                          <li class="active"><a href="#">1</a></li>
                                          <li ><a href="#">2</a></li>
                                          <li><a href="#">3</a></li>
                                          <li><a href="#">4</a></li>
                                          <li><a href="#">5</a></li>
                                        </ul>
                                <div class="dropup ">
                                    <button class="btn btn-default dropdown-toggle " type="button"  data-toggle="dropdown">Export
                                        <span class="caret"></span></button>
                                    <ul class="dropdown-menu pull-right">
                                        <li role="presentation"><a tabindex="-1" href="#">Print</a></li>
                                        <li role="presentation"><a tabindex="-1" href="#">PDF</a></li>
                                        <li role="presentation"><a tabindex="-1" href="#">Excel</a></li>
                                        <li role="presentation"><a tabindex="-1" href="#">CSV</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END EXAMPLE TABLE PORTLET-->
                </div>
            </div>
            <!-- END PAGE BASE CONTENT -->
        </div>
        <!-- END CONTENT BODY -->
    </div>
    <!-- END CONTENT -->
       
        {{end}}

        {{ define "pagelevelplugins" }}
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="/static/assets/global/scripts/datatable.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/bootstrap-select/js/bootstrap-select.min.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/jquery-repeater/jquery.repeater.js" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->
        {{ end }}

        {{define "pagelevelscripts"}}
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="/static/assets/pages/scripts/table-datatables-managed.js" type="text/javascript"></script>
<script src="/static/assets/pages/scripts/components-bootstrap-select.min.js" type="text/javascript"></script>
<script src="/static/assets/pages/scripts/components-date-time-pickers.js" type="text/javascript"></script>
<script src="/static/assets/pages/scripts/form-repeater.min.js" type="text/javascript"></script>
<!-- END PAGE LEVEL SCRIPTS -->
{{end}}