{{ template "master_layout.html" . }}

{{ define "pagelevelstyles"}}
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link href="/static/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="/static/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/assets/global/plugins/typeahead/typeahead.css" rel="stylesheet" type="text/css" />
    <link href="/static/assets/global/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL STYLES -->
{{end}}

{{ define "content" }}    
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">
            <!-- BEGIN PAGE BASE CONTENT -->

            <div class="row">
                <div class="col-md-12">
                    <div class="portlet light bordered">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="icon-equalizer font-green"></i>
                                <span class="caption-subject bold font-green uppercase">Manage </span>
                            </div>
                            <div class="actions">
                                <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" style="width:20px; height:20px; line-height: 0.999; padding-left:4px; "> </a>
                            </div>
                            <div class="tools nts-tools faq-links" style="margin-top:0;">
                                {{if .ErrorsPresent}} 
                                <a href=""  class="collapse" style="background-image:none;">
                                <i class="fa fa-minus-circle"></i> </a> 
                             {{else}} 
                                <a href=""  class="expand" style="background-image:none;">
                                <i class="fa fa-plus-square"></i> </a> 
                             {{end}}
                            </div>
                        </div>
                        {{if .ErrorsPresent}} 
                      <div class="portlet-body form" style="display:block" >
                      {{else}}  
                      <div class="portlet-body form"  style="display:none" >
                      {{end}}
                            <!-- BEGIN FORM-->
                            <form method="post" class="form-horizontal">
                            {{ .xsrfdata }}
                                <div class="form-body">
                                    <h3 class="form-section">Manage Contracts</h3>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Employee ID </label>
                                                <div class="col-md-8">
                                                    <input type="text" name="e_id" value="{{.FormItems.EId}}" class="form-control" >
                                                     {{if .Errors.EId}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.EId}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Employee Name </label>
                                                <div class="col-md-8">
                                                    <input type="text" name="e_name" value="{{.FormItems.EName}}" class="form-control" readonly placeholder="">
                                                     <!--{{if .Errors.EName}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.EName}}</span>{{end}}-->
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>
                                    <!--/row-->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Employee Status </label>
                                                <div class="col-md-8">
                                                    <select name="emp_status" class="form-control bs-select">
                                                     <option {{if compare .FormItems.EStatus "1" }}selected {{end}}>1</option>
                                                        <option {{if compare .FormItems.EStatus "2" }}selected {{end}}>2</option>
                                                        <option {{if compare .FormItems.EStatus "3" }}selected {{end}}>3</option>
                                                    </select>
                                                     {{if .Errors.EStatus}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.EStatus}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Job Title </label>
                                                <div class="col-md-8">
                                                    <input type="text" name="job_title" value="{{.FormItems.JobTitle}}" class="form-control" placeholder="">
                                                     {{if .Errors.JobTitle}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.JobTitle}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->

                                    </div>
                                    <!--/row-->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Contract Type </label>
                                                <div class="col-md-8">
                                                    <select name="contract_type" class="form-control bs-select">
                                                        <option {{if compare .FormItems.ContractType "Option 1" }}selected {{end}}>Option 1</option>
                                                        <option {{if compare .FormItems.ContractType "Option 2" }}selected {{end}}>Option 2</option>
                                                        <option {{if compare .FormItems.ContractType "Option 3" }}selected {{end}}>Option 3</option>
                                                    </select>
                                                     {{if .Errors.ContractType}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.ContractType}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Contract Date </label>
                                                <div class="col-md-8">
                                                    <div class="input-group input-medium date date-picker" data-date-format="yyyy-mm-dd" >
                                                        <input type="text" name="c_date" value="{{.FormItems.ContractDate}}" class="form-control" readonly placeholder="">
                                                        {{if .Errors.ContractDate}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.ContractDate}}</span>{{end}}
                                                        <span class="input-group-btn">
																	<button class="btn default" type="button">
																		<i class="fa fa-calendar"></i>
																	</button>
                                                        </span>
                                                         
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->

                                    </div>
                                    <!--/row-->

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Contract Renewal Date </label>
                                                <div class="col-md-8">
                                                    <div class="input-group input-medium date date-picker" data-date-format="yyyy-mm-dd" >
                                                        <input type="text" name="cr_date" value="{{.FormItems.ContractRenewDate}}" class="form-control" readonly placeholder="">
                                                        {{if .Errors.ContractRenewDate}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.ContractRenewDate}}</span>{{end}}
                                                        <span class="input-group-btn">
																	<button class="btn default" type="button">
																		<i class="fa fa-calendar"></i>
																	</button>
                                                        </span>
                                                         
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Salary </label>
                                                <div class="col-md-8">
                                                    <input type="text" name="salary" value="{{.FormItems.Salary}}" class="form-control" placeholder="">
                                                     {{if .Errors.Salary}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Salary}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-12" style="text-align: center;">
                                            <button type="submit" class="btn green" style="height: 40px;width: 80px">Submit</button>
                                            <button type="button" class="btn default" style="height: 40px;width: 80px">Reset</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <!-- END FORM-->
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-12">
                    <!-- BEGIN EXAMPLE TABLE PORTLET-->
                    <div class="portlet light bordered">
                        <div class="portlet-title">
                            <div class="caption font-dark">
                                <i class="icon-settings font-dark"></i>
                                <span class="caption-subject bold uppercase"> Contract View</span>
                            </div>
                            <div class="actions">
                                <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" style="width:20px; height:20px; line-height: 0.999; padding-left:4px; "> </a>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <table class="table table-bordered table-hover table-checkable order-column" >
                                <thead>
                                <tr>                                    
                                    <th style="text-align: left"> Employee ID</th>
                                    <th style="text-align: left"> Employee Name </th>
                                    <th style="text-align: left"> Employee Status</th>
                                    <th style="text-align: left"> Job Title </th>
                                    <th style="text-align: left"> Contract Type</th>
                                    <th style="text-align: left"> Contract Date </th>
                                    <th style="text-align: left"> Contract Renewal Date</th>
                                    <th style="text-align: left"> Salary</th>
                                </tr>
                                </thead>
                                <tbody>
                                {{ range $employee := .Retrieved }}
                                <tr class="odd gradeX">                                    
                                    <td style="text-align: right">{{ $employee._employee_fkid }}</td>
                                    <td style="text-align: left"> {{ $employee.name }} </td>
                                    <td style="text-align: left">{{ $employee.employee_status }} </td>
                                    <td style="text-align: left"> {{ $employee.job_title }} </td>
                                    <td style="text-align: left">{{ $employee.contract_type }}</td>
                                    <td style="text-align: right"> {{ $employee.c_date }}</td>
                                    <td style="text-align: right"> {{ $employee.r_date }}</td>
                                    <td style="text-align: right"> {{ $employee.salary }}</td>
                                </tr>
                                 {{end}}
                                
                                </tbody>
                            </table>
                            <div class="actions text-right">
                                <ul class="pagination">
                                          <li class="active"><a href="#">1</a></li>
                                          <li ><a href="#">2</a></li>
                                          <li><a href="#">3</a></li>
                                          <li><a href="#">4</a></li>
                                          <li><a href="#">5</a></li>
                                        </ul>
                                <div class="dropup ">
                                    <button class="btn btn-default dropdown-toggle " type="button"  data-toggle="dropdown">Export
                                        <span class="caret"></span></button>
                                    <ul class="dropdown-menu pull-right">
                                        <li role="presentation"><a tabindex="-1" href="#">Print</a></li>
                                        <li role="presentation"><a tabindex="-1" href="#">PDF</a></li>
                                        <li role="presentation"><a tabindex="-1" href="#">Excel</a></li>
                                        <li role="presentation"><a tabindex="-1" href="#">CSV</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END EXAMPLE TABLE PORTLET-->
                </div>
            </div>
            <!-- END PAGE BASE CONTENT -->
        </div>
        <!-- END CONTENT BODY -->
    </div>
    <!-- END CONTENT -->
       
        {{end}}

        {{ define "pagelevelplugins" }}
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="/static/assets/global/scripts/datatable.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/bootstrap-select/js/bootstrap-select.min.js" type="text/javascript"></script>
<script src="/static/assets/global/plugins/jquery-repeater/jquery.repeater.js" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->
        {{ end }}

        {{define "pagelevelscripts"}}
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="/static/assets/pages/scripts/table-datatables-managed.js" type="text/javascript"></script>
<script src="/static/assets/pages/scripts/components-bootstrap-select.min.js" type="text/javascript"></script>
<script src="/static/assets/pages/scripts/components-date-time-pickers.js" type="text/javascript"></script>
<script src="/static/assets/pages/scripts/form-repeater.min.js" type="text/javascript"></script>
<script type="text/javascript">
             $('.date-picker').datepicker({
             pickerPosition: "bottom-left"
             });
         </script>
<!-- END PAGE LEVEL SCRIPTS -->
{{end}}