{{ template "master_layout.html" . }}

{{ define "pagelevelstyles"}}
        <!-- BEGIN PAGE LEVEL STYLES -->
        <link href="/static/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
		<link href="/static/assets/global/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" type="text/css" />
		<link href="/static/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.css" rel="stylesheet" type="text/css" />
		<link href="/static/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
		<link href="/static/assets/global/plugins/jquery-multi-select/css/multi-select.css" rel="stylesheet" type="text/css" />
		<link href="/static/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
		<link href="/static/assets/global/plugins/typeahead/typeahead.css" rel="stylesheet" type="text/css" />
		<link href="/static/assets/global/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css" rel="stylesheet" type="text/css" />
        <!-- END PAGE LEVEL STYLES -->
{{end}}

{{ define "content" }}    
<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEAD-->
        <div class="page-head">
        <!-- BEGIN PAGE BASE CONTENT -->
		<div class="row">
            <div class="col-md-12">
                <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-equalizer font-green"></i>
                        <span class="caption-subject bold font-green uppercase">Create PO</span>
                    </div>
                    <div class="actions">
                        <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" style="width:20px; height:20px; line-height: 0.999; padding-left:4px; "> </a>
                    </div>
                </div>
  <div class="portlet-body form" style="display:block" >
	<div class="form-body">
		<form method="POST" onsubmit="return ValidationEvent()" class="form-horizontal" >
			{{ .xsrfdata }}
            <div class="row" style="display: none;">
				<div class="col-md-6">
					<div class="form-group">
					<label class="control-label col-md-4"> </label>
						<div class="col-md-8">
						<input name="purchase_id" type="hidden"  class="form-control" value="{{.FormItems.PurchaseId}}" placeholder="">
						</div>
					</div>

				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label col-md-4">Tax Regime </label>
						<div class="col-md-8">
							{{if compare .FormItems.TaxRegime "1"}}
							<label style="margin-top: 7px;"><b>Intra State</b></label>
							{{else if compare .FormItems.TaxRegime "2"}}
							<label style="margin-top: 7px;"><b>Inter State</b></label>
							{{else}}
							<label style="margin-top: 7px;"><b>Export</b></label>
							{{end}}
							<input id="regime" name="tax_regime" type="hidden" class="form-control " value="{{.FormItems.TaxRegime}}" readonly>
							{{if .Errors.TaxRegime}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.TaxRegime}}</span>{{end}}
						</div>
					</div>
				</div>
				<!--/span-->
				<div class="col-md-6">
					
				</div>
				<!--/span-->
			</div>
			<div class="row">
                <!--/span-->
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">PO No </label>
                        <div class="col-md-8">
                            <input name="po_so_no" value="{{.FormItems.POSONo}}" type="text" class="form-control" placeholder="" readonly>
                            {{if .Errors.POSONo}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.POSONo}}</span>{{end}}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
					<div class="form-group">
						<label class="control-label col-md-4"><span class="required" aria-required="true">*</span>PO Date </label>
						<div class="col-md-8">
							<div class="input-group input-medium date date-picker" data-date-format="yyyy-mm-dd">
								<input id="todays_date" name="po_date" type="text" class="form-control" value="{{.FormItems.PODate}}" readonly >
								<span class="input-group-btn">
									<button class="btn default" type="button">
										<i class="fa fa-calendar"></i>
									</button>
								</span>
							</div>
							{{if .Errors.PODate}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.PODate}}</span>{{end}}
						</div>
					</div>
				</div>
            </div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Supplier Name </label>
						<div class="col-md-8">
							<input name="supplier" class="form-control " value="{{.FormItems.Supplier}}" readonly>
							{{if .Errors.Supplier}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Supplier}}</span>{{end}}
						</div>
					</div>
				</div>
				<!--/span-->
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label col-md-4"><span class="required" aria-required="true">*</span>PO Delivery Date </label>
						<div class="col-md-8">
							<div class="input-group input-medium date external-date-picker" data-date-format="yyyy-mm-dd" >
								<input name="po_delivery_date" type="text" class="form-control" value="{{.FormItems.PoDeliveryDate}}" readonly placeholder="">
								<span class="input-group-btn">
									<button class="btn default" type="button">
										<i class="fa fa-calendar"></i>
									</button>
								</span>
							</div>
							{{if .Errors.PoDeliveryDate}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.PoDeliveryDate}}</span>{{end}}
						</div>
					</div>
				</div>
				<!--/span-->
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Delivery Location </label>
						<div class="col-md-8">
							<input name="dloc" class="form-control " value="{{.FormItems.DLoc}}" readonly>
							{{if .Errors.DLoc}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.DLoc}}</span>{{end}}
						</div>
					</div>
				</div>
				<!--/span-->
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Currency </label>
						<div class="col-md-8">
							<input name="currency" class="form-control " value="{{.FormItems.Currency}}" readonly>
							
							{{if .Errors.Currency}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Currency}}</span>{{end}}
						</div>
					</div>
				</div>
				<!--/span-->
			</div>
			

	<input type="hidden" id="repeater_len" type="text" name="repeater_length"class="form-control " value="{{ .RepeaterLength }}" readonly >
	<fieldset id="intraState" style="display: none;">
		<legend style="margin-bottom:0; border-bottom:none;"><span class="required" style="color: #e02222;" aria-required="true">*</span>Items/Products</legend>
		<!-- <div id="slide-wrap"  style="margin:0 auto; overflow:auto; border:1px solid #c2cad8; "> -->
		<div class="mt-repeater form-horizontal" style="margin:0 auto; border:1px solid #c2cad8; ">
			<div data-repeater-list="intra-state" style=" overflow:auto;">
			{{ range $items := .POItemsRetrieved }}
			<div data-repeater-item class="mt-repeater-item" > 
				<div class="row" style=" padding-left:30px; margin-right:-2050px; width: auto;">
				<!--<div class="col-md-12" style="margin-left: 30px">-->
					<div class="form-group" >
						<div class="col-md-3" style="max-width: 300px;">
							<label class="control-label"><b>Item Name</b></label>
							<br/>
							<input id="{{ $items.no }}" type="hidden" name="intra-state[{{ $items.no }}][purchase_id]" class="form-control " value="{{ $items._id }}" readonly placeholder="{{ $items.invoice_narration }}" /> 
							<input type="hidden" type="text" name="intra-state[{{ $items.no }}][item_name]"class="form-control " value="{{ $items.item_id }}" readonly > 
							<input  type="text" name="intra-state[{{ $items.no }}][item_narration]"class="form-control " value="{{ $items.invoice_narration }}" readonly >
							<!-- <input type="text" name="item_name" class="form-control" value="{{.FormItems.ItemName}}" />  -->
							<label name="intra-state[{{ $items.no }}][narration]" class="control-label"></label>
						</div>
						<div class="col-md-1" style="max-width: 100px;">
							<label class="control-label"><b>HSN</b></label>
							<br/>
							<input name="intra-state[{{ $items.no }}][hsn]" type="text" class="form-control" value="{{ $items.hsn_sac }}" {{ $items.editable }} /> 
						</div>
						<div class="col-md-1" style="max-width: 100px;">
							<label class="control-label"><b>UOM</b></label>
							<br/>
							<input name="intra-state[{{ $items.no }}][uom]" class=" form-control"  type="text" value="{{ $items.uom }}" {{ $items.editable }} /> 
						</div>
						<div class="col-md-1" style="max-width: 100px;">
							<label class="control-label"><b>Quantity</b></label>
							<br/>
							<input name="intra-state[{{ $items.no }}][qty]" type="text" class="form-control" onkeyup="quantityChange(this);" value="{{ $items.quantity }}" {{ $items.editable }} /> 
						</div>
						<div class="col-md-1" style="max-width: 100px;">
							<label class="control-label"><b>Cost</b></label>
							<br/>
							<input name="intra-state[{{ $items.no }}][cost]" onkeyup="costChange(this);" class="form-control" type="text" value="{{ $items.rate }}" {{ $items.editable }} /> 
						</div>
						<div class="col-md-1" style="max-width: 120px;">
							<label class="control-label"><b>Discount %</b></label>
							<br/>
							<input name="intra-state[{{ $items.no }}][discount_percent]" onkeyup="discountChange(this);" type="text" class="form-control " value="{{ $items.discount_rate }}" {{ $items.editable }} />
						</div>
						<div class="col-md-1" style="max-width: 140px;">
							<label class="control-label"><b>Discount value</b></label>
							<br/>
							<input name="intra-state[{{ $items.no }}][discount_value]" type="text" class="form-control" value="{{ $items.discount_value }}" readonly /> 
						</div>
						<div class="col-md-2" style="max-width: 230px;">
							<label class="control-label"><b>Total Other charges</b></label>
							<br/>
							<input name="intra-state[{{ $items.no }}][total_other_charges]" onkeyup="fpoChange(this);" type="text" class="form-control" value="{{ $items.total_other_charges }}" {{ $items.editable }} /> 
						</div>
						<div class="col-md-1" style="max-width: 140px;">
							<label class="control-label" style="font-size: small;"><b>Taxable amount</b></label>
							<br/>
							<input name="intra-state[{{ $items.no }}][taxable_amount]" type="text" class="form-control " value="{{ $items.taxable_amount }}" readonly /> 
						</div>
						<!-- <div class="col-md-1" style="max-width: 100px;">
							<label class="control-label"><b>GST %</b></label>
							<br/>
							<input name="group-a[{{ $items.no }}][gst_percent]" onkeyup="gstChange(this);" class=" form-control"  type="text" value="{{ $items.gst_rate}}" /> 
						</div> -->
						<div class="col-md-1" style="max-width: 140px;">
							<label class="control-label"><b>IGST Rate</b></label>
							<br/>
							<input name="intra-state[{{ $items.no }}][igst_rate]" onkeyup="igstChange(this);" class="form-control"  type="text" value="{{ $items.igst_rate }}" {{ $items.editable }} /> 
						</div>
						<div class="col-md-1" style="max-width: 140px;">
							<label class="control-label"><b>IGST Amount</b></label>
							<br/>
							<input name="intra-state[{{ $items.no }}][igst_amount]" type="text" class="form-control " value="{{ $items.igst_amount }}" readonly />
						</div>
						<div class="col-md-1" style="max-width: 140px;">
							<label class="control-label"><b>CGST Rate</b></label>
							<br/>
							<input name="intra-state[{{ $items.no }}][cgst_rate]" onkeyup="cgstChange(this);" type="text" class="form-control " value="{{ $items.cgst_rate }}" {{ $items.editable }} /> 
						</div>
						<div class="col-md-1" style="max-width: 140px;">
							<label class="control-label"><b>CGST Amount</b></label>
							<br/>
							<input name="intra-state[{{ $items.no }}][cgst_amount]" type="text" class="form-control" value="{{ $items.cgst_amount }}" readonly /> 
						</div>
						<div class="col-md-1" style="max-width: 140px;">
							<label class="control-label"><b>SGST Rate</b></label>
							<br/>
							<input name="intra-state[{{ $items.no }}][sgst_rate]" onkeyup="sgstChange(this);" class="form-control"  type="text" value="{{ $items.sgst_rate }}" {{ $items.editable }} /> 
						</div>
						<div class="col-md-1" style="max-width: 140px;">
							<label class="control-label"><b>SGST Amount</b></label>
							<br/>
							<input name="intra-state[{{ $items.no }}][sgst_amount]" class="form-control"  type="text" value="{{ $items.sgst_amount }}" readonly /> 
						</div>
						<div class="col-md-1" style="max-width: 140px; display: none;">
							<label class="control-label"><b>Cess Rate</b></label>
							<br/>
							<input name="intra-state[{{ $items.no }}][cess_rate]" onkeyup="cessChange(this);" type="text" class="form-control" value="{{ $items.cess_rate }}" {{ $items.editable }} />
						</div>
						<div class="col-md-1" style="max-width: 140px; display: none;">
							<label class="control-label"><b>Cess Amount</b></label>
							<br/>
							<input name="intra-state[{{ $items.no }}][cess_amount]" type="text" class="form-control " value="{{ $items.cess_amount }}" readonly />
						</div>
						<div class="col-md-1" style="max-width: 200px;">
							<label class="control-label"><b>Total Tax</b></label>
							<br/>
							<input name="intra-state[{{ $items.no }}][total_tax_cess]" type="text"  class="form-control" value="{{ $items.total_tax_cess }}" readonly /> 
						</div>
						<div class="col-md-1" style="max-width: 200px;">
							<label class="control-label"><b>Total After Tax</b></label>
							<br/>
							<input name="intra-state[{{ $items.no }}][total_after_tax]" type="text" class="form-control" value="{{ $items.total_after_tax }}" readonly /> 
						</div>
						<input name="intra-state[{{ $items.no }}][received_quantity]" type="hidden" class="form-control" value="{{ $items.received_quantity }}" readonly /> 
						<input name="intra-state[{{ $items.no }}][rejected_quantity]" type="hidden" class="form-control" value="{{ $items.rejected_quantity }}" readonly /> 
						<!--<div class="col-md-1" style="max-width: 100px;">
							<label class="control-label"><b>Freight</b></label>
							<br/>
							<input name="group-a[{{ $items.no }}][freight]" onkeyup="othersChange(this);" class=" form-control"  type="text" value="{{ $items.freight }}" /> 
						</div>
						<div class="col-md-1" style="max-width: 100px;">
							<label class="control-label"><b>Insurance</b></label>
							<br/>
							<input name="group-a[{{ $items.no }}][insurance]" onkeyup="othersChange(this);" class="form-control"  type="text" value="{{ $items.insurance }}" /> 
						</div>
						<div class="col-md-2" style="max-width: 200px;">
							<label class="control-label"><b>Packaging & Forwarding</b></label>
							<br/>
							<input name="group-a[{{ $items.no }}][packaging_forwarding]" onkeyup="othersChange(this);" type="text" class="form-control " value="{{ $items.packaging_forwarding }}" />
						</div>
						<div class="col-md-1" style="max-width: 100px;">
							<label class="control-label"><b>Others</b></label>
							<br/>
							<input name="group-a[{{ $items.no }}][others]" onkeyup="othersChange(this);" type="text" class="form-control" value="{{ $items.others }}" /> 
						</div>-->
						
						<!--<div class="col-md-2">
							<label class="control-label"><b>Unit Price</b></label>
							<br/>
							<input id="{{ $items.no }}" type="text" name="poitems[{{ $items.no }}][unitprice]" class="form-control ratetxt" value="{{ $items.rate }}" /> 
							
						</div>
						<div class="col-md-2">
							<label class="control-label"><b>Quantity</b></label>
							<br/>
							<input id="quantity_{{ $items.no }}" class="pcp_qty form-control" onchange="calculateTotal()" type="text" value="{{ $items.quantity }}" name="poitems[{{ $items.no }}][quantity]"> 
						</div>-->
						<!--<div class="col-md-2">
							<label class="control-label"><b>Packet Size</b></label>
							<br/>
							<input class="form-control" type="text" value="{{ $items.packet_size }}" name="p_size{{ $items.no }}" readonly> 
							
						</div>-->
						<!--<div class="col-md-2">
							<label class="control-label"><b>Total</b></label>
							<br/>
							<input id="total{{ $items.no }}" name="total{{ $items.no }}" value="{{ $items.total_cost }}" type="text" readonly name="text-input" class="form-control pricetxt" value="" placeholder="" />
						</div>-->
						<!-- {{if compare $items.editable "readonly"}}
						{{else}}
						<div  class="mt-repeater-input">
							<a name="intra-state[{{ $items.no }}][delete_btn]"  href="javascript:;" data-repeater-delete onclick="showtaxes()" class="btn btn-danger mt-repeater-delete" style="margin-top: 26px;">
								<i class="fa fa-close"></i>
							</a>
						</div>
						{{end}} -->
					</div>
				</div>
			</div>
			{{end}}
			</div>
			<!-- <a href="javascript:;" data-repeater-create class="btn btn-success mt-repeater-add" style="margin-top: 15px; margin-left: 30px;">
				<i class="fa fa-plus"></i>Items/Products
			</a> -->
		</div>
	</fieldset>
	<fieldset id="interState" style="display: none;">
		<legend style="margin-bottom:0; border-bottom:none;"><span class="required" style="color: #e02222;" aria-required="true">*</span>Items/Products</legend>
		<!-- <div id="slide-wrap"  style="margin:0 auto; overflow:auto; border:1px solid #c2cad8; "> -->
		<div class="mt-repeater form-horizontal" style="margin:0 auto; border:1px solid #c2cad8; ">
			<div data-repeater-list="inter-state" style=" overflow:auto;">
			{{ range $items := .POItemsRetrieved }}
			<div data-repeater-item class="mt-repeater-item" > 
				<div class="row" style=" padding-left:30px; margin-right:-2050px; width: auto;">
				<!--<div class="col-md-12" style="margin-left: 30px">-->
					<div class="form-group" >
						<div class="col-md-3" style="max-width: 300px;">
							<label class="control-label"><b>Item Name</b></label>
							<br/>
							<input id="{{ $items.no }}" type="hidden" name="inter-state[{{ $items.no }}][purchase_id]" class="form-control " value="{{ $items._id }}" readonly placeholder="{{ $items.invoice_narration }}" /> 
							<input type="hidden" type="text" name="inter-state[{{ $items.no }}][item_name]"class="form-control " value="{{ $items.item_id }}" readonly > 
							<input  type="text" name="inter-state[{{ $items.no }}][item_narration]"class="form-control " value="{{ $items.invoice_narration }}" readonly >
							<!-- <input type="text" name="item_name" class="form-control" value="{{.FormItems.ItemName}}" />  -->
							<label name="inter-state[{{ $items.no }}][narration]" class="control-label"></label>
						</div>
						<div class="col-md-1" style="max-width: 100px;">
							<label class="control-label"><b>HSN</b></label>
							<br/>
							<input name="inter-state[{{ $items.no }}][hsn]" type="text" class="form-control" value="{{ $items.hsn_sac }}" {{ $items.editable }} /> 
						</div>
						<div class="col-md-1" style="max-width: 100px;">
							<label class="control-label"><b>UOM</b></label>
							<br/>
							<input name="inter-state[{{ $items.no }}][uom]" class=" form-control"  type="text" value="{{ $items.uom }}" {{ $items.editable }} /> 
						</div>
						<div class="col-md-1" style="max-width: 100px;">
							<label class="control-label"><b>Quantity</b></label>
							<br/>
							<input name="inter-state[{{ $items.no }}][qty]" type="text" class="form-control" onkeyup="quantityChange(this);" value="{{ $items.quantity }}" {{ $items.editable }} /> 
						</div>
						<div class="col-md-1" style="max-width: 100px;">
							<label class="control-label"><b>Cost</b></label>
							<br/>
							<input name="inter-state[{{ $items.no }}][cost]" onkeyup="costChange(this);" class="form-control" type="text" value="{{ $items.rate }}" {{ $items.editable }} /> 
						</div>
						<div class="col-md-1" style="max-width: 120px;">
							<label class="control-label"><b>Discount %</b></label>
							<br/>
							<input name="inter-state[{{ $items.no }}][discount_percent]" onkeyup="discountChange(this);" type="text" class="form-control " value="{{ $items.discount_rate }}" {{ $items.editable }} />
						</div>
						<div class="col-md-1" style="max-width: 140px;">
							<label class="control-label"><b>Discount value</b></label>
							<br/>
							<input name="inter-state[{{ $items.no }}][discount_value]" type="text" class="form-control" value="{{ $items.discount_value }}" readonly /> 
						</div>
						<div class="col-md-2" style="max-width: 230px;">
							<label class="control-label"><b>Total Other charges</b></label>
							<br/>
							<input name="inter-state[{{ $items.no }}][total_other_charges]" onkeyup="fpoChange(this);" type="text" class="form-control" value="{{ $items.total_other_charges }}" {{ $items.editable }} /> 
						</div>
						<div class="col-md-1" style="max-width: 140px;">
							<label class="control-label" style="font-size: small;"><b>Taxable amount</b></label>
							<br/>
							<input name="inter-state[{{ $items.no }}][taxable_amount]" type="text" class="form-control " value="{{ $items.taxable_amount }}" readonly /> 
						</div>
						<!-- <div class="col-md-1" style="max-width: 100px;">
							<label class="control-label"><b>GST %</b></label>
							<br/>
							<input name="group-a[{{ $items.no }}][gst_percent]" onkeyup="gstChange(this);" class=" form-control"  type="text" value="{{ $items.gst_rate}}" /> 
						</div> -->
						<div class="col-md-1" style="max-width: 140px; display: none;">
							<label class="control-label"><b>IGST Rate</b></label>
							<br/>
							<input name="inter-state[{{ $items.no }}][igst_rate]" onkeyup="igstChange(this);" class="form-control"  type="text" value="{{ $items.igst_rate }}" {{ $items.editable }} /> 
						</div>
						<div class="col-md-1" style="max-width: 140px; display: none;">
							<label class="control-label"><b>IGST Amount</b></label>
							<br/>
							<input name="inter-state[{{ $items.no }}][igst_amount]" type="text" class="form-control " value="{{ $items.igst_amount }}" readonly />
						</div>
						<div class="col-md-1" style="max-width: 140px; display: none;">
							<label class="control-label"><b>CGST Rate</b></label>
							<br/>
							<input name="inter-state[{{ $items.no }}][cgst_rate]" onkeyup="cgstChange(this);" type="text" class="form-control " value="{{ $items.cgst_rate }}" {{ $items.editable }} /> 
						</div>
						<div class="col-md-1" style="max-width: 140px; display: none;">
							<label class="control-label"><b>CGST Amount</b></label>
							<br/>
							<input name="inter-state[{{ $items.no }}][cgst_amount]" type="text" class="form-control" value="{{ $items.cgst_amount }}" readonly /> 
						</div>
						<div class="col-md-1" style="max-width: 140px; display: none;">
							<label class="control-label"><b>SGST Rate</b></label>
							<br/>
							<input name="inter-state[{{ $items.no }}][sgst_rate]" onkeyup="sgstChange(this);" class="form-control"  type="text" value="{{ $items.sgst_rate }}" {{ $items.editable }} /> 
						</div>
						<div class="col-md-1" style="max-width: 140px; display: none;">
							<label class="control-label"><b>SGST Amount</b></label>
							<br/>
							<input name="inter-state[{{ $items.no }}][sgst_amount]" class="form-control"  type="text" value="{{ $items.sgst_amount }}" readonly /> 
						</div>
						<div class="col-md-1" style="max-width: 140px; display: none;">
							<label class="control-label"><b>Cess Rate</b></label>
							<br/>
							<input name="inter-state[{{ $items.no }}][cess_rate]" onkeyup="cessChange(this);" type="text" class="form-control" value="{{ $items.cess_rate }}" {{ $items.editable }} />
						</div>
						<div class="col-md-1" style="max-width: 140px; display: none;">
							<label class="control-label"><b>Cess Amount</b></label>
							<br/>
							<input name="inter-state[{{ $items.no }}][cess_amount]" type="text" class="form-control " value="{{ $items.cess_amount }}" readonly />
						</div>
						<div class="col-md-1" style="max-width: 200px;">
							<label class="control-label"><b>Total Tax</b></label>
							<br/>
							<input name="inter-state[{{ $items.no }}][total_tax_cess]" type="text"  class="form-control" value="{{ $items.total_tax_cess }}" readonly /> 
						</div>
						<div class="col-md-1" style="max-width: 200px;">
							<label class="control-label"><b>Total After Tax</b></label>
							<br/>
							<input name="inter-state[{{ $items.no }}][total_after_tax]" type="text" class="form-control" value="{{ $items.total_after_tax }}" readonly /> 
						</div>
						<input name="inter-state[{{ $items.no }}][received_quantity]" type="hidden" class="form-control" value="{{ $items.received_quantity }}" readonly /> 
						<input name="inter-state[{{ $items.no }}][rejected_quantity]" type="hidden" class="form-control" value="{{ $items.rejected_quantity }}" readonly /> 
						<!--<div class="col-md-1" style="max-width: 100px;">
							<label class="control-label"><b>Freight</b></label>
							<br/>
							<input name="group-a[{{ $items.no }}][freight]" onkeyup="othersChange(this);" class=" form-control"  type="text" value="{{ $items.freight }}" /> 
						</div>
						<div class="col-md-1" style="max-width: 100px;">
							<label class="control-label"><b>Insurance</b></label>
							<br/>
							<input name="group-a[{{ $items.no }}][insurance]" onkeyup="othersChange(this);" class="form-control"  type="text" value="{{ $items.insurance }}" /> 
						</div>
						<div class="col-md-2" style="max-width: 200px;">
							<label class="control-label"><b>Packaging & Forwarding</b></label>
							<br/>
							<input name="group-a[{{ $items.no }}][packaging_forwarding]" onkeyup="othersChange(this);" type="text" class="form-control " value="{{ $items.packaging_forwarding }}" />
						</div>
						<div class="col-md-1" style="max-width: 100px;">
							<label class="control-label"><b>Others</b></label>
							<br/>
							<input name="group-a[{{ $items.no }}][others]" onkeyup="othersChange(this);" type="text" class="form-control" value="{{ $items.others }}" /> 
						</div>-->
						
						<!--<div class="col-md-2">
							<label class="control-label"><b>Unit Price</b></label>
							<br/>
							<input id="{{ $items.no }}" type="text" name="poitems[{{ $items.no }}][unitprice]" class="form-control ratetxt" value="{{ $items.rate }}" /> 
							
						</div>
						<div class="col-md-2">
							<label class="control-label"><b>Quantity</b></label>
							<br/>
							<input id="quantity_{{ $items.no }}" class="pcp_qty form-control" onchange="calculateTotal()" type="text" value="{{ $items.quantity }}" name="poitems[{{ $items.no }}][quantity]"> 
						</div>-->
						<!--<div class="col-md-2">
							<label class="control-label"><b>Packet Size</b></label>
							<br/>
							<input class="form-control" type="text" value="{{ $items.packet_size }}" name="p_size{{ $items.no }}" readonly> 
							
						</div>-->
						<!--<div class="col-md-2">
							<label class="control-label"><b>Total</b></label>
							<br/>
							<input id="total{{ $items.no }}" name="total{{ $items.no }}" value="{{ $items.total_cost }}" type="text" readonly name="text-input" class="form-control pricetxt" value="" placeholder="" />
						</div>-->
						<!-- {{if compare $items.editable "readonly"}}
						{{else}}
						<div  class="mt-repeater-input">
							<a name="inter-state[{{ $items.no }}][delete_btn]"  href="javascript:;" data-repeater-delete onclick="showtaxes()" class="btn btn-danger mt-repeater-delete" style="margin-top: 26px;">
								<i class="fa fa-close"></i>
							</a>
						</div>
						{{end}} -->
					</div>
				</div>
			</div>
			{{end}}
			</div>
			<!-- <a href="javascript:;" data-repeater-create class="btn btn-success mt-repeater-add" style="margin-top: 15px; margin-left: 30px;">
				<i class="fa fa-plus"></i>Items/Products
			</a> -->
		</div>
	</fieldset>
	<fieldset id="export" style="display: none;">
		<legend style="margin-bottom:0; border-bottom:none;"><span class="required" style="color: #e02222;" aria-required="true">*</span>Items/Products</legend>
		<!-- <div id="slide-wrap"  style="margin:0 auto; overflow:auto; border:1px solid #c2cad8; "> -->
		<div class="mt-repeater form-horizontal" style="margin:0 auto; border:1px solid #c2cad8; ">
			<div data-repeater-list="export-state" style=" overflow:auto;">
			{{ range $items := .POItemsRetrieved }}
			<div data-repeater-item class="mt-repeater-item" > 
				<div class="row" style=" padding-left:30px; margin-right:-2050px; width: auto;">
				<!--<div class="col-md-12" style="margin-left: 30px">-->
					<div class="form-group" >
						<div class="col-md-3" style="max-width: 300px;">
							<label class="control-label"><b>Item Name</b></label>
							<br/>
							<input id="{{ $items.no }}" type="hidden" name="export-state{{ $items.no }}][purchase_id]" class="form-control " value="{{ $items._id }}" readonly placeholder="{{ $items.invoice_narration }}" /> 
							<input type="hidden" type="text" name="export-state[{{ $items.no }}][item_name]"class="form-control " value="{{ $items.item_id }}" readonly > 
							<input  type="text" name="export-state[{{ $items.no }}][item_narration]"class="form-control " value="{{ $items.invoice_narration }}" readonly >
							<!-- <input type="text" name="item_name" class="form-control" value="{{.FormItems.ItemName}}" />  -->
							<label name="export-state[{{ $items.no }}][narration]" class="control-label"></label>
						</div>
						<div class="col-md-1" style="max-width: 100px;">
							<label class="control-label"><b>HSN</b></label>
							<br/>
							<input name="export-state[{{ $items.no }}][hsn]" type="text" class="form-control" value="{{ $items.hsn_sac }}" {{ $items.editable }} /> 
						</div>
						<div class="col-md-1" style="max-width: 100px;">
							<label class="control-label"><b>UOM</b></label>
							<br/>
							<input name="export-state[{{ $items.no }}][uom]" class=" form-control"  type="text" value="{{ $items.uom }}" {{ $items.editable }} /> 
						</div>
						<div class="col-md-1" style="max-width: 100px;">
							<label class="control-label"><b>Quantity</b></label>
							<br/>
							<input name="export-state[{{ $items.no }}][qty]" type="text" class="form-control" onkeyup="quantityChange(this);" value="{{ $items.quantity }}" {{ $items.editable }} /> 
						</div>
						<div class="col-md-1" style="max-width: 100px;">
							<label class="control-label"><b>Cost</b></label>
							<br/>
							<input name="export-state[{{ $items.no }}][cost]" onkeyup="costChange(this);" class="form-control" type="text" value="{{ $items.rate }}" {{ $items.editable }} /> 
						</div>
						<div class="col-md-1" style="max-width: 120px;">
							<label class="control-label"><b>Discount %</b></label>
							<br/>
							<input name="export-state[{{ $items.no }}][discount_percent]" onkeyup="discountChange(this);" type="text" class="form-control " value="{{ $items.discount_rate }}" {{ $items.editable }} />
						</div>
						<div class="col-md-1" style="max-width: 140px;">
							<label class="control-label"><b>Discount value</b></label>
							<br/>
							<input name="export-state[{{ $items.no }}][discount_value]" type="text" class="form-control" value="{{ $items.discount_value }}" readonly /> 
						</div>
						<div class="col-md-2" style="max-width: 230px;">
							<label class="control-label"><b>Total Other charges</b></label>
							<br/>
							<input name="export-state[{{ $items.no }}][total_other_charges]" onkeyup="fpoChange(this);" type="text" class="form-control" value="{{ $items.total_other_charges }}" {{ $items.editable }} /> 
						</div>
						<div class="col-md-1" style="max-width: 140px; display: none;">
							<label class="control-label" style="font-size: small;"><b>Taxable amount</b></label>
							<br/>
							<input name="export-state[{{ $items.no }}][taxable_amount]" type="text" class="form-control " value="{{ $items.taxable_amount }}" readonly /> 
						</div>
						<!-- <div class="col-md-1" style="max-width: 100px;">
							<label class="control-label"><b>GST %</b></label>
							<br/>
							<input name="group-a[{{ $items.no }}][gst_percent]" onkeyup="gstChange(this);" class=" form-control"  type="text" value="{{ $items.gst_rate}}" /> 
						</div> -->
						<div class="col-md-1" style="max-width: 140px; display: none;">
							<label class="control-label"><b>IGST Rate</b></label>
							<br/>
							<input name="export-state[{{ $items.no }}][igst_rate]" onkeyup="igstChange(this);" class="form-control"  type="text" value="{{ $items.igst_rate }}" {{ $items.editable }} /> 
						</div>
						<div class="col-md-1" style="max-width: 140px; display: none;">
							<label class="control-label"><b>IGST Amount</b></label>
							<br/>
							<input name="export-state[{{ $items.no }}][igst_amount]" type="text" class="form-control " value="{{ $items.igst_amount }}" readonly />
						</div>
						<div class="col-md-1" style="max-width: 140px; display: none;">
							<label class="control-label"><b>CGST Rate</b></label>
							<br/>
							<input name="export-state[{{ $items.no }}][cgst_rate]" onkeyup="cgstChange(this);" type="text" class="form-control " value="{{ $items.cgst_rate }}" {{ $items.editable }} /> 
						</div>
						<div class="col-md-1" style="max-width: 140px; display: none;">
							<label class="control-label"><b>CGST Amount</b></label>
							<br/>
							<input name="export-state[{{ $items.no }}][cgst_amount]" type="text" class="form-control" value="{{ $items.cgst_amount }}" readonly /> 
						</div>
						<div class="col-md-1" style="max-width: 140px; display: none;">
							<label class="control-label"><b>SGST Rate</b></label>
							<br/>
							<input name="export-state[{{ $items.no }}][sgst_rate]" onkeyup="sgstChange(this);" class="form-control"  type="text" value="{{ $items.sgst_rate }}" {{ $items.editable }} /> 
						</div>
						<div class="col-md-1" style="max-width: 140px; display: none;">
							<label class="control-label"><b>SGST Amount</b></label>
							<br/>
							<input name="export-state[{{ $items.no }}][sgst_amount]" class="form-control"  type="text" value="{{ $items.sgst_amount }}" readonly /> 
						</div>
						<div class="col-md-1" style="max-width: 140px; display: none;">
							<label class="control-label"><b>Cess Rate</b></label>
							<br/>
							<input name="export-state[{{ $items.no }}][cess_rate]" onkeyup="cessChange(this);" type="text" class="form-control" value="{{ $items.cess_rate }}" {{ $items.editable }} />
						</div>
						<div class="col-md-1" style="max-width: 140px; display: none;">
							<label class="control-label"><b>Cess Amount</b></label>
							<br/>
							<input name="export-state[{{ $items.no }}][cess_amount]" type="text" class="form-control " value="{{ $items.cess_amount }}" readonly />
						</div>
						<div class="col-md-1" style="max-width: 200px; display: none;">
							<label class="control-label"><b>Total Tax & Cess</b></label>
							<br/>
							<input name="export-state[{{ $items.no }}][total_tax_cess]" type="text"  class="form-control" value="{{ $items.total_tax_cess }}" readonly /> 
						</div>
						<div class="col-md-1" style="max-width: 200px;">
							<label class="control-label"><b>Total Value</b></label>
							<br/>
							<input name="export-state[{{ $items.no }}][total_after_tax]" type="text" class="form-control" value="{{ $items.total_after_tax }}" readonly /> 
						</div>
						<input name="export-state[{{ $items.no }}][received_quantity]" type="hidden" class="form-control" value="{{ $items.received_quantity }}" readonly /> 
						<input name="export-state[{{ $items.no }}][rejected_quantity]" type="hidden" class="form-control" value="{{ $items.rejected_quantity }}" readonly /> 
						<!--<div class="col-md-1" style="max-width: 100px;">
							<label class="control-label"><b>Freight</b></label>
							<br/>
							<input name="group-a[{{ $items.no }}][freight]" onkeyup="othersChange(this);" class=" form-control"  type="text" value="{{ $items.freight }}" /> 
						</div>
						<div class="col-md-1" style="max-width: 100px;">
							<label class="control-label"><b>Insurance</b></label>
							<br/>
							<input name="group-a[{{ $items.no }}][insurance]" onkeyup="othersChange(this);" class="form-control"  type="text" value="{{ $items.insurance }}" /> 
						</div>
						<div class="col-md-2" style="max-width: 200px;">
							<label class="control-label"><b>Packaging & Forwarding</b></label>
							<br/>
							<input name="group-a[{{ $items.no }}][packaging_forwarding]" onkeyup="othersChange(this);" type="text" class="form-control " value="{{ $items.packaging_forwarding }}" />
						</div>
						<div class="col-md-1" style="max-width: 100px;">
							<label class="control-label"><b>Others</b></label>
							<br/>
							<input name="group-a[{{ $items.no }}][others]" onkeyup="othersChange(this);" type="text" class="form-control" value="{{ $items.others }}" /> 
						</div>-->
						
						<!--<div class="col-md-2">
							<label class="control-label"><b>Unit Price</b></label>
							<br/>
							<input id="{{ $items.no }}" type="text" name="poitems[{{ $items.no }}][unitprice]" class="form-control ratetxt" value="{{ $items.rate }}" /> 
							
						</div>
						<div class="col-md-2">
							<label class="control-label"><b>Quantity</b></label>
							<br/>
							<input id="quantity_{{ $items.no }}" class="pcp_qty form-control" onchange="calculateTotal()" type="text" value="{{ $items.quantity }}" name="poitems[{{ $items.no }}][quantity]"> 
						</div>-->
						<!--<div class="col-md-2">
							<label class="control-label"><b>Packet Size</b></label>
							<br/>
							<input class="form-control" type="text" value="{{ $items.packet_size }}" name="p_size{{ $items.no }}" readonly> 
							
						</div>-->
						<!--<div class="col-md-2">
							<label class="control-label"><b>Total</b></label>
							<br/>
							<input id="total{{ $items.no }}" name="total{{ $items.no }}" value="{{ $items.total_cost }}" type="text" readonly name="text-input" class="form-control pricetxt" value="" placeholder="" />
						</div>-->
						<!-- {{if compare $items.editable "readonly"}}
						{{else}}
						<div  class="mt-repeater-input">
							<a name="export-state[{{ $items.no }}][delete_btn]"  href="javascript:;" data-repeater-delete onclick="showtaxes()" class="btn btn-danger mt-repeater-delete" style="margin-top: 26px;">
								<i class="fa fa-close"></i>
							</a>
						</div>
						{{end}} -->
					</div>
				</div>
			</div>
			{{end}}
			</div>
			<a href="javascript:;" data-repeater-create class="btn btn-success mt-repeater-add" style="margin-top: 15px; margin-left: 30px;">
				<i class="fa fa-plus"></i>Items/Products
			</a>
		</div>
	</fieldset>
	{{if compare .FormItems.TaxRegime "3"}}	
	<div class="row" style="margin-top: 15px;">
		<div class="col-md-6">
			<div class="form-group">
				<label class="control-label col-md-4">Total Freight, Packaging & Other Carges</label>
				<div class="col-md-8">
					<input name="sum_freight_packaging_others" type="text" class="form-control"  value="{{.FormItems.TotalFreightPackaging}}" readonly>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label class="control-label col-md-4">Total value </label>
				<div class="col-md-8">
					<input name="sum_total_taxable_value" type="text" class="form-control" value="{{.FormItems.TotalTaxableValue}}" readonly>
				</div>
			</div>
		</div>
	</div> 
	<div class="row" style="display: none;">
		<div class="col-md-6">
			<div class="form-group">
				<label class="control-label col-md-4">Total Tax</label>
				<div class="col-md-8">
					<input name="sum_total_tax_cess" type="text" class="form-control" value="{{.FormItems.TotalTaxCess}}" readonly>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label class="control-label col-md-4">Total After Taxes </label>
				<div class="col-md-8">
					<input name="sum_total_after_taxes" type="text" class="form-control"  value="{{.FormItems.TotalAfterTaxes}}" readonly>
				</div>
			</div>
		</div>
	</div>
	{{else}}
	<div class="row" style="margin-top: 15px;">
		<div class="col-md-6">
			<div class="form-group">
				<label class="control-label col-md-4">Total Freight, Packaging & Other Carges</label>
				<div class="col-md-8">
					<input name="sum_freight_packaging_others" type="text" class="form-control"  value="{{.FormItems.TotalFreightPackaging}}" readonly>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label class="control-label col-md-4">Total Taxable value </label>
				<div class="col-md-8">
					<input name="sum_total_taxable_value" type="text" class="form-control" value="{{.FormItems.TotalTaxableValue}}" readonly>
				</div>
			</div>
		</div>
	</div> 
	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
				<label class="control-label col-md-4">Total Tax</label>
				<div class="col-md-8">
					<input name="sum_total_tax_cess" type="text" class="form-control" value="{{.FormItems.TotalTaxCess}}" readonly>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label class="control-label col-md-4">Total After Taxes </label>
				<div class="col-md-8">
					<input name="sum_total_after_taxes" type="text" class="form-control"  value="{{.FormItems.TotalAfterTaxes}}" readonly>
				</div>
			</div>
		</div>
	</div>
	{{end}}
	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
				<label class="control-label col-md-4">Payment Terms </label>
				<div class="col-md-8">
					<textarea name="payment_terms" class="form-control"  placeholder="" rows="3" readonly >{{.FormItems.PaymentTerms}}</textarea>
					{{if .Errors.PaymentTerms}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.PaymentTerms}}</span>{{end}}
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label class="control-label col-md-4">Billing Address </label>
				<div class="col-md-8">
					<textarea name="billing_address" class="form-control" placeholder="" rows="3" >{{.FormItems.BillingAddress}}</textarea>
					{{if .Errors.BillingAddress}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.BillingAddress}}</span>{{end}}
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
				<label class="control-label col-md-4">Transporter </label>
				<div class="col-md-8">
					<select id="transporter" name="transporter" onchange="transporterChange()" class="form-control select2" data-placeholder="Choose a Transporter">
						<option disabled selected value> -- Choose a Transporter -- </option>
						{{ range $transporter := .TransporterRetrieved }}
						<option value="{{ $transporter._id }}" {{if compare $.FormItems.Transporter $transporter._id }} selected {{end}}>{{ $transporter.transporter_name }} </option>
						{{end}}
					</select>
					{{if .Errors.Transporter}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Transporter}}</span>{{end}}
				</div>
			</div>
		</div>
		<!--/span-->

		<div class="col-md-6">
				<div class="form-group">
					<label class="control-label col-md-4">Warehouse </label>
					<div class="col-md-8">
						<input id="prev_warehouse_id" type="hidden" value="{{.FormItems.TransporterWarehouse}}">
						<select id="transporter_warehouse" name="transporter_warehouse" class="form-control select2" data-size="4" data-placeholder="Choose a Warehouse"></select>
						{{if .Errors.Warehouse}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Warehouse}}</span>{{end}}
					</div>
				</div>
			</div>


		<div class="col-md-6">
			<div class="form-group">
				<label class="control-label col-md-4">Vehicle </label>
				<div class="col-md-8">
					<input id="prevehicle" type="hidden" value="{{.FormItems.Vehicle}}">
					<select id="vehicle" name="vehicle" class="form-control select2" data-size="4" data-placeholder="Choose a Vehicle"></select>
					{{if .Errors.Vehicle}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Vehicle}}</span>{{end}}
				</div>
			</div>
		</div>
		<!--/span-->
	</div>	
	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
				<label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Total Invoice Value </label>
				<div class="col-md-8">
					<input name="sum_total_invoice_value" type="text" class="form-control"  value="{{.FormItems.TotalInvoiceValue}}" readonly>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			
		</div>
	</div>
								
		<div class="form-actions">
			<div class="row">
				<div class="col-md-12" style="text-align: center;">
					<button type="submit" class="btn green" style="height: 40px;width: 80px">Update</button>
                    
					<!-- <button type="button" class="btn default" style="height: 40px;width: 80px">Reset</button> -->
				</div>
			</div>
		</div>
						
	   </form>
      </div>	
	</div>

</div>
	</div>
	
</div>

		

        {{end}}

        {{ define "pagelevelplugins" }} 
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <script src="/static/assets/global/scripts/datatable.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/jquery-repeater/jquery.repeater.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
		<script src="/static/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.js" type="text/javascript"></script>
		 <script src="/static/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
		 <script src="/static/assets/global/plugins/bootstrap-select/js/bootstrap-select.min.js" type="text/javascript"></script>
		 <script src="/static/assets/global/plugins/jquery-multi-select/js/jquery.multi-select.js" type="text/javascript"></script>
		 <script src="/static/assets/global/plugins/typeahead/typeahead.bundle.min.js" type="text/javascript"></script>
		 <script src="/static/assets/global/plugins/jQuery.print-master/jQuery.print.js" type="text/javascript"></script>
        <!-- END PAGE LEVEL PLUGINS -->     
        {{ end }}

        {{define "pagelevelscripts"}} 
        <!-- BEGIN PAGE LEVEL SCRIPTS -->
        <script src="/static/assets/pages/scripts/table-datatables-managed.js" type="text/javascript"></script>
        <script src="/static/assets/pages/scripts/components-select2.min.js" type="text/javascript"></script>		
		<script src="/static/assets/pages/scripts/components-bootstrap-select.min.js" type="text/javascript"></script>
        <script src="/static/assets/pages/scripts/components-bootstrap-touchspin.js" type="text/javascript"></script>
		<script src="/static/assets/pages/scripts/components-multi-select.min.js" type="text/javascript"></script>
		 <script src="/static/assets/global/plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.js"></script>
		 
        <!-- <script src="/static/assets/pages/scripts/form-repeater.min.js" type="text/javascript"></script> -->
        <script src="/static/assets/pages/scripts/components-date-time-pickers.min.js" type="text/javascript"></script>
		<script src="/static/assets/pages/scripts/components-bootstrap-select.min.js" type="text/javascript"></script>
		<script src="/static/assets/pages/scripts/components-multi-select.min.js" type="text/javascript"></script>
		<script src="/static/assets/pages/scripts/components-bootstrap-touchspin.js" type="text/javascript"></script>
		<script type="text/javascript">
            var todaysDate = new Date();
            function convertDate(date) {
                var yyyy = date.getFullYear().toString();
                var mm = (date.getMonth()+1).toString();
                var dd  = date.getDate().toString();
    
                var mmChars = mm.split('');
                var ddChars = dd.split('');
    
                return yyyy + '-' + (mmChars[1]?mm:"0"+mmChars[0]) + '-' + (ddChars[1]?dd:"0"+ddChars[0]);
            }
    
            document.getElementById('todays_date').value = convertDate(todaysDate);
        </script>
		<script type="text/javascript">
             $('.date-picker').datepicker({
             pickerPosition: "bottom-left"
             });
         </script>
		 <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script> -->
		
		<script>
			$(document).ready(function(){
				$(function() {

                    $('input.pcp_qty').change(calculateQtyItemTotal);
                });

				// $(function() {

    //                 $('input.ratetxt').change(calculateItemTotal);
    //             });

                $(function() {

                     $('input.pcp_qty').change(calculateTotalPriceSum);
                 });

				//iterate through each textboxes and add keyup
				//handler to trigger sum event
				$(function() {

					$('input.txt').keyup(calculateSum);
				});

				$(function() {
					
					$("#fdiscount").keyup(calculateFinalTotal);
				});

			});

			function calculateTotalPriceSum() {

                var sum = 0;
                //iterate through each textboxes and add the values
                $('input.pricetxt').each(function() {

                    //add only if the value is number
                    if(!isNaN(this.value) && this.value.length!=0) {
                        sum += parseFloat(this.value);
                    }

                });
                $("#total_price").val(sum.toFixed(2));
				$("#sum").val(sum.toFixed(2));
				$("#final_total").val(sum.toFixed(2));
            }

			function calculateItemTotal() {
            	var element = $(this);
    			var _id = element.attr("id");
    			var rate_id = "#" + _id;
            	var pquantity;
                $(rate_id).each(function() {
                	var quantity_id = "#quantity" + _id;
                    quantity = $(quantity_id).val();
                    //var pquantity ;
                    pquantity = parseFloat(quantity);
                    //add only if the value is number
                    if(!isNaN(this.value) && this.value.length!=0) {
                        pquantity *= parseFloat(this.value);
                    }
                    var total_id = "#total" + _id;
                $(total_id).val(pquantity.toFixed(2));
                });
                
            }

            function calculateQtyItemTotal() {
            	var element = $(this);
    			var _id = element.attr("id");
	    		var res = _id.split("_");
	    		var proper_id = res[1];
    			var quantity_id = "#" + _id;
            	var prate;
                $(quantity_id).each(function() {
                	var rate_id = "#" + proper_id;
                    rate = $(rate_id).val();
                    //var pquantity ;
                    prate = parseFloat(rate);
                    //add only if the value is number
                    if(!isNaN(this.value) && this.value.length!=0) {
                        prate *= parseFloat(this.value);
                    }

                        var total_id = "#total" + proper_id;
                		$(total_id).val(prate.toFixed(2));
                });
                
            }

			function calculateSum() {

				var sum = 0;
				var subtotal = $("#total_price").val();
				psubtotal = parseFloat(subtotal);
				var subdiscount = $("#pcp_disc_sub_total").val();
				psubdiscount = parseFloat(subdiscount);
				sum = psubtotal - psubdiscount ;
				// $('input.pricetxt').each(function() {

				// 	//add only if the value is number
				// 	if(!isNaN(this.value) && this.value.length!=0) {
				// 		sum += parseFloat(this.value);
				// 	}

				// });

				//iterate through each textboxes and add the values
				$('input.grandtxt').each(function() {

					//add only if the value is number
					if(!isNaN(this.value) && this.value.length!=0) {
						sum += parseFloat(this.value);
					}

				});
				//.toFixed() method will roundoff the final sum to 2 decimal places
				$("#sum").val(sum.toFixed(2));
				$("#final_total").val(sum.toFixed(2));
			}

			function calculateFinalTotal() {
				var ftotal = $("#sum").val();
				$("#fdiscount").each(function() {

					//add only if the value is number
					if(!isNaN(this.value) && this.value.length!=0) {
						ftotal -= parseFloat(this.value);
					}

				});
				$("#final_total").val(ftotal.toFixed(2));
			}

		</script>

		<script type="text/javascript">
			$(document).ready(function(){
				$('select.item_drop').change(function() {
					supplier = $(supplier_id).val();
				    // Pure JS
				    var element = $(this);
	    			var _id = element.attr("id");
	    			var res = _id.split("_");
	    			var proper_id = res[1];

	    			// var rate_id = "#" + _id;
				    var selectedVal = this.value;
				    var selectedText = this.options[this.selectedIndex].text;

				    // // jQuery
				    // var selectedVal = $(this).find(':selected').val();
				    // var selectedText = $(this).find(':selected').text();
				    var info = 'supplier=' + supplier + '&item=' + selectedVal;

				    $.ajax({
			            type: "GET",
			            url: "/purchase/po-rates",
			            data: info,
			            contentType: "application/json; charset=utf-8",
			            dataType: "json",
			            cache: false,
			            success: function(data){ 
			                 document.getElementById(proper_id).value = data.rate ;
			            } 
			        });
				});
			});
		</script>
		<script type="text/javascript">
			row_count = 0;
			$(document).ready(function () {
				var prefix;
				if ( document.getElementById('regime').value == '1'){
					prefix = "intra-state"
				} else if (document.getElementById('regime').value == '2') {
					prefix = "inter-state"
				} else if (document.getElementById('regime').value == '3') {
					prefix = "export-state"
				}
                $('.mt-repeater').repeater({
                    show: function () {
                        var item_name = prefix + "[" + row_count + "][item_name]" ;
						var selectedValue = document.getElementsByName(item_name)[0].value;
						//window.alert(selectedValue);
						if (selectedValue != '') {
							row_count++;
						// 	var cost_name = prefix + "[" + row_count + "][cost]" ;
							$(this).slideDown();
							$('.select2-container').remove();
							$('.select2').select2({
							placeholder: "Placeholder text",
							});
							$('.select2-container').css('width','100%');
						} else {
							window.alert("An existing record is not filled. Please select an item before proceeding.")
						}
                        $('.date-picker').datepicker({
                            rtl: App.isRTL(),
                            orientation: "left",
                            autoclose: true
                        });
                    },

                    hide: function (deleteElement) {
                        if(confirm('Are you sure you want to delete this row?')) {
                            row_count--;
                            $(this).slideUp(deleteElement);
                            setTimeout(function(){ itemRemove(); }, 2000);
                        }
                    },
                    
                    isFirstItemUndeletable: false
                })
            });

			function hsnChange(element) {
				var _name = element.name;
				var res = _name.split("[");
				var new_res = res[1].split("]");
				var prefix;
				if ( document.getElementById('regime').value == '1'){
					prefix = "intra-state"
				} else if (document.getElementById('regime').value == '2') {
					prefix = "inter-state"
				} else if (document.getElementById('regime').value == '3') {
					prefix = "export-state"
				}
				var item_name = prefix + "[" + new_res[0] + "][item_name]" ;
				var selectedValue = document.getElementsByName(item_name)[0].value;
				if (selectedValue == '') {
					window.alert("Please select an item before proceeding");
					element.value = "";
					return;
				}
			}

			function uomChange(element) {
				var _name = element.name;
				var res = _name.split("[");
				var new_res = res[1].split("]");
				var prefix;
				if ( document.getElementById('regime').value == '1'){
					prefix = "intra-state"
				} else if (document.getElementById('regime').value == '2') {
					prefix = "inter-state"
				} else if (document.getElementById('regime').value == '3') {
					prefix = "export-state"
				}
				var item_name = prefix + "[" + new_res[0] + "][item_name]" ;
				var selectedValue = document.getElementsByName(item_name)[0].value;
				if (selectedValue == '') {
					window.alert("Please select an item before proceeding");
					element.value = "";
					return;
				}
			}

			function costChange(element) {
				var _name = element.name;
				var res = _name.split("[");
				var new_res = res[1].split("]");
				var prefix;
				if ( document.getElementById('regime').value == '1'){
					prefix = "intra-state"
				} else if (document.getElementById('regime').value == '2') {
					prefix = "inter-state"
				} else if (document.getElementById('regime').value == '3') {
					prefix = "export-state"
				}
				var item_name = prefix + "[" + new_res[0] + "][item_name]" ;
				var selectedValue = document.getElementsByName(item_name)[0].value;
				if (selectedValue == '') {
					window.alert("Please select an item before proceeding");
					element.value = "";
					return;
				}
				var cost_name = prefix + "[" + new_res[0] + "][cost]" ;
				var costVal = document.getElementsByName(cost_name)[0].value;
				if(isNaN(costVal) && costVal.length!=0) {
					costVal = 0;
					document.getElementsByName(cost_name)[0].value = 0.0;
				}
				if (costVal.length==0) {
					costVal = 0;
				}
				var qty_name = prefix + "[" + new_res[0] + "][qty]" ;
				var qtyVal = document.getElementsByName(qty_name)[0].value;
				if(isNaN(qtyVal) && qtyVal.length!=0 ) {
					qtyVal = 0;
					document.getElementsByName(qty_name)[0].value = 0.0;
				}
				if (qtyVal.length==0) {
					qtyVal = 0;
				}
				var qty_cost = parseFloat(qtyVal) * parseFloat(costVal);
				var taxable_amt_name = prefix + "[" + new_res[0] + "][taxable_amount]" ;
				document.getElementsByName(taxable_amt_name)[0].value = qty_cost.toFixed(2);
				quantityChange(element);
			}

			function quantityChange(element) {
				var _name = element.name;
				var res = _name.split("[");
				var new_res = res[1].split("]");
				var prefix;
				if ( document.getElementById('regime').value == '1'){
					prefix = "intra-state"
				} else if (document.getElementById('regime').value == '2') {
					prefix = "inter-state"
				} else if (document.getElementById('regime').value == '3') {
					prefix = "export-state"
				}
				var item_name = prefix + "[" + new_res[0] + "][item_name]" ;
				var selectedValue = document.getElementsByName(item_name)[0].value;
				if (selectedValue == '') {
					window.alert("Please select an item before proceeding");
					element.value = "";
					return;
				}
				var qty_name = prefix + "[" + new_res[0] + "][qty]" ;
				var qtyVal = document.getElementsByName(qty_name)[0].value;
				if(isNaN(qtyVal) && qtyVal.length!=0) {
					qtyVal = 0;
					document.getElementsByName(qty_name)[0].value = 0.0;
				}
				if (qtyVal.length==0) {
					qtyVal = 0;
				}
				var cost_name = prefix + "[" + new_res[0] + "][cost]" ;
				var costVal = document.getElementsByName(cost_name)[0].value;
				var qty_cost = parseFloat(qtyVal) * parseFloat(costVal);
				var taxable_amt_name = prefix + "[" + new_res[0] + "][taxable_amount]" ;
				document.getElementsByName(taxable_amt_name)[0].value = qty_cost.toFixed(2);
				discountChange(element);
			}

			taxable_amt_sum = [];
			function discountChange(element) {
				var _name = element.name;
				var res = _name.split("[");
				var new_res = res[1].split("]");
				var prefix;
				if ( document.getElementById('regime').value == '1'){
					prefix = "intra-state"
				} else if (document.getElementById('regime').value == '2') {
					prefix = "inter-state"
				} else if (document.getElementById('regime').value == '3') {
					prefix = "export-state"
				}
				var item_name = prefix + "[" + new_res[0] + "][item_name]" ;
				var selectedValue = document.getElementsByName(item_name)[0].value;
				if (selectedValue == '') {
					window.alert("Please select an item before proceeding");
					element.value = "";
					return;
				}
				var discount_name = prefix + "[" + new_res[0] + "][discount_percent]" ;
				var discountVal = document.getElementsByName(discount_name)[0].value;
				if(isNaN(discountVal) && discountVal.length!=0) {
					discountVal = 0 ;
					document.getElementsByName(discount_name)[0].value = 0.0;
				}
				if (discountVal.length==0) {
					discountVal = 0 ;
				}
				var qty_name = prefix + "[" + new_res[0] + "][qty]" ;
				var qtyVal = document.getElementsByName(qty_name)[0].value;
				if(isNaN(qtyVal) && qtyVal.length!=0) {
					qtyVal = 0 ;
					document.getElementsByName(qty_name)[0].value = 0.0;
				}
				if (qtyVal.length==0) {
					qtyVal = 0 ;
				}
				var cost_name = prefix + "[" + new_res[0] + "][cost]" ;
				var costVal = document.getElementsByName(cost_name)[0].value;
				if(isNaN(costVal) && costVal.length!=0) {
					costVal = 0 ;
					document.getElementsByName(cost_name)[0].value = 0.0;
				}
				if (costVal.length==0){
					costVal = 0 ;
				}
				
				var qty_cost_discount = parseFloat(qtyVal) * parseFloat(costVal) * (parseFloat(discountVal) / 100);
				var disc_value_name = prefix + "[" + new_res[0] + "][discount_value]" ;
				document.getElementsByName(disc_value_name)[0].value = qty_cost_discount.toFixed(2);

				fpoChange(element);
			}

			function gstChange(element) {
				var _name = element.name;
				var res = _name.split("[");
				var new_res = res[1].split("]");
				var prefix;
				if ( document.getElementById('regime').value == '1'){
					prefix = "intra-state"
				} else if (document.getElementById('regime').value == '2') {
					prefix = "inter-state"
				} else if (document.getElementById('regime').value == '3') {
					prefix = "export-state"
				}
				
				var gst_name = prefix + "[" + new_res[0] + "][gst_percent]" ;
				var gstVal = document.getElementsByName(gst_name)[0].value;
				if(isNaN(gstVal) && gstVal.length!=0) {
					document.getElementsByName(gst_name)[0].value = 0.0;
				} 
			}

			function igstChange(element) {
				var _name = element.name;
				var res = _name.split("[");
				var new_res = res[1].split("]");
				var prefix;
				if ( document.getElementById('regime').value == '1'){
					prefix = "intra-state"
				} else if (document.getElementById('regime').value == '2') {
					prefix = "inter-state"
				} else if (document.getElementById('regime').value == '3') {
					prefix = "export-state"
				}
				var item_name = prefix + "[" + new_res[0] + "][item_name]" ;
				var selectedValue = document.getElementsByName(item_name)[0].value;
				if (selectedValue == '') {
					window.alert("Please select an item before proceeding");
					element.value = "";
					return;
				}
				var igst_amt_name = prefix + "[" + new_res[0] + "][igst_amount]" ;
				var igst_name = prefix + "[" + new_res[0] + "][igst_rate]" ;
				var igstVal = document.getElementsByName(igst_name)[0].value;
				if(!isNaN(igstVal) && igstVal.length!=0) {
					var taxable_amt_name = prefix + "[" + new_res[0] + "][taxable_amount]" ;
					var taxable_amt = document.getElementsByName(taxable_amt_name)[0].value;
					
					var igst_amt = parseFloat(taxable_amt) * (parseFloat(igstVal)/100);
					
					document.getElementsByName(igst_amt_name)[0].value = igst_amt.toFixed(2);
				} else if(isNaN(igstVal) && igstVal.length!=0) {
					document.getElementsByName(igst_amt_name)[0].value = 0.0;
					document.getElementsByName(igst_name)[0].value = 0.0;
				} else {
					document.getElementsByName(igst_amt_name)[0].value = 0.0;
				}
				cessChange(element);
			}

			function cgstChange(element) {
				var _name = element.name;
				var res = _name.split("[");
				var new_res = res[1].split("]");
				var prefix;
				if ( document.getElementById('regime').value == '1'){
					prefix = "intra-state"
				} else if (document.getElementById('regime').value == '2') {
					prefix = "inter-state"
				} else if (document.getElementById('regime').value == '3') {
					prefix = "export-state"
				}
				var item_name = prefix + "[" + new_res[0] + "][item_name]" ;
				var selectedValue = document.getElementsByName(item_name)[0].value;
				if (selectedValue == '') {
					window.alert("Please select an item before proceeding");
					element.value = "";
					return;
				}
				var cgst_amt_name = prefix + "[" + new_res[0] + "][cgst_amount]" ;
				var cgst_name = prefix + "[" + new_res[0] + "][cgst_rate]" ;
				var cgstVal = document.getElementsByName(cgst_name)[0].value;
				if(!isNaN(cgstVal) && cgstVal.length!=0) {
					var taxable_amt_name = prefix + "[" + new_res[0] + "][taxable_amount]" ;
					var taxable_amt = document.getElementsByName(taxable_amt_name)[0].value;
					
					var cgst_amt = parseFloat(taxable_amt) * (parseFloat(cgstVal)/100);
					
					document.getElementsByName(cgst_amt_name)[0].value = cgst_amt.toFixed(2);
				} else if(isNaN(cgstVal) && cgstVal.length!=0) {
					document.getElementsByName(cgst_amt_name)[0].value = 0.0;
					document.getElementsByName(cgst_name)[0].value = 0.0;
				} else {
					document.getElementsByName(cgst_amt_name)[0].value = 0.0;
				}
				cessChange(element);
			}

			function sgstChange(element) {
				var _name = element.name;
				var res = _name.split("[");
				var new_res = res[1].split("]");
				var prefix;
				if ( document.getElementById('regime').value == '1'){
					prefix = "intra-state"
				} else if (document.getElementById('regime').value == '2') {
					prefix = "inter-state"
				} else if (document.getElementById('regime').value == '3') {
					prefix = "export-state"
				}
				var item_name = prefix + "[" + new_res[0] + "][item_name]" ;
				var selectedValue = document.getElementsByName(item_name)[0].value;
				if (selectedValue == '') {
					window.alert("Please select an item before proceeding");
					element.value = "";
					return;
				}
				var sgst_amt_name = prefix + "[" + new_res[0] + "][sgst_amount]" ;
				var sgst_name = prefix + "[" + new_res[0] + "][sgst_rate]" ;
				var sgstVal = document.getElementsByName(sgst_name)[0].value;
				if(!isNaN(sgstVal) && sgstVal.length!=0) {
					var taxable_amt_name = prefix + "[" + new_res[0] + "][taxable_amount]" ;
					var taxable_amt = document.getElementsByName(taxable_amt_name)[0].value;
					
					var sgst_amt = parseFloat(taxable_amt) * (parseFloat(sgstVal)/100);
					
					document.getElementsByName(sgst_amt_name)[0].value = sgst_amt.toFixed(2);
				} else if(isNaN(sgstVal) && sgstVal.length!=0) {
					document.getElementsByName(sgst_amt_name)[0].value = 0.0;
					document.getElementsByName(sgst_name)[0].value = 0.0;
				} else {
					document.getElementsByName(sgst_amt_name)[0].value = 0.0;
				}
				cessChange(element);
			}

			total_tax_cess_sum = [] ;
			total_after_taxes_sum = [] ;
			function cessChange(element) {
				var _name = element.name;
				var res = _name.split("[");
				var new_res = res[1].split("]");
				var prefix;
				if ( document.getElementById('regime').value == '1'){
					prefix = "intra-state"
				} else if (document.getElementById('regime').value == '2') {
					prefix = "inter-state"
				} else if (document.getElementById('regime').value == '3') {
					prefix = "export-state"
				}
				
				var cess_name = prefix + "[" + new_res[0] + "][cess_rate]" ;
				var cessVal = document.getElementsByName(cess_name)[0].value;
				if(isNaN(cessVal) && cessVal.length!=0) {
					document.getElementsByName(cess_name)[0].value = 0.0;
					cessVal = 0.0;
				}
				if (cessVal.length==0) {
					cessVal = 0.0;
				}

				var igst_amt_name = prefix + "[" + new_res[0] + "][igst_amount]" ;
				var igst_amt = document.getElementsByName(igst_amt_name)[0].value;
				if(isNaN(igst_amt) || igst_amt.length==0) {
					igst_amt = 0 ;
					var igst_name = prefix + "[" + new_res[0] + "][igst_rate]" ;
					document.getElementsByName(igst_name)[0].value = 0.0;
					document.getElementsByName(igst_amt_name)[0].value = 0.0;
				}
				var cgst_amt_name = prefix + "[" + new_res[0] + "][cgst_amount]" ;
				var cgst_amt = document.getElementsByName(cgst_amt_name)[0].value;
				if(isNaN(cgst_amt) || cgst_amt.length==0) {
					cgst_amt = 0 ;
					var cgst_name = prefix + "[" + new_res[0] + "][cgst_rate]" ;
					document.getElementsByName(cgst_name)[0].value = 0.0;
					document.getElementsByName(cgst_amt_name)[0].value = 0.0;
				}
				var sgst_amt_name = prefix + "[" + new_res[0] + "][sgst_amount]" ;
				var sgst_amt = document.getElementsByName(sgst_amt_name)[0].value;
				if(isNaN(sgst_amt) || sgst_amt.length==0) {
					sgst_amt = 0 ;
					var sgst_name = prefix + "[" + new_res[0] + "][sgst_rate]" ;
					document.getElementsByName(sgst_name)[0].value = 0.0;
					document.getElementsByName(sgst_amt_name)[0].value = 0.0;
				}
				
				var cess_amt = (parseFloat(igst_amt) + parseFloat(cgst_amt) + parseFloat(sgst_amt)) * (parseFloat(cessVal)/100);
				var cess_amt_name = prefix + "[" + new_res[0] + "][cess_amount]" ;
				document.getElementsByName(cess_amt_name)[0].value = cess_amt.toFixed(2);

				var total_tax_cess = parseFloat(igst_amt) + parseFloat(cgst_amt) + parseFloat(sgst_amt) + parseFloat(cess_amt);
				var total_tax_cess_name = prefix + "[" + new_res[0] + "][total_tax_cess]" ;
				document.getElementsByName(total_tax_cess_name)[0].value = total_tax_cess.toFixed(3);
				if(!isNaN(total_tax_cess) && total_tax_cess.length!=0) {
					total_tax_cess_sum[new_res[0]] = document.getElementsByName(total_tax_cess_name)[0].value;
					
					var x = total_tax_cess_sum.length; 
					
					var new_total_tax_cess_sum = 0.0;
					for (i=0; i < x; i++) {
						var low = parseFloat(total_tax_cess_sum[i]);
						if(isNaN(low) || low.length == 0) {
								low = 0.0
							}
						new_total_tax_cess_sum = new_total_tax_cess_sum + low;
					}
					//window.alert(new_total_discount);
					document.getElementsByName('sum_total_tax_cess')[0].value = new_total_tax_cess_sum.toFixed(2);
				} else {
					var x = total_tax_cess_sum.length; 
					if ( x <= 0 ){
						document.getElementsByName('sum_total_tax_cess')[0].value = 0.0;
					} else {
						var new_total_tax_cess_sum = 0.0;
						for (i=0; i < x; i++) {
							var low = parseFloat(total_tax_cess_sum[i]);
							if(isNaN(low) || low.length == 0) {
								low = 0.0
							}
							new_total_tax_cess_sum = new_total_tax_cess_sum + low;
						}
						//window.alert(new_total_discount);
						document.getElementsByName('sum_total_tax_cess')[0].value = new_total_tax_cess_sum.toFixed(2);
					}
				}

				var taxable_amt_name = prefix + "[" + new_res[0] + "][taxable_amount]" ;
				var taxable_amt = document.getElementsByName(taxable_amt_name)[0].value;
				

				var total_after_tax = parseFloat(taxable_amt) + parseFloat(total_tax_cess);
				var total_after_tax_name = prefix + "[" + new_res[0] + "][total_after_tax]" ;
				document.getElementsByName(total_after_tax_name)[0].value = total_after_tax.toFixed(2);
				if(!isNaN(total_after_tax) && total_after_tax.length!=0) {
					total_after_taxes_sum[new_res[0]] = document.getElementsByName(total_after_tax_name)[0].value;
					
					var x = total_after_taxes_sum.length; 
					
					var new_total_after_taxes_sum = 0.0;
					for (i=0; i < x; i++) {
						var low = parseFloat(total_after_taxes_sum[i]);
						if(isNaN(low) || low.length == 0) {
								low = 0.0
							}
						new_total_after_taxes_sum = new_total_after_taxes_sum + low;
					}
					//window.alert(new_total_discount);
					document.getElementsByName('sum_total_after_taxes')[0].value = new_total_after_taxes_sum.toFixed(2);
				} else {
					var x = total_after_taxes_sum.length; 
					if ( x <= 0 ){
						document.getElementsByName('sum_total_after_taxes')[0].value = 0.0;
					} else {
						var new_total_after_taxes_sum = 0.0;
						for (i=0; i < x; i++) {
							var low = parseFloat(total_after_taxes_sum[i]);
							if(isNaN(low) || low.length == 0) {
								low = 0.0
							}
							new_total_after_taxes_sum = new_total_after_taxes_sum + low;
						}
						//window.alert(new_total_discount);
						document.getElementsByName('sum_total_after_taxes')[0].value = new_total_after_taxes_sum.toFixed(2);
					}
				}

				calculateSumTotalInvoice();
			}

			other_sum = [] ;
			function fpoChange(element) {
				var _name = element.name;
				var res = _name.split("[");
				var new_res = res[1].split("]");
				var prefix;
				if ( document.getElementById('regime').value == '1'){
					prefix = "intra-state"
				} else if (document.getElementById('regime').value == '2') {
					prefix = "inter-state"
				} else if (document.getElementById('regime').value == '3') {
					prefix = "export-state"
				}
				var item_name = prefix + "[" + new_res[0] + "][item_name]" ;
				var selectedValue = document.getElementsByName(item_name)[0].value;
				if (selectedValue == '') {
					window.alert("Please select an item before proceeding");
					element.value = "";
					return;
				}
				var taxable_amt_name = prefix + "[" + new_res[0] + "][taxable_amount]" ;
				var fpo_name = prefix + "[" + new_res[0] + "][total_other_charges]" ;
				var fpoVal = document.getElementsByName(fpo_name)[0].value;
				if(!isNaN(fpoVal) && fpoVal.length!=0) {
					//fpoVal = 0.0 ;
					other_sum[new_res[0]] = document.getElementsByName(fpo_name)[0].value;
				} else {
					if(isNaN(fpoVal) && fpoVal.length!=0) {
						document.getElementsByName(fpo_name)[0].value = 0.0;
					}
					fpoVal = 0;
					other_sum[new_res[0]] = 0.0
				}
				
				var discount_name = prefix + "[" + new_res[0] + "][discount_percent]" ;
				var discountVal = document.getElementsByName(discount_name)[0].value;
				if(isNaN(discountVal) && discountVal.length!=0) {
					discountVal = 0 ;
					document.getElementsByName(discount_name)[0].value = 0.0;
				}
				if (discountVal.length==0) {
					discountVal = 0 ;
				}
				var qty_name = prefix + "[" + new_res[0] + "][qty]" ;
				var qtyVal = document.getElementsByName(qty_name)[0].value;
				if(isNaN(qtyVal) && qtyVal.length!=0) {
					qtyVal = 0 ;
					document.getElementsByName(qty_name)[0].value = 0.0;
				}
				if (qtyVal.length==0) {
					qtyVal = 0 ;
				}
				var cost_name = prefix + "[" + new_res[0] + "][cost]" ;
				var costVal = document.getElementsByName(cost_name)[0].value;
				if(isNaN(costVal) && costVal.length!=0) {
					costVal = 0 ;
					document.getElementsByName(cost_name)[0].value = 0.0;
				}
				if (costVal.length==0){
					costVal = 0 ;
				}
				
				var qty_cost_discount = parseFloat(qtyVal) * parseFloat(costVal) * (parseFloat(discountVal) / 100);

				var qty_cost_dis_others_val = (parseFloat(qtyVal) * parseFloat(costVal)) - parseFloat(qty_cost_discount) + parseFloat(fpoVal);
				var taxable_amt_name = prefix + "[" + new_res[0] + "][taxable_amount]" ;
				document.getElementsByName(taxable_amt_name)[0].value = qty_cost_dis_others_val.toFixed(2);
				if(!isNaN(qty_cost_dis_others_val) && qty_cost_dis_others_val.length!=0) {
					taxable_amt_sum[new_res[0]] = document.getElementsByName(taxable_amt_name)[0].value;
					
					var x = taxable_amt_sum.length; 
					
					var new_taxable_amt_sum = 0.0;
					for (i=0; i < x; i++) {
						var low = parseFloat(taxable_amt_sum[i]);
						if(isNaN(low) || low.length == 0) {
								low = 0.0
							}
						new_taxable_amt_sum = new_taxable_amt_sum + low;
					}
					//window.alert(new_total_discount);
					document.getElementsByName('sum_total_taxable_value')[0].value = new_taxable_amt_sum.toFixed(2);
				} else {
					var x = taxable_amt_sum.length; 
					if ( x <= 0 ){
						document.getElementsByName('sum_total_taxable_value')[0].value = 0.0;
					} else {
						var new_taxable_amt_sum = 0.0;
						for (i=0; i < x; i++) {
							var low = parseFloat(taxable_amt_sum[i]);
							if(isNaN(low) || low.length == 0) {
								low = 0.0
							}
							new_taxable_amt_sum = new_taxable_amt_sum + low;
						}
						//window.alert(new_total_discount);
						document.getElementsByName('sum_total_taxable_value')[0].value = new_taxable_amt_sum.toFixed(2);
					}
				}

				var x = other_sum.length; 
				if ( x <= 0 ){
					document.getElementsByName('sum_freight_packaging_others')[0].value = 0.0;
				} else {
					var new_other_sum = 0.0;
					for (i=0; i < x; i++) {
						var low = parseFloat(other_sum[i]);
						if(isNaN(low) || low.length == 0) {
							low = 0.0
						}
						new_other_sum = new_other_sum + low;
					}
					//window.alert(new_total_discount);
					document.getElementsByName('sum_freight_packaging_others')[0].value = new_other_sum.toFixed(2);
				}

				igstChange(element);
				cgstChange(element);
				sgstChange(element);
			}
			function othersChange(element) {
				var _name = element.name;
				var res = _name.split("[");
				var new_res = res[1].split("]");
				var prefix;
				if ( document.getElementById('regime').value == '1'){
					prefix = "intra-state"
				} else if (document.getElementById('regime').value == '2') {
					prefix = "inter-state"
				} else if (document.getElementById('regime').value == '3') {
					prefix = "export-state"
				}
				
				var freight_name = prefix + "[" + new_res[0] + "][freight]" ;
				var freightVal = document.getElementsByName(freight_name)[0].value;
				if(isNaN(freightVal) || freightVal.length==0) {
					freightVal = 0 ;
				}
				var insurance_name = prefix + "[" + new_res[0] + "][insurance]" ;
				var insuranceVal = document.getElementsByName(insurance_name)[0].value;
				if(isNaN(insuranceVal) || insuranceVal.length==0) {
					insuranceVal = 0 ;
				}
				var packaging_forwarding_name = prefix + "[" + new_res[0] + "][packaging_forwarding]" ;
				var packaging_forwardingVal = document.getElementsByName(packaging_forwarding_name)[0].value;
				if(isNaN(packaging_forwardingVal) || packaging_forwardingVal.length==0) {
					packaging_forwardingVal = 0 ;
				}
				var others_name = prefix + "[" + new_res[0] + "][others]" ;
				var othersVal = document.getElementsByName(others_name)[0].value;
				if(isNaN(othersVal) || othersVal.length==0) {
					othersVal = 0 ;
				}
				
				var total_other = parseFloat(freightVal) + parseFloat(insuranceVal) + parseFloat(packaging_forwardingVal) + parseFloat(othersVal);
				var total_other_name = prefix + "[" + new_res[0] + "][total_other_charges]" ;
				document.getElementsByName(total_other_name)[0].value = total_other.toFixed(2);

				if(!isNaN(total_other) && total_other.length!=0) {
					other_sum[new_res[0]] = document.getElementsByName(total_other_name)[0].value;
					
					var x = other_sum.length; 
					
					var new_other_sum = 0.0;
					for (i=0; i < x; i++) {
						var low = parseFloat(other_sum[i]);
						if(isNaN(low) || low.length == 0) {
								low = 0.0
							}
						new_other_sum = new_other_sum + low;
					}
					//window.alert(new_total_discount);
					document.getElementsByName('sum_freight_packaging_others')[0].value = new_other_sum.toFixed(2);
				} else {
					var x = other_sum.length; 
					if ( x <= 0 ){
						document.getElementsByName('sum_freight_packaging_others')[0].value = 0.0;
					} else {
						var new_total_discount = 0.0;
						for (i=0; i < x; i++) {
							var low = parseFloat(other_sum[i]);
							if(isNaN(low) || low.length == 0) {
								low = 0.0
							}
							new_other_sum = new_other_sum + low;
						}
						//window.alert(new_total_discount);
						document.getElementsByName('sum_freight_packaging_others')[0].value = new_other_sum.toFixed(2);
					}
				}
				
				calculateSumTotalInvoice();
			}

			function calculateSumTotalInvoice() {
				var sum_total_after_taxes = document.getElementsByName('sum_total_after_taxes')[0].value;
				if(isNaN(sum_total_after_taxes) || sum_total_after_taxes.length == 0) {
								sum_total_after_taxes = 0.0
				}
				var sum_other_charges = document.getElementsByName('sum_freight_packaging_others')[0].value;
				if(isNaN(sum_other_charges) || sum_other_charges.length == 0) {
								sum_other_charges = 0.0
				}

				//var sum_total_invoice = parseFloat(sum_total_after_taxes) + parseFloat(sum_other_charges) ;
				//document.getElementsByName('sum_total_invoice_value')[0].value = sum_total_invoice.toFixed(2);
				document.getElementsByName('sum_total_invoice_value')[0].value = parseFloat(sum_total_after_taxes).toFixed(2);
			}

            $(document).ready(function(){
                var rep_len = $(repeater_len).val();
				row_count = rep_len - 1; 
				var prefix;
				if ( document.getElementById('regime').value == '1'){
					prefix = "intra-state"
				} else if (document.getElementById('regime').value == '2') {
					prefix = "inter-state"
				} else if (document.getElementById('regime').value == '3') {
					prefix = "export-state"
				}
				
                for (i=0; i<rep_len; i++) {
                    var item_name = prefix + "[" + i +"][item_name]" ;
				    var itemVal = document.getElementsByName(item_name)[0].value;
                    if (itemVal != "") {
                        calculateRows(i)
                    }
                }

                var y = taxable_amt_sum.length
				
				var sum_taxble_amt = 0.00;
				var sum_tax_cess = 0.00;
				var sum_after_taxes = 0.00;
				var sum_others = 0.00;
				for (i=0; i < y; i++) {
					var t_amt = parseFloat(taxable_amt_sum[i]);
					if(isNaN(t_amt) || t_amt.length == 0) {
						t_amt = 0.0
					}
					sum_taxble_amt = sum_taxble_amt + t_amt;
					
					var tax_cess = parseFloat(total_tax_cess_sum[i]);
					if(isNaN(tax_cess) || tax_cess.length == 0) {
						tax_cess = 0.0
					}
					sum_tax_cess = sum_tax_cess + tax_cess;
					
					var after_taxes = parseFloat(total_after_taxes_sum[i]);
					if(isNaN(after_taxes) || after_taxes.length == 0) {
						after_taxes = 0.0
					}
					sum_after_taxes = sum_after_taxes + after_taxes;
					
					var others = parseFloat(other_sum[i]);
					if(isNaN(others) || others.length == 0) {
						others = 0.0
					}
					sum_others = sum_others + others;
					
				}
				document.getElementsByName('sum_total_taxable_value')[0].value = sum_taxble_amt.toFixed(2);
				document.getElementsByName('sum_total_tax_cess')[0].value = sum_tax_cess.toFixed(2);
				document.getElementsByName('sum_total_after_taxes')[0].value = sum_after_taxes.toFixed(2);
				document.getElementsByName('sum_freight_packaging_others')[0].value = sum_others.toFixed(2);
				var sum_invoice_value = sum_after_taxes + sum_others;
				document.getElementsByName('sum_total_invoice_value')[0].value = sum_after_taxes.toFixed(2);

            });
            
            function itemRemove() {
				var x = taxable_amt_sum.length;
				taxable_amt_sum.length = 0;
				total_tax_cess_sum.length = 0;
				total_after_taxes_sum.length = 0;
				other_sum.length = 0;
				for (i=0; i <= row_count; i++) {
					calculateRows(i);
				}

				var y = taxable_amt_sum.length
				
				var sum_taxble_amt = 0.00;
				var sum_tax_cess = 0.00;
				var sum_after_taxes = 0.00;
				var sum_others = 0.00;
				for (i=0; i < y; i++) {
					var t_amt = parseFloat(taxable_amt_sum[i]);
					if(isNaN(t_amt) || t_amt.length == 0) {
						t_amt = 0.0
					}
					sum_taxble_amt = sum_taxble_amt + t_amt;
					
					var tax_cess = parseFloat(total_tax_cess_sum[i]);
					if(isNaN(tax_cess) || tax_cess.length == 0) {
						tax_cess = 0.0
					}
					sum_tax_cess = sum_tax_cess + tax_cess;
					
					var after_taxes = parseFloat(total_after_taxes_sum[i]);
					if(isNaN(after_taxes) || after_taxes.length == 0) {
						after_taxes = 0.0
					}
					sum_after_taxes = sum_after_taxes + after_taxes;
					
					var others = parseFloat(other_sum[i]);
					if(isNaN(others) || others.length == 0) {
						others = 0.0
					}
					sum_others = sum_others + others;
					
				}
				document.getElementsByName('sum_total_taxable_value')[0].value = sum_taxble_amt.toFixed(2);
				document.getElementsByName('sum_total_tax_cess')[0].value = sum_tax_cess.toFixed(2);
				document.getElementsByName('sum_total_after_taxes')[0].value = sum_after_taxes.toFixed(2);
				document.getElementsByName('sum_freight_packaging_others')[0].value = sum_others.toFixed(2);
				var sum_invoice_value = sum_after_taxes + sum_others;
				document.getElementsByName('sum_total_invoice_value')[0].value = sum_after_taxes.toFixed(2);

			}

			function calculateRows(index) {
				//window.alert(index);
				var prefix;
				if ( document.getElementById('regime').value == '1'){
					prefix = "intra-state"
				} else if (document.getElementById('regime').value == '2') {
					prefix = "inter-state"
				} else if (document.getElementById('regime').value == '3') {
					prefix = "export-state"
				}
				var item_name = prefix + "[" + index +"][item_name]" ;
				var itemVal = document.getElementsByName(item_name)[0].value;
				if (itemVal != "") {
					var taxable_amt_name = prefix + "[" + index + "][taxable_amount]" ;
					taxable_amt_sum[index] = document.getElementsByName(taxable_amt_name)[0].value;
					var total_tax_cess_name = prefix + "[" + index + "][total_tax_cess]" ;
					total_tax_cess_sum[index] = document.getElementsByName(total_tax_cess_name)[0].value;
					var total_after_taxes_name = prefix + "[" + index + "][total_after_tax]" ;
					total_after_taxes_sum[index] = document.getElementsByName(total_after_taxes_name)[0].value;
					var other_sum_name = prefix + "[" + index + "][total_other_charges]" ;
					other_sum[index] = document.getElementsByName(other_sum_name)[0].value;
				}
			}

			function ValidationEvent() {
				var prefix;
				if ( document.getElementById('regime').value == '1'){
					prefix = "intra-state"
				} else if (document.getElementById('regime').value == '2') {
					prefix = "inter-state"
				} else if (document.getElementById('regime').value == '3') {
					prefix = "export-state"
				}
				
				for (i=0; i <= row_count; i++) {
					var item_name = prefix + "[" + i + "][item_name]" ;
					var selectedValue = document.getElementsByName(item_name)[0].value;
					if (selectedValue == '') {
						window.alert("Please select an item to proceed");
						return false;
					}
					var qty_name = prefix + "[" + i + "][qty]" ;
					var qtyVal = document.getElementsByName(qty_name)[0].value;
					if (qtyVal == '') {
						window.alert("Please enter the quantity to be purchased");
						return false;
					}
					var cost_name = prefix + "[" + i + "][cost]" ;
					var costVal = document.getElementsByName(cost_name)[0].value;
					if (costVal == '') {
						window.alert("Please enter the cost of the item to be purchased");
						return false;
					}
				}
				return true;
			}

		</script>
		<!--<script type="text/javascript">
            window.onload = function(){
                var textbox = document.getElementById("pcp_disc_sub_total")
                textbox.value = "0"
				var textbox1 = document.getElementById("fdiscount")
				textbox1.value = "0"
             
                }
      </script>-->

	  <script type="text/javascript">
     function calculateTotal() {
        var excise = document.getElementById('excise').value;
        var total = document.getElementById('total_price').value;
        var excisep = excise / 100;
        var exciset = total * excisep;
        var total1 = total * 1;
        var totalR = total1 + exciset;
		var discountsubtotal = document.getElementById('pcp_disc_sub_total').value;
		var frieghtcost = document.getElementById('fc').value;
        var othercharges = document.getElementById('oct').value;
		var octoroi = document.getElementById('oc').value;
		var finaldiscount = document.getElementById('fdiscount').value;
		discountsubtotal = discountsubtotal * 1;
		frieghtcost = frieghtcost * 1;
		othercharges = othercharges * 1;
		octoroi = octoroi * 1;
		finaldiscount = finaldiscount * 1;
		var tdiscount = discountsubtotal + finaldiscount;
		var ttotal = totalR + frieghtcost + othercharges + octoroi;
		var btotal = ttotal - discountsubtotal;
		var final = ttotal - tdiscount
		document.getElementById('sum').value = btotal; 
        document.getElementById('final_total').value = final;	      
    }
</script>
 <script type="text/javascript">
     function calculateUpdateTotal0() {
		var rate = document.getElementById('0').value;
		var quantity = document.getElementById('quantity_0').value;
		var total = document.getElementById('total_price').value;
		var rate = rate * 1;
		var quantity = quantity * 1;
		var total = total * 1;
		var product = rate * quantity;
		var t = total + product;
		document.getElementById('total_price').value = t;             
    }
</script>
 <script type="text/javascript">
     function calculateUpdateTotal1() {
		var rate = document.getElementById('1').value;
		var quantity = document.getElementById('quantity_1').value;
		var total = document.getElementById('total_price').value;
		var rate = rate * 1;
		var quantity = quantity * 1;
		var total = total * 1;
		var product = rate * quantity;
		var t = total + product;
		document.getElementById('total_price').value = t;             
    }
</script>
 <script type="text/javascript">
     function calculateUpdateTotal2() {
		var rate = document.getElementById('2').value;
		var quantity = document.getElementById('quantity_2').value;
		var total = document.getElementById('total_price').value;
		var rate = rate * 1;
		var quantity = quantity * 1;
		var total = total * 1;
		var product = rate * quantity;
		var t = total + product;
		document.getElementById('total_price').value = t;             
    }
</script>
 <script type="text/javascript">
     function calculateUpdateTotal3() {
		var rate = document.getElementById('3').value;
		var quantity = document.getElementById('quantity_3').value;
		var total = document.getElementById('total_price').value;
		var rate = rate * 1;
		var quantity = quantity * 1;
		var total = total * 1;
		var product = rate * quantity;
		var t = total + product;
		document.getElementById('total_price').value = t;             
    }
</script>
 <script type="text/javascript">
     function calculateUpdateTotal4() {
		var rate = document.getElementById('4').value;
		var quantity = document.getElementById('quantity_4').value;
		var total = document.getElementById('total_price').value;
		var rate = rate * 1;
		var quantity = quantity * 1;
		var total = total * 1;
		var product = rate * quantity;
		var t = total + product;
		document.getElementById('total_price').value = t;             
    }
</script>
 <script type="text/javascript">
     function calculateUpdateTotal5() {
		var rate = document.getElementById('5').value;
		var quantity = document.getElementById('quantity_5').value;
		var total = document.getElementById('total_price').value;
		var rate = rate * 1;
		var quantity = quantity * 1;
		var total = total * 1;
		var product = rate * quantity;
		var t = total + product;
		document.getElementById('total_price').value = t;             
    }
</script>
 <script type="text/javascript">
     function calculateUpdateTotal6() {
		var rate = document.getElementById('6').value;
		var quantity = document.getElementById('quantity_6').value;
		var total = document.getElementById('total_price').value;
		var rate = rate * 1;
		var quantity = quantity * 1;
		var total = total * 1;
		var product = rate * quantity;
		var t = total + product;
		document.getElementById('total_price').value = t;             
    }
</script>
<script>
	function transporterChange() {
        $('#vehicle')
            .find('option')
            .remove()
            .end();

        //selectedVal = element.value;
        var transporterVal = $('#transporter').val() 
        if (transporterVal != "" && transporterVal != null) {
            var info = 'transporter=' + transporterVal;
			var isSelected
            var vehicleVal = $('#prevehicle').val()
            
            $.ajax({
                type: "GET",
                url: "/purchase/get-purchase-vehicles",
                data: info,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                cache: false,
                success: function(data){ 
                    $.each(data.vehicleId, function (i, item) {
						if (vehicleVal != "" && vehicleVal == item) {
                            isSelected = "selected";
						} else {
							isSelected = "";
						}
                        $("#vehicle").append("<option value=''>Select a Vehicle</option><option value='"+item+"' "+isSelected+" >["+data.driverName[i]+"] "+data.registrationNo[i]+"</option>");
                    });
                }
            });
        }

		$('#transporter_warehouse')
            .find('option')
            .remove()
            .end();

		//selectedVal = element.value;
		var transporterVal = $('#transporter').val() 
        if (transporterVal != "" && transporterVal != null) {
            var info = 'transporter=' + transporterVal;
			var isSelected
            var warehouseVal = $('#prev_warehouse_id').val()
            
            $.ajax({
                type: "GET",
                url: "/purchase/get-purchase-warehouse",
                data: info,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                cache: false,
                success: function(data){ 
                    $.each(data.warehouse_id, function (i, item) {
						if (warehouseVal != "" && warehouseVal == item) {
                            isSelected = "selected";
						} else {
							isSelected = "";
						}

                        $("#transporter_warehouse").append("<option value='"+item+"' "+isSelected+">"+data.billing_address[i]+"</option>");
                    });
                }
            });
        }
    }
	$(document).ready(function(){
		//$('#regime').on('change', function() {
		transporterChange()
		showtaxes();
		
		//});
	});
	function showtaxes(){
		if ( document.getElementById('regime').value == '1')
		{
			$("#interState").hide();
			$("#export").hide();
			$("#intraState").show();
		} else if (document.getElementById('regime').value == '2') {
			$("#intraState").hide();
			$("#export").hide();
			$("#interState").show();
		} else if (document.getElementById('regime').value == '3') {
			$("#intraState").hide();
			$("#interState").hide();
			$("#export").show();
		}
	}
</script>
        <!-- END PAGE LEVEL SCRIPTS -->
        {{end}}