{{ template "master_layout.html" . }}

{{ define "pagelevelstyles"}}
        <!-- BEGIN PAGE LEVEL STYLES -->
        <link href="/static/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.css" rel="stylesheet" type="text/css" />
		<link href="/static/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
		<link href="/static/assets/global/plugins/typeahead/typeahead.css" rel="stylesheet" type="text/css" />
		<link href="/static/assets/global/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" type="text/css" />
		 
		<link href="/static/assets/global/plugins/jquery-multi-select/css/multi-select.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css" rel="stylesheet" type="text/css" />
		
        <!-- END PAGE LEVEL STYLES -->
{{end}}

{{ define "content" }}    
            <!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE BASE CONTENT -->
        <div class="row">
            <div class="col-md-12">
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-equalizer font-green"></i>
                            <span class="caption-subject bold font-green uppercase">Service Contract (Challan) </span>
                        </div>
                        <div class="actions">
                            <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" style="width:20px; height:20px; line-height: 0.999; padding-left:4px; "> </a>
                        </div>
                    </div>
                    <div class="portlet-body form" style="display:block" >
<div class="portlet-body form">
	<!-- BEGIN FORM-->
	<form method="POST" class="form-horizontal">
        {{ .xsrfdata }}
		<div class="form-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Contractor </label>
                        <div class="col-md-8">
                            <select name="contractor" class="form-control select2-multiple" data-placeholder="Choose a Contractor">
                                <option disabled selected value> -- Choose a contractor -- </option>
                                {{ range $contractor := .ContRetrieved }}
                                <option value="{{ $contractor.company_name }}" {{if compare $.FormItems.Contractor $contractor.company_name }} selected {{end}}>[{{ $contractor.supplier_code_gen }}] {{ $contractor.company_name }}</option>
                                {{end}}
                            </select>
                            {{if .Errors.Contractor}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Contractor}}</span>{{end}}
                        </div>
                    </div>
                </div>
                <!--/span-->
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Challan no</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" name="challan_no" value="{{.FormItems.ChallanNo}}">
                            {{if .Errors.ChallanNo}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.ChallanNo}}</span>{{end}}
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="row">
                <div class="form-group">-->
                     <!--    <label class="control-label col-md-2" style="padding-left: 30px;"><span class="required" aria-required="true">*</span>Items </label>
                        <div class="col-md-10" style="padding-left:30px; padding-right:30px; ">
                             <select multiple class="form-control" name="itselect" >
                             {{ range $co := .Retrievedp }}
                                <option value="{{ $co.name }}" {{if compare $.FormItems.Items $co.name }} selected {{end}}>{{ $co.name }}</option>
                            {{end}}
                            </select>
                            {{if .Errors.Items}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Items}}</span>{{end}}
                        </div> -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-md-2"><span class="required" aria-required="true">*</span>Choose Items </label>
                                    <div class="col-md-10">
                                        <div class="col-md-7">
                                            <label class="control-label"><b>Item Name</b></label>
                                            <br/>
                                            
                                            <select name="item_name" class="form-control select2-multiple" data-placeholder="Choose an Item">
                                            <option disabled selected value> -- Choose an item -- </option>
                                            <optgroup value="{{.FormItems.ItemName}}">

                                                {{ range $items := .Retrieved }}
                                                <option value="{{ $items._id }}" {{if compare $.FormItems.ItemName $items._id }} selected {{end}}>{{ $items.invoice_narration }} ({{ $items.item_code_gen }}) (QuantityAvailable-{{ $items.qavailable }})</option>
                                                {{end}}
                                                </optgroup>
                                            </select>
                                            <!-- <input type="text" name="item_name" class="form-control" value="{{.FormItems.ItemName}}" />  -->
                                            {{if .Errors.ItemName}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.ItemName}}</span>{{end}}
                                        </div>
                                        
                                        <div class="col-md-4">
                                            <label class="control-label"><b>Quantity Used</b></label>
                                            <br/>
                                            <input class="pcp_qty form-control"  type="text" value="{{.FormItems.Quantity}}" name="quantity"> 
                                            {{if .quantity_error}}<span class="help-block" style="font-size:13px; color:#e73d4a;">This quantity exceeds available quantity .{{end}}
                                            {{if .Errors.Quantity}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Quantity}}</span>{{end}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-md-2"> </label>
                                    <div class="col-md-10">
                                        <div class="col-md-7">                     
                                            <br/>
                                            <select name="item_name1" class="form-control select2-multiple" data-placeholder="Choose an Item">
                                                <option disabled selected value> -- Choose an item -- </option>
                                                <optgroup value="{{.FormItems.ItemName1}}">

                                                {{ range $items := .Retrieved }}
                                                <option value="{{ $items._id }}" {{if compare $.FormItems.ItemName1 $items._id }} selected {{end}}>{{ $items.invoice_narration }} ({{ $items.item_code_gen }}) Quantity Available-({{ $items.qavailable }})</option>
                                                {{end}}
                                                </optgroup>
                                            </select>
                                            <!-- <input type="text" name="item_name" class="form-control" value="{{.FormItems.ItemName}}" />  -->
                                            {{if .Errors.ItemName1}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.ItemName1}}</span>{{end}}
                                        </div>
                                        <div class="col-md-4">
                                            <br/>
                                            <input class="pcp_qty form-control"  type="text" value="{{.FormItems.Quantity1}}" name="quantity1"> 
                                            {{if .quantity_error1}}<span class="help-block" style="font-size:13px; color:#e73d4a;">This quantity exceeds available quantity .{{end}}
                                            {{if .Errors.Quantity1}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Quantity1}}</span>{{end}}
                                        </div>  
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-md-2"> </label>
                                    <div class="col-md-10">
                                        <div class="col-md-7">              
                                            <br/>
                                            <select name="item_name2" class="form-control select2-multiple" data-placeholder="Choose an Item">
                                                <option disabled selected value> -- Choose an item -- </option>
                                                <optgroup value="{{.FormItems.ItemName2}}">

                                                {{ range $items := .Retrieved }}
                                                <option value="{{ $items._id }}" {{if compare $.FormItems.ItemName2 $items._id }} selected {{end}}>{{ $items.invoice_narration }} ({{ $items.item_code_gen }}) Quantity Available-({{ $items.qavailable }})</option>
                                                {{end}}
                                                </optgroup>
                                            </select>
                                            <!-- <input type="text" name="item_name" class="form-control" value="{{.FormItems.ItemName}}" />  -->
                                            {{if .Errors.ItemName2}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.ItemName2}}</span>{{end}}
                                        </div>
                                        <div class="col-md-4">
                                            <br/>
                                            <input class="pcp_qty form-control" type="text" value="{{.FormItems.Quantity2}}" name="quantity2">
                                            {{if .quantity_error2}}<span class="help-block" style="font-size:13px; color:#e73d4a;">This quantity exceeds available quantity .{{end}}
                                            {{if .Errors.Quantity2}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Quantity2}}</span>{{end}}
                                        </div>             
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-md-2"> </label>
                                    <div class="col-md-10">
                                        <div class="col-md-7">
                                        <br/>
                                        <select name="item_name3" class="form-control select2-multiple" data-placeholder="Choose an Item">
                                        <option disabled selected value> -- Choose an item -- </option>
                                        <optgroup value="{{.FormItems.ItemName3}}">
                                        
                                            {{ range $items := .Retrieved }}
                                            <option value="{{ $items._id }}" {{if compare $.FormItems.ItemName3 $items._id }} selected {{end}}>{{ $items.invoice_narration }} ({{ $items.item_code_gen }}) Quantity Available-({{ $items.qavailable }})</option>
                                            {{end}}
                                            </optgroup>
                                        </select>
                                        <!-- <input type="text" name="item_name" class="form-control" value="{{.FormItems.ItemName}}" />  -->
                                        {{if .Errors.ItemName3}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.ItemName3}}</span>{{end}}
                                    </div>
                                    <div class="col-md-4">
                                        <br/>
                                        <input class="pcp_qty form-control" type="text" value="{{.FormItems.Quantity3}}" name="quantity3"> 
                                        {{if .quantity_error3}}<span class="help-block" style="font-size:13px; color:#e73d4a;">This quantity exceeds available quantity .{{end}}
                                        {{if .Errors.Quantity3}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Quantity3}}</span>{{end}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-md-2"> </label>
                                    <div class="col-md-10">
                                        <div class="col-md-7">               
                                            <br/>
                                            <select name="item_name4" class="form-control select2-multiple" data-placeholder="Choose an Item">
                                                <option disabled selected value> -- Choose an item -- </option>
                                                <optgroup value="{{.FormItems.ItemName4}}">
                                            
                                                {{ range $items := .Retrieved }}
                                                <option value="{{ $items._id }}" {{if compare $.FormItems.ItemName4 $items._id }} selected {{end}}>{{ $items.invoice_narration }} ({{ $items.item_code_gen }}) Quantity Available-({{ $items.qavailable }})</option>
                                                {{end}}
                                                </optgroup>
                                            </select>
                                            <!-- <input type="text" name="item_name" class="form-control" value="{{.FormItems.ItemName}}" />  -->
                                            {{if .Errors.ItemName4}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.ItemName4}}</span>{{end}}
                                        </div>
                                        <div class="col-md-4">
                                            <br/>
                                            <input class="pcp_qty form-control" type="text" value="{{.FormItems.Quantity4}}" name="quantity4"> 
                                            {{if .quantity_error4}}<span class="help-block" style="font-size:13px; color:#e73d4a;">This quantity exceeds available quantity .{{end}}
                                            {{if .Errors.Quantity4}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Quantity4}}</span>{{end}}
                                        </div>                
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label col-md-2"> </label>
                                <div class="col-md-10">
                                    <div class="col-md-7">                 
                                        <br/>
                                        <select name="item_name5" class="form-control select2-multiple" data-placeholder="Choose an Item">
                                        <option disabled selected value> -- Choose an item -- </option>
                                        <optgroup value="{{.FormItems.ItemName5}}">
                                        
                                            {{ range $items := .Retrieved }}
                                            <option value="{{ $items._id }}" {{if compare $.FormItems.ItemName5 $items._id }} selected {{end}}>{{ $items.invoice_narration }} ({{ $items.item_code_gen }}) Quantity Available-({{ $items.qavailable }})</option>
                                            {{end}}
                                            </optgroup>
                                        </select>
                                        <!-- <input type="text" name="item_name" class="form-control" value="{{.FormItems.ItemName}}" />  -->
                                        {{if .Errors.ItemName5}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.ItemName5}}</span>{{end}}
                                    </div>

                                    <div class="col-md-4">
                                        <br/>
                                        <input class="pcp_qty form-control" type="text" value="{{.FormItems.Quantity5}}" name="quantity5"> 
                                        {{if .quantity_error5}}<span class="help-block" style="font-size:13px; color:#e73d4a;">This quantity exceeds available quantity .{{end}}
                                        {{if .Errors.Quantity5}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Quantity5}}</span>{{end}}
                                    </div>              
                                </div>
                            </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label col-md-2"> </label>
                                    <div class="col-md-10">
                                        <div class="col-md-7">                  
                                            <br/>
                                            <select name="item_name6" class="form-control select2-multiple" data-placeholder="Choose an Item">
                                            <option disabled selected value> -- Choose an item -- </option>
                                            <optgroup value="{{.FormItems.ItemName6}}">
                                                {{ range $items := .Retrieved }}
                                                <option value="{{ $items._id }}" {{if compare $.FormItems.ItemName6 $items._id }} selected {{end}}>{{ $items.invoice_narration }} ({{ $items.item_code_gen }}) Quantity Available-({{ $items.qavailable }})</option>
                                                {{end}}
                                                </optgroup>
                                            </select>
                                            <!-- <input type="text" name="item_name" class="form-control" value="{{.FormItems.ItemName}}" />  -->
                                            {{if .Errors.ItemName6}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.ItemName6}}</span>{{end}}
                                        </div>

                                        <div class="col-md-4">
                                            
                                            <br/>
                                            <input class="pcp_qty form-control" type="text" value="{{.FormItems.Quantity6}}" name="quantity6">
                                            {{if .quantity_error6}}<span class="help-block" style="font-size:13px; color:#e73d4a;">This quantity exceeds available quantity .{{end}} 
                                            {{if .Errors.Quantity6}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Quantity6}}</span>{{end}}
                                        </div>                   
                                    </div>
                                </div>
                            </div>
                        </div>
                <!-- </div> -->
                <!--/span-->
            <!--</div>-->
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Date of Order </label>
                        <div class="col-md-8">
                            <div class="input-group input-medium date date-picker" data-date-format="yyyy-mm-dd" >
                                <input id="todays_date" name="date_order" type="text" class="form-control" value="{{.FormItems.DateOrder}}" readonly placeholder="">
                                <span class="input-group-btn">
                                    <button class="btn default" type="button">
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                </span>
                            </div>
                            {{if .Errors.DateOrder}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.DateOrder}}</span>{{end}}
                        </div>
                    </div>
                </div>
                <!--/span-->
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Purpose </label>
                        <div class="col-md-8">
                            <textarea name="purpose" class="form-control" rows="3"  placeholder="Add Note">{{.FormItems.Purpose}}</textarea>
                            {{if .Errors.Purpose}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Purpose}}</span>{{end}}
                        </div>
                    </div>
                </div>
                <!--/span-->
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Resulting Item </label>
                        <div class="col-md-8">
                          <select name="resulting_item" class="form-control select2-multiple" data-placeholder="Choose the Resulting Item">
                            <option disabled selected value> -- Choose an item -- </option>
                            <optgroup value="{{.FormItems.RItem}}">

                                {{ range $io := .Retrieved }}
                                <option value="{{ $io._id }}" {{if compare $.FormItems.RItem $io._id }} selected {{end}}>[{{ $io.item_code_gen }}] {{ $io.invoice_narration }} (UOM:{{ $io.unit_measure}})</option>
                                {{end}}
                                </optgroup>
                            </select>
                            {{if .Errors.RItem}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.RItem}}</span>{{end}}
                        </div>
                    </div>
                </div>
                <!--/span-->
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Resulting Quantity</label>
                        <div class="col-md-8">
                           <input name="resulting_quantity" value="{{.FormItems.RQuantity}}" type="text" class="form-control" placeholder="">
                            {{if .Errors.RQuantity}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.RQuantity}}</span>{{end}}
                            
                        </div>
                    </div>
                </div>
                <!--/span-->
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                    <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Estimated Delivery Date </label>
                        <div class="col-md-8">
                            <div class="input-group input-medium date date-picker" data-date-format="yyyy-mm-dd" >
                                <input name="estimated_delivery_date" type="text" class="form-control" value="{{.FormItems.EstimatedDeliveryDate}}" readonly placeholder="">
                                <span class="input-group-btn">
                                    <button class="btn default" type="button">
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                </span>
                            </div>
                            {{if .Errors.EstimatedDeliveryDate}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.EstimatedDeliveryDate}}</span>{{end}}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                    <label class="control-label col-md-4">Discount on Sub-total </label>
                    <div class="col-md-8">
                        <input name="discount_sub_total" type="text" class="form-control" id="pcp_disc_sub_total" value="{{.FormItems.SDiscountSubTotal}}" placeholder="">
                        <!--{{if .Errors.DiscountSubTotal}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.DiscountSubTotal}}</span>{{end}}-->
                    </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">Dispatch From </label>
                        <div class="col-md-8">
                            <select name="dispatch_from" class="form-control select2-multiple " data-placeholder="Choose a Location">
                            <option disabled selected value> -- Choose an item -- </option>
                            <optgroup value="{{.FormItems.DispatchFrom}}">
                            {{ range $location := .LocationRetrieved }}
                                <option value="{{ $location._id }}" {{if compare $.FormItems.DispatchFrom $location._id }} selected {{end}}>{{ $location.factory_location }} </option>
                                {{end}}
                                </optgroup>
                            </select>
                        </div>
                    </div>
                </div>
                <!--/span-->
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">Dispatch Date </label>
                        <div class="col-md-8">
                            <div class="input-group input-medium date date-picker" data-date-format="yyyy-mm-dd" >
                                <input name="dispatch_date" type="text" class="form-control" value="{{.FormItems.DispatchDate}}" readonly placeholder="">
                                <span class="input-group-btn">
                                    <button class="btn default" type="button">
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                </span>
                            </div>
                            {{if .Errors.DispatchDate}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.DispatchDate}}</span>{{end}}
                        </div>
                    </div>
                </div>
                <!--/span-->
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">Dispatch Fleet </label>
                        <div class="col-md-8">
                            <input name="dispatch_fleet" type="text" class="form-control" value="{{.FormItems.DispatchFleet}}" placeholder="">
                            {{if .Errors.DispatchFleet}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.DispatchFleet}}</span>{{end}}
                        </div>
                    </div>
                    <!--<input type="hidden"  id="challan_no" name="challan_no">-->
                </div>
               <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">Dispatch Cost </label>
                        <div class="col-md-8">
                            <input name="dispatch_cost" type="text" class="form-control txt" value="{{.FormItems.DispatchCost}}" placeholder="">
                            {{if .Errors.DispatchCost}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.DispatchCost}}</span>{{end}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label col-md-2">Payment Terms </label>
                        <div class="col-md-10">
                            <textarea name="spayment_terms" class="form-control"  placeholder="" rows="3" >{{.FormItems.SPaymentTerms}}</textarea>
                            {{if .Errors.SPaymentTerms}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.SPaymentTerms}}</span>{{end}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">Other Charges Title </label>
                        <div class="col-md-8">
                            <input name="sother_charges_title" type="text" class="form-control" value="{{.FormItems.SOtherChargesTitle}}" placeholder="">
                            {{if .Errors.SOtherChargesTitle}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.SOtherChargesTitle}}</span>{{end}}
                        </div>
                    </div>
                </div>
                
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">Other Charges Value </label>
                        <div class="col-md-8">
                            <input name="sother_charges_value" type="text" class="form-control txt" value="{{.FormItems.SOtherChargesValue}}" placeholder="">
                            {{if .Errors.SOtherChargesValue}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.SOtherChargesValue}}</span>{{end}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">Excise Duty </label>
                        <div class="col-md-8">
                            <input name="sexcise_duty" type="text" class="form-control txt" value="{{.FormItems.SExciseDuty}}" placeholder="">
                            {{if .Errors.SExciseDuty}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.SExciseDuty}}</span>{{end}}
                        </div>
                    </div>
                </div>
                
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">Octroi Charges </label>
                        <div class="col-md-8">
                            <input name="soctroi_charges" type="text" class="form-control txt" value="{{.FormItems.SOctroiCharges}}" placeholder="">
                            {{if .Errors.SOctroiCharges}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.SOctroiCharges}}</span>{{end}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">Total </label>
                        <div class="col-md-8">
                            <input name="stotal" type="text" class="form-control" value="{{.FormItems.STotal}}" id="sum">
                            {{if .Errors.STotal}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.STotal}}</span>{{end}}
                        </div>
                    </div>
                </div>
                
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">Final-Discount </label>
                        <div class="col-md-8">
                            <input name="sfinal_discount" type="text" class="form-control" value="{{.FormItems.SFinalDiscount}}" id="fdiscount">
                            {{if .Errors.SFinalDiscount}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.SFinalDiscount}}</span>{{end}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Final Total </label>
                        <div class="col-md-8">
                            <input name="sfinal_total" type="text" class="form-control" value="{{.FormItems.SFinalTotal}}" id="final_total">
                            {{if .Errors.SFinalTotal}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.SFinalTotal}}</span>{{end}}
                        </div>
                    </div>
                </div>
                
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4">Billing Address </label>
                        <div class="col-md-8">
                            <textarea name="sbilling_address" class="form-control"  placeholder="" rows="3" >{{.FormItems.SBillingAddress}}</textarea>
                            {{if .Errors.SBillingAddress}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.SBillingAddress}}</span>{{end}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
            <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Currency </label>
                        <div class="col-md-8">
                            <select name="currency" class="bs-select form-control">
                               <option {{if compare .FormItems.SCurrency "Rupees" }}selected {{end}}>Rupees</option>
                            <option {{if compare .FormItems.SCurrency "Euros" }}selected {{end}}>Euros</option>
                            <option {{if compare .FormItems.SCurrency "USD" }}selected {{end}}>USD</option>
                            <option {{if compare .FormItems.SCurrency "Pounds" }}selected {{end}}>Pounds</option>
                                                                              
                            </select>
                            {{if .Errors.SCurrency}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.SCurrency}}</span>{{end}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-actions">
                <div class="row">
                   <div class="col-md-12" style="text-align: center;">
                    <button type="submit" name="so-button" value="draft" class="btn green" style="height: 40px;">Save Draft</button>
                    <button type="submit" name="so-button" value="approval" class="btn blue" style="height: 40px;">Send for Approval</button>
                    <button type="submit" name="so-button" value="approved" class="btn blue" style="height: 40px;">Approved</button>
                    <button type="reset" class="btn default" style="height: 40px;width: 80px">Reset</button>
                </div>
                </div>
            </div>
					</form>
					<!-- END FORM-->
				</div>
			</div>
        </div>
    
	</div>
					<!-- END PAGE BASE CONTENT -->
                </div>
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->
       
        {{end}}

        {{ define "pagelevelplugins" }}
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <script src="/static/assets/global/plugins/fuelux/js/spinner.min.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.js" type="text/javascript"></script>
		<script src="/static/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/bootstrap-select/js/bootstrap-select.min.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/jquery-multi-select/js/jquery.multi-select.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/typeahead/handlebars.min.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/typeahead/typeahead.bundle.min.js" type="text/javascript"></script>
        <!-- END PAGE LEVEL PLUGINS -->
        {{ end }}

        {{define "pagelevelscripts"}} 
        <!-- BEGIN PAGE LEVEL SCRIPTS -->
		<script src="/static/assets/pages/scripts/components-bootstrap-select.min.js" type="text/javascript"></script>
        <script src="/static/assets/pages/scripts/components-bootstrap-touchspin.js" type="text/javascript"></script>
		<script src="/static/assets/pages/scripts/components-date-time-pickers.js" type="text/javascript"></script>
		<script src="/static/assets/pages/scripts/components-multi-select.min.js" type="text/javascript"></script>
         <script src="/static/assets/global/plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.js"></script>
         <script src="/static/assets/pages/scripts/components-select2.min.js" type="text/javascript"></script>
        <script type="text/javascript">
             $('.date-picker').datepicker({
             pickerPosition: "bottom-left"
             });
         </script>
         <script type="text/javascript">
            var todaysDate = new Date();
            function convertDate(date) {
                var yyyy = date.getFullYear().toString();
                var mm = (date.getMonth()+1).toString();
                var dd  = date.getDate().toString();
    
                var mmChars = mm.split('');
                var ddChars = dd.split('');
    
                return yyyy + '-' + (mmChars[1]?mm:"0"+mmChars[0]) + '-' + (ddChars[1]?dd:"0"+ddChars[0]);
            }
    
            document.getElementById('todays_date').value = convertDate(todaysDate);
        </script>
        <script>
            $(document).ready(function(){

                //iterate through each textboxes and add keyup
                //handler to trigger sum event
                $(function() {

                    $('input.txt').keyup(calculateSum);
                });

                $(function() {
                    
                    $("#fdiscount").keyup(calculateFinalTotal);
                });

            });

            function calculateSum() {

                var sum = 0;
                //iterate through each textboxes and add the values
                $('input.txt').each(function() {

                    //add only if the value is number
                    if(!isNaN(this.value) && this.value.length!=0) {
                        sum += parseFloat(this.value);
                    }

                });
                //.toFixed() method will roundoff the final sum to 2 decimal places
                $("#sum").val(sum.toFixed(2));
            }

            function calculateFinalTotal() {
                var ftotal = $("#sum").val();
                $("#fdiscount").each(function() {

                    //add only if the value is number
                    if(!isNaN(this.value) && this.value.length!=0) {
                        ftotal -= parseFloat(this.value);
                    }

                });
                $("#final_total").val(ftotal.toFixed(2));
            }

        </script>
		<!-- END PAGE LEVEL SCRIPTS -->
        {{end}}