{{ template "master_layout.html" . }}

{{ define "pagelevelstyles"}} 
        <!-- BEGIN PAGE LEVEL STYLES -->

        <link href="/static/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/typeahead/typeahead.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/bootstrap-multiselect/css/bootstrap-multiselect.css" rel="stylesheet" type="text/css" />
        <style>
            .big-col {
                width: 300px !important;
                }

            .mid-col {
                width: 200px !important;
                }

            .small-col {
            width: 150px !important;
            }

            table#customers_view_table{
            table-layout:fixed;
            }
        </style>
        <!-- END PAGE LEVEL STYLES -->
{{end}}

{{ define "content" }}    
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">
            
            <!-- BEGIN PAGE BASE CONTENT -->
            
             <div class="row">
                <div class="col-md-12">
                    <div class="portlet light bordered">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="icon-equalizer font-green"></i>
                                <span class="caption-subject bold font-green uppercase">Add Customer</span>
                            </div>
                            <div class="actions">
                                <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" style="width:20px; height:20px; line-height: 0.999; padding-left:4px; "> </a>
                            </div>
                            <div class="caption" style="float:right; margin-right: 10px;">
                                <a class="btn red" style="background-image:none; width: 60px; height: 20px; padding:0; margin-top: -6px;" href="/customers/edit-customers"><i class="fa fa-edit" style=" margin-left: -1px; margin-top:2px;"></i> <span style="font-size: smaller;">Edit</span></a>
                            </div>
                            <div class="tools nts-tools faq-links" style="margin-top:0;">
                            {{if .ErrorsPresent}} 
                                <a href=""  class="collapse btn blue" style="background-image:none; width: 60px; height: 20px; padding:0; margin-top: -6px;">
                                    <i class="fa fa-minus" style=" margin-left: -1px; margin-top:2px;"></i><span style="font-size: smaller;">Close</span> <span style="display : none; font-size: smaller;">Add</span>
                                </a>
                             {{else}} 
                                <a href="" class="expand btn blue" style="background-image:none; width: 60px; height: 20px; padding:0; margin-top: -6px;" >
                                    <i class="fa fa-plus" style=" margin-left: -1px; margin-top:2px;"></i> <span style="font-size: smaller;">Add</span> <span style="display : none; font-size: smaller;">Close</span> 
                                </a> 
                             {{end}}
                            </div>
                        </div>
                        {{if .ErrorsPresent}} 
                      <div class="portlet-body form" style="display:block" >
                      {{else}}  
                      <div class="portlet-body form"  style="display:none" >
                      {{end}}
                            <!-- BEGIN FORM-->
                            <form method="POST" class="form-horizontal">
                             {{ .xsrfdata }}
                                <div class="form-body">
                                    <h3 class="form-section" style="margin-bottom: 15px; margin-top: -15px;"> Customer Details</h3>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Company Name </label>
                                                <div class="col-md-8">
                                                    <input name="company_name" type="text" class="form-control" value="{{.FormItems.CompanyName}}" placeholder="">
                                                     {{if .Errors.CompanyName}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.CompanyName}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Company Code </label>
                                                <div class="col-md-8">
                                                    <input name="unique_code" type="text" class="form-control" value="{{.genCode}}" placeholder="" readonly>
                                                     {{if .Errors.UniqueCode}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.UniqueCode}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Group </label>
                                                <div class="col-md-8">
                                                    <input list="grps" name="group" type="text" class="form-control" value="{{.FormItems.Group}}">
                                                  <datalist id="grps">
                                                    <option value="I">
                                                    <option value="II">
                                                    <option value="III">
                                                    <option value="IV">
                                                    <option value="V">
                                                    <option value="VI">
                                                    <option value="VII">
                                                    <option value="VIII">
                                                    <option value="IX">
                                                    <option value="X">
                                                  </datalist>
                                                    
                                                   {{if .Errors.Group}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Group}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">

                                        </div>
                                        <!--/span-->
                                    </div>
                                    <!--/row-->

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Address </label>
                                                <div class="col-md-8">
                                                    <textarea name="address" class="form-control" rows="2"  placeholder="">{{.FormItems.Address}}</textarea>
                                                     {{if .Errors.Address}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Address}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>City</label>
                                                <div class="col-md-8">
                                                    <input name="city" type="text" class="form-control" value="{{.FormItems.City}}" placeholder="">
                                                    {{if .Errors.City}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.City}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>
                                    <!--/row-->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>State </label>
                                                <div class="col-md-8">
                                                    <input name="state" type="text" class="form-control" value="{{.FormItems.State}}" placeholder="">
                                                     {{if .Errors.State}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.State}}</span>{{end}}
                                                </div>
                                               
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Country </label>
                                                <div class="col-md-8">
                                                    <input name="country" type="text" class="form-control" value="{{.FormItems.Country}}" placeholder="">
                                                     {{if .Errors.Country}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Country}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>
                                    <!--/row-->
                                    <div class="row">
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Pincode </label>
                                                <div class="col-md-8">
                                                    <input name="pincode" type="text" class="form-control" value="{{.FormItems.Pincode}}" placeholder="">
                                                    {{if .Errors.Pincode}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Pincode}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>GSTIN </label>
                                                <div class="col-md-8">
                                                    <input name="main_gstin" type="text" class="form-control" value="{{.FormItems.MainGSTIN}}" >
                                                    {{if .Errors.MainGSTIN}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.MainGSTIN}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/row-->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">TIN </label>
                                                <div class="col-md-8">
                                                    <input name="tin" type="text" class="form-control" value="{{.FormItems.TIN}}" placeholder="">
                                                     {{if .Errors.TIN}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.TIN}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Area Code </label>
                                                <div class="col-md-8">
                                                    <input name="area_code" type="text" class="form-control" value="{{.FormItems.AreaCode}}" placeholder="">
                                                     {{if .Errors.AreaCode}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.AreaCode}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>
                                    <!--/row-->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">PAN </label>
                                                <div class="col-md-8">
                                                    <input name="pan" type="text" class="form-control" value="{{.FormItems.PAN}}" placeholder="">
                                                     {{if .Errors.PAN}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.PAN}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Credit in days </label>
                                                <div class="col-md-8">
                                                    <input name="cin" type="text" class="form-control" value="{{.FormItems.CreditInDays}}" onkeyup="isNumberKey(this)">
                                                     {{if .Errors.CreditInDays}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.CreditInDays}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>
                                    <!--/row-->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">CST </label>
                                                <div class="col-md-8">
                                                    <input name="cst" type="text" class="form-control" value="{{.FormItems.CST}}" placeholder="">
                                                     {{if .Errors.CST}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.CST}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Credit limit </label>
                                                <div class="col-md-8">
                                                    <input name="credit_limit" type="text" class="form-control" value="{{.FormItems.CreditLimit}}" onkeyup="isNumberKey(this)">
                                                     {{if .Errors.CreditLimit}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.CreditLimit}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>
                                    <!--/row-->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">ECC </label>
                                                <div class="col-md-8">
                                                    <input name="ecc" type="text" class="form-control" value="{{.FormItems.ECC}}" placeholder="">
                                                    {{if .Errors.ECC}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.ECC}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Customer type </label>
                                                <div class="col-md-8">
                                                   <input name="customer_type" type="text" class="form-control" value="{{.FormItems.CustomerType}}" placeholder="">
                                                     {{if .Errors.CustomerType}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.CustomerType}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                  </div>
                                    <!--/row-->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Introduction </label>
                                                <div class="col-md-8">
                                                    <div class="input-group input-medium date date-picker" data-date-format="yyyy-mm-dd" >
                                                        <input name="introduction" type="text" class="form-control" value="{{.FormItems.Introduction}}" readonly placeholder="">
                                                         {{if .Errors.Introduction}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Introduction}}</span>{{end}}
                                                        <span class="input-group-btn">
                                                            <button class="btn default" type="button">
                                                                <i class="fa fa-calendar"></i>
                                                            </button>
                                                        </span>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Service Location</label>
                                                <div class="col-md-8">
                                                    <input name="service_loc" type="text" class="form-control" value="{{.FormItems.ServiceLoc}}" placeholder="">
                                                     {{if .Errors.ServiceLoc}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.ServiceLoc}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>
                                       <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4">ARN</label>
                                                    <div class="col-md-8">
                                                        <input name="arn" type="text" class="form-control" value="{{.FormItems.ARN}}">
                                                            {{if .Errors.ARN}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.ARN}}</span>{{end}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4">Provisional GST</label>
                                                    <div class="col-md-8">
                                                        <input name="provisional_gst" class="form-control" value="{{.FormItems.PGST}}" >
                                                        {{if .Errors.PGST}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.PGST}}</span>{{end}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <!--<div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4">GST</label>
                                                    <div class="col-md-8">
                                                        <input name="gst" type="text" class="form-control" value="{{.FormItems.GST}}">
                                                            {{if .Errors.GST}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.GST}}</span>{{end}}
                                                    </div>
                                                </div>
                                            </div>-->
                                        </div>
                                    <!--/row-->
                                    <div class="form-horizontal cp-repeater">
                                        <div data-repeater-list="contactgrp">
                                            <div data-repeater-item class="mt-repeater-item" >
                                                <!-- jQuery Repeater Container -->
                                                <h3 class="form-section">Contact Person</h3>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Name </label>
                                                            <div class="col-md-8">
                                                                <input name="contact_person" type="text" class="form-control" value="{{.FormItems.ContactPerson}}" >
                                                                {{if .Errors.ContactPerson}}<p name="name_error" style="font-size:13px; color:#e73d4a; margin-top: 5px; margin-bottom: 0;"></p>{{end}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--/span-->
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Designation </label>
                                                            <div class="col-md-8">
                                                                <input name="designation" type="text" class="form-control" value="{{.FormItems.Designation}}">
                                                                {{if .Errors.Designation}}<p name="designation_error" style="font-size:13px; color:#e73d4a; margin-top: 5px; margin-bottom: 0;"></p>{{end}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--/span-->
                                                </div>
                                                <!--/row-->

                                                <div class="row">

                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="control-label col-md-4">Phone Number </label>
                                                            <div class="col-md-8">
                                                                <input name="phone_no" type="text" class="form-control" value="{{.FormItems.PhoneNo}}">
                                                               {{if .Errors.PhoneNo}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.PhoneNo}}</span>{{end}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--/span-->
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="control-label col-md-4">Email </label>
                                                            <div class="col-md-8">
                                                                <input name="email" type="email" class="form-control" value="{{.FormItems.Email}}">
                                                               {{if .Errors.Email }}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Email }}</span>{{end}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--/span-->
                                                </div>
                                                <!--/row-->
                                                <div class="row">

                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="control-label col-md-4">Cell No </label>
                                                            <div class="col-md-8">
                                                                <input name="cell_no" type="text" class="form-control" value="{{.FormItems.CellNo}}" >
                                                                {{if .Errors.CellNo}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.CellNo}}</span>{{end}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--/span-->
                                                    <div class="col-md-6">

                                                    </div>
                                                    <!--/span-->
                                                </div>
                                                <div class="mt-repeater-input" style="margin-bottom: 10px;">
                                                    <a href="javascript:;" data-repeater-delete class="btn btn-danger mt-repeater-delete" style="margin-top: 0;">
                                                        <i class="fa fa-close"></i> Remove
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <a href="javascript:;" data-repeater-create class="btn btn-success mt-repeater-add">
                                            <i class="fa fa-plus"></i>Contact Person
                                        </a>
                                    </div>
                                    <hr>
                                    <div class="row" id="optional" style="padding-left:14px;">
                                        <a class="btn btn-success" id="hide">
                                            <i class="fa fa-plus"></i>Delivery Address
                                        </a>
                                    </div>

                                    <div class="mt-repeater form-horizontal " id="repeat" style="display: none; " >
                                        <div data-repeater-list="group-a" >
                                            <div data-repeater-item class="mt-repeater-item" >
                                                <!-- jQuery Repeater Container -->
                                                <h3 class="form-section" style="padding-right:50px;">Delivery Address Details
                                                </h3>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Delivery Address </label>
                                                            <div class="col-md-8">
                                                                <textarea name="warehouse_address" class="form-control" rows="3" ></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--/span-->
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>City </label>
                                                            <div class="col-md-8">
                                                                <input name="wcity" type="text" class="form-control" >
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--/span-->
                                                </div>
                                                <!--/row-->

                                                <div class="row">

                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>State </label>
                                                            <div class="col-md-8">
                                                                <input name="wstate" type="text" class="form-control" >
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--/span-->
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Country </label>
                                                            <div class="col-md-8">
                                                                <input name="wcountry" type="text" class="form-control" >
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--/span-->
                                                </div>
                                                <!--/row-->
                                                <div class="row">

                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Pincode </label>
                                                            <div class="col-md-8">
                                                                <input name="wpincode" type="text" class="form-control"  >
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--/span-->
                                                    <div class="col-md-6">
                                                        <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>GSTIN </label>
                                                        <div class="col-md-8">
                                                            <input name="gstin" type="text" class="form-control" >
                                                        </div>
                                                    </div>
                                                    <!--/span-->
                                                </div>
                                                <!--<div class="mt-repeater-input" style="padding:0;">
                                                    <a href="javascript:;" data-repeater-delete class="btn btn-circle btn-icon-only btn-danger mt-repeater-delete" style="margin-top:0;">
                                                        <i class="fa fa-close"></i>
                                                    </a>
                                                    <hr>
                                                </div>-->
                                                <div class="mt-repeater-input" style=" padding-bottom: 0; padding-left: 0;">
                                                    <a href="javascript:;" data-repeater-delete class="btn btn-danger mt-repeater-delete" style="margin-top: 0;">
                                                        <i class="fa fa-close"></i> Remove
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div >
                                            <a href="javascript:;" data-repeater-create class="btn btn-success mt-repeater-add" >
                                            <i class="fa fa-plus"></i>Delivery Address</a>
                                        </div>
                                    </div>
                                    
                                </div> 
                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-12 " style="text-align: center;">
                                            <button type="submit" class="btn green" style="height: 40px;width: 80px">Submit</button>
                                            <button type="reset" class="btn default" style="height: 40px;width: 80px">Reset</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <!-- END FORM-->
                        </div>
                    </div>
                </div>
            </div>
                                
            <div class="row">
                <div class="col-md-12">
                    <!-- BEGIN EXAMPLE TABLE PORTLET-->
                    <div class="portlet light bordered">
                        <div class="portlet-title">
                            <div class="caption font-dark">
                                <i class="icon-settings font-dark"></i>
                                <span class="caption-subject bold uppercase"> List of customers</span>
                            </div>
                            <div class="actions">
                                <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" style="width:20px; height:20px; line-height: 0.999; padding-left:4px; "> </a>
                            </div>
                        </div>

                        <!-- Customer server-side Search FORM-->
                        <form method="POST" class="form-horizontal">
                            <input type="hidden" name="CustomerSearchmethod" value="Customer_Search" /> {{ .xsrfdata }}
                            <br/>
                           
                            <div class="form-body">
                                 <!-- Search customer details by.-->
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <div class="radio">
                                                    <label><input type="radio" class="SearchCustByItem" name="SearchCustomers" value="SearchByCustomerDetails" {{.SearchByCustomerDetailsChecked}}></label>
                                                </div>
                                            </div>
                                        </div>                                    
                                    <div class="col-md-8">                                    
                                            <div class="form-group">
                                                <input type="CompanyName" name="CompanyName" class="form-control" id="CompanyName" placeholder="Company Name" value="{{.SearchItems.CompanyName}}">
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-4">
                                        <div class="col-md-10">
                                            <div class="form-group">
                                                <input type="ContactPerson" name="ContactPerson" class="form-control" id="ContactPerson" placeholder="Contact Person" value="{{.SearchItems.ContactPerson}}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <input type="Location" name="Location" class="form-control" id="Location" placeholder="Location" value="{{.SearchItems.Location}}">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--search by item -->
                                <div class="row">
                                        <div class="col-md-4">
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <div class="radio">
                                                        <label><input type="radio" class="SearchCustByItem" name="SearchCustomers" value="SearchByItemName" {{.SearchByItemNameChecked}}></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <select id="itemSelectDropdown" name="item_name_check" class="form-control select2-multiple " data-placeholder="Choose an Item" value="{{.SearchItems.ItemName}}">
                                                        <option disabled selected value> -- Choose an item -- </option>
                                                        {{ range $items := .ItemsRetrieved }}
                                                        <option value="{{ $items._id }}" >[{{ $items.item_code_gen }}] {{ $items.invoice_narration }}</option>
                                                        {{end}}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>  
                                </div>

                                <!--buttons-->                                
                                <div class="row" style="text-align:center">
                                    <div class="form-group">
                                        <button type="submit" class="btn green" name="customer-search" value="SearchCustomer" style="height: 35px;width: 80px" onclick="return beforeSubmit();">Search</button>
                                        <button type="submit" class="btn default" name="Reset-customerSearch" value="ResetCustomerSearch" style="height: 35px;width: 80px">Reset</button>
                                    </div>  
                                </div>
                                <hr/>
                        </form>
                        <!-- END FORM-->
                        <div class="portlet-body">
                                <table class="table table-bordered table-hover table-checkable order-column" id="customers_view_table">
                                    <thead>
                                        <tr>                                               
                                            <th class="big-col" style="text-align: left; padding-left: 5px;"> Company Name </th>
                                            <th class="mid-col" style="text-align: left"> Contact Person </th>
                                            <th style="text-align: left"> Phone No. </th>
                                            <th style="text-align: left"> Location </th>
                                            <th style="text-align: left">Action </th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                     {{ range $customer := .Retrieved }}
                                        <tr class="odd gradeX">                                                
                                            <td style="text-align: left; padding-left: 5px;">  {{ $customer.company_name }} </td>
                                            <td style="text-align: left">  {{ $customer.name }} </td>
                                            <td style="text-align: right">  {{ $customer.phone }} </td>
                                            <td  style="text-align: left">  {{ $customer.city_state_country_pincode }}</td>
                                            <td class="text-center">
                                                <a id="view_{{ $customer._id }}" onclick="getCPandWarehouses(this);" data-toggle="modal" data-target="#customerModalDiv_{{ $customer._id }}" data-toggle="tooltip" title="View">
                                                     <i class="fa fa-eye"></i>
                                                </a>
                                                <a href="/customers/edit-customers?CustomerCode={{ $customer._id }}" data-toggle="tooltip" title="Edit">
                                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                </a>
                                                <a href="#" id="{{ $customer._id}}" data-toggle="tooltip" title="Delete" class="delbutton"><i class="fa fa-trash-o"></i> </a>
                                            </td>
                                            
                                        </tr>
                                        {{end}}
                                        
                                    </tbody>
                                </table>
                                <!-- <div class="actions text-right">
                                    <div class="dropup ">
                                        <button class="btn btn-default dropdown-toggle " type="button"  data-toggle="dropdown">Export
                                            <span class="caret"></span></button>
                                        <ul class="dropdown-menu pull-right">
                                            <li role="presentation"><a tabindex="-1" href="#">Print</a></li>
                                            <li role="presentation"><a tabindex="-1" href="#">PDF</a></li>
                                            <li role="presentation"><a tabindex="-1" href="#">Excel</a></li>
                                            <li role="presentation"><a tabindex="-1" href="#">CSV</a></li>
                                        </ul>
                                    </div>
                                </div> -->
                            </div>                    
                        </div>
                         <!-- END EXAMPLE TABLE PORTLET-->
                    </div>
                </div>
            <!-- END PAGE BASE CONTENT -->
            {{ range $customerModal := .Retrieved }}
            <div id="customerModalDiv_{{ $customerModal._id }}" class="modal fade bs-modal-lg" role="dialog">
                <div class="modal-dialog modal-lg">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="portlet-title">
                                <div class="caption font-dark">
                                    <i class="icon-settings font-dark"></i>
                                    <span class="caption-subject bold uppercase"> Customer Details</span>
                                    <i class="fa fa-print no-print" title="Print" style="float:right;" onclick="jQuery('#customerModalDiv_{{ $customerModal._id }}').print()"></i>
                                </div>
                            </div>
                            <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
                        </div>
                        <div class="modal-body">
                             <table class="col-md-12" >
                                <tr>
                                    <th class="col-md-2">Company Name:</th>
                                    <td class="col-md-4">{{ $customerModal.company_name }}</td>
                                    <th class="col-md-2">Company Code:</th>
                                    <td class="col-md-4">{{ $customerModal.customer_code_gen }}</td>
                                </tr>
                                <tr>
                                    <th class="col-md-2">Group:</th>
                                    <td class="col-md-4">{{ $customerModal.grp }}</td>
                                    <th class="col-md-2"></th>
                                    <td class="col-md-4"></td>
                                </tr>
                            <!--<div class="row">
                                <div class="col-sm-6">
                                    <lable class="col-md-5 control-label bold">Company Name:</lable>
                                    <div class="col-md-7">{{ $customerModal.company_name }}</div>
                                </div>
                                <div class="col-sm-6">
                                    <lable class="col-md-5 control-label bold">Group:</lable>
                                    <div class="col-md-7">{{ $customerModal.grp }}</div>
                                </div>
                            </div>-->
                             <tr>
                                <th class="col-md-2">Address:</th>
                                <td class="col-md-4">{{ $customerModal.address }}</td>
                                <th class="col-md-2">City:</th>
                                <td class="col-md-4">{{ $customerModal.city }}</td>
                                
                            </tr>
                            <!--<div class="row">
                                <div class="col-sm-6">
                                    <lable class="col-md-5 control-label bold">City:</lable>
                                    <div class="col-md-7">{{ $customerModal.city }}</div>
                                </div>
                                <div class="col-sm-6">
                                    <lable class="col-md-5 control-label bold">State:</lable>
                                    <div class="col-md-7">{{ $customerModal.state }}</div>
                                </div>
                            </div>-->
                            <tr>
                                <th class="col-md-2">State:</th>
                                <td class="col-md-4">{{ $customerModal.state }}</td>
                                <th class="col-md-2">Country:</th>
                                <td class="col-md-4">{{ $customerModal.country }}</td>
                                
                            </tr>
                            <!--<div class="row">
                                <div class="col-sm-6">
                                    <lable class="col-md-5 control-label bold">Country:</lable>
                                    <div class="col-md-7">{{ $customerModal.country }}</div>
                                </div>
                                <div class="col-sm-6">
                                    <lable class="col-md-5 control-label bold">Address:</lable>
                                    <div class="col-md-7">{{ $customerModal.address }}</div>
                                </div>
                            </div>-->
                             <tr>
                                <th class="col-md-2">Pincode:</th>
                                <td class="col-md-4">{{ $customerModal.pincode }}</td>
                                <th class="col-md-2">GSTIN:</th>
                                <td class="col-md-4">{{ $customerModal.GSTIN }}</td>
                                
                            </tr>
                            <!--<div class="row">
                                <div class="col-sm-6">
                                    <lable class="col-md-5 control-label bold">Pincode:</lable>
                                    <div class="col-md-7">{{ $customerModal.pincode }}</div>
                                </div>
                                <div class="col-sm-6">
                                    <lable class="col-md-5 control-label bold">TIN:</lable>
                                    <div class="col-md-7">{{$customerModal.TIN }}</div>
                                </div>
                            </div>-->
                            <tr>
                                <th class="col-md-2">TIN:</th>
                                <td class="col-md-4">{{ $customerModal.TIN }}</td>
                                <th class="col-md-2">Area Code:</th>
                                <td class="col-md-4">{{ $customerModal.area_code }}</td>
                                
                            </tr>
                            <!--<div class="row">
                                <div class="col-sm-6">
                                    <lable class="col-md-5 control-label bold">Area Code:</lable>
                                    <div class="col-md-7">{{$customerModal.area_code }}</div>
                                </div>
                                <div class="col-sm-6">
                                    <lable class="col-md-5 control-label bold">PAN:</lable>
                                    <div class="col-md-7">{{ $customerModal.PAN }}</div>
                                </div>
                            </div>-->
                            <tr>
                                <th class="col-md-2">PAN:</th>
                                <td class="col-md-4">{{ $customerModal.PAN }}</td>
                                <th class="col-md-2">Credit in days:</th>
                                <td class="col-md-4">{{ $customerModal.credit_in_days }}</td>
                                
                            </tr>
                            <!--<div class="row">
                                <div class="col-sm-6">
                                    <lable class="col-md-5 control-label bold">Credit in days:</lable>
                                    <div class="col-md-7">{{ $customerModal.credit_in_days }}</div>
                                </div>
                                <div class="col-sm-6">
                                    <lable class="col-md-5 control-label bold">CST:</lable>
                                    <div class="col-md-7">{{ $customerModal.CST }}</div>
                                </div>
                            </div>-->
                            <tr>
                                <th class="col-md-2">CST:</th>
                                <td class="col-md-4">{{ $customerModal.CST }}</td>
                                <th class="col-md-2">Credit limit:</th>
                                <td class="col-md-4">{{ $customerModal.credit_limit }}</td>
                                
                            </tr>
                            <!--<div class="row">
                                <div class="col-sm-6">
                                    <lable class="col-md-5 control-label bold">Credit limit:</lable>
                                    <div class="col-md-7">{{ $customerModal.credit_limit }}</div>
                                </div>
                                <div class="col-sm-6">
                                    <lable class="col-md-5 control-label bold">ECC:</lable>
                                    <div class="col-md-7">{{ $customerModal.ECC }}</div>
                                </div>
                            </div>-->
                            <tr>
                                <th class="col-md-2">ECC:</th>
                                <td class="col-md-4">{{ $customerModal.ECC }}</td>
                                <th class="col-md-2">Customer type:</th>
                                <td class="col-md-4">{{ $customerModal.customer_type }}</td>
                                
                            </tr>
                            <!--<div class="row">
                                <div class="col-sm-6">
                                    <lable class="col-md-5 control-label bold">Customer type:</lable>
                                    <div class="col-md-7">{{ $customerModal.customer_type }}</div>
                                </div>
                                <div class="col-sm-6">
                                    <lable class="col-md-5 control-label bold">Introduction:</lable>
                                    <div class="col-md-7">{{ $customerModal.i_date }} </div>
                                </div>
                            </div>-->
                            <tr>
                                <th class="col-md-2">Introduction:</th>
                                <td class="col-md-4">{{ $customerModal.i_date }}</td>
                                <th class="col-md-2" style="font-size: small;">Service Location:</th>
                                <td class="col-md-4">{{ $customerModal.service_location }}</td>
                                
                            </tr>
                            <!--<div class="row">
                                <div class="col-sm-6">
                                    <lable class="col-md-5 control-label bold">Service Location:</lable>
                                    <div class="col-md-7">{{ $customerModal.service_location }}</div>
                                </div>
                                <div class="col-sm-6">
                                 <lable class="col-md-5 control-label bold">GST:</lable>
                                    <div class="col-md-7">{{ $customerModal.gst }}</div>
                                </div>
                            </div>-->
                            <tr>
                                
                                <th class="col-md-2">ARN:</th>
                                <td class="col-md-4">{{ $customerModal.ARN }}</td>
                                <th class="col-md-2">Provisional GST:</th>
                                <td class="col-md-4">{{ $customerModal.provisional_gst }}</td>
                            </tr>
                             <!--<div class="row">
                                <div class="col-sm-6">
                                    <lable class="col-md-5 control-label bold">Provisional GST:</lable>
                                    <div class="col-md-7">{{ $customerModal.provisional_gst }}</div>
                                </div>
                                <div class="col-sm-6">
                                 <lable class="col-md-5 control-label bold">ARN:</lable>
                                    <div class="col-md-7">{{ $customerModal.ARN }}</div>
                                </div>
                            </div>-->
                            </table>
                            <!--<div class="row">
                                <div class="col-sm-6">
                                    <lable class="col-md-5 control-label bold">Name:</lable>
                                    <div class="col-md-7">{{ $customerModal.name }}</div>
                                </div>
                                <div class="col-sm-6">
                                    <lable class="col-md-5 control-label bold">Designation:</lable>
                                    <div class="col-md-7">{{ $customerModal.designation }}</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <lable class="col-md-5 control-label bold">Phone Number:</lable>
                                    <div class="col-md-7">{{ $customerModal.phone }}</div>
                                </div>
                                <div class="col-sm-6">
                                    <lable class="col-md-5 control-label bold">Email:</lable>
                                    <div class="col-md-7">{{ $customerModal.email }}</div>
                                </div>
                            </div>-->
                            <div class="row"></div>
                            <p style="color:#117dbb; margin-left:5px;">Contact Person</p>
                            <p id="cptable_{{ $customerModal._id }}"></p>
                            <p id="Nocptable_{{ $customerModal._id }}" style="margin-left:65px; margin-top: -15px; color:salmon"></p>
                            <!--<table class="table table-bordered table-hover dt-responsive dataTable table-checkable order-column" width="80%">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Designation</th>
                                        <th>Phone</th>
                                        <th>Email</th>
                                        <th>Cell No</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{ $customerModal.name }}</td>
                                        <td>{{ $customerModal.designation }}</td>
                                        <td>{{ $customerModal.phone }}</td>
                                        <td>{{ $customerModal.email }}</td>
                                        <td>{{ $customerModal.cell_no }}</td>
                                        
                                    </tr>
                                </tbody>
                            </table>-->
                            <div class="row"></div>
                            <p style="color:#117dbb; margin-left:5px;">Delivery Address Details</p>
                            <p id="Notable_{{ $customerModal._id }}" style="margin-left:65px; margin-top: -15px; color:salmon"></p>
                            <p id="table_{{ $customerModal._id }}"></p>
                            
                            <!--<table class="table table-bordered table-hover dt-responsive dataTable table-checkable order-column" width="80%">
                                <thead>
                                    <tr>
                                        <th>Address</th>
                                        <th>City</th>
                                        <th>State</th>
                                        <th>Country</th>
                                        <th>Pincode</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{ $customerModal.address_line1 }}</td>
                                        <td>{{ $customerModal.wcity }}</td>
                                        <td>{{ $customerModal.wstate }}</td>
                                        <td>{{ $customerModal.wcountry }}</td>
                                        <td>{{ $customerModal.wpincode }}</td>
                                        
                                    </tr>
                                </tbody>
                            </table>-->
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default no-print" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                    <!-- Modal content ends-->
                </div>
            </div>
            {{end}}
            <!-- Modal divs end -->
        </div>
        <!-- END CONTENT BODY -->
    </div>
    <!-- END CONTENT -->

{{end}}

        {{ define "pagelevelplugins" }} 
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <script src="/static/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
        <script src="/static/assets/global/scripts/datatable.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/bootstrap-select/js/bootstrap-select.min.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/jquery-repeater/jquery.repeater.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/jQuery.print-master/jQuery.print.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/bootstrap-multiselect/js/bootstrap-multiselect.js" type="text/javascript"></script>
        <!-- END PAGE LEVEL PLUGINS -->       
        {{ end }}

        {{define "pagelevelscripts"}} 
        <!-- BEGIN PAGE LEVEL SCRIPTS -->
        <script src="/static/assets/pages/scripts/components-select2.min.js" type="text/javascript"></script>
        <script src="/static/assets/pages/scripts/table-datatables-managed.js" type="text/javascript"></script> 
        <!-- <script src="/static/assets/pages/scripts/components-bootstrap-select.min.js" type="text/javascript"></script> -->
        <script src="/static/assets/pages/scripts/components-bootstrap-touchspin.js" type="text/javascript"></script>
        <script src="/static/assets/pages/scripts/components-date-time-pickers.js" type="text/javascript"></script>
        <!--<script src="/static/assets/pages/scripts/form-repeater.min.js" type="text/javascript"></script>-->
        <script src="/static/assets/pages/scripts/components-bootstrap-multiselect.min.js" type="text/javascript"></script>
        <script>
            $(document).ready(function () {
                $('.mt-repeater').repeater({
                    show: function () {
                        $(this).slideDown();
                        $('.date-picker').datepicker({
                            rtl: App.isRTL(),
                            orientation: "left",
                            autoclose: true
                        });
                    },
                    
                    hide: function (deleteElement) {
                        if(confirm('Are you sure you want to delete this entry?')) {
                            $(this).slideUp(deleteElement);
                            $(document).ready(function () {
                                itemRemove();
                            });
                        }
                    },
                    
                   
                });
                $('.cp-repeater').repeater({
                    hide: function (deleteElement) {
                        if(confirm('Are you sure you want to delete this entry?')) {
                            $(this).slideUp(deleteElement);
                            $(document).ready(function () {
                                itemRemove();
                            });
                        }
                    },

                    isFirstItemUndeletable: true
                });
            });
        </script>
        {{if .FlashNotices}}
        <script type="text/javascript">
                $(function() {                  
                    $.bootstrapGrowl("{{.FlashNotices}}", {offset: {from: 'top', amount: 20}, delay: 5000, type: 'success',align: 'center', stackup_spacing: 30,width: 400 });});
        </script>
        {{end}}
        {{if .Errors.ContactPerson}}
        <script>
            $(window).on("load", function() { 
                    document.getElementsByName("contactgrp[0][name_error]")[0].innerHTML = "This field is required";
            });
        </script>
        {{end}}
        {{if .Errors.Designation}}
        <script>
            $(window).on("load", function() { 
                    document.getElementsByName("contactgrp[0][designation_error]")[0].innerHTML = "This field is required";
            });
        </script>
        {{end}}
        <script>
        $(document).ready(function(){
            $("#hide").click(function(){
                $("#optional").hide();

                $("#repeat").show();
                $("#repeat").slideDown(200);
            });
        });
        </script>
        <script type="text/javascript">
            function getCPandWarehouses(element) {
                
                var customer_id = element.id;
                var res = customer_id.split("_");
                //var new_res = res[1];
                var info = 'customerId=' + res[1];

                $.ajax({
                    type: "GET",
                    url: "/customers/get-contactperson",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    cache: false,
                    data: info,
                    success: function(data){ 
                        if (data.name == null) {
                            var demo = 'Nocptable_' + res[1]
                            document.getElementById(demo).innerHTML = "Contact person's details not added!";
                        } else {
                            var thead = '<table class="table table-bordered " width="80%"><thead><tr><th>Name</th><th style="width:20%;">Designation</th><th style="width:20%;">Phone</th><th style="width:10%;">Email</th><th style="width:20%;">Cell No</th></td></tr></thead><tbody>';
                            //var tbody = '<tbody>'
                            var tfooter = '</tbody></table>';
                            //var tfooter = '</tbody>';
                            var trHTML = ''
                            $.each(data.name, function (i, item) {
                        
                                trHTML += '<tr><td style="padding-left:5px">' + item + '</td><td style="padding-left:10px">' + data.designation[i] +'</td><td style="padding-left:20px">' + data.phone[i] +'</td><td style="padding-left:20px">' + data.email[i] + '</td><td style="padding-left:20px">' + data.cellno[i] + '</td></tr>';
                            });
                            var demo = 'cptable_' + res[1]
                            document.getElementById(demo).innerHTML = thead + trHTML + tfooter;
                        }
                    } 
                });
                
                $.ajax({
                    type: "GET",
                    url: "/customers/get-c-warehouses",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    cache: false,
                    data: info,
                    success: function(data){ 
                        if (data.address == null ) {
                            var demo = 'Notable_' + res[1]
                            document.getElementById(demo).innerHTML = "Delivery Address details not added!";
                        } else {
                            var thead = '<table class="table table-bordered table-hover dt-responsive dataTable table-checkable order-column" width="80%"><thead><tr><th>Address</th><th style="width:20%;">City</th><th style="width:20%;">State</th><th style="width:10%;">Country</th><th style="width:20%;">Pincode</th><th style="width:10%;">GSTIN</th></td></tr></thead><tbody>';
                            //var tbody = '<tbody>'
                            var tfooter = '</tbody></table>';
                            //var tfooter = '</tbody>';
                            var trHTML = ''
                            $.each(data.address, function (i, item) {
                                trHTML += '<tr><td style="padding-left:20px">' + item + '</td><td style="padding-left:10px">' + data.city[i] +'</td><td style="padding-left:20px">' + data.state[i] +'</td><td style="padding-left:20px">' + data.country[i] + '</td><td style="padding-left:20px">' + data.pincode[i] + '</td><td style="padding-left:20px">' + data.gstin[i] + '</td></tr>';
                            });
                            var demo = 'table_' + res[1]
                            document.getElementById(demo).innerHTML = thead + trHTML + tfooter;
                        }
                    } 
                });
            }
        </script>
        <script type="text/javascript">
            $(function() {
            $(document).on('click','.delbutton',function(e){
                e.preventDefault()
            var element = $(this);
            var del_id = element.attr("id");
            var info = 'id=' + del_id;
            if(confirm("Are you sure you want to delete this Record?")){
                $.ajax({
                    type: "GET",
                    url: "/customers/delete-customers",
                    data: info,
                    success: function(msg){ 
                        if (msg == "true") {
                            if(alert('Customer Deleted!')){}
                            else    window.location.reload();
                        }
                        else {
                            console("Error")
                        }
                    } 
                });
            }
            return false;
            });
            });
        </script>
        <!-- END PAGE LEVEL SCRIPTS -->
        {{end}}