{{ template "master_layout.html" . }}

{{ define "pagelevelstyles"}}
        <!-- BEGIN PAGE LEVEL STYLES -->
        <link href="/static/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/typeahead/typeahead.css" rel="stylesheet" type="text/css" />
         <link href="/static/assets/global/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" type="text/css" />
         <link href="/static/assets/global/plugins/jquery-multi-select/css/multi-select.css" rel="stylesheet" type="text/css" />
         <link href="/static/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css" rel="stylesheet" type="text/css" />
        <!-- END PAGE LEVEL STYLES -->
{{end}}

{{ define "content" }}    
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                    <!-- BEGIN PAGE BASE CONTENT -->
                    <div class="row">
                        <div class=" portlet light bordered col-md-12">
                            
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="icon-equalizer font-green"></i>
                                        <span class="caption-subject bold font-green uppercase">Associate with Products</span>
                                    </div>
                                    <div class="actions">
                                        <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" style="width:20px; height:20px; line-height: 0.999; padding-left:4px; "> </a>
                                    </div>
                                </div>
                                <div class=" col-md-6">
                               <div class="portlet light bordered">
                                <div class="portlet-title">
                                        <span class="caption-subject uppercase">Choose a customer to see associations</span>
                                    </div>
                                    <!-- BEGIN FORM-->
                                    <form method="POST" class="form-horizontal" id="display-items">
                                    {{ .xsrfdata }}
                                        <div class="form-body">
                                            <div class="form-group">
                                                <!--<label class="col-md-3 control-label"><span class="required" aria-required="true">*</span>Customers </label>-->
                                                <div class="col-md-12">
                                                    <select name="customer" class="form-control select2-multiple " data-placeholder="Choose a Customer">
                                                    <option disabled selected value> -- Choose a customer -- </option>
                                                    {{ range $customers := .Retrieved }}
                                                        <option value="{{ $customers._id }}" {{if compare $.FormItems.Customer $customers._id }} selected {{end}}> {{ $customers.company_name }}</option>
                                                      {{end}}
                                                    </select>
                                                    {{if .Errors.Customer}}
                                                    <span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Customer}}</span>
                                                    {{end}}
                                                </div>
                                            </div>
                                            <button name="assoc-button" value="supplier" type="submit" class="btn green" style="margin-top:-10px;height:30px; text-align: center;">Show Associations</button>
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <div id="assoc-items">
                                                        <br>
                                                        <select id="multiple" name="products[]" data-placeholder="Choose Items"  class="form-control select2-multiple" multiple>
                                                            <optgroup value="{{.FormItems.Products}}" >
                                                                {{ range $items := .RetrievedProducts }}
                                                                <option value="{{ $items._id }}" >[{{ $items.item_code_gen }}] {{ $items.name }} (UOM:{{ $items.unit_measure }})</option>
                                                                {{end}}
                                                            </optgroup>
                                                        </select>
                                                        {{if .Errors.Products}} <span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Products}}</span>{{end}}
                                                        <button name="assoc-button" value="items" type="submit" class="btn blue" style="margin-top:5px;height: 30px; text-align: center;">Associate Items</button>
                                                    </div>
                                                </div>
                                            </div>
                                                </form>
                                            </div>
                                        </div>
                                       
                                    
                                    <!-- END FORM-->
                                </div>

                            <div class="col-md-6">
                            <!-- BEGIN EXAMPLE TABLE PORTLET-->
                            <div class="portlet light bordered">
                              
                                <div class="portlet-title">
                                        <span class="caption-subject uppercase"> Associated Customer/Products</span>
                                                                     
                                </div>
                                <div class="portlet-body">
                                    <table class="table table-bordered table-hover dt-responsive dataTable table-checkable order-column" width="100%" id="association_view_table">
                                        <thead>
                                            <tr>                                                
                                                <th style="text-align: left; font-size:smaller;"> Product Code </th>
                                                <th style="text-align: left; font-size:smaller;"> Product Name </th>
                                                <th style="text-align: left; font-size:smaller;">Invoice Narration </th>
                                                <th style="text-align: left; font-size:smaller;">Sales Price </th>
                                                <th style="width:10%; font-size:smaller;">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{ range $sss := .RetrievedAssoc }}
                                            <tr class="odd gradeX">                             
                                                <td style="text-align: left; font-size:smaller;"> {{ $sss.item_code_gen }} </td>
                                                <td style="text-align: left; font-size:smaller;"> {{ $sss.name }} </td>
                                                {{if compare $sss.invoice_naration nil }}
                                                <td style="text-align: left"><input id="name_{{$sss._id}}" type="text" name="invoice_naration" value="{{ $sss.invoice_naration }}"/></td>
                                                <td style="text-align: left;width:10px" ><input size="10" id="sales_{{$sss._id}}" type="text" name="sales_price" value="{{ $sss.sales_price }}" /></td>
                                                <td style="text-align: center">
                                                    <a id="{{$sss._id}}" data-toggle="tooltip" title="Save" class="savebutton"><i class="fa fa-floppy-o"></i></a>
                                                    <a href="#" id="{{ $sss._id}}" data-toggle="tooltip" title="Delete" class="delbutton"><i class="fa fa-trash-o"></i> </a>
                                                </td>
                                            </tr>
                                        
                                                {{else}}
                                                <td style="text-align: left"><input id="name_{{$sss._id}}" type="text" readonly name="invoice_naration" value="{{ $sss.invoice_naration }}"/></td>
                                                    {{if compare $sss.sales_price nil }}
                                                <td style="text-align: left;width:10px"><input size="10" id="sales_{{$sss._id}}" value="{{ $sss.sales_price }}"  type="text" name="sales_price" /></td>
                                                <td style="text-align: center">
                                                    <a id="{{$sss._id}}" data-toggle="tooltip" title="Save" class="savebutton"><i class="fa fa-floppy-o"></i></a>
                                                    <a href="#" id="{{ $sss._id}}" data-toggle="tooltip" title="Delete" class="delbutton"><i class="fa fa-trash-o"></i> </a>
                                                </td>
                                            </tr>
                                                    {{else}}
                                                <td style="text-align: left;width:10px"><input size="10" id="sales_{{$sss._id}}" value="{{ $sss.sales_price }}" readonly  type="text" name="sales_price" /></td>
                                                <td style="text-align: center">
                                                    <a href="#" id="{{ $sss._id}}" data-toggle="tooltip" title="Delete" class="delbutton"><i class="fa fa-trash-o"></i> </a>
                                                </td>
                                            </tr>
                                                    {{end}}
                                                {{end}}
                                            {{end}}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- END EXAMPLE TABLE PORTLET-->
                        </div>
                    
                            </div>

                        </div>
                    
                    </div>
                    
                    
                    <!-- END PAGE BASE CONTENT -->
                </div>
                <!-- END CONTENT BODY -->
            
            <!-- END CONTENT -->
       
        {{end}}

        {{ define "pagelevelplugins" }} 
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <script src="/static/assets/global/plugins/fuelux/js/spinner.min.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/bootstrap-select/js/bootstrap-select.min.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/jquery-multi-select/js/jquery.multi-select.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/typeahead/handlebars.min.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/typeahead/typeahead.bundle.min.js" type="text/javascript"></script>/static/
        <!-- END PAGE LEVEL PLUGINS -->        
        {{ end }}

        {{define "pagelevelscripts"}} 
        <!-- BEGIN PAGE LEVEL SCRIPTS -->
        <script src="/static/assets/pages/scripts/components-select2.min.js" type="text/javascript"></script>
        <script src="/static/assets/pages/scripts/components-bootstrap-select.min.js" type="text/javascript"></script>
        <script src="/static/assets/pages/scripts/components-bootstrap-touchspin.js" type="text/javascript"></script>
        <script src="/static/assets/pages/scripts/components-multi-select.min.js" type="text/javascript"></script>
        <script src="/static/assets/pages/scripts/components-date-time-pickers.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.js"></script>
        {{if .FlashNotices}}
        <script type="text/javascript">
                $(function() {                  
                    $.bootstrapGrowl("{{.FlashNotices}}", {offset: {from: 'top', amount: 20}, delay: 5000, type: 'success',align: 'center', stackup_spacing: 30,width: 400 });});
        </script>
        {{end}}
        <script type="text/javascript">
            var ComponentsTypeahead = function () {

            var handleTwitterTypeahead = function() {

                // Example #1
                // instantiate the bloodhound suggestion engine
                var numbers = new Bloodhound({
                  datumTokenizer: function(d) { return Bloodhound.tokenizers.whitespace(d.num); },
                  queryTokenizer: Bloodhound.tokenizers.whitespace,
                  local: [
                    { num: 'metronic' },
                    { num: 'keenthemes' },
                    { num: 'metronic theme' },
                    { num: 'metronic template' },
                    { num: 'keenthemes team' }
                  ]
                });
                 
                // initialize the bloodhound suggestion engine
                numbers.initialize();
                 
                // instantiate the typeahead UI
                if (App.isRTL()) {
                  $('#typeahead_example_1').attr("dir", "rtl");  
                }
                $('#typeahead_example_1').typeahead(null, {
                  displayKey: 'num',
                  hint: (App.isRTL() ? false : true),
                  source: numbers.ttAdapter()
                });

            }

            var handleTwitterTypeaheadModal = function() {

                // Example #1
                // instantiate the bloodhound suggestion engine
                var numbers = new Bloodhound({
                  datumTokenizer: function(d) { return Bloodhound.tokenizers.whitespace(d.num); },
                  queryTokenizer: Bloodhound.tokenizers.whitespace,
                  local: [
                    { num: 'metronic' },
                    { num: 'keenthemes' },
                    { num: 'metronic theme' },
                    { num: 'metronic template' },
                    { num: 'keenthemes team' }
                  ]
                });
                 
                // initialize the bloodhound suggestion engine
                numbers.initialize();
                 
                // instantiate the typeahead UI
                if (App.isRTL()) {
                  $('#typeahead_example_modal_1').attr("dir", "rtl");  
                }
                $('#typeahead_example_modal_1').typeahead(null, {
                  displayKey: 'num',
                  hint: (App.isRTL() ? false : true),
                  source: numbers.ttAdapter()
                });

                
            }

            return {
                //main function to initiate the module
                init: function () {
                    handleTwitterTypeahead();
                    handleTwitterTypeaheadModal();
                }
            };

        }();

        jQuery(document).ready(function() {    
           ComponentsTypeahead.init(); 
        });
        </script>

        <script type="text/javascript">
            $(function() {
            $(document).on('click','.delbutton',function(e){
              //  e.preventDefault()
            var element = $(this);
            var del_id = element.attr("id");
            var info = 'id=' + del_id;
            if(confirm("Are you sure you want to delete this Record?")){
                $.ajax({
                    type: "GET",
                    url: "/customers/delete-association",
                    data: info,
                    success: function(msg){ 
                        if (msg == "true") {
                            if(alert('Association Deleted!')){}
                            else    window.location.reload();
                        }
                        else {
                            console("Error")
                        }
                    } 
                });
            }
            return false;
            });
            });
        </script>
        <script type="text/javascript">
	        $(function() {
	        $(document).on('click','.savebutton',function(e){
	        	e.preventDefault()
	        var element = $(this);
	        var del_id = element.attr("id");
	        var qty_id = "#name_" + del_id;
	        var new_qty = $(qty_id).val();
            var price_id = "#sales_" + del_id;
	        var new_price = $(price_id).val();
	        
	        var info = 'id=' + del_id + '&new_qty=' + new_qty + '&new_price=' + new_price;


	        if(confirm("Save Changes?")){
	            $.ajax({
	                type: "GET",
	                url: "/customers/change-items",
	                data: info,
	                success: function(msg){ 
		                if (msg == "true") {
		                	if(alert('Changes saved!')){}
							else    window.location.reload(); 
		                	//location.reload();
		                	//$("#Table_id").ajax.reload();
		                	//oTable.api().ajax.reload();
		                	//$("#Table_id").load(window.location + " #Table_id");
		                }
		                else {
		                	console("Error")
		                }
	            	} 
	            });
	        }
	        return false;
	        });
	        });
	    </script>
     
        <!-- END PAGE LEVEL SCRIPTS -->
        {{end}}