{{ template "master_layout.html" . }}

{{ define "pagelevelstyles"}} 
        <!-- BEGIN PAGE LEVEL STYLES -->
        <link href="/static/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/typeahead/typeahead.css" rel="stylesheet" type="text/css" />
        <link href="/static/assets/global/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" type="text/css" />
        <!-- END PAGE LEVEL STYLES -->
{{end}}

{{ define "content" }}    
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">
            
            <!-- BEGIN PAGE BASE CONTENT -->
            
             <div class="row">
                <div class="col-md-12">
                    <div class="portlet light bordered">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="icon-equalizer font-green"></i>
                                <span class="caption-subject bold font-green uppercase">Edit Customer</span>
                            </div>
                        </div>
                            <!-- BEGIN FORM-->
                            <form method="POST" class="form-horizontal">
                             {{ .xsrfdata }}
                                <div class="form-body">
                                    <!--<h3 class="form-section">Company Details</h3>-->
                                    <div class="row">
                                        <div class="col-md-6" style="margin-left:15px;">
                                            <div class="form-group">
                                                <select name="customer_check" class="form-control select2-multiple " data-placeholder="Choose a Customer">
                                                    <option disabled selected value> -- Choose a customer -- </option>
                                                    <optgroup value="{{.FormItems.CustomerCheck}}">
                                                        {{ range $items := .ItemsRetrieved }}
                                                        <option value="{{ $items._id }}" {{if compare  $.FormItems.CustomerID $items._id }} selected {{end}}>{{ $items.company_name }}</option>
                                                        {{end}}
                                                    </optgroup>
                                                </select>
                                                {{if .Errors.CustomerCheck}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.CustomerCheck}}</span>{{end}}
                                            </div>
                                        </div>
                                        <div class="col-md-4" style="margin-left:20px;">
                                            <div class="form-group" >
                                            <button  value="show" type="submit" method="POST" name="item-button" class="btn btn-circle green btn-outline" style="height: 33px; "> SHOW DETAILS</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
						<div class="col-md-6">
						<div class="form-group">
						<label class="control-label col-md-4"> </label>
						<div class="col-md-8">
						<input name="customer_id" type="hidden"  class="form-control" value="{{.FormItems.CustomerID}}" placeholder="">
						{{if .Errors.CustomerID}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.CustomerID}}</span>{{end}}
						</div>
						</div>
						</div>
					
						</div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Company Name </label>
                                                <div class="col-md-8">
                                                    <input name="company_name" type="text" class="form-control" value="{{.FormItems.CompanyName}}" placeholder="">
                                                     {{if .Errors.CompanyName}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.CompanyName}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Company Code </label>
                                                <div class="col-md-8">
                                                    <input name="unique_code" type="text" class="form-control" value="{{.FormItems.UniqueCode}}" readonly>
                                                     {{if .Errors.UniqueCode}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.UniqueCode}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Group </label>
                                                <div class="col-md-8">
                                                    <input list="grps" name="group" type="text" class="form-control" value="{{.FormItems.Group}}">
                                                  <datalist id="grps">
                                                    <option value="I">
                                                    <option value="II">
                                                    <option value="III">
                                                    <option value="IV">
                                                    <option value="V">
                                                    <option value="VI">
                                                    <option value="VII">
                                                    <option value="VIII">
                                                    <option value="IX">
                                                    <option value="X">
                                                  </datalist>
                                                    
                                                   {{if .Errors.Group}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Group}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                        </div>
                                    </div>
                                    <!--/row-->

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Address </label>
                                                <div class="col-md-8">
                                                    <textarea name="address" class="form-control" rows="2"  placeholder="">{{.FormItems.Address}}</textarea>
                                                     {{if .Errors.Address}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Address}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>City</label>
                                                <div class="col-md-8">
                                                    <input name="city" type="text" class="form-control" value="{{.FormItems.City}}" placeholder="">
                                                    {{if .Errors.City}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.City}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>
                                    <!--/row-->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>State </label>
                                                <div class="col-md-8">
                                                    <input name="state" type="text" class="form-control" value="{{.FormItems.State}}" placeholder="">
                                                     {{if .Errors.State}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.State}}</span>{{end}}
                                                </div>
                                               
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Country </label>
                                                <div class="col-md-8">
                                                    <input name="country" type="text" class="form-control" value="{{.FormItems.Country}}" placeholder="">
                                                     {{if .Errors.Country}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Country}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>
                                    <!--/row-->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Pincode </label>
                                                <div class="col-md-8">
                                                    <input name="pincode" type="text" class="form-control" value="{{.FormItems.Pincode}}" placeholder="">
                                                    {{if .Errors.Pincode}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Pincode}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>GSTIN </label>
                                                <div class="col-md-8">
                                                    <input name="main_gstin" type="text" class="form-control" value="{{.FormItems.MainGSTIN}}" >
                                                    {{if .Errors.MainGSTIN}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.MainGSTIN}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>
                                    <!--/row-->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">TIN </label>
                                                <div class="col-md-8">
                                                    <input name="tin" type="text" class="form-control" value="{{.FormItems.TIN}}" placeholder="">
                                                     {{if .Errors.TIN}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.TIN}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Introduction Date </label>
                                                <div class="col-md-8">
                                                <div class="input-group input-medium date date-picker" data-date-format="yyyy-mm-dd" >
                                                    <input name="introduction" type="text" class="form-control" value="{{.FormItems.Introduction}}" readonly placeholder="">
                                                     {{if .Errors.Introduction}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.Introduction}}</span>{{end}}
                                                    <span class="input-group-btn">
                                                        <button class="btn default" type="button">
                                                            <i class="fa fa-calendar"></i>
                                                        </button>
                                                    </span>                                                  
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        </div>
                                    </div>
                                    <!--/row-->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">PAN</label>
                                                <div class="col-md-8">
                                                    <input name="pan" type="text" class="form-control" value="{{.FormItems.PAN}}" placeholder="">
                                                     {{if .Errors.PAN}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.PAN}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Credit in days </label>
                                                <div class="col-md-8">
                                                    <input name="cin" type="text" class="form-control" value="{{.FormItems.CreditInDays}}" onkeyup="isNumberKey(this)">
                                                     {{if .Errors.CreditInDays}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.CreditInDays}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>
                                    <!--/row-->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">CST </label>
                                                <div class="col-md-8">
                                                    <input name="cst" type="text" class="form-control" value="{{.FormItems.CST}}" placeholder="">
                                                     {{if .Errors.CST}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.CST}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Credit limit </label>
                                                <div class="col-md-8">
                                                    <input name="credit_limit" type="text" class="form-control" value="{{.FormItems.CreditLimit}}" onkeyup="isNumberKey(this)">
                                                     {{if .Errors.CreditLimit}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.CreditLimit}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>
                                    <!--/row-->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">ECC </label>
                                                <div class="col-md-8">
                                                    <input name="ecc" type="text" class="form-control" value="{{.FormItems.ECC}}" placeholder="">
                                                    {{if .Errors.ECC}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.ECC}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">Customer type </label>
                                                <div class="col-md-8">
                                                   <input name="customer_type" type="text" class="form-control" value="{{.FormItems.CustomerType}}" placeholder="">
                                                     {{if .Errors.CustomerType}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.CustomerType}}</span>{{end}}
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                  </div>
                                    <!--/row-->
                                    
                                    <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4">ARN</label>
                                                    <div class="col-md-8">
                                                        <input name="arn" type="text" class="form-control" value="{{.FormItems.ARN}}">
                                                            {{if .Errors.ARN}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.ARN}}</span>{{end}}
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4">Provisional GST</label>
                                                    <div class="col-md-8">
                                                        <input name="provisional_gst" class="form-control" value="{{.FormItems.PGST}}" >
                                                        {{if .Errors.PGST}}<span class="help-block" style="font-size:13px; color:#e73d4a;">{{.Errors.PGST}}</span>{{end}}
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                    </div>
                                    <!--/row-->
                                    
                                    <div class="mt-repeater form-horizontal" style="border-bottom: none" >
                                        
                                        <div data-repeater-list="contactgrp">
                                            {{ range $customer := .CPersonsRetrieved }}
                                            <div data-repeater-item class="mt-repeater-item" >
                                                <!-- jQuery Repeater Container -->
                                                <input name="contact_person_id" type="hidden" class="form-control" value="{{ $customer._id }}" >
                                                <h3 class="form-section">Contact Person</h3>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Name </label>
                                                            <div class="col-md-8">
                                                                <input name="contact_person" type="text" class="form-control" value="{{ $customer.name }}" >
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--/span-->
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Designation </label>
                                                            <div class="col-md-8">
                                                                <input name="designation" type="text" class="form-control" value="{{ $customer.designation }}">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--/span-->
                                                </div>
                                                <!--/row-->

                                                <div class="row">

                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="control-label col-md-4">Phone Number </label>
                                                            <div class="col-md-8">
                                                                <input name="phone_no" type="text" class="form-control" value="{{ $customer.phone }}">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--/span-->
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="control-label col-md-4">Email </label>
                                                            <div class="col-md-8">
                                                                <input name="email" type="email" class="form-control" value="{{ $customer.email }}">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--/span-->
                                                </div>
                                                <!--/row-->
                                                <div class="row">

                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="control-label col-md-4">Cell No </label>
                                                            <div class="col-md-8">
                                                                <input name="cell_no" type="text" class="form-control" value="{{ $customer.cell_no }}" >
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--/span-->
                                                    <div class="col-md-6">

                                                    </div>
                                                    <!--/span-->
                                                </div>
                                                <div class="mt-repeater-input">
                                                    <a href="javascript:;" data-repeater-delete class="btn btn-danger mt-repeater-delete">
                                                        <i class="fa fa-close"></i> Remove
                                                    </a>
                                                </div>
                                            </div>
                                            {{end}}
                                        </div>
                                        <div >
                                            <a href="javascript:;" data-repeater-create class="btn btn-success mt-repeater-add" >
                                            <i class="fa fa-plus"></i>Contact Person</a>
                                        </div>                                        
                                    </div>

                                <div class="mt-repeater form-horizontal" style="border-bottom: none" >
                                        
                                    <div data-repeater-list="warehouse-group">
                                        {{ range $warehouses := .WarehousesRetrieved }}
                                        <div data-repeater-item class="mt-repeater-item" >
                                            <!-- jQuery Repeater Container -->
                                            <h3 class="form-section" style="padding-right:50px;">Delivery Address Details
                                            </h3>
                                            <input name="w_id" type="hidden" class="form-control" value="{{ $warehouses._id }}" >
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Delivery Address </label>
                                                        <div class="col-md-8">
                                                            <textarea name="warehouse_address" class="form-control" rows="3" >{{ $warehouses.address_line1 }}</textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>City </label>
                                                        <div class="col-md-8">
                                                            <input name="wcity" type="text" class="form-control" value="{{ $warehouses.wcity }}" >
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                            </div>
                                            <!--/row-->

                                            <div class="row">

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>State </label>
                                                        <div class="col-md-8">
                                                            <input name="wstate" type="text" class="form-control" value="{{ $warehouses.wstate }}" >
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Country </label>
                                                        <div class="col-md-8">
                                                            <input name="wcountry" type="text" class="form-control" value="{{ $warehouses.wcountry }}" >
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                            </div>
                                            <!--/row-->
                                            <div class="row">

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-4"><span class="required" aria-required="true">*</span>Pincode </label>
                                                        <div class="col-md-8">
                                                            <input name="wpincode" type="text" class="form-control" value="{{ $warehouses.wpincode }}" >
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                                <div class="col-md-6">
                                                    <label class="control-label col-md-4">GSTIN </label>
                                                    <div class="col-md-8">
                                                        <input name="gstin" type="text" class="form-control" value="{{ $warehouses.GSTIN }}" >
                                                    </div>
                                                </div>
                                                <!--/span-->
                                            </div>
                                            <div class="mt-repeater-input" style="padding:0;">
                                                <a href="javascript:;" data-repeater-delete class="btn btn-danger mt-repeater-delete">
                                                    <i class="fa fa-close"></i> Remove
                                                </a>
                                            </div>
                                        </div>                                        
                                        {{end}}
                                    </div>
                                    <div>
                                        <a href="javascript:;" data-repeater-create class="btn btn-success mt-repeater-add" >
                                        <i class="fa fa-plus"></i>Delivery Address</a>
                                    </div>  
                                </div>
                                      
                             <div class="form-actions">
                                 {{if .CompanyNameExists}}
											<div class="row" style="padding-bottom: 20px;">
												<div class="col-md-12" style="text-align: center;">
													<span style="color: #e02222;">This Customer name already exists. Use a different name.</span>
												</div>
											</div>
											
											{{end}}
                                    <div class="row" style="margin-top: 25px;">
                                        <div class="col-md-12 " style="text-align: center;">
                                            <button type="submit" class="btn green" style="height: 40px;width: 80px">Submit</button>
                                            <button class="btn green" style="height: 40px;width: 80px ;float: right"><a href="/customers/add-new-list" style="float: right">Go Back</a></button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <!-- END FORM-->
                        </div>
                    </div>
                </div>
            </div>
                                
           
            
            <!-- Modal divs end -->
        </div>
        <!-- END CONTENT BODY -->
    </div>
    <!-- END CONTENT -->

{{end}}

        {{ define "pagelevelplugins" }} 
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <script src="/static/assets/global/scripts/datatable.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/bootstrap-select/js/bootstrap-select.min.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/jquery-repeater/jquery.repeater.js" type="text/javascript"></script>
        <script src="/static/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
        <!-- END PAGE LEVEL PLUGINS -->       
        {{ end }}

        {{define "pagelevelscripts"}} 
        <!-- BEGIN PAGE LEVEL SCRIPTS -->
        <script src="/static/assets/pages/scripts/table-datatables-managed.js" type="text/javascript"></script> 
        <script src="/static/assets/pages/scripts/components-bootstrap-select.min.js" type="text/javascript"></script>
        <script src="/static/assets/pages/scripts/components-bootstrap-touchspin.js" type="text/javascript"></script>
        <script src="/static/assets/pages/scripts/components-date-time-pickers.js" type="text/javascript"></script>
        <script src="/static/assets/pages/scripts/form-repeater.min.js" type="text/javascript"></script>
        <script src="/static/assets/pages/scripts/components-select2.min.js" type="text/javascript"></script> 
        {{if .FlashNotices}}
        <script type="text/javascript">
                $(function() {                  
                    $.bootstrapGrowl("{{.FlashNotices}}", {offset: {from: 'top', amount: 20}, delay: 5000, type: 'success',align: 'center', stackup_spacing: 30,width: 400 });});
        </script>
        {{end}}
        <script>
        $(document).ready(function(){
            $("#hide").click(function(){
                $("#optional").hide();

                $("#repeat").show();
                $("#repeat").slideDown(200);
            });

            $("#contact_hide").click(function(){
                $("#contact_optional").hide();

                $("#contact_repeat").show();
                $("#contact_repeat").slideDown(200);
            });

        });
        </script>
        <!-- END PAGE LEVEL SCRIPTS -->
        {{end}}